$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;

.h-157 {
  height: 197px;
  z-index: 1;
}
.mr10 {
  margin-right: 10px !important;
}
.plb-60-20 {
  padding: 0 60px 20px 0;
}
.h-40 {
  min-height: 40px;
}
.pr-100 {
  padding-right: 100px;
}
.heading-level-two {
  font-family: WiproAkkuratTT-Bold;
  font-size: 20px;
  letter-spacing: -0.4px;
  color: #2e2e2e;
  padding: 0 0 18px 0;
  margin: 0 0 25px 0;
}
.heading-level-one {
  font-family: WiproAkkuratTT-Bold;
  font-size: 24px;
  color: $White;
  // text-transform: capitalize;

  small {
    font-family: "WiproAkkuratTT-Regular";
    font-size: 14px;
    padding: 0 30px;
  }
}
.header-level-three {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
}
.primary-button.std {
  padding: 9px 5px;
  min-width: 110px;
  margin: 0;
}
.borderless {
  border: none !important;
}
.card {
  border-radius: 5px;
  border: 0px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: table;
}
.text-area-content {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: $MetalLight;
  resize: none;
  border: 1.5px solid $Marble;
  border-radius: 2px;
  background-color: #ffffff;
  height: 170px;
  padding: 10px;
}
.doc-attachment {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: $MetalLight;
}
.name {
  height: 29px;
  padding: 4px 3px 3px 10px;
  .tag {
    font-size: 14px;
    color: #2f81ff;
  }
}
.naming-tag {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #72aaff;
}
.name-shadow {
  width: 217px;
  height: 30px;
  border-radius: 20px;
  background-color: #d9e9ff;
}
.top30 {
  position: absolute;
  top: 34px;
  left: 5px;
}
.mdi-arrow-left {
  font-size: 22px;
  position: relative;
}

.vertical-btns-div {
  margin: 15px 0px 0px 0px;
}
.btn-tabs-active {
  background-color: $MidNight;
  text-align: center;
  border: solid 1.5px #ffffff;
  color: $Azure;
  border-radius: 5px;
  font-family: WiproAkkuratTT-Bold;
  padding: 25px 20px;
}
.sub-vertical-but.active {
  background: #fff;
  color: $Azure;
  outline: none;
  .btntxt-s {
    color: $Azure;
  }
}
.sub-vertical-but:active {
  background: #fff;
  color: $Azure;
  outline: none;
}
.sub-vertical-but {
  font-family: WiproAkkuratTT-Bold;
  background: transparent;
  border: none;
  font-size: 0.85em;
  color: #fff;
  font-weight: bold;
  border: 1.5px solid #fff;
  outline: none;
  width: 100%;
  padding: 5px;
}
.flex-tab {
  display: flex;
  justify-content: center;
}
.flex-tab-width {
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn-tabs-active-white {
  button {
    min-height: 40px;
  }
  text-align: center;
  border: none !important;
  color: #2f81ff;
  border-radius: 5px;
  font-family: WiproAkkuratTT-Bold;
  padding: 25px 20px;
}
.sub-vertical-but-white {
  font-family: WiproAkkuratTT-Bold;
  background: $White;
  border: none;
  font-size: 0.85em;
  color: #2f81ff;
  font-weight: bold;
  border: 1.5px solid #2f81ff;
  outline: none;
  width: 100%;
  padding: 5px;
}
.sub-vertical-but-white.active, .sub-vertical-but-white:hover {
  background: #2f81ff;
  color: #fff;
  outline: none !important;
}
.sub-vertical-but-white.active, .sub-vertical-but-white:hover {
  .btntxt-s {
    color: #fff;
  }
}
.pr6 {
  position: relative;
  right: 6px;
}

.brd-right0 {
  border-right: 0px !important;
  border-radius: 5px 0px 0px 5px;
}
.calin-select-all {
  font-size: 12px;
  text-align: center;
  padding-right: 5px;
}
.sub-vertical-but-white.active {
  .btntxt-s {
    color: #fff;
  }
}
.brd-left0 {
  border-left: 0px !important;
  border-radius: 0px 5px 5px 0px;
}
.bord-lef-0{
border-left: 0;
}

.contact-business-card {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  background-color: $Marble;
  text-align: center;
  align-items: center;
  z-index: 8;
  .upload {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.3px;
  }
  .mdi {
    padding-right: 8px;
    font-size: 16px;
  }
  .middle-btns {
    opacity: 0;
    background-color: #121212;
    height: 100%;
    width: 100%;
  }
  .z-999 {
    z-index: 999;
  }
}
.image-alighn {
  text-align: center;
  position: relative;
  background-color: #f9f9f9;
  justify-content: center;
}
.white-back {
  background-color: #f9f9f9;
}
.zindex {
  z-index: 9999;
}
.border-rd {
  border-radius: 50%;
  border: 5px solid #f9f9f9;
}
.icon-btnbottm {
  position: relative;
  bottom: 2px;
}

.mdi-icon-fontsz {
  font-size: 15px;
}
//new profile css
.image-contact {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid white;
  background: #d8d8d8;
  .upload {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.3px;
    position: relative;
    top: 46px;
    left: 0px;
   
 
  }
  
}
.height-160 {
  height: 160px;
  z-index: 8;
}
.middle-btns-profile {
  text-align: center;
  background-color: #121212;
  height: 100%;
  top: 50p;
  padding-top: 48px;
  font-size: 26px;
  border-radius: 50%;
  .mdi-camera:before{
    // background: #2f81ff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
  .mdi-delete::before{
    // background: #2f81ff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
}
.top-50 {
  top: 50px;
}
//new profile css

.grey-profile{
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid white;
  background: #d8d8d8;
  position: absolute;
  padding-top: 44px;
  color: #2f81ff;
  font-size: 15px;
  font-family: WiproAkkuratTT-Bold;
}
.noeditcamera.mdi-camera{
  font-size: 28px;
}
.mdi-camera{
  font-size: 20px;
}
.mdi-delete{
  font-size: 20px;
  color: #2f81ff;
  
}
.replaceicn{
  left: -25px;
}
.remove{
  opacity: 0.7;
  display: none;
}
.img-block:hover{
  .remove{
    opacity: 0.7;
    display: block;
    position: absolute;
    right: 18px;
    top: 50px;
  }
}

.seperator{
  color:white;
  position: absolute;
    left: 60px;
}
.loaderContainer {
  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: transparent;
}
.loader {
  top: -27px;
  left: 7px;
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 54px;
  height: 54px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}


.convo-tag {
  position: absolute;
  left: 32px;
  width: 80px;
  height: 16px;
  opacity: 0.6;
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #e7ebf2;
  float: left;
  top: 27px;
}
.header-action-tab{
  padding: 18px 30px;
}
.max-width-140{
  max-width: 170px !important;
}
.mx-250{
  max-width: 250px;
}
.no-action{
  pointer-events: none;
}
.w-100-contact{
  width: 100% !important;
}
@media screen and (max-width: 414px) {
  .heading-level-one {
    max-width: 250px !important;
  }
}
.borderRadius0{
  border-radius: 0px !important;;
}
