$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$LabelGrey: #4a4a4a;
$DarkBlack: #2e2e2e;

// Loader

.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loaderContainer {
  width: 100%;
  top: 10em;
  position: fixed;
  height: 100%;
  z-index: 9999;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Loader

.error {
  border: 1.5px solid $RubyRed !important;
}

.new-container {
  .input-border-left {
    border-left: none;
  }
  .border-btm {
    border-bottom: 2px solid;
  }
  .border-right {
    border-right: 2px solid $Azure !important;
  }
  .z-ind-9999 {
    z-index: 8;
  }

  .z-ind-99 {
    z-index: 8;
  }
  .z-ind-9 {
    z-index: 9;
  }

  .mt-8 {
    margin-top: 8px;
  }

  .top62 {
    top: 62px;
  }
  .top64 {
    top: 64px;
  }
  .top66 {
    top: 66px;
  }

  .pad-30 {
    padding: 30px;
  }
  .mr10 {
    margin-right: 10px;
  }
  .h-40 {
    min-height: 40px;
  }
  .heading-level-one {
    font-family: WiproAkkuratTT-Bold;
    font-size: 24px;
    color: $White;

    small {
      font-family: "WiproAkkuratTT-Regular";
      font-size: 14px;
      padding: 0 30px;
    }
  }
  .primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
  }
  .borderless {
    border: none !important;
  }

  .h-180 {
    height: 277px;
  }
  .pad-30 {
    padding: 30px;
  }

  .card {
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: $White;
  }

  .heading-level-two {
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px;
    color: $DarkBlack;
  }

  .heading-level-three {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: $Black;
  }
  .head-border {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
  }

  .mar-top10 {
    margin-top: 10px;
  }
  .divider {
    border: 1px solid $Marble;
  }

  .mt10 {
    margin-top: 10px;
  }
  .mt20 {
    margin-top: 20px;
  }
  .mt15 {
    margin-top: 15px;
  }
  .mt40 {
    margin-top: 40px;
  }
  .mt60{
      margin-top: 60px;
  }
  .plb-20-20 {
    padding: 0px 20px 20px 0px;
  }
  .checkbox-label {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: $Metal;
    line-height: 1.43;
    letter-spacing: 0.3px;
  }

  .label-form {
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    line-height: 1.83;
    color: $Metal;
    margin-bottom: 4px;
    // width: 100%
  }

  .CompanyName {
    .mdi-magnify:before {
      color: $Azure;
      font-size: 20px;
      right: 10px;
      position: absolute;
      bottom: 5px;
    }
  }

  .h-40 {
    height: 40px;
  }

  .w-110 {
    width: 110px;
  }

  .attach-btn {
    height: 40px;
    width: 110px;
    font-size: 12px;
    letter-spacing: 0.1px;
    cursor: pointer;
  }

  .add-btn {
    height: 40px;
    border-radius: 4px 0 0 4px;
    border: 1.5px solid $Azure;
    padding: 3px 6px;
    background: $White;
    color: #9b9b9b;
    font-size: 18px;
    outline: none;
    z-index: 1;
    width: 40px;
  }

  .attach-icon {
    width: 18px;
    height: 18px;
    transform: rotate(-90deg);
    text-align: center;
    position: relative;
    right: 6px;
    font-size: 18px;
  }

  .record-icon {
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 18px;
    position: relative;
    bottom: 5px;
    right: 3px;
  }

  .text-area-content1 {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #000000;
    resize: none;
    border: 1.5px solid $Marble;
    border-radius: 2px;
    background-color: #ffffff;
    height: 270px;
    padding: 10px;
  }
  .rel-top-18 {
    position: relative;
    top: -18px;
  }

  .label-input {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: $Black;
    padding-right: 33px;

    &:focus {
      border: 1.5px solid $Azure !important;
      outline: none;
    }
  }

  .customized-input {
    input {
      &:focus {
        border: 1.5px solid $Azure !important;
        outline: none;
      }
    }
  }
  .list-group-item {
    cursor: pointer;
    font-size: 12px;
    color: $Azure;
    border: none;
  }

  .top70 {
    top: 70px;
  }

  .list-group-item:hover {
    background-color: $River;
  }
  .list-group-item:focus {
    background-color: $River;
  }

  .customized-select {
    position: relative;
    select {
      width: 100%;
      min-height: 40px;
      border-radius: 5px;
      // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
      border: 1.5px solid rgba(0, 0, 0, 0.1);
      padding: 2px 5px;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: none;

      &:focus {
        outline: none;
        border-color: $Azure;
      }
    }
    select::-ms-expand {
      display: none !important;
    }
    .caret {
      top: 17px;
      right: 16px;
    }
  }

  .record-btn {
    border: 1.5px solid $Marble;
    color: $MetalLight;
    width: 91px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.1px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: WiproAkkuratTT-Bold;
    padding: 8px 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .record-btn-active {
    border: 1.5px solid $Azure;
    color: $Azure;
    width: 91px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.1px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: WiproAkkuratTT-Bold;
    padding: 8px 5px;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      color: $White;
      background: $Azure;
    }
  }
  /********** style for auto complete list start ***************/
  .list-name {
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    color: #000000;
  }
  .p-5-10 {
    padding: 5px 20px 0px 0px;
}
  .sub-list {
    font-size: 10px;
    color: #9b9b9b;
    font-family: WiproAkkuratTT-Regular;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.autocomplete-box {
  top: 0px;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1.5px solid $Azure;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: 0.2s;

  .list-group-item {
    cursor: pointer;
    height: 50px;
    padding: 10px;
  }

  .db-search {
    height: 40px;
    cursor: pointer;

    &:hover {
      background-color: #d9e9ff;
    }
    button {
      font-family: WiproAkkuratTT-Bold;
      font-size: 14px;
      letter-spacing: 0.3px;
      color: $Azure;
      outline: none;
      border: none;
      background: transparent;
      text-align: left;
      width: 100%;
      height: 100%;
    }
  }

  .list-box:hover {
    background-color: #d9e9ff;
    cursor: pointer;
  }

  .btn-none {
    outline: none;
    border: none;
    background: transparent;
  }
}
.z-ind-9 {
  z-index: 9;
}

/********** style for auto complete list end ***************/

.p-2-10 {
  padding: 2px 10px 0px 10px;
}

/*************************sumeet***********************/
.heading-sub {
  opacity: 0.8;
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
  line-height: 0;
  color: #e7ebf2;
}
.pad-create-lead {
  padding: 18px 30px 20px 30px;
}
.btnedit {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #d9e9ff;
}
.btn-sub-mdi {
  font-size: 16px;
  text-align: center;
  color: $Azure;
}
.mdi-delete:before {
  position: relative;
  right: 8px;
}
.mdi-star:before {
  position: relative;
  right: 8px;
}
.mdi-share-variant:before {
  position: relative;
  right: 8px;
}
.mt50 {
  margin: 50px 0 0 0;
}
.pad-top-8 {
  padding-top: 8px;
}
.converstion-name {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px !important;
  line-height: 1.43;
  letter-spacing: 0.3px;
  color: $MetalLight !important;
}
.converstion-sub-text {
  width: 196px;
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: $DarkBlack;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.naming-tags {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
.child-middle {
  justify-content: center;
  align-items: center;
  display: flex;
}
.bg-azure {
  background: $Azure;
}
.bg-blue {
  background: #0e356f;
}
.bg-green {
  background: $Green;
}
.bg-pink {
  background: #ee3341;
}

.initials {
  color: $White;
}
.name {
  height: 29px;
  padding: 4px 3px 3px 10px !important;
  small {
    position: relative;
    bottom: 8px;
    font-size: 10px;
    color: #9b9b9b;
  }
  .tag {
    font-size: 12px;
  }
}
.button-key {
  width: 54px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1.5px solid #2f81ff;
  display: inline-block;
  color: #2f81ff;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 20px;
  margin-right: 50px;
}
.converstion-hyperlink {
  width: 200px;
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.3px;
  color: $Azure;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.checkbox-disable-text {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #4a4a4a;
}
.left-50 {
  left: 50px;
}
.naming-tags-square {
  width: 40px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  padding: 0px 5px;
}
.attach-btn .mdi-comment-processing-outline:before{
  margin-right: 5px;
}
.name-sq {
  height: 40px;
  border-radius: 0 4px 4px 0;
  align-items: center;
  display: flex;
  .mdi {
    padding: 0 0 0 10px;
  }
  .right-0 {
    right: 0;
  }
}
.pos-rel {
  position: relative;
}
.pl10 {
  padding-left: 10px;
}
.padLR-10 {
  padding: 0px 10px;
}
.border-std {
  border: 1.5px solid;
}
.color-label_gray {
  color: $LabelGrey;
}
.edit-btn {
  min-width: 88px !important;
}
.suggestion-box {
  border: 1.5px solid $Azure;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  z-index: 8;
}
.top64 {
  top: 64px;
}
.cust-label-input {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #4a4a4a;
  &:focus {
    border: 1.5px solid $Azure !important;
    outline: none;
  }
}
.input-text {
  border-radius: 4px;
  // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1.5px solid #d8d8d8;
}
/********************Datepicker Style Starts****************************/
.label_heading {
  opacity: 0.87;
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.3px;
  color: $LabelGrey;
}
.cal_brdr {
  .mat-form-field-flex {
    background-color: #fff;
    border: 1.5px solid #ccc;
    border-radius: 4px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.4375em 0;
    padding-left: 10px;
    padding-right: 5px;
    height: 40px;
  }
  .mat-form-field-infix {
    position: relative;
    border: 0;
    padding: 3px;
  }
  .mdi-calendar-blank:before {
    color: #2f81ff;
    font-size: 20px;
    position: relative;
  }
  .mat-icon-button {
    position: relative;
    outline: none;
  }
  .mat-icon-button:hover {
    box-shadow: none;
  }
  .mat-focused {
    border-color: transparent !important;
  }
}

.mat-form-field > .mat-form-field-wrapper > .mat-form-field-underline > .mat-form-field-ripple {
  background: $White !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px;
}
.pos-rel {
  position: relative;
}
.mat-button-focus-overlay {
  background: none !important;
}
.cust_calan {
  input {
    border: 1.5px solid #d8d8d8 !important;
    border-radius: 4px;
    outline: none;
    padding-left: 8px;
    padding: 6px;
  }
  .mat-datepicker-toggle {
    position: absolute;
    right: 10px;
  }
}
.mat-calendar-header {
  background-color: #103f86;
  padding: 1px 0 1px 0 !important;
  margin-bottom: 12px;
  border-radius: 4px 4px 0px 0px;
}
.mat-calendar-controls {
  display: flex;
  margin: 3% calc(33% / 7 - 16px) !important;
}
.mat-calendar-previous-button {
  right: 15em;
  color: $White !important;
}
.mat-calendar-next-button {
  color: $White !important;
  right: 0.6em;
}
.mat-button .mat-button-wrapper > * {
  display: none !important;
}
.mat-calendar-period-button {
  min-width: 0;
  left: 6.8em;
  color: white;
  box-shadow: none !important;
}
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  box-shadow: none !important;
}
.width-280 {
  width: 280px;
}
.mat-datepicker-content {
  margin-top: 10px;
}

.mat-calendar-body-selected {
  background-color: #2f81ff !important;
  color: $White !important;
  border: none !important;
}
.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  background-color: $River !important;
  color: black !important;
  border-color: rgba(0, 0, 0, 0) !important;
}
.margin-top-20 {
  margin-top: 20px;
}
/********************Datepicker Style ends****************************/
.add-btn {
  height: 40px;
  border-radius: 4px;
  border: 1.5px solid #d8d8d8;
  padding: 3px 6px;
  background: $White;
  color: #9b9b9b;
  font-size: 18px;
  outline: none;
  &:focus,
  &:hover {
    border-color: $Azure;
    font-family: WiproAkkuratTT-Bold;
    color: $Azure;
    outline: none;
  }
}
.top40 {
  top: 40px;
}
.bluebox {
  height: 40px;
  background: #2f81ff;
  color: #0e356f;
}

.attach-icon {
  width: 18px;
  height: 18px;
  transform: rotate(-90deg);
  text-align: center;
  position: relative;
  right: 6px;
  font-size: 18px;
}

.record-icon {
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 18px;
  position: relative;
  bottom: 5px;
  right: 3px;
}

.text-area-content {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #4a4a4a;
  resize: none;
  border: 1.5px solid $Marble;
  border-radius: 4px;
  background-color: #ffffff;
  height: 170px;
  padding: 10px;
  outline: none;

  &:focus {
    border-color: $Azure;
  }
}
.rel-top-18 {
  position: relative;
  top: -18px;
}
.button-key-edit {
  width: 54px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1.5px solid #2f81ff;
  display: inline-block;
  color: #2f81ff;
  text-align: center;
  padding-bottom: 20px;
}
.tagged-box {
  height: 40px;
  border-radius: 4px;
  color: $Azure;
  background-color: #d9e9ff;
  padding: 10px 18px 0px 10px;
  width: auto;
  margin: 5px 0;
  .mdi-close:before {
    font-size: 20px;
    cursor: pointer;
    color: $Azure;
    bottom: 5px;
    position: relative;
  }
}
.bor-rad-cust {
  border-radius: 0 4px 4px 0 !important;
}
select option {
  line-height: 20px;
}
.mdi-pencil:before {
  margin-right: 5px;
}
.new-container {
  .cust_autoComplete {
    input {
      border: 1.5px solid #d8d8d8;
      position: relative;
      border-radius: 4px;
      padding-right: 35px;
    }
  }
}
.mobile-buttons {
  display: none;
}
.mobile-blue {
  color: white;
  font-size: 22px;
  height: 30px;
}
.bluetxt {
  font-family: WiproAkkuratTT-Regular;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  right: 8px;
}
.paddingblue {
  padding-left: 40px;
  padding-right: 40px;
}
.cancel-btn {
  height: 50px;
  background: $River;
  color: $Azure;
  padding: 14px;
  font-size: 14px;
  font-family: WiproAkkuratTT-Bold;
  border: none;
}
.save-btn {
  height: 50px;
  background: $Azure;
  color: $White;
  padding: 14px;
  font-size: 14px;
  font-family: WiproAkkuratTT-Bold;
  border: none;
}
.sort-dropdown {
  background: white;
}
.p-4-10 {
  padding: 6px 20px 4px 10px;
}
.btn-key {
  width: 54px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1.5px solid $Azure;
  display: inline-block;
  text-align: center;

  margin-top: 9px;
  margin-left: 35px;
}
/********** style for auto complete list start ***************/
.list-name {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #000000;
}

.sub-list {
  font-size: 10px;
  color: #9b9b9b;
  font-family: WiproAkkuratTT-Regular;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.autocomplete-box {
  top: 0px;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1.5px solid $Azure;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: 0.2s;

  .list-group-item {
    cursor: pointer;
    height: 50px;
    padding: 10px;
  }

  .db-search {
    height: 40px;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      background-color: #d9e9ff;
    }
    button {
      font-family: WiproAkkuratTT-Bold;
      font-size: 14px;
      letter-spacing: 0.3px;
      color: $Azure;
      outline: none;
      border: none;
      background: transparent;
      text-align: left;
      width: 100%;
      height: 100%;
    }
  }

  .list-box:hover {
    background-color: #d9e9ff;
    cursor: pointer;
  }

  .btn-none {
    outline: none;
    border: none;
    background: transparent;
  }
}
.z-ind-9 {
  z-index: 9;
}

/********** style for auto complete list end ***************/
.center {
  justify-content: center;
}
.round-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgb(136, 159, 195);
  border-radius: 50%;
  color: #103f86;
  cursor: pointer;
  outline: none;
  border: none;
  z-index: 99;
  padding: 0 !important;
}
.active {
  background-color: white !important;
}
.button-search {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: $Azure;
  outline: none;
  border: none;
  background: transparent;
  text-align: left;
  width: 100%;
  height: 40px;
}
.button-search:hover{
background: #d9e9ff !important;
}
.button-search.active{
  background: #d9e9ff;
}
.horizontal-bar-one {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 15px;
  left: 30px;
}
.horizontal-bar-two {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 21px;
  left: 30px;
}
.disable-input {
  background-color: #f3f3f3;
}
.active-text {
  color: white !important;
  position: relative;
  width: 100px;
  top: 15px;
  right: 36px;
}
.text-step {
  position: relative;
  width: 138px;
  top: 15px;
  right: 53px;
  color: rgba(255, 255, 255, 0.5);

}
.text-step.active-text{
  font-family: "WiproAkkuratTT-Bold";
}

.no-pad-lead {
  padding: 0 !important;
}
.span-text {
  width: 100%;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  padding: 0 !important;
}
.mb20 {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  border: 1.5px solid #d8d8d8;
}


.w-100 {
  width: 100%;
}
.plb-60-20 {
  padding: 0px 60px 20px 0px;
}

.commets {
  width: 40px !important;
  margin-bottom: 8px;
  text-align: left !important;
}
.commets .icon {
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(0deg);
  text-align: center;
  position: relative;
  right: -4px;
  font-size: 18px;
  bottom: 4px;
}
.w-94 {
  width: 94%;
}
.mt4 {
  margin-top: 4px;
}
.mr13 {
  margin-right: 13px;
}

.addAccountBtns {
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #2f81ff;
  color: #2f81ff;
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  padding: 0px 22px;
  width: 100px;
  margin-bottom: 10px;
}
.accord_s {
  padding: 0px 25px 10px 25px;
}
.accbody {
  border: 1px solid #d8d8d8;
  padding-bottom: 15px;
  border-radius: 4px;
}
.allianceTable th {
  padding: 0px 10px;
  background: #eaf2ff;
  font-family: WiproAkkuratTT-Bold;
  font-size: 12px;
  font-weight: bold;
  color: #40659e;
  height: 40px;
}
.allianceTable td {
  padding: 10px;
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #3f3f3f;
  height: 50px;
}

// .allianceTable tbody tr:nth-child(even) {
//   background: #f9f9f9;
// }

.tablAlliance thead tr th:first-child {
  border-radius: 4px 0px 0px 0px;
}
.tablAlliance thead tr th:last-child {
  border-radius: 0px 4px 0px 0px;
}
.width4 {
  width: 4%;
}
.width22 {
  width: 22%;
}
.deleteColumn {
  font-size: 18px;
  padding: 2px 0px 0px 16px;
}
.edit_style {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px !important;
}
.new-container .list-name{
  max-width:100% !important
}
.vertical{
  vertical-align: middle;
}
.mobview{
  min-height:210px; 
  max-height: 340px;
  z-index: 8
}
.mobile-toggle{
  display: none;
}
.crud-table {
  border-radius: 4px;
  // overflow-y: hidden;
  display: inline-table;
  max-height: 210px;
  // min-height: 210px;
}
.crud-table .allianceTableEdit
{
  padding-bottom: 200px;
    display: block;
    overflow: hidden;
}
.crud-table .allianceTableView
{
  padding-bottom: 0px;
    display: table;
   
}
.overLapArea
{
  top:40px;
}
.auto-overlay{
position: fixed;
top:0 ;
width:100%;
height:100%;
background: transparent;
z-index: 9;
}

.tableOverlay {
  // background: #00000005;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.w-160{
  width:160px 
}
tr:last-child .suggestion-box {
  bottom: 40px;
  top:-100px !important;
}
tr:nth-last-child(2) .suggestion-box {
  bottom: 40px;
  top:-100px !important;
}
tr:first-child .suggestion-box {
  bottom: -100px !important;
  top:40px !important;
}
.w-80.name {
  width: 75%; //mar-14
  // padding: 10px 3px 3px 10px !important;
}
.wid-55.name{
  width: 55%;
}
.pb16{
  padding-bottom: 16px;
}
.first-crd.card{
  margin-bottom: 0px !important; 
}
.customer-contact-wid{
  max-width: 88% !important;
}
.attach-disable{
  pointer-events: none;
    border-color: #d8d8d8;
    color: #d8d8d8;
}
.padd15 {
  padding: 15px;
}
.top10{
  top:10px;
}
.designation-sub{
  position: relative;
  top: -5px;
}
.servicelineheight{
  height: 20px;
}
// for instance:
_:-ms-lang(x), _:-webkit-full-screen, .servicelineheight 
{ 
  height: 20px;
}
//Sandhiya made css changes

  .element-disabled{
    color: #9b9b9b!important;
  }

@media screen and (max-width: 340px){
  .heading-level-one {
    max-width: 150px !important;
}
}
.mdi-download{
  display: none;
  cursor: pointer;
}
.download-uploaded-file:hover .mdi-download{
  display: block;
}
.download-uploaded-file:hover .mdi-file-document{
  display: none;
}

.disabled-control {
  color: $MetalLight !important;
  background-color: #f9f9f9 !important;
  button,
  input,
  select {
    color: $MetalLight !important;

    background-color: #f9f9f9 !important;
  }

  .caret,
  .mdi:before {
    color: $MetalLight !important;
  }
}
.addcomment-popover{
  height: 200px;
  position: absolute;
  width: 315px;
  z-index: 8;
  right: 58px;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.45);
  padding: 10px;
  top: 0em;
  .discard-btn {
    background-color: #d9e9ff !important;
    text-align: center;
    font-size: 12px;
    line-height: 1.38;
    color: #2f81ff;
    font-family: "WiproAkkuratTT-Bold";
    padding: 9px;
    width: 100px;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}
.discard-btn:hover{
  background-color: #2f81ff !important;
  color: #ffffff;
  }
.confrm-btn:hover{
  background-color: #2f81ff !important;
  color: #ffffff;
}
.confrm-btn {
  background-color: #2f81ff;
  text-align: center;
  font-size: 12px;
  line-height: 1.38;
  color: #ffffff;
  font-family: "WiproAkkuratTT-Bold";
  padding: 9px;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
}
.text-area-content{
  height: 100px;
}
.popup-hd-txt{
  font-size: 16px !important;
  color: #4a4a4a !important;
  }

}
.download {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: $Azure;
  letter-spacing: 0.3px;
  text-align: right;
  cursor: pointer;
}

.attachment {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: $MetalLight;
  letter-spacing: 0.3px;
}
.attachment-type {
  font-family: WiproAkkuratTT-bold;
  font-size: 12px;
  color: $MetalLight;
  letter-spacing: 0.3px;
  position: relative;
  top: -8px;
}
.mdi-information-outline:before {
  content: "\F2FD";
  font-size: 16px !important;
  color: #2f81ff;
}
// .caret-popover{
//   width: 0; 
//   height: 0px;
//   right: -10px;
//   top: 7em;
//   position: absolute;
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;  
//   border-left: 10px solid white;
//   box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.45);
// }
.addcomment-popover:after, .addcomment-popover:before {
  right: -24px;
  top: 2%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  transform: rotate(90deg);
}

.addcomment-popover:after {
border-color: rgba(136, 183, 213, 0);
border-bottom-color: #fff;
border-width: 12px;
margin-top: -1px;
}
.addcomment-popover:before {
border-color: rgba(194, 225, 245, 0);
border-bottom-color: #ccc;
border-width: 12px;
    margin-top: -2px;
}
.height-200{
  height: 230px;
  max-height: 230px;

}

//new attachments css starts
.new-inputattach{
  float: right;
  width: 110px;
  height: 40px;
  position: relative;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.new-attachment{
  float: right;
  position: absolute;
  right: 0;
  width: 110px;
  height: 40px;
  border: 2px solid #2f81ff;
  background: white;
  color: #2f81ff;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  font-family: WiproAkkuratTT-Bold;
}
.mdi-attachment:before{
  width: 18px;
  height: 27px;
  transform: rotate(-90deg);
  text-align: center;
  position: relative;
  right: 4px;
  font-size: 16px;
}
//new attachments css ends
.mar-bt-250{
margin-bottom: 250px;
}
.mb-1{
  margin-bottom: 1px;
}
.mt11{
  margin-top: 11px;
}
//////////////////////////////slim scroll css starts-------------------------->

.scroll-window {
  width: 100%;
  height: 200px;
  font-size: 13px;
  font-size: 15px;
  line-height: 30px;
}

.slimscroll-grid {
  display: none !important;
}

.slimscroll-bar {
  width: 7px !important;
  right: 0px !important;
  background: #bab6b6 !important;
  z-index: 1 !important;
}

.slimscroll-bar:hover {
  background: #bab6b6 !important;
}

//////////////////////////////slim scroll css ends-------------------------->
.font-12{
    font-size: 12px;
}
.header-two{
  font-size: 16px;
  font-family: WiproAkkuratTT-Bold;
}
.details-label{
  opacity: 0.87;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #6f6f6f;
    margin-bottom: 5px;
}
.font-b{
  font-family: WiproAkkuratTT-Bold;
}
.brder-btm{
  border-bottom: 2px solid #ccc;
  padding-bottom: 20PX;
}

.orderTable th, .orderTable td{
  border: none !important;
}
.card{
  margin-bottom: 0px;
}