<div class="order-details">
  <!-- <app-opportunity-view></app-opportunity-view> -->
</div>

<!-- <div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab"
    [ngClass]="service.sideTrans ? 'main-containt-250' : 'main-containt'">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left new-container opportunity-landing-container new-opportunity-page pad-lr-30 no_pad  opportunity-page">
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 float-left">
        <h1 class="float-left heading-level-one">
          <span class="mdi mdi-arrow-left cp mr10" (click)="service.goBack()"></span>
          <span class="">Order - {{orderNumber}}</span>
        </h1>
        <span class="convo-tag">Order</span>
      </div> -->

      <!--loop stepper button-->
      <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-5 col-xl-5 float-right pad-left-25 overview-dropdown">

        <div class="col-12 float-right disp-flex responsive-btn-div opportunity-overview justify-content-end">
          <div class="float-right disp-flex web-action-button mr10 width33">
            <div class="form-group w140 float-right no_pad current_position posR cp mb-0 more-option"
              (click)="more_clicked = !more_clicked" (clickOutside)="more_clicked = false">
              <button class="blue_border btn-none" role="listbox" aria-label="more option">
                <span class="caret" [ngClass]="more_clicked? 'up' : ''"></span>

                <span class="form-control btnSelect Empaneled_txt border_right_none color-azure mobile-save" id="sel1"
                  placeholder="Empaneled vendor" role="button" tabindex="0">
                  <span class="mdi mdi-dots-vertical buttn-vertical"></span>
                  <span class="more-respon Actionclass">
                    <span class="sm-hide">More</span> actions </span>
                </span>
              </button>
              <ul id="menucontainer" class="no_pad mar-topmore" *ngIf="more_clicked">
                <li class="list_names border_property" (click)="openModalContent('Assign')">
                  <span class="mdi mdi-account-convert border-botm"></span>Assign</li>
                <li class="list_names border_property" (click)="openAmendment()">
                  <span class="mdi mdi-note-plus-outline border-botm"></span>Create amendment</li>
                <li class="list_names border_property" (click)="openModalContent('Suspend')">
                  <span class="mdi mdi-square-edit-outline border-botm"></span>Suspend</li>
                <li class="list_names border_property">
                  <span class="mdi mdi-share-variant border-botm"></span>Share</li>
                <li class="list_names border_property">
                  <span class="mdi mdi-bullhorn border-botm"></span>Request campaign
                </li>
                <li class="list_names border_property">
                  <span class="mdi mdi-vector-intersection border-botm"></span>Reactivate</li>
                <li class="list_names border_property" routerLink="/opportunity/opportunityendsalescycle">
                  <span class="mdi mdi-calendar-remove border-botm"></span>End sales cycle</li>
                <li class="list_names border_property" (click)="residualoppurtunity()">
                  <span class="mdi mdi-vector-selection border-botm"></span>Residual opportunity</li>
                <li class="list_names border_property" routerLink="/opportunity/opportunityendsalescycle">
                  <span class="mdi mdi-vector-circle border-botm"></span>Track Status</li>

              </ul>
            </div>
          </div>
          <div class="float-right disp-flex web-action-button  mart-2 width33">
            <button class="primary-button mobile-save borderless h-40 std save-responsive-btn" (click)="nextstepbtn()">
              <span class="mdi mdi-content-save pr5"></span>
              <span class="more-respon Actionclass">Save</span>
            </button>
          </div>
        </div>
      </div> -->
      <!--loop stepper button-->
    <!-- </div>

  </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-390"
  [ngClass]="service.sideTrans ? 'main-containt-250' : 'main-containt'" >
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt150 text-center opportunity-stepper"  [ngClass]="service.sideTrans ? 'main-containt-250' : 'main-containt'">
  <div class="col-10 no_pad float-left scroll-tabs">
    <div class="col-12 float-left overflow-div padd-left45">
      <button [ngClass]="router.url.includes('/order/orderdetails/overview')?'activetabs':''"
        class="btn-label btn-text width-view float-left" routerLinkActive="activetabs"
        (click)="changeTab('overview')">Overview -->
        <!-- [routerLink]="['overview']" -->
      <!-- </button>
      <button [ngClass]="router.url.includes('/order/orderdetails/businesssolution')?'activetabs':''"
        class=" btn-label btn-text width-view float-left" routerLinkActive="activetabs"
        (click)="changeTab('solution')">Business solution
      </button>
      <button [ngClass]="router.url.includes('/order/orderdetails/team')?'activetabs':''"
        class=" btn-label btn-text width-view float-left" routerLinkActive="activetabs" (click)="changeTab('team')">Team
      </button>
      <button [ngClass]="router.url.includes('/order/orderdetails/competitor')?'activetabs':''"
        *ngIf="IsSimpleDeal==false" class=" btn-label btn-text width-view float-left" routerLinkActive="activetabs"
        (click)="changeTab('competitor')">Competitor
      </button>
      <button [ngClass]="router.url.includes('/order/orderdetails/deal')?'activetabs':''"
        class=" btn-label btn-text width-view float-left" routerLinkActive="activetabs"
        (click)="changeTab('influencer')">Influencer
      </button>
      <button [ngClass]="router.url.includes('/order/orderdetails/contracts')?'activetabs':''"
        class=" btn-label btn-text width-view float-left" routerLinkActive="activetabs"
        (click)="changeTab('contracts')">Contracts
      </button>
      <button [ngClass]="router.url.includes('/order/orderdetails/order')?'activetabs':''"
        class=" btn-label btn-text width-view float-left" routerLinkActive="activetabs"
        (click)="changeTab('order')">Order
      </button> -->
      <!-- <button [ngClass]="router.url.includes('/order/orderdetails/orderreview')?'activetabs':''"
        class=" btn-label btn-text width-view float-left" routerLinkActive="activetabs"
        (click)="changeTab('orderreview')">Order review
      </button> -->
    <!-- </div>
  </div>
  <div class="col-2 float-right no_pad overview-dropdown">

    <div class="float-right no_pad current_position posR cp mb-0 three-dot" (mouseover)="more_clickedthree=true"
      (mouseout)="more_clickedthree=false">
      <button class="btn-test btn-none primary-three-dot float-right h-42 std1 save-responsive-btn button-wd50"
        role="listbox" aria-label="more option" [ngClass]="more_clickedthree ? 'active' : ''">
        <span class="mdi mdi-dots-vertical"></span>
      </button>

      <ul id="menucontainer" class="no_pad mar-right43" [hidden]="!more_clickedthree">
        <perfect-scrollbar class="height-300" (mouseover)="more_clickedthree=true">
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/orderbooking']">Order booking
            project</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/orderaudit']">Order audit
            history</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/orderhierarchy']">Order
            hierarchy</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/ordersite']">Order site map
          </li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/viewindent']">View Indent</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/emaillandingpage']">Email History
          </li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/modifyorder']">Modify order details
          </li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/dealdashboardreport']">
            Opportunity dashboard report</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/dealsnapshot']">Opportunity
            snapshot
          </li>
          <li class="list_names border_property" role="link" [routerLink]="['/order/orderdetails/businesssolution']">
            Credit allocation</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/opportunityinsight']">
            Opportunity insights</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/opportunityguideline']">
            Opportunity guidelines</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/newagebusinesspartner']"
            *ngIf="addNewAge">Add new
            age business partner</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/addalliance']"
            *ngIf="addAlliance">Add alliance</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/addserviceline']"
            *ngIf="addService">Add service
            line</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/addip']" *ngIf="addIp">Add IP -->
          <!-- </li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/commitmentregister']">
            Commitment register
          </li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/changeOpportunity']">Change
            opportunity type</li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/riskregister']">Risk register
          </li>
          <li class="list_names border_property" role="link" [routerLink]="['/opportunity/knowledgemanagement']">
            Knowledge management
          </li>
        </perfect-scrollbar>
      </ul>

    </div>
  </div>

</div>
<button class="summary-btn" (click)="showSummary_window()" *ngIf="!service.Summary_window"> Summary</button>

<div class="col-12 float-left pad-30" [ngClass]="service.Summary_window?'pad-30-50':service.sideTrans ? 'main-containt-250' : 'main-containt'">

  <div
    [ngClass]="service.Summary_window?'col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 float-left ':'col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left responspad-0' ">
    <router-outlet></router-outlet>
  </div>
  <div class="summary-overlay float-left" *ngIf="service.Summary_window"></div> -->
  <!-- summary  window starts -->

  <!-- <div class="summary-window col-10 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left pad-20-30 "
    *ngIf="service.Summary_window">
    <div class="col-12 no_pad float-left mb10">
      <span class="col-11 no_pad float-left sumry-txt">Summary</span>
      <button class="col-1 no_pad float-left btn-none mdi mdi-close sumry-close"
        (click)="closeSummary_window()"></button>
    </div>
    <div class="col-12 float-left border-bottom-grey"></div> -->

    <!-- Opportunity and Order Tabs -->
    <!-- <div class="col-12 ptop-20 no_pad vertical-btns-div flex-tab popup-container popup-container-opportunity">
      <div class=" no_pad btn-tabs flex-tab-width mbot-10">

        <button
          class="col-lg-6 col-sm-6 col-md-6 col-6 sub-vertical-but-white brd-right d-flex justify-content-center align-items-center "
          (click)="getAccordians('opportunityTab')" [ngClass]="opportunityTab ? 'active2' : ''">
          <span class="no_pad calin-select-all mdi mdi-vector-difference-ab"></span>
          <span class="pleft-5">Opportunity</span>
        </button>
        <button
          class=" col-lg-6 col-sm-6 col-md-6 col-6 pull-right sub-vertical-but-white brd-left0 border-0-4-4-0 d-flex justify-content-center align-items-center "
          (click)="getAccordians('!opportunityTab')" [ngClass]="!opportunityTab ? 'active2' : ''">
          <span class="no_pad calin-select-all mdi mdi-checkbox-multiple-marked-outline"></span>
          <span class="pleft-5">Order</span>
        </button>

      </div>
    </div> -->
    <!-- Opportunity and Order Tabs ends -->

    <!-- <div *ngIf="opportunityTab">
      <div class="col-12 float-left opp-score-main">

        <span class="col-12 float-left  no_pad radio-head-txt mb-10" id="radio">Forecast </span>
        <mat-radio-group [(ngModel)]="forecastValue" aria-labelledby="radio" class="col-12 float-left  no_pad"> -->

          <!--<mat-radio-button value="Commit" checked="true" class="radio-txt col-4 no_pad ">Commit</mat-radio-button>

          <mat-radio-button value="Upside"  [disabled]='true'  class="radio-txt col-4 no_pad ">Upside</mat-radio-button>-->

          <!-- <mat-radio-button [disabled]='data.disableField' disableField *ngFor="let data of forecast"
            [value]="data.Value" class="radio-txt col-4 no_pad">{{data.Label}}</mat-radio-button>

        </mat-radio-group>
      </div>

      <div class="col-12 no_pad float-left accordians-div">
        <mat-accordion>
          <mat-expansion-panel hideToggle="true" [expanded]="false" class="no_pad accordians-div-panel"
            *ngFor="let acc of accordianContent;let i = index ">
            <mat-expansion-panel-header style="min-height:60px;" class="acc-head">
              <mat-panel-title class="accord-heading acc-title d-flex align-items-center">
                <span
                  [ngClass]="acc.panelOpenStateSumry ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                <span class="accordian-sumrytitle pad-top-8">{{acc.title}}</span>
              </mat-panel-title>

            </mat-expansion-panel-header>
            <ul class="col-12 no_pad float-left sumry-acc-ul">

              <span class="col-12 float-left color-azure hidden-content cp pad-15-30" *ngIf="acc.hideContent"
                (click)="openUserTargetsPopup()">
                View complete list </span>
              <div *ngIf="!acc.hideContent">
                <perfect-scrollbar class="height-300">
                  <li *ngFor="let item of acc.content">
                    <div *ngIf="acc.title != 'POA Holders'">
                      <span class="col-6 float-left no_pad">{{item.label}}</span>

                      <span
                        [ngClass]="item.isEditable?'col-5 float-left no_pad text-align-right':'col-6 float-left no_pad text-align-right'">{{item.content}}</span>
                      <button *ngIf="item.isEditable" class="col-1 float-right no_pad btn-none cp" aria-label="edit"
                        matTooltip="edit" (click)="summaryPopup(item.label)">
                        <span class="col-xs-12 nopad blue_circle_replay_img mdi mdi-pencil"></span>
                      </button>

                    </div>
                    <div *ngIf="acc.title == 'POA Holders'">

                      <span class="col-12 float-left no_pad ellipses">{{item.label}}</span>
                      <span class="col-12 float-left no_pad ellipses">{{item.content}}</span> -->

                      <!-- [ngClass]="item.isEditable?'col-11 float-left no_pad':'col-12 float-left no_pad'" -->
                    <!-- </div> -->
                    <!-- <button class="btn-none col-1 float-left no_pad mdi mdi-border-color color-azure" *ngIf="item.isEditable"> </button> -->
                    <!-- <div *ngIf="content.linkContent ">

                <span class="col-12 float-left no_pad "  *ngFor=" let value of content.linkContent">{{value}}</span>
            </div> -->
<!--
                  </li>
                </perfect-scrollbar>
                <li *ngFor="let item of acc.content" class="back-none">

                  <div *ngIf="acc.title == 'Linked activities & leads'">
                    <div class="col-12 float-left no_pad mt10">
                      <div class="col-12 float-left no_pad ">
                        <div class="col-6 float-left no_pad action-title color-black"> {{ item.actionTitle}} </div>
                        <div class="col-6 float-left no_pad">
                          <button class="float-right  btn-none cp color-azure" aria-label="edit"
                            (click)="summaryPopup(item.actionTitle)">
                            <span class=" blue_circle_replay_img mdi mdi-pencil"></span> -->
                            <!-- (click)="editLead(item.actionTitle)" -->
                          <!-- </button>
                          <button class="float-right  btn-none cp color-azure" aria-label="settings" [disabled]='true'
                            (click)="summaryPopup(item.actionTitle)">
                            <span class=" blue_circle_replay_img mdi {{item.icon}}"></span>
                          </button>
                        </div>
                      </div>
                      <perfect-scrollbar class="height-160">
                        <div *ngFor="let step of item.subContent" class="col-12 no_pad float-left back-color">
                          <div class="col-12 float-left link-lead no_pad lead-content"
                            *ngIf=" item.actionTitle == 'Activities'">
                            <span
                              class="col-12 float-left no_pad  color-azure ellipses action-title">{{step.accountName}}</span> -->
                            <!-- <div class="col-12 float-left link-lead no_pad" *ngIf=" item.actionTitle == 'Activities'"> -->
                            <!--<span class="col-8 float-left no_pad sub_content_txt no_pad">{{step.account}}</span>-->
                            <!-- <span class="col-8 float-left no_pad sub_content_txt no_pad">{{step.name}}</span>
                          </div>
                        </div>
                      </perfect-scrollbar>
                      <perfect-scrollbar class="height-160">
                        <div *ngFor="let step of item.subContent" class="col-12 no_pad float-left back-color">
                          <div class="col-12 float-left link-lead no_pad lead-content"
                            *ngIf="item.actionTitle == 'Leads'">
                            <span
                              class="col-12 float-left no_pad  color-azure ellipses action-title">{{step.accountName}}</span>

                            <span class="col-12 float-left no_pad sub_content_txt no_pad">{{step.name}}</span>
                          </div>

                        </div>
                      </perfect-scrollbar>
                    </div>
                  </div>
                </li>
              </div>

              <li *ngIf="acc.content.length == 0"> No records found </li>

            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div *ngIf="!opportunityTab">
      <div class="col-12 no_pad float-left accordians-div">
        <mat-accordion>
          <mat-expansion-panel hideToggle="true" [expanded]="false" class="no_pad accordians-div-panel"
            *ngFor="let acc of orderAccordianContent;let i = index ">
            <mat-expansion-panel-header style="min-height:60px;" class="acc-head">
              <mat-panel-title class="accord-heading acc-title d-flex align-items-center">
                <span
                  [ngClass]="panelOpenStateSumry ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                <span class="accordian-sumrytitle pad-top-8">{{acc.title}}</span>
              </mat-panel-title>

            </mat-expansion-panel-header>
            <ul class="col-12 no_pad float-left sumry-acc-ul">

              <span class="col-12 float-left color-azure hidden-content cp pad-15-30" *ngIf="acc.hideContent"
                (click)="openUserTargetsPopup()">
                View complete list </span>
              <div *ngIf="!acc.hideContent">
                <perfect-scrollbar class="height-300">
                  <li *ngFor="let item of acc.content">
                    <span class="col-6 float-left no_pad">{{item.label}}</span>
                    <span class="col-6 float-left no_pad text-align-right">{{item.content}}</span>
                  </li>
                </perfect-scrollbar>
              </div>

              <li *ngIf="acc.content.length == 0"> No records found </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div> -->
  <!-- summary  window ends -->

<!-- </div> -->
