<!-- lead-details starts here -->
<div class="col-12 float-left  no_pad popup-container popup-container-opportunity deal-qualify ">
    <div class="col-12 float-left  container-dialog no_pad">
      <div class="col-12 float-left">
        <div class="col-12 float-left mb10 no_pad popup-hd">
          <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Lead source details</span>
          <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn"
            aria-label="close" mat-dialog-close></button>
          <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical1"
                  class="label-form"> Do you want to tag this to an existing lead  (Selecting "Originating Lead") or provide details here (Select "Lead Details")
         
                </label>
          
        </div>
  
        <div class="col-12 float-left border-bottom-grey"></div>
      </div>
      <perfect-scrollbar style="max-height:300px">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt10">
          <mat-radio-group class="float-left mt12" aria-labelledby="key" [(ngModel)] = "leadType" (change) = "leadTypeChanged($event)">
            <mat-radio-button #o value=1 [checked] = "leadType == o.value" name = "leadTypeRadio"  [disabled]="disabledFlag"
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pr30 label-form-black radio-fontfamly mt20">
              Originating
              Lead
            </mat-radio-button>
  
            <div class="col-12 float-left">

               <!-- link leads advance lookup starts -->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left ">
              <div
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  cust_autoComplete pos-rel plb-60-20 h100 Vertical_Owner ">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="OriginatingLead"
                  class="label-form">Search and tag the originating lead
                  <!--<span class="required"> *
                  </span>-->
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">
                  <div class="flex-grow-1">
                    <app-auto-complete-select [requiredField]="false" [source]="originatingLeadList" (content)="getOriginatingLead($event)"
                      [dataHeader]="OriginatingObj" (SelectedData)="selectOriginatingLead($event)" [IsApiCall]="true"
                      [details]="originatingLeadName" [detailsId]="originatingLeadId" [selectedObj]="selectedOriginatingLead" [dataSource]="'Originating Lead'"
                      [labelName]="'OriginatingLead'" [titleName]="'Search and tag the originating lead'" [Placeholder]="'Search leads'" [IsSpecialBtn]=false
                      [IsinitialsView]=false [showSelected]=false [IsSearchDatabase]=false
                      [isSearchLoader]='isSearchLoader' (advanceLookUp)="advanceLookUpSearch($event)"
                      [MandtErrorFlag]="originatingLeadErr" [Isdisabled]='originatingLeadDisabled || disabledFlag'>
                    </app-auto-complete-select>
                  </div>
                </div>
              </form>
            </div>
                    </div>
                    <!-- link leads advance lookup ends -->
  
            </div>
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left border-bottom-grey mt20"></div>
  
            <mat-radio-button value=2 #l [checked] = "leadType == l.value" name = "leadTypeRadio" [disabled]="disabledFlag"
              class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 label-form-black radio-fontfamly mt20" (change)="radioChange($event)">Lead Details
            </mat-radio-button>
          </mat-radio-group>
  
            <div class="col-12 float-left">
              <div class="col-12 no_pad float-left border_top">
                <div class="col-12 no_pad float-left fixedHeightAlign">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                    <!-- Lead source starts here -->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad_mobile mt10">
                      <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                        class="label-form">Lead source</label>
  
                        <mat-form-field class="col-12 no_pad float-left web-select-box" *ngIf = "!globalService.MobileDevice">
                          <mat-label>Select lead source</mat-label>
                          <mat-select disableOptionCentering panelClass="Select-panel-class"
                            class="select-focus mat-select" name="leadsource"
                            id="leadsource" role="listbox" [(ngModel)]="leadSourceId" [disabled] = "otherLeadDisabled || disabledFlag"
                            [ngClass]="leadSourceErr?'orangeborder':''" (ngModelChange) = "leadSourceSelected();scrolltoend()">
                            <!-- (ngModelChange) = "leadSourceSelected()" -->
                            <mat-option [value]=null selected hidden disabled>Select lead source</mat-option>
                            <mat-option *ngFor = "let lead of leadContact" [value]="lead.Id">
                              {{lead.Name}}</mat-option>
                          </mat-select> 
                        </mat-form-field>
  
                      <div class="customized-select mobile-select-box" *ngIf = "globalService.MobileDevice">
                        <span class="caret color-azure"></span>
                        <select id="leadsource" name="leadsource" role="listbox" class="pad-left10"  [ngClass]="leadSourceErr?'orangeborder':''"
                         [(ngModel)]="leadSourceId" [disabled] = "otherLeadDisabled || disabledFlag" (ngModelChange) = "leadSourceSelected();scrolltoend()">
                         <option [value]=null selected hidden disabled>Select</option> 
                         <option *ngFor = "let lead of leadContact" [value]="lead.Id">{{lead.Name}}</option>
    
                        </select>
                      </div>
                    </div>
                    <!-- Lead source ends here -->
  
                    <!-- Lead source details starts here -->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad_mobile mt10">
                      <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                        class="label-form">Lead source details</label>
  
                        <mat-form-field class="col-12 no_pad float-left web-select-box" *ngIf = "!globalService.MobileDevice">
                          <mat-label>Select lead source details</mat-label>
                          <mat-select disableOptionCentering panelClass="Select-panel-class" 
                            class="select-focus mat-select" name="leadsourcedetails"
                            id="leadsourcedetails" role="listbox" [(ngModel)] = "leadSrcDtlId" [disabled] = "otherLeadDisabled || disabledFlag || leadSrcDtlDisabled"
                             [ngClass]="leadSrcDtlErr?'orangeborder':''" (ngModelChange) = "leadSourceDtlSelected();scrolltoend()">
                           <mat-option [value]=null selected hidden disabled>Select</mat-option>
                            <mat-option *ngFor = "let lead of leadSrcDetails" [value]="lead.Id">{{lead.Name}}</mat-option>
                           </mat-select>
                        </mat-form-field>
  
                      <div class="customized-select mobile-select-box" *ngIf = "globalService.MobileDevice">
                        <span class="caret color-azure"></span>
                        <select id="leadsourcedetails" name="leadsourcedetails" role="listbox" class="pad-left10"
                        [(ngModel)] = "leadSrcDtlId" [disabled] = "otherLeadDisabled || disabledFlag || leadSrcDtlDisabled" [ngClass]="leadSrcDtlErr?'orangeborder':''"
                        (ngModelChange) = "leadSourceDtlSelected();scrolltoend()">
                        <option [value]=null selected hidden disabled>Select</option>
                          <option *ngFor = "let lead of leadSrcDetails" [value]="lead.Id">{{lead.Name}}</option>
   
                        </select>
                      </div>
                    </div>
                    <!-- Lead source details ends here -->
  

                    <!-- link leads advance lookup starts -->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left "  *ngIf = "leadSrcDtlId != 3 && leadSrcDtlId != 4 && leadSrcDtlId != 5 ">
              <div *ngIf = "!linkDtlsDisabled"
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  cust_autoComplete pos-rel plb-60-20 h100 Vertical_Owner">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Leaddetails"
                  class="label-form">Lead details
                  <span class="required"> *
                  </span>
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">
                  <div class="flex-grow-1">
                    <app-auto-complete-select [requiredField]="true" [source]="leadDetailsList" (content)="getLeadSrcDetails($event)"
                      [dataHeader]="leadDtlObj" (SelectedData)="selectLeadDetails($event)" [IsApiCall]="true"
                      [details]="leadDetails" [detailsId]="leadDtlId" [selectedObj]="leadSelected" [dataSource]="'Lead'"
                      [labelName]="'Lead details'" [titleName]="'Lead details'" [Placeholder]="'Search leads'" [IsSpecialBtn]=false
                      [IsinitialsView]=false [showSelected]=false [IsSearchDatabase]=false
                      [isSearchLoader]='isSearchLoader' (advanceLookUp)="advanceLookUpSearch($event)"
                      [MandtErrorFlag]="leadDtlErr" [Isdisabled]='linkDtlsDisabled || otherLeadDisabled || disabledFlag'>
                    </app-auto-complete-select>
                  </div>
                </div>
              </form>
            </div>
                    </div>
                    <!-- link leads advance lookup ends -->

                    <!--if campaign-->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left " *ngIf = "leadSrcDtlId == 3">
              <div *ngIf = "!linkDtlsDisabled"
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  cust_autoComplete pos-rel plb-60-20 h100  Vertical_Owner">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="leadDetail"
                  class="label-form">Lead details
                  <span class="required"> *
                  </span>
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">
                  <div class="flex-grow-1">
                    <app-auto-complete-select [requiredField]="true" [source]="leadDetailsList" (content)="getCampaignData($event)"
                      [dataHeader]="leadDtlObj" (SelectedData)="selectCampaign($event)" [IsApiCall]="true"
                      [details]="leadDetails" [detailsId]="leadDtlId" [selectedObj]="leadSelected" [dataSource]="'Lead'"
                      [labelName]="'campaign'" [titleName]="'Lead details'" [Placeholder]="'Search leads'" [IsSpecialBtn]=false
                      [IsinitialsView]=false [showSelected]=false [IsSearchDatabase]=false
                      [isSearchLoader]='isSearchLoader' (advanceLookUp)="advanceLookUpSearch($event)"
                      [MandtErrorFlag]="leadDtlErr" [Isdisabled]='linkDtlsDisabled || otherLeadDisabled || disabledFlag'>
                    </app-auto-complete-select>
                  </div>
                </div>
              </form>
            </div>
                    </div>

                    <!--if events-->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left "  *ngIf = "leadSrcDtlId == 4">
              <div *ngIf = "!linkDtlsDisabled"
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  cust_autoComplete pos-rel plb-60-20 h100  Vertical_Owner">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="event"
                  class="label-form">Lead details
                  <span class="required"> *
                  </span>
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">
                  <div class="flex-grow-1">
                    <app-auto-complete-select [requiredField]="true" [source]="leadDetailsList" (content)="getEventData($event)"
                      [dataHeader]="leadDtlObj" (SelectedData)="selectCampaign($event)" [IsApiCall]="true"
                      [details]="leadDetails" [detailsId]="leadDtlId" [selectedObj]="leadSelected" [dataSource]="'Lead'"
                      [labelName]="'event'" [titleName]="'Lead details'" [Placeholder]="'Search leads'" [IsSpecialBtn]=false
                      [IsinitialsView]=false [showSelected]=false [IsSearchDatabase]=false
                      [isSearchLoader]='isSearchLoader' (advanceLookUp)="advanceLookUpSearch($event)"
                      [MandtErrorFlag]="leadDtlErr" [Isdisabled]='linkDtlsDisabled || otherLeadDisabled || disabledFlag'>
                    </app-auto-complete-select>
                  </div>
                </div>
              </form>
            </div>
                    </div>

                    <!--comment starts here-->
                    <div *ngIf="showText" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">
                        <label for="record" class="float-left label-form rel-top-18 padding_top_5">
                          Comments* </label>
                            <span class="label-form pl5" *ngIf="textValue.value?.length == 0"> (2000 characters)</span>
                            <span class="label-form pl5" *ngIf="textValue.value?.length > 0 && textValue.value?.length < 1999">
                              ({{ 2000 - textValue.value?.length}} characters left)</span>
                            <span class="label-form pl5" *ngIf="textValue.value?.length === 1999 || textValue.value?.length === 2000">
                              ({{ 2000 - textValue.value?.length}} character left)</span>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad ">
                        <label for="record" class="col-12 float-left no_pad label-form rel-top-18">
                        </label>
  
                        <textarea #textValue rows="5" id="record" maxlength="2000" [ngClass]="commentErr?'orangeborder':''" [disabled] = "otherLeadDisabled || disabledFlag"
                          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left rel-top-18  text-area-content1" [(ngModel)] = "otherComment"></textarea>
  
                      </div>
                    </div>
                    <!--comment ends here-->
                  </div>
                </div>
              </div>
            </div>
          <!-- </mat-radio-group> -->
        </div>
        <div class="col-12 no_pad float-left" id="scrollDiv1"></div>
        <div class="col-12 no_pad float-left" id="scrollDiv"></div>   
      </perfect-scrollbar>
      <div class="col-12 float-left no_pad mt10 scrollHere">
        <button aria-label="ADD" class="col-6 float-left no_pad cancel-btn1" mat-dialog-close>Cancel</button>
        <button aria-label="ADD" class="col-6 float-left btndef-none no_pad confrm-btn mt15 bg-azure" [ngClass]="disabledFlag?'disabled-control':''" [disabled]="disabledFlag" 
         (click)="onSave()">Save</button>
      </div>
    </div>
  </div>
  <!-- lead-details ends here -->