<!-- sap popup starts here -->
<div class="col-12 float-left  no_pad popup-container popup-container-opportunity deal-qualify ">
    <div class="col-12 float-left  container-dialog no_pad">
         <ng-container *ngIf="isLoading">
                    <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
                            <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                                <div class="loaderContainer">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
        <div class="col-12 float-left">
            <div class="col-12 float-left mb10 no_pad popup-hd">
                <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Request for SAP customer code</span>
                <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn" aria-label="close" mat-dialog-close></button>
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad slpop">
            <div class="float-left convo-name-title">An email notification will be sent to FIFIDUS team for creating SAP customer code for the Account marking the requester.</div>

        </div>

        <perfect-scrollbar style="max-height:300px">
            <div class="col-12 float-left">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt10">

                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                        <label for="field3" class="col-12 float-left no_pad w-100 label-text">Account name</label>
                        <span id="field3" type="text" class="col-12 float-left no_pad sub-text ellipses" title="{{AccountDetails?.Name}}">{{AccountDetails?.Name}}</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                        <label for="field3" class="col-12 float-left no_pad w-100 label-text">Account number</label>
                        <span id="field3" type="text" class="col-12 float-left no_pad sub-text ellipses">{{AccountDetails?.AccountNumber}}</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                        <label for="field3" class="col-12 float-left no_pad w-100 label-text">Geography</label>
                        <span id="field3" type="text" class="col-12 float-left no_pad sub-text ellipses">{{GeoName}}</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                        <label for="field3" class="col-12 float-left no_pad w-100 label-text">Vertical</label>
                        <span id="field3" type="text" class="col-12 float-left no_pad sub-text ellipses" title="{{verticalName}}">{{verticalName}}</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                        <label for="field3" class="col-12 float-left no_pad w-100 label-text">Currency</label>
                        <span id="field3" type="text" class="col-12 float-left no_pad sub-text ellipses">{{currencyName}}</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                        <label for="field3" class="col-12 float-left no_pad w-100 label-text">Account owner</label>
                        <span id="field3" type="text" class="col-12 float-left no_pad sub-text ellipses">{{AccountDetails?.OwnerName}}</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                        <label for="field3" class="col-12 float-left no_pad w-100 label-text">Address</label>
                        <span id="field3" type="text" class="col-12 float-left no_pad sub-text ellipses" title="{{AccountDetails?.Address}}">{{AccountDetails?.Address}}</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                        <label for="field3" class="col-12 float-left no_pad w-100 label-text">Opportunity won</label>
                        <span id="field3" type="text" class="col-12 float-left no_pad sub-text">No</span>
                    </div>

                </div>

                <div class="col-12 float-left border-bottom-grey mt10"></div>

                <div class="col-12 no_pad float-left border_top mt10">
                    <div class="col-12 no_pad float-left fixedHeightAlign">



                        <!-- customer name starts here -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left mt20 ">
                            <div class="customized-input">
                                <label for="field1" class="w-100 label-form">Customer name* </label>
                                <input autofocus id="field1" [(ngModel)]="customerName" type="text" maxlength="100" class="border-gray w-100 cp" [appAlphaNumeric] = "'text'" value="" placeholder="Full legal name (As per MSA)" (ngModelChange)="dataValidation($event,'Customer')" [ngClass]="customerNameFlag?'orangeborder':''"
                                    required>
                            </div>
                        </div>
                        <!-- customer name ends here -->


                        <!-- company entity ends here -->

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left  plb-60-20 mt-20-mob web-select-box h100 mt20">
                            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="CompanyEntity" class="label-form">Company entity
                </label>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex Vertical_Owner">
                                    <div class="flex-grow-1">
                                        <app-auto-complete-select [requiredField]="false" [source]="entityArray" (content)="getCompanyEntity($event)" [labelName]="'CompanyEntity'" [titleName]="'Company entity'" [Placeholder]="'Enter company entity'" [selectedObj]="selectedEntityObj" [Isdisabled]=false
                                            (SelectedData)="selectedCompanyEntityObj($event)" [IsApiCall]=true [details]="entityName" [dataHeader]="dataHeader" [detailsId]="entityID" [IsinitialsView]=false [isSearchLoader]='isSearchLoader' (advanceLookUp)="advanceLookUpSearch($event)">
                                        </app-auto-complete-select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left  plb-60-20 mt-20-mob web-select-box h100 mt20">
              <label for="source1" class="w-100 label-form">Company entity</label>
              <mat-form-field class="col-12 no_pad float-left">
                <mat-label>Select source</mat-label>
                <mat-select disableOptionCentering panelClass="Select-panel-class" [(ngModel)]="companyentity"
                    class="select-focus mat-select {{service.getSelectedClass(companyentity)}} cursor"
                    name="companyentity" id="companyentity" role="listbox">
                    <mat-option value="" selected hidden disabled>Select company entity</mat-option>
                    <mat-option value="val1">WT01</mat-option>
                    <mat-option value="val2">WT11</mat-option>
                    <mat-option value="val3">WT51</mat-option>
                    <mat-option value="val3">WT52</mat-option>
              </mat-select>
              </mat-form-field>
            </div>
            <div class="customized-select mobile-select-box">
              <span class="caret color-azure"></span>
              <select id="companyentity" name="companyentity" role="listbox" class="pad-left10">
                <option value="val1">WT01</option>
                <option value="val2">WT11</option>
                <option value="val3">WT51</option>
                <option value="val3">WT52</option>                
              </select>
            </div> -->
                        <!--company entity ends here -->

                        <!-- crm account number starts here -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left mt20">
                            <div class="customized-input">
                                <label for="field1" class="w-100 label-form">CRM account number </label>
                                <input id="estimatedRFI" type="text" class="border-gray w-100 cp" value="" placeholder="ACC200046753" [(ngModel)]="AccountDetails.AccountNumber" disabled>

                            </div>
                        </div>
                        <!-- crm account number ends here -->


                        <!-- vertical starts here -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left mt20">
                            <div class="customized-input">
                                <label for="field1" class="w-100 label-form">Vertical* </label>
                                <input autofocus id="field1" type="text" maxlength="100" class="border-gray w-100 cp" value="" [(ngModel)]="verticalName" placeholder="Select vertical" required disabled>

                            </div>
                        </div>
                        <!-- country name ends here -->


                        <!-- address starts here -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left mt20 ">
                            <div class="customized-input">
                                <label for="field1" class="w-100 label-form">Address (As per MSA)* </label>
                                <input autofocus id="field1" type="text" maxlength="100" class="border-gray w-100 cp" [appAlphaNumeric] = "'text'" value="" placeholder="Street/number" [(ngModel)]="address" (ngModelChange)="dataValidation($event,'address')" [ngClass]="addressFlag?'orangeborder':''" required>
                            </div>
                        </div>
                        <!-- address ends here -->

                        <!-- postal code starts here -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left mt20">
                            <div class="customized-input">
                                <label for="field1" class="w-100 label-form">Postal code/city* </label>
                                <input autofocus id="field1" type="text" maxlength="100" class="border-gray w-100 cp" [appAlphaNumeric] = "'text'" value="" placeholder="Enter postal code" [(ngModel)]="cityName" (ngModelChange)="dataValidation($event,'city')" [ngClass]="cityFlag?'orangeborder':''" required>
                                <!-- <p class="col-12 no_pad float-left validation-text top50">Customer
                  name is mandatory.</p> -->

                            </div>
                        </div>
                        <!-- postal code ends here -->


                        <!-- country name starts here -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left  mt20">
                            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical" class="label-form">Country name*</label>

                            <mat-form-field *ngIf="!(service.MobileDevice)" class="col-12 no_pad float-left web-select-box">
                                <mat-select disableOptionCentering panelClass="Select-panel-class" [(ngModel)]="selectedCountry" class="select-focus mat-select {{service.getSelectedClass(selectedCountry)}} cursor" name="countryname" id="countryname" role="listbox" [ngClass]="countryFlag?'orangeborder':''"
                                    (ngModelChange)="dataValidation($event,'country')">
                                    <mat-option value="" selected hidden disabled>Select country name</mat-option>
                                    <mat-option [value]="item.CountryId" *ngFor="let item of CountryList">{{item.Name}}</mat-option>

                                    <!-- <mat-option value="val1">Country name 1</mat-option>
                  <mat-option value="val2">Country name 2</mat-option>
                  <mat-option value="val3">Country name 3</mat-option> -->
                                </mat-select>
                            </mat-form-field>

                            <div *ngIf="service.MobileDevice" class="customized-select mobile-select-box">
                                <span class="caret color-azure"></span>
                                <select id="countryname" name="countryname" role="listbox" class="pad-left10" [(ngModel)]="selectedCountry" (ngModelChange)="dataValidation($event,'country')">
                  <option value="" selected hidden disabled>Select country name</option>
                  <option [value]="item.CountryId" *ngFor = "let item of CountryList">{{item.Name}}</option>
                </select>
                            </div>
                        </div>
                        <!-- country name ends here -->


                        <!-- Region starts here -->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left mt20">
                            <div class="customized-input">
                                <label for="field1" class="w-100 label-form">Region* </label>
                                <input autofocus id="field1" type="text" maxlength="100" class="border-gray w-100 cp" value="" placeholder="" [(ngModel)]="selectedRegionName" [disabled]=true>

                            </div>
                        </div>
                        <!-- Region ends here -->


                    </div>
                </div>

                <!-- Select radio STARTS -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left mt20">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form mr-btm10" id="key">
                        Signed MSA available*</div>
                    <mat-radio-group class="float-left mt12" aria-labelledby="key" (change)="showhideattachbutton($event)" name="attachRadioBttns">
                        <mat-radio-button value="yes" class="pr30 label-form-blue radio-fontfamly" [checked]="yesChecked">Yes
                        </mat-radio-button>
                        <mat-radio-button value="no" class="label-form-blue radio-fontfamly" [checked]="noChecked">No
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div *ngIf="showContent" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad ">
                    <div class="float-left convo-name-title1">Please procure the approval from BFM</div>

                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad " *ngIf="showAttach">
                    <div class="float-left convo-name-title1">Attach signed MSA </div>
                    <div class="customized-select">
                        <button (click)="openAttachFilePopup()" class=" primary-button attach-btn align-items-center float-left ml20">
              <span class="mdi mdi-attachment attach-icon "> </span> Attach Files </button>
                    </div>
                </div>
                <!-- Select radio ENDS -->

                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 float-left no_pad " *ngIf="showAttach">

                    <section class="float-left col-12 no_pad mt-10" *ngFor="let item of service.uploadedFiles;let i=index">

                        <div class="col-xl-7 col-lg-7 col-md-6 col-5 pl-0 float-left d-flex">
                            <div class="float-left naming-tags-square pad-7 child-middle bg-azure">
                                <span class="initials mdi mdi-file-document font-20" id="inti_name-kb"></span>
                            </div>
                            <label for="inti_name-kb " class="float-left pos-rel pl10 name-sq padLR-10 border-std color-azure mx-width-90per">
                <div class="tag color-label_gray padding-left5 ellipses " title="{{item.name}}">
                  {{item.name}}</div>
                <span class="float-right mdi mdi-window-close color-azure onone cp" role="button" tabindex="0"
                  (click)="removeUploadFiles(i)">
                  <span class="sr-only">Remove attachment
                  </span>
                </span>
              </label>
                        </div>
                    </section>

                </div>
                <div class="col-12 no_pad float-left" id="scrollToAttachedFiles"></div>



            </div>
        </perfect-scrollbar>

        <div class="col-12 float-left no_pad ">
            <button aria-label="ADD" class="col-6 float-left no_pad cancel-btn1" mat-dialog-close>Cancel</button>
            <button aria-label="ADD" class="col-6 float-left btndef-none no_pad confrm-btn mt15 bg-azure" (click)="onSubmit()" (keypress)="onSubmit()">Submit</button>
        </div>
    </div>
</div>
<!-- sap popup ends here -->