<form #myForm="ngForm">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  opportunity-landing-container pt0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left top-24 pl0 pr0">
    <ng-container *ngIf="isLoading">
      <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
              <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                  <div class="loaderContainer">
                      <div class="loader"></div>
                  </div>
              </div>
          </div>
      </div>
  </ng-container>


    <div class="col-12 float-left card no_pad pad-top20">
      <div class="col-12 card-content float-left pad-create-lead1 mobile-no_pad">
        <div class="col-12 col-lg-8 col-xl-8 float-left ">
          <h2 class="col-12 col-lg-6 col-xl-6  float-left no_pad heading-level-two pad-top-8">Opportunity team</h2>
        </div>
        <div class="teamGuideLink" >
          <!-- [ngClass] = "isReadOnly ? 'removePointer' : ''" -->
          <span class="pad10 ellipses float-left w-150 cp" role="link" (click) = "navigateToGuidelines()" >Team guidelines</span>
        </div>

      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-create-lead mobile-no_pad">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20" *ngIf = "!isReadOnly">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="accountName" class="label-form">SBU head</label>
              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text " id="SBUOwnerName" name="SBUOwnerName"
                type="text"  autocomplete="off" [(ngModel)]="sbuOwnerName" [title] = "sbuOwnerName ? sbuOwnerName : ''" disabled>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20" *ngIf = "!isReadOnly">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="orderNumber" class="label-form">Vertical head</label>
              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text " id="verticalOwnerName" name="verticalOwnerName"
                type="text"  [(ngModel)]="verticalOwnerName" autocomplete="off" [title] = "verticalOwnerName ? verticalOwnerName : ''" disabled>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20" *ngIf = "!isReadOnly">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="opportunityName" class="label-form">Vertical pre sales head</label>
              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text " id="salesHeadName" name="salesHeadName" [(ngModel)] = "salesHeadName"
                type="text" autocomplete="off" [title] = "salesHeadName ? salesHeadName : ''" disabled>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20" *ngIf = "isReadOnly">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">SBU head</label>
                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad text-data">{{sbuOwnerName}}</span>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20" *ngIf = "isReadOnly">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">Vertical head</label>
                <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad text-data">{{verticalOwnerName}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20" *ngIf = "isReadOnly">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">Vertical pre sales head</label>
            <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad text-data">{{salesHeadName}}</span>
      </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 float-left no_pad pos-rel top-40 mb20">
      <div class="float-left cardsHead">
        Team members({{tableTotalCount}})
      </div>
    </div>

   <div class="parent-container new-resp-tbl pos-rel top-neg-25" *ngIf="OpportunityTeamsTable.length>0">
      <app-editable-expansion-table (detectActionValue)="performTableChildAction($event)"  (detectPageChangeData)="getNewTableData($event)" [TableName]="'OpportunityTeams'" [TableCollection]="OpportunityTeamsTable"
        [IsFreezedColumn]=true [IsActionFixed]=true [IsCustomizeTable]=true [IsMoreAction]=true [IscheckBoxRequired]=true
        [IsDeleteTeamMember]=true [IsInitialsRequired]=true [IsEdit]=true [ConfigData]="configData"
        [paginationPageNumber]="paginationPageNo"
        [totalTableCount]="tableTotalCount" [ExpansionTable]="'app-opportunity-expansion-team'"
         [hideAddNewMember]="hideAddNewMember" [IsAddNewResource] = true [bgParentColor]="'bgWhiteContainer'"
         [orderByName]="'_Role'" [serviceSearch] = "serviceSearch" [hideSort] = "hideSort"
         [filterConfigData]="filterConfigData">
      </app-editable-expansion-table>
    </div>


  </div>
</div>
</form>
