<div class="col-12 no_pad whiteBackground">

  <div class="col-12 no_pad float_lft">
    <div class="col-12 cardPadd15 float-left">
      <div class="float_lft col-12 no_pad">
        <mat-accordion class="col-12 no_pad float_lft">
          <!--Sprint 1 meeting details page DA starts here-->
          <mat-expansion-panel class="col-12 no_pad float_lft" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span> Customer contacts
                  <span *ngIf="topFiveContacts.length > 0">({{topFiveContacts.length}})</span>
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="width100">
              <p class="width100">Customer contacts with relationship scores
                & win percentage.</p>

              <table class="col-12 no_pad float_lft customer-contact-table">
                <thead>
                  <tr>
                    <th class="col-7 no_pad float-left">Customer name</th>
                    <th class="col-2 no_pad float-left">Win %</th>
                    <th class="col-3 no_pad float-left">Rel.score</th>
                  </tr>
                </thead>
                <perfect-scrollbar class="viewport" style="max-height:200px;height:200px;">
                  <tbody>
                    <tr *ngFor="let contact of topFiveContacts; let i=index">
                      <td class="col-7 no_pad float-left">
                        <div class="col-12 no_pad float-left">
                          <span class=" oval3 circle_clr float-left" [ngClass]="contact.colorName" type="button"
                            id="circle_clr" style="height:40px;color:#ffffff;border:none">
                            {{contact.initials | uppercase }}</span>
                          <div class="col-8 no_pad border_property float-left" role="button" tabindex="0" aria-label="user info">
                            <span class="col-12 head ellipses float-left" title="{{contact.name}}">
                              {{contact.name}}
                            </span>
                            <span class="col-12 sub_head float-left">{{contact.JobTitle}}</span>
                          </div>
                        </div>
                      </td>
                      <td class="col-3 no_pad float-left">
                        <circle-progress *ngIf="contact.winPercent" [percent]="contact.winPercent" [radius]="100"
                          [showInnerStroke]="false" [outerStrokeColor]="'#70be4b'" [innerStrokeColor]="'#C7E596'"
                          [animation]="true" [animationDuration]="300" [lazy]="false" [showUnits]="false"
                          [showSubtitle]="false" [titleFontSize]="50" [toFixed]="1" [outerStrokeWidth]="24">
                        </circle-progress>
                        <span *ngIf="!contact.winPercent">N.A</span>
                      </td>
                      <td class="col-2 no_pad color-green float-left">
                        {{contact.relationshipScore ? contact.relationshipScore : 'N.A'}}
                      </td>
                    </tr>
                    <tr *ngIf="topFiveContacts.length < 1">
                      <td colspan="3">
                        <div class="noRecordsFound">
                          No records found.
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </perfect-scrollbar>
              </table>
            </div>
          </mat-expansion-panel>
          <!--Sprint 1 Meeting details page DA ends here-->
        </mat-accordion>
      </div>
    </div>
  </div>
</div>