

$white: #ffffff;
$FadedWhite: #fafbfc;
$Grey: #9b9b9b;
$DarkGrey: #4a4a4a;
$BorderGrey: #979797;
$LightGrey: #b1b1b1;
$MidGrey: #343434;
$footer-border: #d5d2d2;
$Standardblue: #0e3570;
$LightBlue: #2f81ff;
$FadedBlue: #879fc2;
$OpacityBlue: #eef5ff;
$StandardGreen: #6dc24b;
$LightGreen: #c5e7b7;
$FontGreen: #24ac51;
$Black: #000000;
$StandardRed: #ef3341;
$StandardYellow: #ffda29;
$managerLoginBorder: rgba(0, 0, 0, 0.08);
$managerFormBorder: rgba(0, 0, 0, 0.15);
$loginLabel: #9b9b9b;
$loginBtn: #2f81ff;
$LighterGrey: #e5e5e5;

/*lakshman 25-sep-2018 */
$nominationBlack: #353535;
$preproposebtn: rgba(234, 246, 238, 0.8);

$error_text: red;
/* lakshman 28-sep-2018 */
$warmBlue: #306bd8;
/* lakshman oct 5 */
$greyish: #a6a6a6;
/* lakshman oct 5 */
$lightblue: #d9e9ff;
/*ritika 22-sep-2018*/

$statusBlue: #708cb6;
/* lakshman 12-oct-18 */
$dullWhite: #e7ebf2;
/* lakshman 12-oct-18 */
$labelGrey: #6f6f6f;
/* lakshman 15-oct-18 */
$valueGrey: #cfcfcf;
/* lakshman 15-oct-18 */
$darkBlue: #103f86;
/* lakshman 15-oct-18 */

// Quantum 8.2 new colors
$BlueSoftBG: #eaf2ff;
$DeepBlue: #2f81ff;

body {
  overflow-x: hidden;
  // background-color: #f9f9f9;
  font-family: "WiproAkkuratTT-Regular";
}

.mat-card {
  font-family: "WiproAkkuratTT-Regular";
}

.mat-form-field-wrapper {
  font-family: "WiproAkkuratTT-Regular";
}

// ***********************************CHAT BOT STARTS********************************//
.chatTabs {
  position: relative;
  top: -45px;
}

.btn_none {
  background-color: transparent;
  border: none;
}

.no_pad {
  padding-left: 0px;
  padding-right: 0px;
}

.chat-containt-250 {
  width: 330px;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  animation: mymove3 1s;
  animation: fadein 1s;
  animation: fadein1 1s;
}

@keyframes mymove3 {
  from {
    width: 0px;
  }

  to {
    width: 330px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  // 50% {opacity: 0.5}
  100% {
    opacity: 1;
  }
}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.chat-containt-0 {
  width: 0px;
  display: none;
}

.chat-bot-1100 {
  width: 1020px;
  animation: mymove1 1s;
}

@keyframes mymove1 {
  from {
    width: 1300px;
  }

  to {
    width: 1020px;
  }
}

.d-none {
  display: none;
}

.ChatBOT_container {
  .mat-form-field>.mat-form-field-wrapper>.mat-form-field-underline>.mat-form-field-ripple {
    background: $DeepBlue !important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: $DeepBlue;
  }

  .chatInDiv {
    height: -webkit-fill-available;
    min-width: -webkit-fill-available;
    background: $white;
    width: 100%;
    // animation: mymove4  1s;

    // lakshman style nov 13

    .pad10 {
      padding: 10px;
    }

    .bg_blue {
      background: #e5f0ff;
      border-radius: 5px;
    }

    .cl_blue {
      color: #2f81ff;
    }

    .content_center {
      display: flex;
      justify-content: center;
    }

    .no_display {
      display: none;
    }

    .show_display {
      display: block;
    }

    .bg_index {
      background: white;
      z-index: 999999;
    }

    .option_box {
      position: absolute;
      float: right;
      background: white;
      z-index: 9999999;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }

    .icon_pad {
      padding: 10px 10px 5px 20px;
    }

    // lakshman style nov 13 end
    .btn-primary {
      background-color: #ef3341;
      border-color: #ef3341;
      color: #ffffff;
      font-family: "akkuratstd", sans-serif;
      font-size: 100%;
      font-style: normal;
      letter-spacing: normal;
      font-variant: normal;
      font-weight: 300;
      border-radius: 20px;
      /*#0036b3*/
      /*#1f8ceb*/
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .open .dropdown-toggle.btn-primary,
    .btn-primary.active:hover,
    .btn-primary.active:focus {
      background-color: #ef3341;
      border-color: #ef3341;
      color: #ffffff;
    }

    .btn-white {
      background: rgb(155, 128, 128);
      border: 2px solid #ef3341;
      white-space: normal;
      word-wrap: break-word;
      width: 348px;
      margin-bottom: 5px;
      text-align: left;
      color: #ef3341;
      text-align: center;
      font-family: "akkuratstd", sans-serif;
      font-size: 100%;
      font-style: normal;
      letter-spacing: normal;
      font-variant: normal;
      font-weight: 400;
      border-radius: 20px;
    }

    .btn-white:hover {
      background: #ef3341;
      color: white;
    }

    #user-message {
      font-weight: 300;
      /* font :normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;*/
      font-family: "akkuratstd", sans-serif;
      // font-size: 120%;
      height: 40px;
    }

    // .form-control:focus,
    // .single-line:focus {
    //   border: 1px solid lightgrey !important;
    // }

    input::-webkit-input-placeholder {
      color: #ccc !important;
    }

    .form-chat {
      position: relative;
      /*top: 1px;*/
    }

    .ellaspeakin img {
      width: 100%;
      height: 60px;
    }

    .form-chat .ellaspeakin {
      width: auto;
      height: 56px;
      display: none;
    }

    /*
.displayChat{
display : none;
}
*/

    input[type="button"] {
      background: white;
      border: 2px solid #ef3341;
      white-space: normal;
      word-wrap: break-word;
      width: 348px;
      margin-bottom: 5px;
      text-align: left;
      color: #ef3341;
      text-align: center;
      font-family: "akkuratstd", sans-serif;
      font-size: 100%;
      font-style: normal;
      letter-spacing: normal;
      font-variant: normal;
      font-weight: 400;
      border-radius: 20px;
    }

    input[type="button"]:hover {
      background: #ef3341;
      color: white;
    }

    #messages {
      position: absolute;
      bottom: 7px;
      top: 10px;
      right: 10px;
      left: 10px;
    }

    .pull-right.right-space {
      margin-right: 25px;
    }

    #messages .slimScrollDiv {
      position: absolute !important;
      overflow: auto !important;
      min-height: auto;
      top: 45px;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100% !important;
    }

    #messages .slimScrollDiv .content {
      overflow: hidden;
      width: auto;
      position: absolute;
      /*overflow-y: scroll !important;*/
      bottom: 102px;
      top: 0%;
      left: 0;
      right: 0;
      height: auto !important;
      background: #fff;
      border-radius: 4px;
    }

    .widget .col-xs-5 h4 {
      margin: 0;
      line-height: 32px;
    }

    #messages .dropup {
      position: absolute;
      bottom: 7%;
      right: 0;
      left: 0;
      z-index: 9999;
    }

    #messages .form-chat {
      top: auto;
      // position: absolute;
      bottom: 0px;
      right: 0;
      left: 0;
      z-index: 9999;
    }

    div.container {
      width: 100%;
      border: 1px solid gray;
      padding-left: 0px;
      padding-right: 0px;
    }

    header {
      padding: 1em;
      color: white;
      background-color: black;
      clear: left;
      text-align: center;
      height: 50px;
    }

    body {
      background-color: transparent;
    }

    #ul_cards ul,
    li {
      margin: 0;
      padding: 0;
    }

    .chat-message.agentMsg .col-lg-6 {
      width: 100%;
    }

    form#login_form {
      display: none;
    }

    /*.recording {

background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);

}*/

    .input-group-sm>.input-group-btn>.btn .glyphicon.glyphicon-send {
      font-size: 17px;
    }

    #messages .form-chat .input-group-btn button {
      margin-left: 6px;
    }

    .pull-right.right-space button {
      padding: 0;
      margin-left: 15px;
      border-radius: 50%;
      height: 28px !important;
    }

    .pull-right.right-space button:active,
    .pull-right.right-space button:hover,
    .pull-right.right-space button:focus {
      color: #f2303b;
    }



    #title_frst {
      padding-right: 0px !important;
      padding-top: 18px;
      padding-bottom: 0px;
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 600;
      /* border-bottom: 2px solid #e4e3e3; */
    }

    #circle_spa {
      padding-left: 15px !important;
      padding-top: 15px;
    }

    
    .circle_clrGreen {
      background-color: #52c8a5;
    }

    .circle_clrred {
      background-color: red;
    }


    .topimg {
      width: 100%;
      height: 87%;
      background-size: cover;
    }

    .h-120 {
      height: 120px;
    }

    .nopad {
      padding: 0px;
    }

    .color_box {
      // padding: 7px 0px 7px 56px !important;
      background: #eaf2ff;
      color: #2f81ff;
      font-weight: 600;
      height: 40px;
      padding: 9px 0px;
    }

    .float_lft {
      float: left;
    }

    .float_rght {
      float: right;
    }

    .scnd_tab {
      margin: 11px 0px 13px 0px !important;
      padding: 0px !important;
    }

    .dropdwn_head {
      margin-top: -25px !important;
      width: 130px !important;
      color: #2f81ff;
    }

    .caret {
      margin-left: 123px !important;
      position: absolute !important;
      margin-top: 30px !important;
    }

    .mrgntp15 {
      margin-top: 15px;
    }

    .border_right_none {
      margin-top: 15px;
      margin-right: 10px;
    }

    .individualChatDiv {
      position: relative;
      display: inline-block;
      float: left !important;
      width: 100% !important;
      margin: 10px 0px 0px 0px !important;
    }

    .individualChatTitleDiv {
      padding: 10px 0px !important;
      // position: relative !important;
      display: inline-block !important;
      float: left !important;
      // width:70% !important;
    }

    .individualChatDiv>span {
      position: relative !important;
      float: right !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 25px !important;
      margin-top: 15px !important;
    }

    .marginRight_10 {
      margin-right: 10px !important;
    }

    .Rectangle {
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      position: relative !important;
      display: inline-block !important;
      float: left !important;
      height: 40px !important;
      background: none;
    }

    .Rectangle>span {
      position: relative !important;
      display: flex !important;
      width: 130px !important;
      height: 30px !important;
      background: #c5c5c5 !important;
      justify-content: center !important;
      align-items: center !important;
      border-radius: 15px !important;
      margin: auto !important;
    }

    .individualChatHistory {
      width: 100% !important;
      margin: 0 !important;
      padding: 10px 5px !important;
      position: relative !important;
      display: inline-block !important;
      float: left !important;
    }

    .individualChatHistory>.circle_spa {
      position: relative;
      display: inline-block;
      float: left;
      width: 100%;
    }

    .individualChatrightDiv {
      position: relative;
      display: flex;
      float: right;
      width: 50px;
      min-height: 100px;
      align-items: baseline;
    }

    .individualChatRightContent {
      position: relative;
      display: inline-block;
      float: right;
      width: auto;
    }

    .arrow_box {
      right: 0px !important;
      top: 50px !important;
      width: 200px !important;
      margin-top: 0px !important;
    }

    .arrow_box:before,
    .arrow_box:after {
      left: 60.5% !important;
    }

    .matop_10 {
      margin-top: 10px;
    }

    .icons {
      width: 100% !important;
      // position: absolute;
      bottom: 5px;
      z-index: 999999;
      height: 40px;
    }

    .attachments {
      z-index: 9999;
      position: absolute;
      float: left;
      left: 9px;
      top: 7px;
      font-size: 18px;
    }

    .iconAttachment {
      position: absolute;
      top: 0;
      z-index: 99;
      width: 35px;
      font-size: 20px;
      height: 40px;
      padding-left: 8px;
    }

    .octogramIcon {
      position: absolute;
      right: 144px;
      top: 5px;
      z-index: 99;
      font-size: 20px;
    }

    .happyIcon {
      position: absolute;
      right: 170px;
      z-index: 99;
      top: 5px;
      font-size: 20px;
    }

    .arrow_box>div {
      color: #3b9bc4;
      padding: 4px 2px 5px 11px;
    }

    .individualChatLeftDiv {
      position: relative;
      display: inline-block;
      float: left;
      width: 35px;
      min-height: 100px;
    }

    .popup:before {
      margin-left: 0px !important;
      left: unset !important;
      right: 25px !important;
    }

    .popup:after {
      margin-left: 0px !important;
      left: unset !important;
      right: 28px !important;
    }

    .popup {
      position: absolute !important;
      top: 65px !important;
      margin-top: 0px !important;
      right: 20px !important;
      width: 90% !important;
      border-radius: 4px !important;
      box-shadow: 0px 0px 2px 2px #eeeeee !important;
    }

    .mdi {
      cursor: pointer;
    }
  }

  // chatInDiV end line
  // @keyframes mymove4{
  //   from {width: 330px}
  //   to {width: 0px;}
  // }
  .mikebtn {
    position: absolute;
    right: -7px;
    color: $DeepBlue;
    font-size: 20px;
    top: 2px;
  }

  .hei70 {
    height: 70px;
    width: 100%;
  }

  .chatbtns {
    width: 90px;
    height: 30px;
    border-radius: 17px;
    background-color: #2f81ff;
    font-size: 14px;
    border: none;
    color: white;
  }

  .chatbtnsPlain {
    width: 90px;
    height: 30px;
    border-radius: 17px;
    font-size: 14px;
    background: transparent;
    border: none;
    color: $DeepBlue;
    margin-left: 15px;
  }

  .chatbtnsPlain:hover {
    background-color: $DeepBlue;
    color: white;
  }
}

.chatBotBackground .mat-tab-header {
  background-color: #2f81ff;
}

.chatBotBackground .mat-tab-header,
.chatBotBackground .mat-tab-label-container,
.chatBotBackground .mat-tab-labels {
  width: 100% !important;
}

.chatBotBackground .mat-tab-label {
  min-width: 0px !important;
  width: 50% !important;
  opacity: 1 !important;
}

.chatBotBackground .mat-tab-label-content {
  opacity: 0.6;
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}

.chatBotBackground .mat-tab-label-active .mat-tab-label-content {
  color: #fff !important;
  opacity: 1 !important;
}

.chatBotBackground .mat-tab-body-wrapper {
  background: #fff;
}

.chatBotBackground .padd15 {
  padding: 15px;
}

.chatsHed {
  color: #4a4a4a;
  font-size: 16px;
  font-family: WiproAkkuratTT-Bold;
  margin-top: 25px;
}

.bxShadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.moreOptionBtn {
  background: transparent;
  border: none;
  color: #4a4a4a;
  font-size: 20px;
  margin-top: 8px;
  outline: none;
  margin-right: 4px;
}

.moreTexts {
  font-family: WiproAkkuratTT-Bold;
  font-size: 12px;
  padding-left: 3px;
  color: #2f81ff;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
}

.actionBtns {
  color: #4a4a4a;
  font-size: 20px;
  padding: 1px 4px;
  outline: none;
}

.mt8 {
  margin-top: 8px;
}

.chatDate {
  width: 92px;
  height: 22px;
  border-radius: 11px;
  background-color: #d8d8d8;
  font-size: 11px;
  color: #fff;
  padding: 6px 20px;
  font-family: WiproAkkuratTT-Regular;
}

.leftChatPart {
  padding: 10px;
  border-radius: 0px 10px 10px 10px;
  background-color: #e5f0ff;
}

.marginTop15 {
  margin-top: 15px;
}

.chatCircle {
  height: 30px !important;
  width: 30px;
  border-radius: 50%;
  font-size: 12px;
  font-family: WiproAkkuratTT-Bold;
  text-align: center;
  outline: none;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.padding10 {
  padding: 10px;
}

.allCards {
  border-radius: 4px;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.allCardsHead {
  font-family: WiproAkkuratTT-Bold;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0e3570;
  margin-top: 0px;
}

.cardsP {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4a4a4a;
}

.cardsTDiv {
  padding: 5px;
  background-color: #f4f4f4;
}

.cardsTDiv table {
  background-color: #f4f4f4;
}

.cardsTDiv table thead tr {
  border-bottom: 1px solid #ccc;
}

.cardsTDiv table th {
  padding: 5px;
  font-size: 12px;
  color: #4a4a4a;
}

.cardsTDiv table td {
  padding: 8px 5px;
  font-size: 11px;
  color: #4a4a4a;
}

.cardsTDiv .firstTD {
  color: #0e3570 !important;
  font-family: WiproAkkuratTT-Bold !important;
}

.cardPadd15 {
  padding: 15px 15px 5px 15px;
}

.expectedrev {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: #0e3570;
}

.expectedval {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  color: #4a4a4a;
}

.firsLeftOpp {
  font-size: 13px;
  font-family: WiproAkkuratTT-Bold;
  color: #0e3570;
  font-weight: bold;
}

.firsRightOpp {
  font-family: WiproAkkuratTT-Bold;
  font-size: 13px;
  color: #4a4a4a;
}

.secondLeftOpp {
  font-family: WiproAkkuratTT-Regular;
  font-size: 13px;
  color: #0e3570;
}

.secondRightOpp {
  font-family: WiproAkkuratTT-Regular;
  font-size: 13px;
  color: #4a4a4a;
}

.lastOpp {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  font-weight: bold;
  color: #0e3570;
}

.margt10 {
  margin-top: 10px;
}

.percentValue {
  font-family: WiproAkkuratTT-Bold;
  font-size: 34px;
  font-weight: bold;
  color: #4a4a4a;
}

.showMLBtn {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  font-weight: bold;
  color: #2f81ff;
  background: transparent;
  border: none;
  margin-top: 10px;
  float: left;
}

.showThis {
  display: block;
}

.hideThis {
  display: none;
}

.alignRight {
  text-align: right;
}

.mrgBtm5 {
  margin-bottom: 5px;
}

.namesBorder {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.circle_clrBlue {
  background: #2f81ff;
}

.circle_clrGrn {
  background: #6dc24b;
}

.circle_clrRed {
  background: #ef3341;
}

.chartBtns {
  background-color: #ffffff;
  border: 1px solid #2f81ff;
  color: #2f81ff;
  font-family: WiproAkkuratTT-Bold;
  font-size: 12px;
  padding: 4px 0px;
}

.listTexts {
  padding-left: 5px;
}

.chartBtns.active {
  color: #fff;
  background: #2f81ff;
}

.listBtn {
  border-radius: 4px 0px 0px 4px;
}

.graphBtn {
  border-radius: 0px 4px 4px 0px;
}

.palntable tbody tr:nth-child(2),
.palntable tbody tr:nth-child(4) {
  border-bottom: 1px solid #ccc;
}

.actualClr {
  float: left;
  background: #6dc24b;
  width: 20px;
  height: 7px;
  margin-right: 5px;
  margin-top: 4px;
}

.plannedClr {
  float: left;
  background: #00a2e0;
  width: 20px;
  height: 7px;
  margin-right: 5px;
  margin-top: 4px;
}

.legends {
  font-family: WiproAkkuratTT-Regular;
  font-size: 10px;
  color: #4a4a4a;
}

.legendsTop20 {
  margin-top: 20px;
}

.graphSelect .mat-select-value-textx {
  font-size: 12px;
  font-weight: bold;
  color: #4a4a4a;
  font-family: WiproAkkuratTT-Bold;
}

.graphSelect .mat-option {
  font-size: 12px !important;
  font-weight: bold !important;
  color: #4a4a4a !important;
  font-family: WiproAkkuratTT-Bold !important;
}

// .chatBotBackground .mat-tab-group.mat-primary .mat-ink-bar, .chatBotBackground .mat-tab-nav-bar.mat-primary .mat-ink-bar{
//   background-color: transparent !important;
//   border-bottom: 2px solid #fff !important;
// }
.chatBotBackground .mat-tab-label:not(.mat-tab-disabled):focus,
.chatBotBackground .mat-tab-link:not(.mat-tab-disabled):focus,
.chatBotBackground .mat-tab-group.mat-primary .mat-tab-label-active {
  background-color: transparent !important;
  border-bottom: 2px solid #fff !important;
}

.chatBotBackground .mat-tab-group.mat-primary .mat-ink-bar,
.chatBotBackground .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #fff !important;
}

////sumeet chatbot styles////
.form-control-chat {
  display: block;
  width: 135px;
  height: 32px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #2f81ff;
  color: #2f81ff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  float: left;
  padding-right: 10px;
  position: relative;
  // transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.mdi-checkbox-multiple-marked-outline:before {
  color: #2f81ff;
  padding-right: 10px;
}

.mdi-account-multiple {
  color: #2f81ff;
  font-size: 15px;
}

.mdi-account {
  color: #2f81ff;
  font-size: 15px;
}

.list_name {
  color: #2f81ff;
  font-size: 15px;
}

.chatcontainer {
  position: absolute;
  top: 3.3em;
  width: 135px;
  background-color: white;
  list-style-type: none;
  -webkit-padding-start: 11px;
  line-height: 30px;
  z-index: 9;
  border: 1px solid #2f81ff;
}

.chatcontainer li {
  cursor: pointer;
  font-size: 14px;
  font-family: WiproAkkuratTT-Bold;
}

.mdi-arrow-down-drop-circle {
  margin-left: 10px;
}

.caret-chat {
  display: inline-block;
  float: right;
  position: absolute;
  top: 32px;
  right: 1.5em;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-right: 6px solid #52494900;
  z-index: 99;
  color: #2f81ff;
  border-left: 6px solid transparent;
  pointer-events: none;
}

.mdi-account-multiple-plus-outline {
  color: #2f81ff;
  font-size: 23px;
  border-radius: 4px;
  margin-top: 15px;
  padding-left: 2px;
}

.chat-icon {
  border: 1px solid #2f81ff;
  height: 32px;
  width: 32px;
}

.more-option-chat {
  right: 1.5em;
  top: 8em;
  position: absolute;
  width: 150px;
  height: 176px;
  border-radius: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  line-height: 27px;
  z-index: 9;
}

.dropTxt {
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #2f81ff;
  padding-left: 5px;
}

.option-list {
  color: #2f81ff;
  font-size: 13px;
  height: 26px;
}

.option-list:hover span {
  font-weight: bold;
}

.caret-more {
  width: 42px;
  height: 10px;
  left: 7em;
  top: -0.7em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}

.caret-more:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 44px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
  left: -1px;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.4);
}

.rightChatPart {
  padding: 10px;
  border-radius: 10px 10px 0px 10px;
  background-color: #f3f3f3;
}

.chatCircleright {
  height: 30px !important;
  width: 30px;
  border-radius: 50%;
  font-size: 12px;
  font-family: WiproAkkuratTT-Bold;
  text-align: center;
  outline: none;
  float: right;
  display: flex;
  justify-content: center;
  padding: 9px;
  right: 0em;
}

.chat-font {
  font-family: WiproAkkuratTT-Regular;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  color: #4a4a4a;
}

.lefthead_chat {
  font-family: WiproAkkuratTT-Regular;
  font-size: 10px;
  letter-spacing: -0.2px;
  color: #2f81ff;
}

.righthead_chat {
  font-family: WiproAkkuratTT-Regular;
  font-size: 10px;
  letter-spacing: -0.2px;
  color: black;
}

.chatsection {
  width: 100%;
  height: 60px;
  background-color: #2f81ff;

  .insidechat {
    width: 93%;
    height: 35px;
    border-radius: 4px;
    margin: 13px;
    background-color: #ffffff;
  }

  .attach {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #e5f0ff;
  }

  .mdi-attachment {
    padding-left: 8px;
    transform: rotate(270deg);
    color: #2f81ff;
    font-size: 20px;
    padding-top: 4px;
    margin-left: -15px;
    background: #d9e9ff;
    border: none;
  }
}

.mdi-emoticon-happy {
  padding-left: 8px;
  color: #2f81ff;
  font-size: 20px;
  height: 35px;
  padding-top: 4px;
}

.mdi-new-box {
  padding-left: 8px;
  color: #2f81ff;
  font-size: 20px;
  padding-top: 4px;
  width: 35px;
  height: 35px;
  margin-right: -15px;
}

.chatBotBackground .padd4 {
  padding: 4px;
  position: relative;
}

.message-chat {
  border: none;
  font-size: 11px;
  margin-top: 9px;
  width: 100%;
  padding-left: 10px;
}

.more-chat-text {
  right: 0;
  top: 2em;
  position: absolute;
  width: 135px;
  height: 150px;
  border-radius: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  line-height: 27px;
  z-index: 9;
}

.mr10 {
  margin-right: 10px;
}

.rightChatPart .mdi-dots-horizontal {
  opacity: 0;
}

.leftChatPart .mdi-dots-horizontal {
  opacity: 0;
}

.rightChatPart:hover {
  .mdi-dots-horizontal {
    opacity: 1;
  }

  .rightChatPart:active {
    .mdi-dots-horizontal {
      opacity: 1;
    }
  }
}

.leftChatPart:hover {
  .mdi-dots-horizontal {
    opacity: 1;
  }

  .leftChatPart:active {
    .mdi-dots-horizontal {
      opacity: 1;
    }
  }
}

.circle_clrblue1 {
  background-color: #3b9bc4;
  position: absolute;
  bottom: 0;
}

///............20/11.............////
.mdi-account-multiple:before {
  margin-right: 10px;
}

.mdi-account:before {
  margin-right: 10px;
}

.moreTextes {
  font-size: 12px;
  margin-left: 5px;
  font-family: WiproAkkuratTT-Bold;
}

.loader1 {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.loaderContainer1 {
  width: 100%;
  top: 10em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}

.mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.posF {
  position: fixed;
}

.close-search {
  position: absolute;
  font-size: 20px;
  color: #4a4a4a;
  right: 2em;
  bottom: 11px;
}

.emptyresult {
  margin-top: 5em;
  width: 120px;
  height: 120px;
}

.border_property {
  cursor: pointer;
}

.Empaneled_txt {
  font-size: 14px;
  font-family: WiproAkkuratTT-Bold;
}

.paddOf15 {
  padding: 15px 15px 10px 15px;
}

.chatsPadng {
  padding: 0px 15px;
}

.marginTop10 {
  margin-top: 10px;
}

.rightChat {
  padding-right: 10px;
  margin-right: 30px;
}

.content_height perfect-scrollbar {
  margin-bottom: 10px;
}

@media only screen and (min-width: 1370px) {
  .viewport {
    height: 84vh !important;
  }
}

/********************emojis style starts here**************************/

.emoji-search {
  bottom: 35px;
  left: -34px;
  width: 332px !important;
}

.btnDef_none {
  background: transparent;
  border: none;
  outline: none;
}

.emojiInput input {
  width: 100%;
  padding: 7px 8px;
  border: none;
  outline: none;
}

/*****Sprint 5 DA css starts here*****/

.mat-expansion-panel-header-title {
  color: $Standardblue;
  font-size: 20px;
  font-family: WiproAkkuratTT-Bold;
}

.mat-expansion-indicator {
  position: absolute;
  left: 15px;
  top: 10px;
  transition: 0.5s ease;
}

.mat-expansion-indicator::after {
  border-width: 0 3px 3px 0 !important;
  padding: 4px !important;
  color: $Standardblue !important;
}

.mat-expansion-panel-header {
  padding: 0 24px 0px 40px !important;
}

.mat-expanded .mat-expansion-indicator {
  top: 24px !important;
}

.width100 {
  width: 100%;
}

.tile {
  background: #f9f9f9;
  padding: 10px 0px 10px 10px;
  float: left;
  border-radius: 4px;
}

.mat-expansion-panel-body {
  padding: 0px 15px 15px 15px !important;
  float: left;
  width: 100%;
}

.tiles-header {
  margin: 10px 0px;
  font-size: 18px;
  color: #2f81ff;
  font-family: WiproAkkuratTT-Bold;
}

.tiles-label {
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
  color: #4a4a4a;
  font-weight: normal;
}

.tiles-span {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: $Black;
  font-weight: bold;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tiles-btm-brder {
  border-bottom: 1px solid #bdbaba;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.inner-tiles:last-child .tiles-btm-brder {
  border-bottom: none;
  padding-bottom: 15px;
  margin-bottom: 0px !important;
}

.inner-tiles {
  padding-right: 15px !important;
}

.mat-expansion-panel {
  position: relative;
  margin-top: 10px !important;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
  float: left;
}

.margin-btm5 {
  margin-bottom: 5px !important;
}

.more-btn {
  background: transparent;
  border: none;
  color: $Standardblue;
  font-size: 20px;
}

.success-stories {
  color: $Standardblue;
  font-size: 16px;
  font-family: WiproAkkuratTT-Bold;
}

.background-gry {
  background: #f9f9f9;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mat-radio-outer-circle,
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #2f81ff !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #2f81ff !important;
}

.mt10,
.mat-radio-label {
  margin-top: 10px;
}

.download-btn {
  background: #d5e6ff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: #2f81ff;
}

.radio-div {
  background: #f9f9f9;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
}

.radio-div .mat-radio-label-content {
  font-size: 16px;
  font-family: WiproAkkuratTT-Bold;
  color: #2f81ff;
}

.mat-radio-label-content {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
}

//Sprint 1 css starts here
.customer-contact-table {
  border-collapse: separate;
  border-spacing: 0 4px;
  -webkit-border-vertical-spacing: 4px;
}

.customer-contact-table th,
.customer-contact-table td {
  padding: 8px;
  font-family: WiproAkkuratTT-Regular;
}

.customer-contact-table th {
  color: #c3aeba;
  font-size: 12px;
  font-family: WiproAkkuratTT-Bold;
}

.customer-contact-table tbody tr {
  background: #f9f9f9;
}

.circle-darkBlue {
  background: #0e356f;
}

.circle-darkPink {
  background: #ee3341;
}

.circle-darkYellow {
  background: #ffda28;
}

.circle-lightBlue {
  background: #2f81ff;
}

.circle-lightGreen {
  background: #6cc24a;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

svg:not(:root) {
  width: 60px;
  height: 60px;
}

.color-green {
  color: #70be4b;
  font-family: WiproAkkuratTT-Bold;
}

.color-pink {
  color: #ef3341;
  font-family: WiproAkkuratTT-Bold;
}

.color-orange {
  color: #f58323;
  font-family: WiproAkkuratTT-Bold;
}

.color-yellow {
  color: #ffda29;
  font-family: WiproAkkuratTT-Bold;
}

.color-LightBlue {
  color: $LightBlue;
  font-family: WiproAkkuratTT-Bold;
}

.font-bold {
  font-weight: bold;
}

.border-radius-5 {
  border-radius: 5px;
}

.insight-heads {
  margin: 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: WiproAkkuratTT-Bold;
  color: $Black;
}

.invoice-heads {
  margin: 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: WiproAkkuratTT-Bold;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.color-azure
{
  color: #2f81ff !important;
}
.table-insights td {
  font-size: 14px;
  padding: 5px 0px;
}

.insight-first-column {
  color: #647072;
}

.color-black {
  color: $Black;
  font-family: WiproAkkuratTT-Bold;
}

.tables-divider {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.tables-divider:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.label-text {
  font-size: 12px;
  color: #8c8c8c;
  font-family: WiproAkkuratTT-Regular;
  margin-bottom: 0px;
}

.span-text {
  font-size: 14px;
  color: $Black;
  font-family: WiproAkkuratTT-Regular;
}

.color-red {
  color: #ef365e;
  font-family: WiproAkkuratTT-Bold;
}

.view-all-btn {
  color: $LightBlue;
  font-family: WiproAkkuratTT-Bold;
  font-size: 18px;
}

.opportuities-ul {
  list-style-type: none;
}

.opportuities-ul li label {
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
  color: #8c8c8c;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 15px;
}

.opportuities-ul li span {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: $Black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.revenue-booked-table th,
.revenue-booked-table td {
  padding: 12px 8px;
  font-family: WiproAkkuratTT-Regular;
}

.revenue-booked-table th {
  color: #c3aeba;
  font-size: 13px;
  font-weight: normal;
}

.revenue-booked-table tbody tr {
  border-bottom: 1px solid #ccc;
}

.revenue-booked-table tbody tr:last-child {
  border-bottom: none;
}

.padd10 {
  padding: 10px;
}

.contacts-cards {
  background: #f9f9f9;
  border-radius: 5px;
  margin-top: 5px;
}

.mt-6 {
  margin-top: 6px;
}

.digital-heads {
  color: #0e3570;
  font-size: 18px;
  font-family: WiproAkkuratTT-Bold;
  padding: 9px 0px 0px 0px;
}

.view-digi-btn {
  width: 40px;
  background: #d5e6ff;
  border-radius: 50%;
  font-size: 24px;
  height: 40px;
  border: none;
  color: $LightBlue;
}

.km-heads {
  color: #0e3570;
  margin: 0;
  font-family: WiproAkkuratTT-Bold;
  font-size: 18px;
}

.vertical-more {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #0e3570;
  text-align: right;
  outline:none;
}

.solution-name {
  color: $LightBlue;
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  padding: 12px 0px;
  border-bottom: 1px solid #ccc;
}

.solution-name:last-child {
  border-bottom: 0px;
  padding: 12px 0px 5px 0px;
}

.disp-block {
  display: block;
}

.disp-none {
  display: none;
}

.mat-progress-bar {
  height: 10px !important;
}

.red-color-progress .mat-progress-bar-fill::after {
  background-color: #ef3341;
}

.orange-color-progress .mat-progress-bar-fill::after {
  background-color: #f58323;
}

.yellow-color-progress .mat-progress-bar-fill::after {
  background-color: #ffda29;
}

.green-color-progress .mat-progress-bar-fill::after {
  background-color: #6dc24b;
}

.progress-label {
  margin-bottom: 0px;
  font-size: 12px;
}

.progress-span {
  color: #103f86;
  font-family: WiproAkkuratTT-Bold;
  font-size: 18px;
}

.mb5 {
  margin-bottom: 5px;
}

.progress-value {
  font-size: 12px;
  color: #000;
}

.winLoss-head {
  color: #000;
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  margin: 10px 0px;
}

.winLoss-desc {
  color: $Black;
  font-size: 14px;
  font-family: WiproAkkuratTT-Regular;
 padding: 10px 5px;
}
.ellipsesWinLoss
{
   text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  
}

.brder-btm {
  border-bottom: 1px solid #ccc;
}

.orange-txt {
  color: #f58323 !important;
}

.values-txt {
  font-size: 12px;
  color: #000000;
  font-family: WiproAkkuratTT-Bold;
}

.opp-sectin {
  margin-bottom: 20px;
}

.opp-sectin:last-child {
  margin-bottom: 0px;
}

.reason-head {
  color: #4a4a4a;
  font-family: WiproAkkuratTT-Bold;
  font-size: 18px;
  margin: 10px 0px;
}

.percentage-green {
  color: $StandardGreen;
}

.percentage-orange {
  color: #f58323;
}

.percentage-red {
  color: #ef3341;
}

.lost-txt {
  font-size: 12px;
  margin-left: 10px;
  font-family: WiproAkkuratTT-Regular;
}

.lost-percentage {
  font-family: WiproAkkuratTT-Bold;
  font-size: 18px;
}

.question-text {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  color: $Black;
}

.approval-comments {
  color: #4a4a4a;
  font-size: 14px;
  font-family: WiproAkkuratTT-Regular;
}

.noRecordsFound {
  text-align: center;
  font-weight: bold;
  background: #ececec;
  padding: 15px;
}

.displayFlex {
  display: flex;
  flex-wrap: wrap;
}

.float-left {
  float: left !important;
}

.color-azure {
  color: #2f81ff !important;
  font-family: WiproAkkuratTT-Bold !important;
  cursor: pointer;
}

// 37674 bug fix starts here - meghana
.cursorDefault
{
  cursor: default !important;
}
.outlineNone
{
  outline:none !important;
}
// 37674 bug fix ends here - meghana
.winRatioHead
{
      font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    color: #8c8c8c;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 15px;
}
.font14
{
  font-size: 14px !important;
}
.pad-left-10
{
  padding-left: 10px !important;
}
.colorBlack
{
  color: #000;
}

// Scroll changed
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(146, 146, 146);
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}

.circle_clr {
    border: none;
    cursor: pointer;
    height: 40px !important;
    width: 40px;
    border-radius: 50%;
    font-size: 16px;
    font-family: WiproAkkuratTT-Bold;
    text-align: center;
    outline: none;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .head {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-top: 6px;
    font-family: WiproAkkuratTT-Bold;
    padding-left: 10px;
  }

  .sub_head {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 6px;
    font-family: WiproAkkuratTT-Regular;
    padding-left: 10px;
  }