<div class="top-header top-head-index insight" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">

      <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 float-left width_25">
        <button (click)="goBack()" class="mdi mdi-keyboard-backspace back-buttonbg" role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
      </div>

      <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left ">
        <h1 class="heading-level-one mtop-5">View indent</h1>
        <small class="colorWhite">Opportunities</small>
      </div>

    </div>
  </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  insight no_pad pad-lr-30">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-250"></div>
  <div class="col-12 float-left customized-accordians mtop-20 pad-lr-30">
    <!-- <mat-accordion> -->

    <!-- Indent details Accordian Starts-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0  mtop-130">

      <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="min-height:60px;" class="pad0">
          <mat-panel-title class="accord-heading">

            <div class="col-10 no_pad float-left">
              <span class="col-2 col-xl-1 col-lg-1 float-left"
                [ngClass]="panelOpenState ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
              <span class="col-10 col-xl-11 col-lg-11 accordian-title pad-top-8 float-left">Indents Details for order - #2005574</span>
            </div>

            <div class="col-2 no_pad float-left mt5">
              <button class="btn-none blue_circle_replay float-right_0 cp commonActionBtn" aria-label="service"
                matTooltip="service" (click)="openFeedbackPopup()">
                <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-square-edit-outline"></span>
              </button>
            </div>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="col-12 float-left border-bottom-grey"></div>
        <div class="col-12 col-sm-6 col-xs-6 col-lg-4 col-xl-4 no_pad float-left" *ngFor="let data of viewindent">

          <div class="col-12 col-sm-6 col-xs-6 col-lg-4 col-xl-4 no_pad float-left pad-topbtm">
            <label class="col-12 no_pad float-left data-head"> {{data.head}} </label>
            <span class="col-12 no_pad float-left table-data">{{data.subdata}} </span>
          </div>

        </div>

      </mat-expansion-panel>
    </div>
    <!-- Indent details Accordian Ends-->

    <!-- Indents Accordian Starts-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0 mb20 mt20">

      <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState1 = true"
        (closed)="panelOpenState1 = false">
        <mat-expansion-panel-header style="min-height:60px;">
          <mat-panel-title class="accord-heading">

            <span class="float-left"
              [ngClass]="panelOpenState1 ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
            <span class="accordian-title pad-top-8 float-left">Indents</span>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="col-12 float-left border-bottom-grey"></div>
        <span class="col-12 no_pad float-right note-text"> Indent Report (Data reported from SAP as on 28-May-2019
          17:30IST or GMT +05:30)
        </span>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left">
          <span class="col-12 no_pad float-left table-data"> Search Criteria </span>

          <!-- Select Pricing type dropdown  STARTS -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left mt20 mrnbot-10 no_pad">
            <label for="ordertype" class="w-100 label-form">Pricing type *</label>
            <div class="customized-select ">
              <span class="caret color-azure"></span>
              <select id="ordertype" role="listbox" required>
                <option value="Order">T & M</option>
                <option value="Order 1">Order 1</option>
                <option value="Order 2">Order 2</option>
                <option value="Order 3">Order 3</option>
              </select>
            </div>
          </div>
          <!-- Select Pricing type dropdown  ends here -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 float-left mar-top44">
            <button aria-label="search" class="float-left primary-button h-40 std save-responsive-btn button-wd50 mt10"
              >Search</button>
          </div>

        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 no_pad"  id="scoll_top">
            <perfect-scrollbar [ngClass]="fixedClass">
        <table class="no_pad">
          <thead>
            <tr>
              <th class="br-tl fixedhead1">Project Name</th>
              <th>Project status</th>
              <th>Customer Name</th>
              <th>Engagement Type</th>
              <th>Indent Type</th>
              <th>Demand ID</th>
              <th>No. of Resource Requested</th>
              <th>Allocated</th>
              <th>Suite</th>
              <th>Experience</th>
              <th>Location</th>
              <th>Demand Start date</th>
              <th>End date</th>
              <th>Created On</th>
              <th>DM</th>
              <th>Seed</th> 
              <th>Practice Code</th>
            </tr>
          </thead>
          <tbody class="no_pad">
            <tr *ngFor="let data of view_table">
              <td class="first_text fixedhead1">{{ data.projectname  }}</td>
              <td>{{ data.projectstatus }}</td>
              <td>{{ data.custname }}</td>
              <td>{{ data.engtype }}</td>
              <td>{{ data.indenttype }}</td>
              <td>{{ data.demandid }}</td>
              <td>{{ data.resource }}</td>
              <td>{{ data.allocated }}</td>
              <td>{{ data.suite }}</td>
              <td>{{ data.experience }}</td>
              <td>{{ data.location }}</td>
              <td>{{ data.demandstart }}</td>
              <td>{{ data.enddate }}</td>
              <td>{{ data.createdon }}</td>
              <td>{{ data.dm }}</td>
              <td>{{ data.seed }}</td>
              <td>{{ data.pcode }}</td>             
            </tr>
          </tbody>
        </table>
        </perfect-scrollbar>
      </div>


      </mat-expansion-panel>
    </div>
    <!-- Indents Accordian Ends-->

    <!-- </mat-accordion> -->
  </div>

</div>