$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f; 
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
.mt140
{
  margin-top: 140px;
}
.h-285 {
  height: 220px;
}
.pt100 {
  padding-top: 135px;
}

.pad-20{
  padding: 20px;
}

.brudcrumbs {
  position: relative;
  left: 7px;
  bottom: 2px;
  opacity: 0.8;
  font-size: 12px;
  color: #e7ebf2;
}
.heading-custom {
  position: relative;
  left: 6px;
}
.cursor-pointer {
  cursor: pointer;
}

.mdi-keyboard-backspace:before {
  content: "\F30D";
  font-size: 22px;
  color: #ffff;
  position: relative;
  // bottom: 40px;
}

.pad-30 {
  padding: 30px;
}

.mt-30{
  margin-top:30px
}

.mt-150 {
  margin-top: 115px;
}
.pad-top142{
    padding-top: 142px;
  }
  .primary-button.std{
    padding: 7px 0;
    min-width: 100px;
    height: 40px;
    margin: 0;
}
.mr10 {
    margin-right: 10px !important;
}
.borderless {
    border: none !important;
}

.plb-0-20 {
    padding: 8px 0 8px 15px;
}
.pad-20-30{
  padding: 20px 30px;
}


.insight {
  .h-250 {
      height: 250px;
  }

  .header-action-tab {
      padding: 12px 0px;
  }

  .pad-lr-30 {
      padding-left: 30px;
      padding-right: 30px;
  }

  .pos-rel {
      position: relative;
  }

  .mtop-130 {
      margin-top: 130px;
  }

  .mtop-20 {
      margin-top: 20px;
  }

  .width_25 {
      color: white;
      width: 28px;
      .mdi-keyboard-backspace {
          font-size: 22px;
          cursor: pointer;
      }
  }

  .mtop-5 {
      margin-bottom: 0px;
      margin-top: 5px;
  }

  .colorWhite {
      color: $Marble;
   }

  .accord-heading .accordian-title {
      font-size: 16px;
      font-family: 'WiproAkkuratTT-Bold';
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: $Black;
  }

  .pad-top-8 {
      padding:8px 0 0 0 ;
  }

  table {
      width: 100%;
      margin-top: 5px;      
  
      tr th {
          background: #e6f3f9;
          height: 35px;
          color: $NavyBlue;
          font-family: WiproAkkuratTT-Regular;
          font-size: 12px; 
      }

      .br-tl {
          border-radius: 5px 0 0 0;
      }

      .br-tr {
          border-radius: 0 5px 0 0;
      }

      .brdr-lr {
          border-left: 2px solid white;
          border-right: 2px solid white;
      }

      .brdr-left {
          border-left: 2px solid white;
      }

      .brdr-right {
          border-right: 2px solid white;            
      }
      .br-tlr {
          border-radius: 5px 5px 0 0;
      }

      td, th {
          text-align: left;
          padding: 8px;
          height: 46px !important;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }

        tr td {
          height: 50px;
          font-size: 12px;
          font-weight: bold;
          font-family: WiproAkkuratTT-Regular;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }

        tr:nth-child(even) {
          background-color: #fbfbfb;
        }

        td tr {
            background-color: inherit;
        }
  }
  tr:nth-child(even)
  {
  th:first-child,td:first-child
  {
    background-color: #fbfbfb !important;
  }
}
tr:nth-child(odd)
{
td:first-child
{
  background-color: #fff !important;
}
}

  .c-blue {
      color: $Azure;
  }
  p, small {
      font-size: 12px;
      font-weight: bold;
      font-family: WiproAkkuratTT-Regular;
      margin-bottom: 0px;
      margin-top: 5px;
  }

  .mdi-chevron-up:before, .mdi-chevron-down:before {
      font-size: 28px;
      color: $Black !important;
      margin-right: 5px;
  }
  .border-bottom-grey {
      border-bottom: solid 1.5px #d7d7d7;
  }

  .mat-expansion-panel-header-title {
  margin-right: 0px !important;
  }

  .customized-accordians {
      margin-top: 20px;
  }
}


.pad-topbtm{
    padding: 15px 0;
  }
.data-head{
    color: #9b9b9b;
    font-family: 'WiproAkkuratTT-Regular';
    margin-bottom: 0px !important;
}
.table-data{
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold';
    color: #2e2e2e;
}
.blue_circle_replay {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d9e9ff;
    position: relative;
    text-align: center;
    color: #2f81ff;
    margin-left: 10px;
}
.blue_circle_replay:hover {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2f81ff;
    position: relative;
    color: #ffffff;
    .blue_circle_replay_img {
      color: #ffffff;
    }
}

.note-text{
    text-align: right;
    color: blue;
    font-size: 12px;
    font-family: 'WiproAkkuratTT-Regular';
    text-align: right;
    padding: 10px;
}
.mar-top44{
    margin-top: 46px;
}

#scoll_top .ps__thumb-x {
  visibility: visible;
  top: 40px !important;
  position: relative !important;
}

thead th:first-child {
  left: 0;
  z-index: 8;
  background: #103f86;
  min-width: 200px;
  max-width: 200px;
  border-radius: 10px 0 0 10px;
}
.fixedhead1 {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  z-index: 8;
  // background: #103f86;
  background:$White;
  min-width: 136px;
  max-width: 136px;

  // text-overflow: ellipsis;
  // overflow: hidden;
  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}


// for popup css starts here
.popup-container {
  .popup-hd1{
    padding: 15px 0px 5px 0px;
  }
  .colsize {
      font-size: 22px;
  }
  .txt-area {
      width: 95%;
      height: 140px;
      border: 1.5px solid #ccc
  }
  .screenshot {
      font-family: WiproAkkuratTT-Bold !important;
      font-size: 14px !important;
      padding-left: 8px;
  }
  .uploader input {
      display: none;
  }
    
  .uploader {
      -webkit-align-items: center;
      align-items: center;
      background-color: #efefef;
      background-color: rgba(0, 0, 0, 0.02);
      cursor: pointer;
      display: -webkit-flex;
      display: flex;
      height: 210px;
      -webkit-justify-content: center;
      justify-content: center;
      outline: 2px solid #ccc;
      outline-offset: 5px;
      position: relative;
      width: 210px;
  }
  
  .uploader img,
  .uploader .icon {
      pointer-events: none;
  }
  
  .uploader,
  .uploader .icon {
      -webkit-transition: all 100ms ease-in;
      -moz-transition: all 100ms ease-in;
      -ms-transition: all 100ms ease-in;
      -o-transition: all 100ms ease-in;
      transition: all 100ms ease-in;
  }
  
  .uploader .icon {
      color: #eee;
      color: rgba(0, 0, 0, 0.2);
      font-size: 5em;
  }
  
  .uploader img {
      left: 50%;
      opacity: 0;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      -webkit-transition: all 300ms ease-in;
      -moz-transition: all 300ms ease-in;
      -ms-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 0;
  }
  
  .uploader img.loaded {
      opacity: 1;
  }
}
#scoll_top .fixedClass1 .ps__thumb-x {
  border-right: 0px !important;
}

.mt5{
  margin-top: 5px;
}