<div class="col-12 float-left  no_pad db-container ">

    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-10 float-left  no_pad search-db-hd-txt" mat-dialog-title>Search account</span>
            <button class="col-2 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close" mat-dialog-close></button>
        </div>

        <div class="col-12 float-left border-bottom-grey"></div>
        <div class="col-12 no_pad popup-tabs">
            <div class="row col-12 no_pad pad-top float-left">
                <div class="col-6 text-center  no_pad mr-lft">
                    <button class="btn  btn-circle mb-5" [ngClass]="{'btn-default bg-light text-primary': wiproDatabsebtn == false ,'btn-primary text-light': wiproDatabsebtn == true}" (click)="wiproDatabsebtclick()"> <span class="mdi mdi-format-list-bulleted"></span></button>
                    <br>
                    <span class="">Wipro database</span>
                    <div class="popup-tabs-arrow" *ngIf="wiproDatabsebtn"></div>
                </div>

                <div class="col-6 text-center mr-lt no_pad" *ngIf="openDnB">
                    <button class="btn btn-circle mb-5" [ngClass]="{'btn-default bg-light text-primary': dDatabasebtn == false ,'btn-primary text-light': dDatabasebtn == true}" (click)="dDatabasebtnClick()"> <span class="mdi mdi-format-list-bulleted"></span></button>
                    <br>
                    <span class="">D&B  database</span>
                    <div class="popup-tabs-arrow" *ngIf="dDatabasebtn"></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt-105">
            <span class="color-azure caretpopup11 second-headngsearch" *ngIf="wiproDatabsebtn">Searching: Wipro accounts</span>
            <span class="color-azure caretpopup11 second-headngsearch" *ngIf="dDatabasebtn">Searching: D&B accounts</span>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt-20  mb-30 " *ngIf="wiproDatabsebtn">

            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                <!-- appKeyListControl -->
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"  #WiproDatabase (arrowDown)="arrowkeyLocation=$event" (keyup.enter)="appendName(companyDetails[arrowkeyLocation]);showCompanySwitch=false" [attr.data-arrayMaxLength]="companyDetails?.length"
                    role="combobox" aria-autocomplete="list" [attr.aria-expanded]="showCompanySwitch?true:false" aria-owns="read" [attr.aria-activedescendant]="arrowkeyLocation" id="CompanyNametest" name="CompanyNametest" type="text" [(ngModel)]="companyName"
                    autocomplete="off" placeholder="Enter Account/Company name" 
                    (input)="onAccountSearch();showCompanySwitch = true;" 
                    (click)="onAccountSearch();showCompanySwitch = true;" (clickOutside)="companyNameClose()">
                <span class="mdi mdi-magnify"></span>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad z-ind-9" [attr.focus]="showCompanySwitch" *ngIf="showCompanySwitch ">
                    <ul class=" list-group color-azure autocomplete-box">
                        <span class="w-100 z-ind-9 float-left bg-white">
                            <perfect-scrollbar style="max-height:150px"  >
                                <span class="w-100 z-ind-9 float-left bg-white">
                                    <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read"
                                      [ngClass]="{'loader-search':isActivityGroupSearchLoading }">
                            <li class="list-group-item"  id="{{i}}" (click)="appendName(item)" 
                             *ngFor="let item of companyDetails;let i = index"  tabindex="0" role="option" 
                               [class.active]="i==arrowkeyLocation" aria-disabled="false">
                                <button class="d-block list-name float-right sub-list mt10 btndef-none" (click)="ExistingAccount()" > {{item.Type.Value}} </button>
                                <span class="d-block list-name float-right sub-list mt10"  (click)="reserveAccount()"> {{item.Reserve_account}} </span>
                        <button class="d-block list-name float-right sub-list mt10 btndef-none"> {{item.refernce}} </button>
                        <span class="d-block list-name float-right sub-list mt10"> {{item.Pending_account}} </span>
                        <span class="d-block list-name float-right sub-list mt10"> {{item.Prospect_account}} </span>
                        <span class="d-block list-name"> {{item.Name}} </span>
                        <span class="sub-list1 d-block"> {{item.Number}} | {{item.Owner.FullName}} | {{item.Vertical.Name}} | {{item.Address.Region.Name}} </span>

                        </li>


                    </ul>
                    </span>
                    </perfect-scrollbar>
                    <div class="d-block list-name h-40 p-10" *ngIf="companyDetails && companyDetails['message'] && !isActivityGroupSearchLoading"> {{companyDetails['message']}}
                        <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad font-12">Ensure that you have typed correct legal entity name</span>
                    </div>
                    <!-- [routerLink]="['/conversations/prospectAccount']" -->
                    </span>
                    </ul>
                </div>

                <!--<button class="db-prospect mt-10"  [routerLink]="['/accounts/accountcreation/createprospectaccount']"   mat-dialog-close>
                    + Custom account 
                    </button> -->
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt-20" *ngIf="dDatabasebtn">

            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">

                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" id="CompanyName" name="CompanyName" type="text" [(ngModel)]="companyName" autocomplete="off" placeholder="Enter Account/Company name" (click)="showCompanySwitch = true"
                    (clickOutside)="companyNameClose()">
                <span class="mdi mdi-magnify"></span>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad z-ind-9" *ngIf="companyName && showCompanySwitch ">
                    <ul class=" list-group color-azure autocomplete-box">
                        <perfect-scrollbar style="max-height:150px">
                            <span class="w-100 z-ind-9 float-left bg-white">
                                <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read"
                                  [ngClass]="{'loader-search':isActivityGroupSearchLoading }">
                            <li class="list-group-item" (click)="appendName(item)" mat-dialog-close *ngFor="let item of companyDetails">
                                <span class="d-block list-name float-right sub-list mt10" mat-dialog-close (click)="reserveAccount()"> {{item.Reserve_account}} </span>
                            <button class="d-block list-name float-right sub-list mt10 btndef-none" [routerLink]="['/accounts/createassignmentreference']" mat-dialog-close> {{item.refernce}} </button>
                            <button class="d-block list-name float-right sub-list mt10 btndef-none" (click)="ExistingAccount()" mat-dialog-close> {{item.Type.Value}} </button>
                            <span class="d-block list-name float-right sub-list mt10" mat-dialog-close> {{item.Pending_account}} </span>
                            <span class="d-block list-name float-right sub-list mt10" mat-dialog-close> {{item.Prospect_account}} </span>
                            <span class="d-block list-name"> {{getdecodevalue(item.Name)}} </span>
                            <span class="sub-list1 d-block"> {{item.Number}} | {{item.Owner.FullName}} | {{item.Vertical.Name}} | {{item.Address.Region.Name}} </span>

                            </li>

                            <li class="d-block list-name h-40 p-10" *ngIf="companyDetails && companyDetails['message']&& !isActivityGroupSearchLoading"> {{companyDetails['message']}}
                                <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad font-12">Ensure that you have typed correct legal entity name</span>
                            </li>
                    </ul>
                    </span>
                    </perfect-scrollbar>
                    <!-- [routerLink]="['/conversations/prospectAccount']" -->

                    </ul>
                </div>
                <div class="db-prospect mt-10" *ngIf="router.url.includes('/accounts/accountcreation/createprospectaccount')">
                </div>
                <button class="db-prospect mt-10" *ngIf="!router.url.includes('/accounts/accountcreation/createprospectaccount')" (click)="accservive.accounttoast('Please enter account details manually. Details will be verified by the SE GEO/SPOC')" [routerLink]="['/accounts/accountcreation/createprospectaccount']"
                    mat-dialog-close>
                   <span>+ Custom account </span> 
                    </button>
            </form>
        </div>

    </div>

</div>