<div class="col-12 float-left  no_pad popup-container ">
    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-10 float-left  no_pad popup-hd-txt popup-hd-size" mat-dialog-title>Create Activity</span>
            <button class="float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close"
                mat-dialog-close></button>
        </div>
        <div class="col-12 float-left border-bottom-grey mb10"></div>
        <form [formGroup]="ActivityTypeForm">
            <div class="col-12 no_pad float-left border-gray">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="activitygroup"
                    class="label-form"> New activity group
                    <span class="required"> *</span>
                </label>
                <div class="w-100 pos-rel">
                    <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 input-text"
                        id="activitygroup" name="text" type="text" placeholder="Enter activity group"
                        formControlName="newActivityGroup"
                        [ngClass]="{'error': f.newActivityGroup.invalid && (f.newActivityGroup.dirty || f.newActivityGroup.touched)}">
                    <p *ngIf="f.newActivityGroup.touched && !f.newActivityGroup.valid" class="error-message top-40">
                        Please
                        enter new activity group </p>
                </div>
            </div>
            <!--Linked campaigns autocomplete starts -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left mt20">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad cust_autoComplete pos-rel searchGeneric" (clickOutside)="contactNameclose()" 
                    [ngClass]="contactNameSwitch ? 'mb100':''">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="contactName"
                        class="label-form" placeholder="Search activity source">
                        Account name
                        <span class="required"> *</span>
                    </label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                        <input 
                        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input"
                        aria-required="true" 
                        id="contactName" 
                        name="contactName" 
                        placeholder="Search account name" 
                        formControlName="accountName"
                        role="combobox"
                        autocomplete="off" 
                        type="text"
                        aria-owns="read"
                        appKeyListControl
                        [dataManipulate]=true 
                        [attr.data-isDownBtn]=true
                        [attr.data-selectedvalue]="contactName"
                        [attr.aria-expanded]="contactNameSwitch?true:false"
                        [attr.aria-activedescendant]="arrowkeyLocation"
                        (input)="contactNameSwitch=true;arrowkeyLocation=0"
                        (intialLoadData)="contactNameSwitch=true;clickAccountData();arrowkeyLocation=0"
                        (arrowDown)="arrowkeyLocation=$event"
                        (keyup.enter)="appendConversation(companyDetails[arrowkeyLocation],arrowkeyLocation);contactNameSwitch=false;arrowkeyLocation=0"
                        (keydown)="contactNameSwitch = true"
                        [attr.data-arrayMaxLength]="companyDetails?.length"
                        (keydown.Tab)="contactNameclose()"
                        aria-autocomplete="list"
                      
                        
                    [ngClass]="{'error': f.accountName.invalid && (f.accountName.dirty || f.accountName.touched)}">
                        <p *ngIf="f.accountName.touched && !f.accountName.valid" class="error-message top-40"> Please
                            enter account name </p>
                        <span class="mdi mdi-magnify pop"></span>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-right border-btm z-ind-9999 float-left no_pad suggestion-box pos-abs border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white"
                            *ngIf="contactNameSwitch">
                            <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                                <ul role="listbox" id="read" class=" list-group color-azure  sort-dropdown mr2"
                                    [ngClass]="{'loader-search':isAccountNameSearchLoading }">
                                    <li class="list-group-item h-50 p-4-10"
                                    id="{{i}}" tabindex="0"  role="option"
                                    [class.active]="i==arrowkeyLocation" aria-disabled="false"
                                        (click)="appendConversation(item,0)"
                                        *ngFor="let item of companyDetails|filter:ActivityTypeForm.value.accountName;let i=index"
                                        matTooltip="{{item.Name}}">
                                        <label for="inti_name" class="float-left name w-80">
                                            <span class="d-block list-name ellipses">{{item.Name}}</span>
                                            <span class="sub-list d-block">
                                                {{ (item.Number!==undefined)?item.Number:"NA" }} |
                                                {{item.Owner.FullName}} | {{item.Type.Value}}</span>
                                        </label>
                                    </li>

                                    <li class="d-block list-name h-40 p-10"
                                        *ngIf="(companyDetails |filter:ActivityTypeForm.value.accountName)?.length == 0 && !isAccountNameSearchLoading">
                                        No record found </li>
                                </ul>
                            </perfect-scrollbar>
                        </div>
                    </div>


                </div>
            </div>
        </form>
        <!--Linked campaigns autocomplete ends-->
        <div class="col-12 float-left  no_pad">
            <span class="col-12 float-left  no_pad logo-hd-popup2 padt-20">Are you sure you want to create this activity
                group? </span>
        </div>
    </div>
    <div class="col-12 float-left no_pad">
        <button aria-label="Done" class="col-12 float-left btndef-none no_pad confrm-btn" (click)="CreateActivity()"
            [disabled]="create">Done</button>
    </div>
</div>