<div class="col-12 float-left  no_pad popup-container popup-container-opportunity deal-qualify ">

  <div class="col-12 float-left  container-dialog no_pad">
    <div class="col-12 float-left mb10">
      <div class="col-12 float-left  no_pad popup-hd">
        <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Are you sure you want to remind BFM
          to approve the modified order details?</span>
        <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn cancel-icn close-icn" aria-label="close"
          mat-dialog-close></button>
      </div>

      <div class="col-12 float-left mt10 border-bottom-grey"></div>

        <div class="col-12 no_pad float-left mt10">
          <label class="col-12 no_pad float-left mt10 mb-0">Reminder reason *</label>
          <!-- <textarea class="col-11 no_pad float-left txt-area" placeholder="Enter your comments"> </textarea> -->
          <textarea required class="txt-area" maxlength="400" rows="6" cols="47" placeholder="Enter your comment"></textarea>
          </div>

    </div>

    <div class="col-12 float-left no_pad ">
      <button aria-label="NO" class="col-6 float-left no_pad cancel-btn1" mat-dialog-close>No</button>
      <button aria-label="ADD" class="col-6 float-left btndef-none no_pad confrm-btn" mat-dialog-close [ngClass]="yesbtnclr ? 'bg-color-azure' : 'bg-color-grey'">Yes</button>
    </div>

  </div>