<div class="col-12 float-left  no_pad popup-container suspendPop assign-pop">

    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left mb10 no_pad popup-hd">
            <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Assign Order</span>
            <button class="col-2 float-left no_pad btndef-none mdi mdi-window-close font-20 cp close-icn" style="margin-top:-7px" aria-label="close" (click)='closeIcon()'  ></button>
        </div>
        <div class="col-12 float-left border-bottom-grey "></div>
        <!-- <div class="col-12 float-left pad-20-pop">
            <div class="convo-name-title">Opportunity name</div>
            <div class="convo-name mt5">Wipro’s lead to order transformation</div>
        </div> -->

        <div class="accordian-nomination  col-12 float-left no_pad" *ngIf="assignLength > 1">
            <mat-accordion class="col-12 float-left no_pad accordian-style">
                <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header class="no_pad" style="min-height:60px;">
                        <mat-panel-title class="col-12 accord-heading">
                            <span [ngClass]="panelOpenState ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                            <span class="accordian-title pad-top-8">{{assignLength}} Orders</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="col-12 float-left border-bottom-grey mbot-10 no_pad "></div>
                    
                    <!-- <perfect-scrollbar style="max-height:150px;"> -->
                        <div class="col-12 float-left no_pad mt-10 ">
                            <div  class="col-12 float-left no_pad customized-checkbox">
                                <div    *ngFor="let data  of AssignData" class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox (change)='selectCheck()' [(ngModel)]="data.isCheccked" name="data.isCheccked" class="name-inpopup" title="{{data.OrderId}}">{{data.OrderId}}
                                    </mat-checkbox>
                                </div>
                                 <!--<div *ngFor="let data  of singleAssignData" class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox checked='false' class="name-inpopup">{{data.OpportunityName}}
                                    </mat-checkbox>
                                </div>-->
                                <!--<div class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox checked='true' class="name-inpopup">Wipro’s lead to order transformation
                                    </mat-checkbox>
                                </div>
                                <div class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox checked='true' class="name-inpopup">Wipro’s lead to order transformation
                                    </mat-checkbox>
                                </div>
                                <div class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox checked='true' class="name-inpopup">Wipro’s lead to order transformation
                                    </mat-checkbox>
                                </div>
                                <div class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox checked='true' class="name-inpopup">Wipro’s lead to order transformation
                                    </mat-checkbox>
                                </div>
                                <div class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox checked='true' class="name-inpopup">Wipro’s lead to order transformation
                                    </mat-checkbox>
                                </div>
                                <div class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox checked='true' class="name-inpopup">Wipro’s lead to order transformation
                                    </mat-checkbox>
                                </div>-->
                            </div>
                        </div>
                    <!-- </perfect-scrollbar> -->
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="accordian-nomination  col-12 float-left no_pad mb20 mt20" *ngIf="assignLength == 1">
            <span class="accordian-title pad-top-8">{{assignLength}} Order</span>
            <div class="col-12 float-left no_pad mt-10 ">
                <div class="col-12 float-left no_pad customized-checkbox">
                    <div *ngFor="let data  of AssignData" class="col-12 float-left no_pad check-padding">
                        <mat-checkbox (change)='selectCheck()' [(ngModel)]="data.isCheccked" name="data.isCheccked"
                            class="name-inpopup" title="{{data.OrderId}}">
                             {{data.OrderId}}
                           
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 float-left border-bottom-grey"></div>

        <div class="col-12 float-left pad-20-pop pt5 assign_popup">
            <mat-radio-group  (change)="selectRadioButton()" [(ngModel)]="selectedRadioButton" class="float-left" aria-labelledby="key">
                 <mat-radio-button   *ngFor="let data of assignRadio"   [value]="data.Value" class="no_pad float-left col-12" value="Assign to another user or team">
                    <div class="float-left col-11 no_pad pos10">
                        <span class="col-12 no_pad convo-name float-left">{{data.Label}}</span>
                        <span class="convo-name-title mb10 col-12 no_pad float-left">{{data.Label1}} </span>

                    </div>
                </mat-radio-button>
            </mat-radio-group>
        </div>


        <!-- added-search-names -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left customized-input cust_autoComplete pos-rel no_pad botpad-50 minh-50">

            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                   <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left customized-input create-mt20">
           
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">

                  <div class="flex-grow-1">
                
<app-auto-complete-select [source]="searchOwnerData" (content)="searchOwnerContent($event)" (advanceLookUp)="advanceLookUpSearch($event)"
  [selectedObj] ='selectedOwnerObj'  [Isdisabled]= 'selectedRadioButton==1'   [IsApiCall]=true [isSearchLoader]='isSearchLoader'  [labelName]= "'ownerArrayy'"   [details]="ownerName" [detailsId]="ownerId"    [dataHeader] ='header'  (SelectedData)="selectedOwner($event)"  [Placeholder]="'Search people to assign order'" [showSelected]=false [isLastVar]=true>
                  </app-auto-complete-select>


                  </div>
                </div>
              </div>
                <!--<label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="customerName" class="label-form"> </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">

                    <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input br-0-4" id="customerName" name="customerName"
                        type="text" autocomplete="off" [(ngModel)]="customerName" placeholder="Search people to assign opportunity  "
                        (clickOutside)="customerNameclose()" (click)="customerNameSwitch = true">
                    <span class="mdi mdi-magnify"></span>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  float-left no_pad suggestion-box top40 pos-abs border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white"
                    *ngIf="customerName && customerNameSwitch">
                    <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                        <ul class=" list-group mr2 sort-dropdown">
                            <li class="list-group-item h-50 p-4-10 " (click)="appendcustomer(item.contact,item.index)" *ngFor="let item of customerContact |filter:customerName">

                                <div class="float-left naming-tags child-middle bg-azure">
                                    <span class="initials">{{item.initials}}</span>
                                </div>
                                <label for="inti_name" class="float-left name">
                                    <span class="d-block list-name">{{item.contact}}</span>
                                    <span class="d-block sub-list">{{item.designation}}</span>
                                </label>
                                <span class="btn-key" *ngIf="item.value"> Key </span>
                            </li>

                            <li class="d-block list-name h-40 p-10" *ngIf="(customerContact |filter:customerName).length == 0">
                                No record found </li>
                        </ul>

                    </perfect-scrollbar>
                </div>-->
            </form>

            <!--<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact">
                <perfect-scrollbar style="max-height:200px">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  mt-10 p-4-10" *ngFor="let item of selectedCustomer">

                        <div class="float-left naming-tags child-middle bg-azure">
                            <span class="initials">{{item.initials}}</span>
                        </div>
                        <label for="inti_name" class="float-left name">
                            <span class="d-block list-name">{{item.contact}}</span>
                            <span class="d-block sub-list">{{item.designation}}</span>
                        </label>


                    </div>
                </perfect-scrollbar>

            </div>-->
      
        </div>

        <div class="col-12 float-left border-bottom-grey mt-30"></div>
        <div *ngIf='ownerId'  class="float-left convo-name-title mt10"> Ownership of this order will be assigned to {{ownerName}}. </div>

    </div>
    <!-- class="col-12 float-left btndef-none no_pad confrm-btn" -->
    <!-- [disabled]="!((this.selectedRadioButton==2 && this.ownerId!='' && this.filterData.length>0) || ( this.filterData.length>0 && this.selectedRadioButton!=2 ))" -->
    <!-- [ngClass]= "!((this.selectedRadioButton==2 && this.ownerId!='' && this.filterData.length>0) || ( this.filterData.length>0 && this.selectedRadioButton!=2 ))?'disableAssign':'' " -->
    <div class="col-12 float-left no_pad mt20">
        <button  [ngClass]= "!((this.selectedRadioButton==2 && this.ownerId!='' && this.filterData.length>0) || ( this.filterData.length>0 && this.selectedRadioButton!=2 ))?'disableAssign':'' "  [disabled]="!((this.selectedRadioButton==2 && this.ownerId!='' && this.filterData.length>0) || ( this.filterData.length>0 && this.selectedRadioButton!=2 ))"
         (click)='saveAssign()' class="col-12 float-left btndef-noneAssign no_pad confrm-btnassign" aria-label="Assign"   >Assign</button>
    </div>

</div>