<div class="tab-drop float-left no_pad mr10 mb20" [ngClass]="bgParentColorChild">


    <button class="w-100 float-left selectedTab btn_none pl-10 color-white"  [attr.aria-expanded]="tabNameSwitch" [ngClass]="tabNameSwitch?'select-content':'selected-border'" (click)="openTabDrop()" (clickOutside)="closeTabDrop()" title="{{selectedTabTitle}}"
    [attr.aria-label]="tabNameSwitch? selectedTabTitle + recordCount + 'selected menu button expanded sub menu' : selectedTabTitle + recordCount + 'selected menu button collapsed sub menu'">
        <span class="mdi mdi-pin m-r-5"> </span> <span class="ellipses w-88"> {{selectedTabTitle}} <span>(</span>{{recordCount}}<span>)</span></span> <span
            class="caret"> </span>
    </button>

    <div class="border-btm float-left  no_pad  group-content pos-abs z-ind-99 white-bg top-40 col-12" *ngIf="tabNameSwitch">

        <ul class="col-12 float-left sort-dropdown no_pad " >
            <li class=" ellipses  view  line-height-30 p-0-10 " *ngFor="let item of tabList" title="{{item.view}}">

                <span class="view-content"> {{item.GroupLabel}}</span>
                <ul class="  sort-dropdown no_pad" *ngIf="!pinEnable">

                    <li role="link" class=" ellipses cp child-group color-Black h-30 line-height-30 " *ngFor="let child of item.GroupData;let i = index" (click)="emitTabSelection(child)" title="{{item.tab}}">

                        <span [ngClass]="child.id == selectedTab ? 'mdi mdi-pin':'mdi mdi-pin-outline'" aria-hidden="true"> </span>
                        <span > {{ child.title}} </span>
                        <!-- [ngClass]="child.id != selectedTab?'pl-20':''" -->

                    </li>

                </ul>
                <ul class="  sort-dropdown no_pad" *ngIf="pinEnable">

                    <li role="link" class=" ellipses cp child-group color-Black h-30 line-height-30 " *ngFor="let child of item.GroupData;let i = index"  title="{{item.tab}}">

                        <span [ngClass]="child.isPinned ? 'mdi mdi-pin':'mdi mdi-pin-outline'" aria-hidden="true" *ngIf="!child?.isHidePine" (click)="emitPinSelection(child)"> </span>
                        <span (click)="emitTabSelection(child)" class="{{child.isHidePine?'pad-10':''}}"> {{ child.title}} </span>
                        <!-- [ngClass]="child.id != selectedTab?'pl-20':''" -->

                    </li>

                </ul>

            </li>

            <!-- <li class=" ellipses cp child-group  color-azure h-40 line-height-40 p-0-10 ">
                <span class="mdi mdi-eye-plus-outline m-r-5"> </span> Create new view
            </li> -->
            <!-- 79783 bug fix - show all views hidden in mobile -->
            <li role="link" *ngIf= 'showViewFlag && !service.MobileDevice' class=" ellipses cp child-group color-azure  h-30 line-height-30 p-0-10 mb10" (click)="emitTabSelection(showAllView)">
                <span  class="mdi mdi-view-grid m-r-5 " ></span> Show all views
            </li>
        </ul>
    </div>

</div>