.opportunity-landing-container{
.borderless 
{
    border: none !important;
}
    .h-150{
        height: 150px;
    }
    .h-360{
        height: 360px;
    }

    .border-none{
        border: none;
    }
    .w-145{
        width: 145px;
    }
    .pad-30{
        padding:30px 30px;
    }
    .h-40{
        height: 40px;
    }


    .d-inline-w-h-20{
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .d-inline-w-h-16-14{
        display: inline-block;
        width: 16px;
        height: 14px;
        font-size: 12px;
    }
    .mleft-5{
        margin-left: 5px;
    }

    .logo{
        text-align: center;
        font-size: 14px;
    }
    .sub-vertical-but{
        padding: 5px 0px !important;
    }



}
.pr5{
    padding-right: 5px;
}
.w-110{
    width:110px; 
}
 .convo-tag
{
position: absolute;
left: 36px;
width: 180px;
height: 16px;
opacity: 0.6;
font-family: WiproAkkuratTT-Regular;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.33;
letter-spacing: normal;
color: #e7ebf2;
float: left;
top: 30px;
}
