<ng-container *ngIf="isLoading">
    <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
        <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
          <div class="loaderContainer">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
<div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                <!-- <h2 class="col-12 float-left heading-level-two color-white padng-30 no_pad padding-left0">{{tableTotalCount+ ' '}} Unqualified leads</h2> -->
                <div class="parent-container" *ngIf="myOpenLeadList?.length>0">
                    <app-single-table 
                    (detectActionValue)="performTableChildAction($event)" 
                    (detectPageChangeData) = "getNewTableData($event)" 
                    [totalTableCount]="tableTotalCount"
                    [TableName]="'unqualified'"
                    [TableCollection]="myOpenLeadList" 
                    [IscheckBoxRequired]= true  
                    [IsActionFixed]= true 
                    [IsFreezedColumn]= true 
                    [IsNurture] = true
                    [IsCreateOpportunity]= true
                    [IsQualify]= true
                    [IsArchive]= true
                    [ConfigData]="configData"
                    [serviceSearch] = true
                    [IsCustomizeTable] = true
                    [paginationPageNumber]= "MyOpenLeadsReqBody"
                    [TabName]="'unqualified'"
                    [IsDisqualify]=true
                    [IsRestore]=true
                    [Config]="rejectReasons"
                    [expansionTable]="'app-my-open-lead-selector'"
                    [IsTicked]=true
                    [IsCrossed]=true
                    [AllBtnLable]="allBtnsLable"
                    [IsDownload]=userdat.getRoleAccess()
                    [IsDropBoxRequired] = true
                    [filterConfigData]="filterConfigData"
                    > </app-single-table>
                    </div>
            </div>
        </div> 
    </div>
   