.padt-0
{
    padding-top: 0px !important;
}
.primary_white
{
    padding: 6px 11px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold'
}
.primary_white_note
{
    padding: 8px 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold'
}
.mdi-download:before
{
    font-size: 16px !important;
}
.mdi-file:before
{
    font-size: 16px !important;
}