<div class="col-12 float-left padng-30">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
          <h2 class="col-6 float-left heading-level-two color-white padng-30 no_pad padding-left0 padt-0">09 Active agreements</h2>
          <div class="col-6 float-left no_pad">
            <div class="float-right disp-flex mrg-top20 save-cancel-responsive web-action-button w-180">
                <button class="save-responsive-btn button-wd50 primary_white_note ml10 borderless btn-block h-40 std w-184"
            routerLink="/accounts/addcontract">
                    + Add contract</button>
            </div>
              <button class="primary_white float-right ml10" aria-label="Download"><span class="mdi mdi-download"></span>
              </button>
              <button class="primary_white_note float-right" (click)="requestAccesspopup()" (keypress) = "requestAccesspopup()">
                  Request access 
              </button>
            <!--<button class="primary_white_note float-right" (click)="openNotePopup()"><span class="mdi mdi-file"></span>
              Note</button>-->
          </div>
          <div class="parent-container" *ngIf="ContractRepositoryTable.length > 0">
              <app-single-table
              (detectActionValue)="performTableChildAction($event)" 
              [TableName]="'ContractRepository'"
              [TableCollection]="ContractRepositoryTable" 
              [IsFreezedColumn]= true 
              [IsActionFixed]=true
              [IsViewMore]="isviewmore"
              [IsView]=true
              [IsCustomizeTable] = true
              >
            </app-single-table>

          </div>
      </div>
  </div>
</div>