.text-head {
  color: #0e3570;
  font-size: 16px;
}
.db-prospect-btn {
  border: 1.5px solid #2f81ff;
  border-radius: 4px;
  background: transparent;
  color: #2f81ff;
  width: 210px;
  height: 40px;
  position: relative;
  bottom: 10px;
}
.db-prospect-btn:hover {
  border: 1.5px solid white;
  background: #2f81ff;
  color: white;
  border-radius: 4px;
}

.d-block {
  display: block;
}
.d-none {
  display: none;
}
.popup-tabs-arrow {
  // margin-left: 125px !important;
  margin-left: 100px !important;
}

.advance-table thead tr {
  background: #d9e9ff;
}
.advance-table th {
  padding: 12px 17px;
  color: #0e3570;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Regular";
  font-weight: normal;
  background: #d9e9ff;
  // max-width: 210px;
  // min-width: 210px;
}
.advance-table th:first-child {
  padding: 12px 35px;
}
.advance-table td:first-child {
  padding: 10px 35px;
}
.advance-table td {
  padding: 10px 20px;
  font-family: "WiproAkkuratTT-Regular";
  font-size: 14px;
  color: black;
  // max-width: 210px;
  // min-width: 210px;
}
.selTdTh {
  max-width: 30px !important;
  min-width: 30px !important;
  min-height: 45px;
  max-height: 100%;
  position: relative;
  padding: 10px 0px !important;
  height: 100%;
  // float: left !important;
}

.advance-table tbody tr {
  cursor: pointer !important;
}
.advance-table tbody tr:nth-child(even) {
  background: #f3f5f9;

  border-radius: 0 !important;
  border-bottom: 1px solid #e2e0e0;
}
.advance-table tbody tr:last-child {
  border-bottom: none;
}

//////////////////////////////slim scroll css starts-------------------------->

.scroll-window {
  width: 100%;
  height: 200px;
  font-size: 13px;
  font-size: 15px;
  line-height: 30px;
}

.slimscroll-grid {
  display: none !important;
}

.slimscroll-bar {
  width: 7px !important;
  right: 0px !important;
  background: #bab6b6 !important;
  z-index: 1 !important;
}

.slimscroll-bar:hover {
  background: #bab6b6 !important;
}
//////////////////////////////slim scroll css ends-------------------------->
.radio-label {
  left: 10px;
}
.cust-label {
  top: 11px;
  left: 10px;
}
.popup-tabs-col {
  background-color: #d9e9ff;
  width: 100%;
  height: 75px;
  top: 90px;
  position: absolute;
  left: 0px;
  right: 0px;
}
.popup-tabs {
  background-color: #d9e9ff;
  width: 100%;
  height: 75px;
  top: 73px;
  position: absolute;
  left: 0px;
  right: 0px;
}
.mt-180 {
  margin-top: 180px;
}
.loadMorePS {
  visibility: hidden;
}

.loader-search {
  background: transparent !important;
}

.customized-checkbox {
  .mat-checkbox-inner-container {
    width: 14px;
    height: 14px;
    border-radius: 2px;
  }

  .mat-checkbox-frame {
    border-color: #2f81ff;
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #2f81ff;
    margin: 4px !important;
  }

  .mat-checkbox-checkmark {
    display: none;
  }

  .mat-checkbox-label-before .mat-checkbox-inner-container {
    position: absolute;
    right: 0;
  }

  .mrl-10 {
    margin-left: -10px;
  }

  .mat-checkbox-label {
    padding-left: 5px !important;
    font-family: WiproAkkuratTT-Bold !important;
    color: #5e5e5e !important;
    font-size: 14px !important;
  }

  .mat-ripple-element {
    background: #2f82ff3b !important;
  }

  small {
    padding-left: 30px;
    bottom: 5px;
  }
}
.no-record {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  // line-height: 40px;
}
.top-90 {
  top: 75px;
}
.top40 {
  top: 37px;
}
.ml20 {
  margin-left: 20px;
}
.back-btn {
  position: absolute;
  font-size: 26px;
  left: -14px;
  top: 16px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.sort-dropdown .list-group-item {
  border: none !important;
  height: 40px !important;
  padding: 5px 0px;
}
//removed because of tootltip issue 19196
// .rowMat-selection
// {
//   width: 100%;
//   height: 100%;
//   z-index: 99;
//   top: 0;
//   left: 0;
//   padding-left: 11px;

//   ::ng-deep {
//     .mat-checkbox-layout {
//       width: 100%  !important;
//       height: 100% !important;
//       z-index: 99 !important;
//     }
//   }
//   ::ng-deep {
//   .mat-radio-label
//   {
//     width: 100%  !important;
//     height: 100% !important;
//     z-index: 99 !important;
//   }
// }
// }
b {
  font-family: "WiproAkkuratTT-Bold";
}
.lowerCase {
  text-transform: lowercase;
}
.min-wd180 {
  min-width: 180px;
}

.disabled-custom-acc {
  color: #9b9b9b !important;
  background-color: #f9f9f9 !important;
  border: 1.5px solid #9b9b9b !important;
}

.pt-70 {
  padding-top: 70px;
}
//  @media screen and (max-width: 823px){
//  .advanceCardTr{
//   margin-bottom: 0.625em;
//     height: auto !important;
//     position: relative;
//     background-color: white !important;
//     touch-action: pan-y !important;

//  }
//  .advanceCardTd{
// display: inline-grid;
//     text-align: left;
//     width: 100% !important;
//     float: left;
//     line-height: normal !important;
//     touch-action: pan-y !important;

//  }
//  .advanceCardHead{
//        border: none;
//     clip: rect(0 0 0 0);
//     height: 1px;
//     margin: -1px;
//     overflow: hidden;
//     padding: 0;
//     position: absolute;
//     width: 1px;
//  }
//  }
@media screen and (max-width: 823px) {
  .advance-table td {
    padding: 10px 0px !important;
  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr:not(:first-child) {
    border-top: 20px solid #f9f9f9;
  }
  table tr {
    margin-bottom: 0.625em;
    height: auto !important;
    // display: inline-block !important;
    // height: auto !important;
    position: relative;
    background-color: white !important;
    touch-action: pan-y !important;
  }
  .advanceLookupPopup {
    perfect-scrollbar {
      padding-right: 15px;
    }
  }

  table td {
    display: inline-grid;
    text-align: left;
    width: 100% !important;
    float: left;
    line-height: normal !important;
    touch-action: pan-y !important;
  }

  .radio-label {
    left: 0px;
    top: 10px;
  }
  table th.actionColumn {
    display: inline-grid;
    text-align: left;
    //width: 100% !important;
    float: left;
    line-height: normal !important;
    padding-right: 0px;
  }
  table tr th {
    display: inline-grid;
    text-align: left;
    width: 100% !important;
    float: left;
    line-height: normal !important;
    touch-action: pan-y !important;
    padding-right: 0px;
  }
  table td::before,
  table tr th::before {
    /*
  * aria-label has no advantage, it won't be read inside a table
  content: attr(aria-label);
  */
    content: attr(data-label);
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #9b9b9b;
    padding-bottom: 5px;
  }
  table th.actionColumn {
    border-bottom: 0;
    overflow-x: auto;
  }
  .marginLeftMobile {
    margin-left: 20px !important;
    margin-top: 10px !important;
  }
  .popup-tabs {
    background-color: #d9e9ff;
    width: 100%;
    height: 90px;
    top: 86px;
    position: absolute;
    left: 0px;
    right: 0px;
  }
  .popup-tabs-arrow {
    margin-top: 15px !important;
    margin-left: 45px !important;
  }
  .db-container {
    margin-top: 10px;
  }
  .no_pad_mobile {
    padding: 0px !important;
  }
  .button-wd100 {
    width: 100% !important;
    float: left;
    margin-bottom: 10px;
  }
}

.horizontalScrol{
.scroll-width{
  min-width: 200px;
  max-width: 200px;
}

// .x-scroll{
//   overflow-x: scroll;
// }
#popup_table{
table thead tr th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9;
}
}

::ng-deep {
  #popup_table {
      perfect-scrollbar>.ps.ps--active-y>.ps__rail-y {
          margin-top: 45px;
      }
      .ps__thumb-y {
          max-height: calc(100% - 45px);
      }
  }
}
}