<div class="col-12 float-left no_pad popup-container overview history-popup advanceLookupPopup">
  <div class="col-12 float-left pb-30 container-dialog padb-20">
    <div class="col-12 float-left  no_pad popup-hd">
      <button [mat-dialog-close]="'backclicked'" *ngIf="data?.isBackbuttonrequired" class="back-btn mdi mdi-arrow-left"></button>
      <span class="col-9 float-left  no_pad mt5" [ngClass]="data?.isBackbuttonrequired?'ml20':''" mat-dialog-title>Advance look up: {{data?.lookupName ==='Legal entity name'? 'Account/Company name' :data?.lookupName }}</span>
      <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close"
        mat-dialog-close></button>
    </div>
    <div class="col-12 float-left "></div>
    <div class="col-12 no_pad popup-tabs mt-20" [ngClass]=" service.isAccount ? 'popup-tabs-col' :'popup-tabs'" *ngIf="data.Isadvancesearchtabs">
      <div class="row  col-12 no_pad ">
        <div class=" text-center  marginLeftMobile mt-09 no_pad" [ngClass]=" service.isAccount ? 'col-4' :'col-xl-3 col-lg-3 col-md-3 col-sm-5 col-5'">
          <button class="btn  btn-circle mb-5"
            [ngClass]="{'btn-default bg-light text-primary' : wiprodb == false ,'btn-primary text-light': wiprodb == true}"
            (click)="overviewClick()" role="tab" [attr.aria-selected]="Wiprotab? true : ''" aria-label="Wipro Database"> <span class=" mdi mdi-file-outline"></span></button>
          <br>
          <span class="">Wipro Database</span>
          <div class="popup-tabs-arrow" *ngIf="wiprodb"></div>
        </div>
        <div class=" text-center mr-lt marginLeftMobile mt-09 no_pad" [ngClass]=" service.isAccount ? 'col-4' :'col-xl-3 col-lg-3 col-md-3 col-sm-5 col-5'" *ngIf="!data?.DbNotRequired">
          <button class="btn btn-circle mb-5"
            [ngClass]="{'btn-default bg-light text-primary' : otherdb == false ,'btn-primary text-light': otherdb == true}"
            (click)="historyClick()" aria-label="D&B Database" role="tab" [attr.aria-selected]="DBtab? true:''" matTooltip="Request for account creation by searching for the account within Duns & Bradstreet database or through custom entry"> <span class="  mdi mdi-cloud-outline"></span></button>
          <br>
          <span class="">D&B Database</span>
          <div class="popup-tabs-arrow" *ngIf="otherdb"></div>
        </div>
      </div>
    </div>
    <!-- <div class="mt-105"  *ngIf="wiprodb"> -->
    <div [ngClass]="data.Isadvancesearchtabs?'mt-180':''" *ngIf="wiprodb">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt-20 db-container wiprodatabse">
        <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
          <input class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left mt20 h-40 label-input"
            [(ngModel)]="searchValue" name="companyItem"  type="text" (input)="serviceSearchSubject()"
            placeholder="Search {{data?.lookupName ==='SL BDM'? 'SL BDM':data?.lookupName ==='Legal entity name'? 'wipro accounts' : data?.lookupName === 'SBU' ? 'SBU':data?.lookupName |lowercase}}">
          <span class="mdi mdi-magnify" [ngClass]="searchValue?.length==0?'d-block':'d-none'"></span>
          <span class="mdi mdi-close cp" [ngClass]="searchValue?.length>0?'d-block':'d-none'"
            (click)="clearSearch()"></span>
          <div class="col-12 float-left no_pad mt10 mb10">
            <span class="text-head" [ngClass]="searchValue?.length==0?'d-block':'d-none'">All results ({{data?.TotalRecordCount}})</span>
            <span class="text-head" [ngClass]="searchValue?.length>0?'d-block':'d-none'">Showing results for
              <b class="breakWord">{{searchValue}}</b> ({{data?.TotalRecordCount}})</span>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad advance-table">
            <!-- <perfect-scrollbar style="max-height: 190px"  [config]="config" (psYReachEnd)="data.tabledata.length>0?onReachEnd($event,'loadMore'):''"> -->
            <table class="float-left col-12 no_pad tasklist-table d-block" role="table">
              <thead class="float-left col-12 no_pad advanceCardHead" role="rowgroup">
                <tr class="float-left col-12 no_pad advanceCardTr" role="row">
                  <th role="columnheader" class="float-left ellipses selTdTh advanceCardTd"></th>
                  <th role="columnheader" class="float-left ellipses advanceCardTd" *ngFor="let header of data.headerdata" [style.width.%]="setWidth()">
                    <span matTooltip="{{header.title}}">{{header.title}}</span></th>
                </tr>
              </thead>
              <perfect-scrollbar style="max-height: 190px"  [config]="config" (psYReachEnd)="data.tabledata.length>0?onReachEnd($event,'loadMore'):''">
                <tbody role="rowgroup" class="float-left col-12 no_pad "   *ngIf="data.tabledata.length>0">
                  <tr role="row" class="float-left col-12 no_pad advanceCardTr posRelative_mobile"  *ngFor="let rowdata of data.tabledata;let i = index;trackBy: trackByFn">
                    <td role="cell" class="float-left ellipses selTdTh advanceCardTd">
                        <mat-checkbox *ngIf="data.isCheckboxRequired == true"   [checked]="getCheckBoxSelectedData(rowdata)" #checkbox (change)="checkBoxChangeEvent($event,i)"  value="{{i}}"  class="pos-abs cust-label customized-checkbox rowMat-selection">
                          </mat-checkbox>
                          <mat-radio-button *ngIf="data.isCheckboxRequired == false" aria-labelledby="radioaccount{{i}}"  [checked]="getRadioBoxSelectedData(rowdata)" #radio   (change)="radioChangeEvent(rowdata,radio.checked,i)"
                            value="{{i}}" name="accountdbname" class="pos-abs radio-label rowMat-selection">
                          </mat-radio-button>
                    </td>
                    <td role="cell" class="float-left ellipses advanceCardTd" [attr.data-label]="header.title" *ngFor="let header of data.headerdata;let j = index" (click)="selectEntireRow(rowdata,i)"
                    [style.width.%]="setWidth()"> <span matTooltip="{{rowdata[header.name]?rowdata[header.name]:'NA'}}" id="radioaccount{{i}}">{{rowdata[header.name]?rowdata[header.name]:'NA'}}</span>
                     
                     
                    
                    </td>
                  </tr>
                  <button id="loadMore" class="loadMorePS" (click)="loadMoreEvent()"></button>

                </tbody>
              </perfect-scrollbar>
            </table>
            <div class="float-left no-record" *ngIf="data.tabledata.length==0 && !data?.isLoader" >{{ data.Isadvancesearchtabs ? 'No record found. Search in D&B database': 'No record found'}}</div>
            <div [ngClass]="{'loader-search':data?.isLoader}" class="top-90" *ngIf="data?.isLoader" ></div>
             <!-- </perfect-scrollbar> -->
          </div>
        </form>
      </div>

    </div>
    <!-- <div class="mt-105" *ngIf="otherdb"> -->
    <div  *ngIf="otherdb" [ngClass]="!data.enableOtherDbOnly?'mt-180':''" [class.horizontalScrol]="isScroll">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt-20 db-container wiprodatabse" *ngIf="!data?.otherDbData">
        <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
          <input class="col-12 col-sm-8 col-md-8 col-lg-8 float-left mt20 h-40 label-input" [ngClass]="service.isAccount?'col-xl-6':'col-xl-8'"
            [(ngModel)]="searchDBvalue" name="CompanyName" type="text" placeholder="Search D&B accounts">
          <span class="mdi mdi-magnify" [ngClass]="searchDBvalue?.length==0?'d-block':'d-none'"></span>
          <span class="mdi mdi-close cp" [ngClass]="searchDBvalue?.length>0?'d-block':'d-none'"
            (click)="clearSearchdb()"></span>
</form>
      </div>
      <perfect-scrollbar style="max-height: 350px;padding-right: 15px;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt-20 db-container" *ngIf="data?.otherDbData" >
            <div class="col-12 col-sm-12 col-md-6 create_pading float-left no_pad_mobile">             

              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="txtlabel12"
                  class="label-form" >{{data?.lookupName}}<span class="asteriq"> * </span></label>
                  <div class="pos-rel w-100 float-left no_pad">
              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text"
              (input)="this.otherDbSearchData.accountname.iserror=false"
                  id="txtlabel12" name="text" type="text" placeholder="Search D&B account name" [(ngModel)]="otherDbSearchData.accountname.value"  #ctrl="ngModel"
                  [ngClass]="otherDbSearchData.accountname?.isRequired && otherDbSearchData.accountname?.iserror ? 'error':'border-gray'"
                  required>
              <p *ngIf="otherDbSearchData.accountname?.isRequired && otherDbSearchData.accountname?.iserror"
                  class="error-message top-40">{{data?.lookupName}} is required</p>
                </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 no_pad create_pading float-left mt10-mobile">
            
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
                for="ConversationNameountry" class="label-form">Country <span class="asteriq"> * </span></label>


                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-rel float-left no_pad CompanyName">
                    <div class="pos-rel w-100 float-left no_pad">
                  <input
                      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input ellipses min-w-inline  pos-rel"
                      name="autoComplte" appKeyListControl
                      (arrowDown)="arrowkeyLocation=$event"  [dataManipulate]=true (intialLoadData)="autoSearchSubject(autoCNew.value)"
                      (keyup.enter)="autoCNew.value=data.otherDbData.countryvalue[arrowkeyLocation].name;
                      selectedAutocompleteInputRow(data.otherDbData.countryvalue[arrowkeyLocation]);arrowkeyLocation=0;otherDbSearchData.countryvalue.isPopup=false"
                      [attr.data-arrayMaxLength]="data.otherDbData.countryvalue?.length"
                      id="ConversationNameountry" role="combobox" aria-autocomplete="list"
                      [attr.aria-expanded]="otherDbSearchData.countryvalue.isPopup?true:false" aria-owns="read"
                      [attr.aria-activedescendant]="arrowkeyLocation" autocomplete="false" [attr.data-type]="'alpha'" 
                      type="text" placeholder="Search country" #autoCNew  [attr.data-selectedvalue]="otherDbSearchData.countryvalue.name"
                      (clickOutside)="otherDbSearchData.countryvalue.isPopup=false;"
                      (input)="autoSearchSubject(autoCNew.value);otherDbSearchData.countryvalue.isPopup=true"
                      (click)="otherDbSearchData.countryvalue.isPopup = true;"
                      [ngModel]="otherDbSearchData.countryvalue.name" required
                      aria-describedby="initInstr" aria-owns="results" aria-expanded="false"
                      aria-autocomplete="both" aria-activedescendant=""                         
                      [ngClass]="otherDbSearchData.countryvalue?.isRequired && otherDbSearchData.countryvalue?.iserror?'error':''">
                  <span class="mdi mdi-magnify" ></span>
                 
                  <p *ngIf="otherDbSearchData.countryvalue?.isRequired && otherDbSearchData.countryvalue?.iserror"
                      class="error-message top-40" title="Country is required">
                      Country is required
                  </p>
                    </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  float-left no_pad suggestion-box pos-abs border-bottom-4 standard-border top40 color-azure z-ind-9 bg-white"
                      *ngIf="otherDbSearchData.countryvalue.isPopup"
                      [attr.focus]="otherDbSearchData.countryvalue.isPopup">
                      <perfect-scrollbar style="max-height:160px" class="scrollHeight">
                          <ul class=" list-group mr2 sort-dropdown" id="headerResults"
                              role="listbox" tabindex="0">

                              <li class="list-group-item h-50 p-4-0 "
                                  *ngFor="let item of data.otherDbData.countryvalue;index as j"
                                  (click)="autoCNew.value=item.name;selectedAutocompleteInputRow(item)"
                                   id="{{j}}" tabindex="0" role="option"
                                  [class.active]="j==arrowkeyLocation" aria-disabled="false"
                                  aria-selected="false">
                                  <label for="headName"
                                      class="float-left name editableAutocomplete">
                                      <span
                                          class="d-block list-name ellipses" matTooltip="{{item.name}}">{{item.name}}</span>
                                  </label>
                              </li>
                              <li class="d-block list-name h-40 p-10"
                                  *ngIf="!data.otherDbData.isLoader && data.otherDbData.countryvalue.length == 0">
                                 No record found </li>
                                  <div [ngClass]="{'loader-search':data.otherDbData.isLoader }"
                                  *ngIf="data.otherDbData.isLoader"></div>
                          </ul>

                      </perfect-scrollbar>
                  </div>
              </div>
            

            </div>
  

          <div class="col-12 col-sm-12 col-md-6 no_pad_mobile create_pading mt10 float-left">
              
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="CompanyNamepin"
                      class="label-form">Pincode </label>
                  <input maxlength="15"class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                      id="CompanyNamepin" name="CompanyNamepin" [(ngModel)]="otherDbSearchData.pincode.value" type="text" autocomplete="off"
                      placeholder="Enter pincode">
                 
              
          </div>

       

       

          <div class="col-12 col-sm-12 col-md-12 create_pading no_pad_mobile mt15 float-left">
              <div class="col-12 float-left no_pad ng-star-inserted">
                  <div class="float-right col-12 no_pad mt15 mb15">
                      <button
                          class="primary-button min-wd180 h-40 mr10 std cancel-responsived-btn button-wd100"
                          (click)="getaccountInDNB();">Search</button>
                          <!-- router.url.contains('/accounts') -->
                      <button
                          class="primary-button secondary-btn borderless min-wd180 h-40 mr10 std save-responsive-btn button-wd100" (click) = "resetall()">Reset</button>
                          <button *ngIf="data.IsCustom " [disabled]="false" [ngClass]="false ? 'disabled-custom-acc' : ''"
                          class="primary-button min-wd180 h-40  std cancel-responsived-btn button-wd100"
                          [routerLink]="['/accounts/accountcreation/createprospectaccount']" mat-dialog-close matTooltip="Request an account by entering required details, if not found in D&B"><span>+ Custom account </span>
                          </button> 
                          <button *ngIf="data.IsCustomProspect " [disabled]="false" [ngClass]="false ? 'disabled-custom-acc' : ''"
                          class="primary-button min-wd180 h-40  std cancel-responsived-btn button-wd100" (click)="customRouting()"
                           matTooltip="Request an account by entering required details, if not found in D&B"><span>+ Custom account </span>
                          </button>   
                          <button *ngIf="data.IsProspectAccount"
                          class="primary-button min-wd180 h-40  std cancel-responsived-btn button-wd100" (click)="createProspect()"
                           mat-dialog-close><span>+ Create prospect account </span>
                          </button>  
                  </div>
              </div>
          </div>

          <span class="border-bottm"></span>
        </div>
          <!-- <button class="col-12 col-sm-4 col-md-4 col-lg-4  float-right no_pad db-prospect-btn" [ngClass]="service.isAccount?'col-xl-5':'col-xl-4'"
            aria-label="create prospect account" (click)="prospectAccount()" mat-dialog-close>
            + Create Prospect Account
          </button> -->

          <div class="col-12 float-left no_pad mt10 mb10">
            <span class="text-head" [ngClass]="data.tabledata?.length==0?'d-none':'d-block'">All results ({{data.tabledata?.length}})</span>
           
          </div>
          
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad advance-table " id="popup_table">
  <perfect-scrollbar style="max-height: 200px" (psYReachEnd)="data.tabledata?.length>0?onReachEnd($event,'loadMore'):''">     
      <table class="float-left col-12 no_pad tasklist-table tableScroll">
              <thead class="float-left col-12 no_pad">
                <tr class="float-left col-12 no_pad">
                  <th class="ellipses selTdTh" [class.float-left]="!isScroll"></th>
                  <th class="ellipses scroll-width" *ngFor="let header of data.headerdata" [style.width.%]="setWidth()" [class.float-left]="!isScroll" >
                    <span matTooltip="{{header.title}}">{{header.title}}</span></th>
                </tr>
              </thead>
              <!-- <perfect-scrollbar style="max-height: 200px" (psYReachEnd)="data.tabledata?.length>0?onReachEnd($event,'loadMore'):''"> -->
                <tbody class="float-left col-12 no_pad "   *ngIf="data.tabledata?.length>0">
                  <tr class="float-left col-12 no_pad"  *ngFor="let rowdata of data.tabledata;let i = index;trackBy: trackByFn">
                    <td  class="ellipses selTdTh float-left" >
                    
                      <mat-radio-button  value="{{i}}"  [checked]="getRadioBoxSelectedData(rowdata)" #radio  (change)="radioChangeEvent(rowdata,radio.checked,i)" name="accountdbname" class="pos-abs radio-label">
             </mat-radio-button>
              <!-- <perfect-scrollbar  style="max-height: 200px;"   [config]="config"  (psYReachEnd)="data.tabledata.length>0?onReachEnd($event,'loadMore'):''">

                <tbody class="float-left col-12 no_pad" *ngIf="data.tabledata.length>0">
                  <tr class="float-left col-12 no_pad" *ngFor="let rowdata of data.tableData;let i = index">
                    <td class="float-left ellipses" *ngFor="let header of data.headerdata;let j = index">
                      <span matTooltip="{{rowdata[header.name]}}">{{rowdata[header.name]}}</span>
                      <mat-radio-button *ngIf="j == 0" value="{{j}}"  [checked]="getRadioBoxSelectedData(rowdata)" name="accountdbname" class="pos-abs radio-label">
                      </mat-radio-button> -->
                    </td>
                    <td class="ellipses scroll-width" [attr.data-label]="header.title" *ngFor="let header of data.headerdata;let j = index" (click)="selectEntireRow(rowdata,i)"
                    [style.width.%]="setWidth()" [class.float-left]="!isScroll" > <span matTooltip="{{rowdata[header.name]?rowdata[header.name]:'NA'}}">{{rowdata[header.name]?rowdata[header.name]:'NA'}}</span>
                     
                     
                    
                    </td>
                  </tr>
                  <button id="loadMore" class="loadMorePS" (click)="loadMoreEvent()"></button>

                </tbody>
              <!-- </perfect-scrollbar> -->

            <!-- </perfect-scrollbar> {{checkErrorMsg()}} -->
         
            </table>
  </perfect-scrollbar>          
            <div class="float-left no-record " *ngIf="data.tabledata.length==0 && !data?.isLoader" > 
              <span  *ngIf="data.Norecordfoundtext">No record found.</span><br>
              <span> {{getValidationData()}}</span></div>
            <div [ngClass]="{'loader-search':data?.isLoader}" class="top-90" *ngIf="data?.isLoader" ></div>

          </div>

        </perfect-scrollbar>

      

    </div>
  </div>
  <div class="float-left col-12 no_pad" [ngClass]="data.tabledata.length==0 && data?.isLoader ?'pt-70':''">
    <button type="button" class="col-12 no_pad float-left save-btn" [ngClass]="!enableBtn ? 'disabled-control' : ''" [disabled]="!enableBtn"
    (click)="addAccountClose()">
     <span  *ngIf="wiprodb">Select  <span class="{{data['casesensitive']?'':'lowerCase'}}" >{{data.lookupName ==='Legal entity name'? 'account name':data.lookupName }}</span>
    </span>
    <span  *ngIf="!wiprodb">{{data.lookupName ==='Legal entity name'? 'Select account':'Create prospect account' }} </span>
  
  </button>
  </div>
</div>
