
<!-- Approve popup starts here-->

<div class="col-12 float-left  no_pad popup-container popup-container-opportunity deal-qualify ">
    <div class="col-12 float-left  container-dialog no_pad">
      <div class="col-12 float-left">
        <div class="col-12 float-left mb10 no_pad popup-hd">
  
          <span class="col-10 float-left no_pad popup-hd-txt mdi mdi-arrow-left cp mr10" mat-dialog-title >Opportunity & Pricing details comparison
          </span>
          <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn"
            aria-label="close" mat-dialog-close></button>
        </div>
  
        <div class="col-12 float-left border-bottom-grey">
  
        </div>
  
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">
          <perfect-scrollbar style="max-height:300px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad slpop">
  
              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left mt10">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="practice"
                  class="label-form">Opportunity TCV</label>
                <div class="customized-select">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="practice"
                    class="label-form-data"><b>{{overAllTcvObj.OppTcv}}</b></label>
                </div>
  
              </div>
  
              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left  mt10">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                  class="label-form">Pricing TCV</label>
                <div class="customized-select">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="practice"
                    class="label-form-data"><b>{{overAllTcvObj.DPSTcvNew}}</b></label>
                </div>
              </div>
  
              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left  mt10">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                  class="label-form">TCV difference</label>
                <div class="customized-select">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="practice"
                    class="label-form-data"><b><span [ngClass]="overAllTcvObj.isCurrencyMismatch ? 'c2' : 'c1' ">{{overAllTcvObj.difference}}</span></b></label>
                </div>
              </div>
  
            </div>
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                class="label-form1"><b>Service line</b></label>
            </div>

            
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  no_pad float-left">
              <div class="container no_pad">
                <table class="table table-sm table-borderless mytable">
                  <thead>
                    <tr class="thd">
                      <th width="20%" scope="col">Service line</th>
                      <th width="20%" scope="col">Practice</th>
                      <th width="20%" scope="col">Sub Practice</th>
                      <th width="20%" scope="col">Trace value</th>
                      <th width="30%" scope="col">DPS value</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let SLData of overallServicelineData">
                      <td><span class="ellipsestcv" title="{{SLData.Serviceline}}" [ngClass]="SLData.highlightRow ? 'c2' : 'c1' ">{{SLData.Serviceline}}</span></td>
                      <td><span class="ellipsestcv" title="{{SLData.Practice}}" [ngClass]="SLData.highlightRow ? 'c2' : 'c1' ">{{SLData.Practice}}</span></td>
                      <td><span class="ellipsestcv" title="{{SLData.SubPractice}}" [ngClass]="SLData.highlightRow ? 'c2' : 'c1' ">{{SLData.SubPractice}}</span></td>
                      <td><span class="ellipsestcv" title="{{SLData.TraceValue}}" [ngClass]="!SLData.isSame ? 'c2' : 'c1' ">{{SLData.TraceValue}}</span></td>
                      <td><span class="ellipsestcv" title="{{SLData.DPSValue}}" [ngClass]="!SLData.isSame ? 'c2' : 'c1' ">{{SLData.DPSValue}}</span></td>
                    </tr> 
<!--  
                    <tr *ngFor="let SLData of overallServicelineData">
                      <td [ngClass]="SLData.highlightRow ? 'c1' : 'c2' ">{{SLData.Serviceline}}</td>
                      <td [ngClass]="SLData.highlightRow ? 'c2' : 'c1' ">{{SLData.Practice}}</td>
                      <td [ngClass]="SLData.highlightRow ? 'c2' : 'c1' ">{{SLData.SubPractice}}</td>
                      <td [ngClass]="SLData.isSame ? 'c2' : 'c1' ">{{SLData.TraceValue}}</td>
                      <td [ngClass]="SLData.isSame ? 'c2' : 'c1' ">{{SLData.DPSValue}}</td>
                    </tr>-->
                  </tbody>
                </table>
              </div>
            </div>
  
            <div *ngIf="overallIpData.length>0" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad ">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                class="label-form1"><b>IP</b></label>
            </div>
  
  
            <div *ngIf="overallIpData.length>0" class="float-left">
              <div class="container no_pad">
                <table class="table table-sm table-borderless mytable">
                  <thead>
                    <tr class="thd">
                      <th width="20%" scope="col">IP</th>
                      <th width="20%" scope="col">Module</th>
                      <th width="30%" scope="col" colspan="2">Trace value</th>
                      <th width="30%" scope="col" colspan="2">DPS value</th>
                    </tr>
                  </thead>
  
                  <thead>
                    <tr class="thd">
  
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>License value</td>
                      <td>AMC value</td>
                      <td>License value</td>
                      <td>AMC value</td>
                    </tr>
                  </thead>
  
                  <tbody>
                     <tr *ngFor="let ipData of overallIpData">
                      <td><span class="ellipsestcv" title="{{ipData.ipName}}" [ngClass]="ipData.highlightRow ? 'c2' : 'c1' ">{{ipData.ipName}}</span></td>
                      <td><span class="ellipsestcv" title="{{ipData.moduleName}}" [ngClass]="ipData.highlightRow ? 'c2' : 'c1' ">{{ipData.moduleName}}</span></td>
                      <td><span class="ellipsestcv" title="{{ipData.wiproLicenseValue}}" [ngClass]="!ipData.isLicenseSame ? 'c2' : 'c1' ">{{ipData.wiproLicenseValue}}</span></td>
                      <td><span class="ellipsestcv" title="{{ipData.wiproAMCvalue}}" [ngClass]="!ipData.isAMCsame ? 'c2' : 'c1' ">{{ipData.wiproAMCvalue}}</span></td>
                      <td><span class="ellipsestcv" title="{{ipData.wiproDPSLicenseValue}}" [ngClass]="!ipData.isLicenseSame ? 'c2' : 'c1' ">{{ipData.wiproDPSLicenseValue}}</span></td>
                      <td><span class="ellipsestcv" title="{{ipData.wiproDPSAMCvalue}}" [ngClass]="!ipData.isAMCsame ? 'c2' : 'c1' ">{{ipData.wiproDPSAMCvalue}}</span></td>                      
                    </tr> 
                    
                    <!--<tr *ngFor="let ipData of overallIpData">
                      <td>{{ipData.ipName}}</td>
                      <td>{{ipData.moduleName}}</td>
                      <td>{{ipData.wiproAMCvalue}}</td>
                      <td>{{ipData.wiproLicenseValue}}</td>
                      <td>{{ipData.wiproDPSAMCvalue}}</td>
                      <td>{{ipData.wiproDPSLicenseValue}}</td>
                    </tr>                    -->
                  </tbody>
                </table>
              </div>
            </div>
          </perfect-scrollbar>
        </div>  
      </div>
    </div>
  </div>