$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
.h-285 {
  height: 285px;
}
.pt100 {
  padding-top: 135px;
}

.pad-20{
  padding: 20px;
}

.brudcrumbs {
  position: relative;
  left: 7px;
  bottom: 2px;
  opacity: 0.8;
  font-size: 12px;
  color: #e7ebf2;
}
.heading-custom {
  position: relative;
  left: 6px;
}
.cursor-pointer {
  cursor: pointer;
}

.mdi-keyboard-backspace:before {
  content: "\F30D";
  font-size: 22px;
  color: #ffff;
  position: relative;
  // bottom: 40px;
}

.pad-30 {
  padding: 30px;
}

.mt-30{
  margin-top:30px
}

.mt-150 {
  margin-top: 115px;
}
.pad-top142{
    padding-top: 142px;
  }
  .primary-button.std{
    padding: 7px 0;
    min-width: 88px;
    height: 40px;
    margin: 0;
}
.mr10 {
    margin-right: 10px !important;
}
.borderless {
    border: none !important;
}

.plb-0-20 {
    padding: 8px 0 8px 15px;
}
.pad-top20{
    padding-top: 20px
}

.pad-top2{
    bottom: 2px;
    position: relative;
}

.addAccountBtns {
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #2f81ff;
    color: #2f81ff;
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    padding: 0px 10px;
    width: 205px;
}
.border-btm{
  border-bottom: 1.3px solid #9b9b9b7a;
}    

.pad-10-30 {
   padding: 10px 30px;
}
.pad-topbtm{
  padding: 20px 10px;
}