<div class="col-12 float-left  no_pad popup-container ">
    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <!-- <span class="col-10 float-left  no_pad popup-hd-txt popup-hd-size" mat-dialog-title>Confirm swap & create</span> -->
            <span class="col-10 float-left  no_pad popup-hd-txt popup-hd-size" mat-dialog-title>Are you sure you want to swap ‘{{account2}}’ with ‘{{account1}}’ ?</span>

            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close" mat-dialog-close></button>
        </div>
        <div class="col-12 float-left border-bottom-grey1"></div>
        <div class="col-12 float-left  no_pad">
            <span class="col-12 float-left  no_pad padt-20 logo-hd-popup ">Post approval ‘{{account2}}’ will be converted into a reserve account</span>

            <span class="col-12 float-left  no_pad txt-style padt-20 color-black" id="add_coment">Additional Comments </span>
            <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left Padd-5 h-40 input-text-popup" aria-labelledby="add_coment" name="text" [(ngModel)]="swapaccountcomment" type="text" placeholder="Type here"></textarea>
        </div>
    </div>
    <!--<div class="col-12 float-left no_pad">
        <button aria-label="swap account" (click)="accservive.accounttoast('The request to create a new hunting account has been successfully placed, the request will now be pending with the SE SPOC  for approval. Details are available in the \'active requests\' view.');PostSwapData(); service.loggedin_user='pendingwith'"
            class="col-12 float-left btndef-none no_pad confrm-btn">Swap account</button>
    </div>-->
    <div class="col-12 float-left no_pad">
        <button class="col-6 float-left no_pad cancel-btn1 mt15" aria-label="NO" (click)="PostSwapData('no')">No</button>
        <!--<button aria-label="YES" (click)="submitComment(overallcomments)" class="mt15 col-6 float-left btndef-none no_pad confrm-btn" 
        >Yes</button>-->
         <button aria-label="YES" (click)="PostSwapData('yes')" class="mt15 col-6 float-left btndef-none no_pad confrm-btn" 
        >Yes</button>
    </div>
</div>