<div [ngClass]="service.header?'':'main-header'">



    <div class="middle">
        <div class="col-12 no_pad float-left back-white-main">
            <div class="overlay" tabindex="-1" *ngIf="service.overlay"></div>
            <!--<div *ngIf="routerStatus" class="mobile-sidenav">
        <app-side-nav> </app-side-nav>
      </div> -->
            <div class="full-height" id="popoverWidth" [ngClass]="service.chatBot || service.userManual ? 'chat-bot-1100' : ''">
                <router-outlet> </router-outlet>
            </div>
            <div [ngClass]="service.chatBot ? 'chat-containt-250' : 'chat-containt-0'">
                <div class="pos-fixed-DA" [ngClass]="service.header?'navbar-sticky-top':''">
                    <app-chat-bot></app-chat-bot>

                </div>
            </div>
            <div [ngClass]="service.userManual ? 'chat-containt-250' : 'chat-containt-0'">
                <div class="col-xs-12 chatInDiv user-manual-div no_pad">

                    <div class="posF">
                        <div class="float-left col-12 no_pad chatInDiv">
                            <div class="col-xs-12 no_pad userManualBackground">
                                <div class="col-xs-12 no_pad h-120" align="center">
                                    <img class="userManual-img" src="assets/images/group-10.png" />

                                </div>
                                <mat-tab-group class="col-xs-12 no_pad chatTabs">
                                    <mat-tab label="Learning" class="col-xs-6 no_pad">
                                        <div class="col-12 no_pad float-left">
                                            <!-- <div class="col-xs-12 padd15 bxShadow">

                                                <div class="col-xs-12 no_pad pos-rel" style='padding-bottom:5px'>
                                                    <input type="text" class="col-xs-10 form-control form_ctrl" id="user-message"
                                                        x-webkit-speech placeholder="Search assistant" style='border-radius:25px;font-size:12px;'>
                                                    <button class="col-xs-2" type="button" id="voiceIcn" style="background-color:transparent;margin-top: 1px;"
                                                        aria-labelledby="hide-on-desktop" title="Send message to Ella">
                                                    </button>

                                                </div>

                                            </div> -->
                                            <perfect-scrollbar class="viewport height-calc" >
                                                <div class="col-12 padd15 float-left">
                                                    <div class="col-12 padd15 float-left bxShadow border-rd">
                                                        <div class="float-left col-12 no_pad">
                                                            <span class="float-left mdi mdi-library manualIcon"></span>
                                                            <h2 class="float-left manual-header">User manual</h2>
                                                        </div>
                                                        <!-- <p class="float-left col-12 no_pad manual-desc">1 out of 5
                                                            strategic themes
                                                            are not covered in account plan strategic initiatives.</p> -->
                                                        <!-- <button class="float-left col-12 no_pad show-more-btn">Show more</button> -->
                                                        <div class="col-12 float-left no_pad mt10">
                                                            <mat-accordion class="learning-videos">
                                                                <mat-expansion-panel>
                                                                    <mat-expansion-panel-header>
                                                                        <mat-panel-title>
                                                                            Web
                                                                        </mat-panel-title>

                                                                    </mat-expansion-panel-header>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Lead%20Management_Sales%20Process%20Manual.pptx?Web=1" class="more-manuals mt10">Lead management</a>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Activity%20Management_Sales%20Process%20Manual.pptx?Web=1" class="more-manuals mt10">Activity management</a>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Meeting%20Management_Sales%20Process%20Manual.pptx?Web=1" class="more-manuals mt10">Meeting management</a>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Contact%20Management_Sales%20Process%20Manual.pptx?Web=1" class="more-manuals mt10">Contact management</a>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Campaign%20Management_Sales%20Process%20Manual.pptx?Web=1" class="more-manuals mt10">Campaign management</a>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Opportunity%20Management_Sales%20Process%20Manual.pptx?Web=1" class="more-manuals mt10">Opportunity management</a>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Account%20Management_Sales%20Process%20Manual.pptx?Web=1" class="more-manuals mt10">Account management</a>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Deal%20Pricing%20System_Sales%20Process%20Manual.pptx?Web=1" class="more-manuals mt10">Deal pricing system</a>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Sales Order Booking_Sales Process Manual.pptx?web=1" class="more-manuals mt10">Sales order booking</a>
                                                                    <!-- <a target="_blank" href="#" class="more-manuals mt10">Sales process overview</a> -->
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Trace%20FAQ.pdf?Web=1" class="more-manuals mt10">Sales process FAQ</a>
                                                                    <a target="_blank" href="https://catalyst.wipro.com/publiczone/Published/Open%20Assets/Order%20Booking%20FAQ.pdf?Web=1" class="more-manuals mt10">Order booking FAQ</a>
                                                                </mat-expansion-panel>
                                                                <!-- <mat-expansion-panel>
                                                                    <mat-expansion-panel-header>
                                                                        <mat-panel-title>
                                                                            Mobile
                                                                        </mat-panel-title>

                                                                    </mat-expansion-panel-header>
                                                                    <a target="_blank" href="#" class="more-manuals mt10">Lead management</a>
                                                                    <a target="_blank" href="#" class="more-manuals mt10">Activity management</a>
                                                                    <a target="_blank" href="#" class="more-manuals mt10">Meeting management</a>
                                                                    <a target="_blank" href="#" class="more-manuals mt10">Contact management</a>
                                                                    <a target="_blank" href="#" class="more-manuals mt10">Campaign management</a>
                                                                    <a target="_blank" href="#" class="more-manuals mt10">Opportunity management</a>
                                                                    <a target="_blank" href="#" class="more-manuals mt10">Account management</a>
                                                                    <a target="_blank" href="#" class="more-manuals mt10">Deal pricing system</a>
                                                                    <a target="_blank" href="#" class="more-manuals mt10">Sales order booking</a>
                                                                </mat-expansion-panel> -->
                                                            </mat-accordion>
                                                            <!-- <button class="more-manuals mt10">01. User manual name 01</button>
                                                            <button class="more-manuals mt10">02. User manual name 02</button>
                                                            <button class="more-manuals mt10">03. User manual name 03</button>
                                                            <button class="more-manuals mt10">04. User manual name 04</button> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-12 padd15 float-left bxShadow border-rd mt10">
                                                        <div class="float-left col-12 no_pad">
                                                            <span class="float-left mdi mdi-video manualIcon"></span>
                                                            <h2 class="float-left manual-header">e-Learning videos</h2>
                                                        </div>
                                                        <!-- <p class="float-left col-12 no_pad manual-desc">1 out of 5
                                                            strategic themes
                                                            are not covered in account plan strategic initiatives.</p> -->
                                                        <div class="col-12 float-left no_pad mt10">
                                                            <mat-accordion class="learning-videos">
                                                                <mat-expansion-panel>
                                                                    <mat-expansion-panel-header>
                                                                        <mat-panel-title>
                                                                            Micro videos
                                                                        </mat-panel-title>

                                                                    </mat-expansion-panel-header>
                                                                    <!-- <h2 class="col-12 float-left no_pad micro-video-header">Lead management</h2>
                                                                    <div class="float-left col-12 no_pad">
                                                                        Lead management video section
                                                                    </div> -->
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=b04d2bd6-2937-4b6f-a37f-0882f2b2d312" class="more-manuals mt10">Lead management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=8f799555-4181-4b31-a432-1639a5e2632c" class="more-manuals mt10">Activity management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=e7589537-ce5a-4850-8155-6e24bd4f8be6" class="more-manuals mt10">Meeting management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=2ba3e8ba-ad78-48b5-9088-75093947a0c9" class="more-manuals mt10">Contact management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=141bfe51-0291-4987-a46d-56bbc02d0763" class="more-manuals mt10">Campaign management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=de009e7f-6e1e-472a-8d44-abed99a6b339" class="more-manuals mt10">Opportunity management</a>                                                  
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=a8c41554-03ed-4bc9-bbfd-f7ff442911c1" class="more-manuals mt10">Account management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=c94d9e49-684b-4a3d-ac5a-fca3048dba8e" class="more-manuals mt10">Deal pricing system</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=9ac3ad69-bda1-458e-873f-24d9e6255bff" class="more-manuals mt10">Sales order booking</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=7e94aa9c-fe5b-4298-bea4-73e3f876ac21" class="more-manuals mt10"> Sales process overview</a>


                                                                    </mat-expansion-panel>
                                                                <mat-expansion-panel>
                                                                    <mat-expansion-panel-header>
                                                                        <mat-panel-title>
                                                                            Process simulation
                                                                        </mat-panel-title>

                                                                    </mat-expansion-panel-header>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=08d20451-cbc5-42dc-ab51-99531abdd204" class="more-manuals mt10">Lead management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=18f152fc-bb73-413a-b5a7-c9a47f44d260" class="more-manuals mt10">Activity management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=9f6bf66e-ad43-4f2f-964f-ec20acb8126c" class="more-manuals mt10">Meeting management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=9e1ca820-791c-4567-b694-0e580181988d" class="more-manuals mt10">Contact management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=c16b8c46-7d52-46ee-830f-868362095ade" class="more-manuals mt10">Campaign management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=63e0e9a4-9974-4d26-b720-56a022fc623e" class="more-manuals mt10">Opportunity management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=cebfadab-5958-4940-a5f2-fda2343a93db" class="more-manuals mt10">Account management</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=5f889fa3-6a43-45bc-beb9-1a62d78e01f4" class="more-manuals mt10">Deal pricing system</a>
                                                                    <a target="_blank" href="https://wipro365.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=03e54d0c-2864-406d-a776-9193b4b10ee8&vid=46a56077-4c26-4649-9a62-afb6ff118f75" class="more-manuals mt10">Sales order booking system</a>
                                                                   
                                                                </mat-expansion-panel>
                                                            </mat-accordion>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-12 padd15 float-left bxShadow border-rd mt10">
                                                        <div class="float-left col-12 no_pad">
                                                            <span class="float-left mdi mdi-presentation manualIcon"></span>
                                                            <h2 class="float-left manual-header">Sales learning system</h2>
                                                        </div>
                                                        <p class="float-left col-12 no_pad manual-desc">1 out of 5
                                                            strategic themes
                                                            are not covered in account plan strategic initiatives.</p>
                                                        <button class="float-left col-12 no_pad show-more-btn">Show
                                                            more</button>
                                                    </div> -->
                                                    <div class="col-12 padd15 float-left bxShadow border-rd mt10">
                                                        <div class="float-left col-12 no_pad">
                                                            <span class="float-left mdi mdi-wikipedia manualIcon"></span>
                                                            <h2 class="float-left manual-header">Sales wiki</h2>
                                                        </div>
                                                        <!-- <p class="float-left col-12 no_pad manual-desc"></p> -->
                                                        <a target="_blank" href="https://catalyst.wipro.com/sites/WSS/Layout/Wikihome.aspx#/?_k=0ymm3g" class="float-left col-12 no_pad mt10 show-more-btn">Click here to access SalesWiki</a>
                                                    </div>
                                                    <div class="col-12 padd15 float-left bxShadow border-rd mt10">
                                                        <div class="float-left col-12 no_pad">
                                                            <span class="float-left mdi mdi-settings manualIcon"></span>
                                                            <h2 class="float-left manual-header">Upcoming training</h2>
                                                        </div>
                                                        <a target="_blank" href="https://catalyst.wipro.com/publiczone/Lists/Upcoming%20Sales%20Training/calendar.aspx" class="float-left col-12 no_pad mt10 show-more-btn">Click here for latest training scheduled on Quantum </a>

                                                        <!-- <p class="float-left col-12 no_pad manual-desc">1 out of 5
                                                            strategic themes
                                                            are not covered in account plan strategic initiatives.</p>
                                                        <div class="col-12 float-left no_pad">
                                                            <a href="#" class="more-manuals mt10">Quality 101</a>
                                                            <a href="#" class="more-manuals mt10">Code of Business
                                                                Conduct(COBC)</a>
                                                            <a href="#" class="more-manuals mt10">Fundamentals of Lean</a>
                                                            <a href="#" class="more-manuals mt10">Digital 101</a>
                                                        </div> -->
                                                    </div>
                                                    <div class="col-12 padd15 float-left bxShadow border-rd mt10">
                                                        <div class="float-left col-12 no_pad">
                                                            <span class="float-left mdi mdi-link-variant manualIcon"></span>
                                                            <h2 class="float-left manual-header">Quick links</h2>
                                                        </div>
                                                        <div class="col-12 float-left no_pad">
                                                            <a target="_blank" href="https://catalyst.wipro.com" class="more-manuals mt10">Catalyst</a>
                                                            <a target="_blank" href="https://wipfsuat01.wipro.com/adfs/ls/idpinitiatedsignon.aspx?RelayState=RPID%3Dhttps%253A%252F%252Fdnb.onelogin.com%26RelayState%3D%252Fsaml%252Fproxy%252F680942" class="more-manuals mt10">Dun & Bradstreet (D&B)</a>
                                                            <!-- <a href="#" class="more-manuals mt10">Quick link 03</a>
                                                            <a href="#" class="more-manuals mt10">Quick link 04</a> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </perfect-scrollbar>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Support coordinates" class="col-xs-6 no_pad">
                                        <div class="col-12 padd15 float-left bxShadow border-rd mt10 h-430">
                                            <div class="float-left col-12 no_pad">
                                                <h2 class="float-left manual-header">Support Coordinates </h2>
                                            </div>
                                            <div class="col-12 float-left no_pad mt10">
                                                <span class="col-12 float-left mt10 font-bold">For all technical queries:</span>
                                                <span class="col-12 float-left mt10 font-regular">Email: sales.support@wipro.com</span>
                                                <span class="col-12 float-left mt10 font-regular">Call: 91-821-2419121</span>
                                            </div>
                                            <div class="col-12 float-left no_pad mt10">
                                                <span class="col-12 float-left mt10 font-bold">For all training requests:</span>
                                                <span class="col-12 float-left mt10 font-regular">Email: murali.iyengar@wipro.com</span>
                                                <span class="col-12 float-left mt10 font-regular">Mobile: +91-9686668266</span>
                                            </div>
                                            <!-- <div class="col-12 float-left no_pad mt10">
                                                <span class="col-12 float-left mt10 font-bold">For any enhancements or change requests:</span>
                                                <span class="col-12 float-left mt10 font-regular">Email:</span>
                                                <span class="col-12 float-left mt10 font-regular">Mobile:</span>
                                            </div> -->
                                           
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <app-spinner *ngIf="service.loaderhome"></app-spinner> -->
    <ng-container *ngIf="service.loaderhome">
        <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
                <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                    <div class="loaderContainer">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <app-footer>
    </app-footer>

</div>