.full-height {
  min-height: calc(100vh - 60px);
  padding: 0px 0px 80px 0px;
}
.height-calc{
  max-height: calc(100vh - 185px);
}
//loader code start*
.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loaderContainer {
  width: 100%;
  top: 0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//loader code end*
.pos-fixed-DA {
  position: fixed;
}

.user-manual-div {
  .h-120 {
    height: 120px;
  }
  .userManual-img {
    width: 100%;
    height: 87%;
    background-size: cover;
  }
  .chatTabs {
    position: relative;
    top: -45px;
  }
  .btn_none {
    background-color: transparent;
    border: none;
  }
  .bxShadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .posF {
    position: fixed;
  }
  .border-rd {
    border-radius: 4px;
  }
  .manualIcon {
    font-size: 20px;
  }
  .manual-header {
    font-family: "WiproAkkuratTT-Bold";
    font-size: 18px;
    color: #103f86;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 4px;
  }
  .manual-desc {
    font-family: "WiproAkkuratTT-Regular";
    font-size: 14px;
    margin-bottom: 0;
  }
  .show-more-btn {
    background: transparent;
    border: none;
    color: #2f81ff;
    font-family: "WiproAkkuratTT-Bold";
    font-size: 14px;
    text-align: left;
  }
  .form_ctrl:focus {
    box-shadow: 0px 0px !important;
  }
  .more-manuals {
    background: transparent;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
    color: #2f81ff;
    padding: 8px;
    border-radius: 6px;
    font-family: "WiproAkkuratTT-Bold";
    float: left;
    &:hover{
        text-decoration: underline;
    }
  }
  .micro-video-header{
    font-size: 14px;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
}
.h-430{
  height: calc(100vh - 185px);
}