.popup-container .popup-hd-txt {
    margin: 0;
    font-size: 24px;
    color: #0e3570;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.popup-button-new{
    position: relative;
    right: -25%;
    bottom: 10px;
    background: #0e3570 !important;
    color: #ffffff;
    position: relative; 
    right: -25%;
}
.pad-top {
    padding-top: 10px;
}