
<div class="col-12 float-left complex_table unqualified-padding pt0 no_pad mt110">
    <ng-container *ngIf="isLoading || isLoaderNav">
                    <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
                            <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                                <div class="loaderContainer">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
        <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                <div class="parent-container" *ngIf="AllOpportunityTableTab.length>0" >
                        <app-single-table 
                          [filterConfigData]="filterConfigData"
                        (detectActionValue)="performTableChildAction($event)" 
                        (detectPageChangeData)="getNewTableData($event)"
                        [TableName]='tableName'                        
                        [TableCollection]="AllOpportunityTableTab" 
                        [IscheckBoxRequired]= true 
                        [IsActionFixed]= true 
                        [IsFreezedColumn]= true 
                        [IsCustomizeTable] = true
                        [IsTabRequired]=true
                        [IsDownload]= exportFlag
                        [AllBtnLable]="allBtnLabel"
                        [IsAssign]= true 
                        [IsSuspend]= true 
                        [IsActionManipulate]=true
                        [IsEstimateDate]= true 
                        [IsShare] = true
                        [IsReopenOpportunity]= true
                        [serviceSearch]=true
                        [TabList]="tabList"
                         [IsPinEnable]=true
                        [SelectedTab]="statusCode"
                        [IsReactivate] = true
                        [paginationPageNumber]="paginationPageNo"
                        [totalTableCount]="tableTotalCount"
                        > </app-single-table>
            </div>