<div class="menu-overley" *ngIf="overley" (click)="closeMenu()"></div>
<div class="search-overley" *ngIf="searchoverley" (click)="hidesearchBtn()"></div>
<div [ngClass]="service.header? 'header-open'  : 'header-close'"
  class="col-lg-12 col-sm-12 col-md-12 col-12 float-left header">
</div>
<div class="max-width">
  <div class="col-lg-12 col-sm-12 col-md-12 col-12 float-left header-body d-flex header-bodyiPhone header-ham">
    <div class="col-lg-3 col-sm-4 col-md-3 col-4  float-left nav-height-hor padding-left7" style="margin-top:16px">
      <button class="float-left mdi mdi-menu btndef-none menu-button" aria-label="menu" (click)="toggleMenu()"></button>
      <!-- <img class="home-btn wipro-one-logo" alt="trace" src="assets/images/trace.svg"  (click)="routetohome()"> -->
      <span routerLink="/home/dashboard" tabindex="0" aria-label="trace" role="button">
      <img class="home-btn wipro-one-logo"  src="assets/images/trace.svg">
      </span>
    </div>

    <div *ngIf="(router.url != '/maintainance')"    class="col-lg-2 col-sm-2 col-md-2 col-2 float-left no_pad SelectUI">
      <button class="head-placeholder" aria-describedby="sr_accessible"
        [attr.aria-label]="dropclicked ? 'selected menu button expanded sub menu' : selectedDrop + 'selected menu button collapsed sub menu'"
        (click)="dropclicked = !dropclicked; clearPagination()" (clickOutside)="closedropdown()">
        <span [ngSwitch]="router.url">
          <!-- the same view can be shown in more than one case -->
         <span *ngSwitchCase="'/opportunity/opportunityview/order'">Orders</span>
          <span *ngSwitchCase="'/opportunity/orderactions/retagOrder'">Orders</span>
          <span *ngSwitchCase="'/opportunity/orderactions/orderbooking'">Orders</span>
          <span *ngSwitchCase="'/opportunity/orderactions/orderaudit'">Orders</span>
          <span *ngSwitchCase="'/opportunity/orderactions/orderhierarchy'">Orders</span>
          <span *ngSwitchCase="'/opportunity/orderactions/viewindent'">Orders</span>
          <span *ngSwitchCase="'/opportunity/orderactions/emaillandingpage'">Orders</span>
          <span *ngSwitchCase="'/opportunity/orderactions/emailhistory'">Orders</span>
          <span *ngSwitchCase="'/opportunity/orderactions/modifyorder'">Orders</span>
          <span *ngSwitchCase="'/opportunity/orderactions/knowledgemanagement'">Orders</span>
          <span *ngSwitchCase="'/opportunity/opportunityview/userdeclarations'">Orders</span>
          <span *ngSwitchCase="'/opportunity/opportunityview/closereason'"> {{checkForCloseReason() == true ? 'Orders' : 'Opportunities'}} </span>
          <!--default case when there are no matches /opportunity/viewindent -->
          <span *ngSwitchDefault>{{selectedDrop}}</span>
        </span>
        <!-- <span *ngIf="((router.url.includes('/opportunityview/order')) || (router.url.includes('/opportunityview/userdeclarations')))"> Orders </span> -->
        <!-- <span  *ngIf="((!router.url.includes('/opportunityview/order')) && (!router.url.includes('/opportunityview/userdeclarations'))) "> {{selectedDrop}} </span> -->
        <span [ngClass]="dropclicked?'caret-vica':'caret'" (click)="dropclicked = !dropclicked"></span>
      </button>
      <div>
        <p class="sr-only" id="sr_accessible">Press Enter and then tab to different options and press enter to
          navigate to the particular page</p>
        <ul class="header-drop" *ngIf="dropclicked" role="listbox">
          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="SidenavFalse();dropdownClicked($event);service.checkFalse();Homeselect()"
            (click)="SidenavFalse();dropdownClicked($event);service.checkFalse();Homeselect()"
            [routerLink]="['/home/dashboard']">
            <span class="drop-placeholder">Home</span>
          </li>
          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="SidenavFalse();dropdownClicked($event);service.checkFalse();redirectoPinnedPage()"
            (click)="SidenavFalse();dropdownClicked($event);service.checkFalse();redirectoPinnedPage()" 
           >
            <span class="drop-placeholder">Accounts</span>
            <!-- [routerLink]="['/accounts/accountlist/farming']" -->
          </li>
          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="SidenavFalse($event);dropdownClicked($event);service.checkFalse();Opportunitiesselect()"
            (click)="SidenavFalse($event);dropdownClicked($event);service.checkFalse();Opportunitiesselect()"
            [routerLink]="['/opportunity/allopportunity']">
            <span class="drop-placeholder">Opportunities</span>
          </li>
          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="SidenavFalse($event);dropdownClicked($event);service.checkFalse();Ordersselect()"
            (click)="SidenavFalse($event);dropdownClicked($event);service.checkFalse();Ordersselect()"
            [routerLink]="['/order']">
            <span class="drop-placeholder">Orders</span>
          </li>
          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="SidenavFalse();dropdownClicked($event);service.checkFalse();service.serviceSearchItem='';;Leadsselect()"
            (click)="SidenavFalse();dropdownClicked($event);service.checkFalse();service.serviceSearchItem='';Leadsselect()"
            [routerLink]="['/leads/unqalified']">
            <span class="drop-placeholder">Leads </span>
          </li>
          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="SidenavFalse();dropdownClicked($event);service.checkFalse(); service.serviceSearchItem='';Activitiesselect()"
            (click)="SidenavFalse();dropdownClicked($event);service.checkFalse(); service.serviceSearchItem='';Activitiesselect()"
            [routerLink]="['/activities/myactivities']">
            <span class="drop-placeholder">Activities</span>
          </li>

          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="SidenavFalse();dropdownClicked($event);service.checkFalse();service.serviceSearchItem='';Campaignsselect()"
            (click)="SidenavFalse();dropdownClicked($event);service.checkFalse();service.serviceSearchItem='';Campaignsselect()"
            [routerLink]="['/campaign/ActiveCampaigns']">
            <span class="drop-placeholder">Campaigns</span>
          </li>
          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="SidenavFalse();dropdownClicked($event);service.checkFalse();Contactsselect()"
            (click)="SidenavFalse();dropdownClicked($event);service.checkFalse();Contactsselect()"
            [routerLink]="['/contacts']">
            <span class="drop-placeholder">Contacts</span>
          </li>
          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="sideNavtrue();dropdownClicked($event);service.checkFalse();Dealsselect()"
            (click)="sideNavtrue();dropdownClicked($event);service.checkFalse();Dealsselect()"
            [routerLink]="['/deals/deal/tagged']">
            <span class="drop-placeholder">Deals </span>
          </li>
          <li class="list-names border-property" role="option" tabindex="0" *ngIf= "IsHelpDesk == true"
            (keypress)="sideNavtrue();dropdownClicked($event);service.checkFalse()"
            (click)="sideNavtrue();dropdownClicked($event);service.checkFalse()" [routerLink]="['/helpdesk']">
            <span class="drop-placeholder">Helpdesk</span>
          </li>
          <li class="list-names border-property" role="option" tabindex="0"
            (keypress)="sideNavtrue();dropdownClicked($event);service.checkFalse()"
            (click)="sideNavtrue();dropdownClicked($event);service.checkFalse()" [routerLink]="['/reports']">
            <span class="drop-placeholder">Reports</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-7 col-sm-12 col-md-9 col-8 paading-0 align-center float-right padd_rightiphone">
      <div   class="col-xl-8 col-lg-7 col-sm-8 col-md-8 col-8 float-left new-search-header no_pad">
        <!-- new search starts-->
        <div *ngIf="(router.url != '/maintainance')">
        <div  *ngIf="(router.url != '/advancedSearch')" class="col-12 d-none d-sm-block no_pad float-left pos-rel nav-search">
          <span class="searchtab mdi mdi-magnify float-right"></span>
          <mat-form-field class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad ">

            <input class="search-custom" id="focus" aria-label="Search anything" #searchWeb
              (input)="globalsearchData(searchWeb.value)" matInput placeholder="Search anything"
              [matAutocomplete]="auto" [formControl]="stateCtrl" [ngClass]="isborder ? 'active':''"
              (focusout)="clearstyle()">

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="30"></mat-spinner>
              </mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let state of states" (click)="clickOnSearchedData(state.name)" [value]="state.name">
                  <div>
                    <span class="sub-search">{{state.subhead}}</span>
                    <span class="name_search">{{state.name}}</span>
                  </div>
                </mat-option>
                <mat-option *ngIf="states.length == 0 && isSearched">
                  <div>
                    <span class="name_search">No record found!</span>
                  </div>
                </mat-option>
                <mat-option *ngIf="states.length>1 && isSearched">
                  <button class="extra-link color-azure mr2 btn-none w-100" (click)="service.GlobalSearchdata = null"
                    routerLink="/advancedSearch">
                    <span class="mdi mdi-database-search icon"></span>
                    <span class="txt">Advanced search</span>
                  </button>
                </mat-option>
              </ng-container>

              <!-- <mat-option *ngIf="states.length == 0 && isSearched">
                <div>
                  <span class="name_search">No record found!</span>
                </div>
              </mat-option> -->
              <!-- <mat-option>

                </mat-option> -->
              <!-- <mat-option>
                <button class="extra-link color-azure mr2 btn-none w-100" (click)="service.GlobalSearchdata = null"
                  routerLink="/advancedSearch">
                  <span class="mdi mdi-database-search icon"></span>
                  <span class="txt">Advanced search</span>
                </button>
              </mat-option> -->

            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
        <!--new search ends-->
      </div>
      <div class="col-xl-4 col-lg-5 col-md-12 col-sm-8 bot-container mb-0 float-right pr25-nav">

        <div *ngIf="(router.url != '/maintainance')" class="float-right">
          <button class="btn-none chat-btn " matTooltip="Digital assistant" aria-label="Digital assistant"
            (click)="openChat();service.showchat();" [disabled]="router.url.includes('/helpdesk')" [ngClass]="router.url.includes('/helpdesk') ? 'pointernone' : ''">
            <!-- (clickOutside)="closechatbot()" -->
            <span class="red-dot-chat" [ngClass]="router.url.includes('/helpdesk') ? 'red-dot-chat-disable' : ''"></span>
            <img class="login-img-chat " alt="chat bot" src="assets/images/default.svg" [ngClass]="router.url.includes('/helpdesk') ? 'greyscale' : ''"> </button>
        </div>

        <!-- <div class="float-right">
          <div class="float-right pos-rel ">
            <button class="btn-none notify-icon float-right" aria-label="notification" (click)="opennotification()"
              (clickOutside)="closeNotification()" matTooltip="Notification">
              <span class="mdi mdi-bell-outline bell-icon"></span>
            </button>

            <div class="Notify" *ngIf="notification">
              <div class="posA filterContent notificationBody ">
                <div class="col-12 no_pad float-left">
                  <div class="scroll-window" slimScroll>
                    <div class="float-left col-12 all-notifications" role="button" tabindex="0"
                      *ngFor="let note of allNotifications">
                      <p class="col-12 no_pad float-left">{{note.name}}</p>
                      <span class="col-12 no_pad float-left">{{note.date}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div> -->
        <div *ngIf="(router.url != '/maintainance')" class="float-right">
          <button  class="btn-none notify-icon float-right" aria-label="help" matTooltip="Help" (click)="openUserManual()">
            <span class="mdi mdi-help bell-icon"></span>
          </button>
        </div>

        <!-- <li class="float-right">
          <div class="float-left pos-rel">
            <img [src]="imgSrc" (click)="openlogout()" (clickOutside)="closelogout()"
              [ngClass]="imgSrc != null ? 'float-left menu-prof-pic' : 'd-none'" alt="Profile picture" />
            <button class="btn-none profile-image" (click)="openlogout()" (clickOutside)="closelogout()">
              <span *ngIf="imgSrc == null" class="login-img mdi mdi-account"></span>
            </button>
          </li> -->

        <div class="float-right">
          <div class="float-left pos-rel">
            <button class="btn-none profile-image no_pad" aria-label="profile" matTooltip={{profileTitle}}
              (click)="openLogout()" (clickOutside)="closeLogout()">
              <span *ngIf="imgSrc == null" class="login-img mdi mdi-account"></span>
              <img [src]="imgSrc" *ngIf="imgSrc" [ngClass]="imgSrc != null ? 'float-left menu-prof-pic' : 'd-none'"
                alt="Profile picture" />
            </button>
            <div class="Notify" *ngIf="openit">
              <div class="posA filterContent filterBody">
                <button class="btnngx" tabindex="0" (click)="DropMenu_hide()">
                  <div class="circle"></div>
                  <span class="Txt">Logout</span>
                </button>
              </div>
            </div>
          </div>


        </div>
        <div class="float-right mobile-search">
          <button class="float-left mdi mdi-magnify search-btn" (click)="showsearchBtn()" aria-label="search"></button>
        </div>
        <div class="overlay" *ngIf="DropMenuOpen" (click)="DropMenu()"> </div>
      </div>
    </div>
  </div>
</div>

<!--search textbox for mobile starts here-->
<div class="header-search-div" *ngIf="Mobile_textbox" [ngClass]="searchBtn ? 'active' : ''"
  [attr.aria-hidden]="searchBtn ? 'false': 'true'" [attr.tabindex]="searchBtn ? '0': '-1'">
  <div class="col-xl-8 col-lg-7 col-sm-8 col-md-8 col-11 float-left no_pad new-search-header-mob">
    <!--new search starts-->
    <div class="col-12  no_pad float-left pos-rel">
      <span class="searchtab mdi mdi-magnify float-right"></span>
      <mat-form-field class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <input class="search-custom" id="focus" #searchMOb (input)="globalsearchData(searchMOb.value)" matInput
          placeholder="Search anything" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">
            <mat-spinner diameter="30"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let state of states" (click)="clickOnSearchedData(state.name)" [value]="state.name">
              <div>
                <span class="sub-search">{{state.subhead}}</span>
                <span class="name_search">{{state.name}}</span>
              </div>
            </mat-option>
            <mat-option *ngIf="states.length == 0 && isSearched">
              <div>
                <span class="name_search">No record found!</span>
              </div>
            </mat-option>
            <mat-option *ngIf="states.length>1 && isSearched">
              <button class="extra-link color-azure mr2 btn-none w-100" (click)="service.GlobalSearchdata = null"
                routerLink="/advancedSearch">
                <span class="mdi mdi-database-search icon"></span>
                <span class="txt">Advanced search</span>
              </button>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!--new search ends-->
  </div>
  <!-- <div class="col-11 float-left header-search-main">
    <input type="text" class="col-10 float-left" placeholder="Search anything" />
    <button class="float-right mdi mdi-magnify" aria-label="search"></button>
  </div> -->
  <div class="col-1 float-right no_pad">
    <button class="float-right mdi mdi-close search-close-btn" aria-label="close search"
      (click)="hidesearchBtn()"></button>
  </div>
</div>
<!--search textbox for mobile ends here-->

<!--left menu starts here-->
<div class="left-navigation-div" *ngIf="Mobile_textbox" [ngClass]="leftmenu ? 'active' : ''"
  [attr.tabindex]="leftmenu ? '0': '-1'" [attr.aria-hidden]="leftmenu ? 'false': 'true'">
  <div class="profile-div col-12 float-left">
    <img [src]="imgSrc" [ngClass]="imgSrc != null ? 'float-left menu-prof-pic1' : 'd-none'" alt="Profile picture" />
    <span *ngIf="imgSrc == null" class="float-left login-img mdi mdi-account"></span>
    <!-- <img [src]="imgSrc" class="btn-none  profile-image" *ngIf="imgSrc == null"/> -->
    <div class="float-left col-9">
      <span class="col-12 no_pad float-left menu-prof-name">{{userName}}</span>
      <!-- <span class="col-12 no_pad float-left menu-prof-desg">Manager</span> -->
    </div>
  </div>
  <div class="float-left col-12 no_pad horizontal-scroll-menu">
    <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()"
      [routerLink]="['/home/dashboard']" routerLinkActive="link-active">Home</button>
    <!-- <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()" [routerLink]="['/accounts/login']" routerLinkActive="link-active">Accounts</button> -->
    <div class="col-12 float-left no_pad">
      <div class="col-12 float-left no_pad" (click)="accordianClicked = !accordianClicked">
        <button type="button" class="float-left menu-link-btns" (click)="closeMenu();redirectoPinnedPage()"
           routerLinkActive="link-active">Accounts</button>
        <span class="caret caret-mobile" *ngIf="router.url.includes('/accounts/accountdetails') || router.url.includes('accounts/accountdetails/DashboardDetails') || router.url.includes('/accounts/contracts/pendingrequests')
      || router.url.includes('/accounts/teams/incentive') || router.url.includes('/accounts/managementlog')"
          [ngClass]="accordianClicked?'rotate-180':''">
        </span>
      </div>
      <ng-container *ngIf="accordianClicked">
        <div class="col-12 no_pad float-left menu-link-btns11"
          [ngClass]="router.url.includes('/accounts/accountdetails') || router.url.includes('accounts/accountdetails/DashboardDetails') || router.url.includes('/accounts/contracts/pendingrequests')
      || router.url.includes('/accounts/teams/incentive') || router.url.includes('/accounts/managementlog') ? 'expandAcc': 'collapseAcc'">

          <!--chethana side nav mobile starts-->
          <div class="scroll-window" >
            <div class="col-12 no_pad float-left sideBarmobile sidenavmobile pad_sidenavmobile">
              <!-- <div class="height450 icon-slide"> -->
            <!-- <perfect-scrollbar class="height450 icon-slide"> -->
              <a class="col-12 no_pad float-left" *ngIf="router.url.includes('/accounts')"
                routerLink="/accounts/accountdetails/DashboardDetails" routerLinkActive="active-link"
                [matTooltip]="service.sideTrans ? null:'Dashboard details'" matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">dashboard
                  </span>
                <span id="menu0" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'">Dashboard  </span>
              </a>
              <a class="col-12 no_pad float-left" *ngIf="router.url.includes('/accounts')"
                routerLinkActive="active-link" [routerLink]="['/accounts/accountdetails']"
                [matTooltip]="service.sideTrans ? null:'Account details'" matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">account details</span>
                <span id="menu1" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Account details </span>
              </a>
              <a class="col-12 no_pad float-left" (click)="sideNavtrue();openNav()"
                [routerLink]="['/accounts/teams/incentive']" routerLinkActive="active-link"
                *ngIf="router.url.includes('/accounts')" [matTooltip]="service.sideTrans ? null:'Teams'"
                matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Account teams</span>
                <span id="menu6" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Account teams </span>
              </a>
              <!-- <a class="col-12 no_pad float-left" routerLinkActive="active-link" [routerLink]="['/accounts/accountdetails']" (click)="sideNavtrue();openNav();showCustomer()"
                *ngIf="router.url.includes('/accounts')" [matTooltip]="service.sideTrans ? null:'Customer details'"
                matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Customer
                  details</span>
                <span id="menu2" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Customer details </span>
              </a> -->
              <a class="col-12 no_pad float-left" (click)="sideNavtrue()"
              [routerLink]="['/accounts/contacts/accountcontacts']" routerLinkActive="active-link"
              *ngIf="router.url.includes('/accounts')" [matTooltip]="service.sideTrans ? null:'Contacts'"
              matTooltipPosition="right">
              <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Contacts</span>
              <span id="menu5" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'">Contacts</span>
            </a>
            <a class="col-12 no_pad float-left" routerLinkActive="active-link" [routerLink]="['/accounts/accountleads/unqalified']"
                *ngIf="router.url.includes('/accounts')" (click)="openNav()"
                [matTooltip]="service.sideTrans ? null:'Notes & conversation'" matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Lead</span>
                <span id="menu8" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Lead
                </span>
              </a>

              <a routerLinkActive="active-link" (click)="activeLeads();redirectToOppLead()" 
                [attr.aria-selected]="leadOppDetails" *ngIf="router.url.includes('/accounts')"
                [matTooltip]="service.sideTrans ? null:'Leads & opportunities'" matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Opportunities</span>
                <!-- <label class="tooltiptext" for="menu3">Contracts</label> -->
                <span id="menu3" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Opportunities
                </span>
              </a>
              <a class="col-12 no_pad float-left" routerLinkActive="active-link"
              *ngIf="router.url.includes('/accounts')" (click)="openNav()" [routerLink]="['/accounts/accountorders']"
              [matTooltip]="service.sideTrans ? null:'Notes & conversation'" matTooltipPosition="right">
              <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Orders</span>
              <span id="menu10" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Orders
              </span>
            </a>

              <a class="col-12 no_pad float-left" (click)="sideNavtrue();openIcertis();" routerLinkActive="active-link"
                *ngIf="router.url.includes('/accounts')" [matTooltip]="service.sideTrans ? null:'Contracts'"
                matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Contracts</span>
                <span id="menu4" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Contracts</span>
              </a>
              <a class="col-12 no_pad float-left" routerLinkActive="active-link"
                *ngIf="router.url.includes('/accounts')" (click)="sideNavtrue();openNav();openAccountPlan()"
                [matTooltip]="service.sideTrans ? null:'Account plans'" matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">account plans</span>
                <span id="menu11" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Account Plans </span>
              </a>

              <a class="col-12 no_pad float-left" (click)="sideNavtrue();openNav()"
                [routerLink]="['/accounts/managementlog']" routerLinkActive="active-link"
                *ngIf="router.url.includes('/accounts')" [matTooltip]="service.sideTrans ? null:'Management log'"
                matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Management log</span>
                <span id="menu6" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Management log </span>
              </a>
              <a class="col-12 no_pad float-left" routerLinkActive="active-link" [routerLink]="['/accounts/accountdetails/accountdetailstwo']"
                *ngIf="router.url.includes('/accounts')"  (click)="sideNavtrue();openNav()"
                [matTooltip]="service.sideTrans ? null:'Notes & conversation'" matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Notes</span>
                <span id="menu7" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Notes
                </span>
              </a>
              
              <a class="col-12 no_pad float-left" routerLinkActive="active-link"
                *ngIf="router.url.includes('/accounts')" (click)="openNav()" [routerLink]="['/accounts/accountactivities/myactivities']"
                [matTooltip]="service.sideTrans ? null:'Notes & conversation'" matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Activities</span>
                <span id="menu9" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Activities
                </span>
              </a>
             
          
              <a class="col-12 no_pad float-left" routerLinkActive="active-link"
                *ngIf="router.url.includes('/helpdesk')" (click)="openNav()"
                [matTooltip]="service.sideTrans ? null:'Account plans'" matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">helpdesk</span>
                <span id="menu12" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'">Helpdesk</span>
              </a>
              <!-- <a class="col-12 no_pad float-left" routerLinkActive="active-link" (click)="openNav()"
                [matTooltip]="service.sideTrans ? null:'Reports'" matTooltipPosition="right">
                <span class="sr-only" [ngClass]="service.sideTrans ? 'disp_none': 'disp_block'">Reports</span>
                <span id="menu13" [ngClass]="service.sideTrans ? 'Account-Details':'hidden'"> Reports </span>
              </a> -->
              <!-- </perfect-scrollbar> -->
              <!-- </div> -->
            </div>
          </div>
          <!--chethana side nav mobile ends-->

        </div>
      </ng-container>
    </div>
    <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()"
      [routerLink]="['/opportunity/allopportunity']" routerLinkActive="link-active">Opportunities</button>
    <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()"
      [routerLink]="['/order']" routerLinkActive="link-active">Orders</button>
    <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()"
      [routerLink]="['/leads/unqalified']" routerLinkActive="link-active">Leads</button>
    <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()"
      [routerLink]="['/activities/myactivities']" routerLinkActive="link-active">Activities</button>
    <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()"
      [routerLink]="['/campaign']" routerLinkActive="link-active">Campaigns</button>
    <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()"
      [routerLink]="['/contacts']" routerLinkActive="link-active">Contacts</button>
    <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()"
      [routerLink]="['/deals/deal/tagged']" routerLinkActive="link-active">Deals</button>
      <button role="link" tabindex="0" class="col-12  float-left menu-link-btns" (click)="closeMenu()"
      [routerLink]="['/helpdesk']" routerLinkActive="link-active">Helpdesk</button>
    <button class="col-12  float-left menu-link-btns" (click)="closeMenu()" [routerLink]="['/reports']"
      routerLinkActive="link-active">Reports</button>

    <!-- <button class="col-12 no_pad float-left menu-link-btns" (click)="closeMenu()" [routerLink]="['/leads/createlead']">Create lead</button> -->
    <div class="border-btm col-12 float-left no_pad mt10 mb10"></div>
    <!-- <button class="col-12 float-left menu-link-btns" (click)="DropMenu_hide()">Logout</button> -->
    <!-- <button class="col-12 no_pad float-left menu-link-btns" (click)="closeMenu()">Convert to opportunity</button>
    <button class="col-12 no_pad float-left menu-link-btns" (click)="closeMenu()">Contracts</button> -->
  </div>
</div>
<!--left menu ends here-->

<div *ngIf="routerStatus" class="mobile-sidenav">
  <app-side-nav> </app-side-nav>
</div>