<mat-form-field class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
<input class="search-custom" id="focus" matInput placeholder="Search anything" [matAutocomplete]="auto" [formControl]="stateCtrl">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
    <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
    <div>
        <span class="sub-search">{{state.subhead}}</span>
        <span class="name_search">{{state.name}}</span>
        <span class="email_search">{{state.population}}</span>
    </div>
    </mat-option>
</mat-autocomplete>
</mat-form-field>