
$Azure: #2f81ff;
$White: #ffffff;
$Black: #000000;
$NavyBlue: #0e3570;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;


.card{
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color:$White;
  margin-bottom:5px !important;
}

.sub-text-request{
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: $Black;

}
.converstion-name {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px !important;
  line-height: 1.43;
  letter-spacing: 0.3px;
  color: #737373 !important;

}

.plb-60-20 {
  padding: 0 60px 15px 0;
}
.margin-btm100{
  margin-bottom: 100px;
}







