$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
$DarkBlack : #2e2e2e;
.opportunity-landing-container{

  .mt-126{
    margin-top:126px
  }
.borderless 
{
    border: none !important;
}
    .h-150{
        height: 150px;
    }
    .h-360{
        height: 360px;
    }

    .border-none{
        border: none;
    }
    .w-145{
        width: 145px;
    }
    .pad-30{
        padding:30px 30px;
        padding-bottom: 210px !important;
    }
    .h-40{
        height: 40px;
    }
    .mt40{
        margin-top: 40px;
    }


    .d-inline-w-h-20{
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .d-inline-w-h-16-14{
        display: inline-block;
        width: 16px;
        height: 14px;
        font-size: 12px;
    }
    .mleft-5{
        margin-left: 5px;
    }

    .logo{
        text-align: center;
        font-size: 14px;
    }
    .sub-vertical-but{
        padding: 5px 0px !important;
    }



}
.pr5{
    padding-right: 5px;
}
.w-110{
    width:110px; 
}
 .convo-tag
{
position: absolute;
left: 36px;
width: 180px;
height: 16px;
opacity: 0.6;
font-family: WiproAkkuratTT-Regular;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.33;
letter-spacing: normal;
color: #e7ebf2;
float: left;
top: 30px;
}
//alex

.h-178 {
  height: 227px;
  }
  .card {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px !important;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .pad-20 {
    padding: 20px 20px;
  }
  .heading-level-two {
    font-family:WiproAkkuratTT-Bold;
    font-size: 20px;
    color:$White;
    letter-spacing: -0.4px;
  }
  .m-right16 {
    margin-right: 16px;
  }
  .m-left13 {
    margin-left: 13px;
  }
  .m-left16 {
    margin-left: 16px;
  }
  .brudcrumbs {
    position: relative;
    // left: 8px;
    bottom: 18px;
    opacity: 0.8;
    font-size: 12px;
    color: #e7ebf2;
  }
  .heading-custom {
    position: relative;
    left: 33px;
  }
  
  .mdi-keyboard-backspace:before {
    // content: "\F30D";
    font-size: 22px;
    color: #ffff;
    position: relative;
    bottom: 32px;
  }
  
  .web-alpha-caret {
    color: #ffff;
    position: absolute;
  }
  .d-flex {
    display: flex;
  }
  .pad-create-lead1 {
    padding: 10px 30px 10px 20px;
  }
  .heading-level-two{
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px;
    color:$DarkBlack
  }
  .border-bottm{
    border: 1px solid #d8d8d8;
    height: 2px;
    margin: 5px 25px 0 25px;
  }
  .mdi-magnify:before{
    color: $Azure ;
    font-size: 18px;
    right: 26px;
    position: absolute;
    bottom: 5px;
  }
  .create-mt20 {
    margin-top: 20px;
  }
  .create-mt20-mob{
    margin-top: 20px;
  }
  .mar-b30 {
    margin-bottom: 30px;
  }
  .pad-top20 {
    padding: 10px 0px 20px 0px;
  }
  .customized-input {
    input {
        border: 1.5px solid #e5e5e5;
        &:focus {
          border: 1.5px solid  $Azure;
          outline: none;
        }
    }
    input::placeholder {
      color: #a7a4a4;
    }
  }
  .customized-select {
    position: relative;
    select {
      width: 100%;
      min-height: 40px;
      border-radius: 5px;
      border: 1.5px solid rgba(0, 0, 0, 0.1);
      padding: 2px 5px;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: none;
      &:focus {
        outline: none;
        border-color:$Azure;
      }
    }
    select::-ms-expand {
      // for IE
      display: none !important;
    }
    .caret {
      top: 17px;
      right: 16px;
    }
  }
 .serachbutton.primary-button {
width: 16%;
    padding: 4px 7px;
  }
  .serachbuttonrenewal.primary-button {
    width: 16%;
        padding: 4px 7px;
      }
  .show-more {
    font-size: 14px;
    font-weight: bold;
    color: #2f81ff;
  }
  ::ng-deep .customized-checkbox:first-child .matcheck .mat-checkbox-frame {
    border-color: #2f81ff !important;
  }
  
  ::ng-deep .customized-checkbox:first-child .matcheck.mat-checkbox-checked .mat-checkbox-background {
    background-color: #2f81ff !important;
  }
  .primary-button:hover {
    background-color: rgb(47, 129, 255);
    color: rgb(255, 255, 255);
}
  .primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
    margin: 0;
}
  //alex css ends
  .downloadOppo{
    display:none !important;
  }

  .mr10{
    margin-right: 10px !important;
  }
  .label-font{
    font-family: "WiproAkkuratTT-Bold";
    font-size: 20px;
  }

  .loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
.loaderContainer {
  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  //pavithra
//   .validation-text
// {
//     font-size: 12px;
//     font-family: WiproAkkuratTT-Bold;
//     color: #f58323;
//     position: absolute;
//     margin: 0px !important;
// }
//Error message class start
.validation-text
{
    font-family: WiproAkkuratTT-Bold;
    background: transparent !important;
    padding: 4px 0px !important;
    color: #ef3341 !important;
    position: absolute;
    width: 100%;
    z-index: 1;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}
.orangeborder
{
    border: 2px solid #ef3341 !important;
}
//Error message class end

@media screen and (max-width: 823px) {
  .mr10{
    margin-right: 0px !important;
  } 
  .pd0{
    padding: 0px;
  }

}