<perfect-scrollbar style="max-height:600px" class="z-ind-9">
  <div class="col-12 float-left  no_pad popup-container ">

    <div class="col-12 float-left  container-dialog">
      <div class="col-12 float-left  no_pad popup-hd">
        <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Advisory/ Analyst Relations</span>
        <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn"
          aria-label="close" mat-dialog-close></button>
      </div>

      <div class="col-12 float-left border-bottom-grey"></div>

      <!-- <div class="col-12 float-left no_pad cust_autoComplete">
              <label class="col-12 float-left  no_pad margin-top-20 hd-val" for="percentage">Initiative name</label>
              <input type="text"  class="col-12 float-left border-gray w-100 label-input" name="percentage"
                  placeholder="Please enter the initiative name" />
          </div> -->

      <div class="col-12 float-left mt20 no_pad">
        <div (clickOutside)="InitiativeNameSwitch = false"
          class="col-12  no_pad float-left plb-60-20 cust_autoComplete pos-rel">
          <form class="col-12  float-left no_pad add-advisory">
            <label class="col-12  float-left no_pad" for="InitiativeName" class="label-form">Advisory/Analyst account name
            </label>
            <input [ngClass]="allsubmitted && !Initiativename ? 'border-pink':'border-gray'" #advisory class="col-12  float-left h-40 label-input"  
              (keyup.enter)="InitiativeNameSwitch=false"
              [attr.data-arrayMaxLength]="InitiativeNameArray?.length" [attr.data-isDownBtn]=true type="text" role="combobox"
              aria-autocomplete="list" [attr.aria-expanded]="InitiativeNameSwitch?true:false" aria-owns="read"
              autocomplete="false" 
              (keydown.Tab)="InitiativeNameSwitch = false" [attr.data-selectedvalue]="Initiativename"
              id="InitiativeName" name="Initiativename" autocomplete="off"
              type="text" placeholder="Search Advisory/Analyst account name"
             (input)="InitiativeNameSwitch = true;getAdvisoryAnalyst(advisory.value)"
              (click)="InitiativeNameSwitch = true;getAdvisoryAnalyst(advisory.value)"[(ngModel)]="Initiativename"  (clickOutside)="InitiativeNameSwitch = false">

            <span class="mdi mdi-magnify"></span>
            <span class="mdi mdi-close auto-close"  *ngIf="false "></span>
            <p *ngIf="allsubmitted && !Initiativename" class="error-message custom-label top64" id="stateerrormsg">Advisory/ Analyst account name is required</p>
            <div class="col-12  border-right border-btm z-ind-9999 float-left no_pad suggestion-box pos-sticky  border-bottom-4  standard-border color-azure z-ind-9 bg-white"
              *ngIf="InitiativeNameSwitch">
              <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                <ul class=" list-group color-azure autocomplete-box">
                  <li class="list-group-item h-50 p-4-10"
                    *ngFor="let item of InitiativeNameArray |filter:Initiativename;let i = index;" id="{{i}}" tabindex="0"
                    role="option" [class.active]="i==arrowkeyLocation" aria-disabled="false" aria-selected="false" (click)="appendadvisory(item)">

                    <label for="inti_name" class="float-left name w-80"
                      >
                      <span class="d-block list-name ellipses">{{item.Name}}</span>
                      <!-- <span class="d-block sub-list">{{item.Number}}</span> -->
                    </label>
                  </li>
                  <!-- <li class="d-block list-name h-40 p-10 cp" *ngIf="(InitiativeNameArray |filter:Initiativename).length == 0">
                    No record found </li> -->
                </ul>
              </perfect-scrollbar>
              <span class="db-search" (click)="openadvancetabs('AdvisoryAnalystSearch',InitiativeNameArray,Initiativename)">
                <button id="adls{{CBUContact?.length+1}}" role="option" tabindex="0" aria-disabled="false"
                    type="button" class="button-search"
                    [class.active]="CBUContact?.length+1 == arrowkeyLocation">
                    <span class="mdi mdi-file-outline"></span> Advance look up
            </button>
            </span>
              <!-- <span class="db-search" (click)="openadvancetabs()" (keypress) = "openadvancetabs()">
                <button id="adls{{InitiativeNameArray?.length+1}}" role="option" tabindex="0" aria-disabled="false" type="button"
                  class="button-search" [class.active]="InitiativeNameArray?.length+1 == arrowkeyLocation">
                  <span class="mdi mdi-file-outline"></span> Advance look up
                </button>
              </span> -->
            </div>
          </form>

          <!-- Code for multi select option start -->
          <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact">
            <perfect-scrollbar style="max-height:150px">
              <div *ngFor="let item of selectedAnalyst; let i=index"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  mt-10 p-4-10">
                <div class="float-left naming-tags child-middle bg-azure"
                  [ngStyle]="{'backgroundColor': (5%2 == 0) ? 'blue' : 'red'}">
                  <span class="initials">{{item.Name | firstWord}}</span>
                </div>
                <label for="inti_name" class="float-left name w-80">
                  <span class="d-block list-name ellipses" >{{item.Name}}</span>
                  <span class="d-block sub-list">{{item.Number}}</span>
                </label>
                <span class="mdi mdi-close close-lead float-right cp" (click)="deleteSelectedItem(item, i)"></span>
              </div>
            </perfect-scrollbar>

          </div> -->

          <!-- code for  multi select option end -->

        </div>
      </div>


<!-- COMMENTED CODE FOR CBU , DESCRIPTION , TARGET ROLE START -->
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">
        <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName CompanyNamewip">
          <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="CBU"
            class="label-form"> CBU
          </label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
            <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input "
            (keyup.enter)="CBUNameSwitch=false"
            [attr.data-arrayMaxLength]="CBUdetails?.length" [attr.data-isDownBtn]=true type="text" role="combobox"
            aria-autocomplete="list" [attr.aria-expanded]="CBUNameSwitch?true:false" aria-owns="read"
            autocomplete="false" 
            (keydown.Tab)="CBUNameSwitch = false" [attr.data-selectedvalue]="CBUName"
            id="CBU" name="CBUName" type="text" autocomplete="off" 
            type="text" [(ngModel)]="CBUName" placeholder="Search CBU"
            (input)="CBUNameSwitch = true"            
            (clickOutside)="CBUNameSwitch = false"
            (click)="CBUNameSwitch = true">
            <span class="mdi mdi-magnify"></span>
          </div>

         <div class="col-12  border-right border-btm z-ind-9999 float-left no_pad suggestion-box pos-abs mt39 border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white"
            *ngIf="CBUName && CBUNameSwitch">
            <ul class=" list-group color-azure autocomplete-box">
              <span class="w-100 z-ind-9 float-left bg-white">
                <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                  <span class="w-100 z-ind-9 float-left bg-white">
                    <ul class=" list-group color-azure autocomplete-box">
                      <li class="list-group-item h-50 p-4-10 " (click)="appendCBU(item)"
                        *ngFor="let item of CBUdetails |filter:CBUName;let i = index">

                        <span class="d-block list-name ellipses">{{item.Name}}</span>
                       
                      </li>

                      <li class="d-block list-name h-40 p-10"
                        *ngIf="(CBUdetails |filter:CBUName).length == 0">No results found
                        <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad font-12">
                          Ensure that you have typed correct legal entity name</span></li>
                    </ul>
                  </span>
                </perfect-scrollbar>
              </span>
              <span class="db-search" (click)="openadvancetabs()">
                <button id="adls{{InitiativeNameArray?.length+1}}" role="option" tabindex="0" aria-disabled="false" type="button"
                  class="button-search" [class.active]="InitiativeNameArray?.length+1 == arrowkeyLocation">
                  <span class="mdi mdi-file-outline"></span> Advance look up
                </button>
              </span>
            </ul>
          </div>
        </form>

        
      </div> -->
      <!-- <div class="textarea_readonly col-12 float-left mt20 no_pad">
        <label class="col-12  float-left no_pad" for="contactcampaign1" class="label-form">Description
        </label>
        <textarea class="form-control vision_txt_area_placeholder" [(ngModel)]="description"  name="description" rows="3"
          placeholder="Enter the description"></textarea>
      </div> -->

      <!-- <div class="col-12 float-left  no_pad mt20">
        <div class="col-12  no_pad float-left plb-60-20 cust_autoComplete pos-rel">
          <form class="col-12  float-left no_pad">
            <label class="col-12  float-left no_pad" for="contactTarget" class="label-form">Target contact name
            </label>
            <input class="col-12  float-left h-40 label-input" 
            (keyup.enter)="TargetContactSwitch=false"
            [attr.data-arrayMaxLength]="TargetContactArray?.length" [attr.data-isDownBtn]=true type="text" role="combobox"
            aria-autocomplete="list" [attr.aria-expanded]="TargetContactSwitch?true:false" aria-owns="read"
            autocomplete="false" 
            (keydown.Tab)="TargetContactSwitch = false" [attr.data-selectedvalue]="CBUName"
            id="contactTarget" name="contactTarget" type="text" autocomplete="off" 
            type="text" [(ngModel)]="contactTarget" placeholder="Search target contact name"
            (input)="TargetContactSwitch = true"            
            (clickOutside)="TargetContactSwitch = false"
            (click)="TargetContactSwitch = true">

            <span class="mdi mdi-magnify"></span>
            <div class="col-12  border-right border-btm z-ind-9999 float-left no_pad suggestion-box pos-abs mt39 border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white"
              *ngIf="contactTarget && TargetContactSwitch">
              <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                <ul class="list-group color-azure autocomplete-box">
                  <li class="list-group-item h-50 p-4-10" (click)="appendTarget(item)"
                    *ngFor="let item of TargetContactArray |filter:contactTarget">

                    <label for="inti_name" class="float-left name w-80">
                      <span class="d-block list-name ellipses">{{item.contact}}</span>
                      <span class="d-block sub-list">{{item.designation}}</span>
                    </label>

                  </li>
                  <li class="d-block list-name h-40 p-10 cp" *ngIf="(TargetContactArray |filter:contactTarget).length == 0">
                    No record found </li>
                </ul>
              </perfect-scrollbar>
              <span class="db-search" (click)="openadvancetabs()">
                <button id="adls{{InitiativeNameArray?.length+1}}" role="option" tabindex="0" aria-disabled="false" type="button"
                  class="button-search" [class.active]="InitiativeNameArray?.length+1 == arrowkeyLocation">
                  <span class="mdi mdi-file-outline"></span> Advance look up
                </button>
              </span>
            </div>
          </form>

        </div>
      </div> -->

      <!-- <div class="col-12 no_pad float-left mt20">
        <label class="col-12  float-left no_pad" for="CoversationT1" class="label-form">Target role</label>
        <div class="customized-select ">
          <span class="color-azure caret"></span>
          <select id="CoversationT1" role="listbox" class="">
            <option value="Face to face conversation">Reason code</option>
            <option value="Virtual conversation">Not Listed</option>
            <option value="Telephonic Conversation">Delay in Delivery</option>
          </select>
        </div>
      </div> -->
<!-- COMMENTED CODE FOR CBU , DESCRIPTION , TARGET ROLE END -->


      <div class="col-12 float-left  mt30 mb20 margin-btm">
        <div class="col-12  float-left disp-flex  mar-28">
          <button class="col-6 primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50"
            mat-dialog-close aria-label="cancel">Cancel</button>
          <button class="col-6 primary-button h-40 std save-responsive-btn button-wd50" 
            aria-label="add"  (click)="addadvisory()" >Add</button>

        </div>

      </div>

    </div>

  </div>

</perfect-scrollbar>