<div class="cust_autoComplete pos-rel" (clickOutside)="detailsclose();selectedText=''">

  <!-- <input class="h-40 label-input w-100 ellipses " [class.borderless-input]="IsSpecialBtn"
    [attr.id]="labelName" name="{{labelName}}" type="text" autocomplete="off" [(ngModel)]="details"
    [attr.placeholder]="Placeholder" (click)="customerNameSwitch = true" (clickOutside)="detailsclose()"
    (keyup)="emit(details)" id="searchBox"> -->


  <input appKeyListControl (arrowDown)="arrowkeyLocation=$event" [attr.data-arrayMaxLength]="autoCompleteSource?.length"
    role="combobox" aria-autocomplete="list" [attr.aria-expanded]="customerNameSwitch?true:false" aria-owns="read"
    [attr.aria-activedescendant]="autoCompleteSource?.length+1 == arrowkeyLocation?'adls'+arrowkeyLocation:arrowkeyLocation" [dataManipulate]=true 
    (keyup.enter)="autoCompleteSource?.length+1 == arrowkeyLocation? openadvancetabs() : appendDetail(autoCompleteSource[arrowkeyLocation]);autoComplteSel=autoCompleteSource[arrowkeyLocation].Name;detailsclose()"
    [attr.data-selectedvalue]="autoComplteSel" [attr.data-isDownBtn]=true class="h-40 label-input w-100 ellipses " [class.borderless-input]="IsSpecialBtn"
    [attr.id]="labelName" [name]="labelName" [attr.aria-required]="requiredField" type="text" autocomplete="off" [(ngModel)]="details" [attr.placeholder]="Placeholder"
    (input)="customerNameSwitch = true" (intialLoadData)="loadDefaultData()" (ngModelChange)="getdropdowndata(details)"
    [required]="Isrequired" [disabled]="Isdisabled" (keydown.Tab)="detailsclose()" (keydown.shift.Tab)="detailsclose()"
    [ngClass]="MandtErrorFlag?'orangeborder':''" [attr.aria-label]="titleName+'edit selected' + autoComplteSel">

  <span class="mdi mdi-magnify"  *ngIf="customerNameSwitch || !detailsId"></span>
  <span class="mdi mdi-close auto-close" (click)="clearSelectedItem();arrowkeyLocation=0;autoComplteSel=''" *ngIf="!customerNameSwitch && detailsId && !Isdisabled"></span>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  float-left no_pad pos-abs border-bottom-4 top-38 left-0 z-ind-9"
    *ngIf="customerNameSwitch" [attr.focus]="customerNameSwitch" [ngClass]="isLastVar? 'pos-sticky' : (labelName == 'Lead details' || labelName == 'campaign' || labelName == 'event')?'topNeg83':''">

    <ul class=" list-group mr2 sort-dropdown autocomplete-box" role="listbox">
      <perfect-scrollbar [ngStyle]="autoCompleteSource.length <= 1?{'max-height':'55px'}:autoCompleteSource.length == 2?{'max-height':'100px'}:{'max-height':'100px'}"
        class="z-ind-9">
        <!-- style="max-height:150px" -->
        <li *ngIf="isLoader" class="liststyle_none loader-search"></li>
        <li id="{{i}}" tabindex="0" role="option" [class.active]="i==arrowkeyLocation" class="list-group-item  p-4-10 cp"
          (click)="appendDetail(item);autoComplteSel=item.Name;detailsclose()" *ngFor="let item of autoCompleteSource; let i = index">

          <div class="float-left naming-tags child-middle {{getbgColor(i)}}" *ngIf="IsinitialsView">
            <span class="initials">{{item[dataHeader.initials]}}</span>


          </div>
          <!-- <div class="float-left p-3-0-0-5 " *ngIf="IsinitialsView"></div> -->
          <div class="float-left p-3-0-0-5">

            <span class="d-block list-name" title="{{item[dataHeader.name]}}">{{item[dataHeader.name]}}</span>


            <!-- <div class="float-left p-3-0-0-5 " *ngIf="!IsSearchDatabase">
            <span class="d-block list-name">{{item.name}}</span>
            <span class="d-block sub-list">{{item.designation}}</span>
          </div> -->

            <span *ngIf="IsSubContent">
              <!-- <span class="d-block list-name"> {{item.name}} </span> -->
              <span class="sub-list  sub-content" *ngFor=" let value of item.subContent"> {{ getValue(value)}} </span>
              <!-- {{Object.values(JSON.stringify(value))[0]}} -->
              <!-- Object.values(value | json)[0] -->
            </span>
          </div>
          <span class="btn-key" *ngIf="item.value"> Key </span>

        </li>

        <li class="d-block list-name h-40 p-10 cd" *ngIf="noRecordFound && !isSearchLoader" title="No record found">
          No record found </li>
      </perfect-scrollbar>
      <!--Advance serach pop up starts-->
      <span class="db-search" (click)="openadvancetabs()" (keypress)="openadvancetabs()">
        <button id="adls{{autoCompleteSource?.length+1}}" tabindex="0" aria-disabled="false" type="button" [class.active]="autoCompleteSource?.length+1 == arrowkeyLocation"
        [disabled]="noRecordFound || isLoader || isSearchLoader" [ngClass]="noRecordFound || isLoader || isSearchLoader?'disableAdlsBtn':''"
          class="button-search">
          <span class="mdi mdi-file-outline"></span> Advance look up
        </button>
      </span>
      <span *ngIf="showSAPCode" class="db-search1" (click)="openSAPcode()">
        <button id="sapcode" role="option" tabindex="0" aria-disabled="false" type="button" class="button-search">
          Request new SAP code
        </button>
      </span>
      <!--Advance serach pop up ends-->
      <button class="db-search mr2" *ngIf="IsSearchDatabase">
        <span class="mdi mdi-database-search"></span> Search D&B
      </button>
    </ul>





  </div>


  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact pos-abs">
    <perfect-scrollbar style="max-height:250px">
      <ng-container *ngIf="IsinitialsView">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  mt-10 p-4-10 tagged-box-initials d-flex align-items-center"
          *ngFor="let item of SelectedValue">

          <div class="float-left naming-tags child-middle bg-azure">
            <span class="initials">{{item[dataHeader.initials]}}</span>

          </div>
          <div class="float-left flex-grow-1 mb-0 p-3-0-0-5">
            <span class="d-block list-name">{{item[dataHeader.name]}}</span>
            <span class="d-block sub-list">{{item[dataHeader.designation]}}</span>
          </div>

          <span class="mdi mdi-close float-right cp show-on-hover" (click)="delete(item)" role="button" aria-label="delete"></span>


        </div>
      </ng-container>

      <ng-container *ngIf="!IsinitialsView">
        <div class="col-12 float-left tagged-box m-5-0" *ngFor="let item of SelectedValue">{{item[dataHeader.name]}}
          <span class="mdi mdi-close float-right cp show-on-hover" (click)="delete(item)" role="button" aria-label="delete"></span>
        </div>
      </ng-container>
    </perfect-scrollbar>

  </div>
</div>


<!-- </form>
</div> -->