$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;



.cust_autoComplete {

  .randomColor1 {
    background-color: #6dc24b;
  }
  .randomColor2 {
    background-color: #ef3341;
  }
  .randomColor3 {
    background-color: #2f81ff;
  }
  .randomColor4 {
    background-color: #f58323;
  }
  .randomColor5 {
    background-color: #9f9f9f;
  }
  .randomColor6 {
    background-color: #353499;
  }
  .randomColor7 {
    background-color: #d5e6ff;
  }
  .randomColor8 {
    background-color: #ef3341;
  }
  .randomColor9 {
    background-color: #ff784a;
  }
  .randomColor0 {
    background-color: #353535;
  }
 

  .sub-content{

    &::after{
      content: ' |';
          }
  
   &:last-child:after{
            content: '';
               }

  }

  .left-0{
    left:0px;
  }

  .top-38{
    top:38px;
  }
  .topNeg83
  {
    top: unset !important;
    bottom: 38px !important;
  }
  .m-5-0{
    margin:5px 0px;
  }

 
  .db-search {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #2f81ff;
    outline: none;
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    height: 40px;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      background-color: #d9e9ff;
    }
  }
  .db-search1 {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #2f81ff;
    outline: none;
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    height: 40px;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      background-color: #d9e9ff;
    }
  }
  input {
    border: 1.5px solid #d8d8d8;
    position: relative;
    border-radius: 4px;
  }

  .h-40 {
    height: 40px;
  }
  .h-50 {
    min-height: 50px;
  }
  .mr2 {
    margin-right: 2px !important;
  }

  .top64 {
    top: 64px;
  }

  .borderless-input {
    border-radius: 0px 4px 4px 0px !important;
     border-left: none !important;
    &:hover {
      border-left: none !important;
    }
  }

  .input-border-left {
    border: 1.5px solid red;
  }

  .border-bottom-4 {
    border-radius: 0px 0px 4px 4px !important;
  }

  .mdi-magnify:before {
    color: #2f81ff;
    font-size: 20px;
    right: 10px;
    position: absolute;
    top: 10px;
  }

  .top-10 {
    top: 10px;
  }

  .add-btn {
    height: 40px;
    width: 47px;
    border-radius: 4px 0px 0px 4px;
    border: 1.5px solid $Azure;
    font-family: WiproAkkuratTT-Bold;
    padding: 3px 6px;
    background: $White;
    color: $Azure;
    font-size: 18px;
    outline: none;
  }

  .label-input {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: $Metal;
    padding-right: 40px;
    padding-left: 10px;

    &:focus {
      border: 1.5px solid $Azure;

      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
      outline: none;
    }

    &::placeholder {
      color: $Metal;
      font-family: WiproAkkuratTT-Regular;
    }
  }

  .show-on-hover {
    display: none;
  }

  .p-3-0-0-5{
    padding: 3px 0px 0px 5px;
  }

  .tagged-box-initials {
    .mdi-close:before {
      font-size: 20px;
      cursor: pointer;
      color: $Azure;
      position: relative;
    }
    &:hover {
      .show-on-hover {
        display: block;
      }
    }
  }

  .tagged-box {
    height: 40px;
    border-radius: 4px;
    color: $Azure;
    background-color: #d9e9ff;
    padding: 10px 5px 0px 10px;
    .mdi-close:before {
      font-size: 20px;
      cursor: pointer;
      color: $Azure;
      bottom: 5px;
      position: relative;
    }

    &:hover {
      .show-on-hover {
        display: block;
      }
    }
  }

  .autocomplete-box {
    top: 0px;
    font-size: 14px;
    color: black;
    background-color: white;
    border: 1.5px solid $Azure;
    border-radius: 0px 0px 4px 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: 0.2s;

    .list-group-item {
      cursor: pointer;
      height: 50px;
      border: none;

      &:hover{
        background-color: #d9e9ff;
      }

      label {
        cursor: pointer;
      }
    }

    .btn-none {
      outline: none;
      border: none;
      background: transparent;
    }
  }
  .z-ind-9 {
    z-index: 9;
  }
  .p-4-10 {
    padding: 4px 10px 4px 10px;
  }
  .btn-key {
    width: 54px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1.5px solid $Azure;
    display: inline-block;
    text-align: center;
    margin-top: 9px;
    margin-left: 35px;
  }

  .list-name {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #000000;
  }

  .sub-list {
    font-size: 10px;
    color: #9b9b9b;
    font-family: WiproAkkuratTT-Regular;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.liststyle_none
{
  list-style: none;
}

// advanced search css starts here
.db-search {
  height: 40px;
  cursor: pointer;

  &:hover {
    background-color: #d9e9ff;
  }
  button {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: $Azure;
    outline: none;
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    height: 100%;
  }
}
.db-search1 {
  height: 40px;
  cursor: pointer;

  &:hover {
    background-color: #d9e9ff;
  }
  button {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: $Azure;
    outline: none;
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    height: 100%;
  }
}
.db-search {
  height: 40px;
  cursor: pointer;
  list-style-type: none;

  &:hover {
    background-color: #d9e9ff;
  }
  button {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: $Azure;
    outline: none;
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    height: 100%;
  }
}
.db-search1 {
  height: 40px;
  cursor: pointer;
  list-style-type: none;

  &:hover {
    background-color: #d9e9ff;
  }
  button {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: $Azure;
    outline: none;
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    height: 100%;
  }
}
.button-search {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: $Azure;
  outline: none;
  border: none;
  background: transparent;
  text-align: left;
  width: 100%;
  height: 40px;
}
.button-search:hover{
background: #d9e9ff !important;
}
.button-search.active{
  background: #d9e9ff;
}
// advanced search css ends here

.orangeborder
{
    border: 2px solid #ef3341 !important;
}

span.mdi.mdi-close.auto-close {
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
}
@media screen and (max-width: 823px){
  span.mdi.mdi-close.auto-close {
    right: 30px!important;
  }
}

.button-search.disableAdlsBtn {   
  color: #a8a8a8 !important;
  cursor: default;  
  &:hover {
      background-color: none !important;
    }
}