<div class="col-12 float-left tagged-selector-container expand-table-panel">
  <perfect-scrollbar style="height:198px;">
<ul class="float-left step-ul col-12 no_pad">
 
  <li *ngFor="let step of stepper">
      <span class="borderline"></span>
    <span class="step-icon mdi {{step.icon}}"></span>
    <div class="col-12 float-left content-div">
        <div class="col-lg-2 col-md-4 col-12  padbox-0-100-10 float-left label-content" *ngFor="let data of step.expDetails">
            <div class="w-100">
              <label for="AddDeal" class="w-100">{{data.label}}</label>
              <p id="AddDeal" class="exp-content">{{data.content}}</p>
            </div>
          </div>
     
    </div>
  </li>

</ul>
</perfect-scrollbar>
</div>
