// Dashboard css chethana starts
.width100{
    width:100%;
}
table{
    position: relative;
}
thead{
    width: auto;
    padding: 5px 20px;
    line-height: 25px!important;

}

thead th{
    padding-left: 10px;
    position: sticky;
    top: 0;
}
tbody tr {
    // height: 60px;
    // box-shadow: inset 0 0 6px 3px rgba(0,0,0,.04);
    // background-color: #fff;
    // margin-bottom: 10px;
    // border-radius: 5px;
    // border-bottom: 5px solid #f9f9f9;
    // position: relative;
    // border-top: none;
    height: 60px;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom: 5px solid #fbfbfb;
    position: relative;
    border-top: none;
}
tbody td{
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    color: #4a4a4a;
    font-weight: bold;
}
tbody td:nth-child(3){
    padding-left: 10px;
    color: #4a4a4a;
    font-weight: bold;
    border-radius: 8px !important;
    background: #fff;
    box-shadow:inset -4px 0px 6px 0px rgba(0, 0, 0, 0.04);
    // box-shadow:  0 0 6px 0 rgba(0, 0, 0, 0.1);
    // box-shadow: 12px -1px 6px 0 rgba(0, 0, 0, 0.1)
}
.DashboardParent perfect-scrollbar {
    max-height: 400px;
    height: auto;
}
.colspanth{
    background: #2f81ff;
    color:#fff;
    border-radius: 8px 8px 0px 0px;
    border-right: 2px solid #fff;
}
.colspanth:last-child{
    background: #f3f3f3;
    color:#124187;
    border-right: 2px solid #fff;
}
.rowspanth:nth-child(odd){
    background: #2f81ff;
    color:#fff;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 0.5px;
    position: sticky;
    top: 27px !important;
    
}
thead tr:nth-child(2){
     position: sticky;
     top: 27px !important;   
}
.rowspanth:nth-child(even){
    background: #2f81ff;
    color:#fff;
    border-right: 2px solid #fff;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 0.5px;
    position: sticky;
    top: 27px !important;
}
.rowspanth:last-child{
    background: #f3f3f3;
    color:#4a4a4a;
    border-right: 2px solid #fff;
}
.rowspanth:nth-child(9){
    background: #f3f3f3;
    color:#4a4a4a;
}
.border_row{
    border-right: 1px solid #fff;
    position: relative;
    left: 13px;
}
.border_td{
    border-right: 1px solid #b5b5b5;
    position: relative;
    left: 9px; 
}
.mt30{
    margin-top: 30px;
    margin-bottom: 20px;
}
.td_left_shadow{
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
.td_right_shadow{
    background: #fff;
    box-shadow: 1px 0px 0px 0 rgba(0, 0, 0, 0.1);
}
// Dashboard css chethana ends
