<div class="col-12 float-left  no_pad popup-container popup-container-opportunity deal-qualify ">

  <div class="col-12 float-left  container-dialog no_pad">
    <div class="col-12 float-left mb20">
      <div class="col-12 float-left  no_pad popup-hd">
        <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Are you sure you want to create
          an amendment order?</span>
        <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn" aria-label="close"
          mat-dialog-close></button>
      </div>

      <div class="col-12 float-left mt10 border-bottom-grey"></div>

      <!-- Select DROPDOWN STARTS -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad mt10 float-left  plb-60-20 mt-20-mob web-select-box h100" [ngClass]="dropdownOpened?'pad-bot-150':''">
        <label for="approver" class="w-100 label-form">Amendment type *</label>
        <mat-form-field class="col-12 no_pad float-left">
          <mat-select disableOptionCentering panelClass="Select-panel-class-orderAmendment" [(ngModel)]="amendmentId"
            class="select-focus mat-select {{service.getSelectedClass(amendmentId)}}" 
             name="amendmentTypeName" id="approver" role="listbox"
            (ngModelChange)="amendmentType(amendmentId);" (openedChange)="openedChange($event)">
            <mat-option value="" selected hidden disabled>Select</mat-option>
            <mat-option *ngFor="let typesOfAmendment of typesOfAmendments" [hidden] = "(!IsWtAmend ? typesOfAmendment.Id == 184450006 : ''  )" [value]="typesOfAmendment.Id">{{typesOfAmendment.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> 
      <div class="col-11 no_pad float-left  mt20 no_pad mobile-select-box">
        <label for="approver" class="float-right w-100 label-form">Amendment type *</label>
        <div class="float-right w-100 customized-select">
          <select id="approver" role="listbox" name="amendmentTypeName" [(ngModel)]="amendmentId" (change)="amendmentType(amendmentId)">
            <option value="" hidden>Select</option>
            <option *ngFor="let typesOfAmendment of typesOfAmendments" [hidden] = "(!IsWtAmend ? typesOfAmendment.Id == 184450006 : ''  )" [value]="typesOfAmendment.Id">{{typesOfAmendment.Name}}</option>
            <!-- <option value="Negative">Negative</option>     || (!data.WTFlag ? typesOfAmendment.Id == 184450006 : ''  ) -->
            <!-- <option value="kanika">Kanika Tuteja</option> -->
          </select>
          <span class="caret color-azure"></span>
        </div>
      </div>

         <!-- radio button for meeting stage starts here -->
         <div class="col-12 float-left mt20 no_pad" *ngIf="showlabel">
          <label class="col-12 float-left no_pad label-form pb10" id="keycon">
            Is the amendment less than $250,000?</label>
          <mat-radio-group aria-labelledby="keycon" name="amendmentRadio" [(ngModel)]="selectedLabel">
            <mat-radio-button [value]=true class="pr30 margin-top-5 radio-fontfamly">Yes</mat-radio-button>
            <mat-radio-button [value]=false class="margin-top-5 radio-fontfamly" >No</mat-radio-button>
          </mat-radio-group>
           
        </div>
        
           <div class="col-12 float-left mt20 no_pad" *ngIf="(showlabel && selectedLabel == true) || !amendmentId">

            <label class="col-12 float-left no_pad label-form pb10" id="keycon">
            This will create an amendment order.</label> 
           </div>
        

        <!-- radio button for meeting stage ends here -->

        <!--<div class="col-12 no_pad float-left" *ngIf="showlabel"  >
          <div class="col-12 float-left mt10 border-bottom-grey"></div>
          <span class="col-12 no_pad float-left textcomment mt20">
              For any amendment greater than $250,000,
              please create an incremental/ renewal opportunity.
            </span>
        </div>-->
        <div class="col-12 no_pad float-left" *ngIf="showlabel && selectedLabel == false">
          <div class="col-12 float-left mt10 border-bottom-grey"></div>
          <span class="col-12 no_pad float-left textcomment mt20">
             The $ 250,000 limit is applicable only for Incremental & Renewal type.
            </span>
        </div>

        <div class="col-12 no_pad float-left mt10" *ngIf="textarea">
          <label class="col-12 no_pad float-left">Amendment remarks </label>
          <textarea class="col-11 no_pad float-left txt-area" name="amendRemarks" [(ngModel)]="amendmentRemarks" (blur)="checkRemarks(amendmentRemarks)" placeholder="Enter comments"> </textarea>
          </div>

    </div>

    <div class="col-12 float-left no_pad">
      <button aria-label="NO" *ngIf="!(showlabel && selectedLabel == false)" class="col-6 float-left no_pad cancel-btn1" mat-dialog-close>No</button>
      <button aria-label="ADD" *ngIf="!(showlabel && selectedLabel == false)"  class="col-6 float-left btndef-none no_pad confrm-btn mt15" (click)="createAmendment('yes')" [disabled]="!yesEnable" [ngClass]="yesEnable ? 'bg-color-azure' : 'bg-color-grey'">Yes</button>
      <button aria-label="OK" *ngIf="(showlabel && selectedLabel == false) "  class="col-12 float-left btndef-none no_pad confrm-btn mt15" (click)="createAmendment('yes')" [disabled]="!yesEnable" [ngClass]="yesEnable ? 'bg-color-azure' : 'bg-color-grey'">OK</button>
     
    </div>

  </div>
