<div class="col-12 no_pad whiteBackground">
  <!-- <perfect-scrollbar class="viewport" style="max-height:600px;height:450px;"> -->
    <div class="col-12 no_pad float_lft">
      <div class="col-12 cardPadd15">
        <div class="float_lft col-12 no_pad">
          <mat-accordion class="col-12 no_pad float_lft">
            <mat-expansion-panel class="col-12 no_pad float_lft" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Top contacts
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="width100">
                <p class="width100">Top 5 contacts of the account based on the activities tagged.
                </p>

                <div class="col-12 padd10 contacts-cards float_lft" *ngFor="let details of topFiveContacts | slice:0:5;let i = index">
                  <div class="col-9 no_pad float_lft">
                    <span class=" oval3 circle_clr cursorDefault float_lft" [ngClass]="topContactsClass[i]" type="button" id="circle_clr" style="height:40px;color:#ffffff;border:none">
                      {{details.initial | uppercase }}</span>
                    <div class="col-8 no_pad border_property cursorDefault outlineNone float_lft" role="button" tabindex="0" aria-label="user info">
                      <span class="col-12 head ellipses float_lft" title="{{details.name}}">{{details.name}}</span>
                      <span class="col-12 sub_head float_lft">{{details.title}}</span>
                    </div>
                  </div>
                  <div class="col-3 no_pad float_lft mt-6" align="right">
                    <label for="" class="col-12 no_pad float_lft label-text ">Activities</label>
                    <span class="col-12 no_pad float_lft span-text font-bold">{{details.activityCount}}</span>
                  </div>
                </div>
                <div class="noRecordsFound" *ngIf="topFiveContacts && topFiveContacts.length == 0">
                  No records found.
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="col-12 no_pad float_lft">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Similar deals
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="width100">
                <p class="width100">Colleagues executing similar deals in this vertical.
                </p>

                <div class="col-12 padd15 float_lft background-gry border-radius-5 mt20">
                  <div class="col-12 no_pad float_lft tables-divider" *ngFor="let details of opportunitiesList">
                    <h2 class="col-12 no_pad float_lft invoice-heads" title="{{details.name}}">{{details.name}}
                    </h2>
                    <ul class="float_lft col-12 no_pad opportuities-ul">
                      <li class="col-12 float_lft no_pad">
                        <label for="" class="col-12 no_pad">Opportunity
                          owner</label>
                        <span class="col-12 no_pad">{{details.owner}}</span>
                      </li>
                      <li class="col-12 float_lft no_pad">
                        <label for="" class="col-12 no_pad">E-mail</label>
                        <span class="col-12 no_pad" title="{{details.email}}">{{details.email}}</span>
                      </li>
                      <li class="col-12 float_lft no_pad">
                        <label for="" class="col-12 no_pad">Contact</label>
                        <span class="col-12 no_pad" title="{{details.contact}}">{{details.contact?details.contact:'-'}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="noRecordsFound" *ngIf="opportunitiesList && opportunitiesList.length == 0">
                    No records found.
                  </div>

                </div>
                <!-- <button class="btnDef_none float_lft view-all-btn mt10">View
                  all opportunities</button> -->
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="col-12 no_pad float_lft">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  KM assets
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="width100">
                <!--<div class="col-12 padd15 float_lft background-gry border-radius-5 mt-6">
                  <div class="col-12 no_pad float_lft">
                    <h2 class="float_lft col-10 no_pad km-heads">Solutions ({{solutionDetails?.length}})
                    </h2>
                    <button class="float_rght col-2 no_pad mdi vertical-more" aria-label="view all" (click)="showMore(1)" [ngClass]="indexkmasset1?'mdi-chevron-up':'mdi-chevron-down'"></button>
                  </div>

                  <div class="col-12 no_pad float_lft" *ngIf="indexkmasset1">
                    <span class="col-12 no_pad solution-name" *ngFor="let detls of solutionDetails ">
                      <a href="https://devcatnew.wipro.com/{{detls.attachmentDetails[0].thirdPartyUrl}}" target="_blank">{{detls.name}}</a>
                      </span>
                  <div class="noRecordsFound" *ngIf="solutionDetails && solutionDetails.length == 0">
                      No records found.
                    </div>
                  </div>

                </div>-->
                <div class="col-12 padd15 float_lft background-gry border-radius-5 mt-6">
                  <div class="col-12 no_pad float_lft">
                    <h2 class="float_lft col-10 no_pad km-heads">Case studies ({{DeliveryCaseStudies == null ? 0 : DeliveryCaseStudies.length}})
                    </h2>
                    <!--<h2></h2>-->
                    <button class="float_rght col-2 no_pad mdi vertical-more" aria-label="view all" (click)="showMore(2)" [ngClass]="indexkmasset2?'mdi-chevron-up':'mdi-chevron-down'"></button>
                  </div>

                  <div class="col-12 no_pad float_lft" *ngIf="indexkmasset2">
                    <span class="col-12 no_pad solution-name" *ngFor="let detls of DeliveryCaseStudies ">
                      <a href="https://devcatnew.wipro.com/{{detls.attachmentDetails[0].thirdPartyUrl}}" target="_blank">{{detls.name}}</a>
                    </span>
                    <div class="noRecordsFound" *ngIf="DeliveryCaseStudies == null || DeliveryCaseStudies.length == 0">
                      No records found.
                    </div>
                  </div>

                </div>
                <div class="col-12 padd15 float_lft background-gry border-radius-5 mt-6">
                  <div class="col-12 no_pad float_lft">
                    <h2 class="float_lft col-10 no_pad km-heads">Customer success stories ({{customerStories == null ?  0 : customerStories.length}})
                    </h2>
                    <button class="float_rght col-2 no_pad mdi vertical-more" aria-label="view all" (click)="showMore(3)" [ngClass]="indexkmasset3?'mdi-chevron-up':'mdi-chevron-down'"></button>
                  </div>

                  <div class="col-12 no_pad float_lft" *ngIf="indexkmasset3">
                    <span class="col-12 no_pad solution-name" *ngFor="let detls of customerStories ">
                      <a href="https://devcatnew.wipro.com/{{detls.attachmentDetails[0].thirdPartyUrl}}" target="_blank">{{detls.name}}</a>
                      </span>
                    <div class="noRecordsFound" *ngIf="customerStories == null || customerStories.length == 0">
                      No records found.
                    </div>
                  </div>

                </div>

                <div class="col-12 padd15 float_lft background-gry border-radius-5 mt-6">
                  <div class="col-12 no_pad float_lft">
                    <h2 class="float_lft col-10 no_pad km-heads">Reusable components ({{reusableComponent == null ? 0 : reusableComponent.length}})
                    </h2>
                    <button class="float_rght col-2 no_pad mdi vertical-more" aria-label="view all" (click)="showMore(4)" [ngClass]="indexkmasset4?'mdi-chevron-up':'mdi-chevron-down'"></button>
                  </div>

                  <div class="col-12 no_pad float_lft" *ngIf="indexkmasset4">
                    <span class="col-12 no_pad solution-name" *ngFor="let detls of reusableComponent ">
                      <a href="https://devcatnew.wipro.com/{{detls.attachmentDetails[0].thirdPartyUrl}}" target="_blank">{{detls.name}}</a>
                      </span>
                    <div class="noRecordsFound" *ngIf="reusableComponent == null || reusableComponent.length == 0">
                      No records found.
                    </div>
                  </div>

                </div>

                <div class="col-12 padd15 float_lft background-gry border-radius-5 mt-6">
                  <div class="col-12 no_pad float_lft">
                    <h2 class="float_lft col-10 no_pad km-heads">Capability decks ({{capabilityDeck == null ? 0 : capabilityDeck.length}})
                    </h2>
                    <button class="float_rght col-2 no_pad mdi vertical-more" aria-label="view all" (click)="showMore(5)" [ngClass]="indexkmasset5?'mdi-chevron-up':'mdi-chevron-down'"></button>
                  </div>

                  <div class="col-12 no_pad float_lft" *ngIf="indexkmasset5">
                    <span class="col-12 no_pad solution-name" *ngFor="let detls of capabilityDeck ">
                      <a href="https://devcatnew.wipro.com/{{detls.attachmentDetails[0].thirdPartyUrl}}" target="_blank">{{detls.name}}</a>
                      </span>
                   <div class="noRecordsFound" *ngIf="capabilityDeck  == null || capabilityDeck.length == 0">
                      No records found.
                    </div>
                  </div>

                </div>


                <div class="col-12 padd15 float_lft background-gry border-radius-5 mt-6">
                  <span class="float_lft col-10 no_pad km-heads">Account
                    intelligence ({{accountIntelligence == null ? 0 : accountIntelligence.length}})</span>
                  <button class="float_rght col-2 no_pad mdi vertical-more" aria-label="view" (click)="showMore(6)" [ngClass]="indexkmasset6?'mdi-chevron-up':'mdi-chevron-down'"></button>
                </div>
                <div class="col-12 no_pad float_lft" *ngIf="indexkmasset6">
                    <span class="col-12 no_pad solution-name" *ngFor="let detls of accountIntelligence ">
                      <a href="https://devcatnew.wipro.com/{{detls.attachmentDetails[0].thirdPartyUrl}}" target="_blank">{{detls.name}}</a>
                      </span>
                   <div class="noRecordsFound" *ngIf="accountIntelligence == null || accountIntelligence.length == 0">
                      No records found.
                    </div>
                  </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="col-12 no_pad float_lft">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Win ratio
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="col-12 padd15 float_lft background-gry border-radius-5">
                <div *ngFor="let data of winRatioClass.ratioList" class="col-12 no_pad float_lft  mt10">
                  <span class="winRatioHead col-12 no_pad float-left">{{data.label}}</span>
                  <div class="col-12 no_pad float-left">
                  <div class="col-12 float_lft no_pad">
                    <label for="" class="col-12 no_pad progress-label">{{data.type}}</label>
                    <span class="col-12 no_pad progress-span font14">{{data.name}}</span>
                  </div>
                  <div class="col-6 float_rght no_pad" [ngClass]="data.colorClass" align="right">
                    <span class="float_rght col-12 no_pad mb5 progress-value">{{data.ratio}}</span>
                    <mat-progress-bar mode="determinate" [value]="data.progressBarValue"></mat-progress-bar>
                  </div>
                  </div>
                </div>
                <div class="noRecordsFound" *ngIf="winRatioClass.ratioList && winRatioClass.ratioList.length == 0">
                  No records found.
                </div>
              </div>


            </mat-expansion-panel>

            <mat-expansion-panel class="col-12 no_pad float_lft">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Win & loss reasons
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="width100">
                <div *ngIf="winLossThemes.wins.length > 0" class="col-12 padd15 float_lft background-gry border-radius-5 mt-6">
                  <div class="col-12 no_pad float_lft">
                    <h2 class="float_lft col-10 no_pad km-heads">Top 3 win reasons</h2>
                    <!--<button class="float_rght col-2 no_pad mdi mdi-dots-vertical vertical-more" aria-label="view all"
                      (click)="showLossWin(1)"></button>-->
                  </div>

                  <div class="col-12 no_pad float_lft">
                    <div *ngFor="let wins of winLossThemes.wins" class="col-12 no_pad brder-btm">
                      <!--<h3 class="winLoss-head col-12 no_pad float_lft">
                        {{wins.opportunity}}
                      </h3>-->
                      <span class="winLoss-desc col-11 no_pad float_lft ellipsesWinLoss" title="{{wins.reason}}">
                        {{wins.reason}}
                      </span>
                      <span class="winLoss-desc col-1 no_pad float_lft">[{{wins.count}}]</span>
                    </div>
                  </div>

                </div>
                <div *ngIf="winLossThemes.losses.length > 0" class="col-12 padd15 float_lft background-gry border-radius-5 mt-6">
                  <div class="col-12 no_pad float_lft">
                    <h2 class="float_lft col-10 no_pad km-heads">Top 3 loss reasons</h2>
                    <!--<button class="float_rght col-2 no_pad mdi mdi-dots-vertical vertical-more" aria-label="view all"
                      (click)="showLossWin(2)"></button>-->
                  </div>

                  <div class="col-12 no_pad float_lft">

                    <div *ngFor="let losses of winLossThemes.losses" class="col-12 no_pad brder-btm">
                      <!--<h3 class="winLoss-head col-12 no_pad float_lft">
                        {{losses.opportunity}}
                      </h3>-->
                      <span class="winLoss-desc col-11 no_pad float_lft ellipsesWinLoss" title="{{losses.reason}}">
                        {{losses.reason}}
                      </span>
                       <span class="winLoss-desc col-1 no_pad float_lft">[{{losses.count}}]</span>
                    </div>
                  </div>

                </div>
                <div class="noRecordsFound" *ngIf="winLossThemes.wins.length == 0 && winLossThemes.losses.length == 0">
                  No records found.
                </div>
                <!-- <button class="btnDef_none float_lft view-all-btn mt10">View on
                  catalyst</button> -->
              </div>
            </mat-expansion-panel>

            <!-- <mat-expansion-panel class="col-12 no_pad float_lft">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Solution offerings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="width100">
                <p class="width100">Top 3 solution offerings.</p>

                <div class="col-12 padd15 float_lft background-gry border-radius-5 mt-6">
                  <span class="col-12 no_pad solution-name">Solution name
                    1</span>
                  <span class="col-12 no_pad solution-name">Solution name
                    2</span>
                  <span class="col-12 no_pad solution-name">Solution name
                    3</span>
                </div>
                <button class="btnDef_none float_lft view-all-btn mt10">View
                  on catalyst</button>
              </div>
            </mat-expansion-panel> -->

            <mat-expansion-panel class="col-12 no_pad float_lft">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Activities
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="width100">
                <p class="width100">Activities tagged to this Opportunity</p>

                <div class="col-12 padd15 float_lft background-gry border-radius-5 mt20">
                  <div class="col-12 no_pad float_lft tables-divider" *ngFor="let details of meetingDetails">
                    <h2 class="col-12 no_pad float_lft invoice-heads color-azure" (click)="redirectToMeeting(details.meetingID)">
                     {{details.subject}}
                    </h2>
                    <!--<a href="{{postUrl}}activities/meetingInfo" (click)="redirectToMeeting(details.meetingID)" target="_blank">{{details.subject}}</a>-->
                    <ul class="float_lft col-12 no_pad opportuities-ul displayFlex">
                      <!--<li class="col-6 float_lft no_pad">
                        <label for="" class="col-12 no_pad">
                          Activity subject
                        </label>
                        <span class="col-12 no_pad">
                          {{details.subject}}
                        </span>
                      </li>-->
                      <li class="col-6 float_lft no_pad">
                        <label for="" class="col-12 no_pad">
                          Created on
                        </label>
                        <span class="col-12 no_pad" title="{{details.createdOn}}">
                          {{details.createdOn}}
                        </span>
                      </li>
                      <li class="col-6 float_lft no_pad pad-left-10">
                        <label for="" class="col-12 no_pad">
                          Meeting minutes
                        </label>
                        <span class="col-12 no_pad" title="{{details.summary ? details.summary : 'N.A'}}">
                          {{details.summary ? details.summary : 'N.A'}}
                        </span>
                      </li>
                    </ul>
                  </div>

                  <div class="noRecordsFound" *ngIf="meetingDetails && meetingDetails.length == 0">
                    No records found.
                  </div>
                </div>
                <!-- <button class="btnDef_none float_lft view-all-btn mt10">Show less</button> -->
              </div>
            </mat-expansion-panel>

            <!--F. Requirement 31.0: Digital Assistant to display top activities against the opportunity. -->
            <mat-expansion-panel class="col-12 no_pad float_lft">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Top activity groups
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="width100">
                <p class="width100">Showing 5 recently top activities groups.</p>

                <div class="width100 tile">

                  <div class="col-12 no_pad inner-tiles float_lft" *ngFor="let details of topactivityGroups | slice:0:5; let i=index">
                    <h2 class="tiles-header" title="{{details.name}}">{{details.name}}</h2>
                    <div class="col-12 no_pad tiles-btm-brder float_lft">
                      <div class="float_lft col-12 no_pad">
                        <label for="" class="col-6 no_pad float_lft tiles-label">Account Name</label>
                        <span class="col-6 no_pad float_rght tiles-span" align="right" title="{{details.author}}">{{details.author}}</span>
                      </div>
                      <div class="float_lft col-12 no_pad">
                        <label for="" class="col-6 no_pad float_lft tiles-label">Number of meetings</label>
                        <span class="col-6 no_pad float_rght tiles-span" align="right">{{details.date}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="noRecordsFound" *ngIf="topactivityGroups && topactivityGroups.length == 0">
                    No records found.
                  </div>

                </div>

              </div>
            </mat-expansion-panel>

            <!--ends here-->
          </mat-accordion>
        </div>
      </div>
    </div>
  <!-- </perfect-scrollbar> -->
</div>