<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad new-container margin-btm100">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card margin-btm55 no_pad mt20">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-30 pt-15 ">


        <h6 class="cardsHead heading-level-three">Request details</h6>

        <div class="divider mt10"> </div>
        <div [formGroup]="reqDetailForm" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">

          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="requested" class="converstion-name w-100">Reference number</label>
              <div class="pos-rel w-100 float-left no_pad">
                <span class="col-12 sub-text-request float-left no_pad">{{reqMergeDetails?.ReferenceNumber || "-"}}</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="requested" class="converstion-name w-100">Request date </label>
              <div class="pos-rel w-100 float-left no_pad">
                <span class="col-12 sub-text-request float-left no_pad">{{reqMergeDetails?.RequestedOn | date: 'dd MMM yyyy' || "-"}}</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="requested" class="converstion-name w-100">Status</label>
              <div class="pos-rel w-100 float-left no_pad">
                <span class="col-12 sub-text-request float-left no_pad">{{reqMergeDetails?.Status?.Value || "-"}}</span>
              </div>
            </div>
          </div>
          <!-- Requested by starts here -->
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20 ">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
              <label for="requested" class="label-form w-100">Requested by <span class="asteriq"> * </span></label>

              <input appKeyListControl  #requestedByList class="col-12  float-left h-40 label-input" id="requested" 
              autocomplete="off" type="text" formControlName="requestedBy" placeholder="Search requested name"
              (clickOutside)="requestedSwitch = false"
              (input)="requestedSwitch = true;getaccountowner()"
              (click)="requestedSwitch = true;getaccountowner()"
              (arrowDown)="arrowkeyLocation=$event"
              role="combobox" aria-autocomplete="list"  [dataManipulate]="true"
              [attr.data-arrayMaxLength]="requestDetails?.length" [attr.data-isDownBtn]=true
              [attr.aria-expanded]="requestedSwitch?true:false" [attr.aria-activedescendant]="arrowkeyLocation"
              (keydown.shift.Tab)="requestedSwitch = false" (keydown.Tab)="requestedSwitch = false"
              [ngClass]="false ? 'border-pink':'border-gray'" 
              aria-describedby="RequestErormsg" >
              <p  *ngIf="false" class="error-message custom-label top64" id="RequestErormsg">Requested by is required</p>
          <span class="mdi mdi-magnify"></span>
          <span class="mdi mdi-close auto-close" (click)="arrowkeyLocation=0" *ngIf="false"></span>
          <div class="col-12  z-ind-9999 float-left no_pad suggestion-box pos-abs border-bottom-4 top64  request-border color-azure z-ind-9 bg-white"
              *ngIf="requestedSwitch">
                 <perfect-scrollbar style="max-height:160px" class="z-ind-9"> 
                   <span class="w-100 z-ind-9 float-left bg-white">
                      <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read">
                          <span class="loader-search" *ngIf="isActivityGroupSearchLoading"> </span>
                          <li class="list-group-item h-50 p-4-10"
                              (click)="appendRequest(item)" (keypress)="appendRequest(item)"
                              *ngFor="let item of requestDetails;index as j" id="{{j}}"
                              [class.active]="j==arrowkeyLocation" >

                              <label for="inti_name" class="float-left name w-80">
                                  <span class="d-block list-name ellipses">{{item.FullName}}</span>
                              </label>

                          </li>
                          <li class="d-block list-name h-40 p-10 cp"
                              *ngIf="requestDetails.length == 0 && !isActivityGroupSearchLoading" >

                              No results found 
                              <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad font-12">
                                  Ensure that you have typed correct legal entity name</span>
                       </li>
                      </ul>
                    </span>
                   </perfect-scrollbar>
                   <span class="db-search" (click)="openadvancetabs()" (keypress)="openadvancetabs()">
                      <button id="adls{{requestDetails?.length+1}}" role="option" tabindex="0" aria-disabled="false"
                          type="button" class="button-search"  [class.active]="requestDetails?.length+1 == arrowkeyLocation">
                          <span class="mdi mdi-file-outline"></span> Advance look up
                      </button>
                  </span>
                 
          </div>
          <!-- commented input field start -->
              <!-- <div class="pos-rel w-100 float-left no_pad">
                <input formControlName="requestedBy" id="requested" type="text" class="col-12  float-left" placeholder="Enter requested by" disabled>
              </div> -->
          <!-- commented input field end -->
            </div>
          </div>
          <!--Requested by  ends here -->

          <!-- Merge request name starts here -->
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="request" class="label-form w-100">Merge request name</label>
              <div class="pos-rel w-100 float-left no_pad">
                <input formControlName="mergeReqName" disabled id="request" type="text" class="col-12  float-left" placeholder="Enter merge request name">
              </div>
            </div>
          </div>
          <!--Merge request name ends here -->

          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="request" class="label-form w-100">Description</label>
              <div class="pos-rel w-100 float-left no_pad">
                <textarea formControlName="description" disabled id="request" type="text" class="col-12 float-left text-area-account" placeholder="Enter merge description"></textarea>
              </div>
            </div>
          </div>



        </div>
      </div>

    </div>



  </div>