.heading-level-three{
    font-weight: bold;
    font-family: WiproAkkuratTT-Bold;
    color: #525252;
    font-weight: bold;
    letter-spacing: normal;
    font-size: 16px;     
}
.mat-card
{
    border: 2px solid #d8d8d8;
    box-shadow: none !important;
    padding: 15px 15px;
    margin-bottom: 15px;
}
.pb5{
    padding-bottom: 5px;
}
.converstion-name {
    font-family: WiproAkkuratTT-Bold;
    font-size: 12px !important;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: #000000 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.converstion-sub-text {
    width: 140px;
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #2e2e2e;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.question-sub-text {
    width: 380px;
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #2e2e2e;
    padding-right: 28px !important;
    // position: relative;
    // right: 40px;
}
.num
{
    font-family: WiproAkkuratTT-Bold;
    font-size: 22px;
    color: #2e2e2e;
    padding-right: 20px !important;
}
.message_cls{
    height: 30px;
    width: 30px;
    background-color: #d5e6ff;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    position: relative;
    padding: 0px;
  }
  .message_cls.mdi-comment-plus-outline:before {
    content: "\F183";
    font-size: 18px;
    padding: 0px 4px 4px 4px;
    color: #2f81ff;
    position: relative;
  }
  .message_cls:hover.mdi-close:before{
    background: #2f81ff;
        color: #ffffff !important;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        font-size: 20px;
        cursor: pointer;
        border: none;
        position: relative;
        padding: 0px;
}
  .message_cls:hover.mdi-check:before{
      background: #2f81ff;
          color: #ffffff !important;
          height: 30px;
          width: 30px;
          border-radius: 50px;
          font-size: 20px;
          cursor: pointer;
          border: none;
          position: relative;
          padding: 0px;
  }
// .w100
// {
//     width: 100px;
// }
// .plb-0-35
// {
//     width: 100%;
//     height: 1px;
// }
.mdi-check:before
{
    font-size: 18px;
    padding: 0px 4px 4px 4px;
    color: #2f81ff;
    position: relative;

}
.mdi-close:before
{
    font-size: 18px;
    padding: 0px 4px 4px 4px;
    color: #2f81ff;
    position: relative;
}
.doc-text
{
    width: 140px;
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: #2f81ff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width : 769px) and (min-width: 361px) 
{
    .mob_h80
    { 
    height:80px;
    }
    .fLeft
    {
        float: left !important;
    }
}
