$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$LabelGrey: #4a4a4a;
$DarkBlack: #2e2e2e;

// readonly fields css
.scopeOfWork {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  color: #000000;
}


.mdi-information-outline:before {
  font-size: 18px;
  color: #2f81ff;
  position: relative;
  padding-left: 5px;
  top: 3px;
}

.primary-button.std-qualify {
  padding: 2px 5px;
  width: 175px !important;
  margin: 15px auto 0px;
}

.disabledclass {
  pointer-events: none;
  opacity: 0.9;
  color: #9b9b9b !important;
  background-color: #f9f9f9 !important;
}

.readonlyParent {
  .cardsHead {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: #000000;
    top: 0px !important;
    left: 5px;
  }
  .h-228 {
    height: 215px;
  }
  .pt100 {
    padding-top: 152px;
  }
  .heading-level-two {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: $Black;
    letter-spacing: -0.4px;
  }
  .heading-level-three {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: $Black;
    letter-spacing: -0.4px;
  }
  .brudcrumbs {
    position: relative;
    // left: 27px;
    // bottom: 12px;
    opacity: 0.8;
    font-size: 12px;
    color: #e7ebf2;
    padding-left: 8px;
  }
  .heading-custom {
    position: relative;
    left: 6px;
  }
  .cursor-pointer {
    cursor: pointer;
  }

  .mdi-keyboard-backspace:before {
    content: "\F30D";
    font-size: 22px;
    color: #ffff;
    position: relative;
    bottom: 4px;
  }
  .mt100 {
    margin-top: 100px;
  }
  .pad-top142 {
    padding-top: 146px;
  }

  .pad-top2 {
    bottom: 2px;
    position: relative;
  }
  .card {
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    display: table;
  }
  .bordr-bottm {
    border-top: 1.5px solid #d8d8d8;
    padding: 10px 0 0 0;
  }
  .bordr-bottm1 {
    border-top: 1.5px solid #d8d8d8;
    padding: 1.5px 0;
  }
  .pad-btm5 {
    padding: 0 0 5px 0;
  }
  .pad-top10 {
    padding: 10px 0 0px 0;
  }

  .mdi-chevron-right:before {
    font-size: 22px;
    font-weight: bold;
  }

  .mdi-chevron-down:before {
    font-size: 22px;
    font-weight: bold;
  }
  .ml6 {
    margin-left: 6px;
    padding-top: 8px;
  }
  .label-text {
    font-size: 12px;
    font-family: WiproAkkuratTT-Bold;
    color: #9b9b9b;
    margin-bottom: 4px;
  }
  .text-data {
    font-size: 13px;
    font-family: WiproAkkuratTT-Bold;
  }
  .pad-10 {
    padding: 10px 0;
  }
  .cardsHead {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: #000000;
    top: 5px;
    left: 5px;
  }

  .pad-leftright {
    padding: 0 30px;
  }

  .mat-expansion-panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  }
  .backgrnd-azure {
    background: #d9e9ff;
    border-radius: 0px !important;
  }
  .mobiile-top-190 {
    margin-top: 180px;
  }
  .mobile_norecords {
    display: none;
  }
}
// readonly fields css
.h-218 {
  height: 218px;
}

.pad-lr-30 {
  padding: 0 30px;
}

.pad-30 {
  padding: 20px 30px;
}

.pad-15-30 {
  padding: 0px 30px;
}
.proposalReview-chkbx{
  color: #ef3341;
  font-weight: bold;
  margin-bottom: 12px;
}
.mdi-information-outline:before {
  line-height: 0px;
}
.info-icon {
  font-size: 12px;
  color: #2f81ff;
}
.new-container {
  .primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
    margin: 0;
  }
  .mr10 {
    margin-right: 10px;
  }
  .h-40 {
    height: 40px;
  }
  .cardsHead {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: #000000;
    margin-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }
}

.mdi-chevron-down:before {
  content: "\F140";
  font-size: 24px;
  color: #000;
  position: absolute;
  top: 14px;
}

.mdi-chevron-right:before {
  font-size: 24px;
  color: #000;
  position: absolute;
  top: 14px;
}

.pl36 {
  padding-left: 36px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mdi-magnify:before {
  color: #2f81ff;
  font-size: 20px;
  right: 10px;
  position: absolute;
  bottom: 9px;
}

.plb-60-20 {
  padding: 0 55px 20px 5px;
}

.mt-20 {
  margin-top: -18px;
}

.mb1 {
  margin-bottom: 2px;
}

.heading-level-three {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  color: #000000;
}

.text-area-content {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #4a4a4a;
  resize: vertical;
  border: 1.5px solid #d8d8d8;
  border-radius: 4px;
  background-color: #ffffff;
  height: 170px;
  padding: 10px;
  outline: none;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-keyboard-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-program-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background: #fff;
}

.ml40 {
  margin-left: 40px;
}

// .primary-button:hover {
//   background-color: #fff;
//   color: #2f81ff;
// }

.Lightbluebox {
  background: #2f81ff33;
  position: relative;
  border-radius: 5px;
  margin-right: 10px;
  width: calc(25% - 13px);
  margin-right: 13px;
  height: 120px;
}

.w-100 {
  width: 100% !important;
  font-size: 12px;
}

.pt15 {
  padding-top: 15px;
}

.colorAzure {
  color: $Azure;
}

.btn-key {
  width: 54px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1.5px solid #2f81ff;
  display: inline-block;
  text-align: center;
  margin-top: 9px;
  margin-left: 35px;
  font-size: 12px;
}

.top64 {
  top: 64px;
}

.view-link {
  margin-top: 12px;
  color: $Azure;
  font-size: 14px;
}
.view-link:hover {
  text-decoration: underline;
}

.margin_top_0 {
  margin-top: 0px;
}

.padding_top_5 {
  padding-top: 5px;
}

.border_top {
  border-top: 2px solid #d8d8d8;
  padding-top: 20px;
}

.add-btn {
  text-align: center;
  height: 40px;
  width: 12%;
  border-radius: 4px 0px 0px 4px;
  padding: 8px 2px;
  background: $White;
  border: 1.5px solid $Azure;
  font-family: WiproAkkuratTT-Bold;
  color: $Azure;
  outline: none;
  font-size: 18px;
  // width:40px;
}

.add-btn:hover {
  background: #2f81ff;
  color: white;
}

/*************************Pradeep CSS***********************/

.overview-page {
  .list-group-item {
    cursor: pointer;
    font-size: 12px;
    color: #2f81ff;
    border: none;
  }
  .list-group-item :hover {
    background-color: #d9e9ff;
  }
  .list-group-item:hover {
    background-color: $River;
  }
  .p-4-10 {
    padding: 4px 10px 4px 10px;
  }
  .top64 {
    top: 64px;
  }
  .border-btm {
    border-bottom: 2px solid;
  }
  .border-right {
    border-right: 2px solid $Azure !important;
  }
  .customized-select .caret {
    // top: 42px;
    right: 16px;
  }
}

/********** style for auto complete list start ***************/

.list-name {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #000000;
}

.sub-list {
  font-size: 10px;
  color: #9b9b9b;
  font-family: WiproAkkuratTT-Regular;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.z-ind-9 {
  z-index: 9;
}

/********** style for auto complete list end ***************/

// .p-4-10 {
//   padding: 4px 10px 4px 10px;
// }

.btn-key {
  width: 54px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1.5px solid $Azure;
  display: inline-block;
  text-align: center;
  margin-top: 9px;
  margin-left: 35px;
}

/**** wipro contact end **********/

.pos-rel {
  position: relative !important;
}

.cust_calan {
  input {
    border: 1.5px solid #d8d8d8 !important;
    border-radius: 4px;
    outline: none;
    padding-left: 8px;
    padding: 6px;
  }
  .mat-datepicker-toggle {
    position: absolute;
    right: 10px;
  }
}

.mat-button .mat-button-wrapper > * {
  display: none !important;
}

.mat-calendar-period-button {
  min-width: 0;
  left: 6.8em;
  color: white;
  box-shadow: none !important;
}

.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  box-shadow: none !important;
}

.cal_brdr {
  .mat-form-field-flex {
    background-color: #fff;
    border: 1.5px solid #ccc;
    border-radius: 4px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.4375em 0;
    padding-left: 10px;
    padding-right: 5px;
    height: 40px;
  }
  .mat-form-field-infix {
    position: relative;
    border: 0;
    padding: 3px;
  }
  .mdi-calendar-blank:before {
    color: #2f81ff;
    font-size: 20px;
    position: relative;
  }
  .mat-icon-button {
    position: relative;
    outline: none;
  }
  .mat-icon-button:hover {
    box-shadow: none;
  }
  .mat-focused {
    border-color: transparent !important;
  }
}

.plb-60-20 {
  padding: 0 60px 20px 0;
}

.pb21 {
  padding-bottom: 21px;
}

.tagged-box {
  height: 40px;
  border-radius: 4px;
  color: #2f81ff;
  background-color: #d9e9ff;
  padding: 10px 5px 0px 10px;
  width: auto;
  margin: 5px 0;
}
.tagged-boxAGP {
  height: 40px;
  border-radius: 4px;
  color: #2f81ff;
  background-color: #d9e9ff;
  padding: 10px 5px 0px 10px;
  width: auto;
  margin: 5px 5px;
  font-family: WiproAkkuratTT-Regular;
  .mdi-close {
    padding: 0px !important;
  }
}

.close-lead {
  color: $Azure;
  font-size: 16px;
  padding-top: 3px;
}

.mt12 {
  margin-top: 12px;
}

.label-form-blue {
  font-family: "WiproAkkuratTT-Regular";
  font-size: 14px;
  color: #2f81ff;
}

.mt-30 {
  margin-top: 30px;
}

.w-80.name {
  width: 80%; //mar-14
  padding: 10px 3px 3px 10px !important;
}

.w-94 {
  width: 94%;
}

.selected-tags //mar-14
 {
  .p-4-10 {
    padding: 6px 10px 4px 10px !important;
  }
}

// Validation css starts here - Aug20
.bg-error {
  // background: rgba(255, 218, 41, 0.2); not working in edge browser
  background: #fff6cc;
  border-radius: 5px;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  // .label-form {
  //   padding-left: 5px !important;
  // }
  // .cust_calan {
  //   padding: 0px 5px !important;
  // }
  .mdi-magnify::before
  {
    bottom:20px !important
  }
}
.bg-error-unfilled {
  background-color: #e2f3db;
  border-radius: 5px;
  padding: 10px 5px;
  // .label-form {
  //   padding-left: 5px !important;
  // }
  // .cust_calan {
  //   padding: 0px 5px !important;
  // }
  .mdi-magnify::before
  {
    bottom:20px !important
  }
}
// .bg-error-unfilled.CompanyName {
//   padding: 10px 5px !important;
// }
// .bg-error.CompanyName {
//   padding: 10px 5px !important;
// }
// Validation css ends here - Aug20

// .bg-error {
//     background-color: rgba(255, 215, 64, 0.19);
//     height: 84px;
//     box-sizing: border-box;
//     position: absolute;
//     width: 87%;
//     padding: 7px;
//     border-radius: 5px;
// }

// .bg-error-unfilled {
//     background-color: #f1fbe5;
//     height: 84px;
//     box-sizing: border-box;
//     position: absolute;
//     width: 87%;
//     padding: 7px;
//     border-radius: 5px;
// }

.bg-err-cbu,
.bg-err-city {
  position: initial;
  width: 100%;
}
// Drag and drop validation window starts
.validation-window {
  background: rgb(70, 67, 67);
  // padding: 15px;
  position: absolute;
  border-radius: 4px;
  // top: 18.6rem;
  box-shadow: 0 2px 10px 0 rgba(157, 157, 157, 0.69);
  border: none !important;
  color: #ffff;
  right: 4.7rem;
  width: 30%;
  z-index: 9;
  ::ng-deep {
    .mat-expansion-panel {
      width: 100%;
      background: inherit;
      color: #ffffff;
      .mat-expansion-panel-header-title {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        .mdi-chevron-down:before {
          color: #ffffff;
          top: 14px;
        }
      }
      .mat-expansion-panel-body {
        .m-title {
          font-size: 13px;
          font-family: WiproAkkuratTT-Regular;
        }
        .mandatory-fields {
          font-family: WiproAkkuratTT-Regular;
          font-size: 13px;
          list-style-type: none;
          margin: 0px;
          padding: 13px 0px 0px 0px;
          .mandatory-icon {
            margin-right: 4px;
          }
          .mandatory-icon:before {
            font-size: 12px;
            position: relative;
            bottom: 1px;
          }

          .mandatory-item :hover{
              cursor: pointer;
              text-decoration: underline;
          }

          // .mandatory-item:before {
          //     content: '*';
          //     position: relative;
          //     right: 5px;
          //     font-size: 20px;
          //     top: 7px;
          // }
          // .mandatory-item.tick-mark:before {
          //     content: '✔';
          //     font-size: 12px;
          //     position: relative;
          //     top: 0px;
          // }
        }
      }
    }
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]) {
      .mdi-chevron-right:before {
        color: #ffffff;
        top: 14px;
      }
    }
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
      background: inherit;
    }
  }
  .editTopHeads {
    font-family: WiproAkkuratTT-Regular;
    font-size: 20px;
  }

//   a:hover {
//     text-decoration: underline;
//     cursor: pointer;
//   }
}
.h60 {
  min-height: 60px;
}

.w100 {
  width: 100%;
}

// Drag and drop validation window ends

/* ALEX CSS ENDS */
.plb-60-18 {
  padding: 0 40px 18px 0 !important;
}

.mar-right {
  margin-right: -2px;
  z-index: 2;
}
.w88 {
  width: 88%;
  margin-left: 2px;
  border-left: 0px !important;
}
// css for Mandatory feild check validation starts here
// .validation-text
// {
//     font-size: 12px;
//     font-family: WiproAkkuratTT-Bold;
//     color: #f58323;
//     position: absolute;
//     margin: 0px !important;
// }
// .orangeborder
// {
//     border: 2px solid #f58323 !important;
// }
// .validation-bar
// {
//     background: #f58323;
//     width: 0px;
//     height: 53px;
//     position: absolute;
// }
.validation-text {
  // font-size: 12px;
  // font-family: WiproAkkuratTT-Bold;
  // color: #ef3341;
  // position: absolute;
  // margin: 0px !important;
  font-family: WiproAkkuratTT-Bold;
  background: transparent !important;
  padding: 4px 0px !important;
  color: #ef3341 !important;
  position: absolute;
  width: 100%;
  z-index: 1;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: normal;
}
.orangeborder {
  border: 2px solid #ef3341 !important;
}
.validation-bar {
  background: #ef3341;
  width: 0px;
  height: 53px;
  position: absolute;
}
.top50 {
  top: 92%;
}
.manditary-cls {
  position: absolute;
  top: 65px;
}
// css for Mandatory feild check validation ends here
//loader code start*
.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loaderContainer {
  width: 100%;
  top: 0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//loader code end*

.customized-input input:focus {
  border: 1.5px solid #2f81ff !important;
  // box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
  outline: 0;
}

.text-area-content {
  color: #000 !important;
}
.bot18:before {
  bottom: 10px !important;
}
.bot-3 {
  bottom: 3px;
}
textarea::placeholder {
  color: #b5b5b5;
  font-family: WiproAkkuratTT-Regular;
}
.matPanel_padding_overview {
  padding-bottom: 180px !important;
}

@media screen and (max-width: 823px) {
  .validation-window {
    width: 85%;
    margin: 0px !important;
    right: 48px;
  }
}
.matSelectErrorCss {
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  background: #ffffff;
  border: 1.5px solid #d8d8d8;
  font-family: "WiproAkkuratTT-Regular";
  line-height: 1.43;
  letter-spacing: normal;
  color: #4a4a4a;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.fixedHeightAlign .plb-60-20 {
  min-height: 90px;
}
.tagged-box {
  height: 40px;
  border-radius: 4px;
  color: #2f81ff;
  background-color: #d9e9ff;
  padding: 5px;
  width: auto;
  margin: 5px 0;
}

.add-btn {
  text-align: center;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  padding: 8px 2px;
  background: $White;
  border: 1.5px solid $Azure;
  font-family: WiproAkkuratTT-Bold;
  color: $Azure;
  outline: none;
  max-width: 9%;
  z-index: 8;
}
.add-btn:hover {
  background: #2f81ff;
  color: white;
}
.mar_neg2 {
  margin-left: -2px;
}
.name-pad {
  padding: 3px 3px 3px 5px !important;
}
.close-pad{
  padding-top:10px!important;

}
.name-width{
width: 100px;
}
.plusDisabled {
  pointer-events: none;
  color: #9b9b9b;
  border: 1.5px solid #d8d8d8 !important;
}
.plusError
{
    border: 1.5px solid #ef3341 !important;  
}
.plusErrorAndDisabled
{
    pointer-events: none !important;
    color: #9b9b9b;
    border: 1.5px solid #ef3341 !important;  
    cursor: default !important;
}
.arrow-icon {
  pointer-events: none;
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 60px;
  z-index: 9;
  max-width: 1920px;
}

.Arrow {
  pointer-events: fill;
  right: 95px;
  position: absolute;
  bottom: 0;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $Azure;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  color: $White;
  transform: rotate(0deg);
  transition: 0.5s;
  z-index: 1;
}

.active .Arrow {
  transform: rotate(406deg);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  background: #fff;
  color: $Azure;
}
.display-block
{
  display: block !important;
}
.ellipses
{
  width:92%;
}
.padleft2{
  padding: 8px 2px !important;
}
.chatPadding
{
  padding: 8px 3px !important;
}
.mb120web{
  margin-bottom: 120px;
}

#overview_overlay{
        display: none;
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // float: left;
        // background: #00000059;
        // z-index: 9;
}
.right-5{
  right: 5px;
}
.suggestion-box
{
  border: 2px solid #2f81ff;
}
.pb0
{
    padding-bottom: 0px !important;
}
.mx-width{
  max-width: 120px;
}