$Azure: #2f81ff;
$White: #ffffff;
$Black: #000000;
$NavyBlue: #0e3570;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;


.card{
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color:$White;
  margin-bottom:5px !important;
}
.mdi-chevron-up:before {
  font-size: 24px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.mdi-chevron-down:before {
  font-size: 24px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.topslb-30{
  top:30px
}
.card1{
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color:$White;
  margin-bottom:60px !important;
}
.mb20{
  margin-bottom: 20px;
}

.mt4 {
  margin-top: 25px;
}

.label-form1{
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  line-height: 1.83;
  color: $LabelGrey;
  margin-bottom: 4px;
  // width: 100%
}

.label-form2{
  font-family: WiproAkkuratTT-Bold;
  font-size: 12px;
  line-height: 1.83;
  color: $Black;
  margin-bottom: 4px;
  // width: 100%
}


.heading-level-two {
  font-family: WiproAkkuratTT-Bold;
  font-size: 20px;
  color: $NavyBlue !important;
  letter-spacing: -0.4px;
}

.heading-owner {
  font-family: WiproAkkuratTT-Bold;
  font-size: 20px;
  color: #0e3570;
  letter-spacing: -0.4px;
}
.plb-60-20 {
  padding: 0 60px 15px 0;
}
.searchButton {
  padding: 5px 5px;
  background-color: #2f81ff;
  color: white;
  border-radius: 4px;
  border: 1.5px solid #2f81ff;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Bold";
  width: 140px !important;
  height: 40px;
}
.searchButton:disabled {
  color: #969696;
  border-color: #969696;
  background: transparent;
}
.orangeborder {
  border: 2px solid #ef3341 !important;
}







