<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad new-container">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-180"> </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30 ">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card margin-btm55 no_pad mt20">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-30 pt-15 ">
        <span class="back-arrow-helpdesk mdi mdi-arrow-left " (click)="goback()"></span>
        <h2 class="heading-owner"> Service Line BDM Transfer </h2>
        <h6 class="cardsHead mt20 heading-level-three">Search</h6>

        <div class="divider mt10"> </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">
          <!-- Call ID starts here -->
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="callid" class="label-form w-100">Call ID</label>
              <div class="pos-rel w-100 float-left no_pad">
                <input id="callid" type="text" class="col-12 inputbox float-left" placeholder="Enter call ID">
              </div>
            </div>
          </div>
          <!--Call ID  ends here -->

          <!-- Call raised by (email ID) starts here -->
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="callraised" class="label-form w-100">Call raised by (email ID)</label>
              <div class="pos-rel w-100 float-left no_pad">
                <input id="callraised" type="text" class="col-12 inputbox float-left" placeholder="Enter email">
              </div>
            </div>
          </div>
          <!--Call raised by (email ID) ends here -->

          <!-- Old SL BDM (email ID) starts here -->
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="oldsl" class="label-form w-100">Old SL BDM (email ID)</label>
              <div class="pos-rel w-100 float-left no_pad">
                <input id="oldsl"  [appAlphaNumeric] = "'alphanumeric'" [(ngModel)]="OldSLBDMEamilId" type="text" class="col-12 inputbox float-left" placeholder="Enter email ID"
                (input)="checkEmail()">
              </div>
            </div>
          </div>
          <!--Old SL BDM (email ID) ends here -->

          <!-- Service Line starts here -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left  plb-60-20 mt-20-mob web-select-box h100">
            <label for="serviceline" class="w-100 label-form">Service Line</label>
            <mat-form-field class="col-12 no_pad float-left">
              <mat-label>Service Line</mat-label>
              <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus mat-select cursor"
                name="serviceline" id="serviceline" role="listbox" (selectionChange)="practiceTransferBdm()"  [(ngModel)]="serviceLineSysGuid">
                <mat-option *ngFor="let serviceline of serviceLineArray"
                                  [value]="serviceline.SysGuid">
                                  {{getServiceLine(serviceline)}}</mat-option>
                <!-- <mat-option value="" selected hidden disabled>CBU Name</mat-option>
                <mat-option value="val1">CBU Name 1</mat-option>
                <mat-option value="val2">CBU Name 2</mat-option>
                <mat-option value="val3">CBU Name 3</mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  plb-60-20 mobile-select-box">
            <label for="serviceline" class="w-100 label-form">Service Line</label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select class="select-focus mat-select" name="serviceline" id="serviceline" role="listbox" (change)="practiceTransferBdm()"  [(ngModel)]="serviceLineSysGuid">
               <option *ngFor="let serviceline of serviceLineArray"
               [value]="serviceline.SysGuid">
               {{serviceline.Name}}</option>
                <!-- <option value="val1">CBU Name 1</option>
                <option value="val2">CBU Name 2</option>
                <option value="val3">CBU Name 3</option> -->
              </select>
            </div> 
          </div>
          <!--Service Line ends here-->

          <!--Practice starts here -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left  plb-60-20 mt-20-mob web-select-box h100">
            <label for="practice" class="w-100 label-form">Practice</label>
            <mat-form-field class="col-12 no_pad float-left">
              <mat-label>Practice</mat-label>
              <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus mat-select cursor"
                name="practice" id="practice" role="listbox" (selectionChange)="getSubPracticeSLBDMData()" [(ngModel)]="practiceSysGuid">
                <mat-option *ngFor="let practice of practicearray"
                [value]="practice.SysGuid">
                  {{practice.Name}}</mat-option>
                <!-- <mat-option value="" selected hidden disabled>CBU Name</mat-option>
                <mat-option value="val1">CBU Name 1</mat-option>
                <mat-option value="val2">CBU Name 2</mat-option>
                <mat-option value="val3">CBU Name 3</mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
         <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  plb-60-20 mobile-select-box">
            <label for="practice" class="w-100 label-form">Practice</label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select class="select-focus mat-select" name="practice" id="practice" role="listbox" (change)="getSubPracticeSLBDMData()" [(ngModel)]="practiceSysGuid">
                <option *ngFor="let practice of practicearray"
                [value]="practice.SysGuid">
                  {{practice.Name}}</option>
                <!-- <option value="val1">CBU Name 1</option>
                <option value="val2">CBU Name 2</option>
                <option value="val3">CBU Name 3</option> -->
              </select>
            </div>
          </div>
          <!--Practice ends here -->

          <!-- Sub Practice starts here -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left  plb-60-20 mt-20-mob web-select-box h100">
            <label for="subpractice" class="w-100 label-form">Sub Practice</label>
            <mat-form-field class="col-12 no_pad float-left">
              <mat-label>Sub Practice</mat-label>
              <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus mat-select cursor"
                name="subpractice" id="subpractice" role="listbox"  [(ngModel)]="subPracticeSysGuid">
                <mat-option *ngFor="let subpractice of subPracticeArray" [value]="subpractice.SubPracticeId">
                  {{subpractice.Name}}
                </mat-option>
                <!-- <mat-option value="" selected hidden disabled>CBU Name</mat-option>
                <mat-option value="val1">CBU Name 1</mat-option>
                <mat-option value="val2">CBU Name 2</mat-option>
                <mat-option value="val3">CBU Name 3</mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  plb-60-20 mobile-select-box">
            <label for="subpractice" class="w-100 label-form">Sub Practice</label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select class="select-focus mat-select" name="subpractice" id="subpractice" role="listbox" [(ngModel)]="subPracticeSysGuid">
               <option  *ngFor="let subpractice of subPracticeArray" [value]="subpractice.SubPracticeId">
                {{subpractice.Name}}</option>
                <!-- <option value="val1">CBU Name 1</option>
                <option value="val2">CBU Name 2</option>
                <option value="val3">CBU Name 3</option> -->
              </select>
            </div>
          </div>
          <!--Sub Practice ends here -->

          <!--Module starts here -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left  plb-60-20 mt-20-mob web-select-box h100">
            <label for="module" class="w-100 label-form">Module</label>
            <mat-form-field class="col-12 no_pad float-left">
              <mat-label>Select Module</mat-label>
              <mat-select disableOptionCentering panelClass="Select-panel-class" [(value)]="selected"
                class="select-focus mat-select cursor" name="module" id="module" role="listbox" [(ngModel)]="selectedModule" (click)="validatesearch()">
                <mat-option value="" selected hidden disabled>Select Module</mat-option>
                <mat-option value="Orders">Orders</mat-option>
                <mat-option value="Opportunities">Opportunities</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  plb-60-20 mobile-select-box">
            <label for="module" class="w-100 label-form">Module</label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select class="select-focus mat-select" name="module" id="module" role="listbox" [(ngModel)]="selectedModule" (click)="validatesearch()">
                <option value="Orders">Orders</option>
                <option value="Opportunities">Opportunities</option>
              </select>
            </div>
          </div>
          <!--Module ends here -->


          <!--Select start here -->
          <div *ngIf="selected === 'Opportunities'"
            class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad">
              <label for="selectopportunity" class="w-100 label-form">Select</label>
              <mat-radio-group class="float-left mt5" aria-labelledby="key" name="attachRadioBttns" [(ngModel)]="status">
                <mat-radio-button value="0" class="pr30 label-form-blue radio-fontfamly" checked>Open
                </mat-radio-button>
                <mat-radio-button value="1" class="pr30 label-form-blue radio-fontfamly">Won
                </mat-radio-button>
                <mat-radio-button value="2" class="label-form-blue radio-fontfamly">Lost
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>
          <!--Select ends here -->

          <!--Search button starts here -->
          <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-right mt4 plb-60-20">
            <button class="float-right pos-rel searchButton" [ngClass] = "ValidationOnSearch() ?'disableAssign':''"  [disabled]='ValidationOnSearch()' (click)="getselectedModule()">
              Search
            </button>
          </div>
          <!--Search button ends here -->
          <!--table starts-->
          <div *ngIf="selectedModule === 'Opportunities' &&  searchDisabled"
           class="col-12 float-left no_pad">
            <div class="divider mt10 mb20"> </div>
            <span class="col-12 col-xl-6 float-left pos-rel topslb-30 heading-level-three" [ngClass]="searchDisabled?'mb20':''">Opportunities list</span>
            <app-simple-scroll-table [TableHeader]="headernonstickyOpp" [TableCollection]="Opportunity"
              (detectPageChangeData)="performTableChildAction($event)" [IscheckBoxRequired]=true 
              [totalTableCount]="tableCount" [TableName]="'slbdm'"
              [IsPaginationRequired]=true>
            </app-simple-scroll-table>
          </div>


          <div *ngIf="selectedModule === 'Orders' && searchDisabled"
           class="col-12 float-left no_pad">
            <div class="divider mt10 mb20"> </div>
            <span class="col-12 col-xl-6 float-left pos-rel topslb-30 heading-level-three" [ngClass]="searchDisabled?'mb20':''">Orders list</span>
            <app-simple-scroll-table [TableHeader]="headernonstickyOrd" [TableCollection]="OrderSearchTable"
            (detectPageChangeData)="performTableChildAction($event)" [IscheckBoxRequired]=true 
            [totalTableCount]="tableCount" [TableName]="'slbdm'"
             [IsPaginationRequired]=true >
            </app-simple-scroll-table>
          </div>
          <!--table starts-->
        </div>
      </div>

    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card1 margin-btm55 no_pad mt20">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-30 pt-15 ">
        <h6 class="mt20 heading-level-three">Transfer of Service Line BDMs</h6>
        <!--table starts seleceted records-->
        <h6 class=" heading-level-three cp" [ngClass]="showtable ? 'mdi mdi-chevron-down':'mdi mdi-chevron-up'" (click)="showtable = !showtable">{{selectedData?.length}} {{selectedModule}} selected</h6>
        <div *ngIf="showtable">
        <app-simple-scroll-table [TableHeader]="(selectedModule==='Opportunities')? headernonstickyOpp: headernonstickyOrd" [TableCollection]="selectedData"
        [IscheckBoxRequired]=false [totalTableCount]="tableCount" [TableName]="'slbdm'"
        [IsPaginationRequired]=false></app-simple-scroll-table>
      </div>
        <!--table starts seleceted records-->
        <div class="divider mt10"> </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">

          <!-- Call ID starts here -->
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="field1" class="w-100 label-form1">Old SL BDM (email ID)</label>
              <label for="field2" class="w-100 label-form2">{{OldSLBDMEamilId}}</label>
            </div>
          </div>
          <!--Call ID  ends here -->

          <!-- Call raised by (email ID) starts here -->
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="newsl" class="label-form w-100">New SL BDM (email ID)</label>
              <div class="pos-rel w-100 float-left no_pad">
                <input id="newsl"  [appAlphaNumeric] = "'alphanumeric'" type="text" class="col-12 inputbox float-left" placeholder="Enter email" [(ngModel)]="NewSLBHMEmailId">
              </div>
            </div>
          </div>
        </div>
        <!--Call raised by (email ID) ends here -->

        <!--Search button starts here -->
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-right mt20 plb-60-20">
          <button class="float-right pos-rel searchButton"  [disabled]="(NewSLBHMEmailId=='' || selectedData.length==0)?true:false" (click)="clickOnTransferBtn()">
            Transfer
          </button>
        </div>
        <!--Search button ends here -->
      </div>
    </div>

  </div>

</div>