<div class="col-xl-12 col-12 no_pad expand-table-panel">
  <div class="col-xl-12 col-12 float-left no_pad expand-content">

    <div class="col-xl-11 col-12 col-md-11 float-left expand-ryt-section  width100-max">
      <div class="col-12 float-left">
        <span class="col-12 no_pad float-left comment-head">Order rejection reason</span>
        <span class="col-xl-7 col-12 no_pad float-left desp-text">
          Lorem ipsum Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
          piece of classical Latin literature from 45 BC, making it over 2000 years old. Lorem ipsum Contrary
          to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.
        </span>

      </div>
      <div class="col-12 float-left">
        <div class="col-12 no_pad float-left comment-main">

          <div class="col-12 float-left no_pad exp-btns-div">
            <button class="float-left btn-none f-capital exp-cancel-btn exp-cancel-cmnt-btn"
              (click)="openclosepopup()"> Close </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>