$Azure : #2f81ff;
$White : #ffffff;
$River : #d9e9ff;
$MetalLight : #9b9b9b;
$MidNight : #103f86;
$Metal : #4a4a4a;
$Black : #000000;
$Orange : #f58323;
$RubyRed : #ef3341;
$Green : #6dc24b;
$Wash : #9f9f9f;
$MidGrey:#343434;
$Assistant-blue: #E5F0FF;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$LabelGrey : #4a4a4a;
$Pink_dark : #ef3341;

/***** my clor **/
$DarkBlack : #2e2e2e;
.sub-heading
{
  position: absolute;
  left: 3px;
  height: 16px;
  opacity: 0.6;
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #e7ebf2;
  float: left;
  top: 35px;
}
.new-container{
    .input-border-left{
        border-left: none;
    }
    .border-btm{
       border-bottom: 2px solid;
    }
    .border-right{
        border-right: 2px solid $Azure !important;
    }
    .pad-30{
        padding: 30px;
        }
        .mr10{
        margin-right: 10px ;
        }
        .h-40{
        min-height: 40px;
        }
        .heading-level-one_add{         
        font-family:WiproAkkuratTT-Bold;
        font-size: 24px;
        color:$White;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 400px;
        min-width: 70px;
         
        small{
        font-family: 'WiproAkkuratTT-Regular';
        font-size: 14px;
        padding: 0 30px;
        }
        }
        .primary-button.std{
        padding: 9px 5px;
        min-width: 110px;
        
        }
        .borderless{
        border:none !important;
        }
    .h-190{
        height:190px;
    }
    .pad-30{
        padding:30px;        
    }

    .card{
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color:$White;
        margin-bottom:0px !important;
    }

    .heading-level-two{
        font-family: WiproAkkuratTT-Bold;
        font-size: 20px;
        color:$DarkBlack
    }
    .heading-level-three{
        font-family: WiproAkkuratTT-Bold;
        font-size: 16px;
        color:$Black
    }    

    .mt20{
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 8px;
    }
    .label-form{
        font-family: WiproAkkuratTT-Bold;
        font-size: 12px;
        line-height: 1.83;
        color: #2d2c2c9b;
        margin-bottom: 4px;
    }
    .CompanyName{
        .mdi-magnify:before{
            color: $Azure ;
            font-size: 20px;
            right: 10px;
            position: absolute;
            bottom: 5px;
        }
    }   

    .h-40{
        height:40px;
    }
    .customized-select{
        position: relative;
        select{
        width: 100%;
        min-height: 40px;
        border-radius: 5px;
        // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        border: 1.5px solid rgba(0, 0, 0, 0.1);
        padding: 2px 5px;
        -moz-appearance: none;
        -webkit-appearance: none;
        outline: none;

        &:focus{
        outline: none;
        border-color:$Azure;
        }
        }
        select::-ms-expand {
        // for IE
        display: none !important;
        }
        .caret{
        top: 17px;
        right: 16px;
        }
        }       

    }

.pad-create-lead{
    padding:5px 30px 30px 30px;

}
.pad-create-lead1 {
    padding: 10px 30px 10px 20px;
}

.pad-top-8{
    padding-top: 8px;
}
.input-text{
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1.5px solid #d8d8d8;
    padding: 0 10px;

}
select option { 
    line-height: 20px;
}

.new-container{
    .cust_autoComplete{      
        input{
        border: 1.5px solid #d8d8d8 ;
        position: relative;
        border-radius: 4px;
        padding-right: 35px;
        left:-2px;
        }
        }
  }
  .mobile-buttons{
    display: none;
}
.mobile-blue{
    color: white;
    font-size: 22px;
    height: 30px;
}
/*************************Pradeep CSS***********************/
.input-text{
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) !important;
    background-color: #ffffff;
    border: 1.5px solid #d8d8d8;
}
.text-height-70{
    height: 70px !important;
}
.mb20{
    margin-bottom: 20px;
}
.mt22{
    margin-top: 22px;
}
.border-bottm{
    border: 1px solid #d8d8d8;
    height: 2px;
    margin: 5px 25px 0 25px;
}
.dropdown-bg{
    background: #f3f3f3;
}
.input-text:focus{
    border-color: $Azure;
}
.mt30{
    margin-top: 34px;
}

.mdi-chevron-down{
    position: absolute;
    right: 12px;
    font-size: 20px;
    top: 5px;
}
.pad-left10{
    padding-left: 10px !important;
}
.info-icon{
        font-size: 20px;
        color: #2f81ff;
        position: relative;
        top: 3px;        
}
.mdi-information-outline:before{
    padding-left: 5px;
    position: relative;
}
.asteriq{
    color: #4a4a4a;
    font-weight: bold;
}
.pos-rel{
    position: relative;
}


/* (alex) - Form validation styles starts */
.disable-tab{
    cursor: not-allowed;
  }
  .border-pink {
      border-color: $RubyRed !important;
  }
  .required {
    color: #4a4a4a !important;
  }
  .error-message {
      background: $RubyRed;
      padding: 1px 0px 0px 10px ;
      // text-align: center;
      color: #ffffff;
      border-radius: 0 0 4px 4px;
      position: absolute;
      width: 100%;
      z-index: 1;
      font-size: 13px;
      top: 38px;
      right: 2px;
      height: 22px;
  }
  .error-message.custom-msg {     
      top: 64px;
    //   right: 15px;
    //   width: 93%;
  }
  .customized-select {
      .color-azure-err {
          color: $RubyRed !important;
      }
  }
  div.border-bottm {
      // width: 96.2%;
      position: relative;
      top: 25.5rem;
      margin: 5px 25px 0 25px;
  }
  
  div.line-additional {
      position: relative;
      top: 43.5rem;
      margin: 5px 25px 0 25px;
  }
  div.sec-border-bottm {
      top: 6.5rem;
  }
  .top64{
    top:64px;
    position: absolute;
    left: -2px;
}
  @media only screen and (max-width: 1020px) {
      .top3 {
          top: 3rem;
      }
  }
  
  @media only screen and (max-width: 993px) {
      div.border-bottm {
          top: 25.5rem !important;
      }
      div.line-additional {
          top: 43.5rem !important;
      }
      div.sec-border-bottm {
          top: 6.5rem !important;
      }
  }
  
  // @media only screen and (min-width: 992px) {
  //     .error-message.custom-msg {
  //         width: 90.5% !important;
  //     }
  // }
  // @media only screen and (min-width: 992px) and (max-width: 1400px) {
  //    .error-message.custom-msg {
  //         width: 93% !important;
  //     }
  // }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
      div.border-bottm {
          top: 36.5rem !important;
      }
      div.line-additional {
          top: 61rem !important;
      }
      div.sec-border-bottm {
         top: 12rem !important;
      }
  }
  @media only screen and (max-width: 768px) {
      div.border-bottm {
          top: 57.5rem !important;
      }
      div.line-additional {
          top: 98.5rem !important;
      }
      div.sec-border-bottm {
         top: 17.5rem !important;
      }
  }
  /* (alex) - Form validation styles ends */
  /*chethana heander css starts*/
.padd-top-130{
  padding-top: 145px !important;
}
.h-245{
  height: 235px;
}
.padd-top-65 {
    padding-top: 65px !important;
}
.pl30 {
    padding-left: 30px !important;
}
.primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
}
.p-4-10{
    padding: 4px 10px 4px 10px;
}
 .border-right{
    border-right: 2px solid #2f81ff !important;
    z-index: 9 !important;
}
.border-btm ul{
background: white;
}
/*chethana heander css ends*/
//chethana sep 6th
  .backWht {
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(157, 157, 157, 0.3);
    background-color: #ffffff;
    padding: 25px;
    margin-top: 10px;
    float: left;
    padding-top: 10px !important;
  }
  .cardsHead {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: #000000;
    margin-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 2px solid #d8d8d8;
  }
 .accord_s {
    padding: 0px 25px 25px 25px;
  }
 @media only screen and (max-width: 1024px) {
    .accord_s {
      padding: 0px 25px;
    }
  }
 .accbody {
    //  border-top:1px solid #d8d8d8; //chethana may 6th
    padding-bottom: 15px;
  }
    .allianceTable th {
    padding: 10px;
    background: #eaf2ff;
    font-family: WiproAkkuratTT-Bold;
    font-size: 12px;
    font-weight: bold;
    color: #40659e;
    height: 40px;
  }
  .allianceTable td {
    padding: 10px;
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #3f3f3f;
    height: 60px;
  }
  .allianceTable tbody tr:nth-child(even) {
    background: #f9f9f9;
  }
  .allianceTable tbody tr:last-child {
    border-bottom: 2px solid #d8d8d8;
  }
  .tablAlliance thead tr th:first-child {
    border-radius: 8px 0px 0px 0px;
  }
  .tablAlliance thead tr th:last-child {
    border-radius: 0px 8px 0px 0px;
  }
  .cardsHeadheader {
  margin-top: 0px;
  margin-bottom: 0;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 10px;
}
.cardsHeadcbu {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  color: #000000;
  margin-top: 13px;
}
  .addAccountBtns {
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #2f81ff;
    color: #2f81ff;
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    padding: 0px 22px;
  }
  .pt0{
    padding-top:0px !important;
  }
  .top40{
      top:40px;
  }
  .title_align{
    top: 72px !important;
    left: 20px;
  }
  @media only screen and (max-width: 768px) {
    table td::before,
       table tr th::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        font-family: WiproAkkuratTT-Regular;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        color: #9b9b9b;
      }
      table th.actionColumn {
        border-bottom: 0;
        overflow-x: auto;
      }
      tr{
         
          border-bottom: 2px solid grey;
      }
      .mat-form-field-wrapper{
          padding-bottom: 0px !important;
      }
       .disp-flex {
      display: flex !important;
      }
      .marginTopBottom{
          margin: 15px 0px !important;
      }
  }
  span.mdi.mdi-close.auto-close {
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
  }

.top-align{
    top: 38px;
    right: 2px;
}  

.pb-85{
    padding-bottom: 85px !important;
}

.pad-30{
    padding: 30px;
}