<!-- main div starts here -->
<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab main-containtnoSide" [ngClass]="userdat.chatBot? 'chat-bot-1100' : ''">
 <h1 class="float-left heading-level-one">Accounts</h1>
  <!-- create oppurtunity button STARTS -->
    <div class="float-right disp-flex web-action-button" *ngIf="router.url.includes('/accounts/accountlist/moreview')">
      <div class="cust-dropdown-btn mr10">
        <!--<button class="primary-button borderless pad-0-10 btn-block h-40 std pos-rel min-width-185
        responsive-btn-div-button color-azure d-flex justify-content-start align-items-center"
          [ngClass]="showContent1?'show-action':''">
          <span class="mdi mdi-vector-difference-ab m-r-8"></span>Create oppurtunity <span
            class="caret d-block color-azure">
          </span>
        </button>-->
        <div *ngIf="showContent1" class="pos-rel">
          <ul class=" dropdown-content pad-0-10 pos-abs z-ind-99 top-2 b-top">
            <li *ngFor="let item of oppArray" class="h-40 cp color-azure line-height-40">
              <span class=""> </span> <span> {{ item.value }} </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- create oppurtunity button STARTS -->
    <!-- MORE ACTION BUTTONS STARTS -->
    <div class="float-right disp-flex web-action-button mobile-more">
      <div class="cust-dropdown-btn mr10_mobile">
        <button class="primary-button borderless pad-0-10 btn-block h-40 std pos-rel min-width-161
                   responsive-btn-div-button color-azure d-flex justify-content-start align-items-center"
          [ngClass]="showContent?'show-action':''"  aria-describedby="sr_accessible"  (click)="toggleContent()" (keypress)="toggleContent()" 
          [attr.aria-label]="showContent ? 'more actions selected menu button expanded sub menu' : 'more actions menu button collapsed sub menu'"
           (clickOutside)="closeContent()">
          <span class="mdi mdi-dots-vertical m-r-8" ></span> <span class="d-none d-lg-inline-block">More actions</span>  <span class="caret d-none d-lg-inline-block color-azure">
          </span>
        </button>
        <p class="sr-only" id="sr_accessible">Press Enter and then tab to different options and press enter to navigate to the particular page</p>
        <div *ngIf="showContent" class="pos-rel right_value ">
            
          <ul class=" dropdown-content pos-abs top-2 b-top width213 pad-lr-0"  role="listbox">
            <li *ngFor="let item of contentArray" role="option" class="h-40 cp color-azure line-height-40" tabindex="0" (keypress)="additem(item)" (click)="additem(item)">
              <span class="m-r-8 {{item.mdi}}" ></span> <span> {{ item.value }} </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- MORE ACTION BUTTONS STARTS -->
  </div>
</div>


<!-- main div starts here -->
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad account-list-landing">
  <div class="col-12 pos-abs bg-mid_night h-400 pad-30"></div>
  <!-- <div class="col-12 pad-30 padb-0 float-left padd-top-120accntmobile padd-top-120accntweb"> -->
    <div class="col-12 float-left padd-top-120accntweb">

    <!-- <div class="float-right disp-flex web-action-button">
      <div  class="form-group w140 pull-right no_pad current_position ml10 posR cp" (click)="more_clicked = !more_clicked" (clickOutside)="more_clicked = false">
<button class="blue_border btn-none" role="listbox" aria-label="more option"><span  class="caret" [ngClass]="more_clicked? 'up' : ''"></span><span  class="calinSelect mdi mdi-dots-horizontal extra"></span><div  class="form-control btnSelect Empaneled_txt border_right_none " id="sel1" placeholder="Empaneled vendor" role="button" tabindex="0" >More options </div></button>
    <ul  id="menucontainer" style="list-style-type:none" class="no_pad" *ngIf="more_clicked">
      <li  class="list_names border_property" (click)="service.creation_modification='creation'" [routerLink]="['/accounts/accountcreation/activerequest']">Account creation</li>
      <li  class="list_names border_property" (click)="service.creation_modification='modification'" [routerLink]="['/accounts/accountmodification/modificationactiverequest']">Account modification</li>
      <li class="list_names border_property" (click)="service.creation_modification='search'" [routerLink]="['/accounts/accountsearch']">Account search</li>
    </ul>
  </div>
    </div> -->
   


    <!-- <div class="col-12 ptop-20 no_pad vertical-btns-div flex-tab pt15"> -->
      <!-- <div class="col-xl-7 col-lg-7 col-md-8 col-12 no_pad flex-tab-width web-tab">
        <button class="col-lg-3 col-sm-4 col-md-4 col-4 sub-vertical-but brd-right0 " role="tab"
          [attr.aria-selected]="farming ? true : '' " (click)="farming1()" [routerLink]="['farming']"
          routerLinkActive="active">
          <span class="no_pad mdi mdi-crosshairs-gps calin-select-all pr5 pos_rel "></span>
          <span class=" no_pad btntxt-s"> Active</span>
        </button>
        <button class="col-lg-3 col-sm-4 col-md-4 col-4 col-4 pull-right sub-vertical-but" role="tab"
          [attr.aria-selected]="alliance ? true : '' " (click)="alliance1()" [routerLink]="['alliance']"
          routerLinkActive="active">
          <span class="no_pad calin-select-all mdi mdi-account-group pr5 pos_rel "></span>
          <span class=" no_pad btntxt-s"> Alliance</span>
        </button>
        <button *ngIf="((service.loggedin_user == 'cso')|| (service.loggedin_user == 'sbu'))"
          class="col-lg-3 col-sm-4 col-md-4 col-4 col-4 pull-right sub-vertical-but" role="tab"
          [attr.aria-selected]="reserve ? true : '' " (click)="reserve1()" [routerLink]="['reserve']"
          routerLinkActive="active">
          <span class="no_pad calin-select-all mdi mdi-archive pr5 pos_rel "></span>
          <span class=" no_pad btntxt-s"> Reserve</span>
        </button>
        <button class="col-lg-3 col-sm-4 col-md-4 col-4 col-4 pull-right sub-vertical-but brd-left0" role="tab"
          [attr.aria-selected]="moreview ? true : '' " (click)="moreview1()" [routerLink]="['moreview']"
          routerLinkActive="active">
          <span class="no_pad calin-select-all mdi mdi-vector-difference-ab pr5 pos_rel "></span>
          <span class=" no_pad btntxt-s"> More views</span>
        </button>
      </div>

      <div class="col-12 no_pad flex-tab-width mobile-tab">
        <button class="col-lg-3 col-sm-4 col-md-4 col-4 sub-vertical-but brd-right0 " role="tab"
          [attr.aria-selected]="farming ? true : '' " (click)="farming1()" [routerLink]="['farming']"
          routerLinkActive="active">
          <span class="no_pad mdi mdi-crosshairs-gps calin-select-all pr5 pos_rel "></span>
          <span class=" no_pad btntxt-s">Active</span>
        </button>
        <button class="col-lg-3 col-sm-4 col-md-4 col-4  pull-right sub-vertical-but" role="tab"
          [attr.aria-selected]="alliance ? true : '' " (click)="alliance1()" [routerLink]="['alliance']"
          routerLinkActive="active">
          <span class="no_pad calin-select-all mdi mdi-account-group pr5 pos_rel "></span>
          <span class=" no_pad btntxt-s">Alliance</span>
        </button>
        <button *ngIf="((service.loggedin_user == 'cso')|| (service.loggedin_user == 'sbu'))"
          class="col-lg-3 col-sm-4 col-md-4 col-4  pull-right sub-vertical-but" role="tab"
          [attr.aria-selected]="reserve ? true : '' " (click)="reserve1()" [routerLink]="['reserve']"
          routerLinkActive="active">
          <span class="no_pad calin-select-all mdi mdi-archive pr5 pos_rel "></span>
          <span class=" no_pad btntxt-s">Alliance</span>
        </button>
        <button class="col-lg-3 col-sm-4 col-md-4 col-4  pull-right sub-vertical-but brd-left0" role="tab"
          [attr.aria-selected]="moreview ? true : '' " (click)="moreview1()" [routerLink]="['moreview']"
          routerLinkActive="active">
          <span class="no_pad calin-select-all mdi mdi-vector-difference-ab pr5 pos_rel "></span>
          <span class=" no_pad btntxt-s">More views</span>
        </button>
      </div> -->
    <!-- </div> -->
  </div>
</div>
<router-outlet></router-outlet>

