.ml5{
    margin-left: 5px;
}

.card {
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px !important ;     
  }

.pad_upperdiv{
    padding: 0px 20px 20px 20px !important;
}

.textspan{
    font-size: 12px;
    color: #4a4a4a;
}

.select_pad{
    padding: 0px 35px 5px 12px;
    // margin-top:25px;
}