<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12  header-action-tab main-containt " 
    [ngClass]="userdat.chatBot? 'chat-bot-1100' : userdat.sideTrans ? 'main-containt-250' : ''">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  no_pad mt10 mb10 pl30 ">
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad pbl30">
        <h1 class="heading-level-one ">
          Add contract</h1>
          <span class="sub-heading">Apple.Inc</span>
      </div>

       <div class="float-right save-cancel-responsive" >
       <button class="primary-button float-right a borderless border-0  h-40 std save-responsive-btn button-wd50 mr5"
        
         (click)="createrelationshipplan();">Add
        </button>
          <!-- <span class="edit" (click)="createrelationshipplan();">Add</span> -->
     
          <button class="primary-button secondary-btn border-0 mr10 h-40 std cancel-responsived-btn button-wd50"
            (click)="goBack()">Cancel
          </button>
        

       </div>

    </div>
  </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad new-container" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-250 res-position-rel">
  </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30 top-13 padd-top-130 scroll-middle-ios">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt22 margin-btm55 no_pad">
        <div  class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad">

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5  float-left create-mt20 pos-rel margin-top-20">
            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName"
              [formGroup]="accOwnerSwapForm">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="contactName"
                class="label-form"> Contract name</label>
              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" id="contactName"
                name="contactName" autocomplete="off" type="text" formControlName="vertical" [(ngModel)]="contactName"
                placeholder="Enter contract name" (clickOutside)="contactNameclose()" (click)="contactNameSwitch = true"
                [ngClass]="submitted && accOwnerSwap.vertical.errors && accOwnerSwap.vertical.errors.required ? 'border-pink':'border-gray'"
                required>

              <!--<p *ngIf="submitted && accOwnerSwap.vertical.errors && accOwnerSwap.vertical.errors.required"
                class="error-message custom-msg">Vertical is required</p>-->
              <span class="mdi mdi-magnify"></span>

              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure
              suggestion-box pos-abs z-ind-99 border-leftdrop" *ngIf="contactName && contactNameSwitch">
                <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                  <ul class=" list-group mr2 sort-dropdown">
                    <li class="list-group-item h-50 p-4-10 " (click)="appendcontact(item.contact,item.index)"
                      *ngFor="let item of wiproContact |filter:contactName">

                      <div class="float-left naming-tags child-middle bg-azure">
                        <span class="initials">{{item.initials}}</span>
                      </div>
                      <label for="inti_name" class="float-left name">
                        <span class="d-block list-name">{{item.contact}}</span>
                        <span class="d-block sub-list">{{item.designation}}</span>
                      </label>
                    </li>
                    <li class="d-block list-name h-40 p-10" *ngIf="(wiproContact |filter:contactName).length == 0">
                      No record found </li>
                  </ul>
                </perfect-scrollbar>
              </div>
            </form>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 float-left  create-mt20 pos-rel margin-top-20">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="CoversationT7"
              class="label-form"> Vendor </label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="CoversationT7" role="listbox" class="pad-left10">
                <option value="Face to face conversation"> Hunting</option>
                <option value="Virtual conversation">New Delhi</option>
                <option value="Telephonic Conversation">Mumbai</option>
              </select>
            </div>
          </div>

          <!-- radio button for meeting stage starts here -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-12 float-left  pos-rel margin-top-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form pb10" id="keycon">
              Did wipro pitch?</div>
            <mat-radio-group aria-labelledby="keycon" >
              <mat-radio-button value="true" class="pr30 margin-top-5" checked>Yes</mat-radio-button>
              <mat-radio-button value="false" class="margin-top-5" >No</mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- radio button for meeting stage ends here -->

         <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 float-left no_pad  pos-rel margin-top-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left ">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad" for="text3">
                Loss reason</label>
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text text-height-70"
                [(ngModel)]="firstareatext" id="text3" name="text" type="text"
                placeholder="Enter loss reason"></textarea>
            </div>
         </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-6 float-left create-mt20 pos-rel margin-top-20 padding_scope">
            <div  class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-10 float-left no_pad ">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="CoversationT"
              class="label-form"> Scope of contract </label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="CoversationT" role="listbox" class="pad-left10">
                <option value="Face to face conversation"> Hunting</option>
                <option value="Virtual conversation">New Delhi</option>
                <option value="Telephonic Conversation">Mumbai</option>
              </select>
            </div>
            </div>
          </div>


          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 float-left no_pad"> 

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left create-mt20 pos-rel margin-top-20 ">
            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName"
              [formGroup]="accOwnerSwapForm">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad" for="calStart1">
                Contract signed</label>
              <div class="pos-rel">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                  <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan customized-input">
                    <input class="col-12 col-lg-12 col-sm-12 col-md-12 float-left " id="calStart1"
                      formControlName="ContractSigned" readonly
                      [matDatepicker]="picker2" title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY"
                      [ngClass]="submitted && accOwnerSwap.financial_year.errors && accOwnerSwap.financial_year.errors.required ? 'border-pink':'border-gray'"
                      required>
                    <!--<p *ngIf="submitted && accOwnerSwap.financial_year.errors && accOwnerSwap.financial_year.errors.required"
                      class="error-message">Contract Signed</p>-->
                    <mat-datepicker-toggle (click)="picker2.open()" (keypress)="picker2.open()" aria-label="calendar" matSuffix [for]="picker2">
                      <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left create-mt20 pos-rel margin-top-20 ">
            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName"
              [formGroup]="accOwnerSwapForm">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad" for="calStart1">
                Contract renewed</label>
              <div class="pos-rel">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                  <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan customized-input">
                    <input class="col-12 col-lg-12 col-sm-12 col-md-12 float-left " id="calStart1"
                      formControlName="ContractRenewed" readonly
                      [matDatepicker]="picker3" title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY"
                      [ngClass]="submitted && accOwnerSwap.ContractRenewed.errors && accOwnerSwap.ContractRenewed.errors.required ? 'border-pink':'border-gray'"
                      required>
                    <!--<p *ngIf="submitted && accOwnerSwap.ContractRenewed.errors && accOwnerSwap.ContractRenewed.errors.required"
                      class="error-message">Contract renewed</p>-->
                    <mat-datepicker-toggle (click)="picker3.open()" (keypress)="picker3.open()" aria-label="calendar" matSuffix [for]="picker3">
                      <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </div>
                </div>
              </div>
            </form>
          </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left no_pad"> 
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left create-mt20 pos-rel margin-top-20 ">
            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName"
              [formGroup]="accOwnerSwapForm">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad" for="calStart1">
                Contract expires</label>
              <div class="pos-rel">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                  <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan customized-input">
                    <input class="col-12 col-lg-12 col-sm-12 col-md-12 float-left " id="calStart1"
                      formControlName="ContractExpires" 
                      [matDatepicker]="picker4" readonly title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY"
                      [ngClass]="submitted && accOwnerSwap.ContractExpires.errors && accOwnerSwap.ContractExpires.errors.required ? 'border-pink':'border-gray'"
                      required>
                    <!--<p *ngIf="submitted && accOwnerSwap.ContractExpires.errors && accOwnerSwap.ContractExpires.errors.required"
                      class="error-message">Contract expires</p>-->
                    <mat-datepicker-toggle (click)="picker4.open()" (keypress)="picker4.open()" aria-label="calendar" matSuffix [for]="picker4">
                      <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </div>
                </div>
              </div>
            </form>
          </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5  float-left create-mt20 pos-rel margin-top-20 mb20">
            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName"
              [formGroup]="accOwnerSwapForm">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="contactName1"
                class="label-form"> Benefits offered</label>
              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" id="contactName1"
                name="contactName1" autocomplete="off" type="text" formControlName="Benefits" [(ngModel)]="contactName1"
                placeholder="Enter the benefits offered" (clickOutside)="contactNameclose1()" (click)="contactNameSwitch1 = true"
                [ngClass]="submitted && accOwnerSwap.Benefits.errors && accOwnerSwap.Benefits.errors.required ? 'border-pink':'border-gray'"
                required>

              <!--<p *ngIf="submitted && accOwnerSwap.Benefits.errors && accOwnerSwap.Benefits.errors.required"
                class="error-message custom-msg">Benefits is required</p>-->
              <span class="mdi mdi-magnify"></span>

              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure
              suggestion-box pos-abs z-ind-99 border-leftdrop" *ngIf="contactName1 && contactNameSwitch1">
                <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                  <ul class=" list-group mr2 sort-dropdown">
                    <li class="list-group-item h-50 p-4-10 " (click)="appendcontact1(item.contact,item.index)"
                      *ngFor="let item of wiproContact1 |filter:contactName1">

                      <div class="float-left naming-tags child-middle bg-azure">
                        <span class="initials">{{item.initials}}</span>
                      </div>
                      <label for="inti_name" class="float-left name">
                        <span class="d-block list-name">{{item.contact}}</span>
                        <span class="d-block sub-list">{{item.designation}}</span>
                      </label>
                    </li>
                    <li class="d-block list-name h-40 p-10" *ngIf="(wiproContact1 |filter:contactName1).length == 0">
                      No record found </li>
                  </ul>
                </perfect-scrollbar>
              </div>
            </form>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5  float-left create-mt20 pos-rel margin-top-20 mb20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form" for="extra">
                TCV
             </label>
            <input class="col-12 float-left  h-40 input-text " placeholder="Enter time"  [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
            <!--<input class="col-12 float-left  h-40 input-text " placeholder="Enter time"  [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"
            [ngClass]="{'error': f.time2.invalid && (f.time2.dirty || f.time2.touched)}">-->
            <!--<p *ngIf="f.time2.touched && !f.time2.valid" class="error-message top-40">Please select time</p>-->
            <owl-date-time [pickerType]="'timer'" hour12Timer="true" #dt5></owl-date-time>
          </div>

        </div>
      </div>
    </div>

</div>
