$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey:#343434;
$Assistant-blue: #E5F0FF;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$LabelGrey: #4a4a4a;

/***** my clor **/

.displaynonepop {
    display: none;
}

.displayblockpop {
    display: block;
}

$DarkBlack: #2e2e2e;
@media screen and (max-width: 414px) {
    .new-container .pad-30 {
        padding: 15px 15px !important;
    }
}

.new-container {
    .input-border-left {
        border-left: none;
    }
    .border-btm {
        border-bottom: 2px solid;
    }
    .border-right {
        border-right: 2px solid $Azure !important;
    }
    .padt-0 {
        padding-top: 0px !important;
    }
    .pad-30 {
        padding: 30px;
    }
    .mr10 {
        margin-right: 10px;
    }
    .h-40 {
        min-height: 40px;
    }
    .heading-level-one {
        font-family: WiproAkkuratTT-Bold;
        font-size: 24px;
        color: $White;
        small {
            font-family: 'WiproAkkuratTT-Regular';
            font-size: 14px;
            padding: 0 30px;
        }
    }
    .primary-button.std {
        padding: 9px 5px;
        min-width: 110px;
    }
    .borderless {
        border: none !important;
    }
    .h-160 {
        height: 161px;
    }
    .h-260 {
        height: 260px;
    }
    .pad-30 {
        padding: 30px;
    }
    .card {
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color: $White;
    }
    .heading-level-two {
        font-family: WiproAkkuratTT-Bold;
        font-size: 20px;
        color: $DarkBlack
    }
    .heading-level-two-review {
        margin: 0px;
        letter-spacing: -0.4px;
        font-family: WiproAkkuratTT-Bold;
        font-size: 20px;
        color: black;
    }
    .accordian-heading {
        font-family: WiproAkkuratTT-Bold;
        font-size: 20px;
        color: $DarkBlack
    }
    .heading-level-three {
        font-family: WiproAkkuratTT-Bold;
        font-size: 16px;
        color: $Black;
    }
    .divider {
        border: 1px solid $Marble;
    }
    .mt10 {
        margin-top: 10px;
    }
    .mt20 {
        // margin-top:20px;
        margin-top: 15px;
        padding: 0px 21px;
    }
    .mt-12 {
        margin-top: 12px
    }
    .mt15 {
        margin-top: 15px;
    }
    .mt40 {
        margin-top: 40px;
    }
    .plb-20-20 {
        padding: 0px 20px 20px 0px;
    }
    .label-form {
        font-family: WiproAkkuratTT-Bold;
        font-size: 12px;
        line-height: 1.83;
        color: $Metal;
        margin-bottom: 4px;
    }
    .CompanyName {
        .mdi-magnify:before {
            color: $Azure;
            font-size: 20px;
            right: 10px;
            position: absolute;
            bottom: 8px;
        }
    }
    .h-40 {
        height: 40px;
    }
    .label-input {
        font-family: WiproAkkuratTT-Bold;
        font-size: 14px;
        color: #4a4a4a;
        padding-right: 33px;
        &:focus {
            border: 1.5px solid $Azure !important;
            outline: none;
        }
    }
    .customized-input {
        input {
            &:focus {
                border: 1.5px solid $Azure !important;
                outline: none;
            }
        }
    }
    .top70 {
        top: 70px;
    }
    .customized-select {
        position: relative;
        select {
            width: 100%;
            min-height: 40px;
            border-radius: 5px;
            border: 1.5px solid rgba(0, 0, 0, 0.1);
            padding: 2px 5px;
            -moz-appearance: none;
            -webkit-appearance: none;
            outline: none;
            &:focus {
                outline: none;
                border-color: $Azure;
            }
        }
        select::-ms-expand {
            // for IE
            display: none !important;
        }
        .caret {
            top: 17px;
            right: 16px;
        }
    }
    .pad-create-lead {
        padding: 18px 30px 30px 30px;
    }
    .pad-top-8 {
        padding-top: 8px;
    }
    .pos-rel {
        position: relative;
    }
    .border-std {
        border: 1.5px solid;
    }
    .top64 {
        top: 64px;
    }
    .top32 {
        top: 37px;
    }
    .zindex_border {
        z-index: 99;
        border: 2px solid #2f81ff !important;
        border-radius: 4px;
    }
    .input-text {
        border-radius: 4px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        border: 1.5px solid #d8d8d8;
    }
    /********************Datepicker Style Starts****************************/
    .cal_brdr {
        .mat-form-field-flex {
            background-color: #fff;
            border: 1.5px solid #ccc;
            border-radius: 4px;
        }
        .mat-form-field-appearance-legacy .mat-form-field-infix {
            padding: .4375em 0;
            padding-left: 10px;
            padding-right: 5px;
            height: 40px; //oct 24
        }
        .mat-form-field-infix {
            position: relative;
            border: 0;
            padding: 3px;
        }
        .mdi-calendar-blank:before {
            color: #2f81ff;
            font-size: 20px;
            position: relative;
        }
        .mat-icon-button {
            position: relative;
            outline: none;
        }
        .mat-icon-button:hover {
            box-shadow: none;
        }
        .mat-focused {
            border-color: transparent !important;
        }
    }
    .mat-form-field>.mat-form-field-wrapper>.mat-form-field-underline>.mat-form-field-ripple {
        background: $White !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        height: 0px;
    }
    .pos-rel {
        position: relative;
    }
    .mat-button-focus-overlay {
        background: none !important;
    }
    .cust_calan {
        input {
            border: 1.5px solid #d8d8d8 !important;
            border-radius: 4px;
            outline: none;
            padding-left: 8px;
            padding: 6px;
        }
        .mat-datepicker-toggle {
            position: absolute;
            right: 10px;
        }
    }
    .mat-calendar-header {
        background-color: #103f86;
        padding: 1px 0 1px 0 !important;
        margin-bottom: 12px;
        border-radius: 4px 4px 0px 0px;
    }
    .mat-calendar-controls {
        display: flex;
        margin: 3% calc(33% / 7 - 16px) !important;
    }
    .mat-calendar-previous-button {
        right: 15em;
        color: $White !important;
    }
    .mat-calendar-next-button {
        color: $White !important;
        right: 0.6em;
    }
    .mat-button .mat-button-wrapper>* {
        display: none !important;
    }
    .mat-calendar-period-button {
        min-width: 0;
        left: 6.8em;
        color: white;
        box-shadow: none !important;
    }
    .mat-datepicker-content .mat-calendar-next-button,
    .mat-datepicker-content .mat-calendar-previous-button {
        box-shadow: none !important;
    }
    .width-280 {
        width: 280px;
    }
    .mat-datepicker-content {
        margin-top: 10px;
    }
    .mat-calendar-body-selected {
        background-color: #2f81ff !important;
        color: $White !important;
        border: none !important;
    }
    .mat-calendar-body-today:not(.mat-calendar-body-selected) {
        background-color: $River !important;
        color: black !important;
        border-color: rgba(0, 0, 0, 0) !important;
    }
    .margin-top-20 {
        margin-top: 20px;
    }
    /********************Datepicker Style ends****************************/
    .cust_autoComplete {
        input {
            border: 1.5px solid #d8d8d8;
            position: relative;
            border-radius: 4px;
            padding-right: 35px;
            left: -2px;
        }
    }
    .mobile-buttons {
        display: none;
    }
    .mobile-blue {
        color: white;
        font-size: 22px;
        height: 30px;
    }
    /*************************Pradeep CSS***********************/
    .input-text {
        border-radius: 4px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) !important;
        background-color: #ffffff;
        border: 1.5px solid #d8d8d8;
        padding: 0 10px;
    }
    .text-height-70 {
        height: 70px !important;
    }
    .mb20 {
        margin-bottom: 20px;
    }
    .mb50 {
        margin-bottom: 50px;
    }
    .mb180 {
        margin-bottom: 180px;
    }
    .mb330 {
        margin-bottom: 330px;
    }
    .mb85 {
        margin-bottom: 85px;
    }
    .mt80 {
        margin-top: 80px;
    }
    .border-bottm {
        border: 1px solid #d8d8d8;
        height: 2px;
        margin: 5px 22px 0 22px;
    }
    .dropdown-bg {
        background: #f3f3f3;
    }
    .input-text:focus {
        border-color: $Azure;
    }
    .mt30 {
        margin-top: 30px;
    }
    .mdi-chevron-down {
        position: absolute;
        right: 12px;
        font-size: 20px;
        top: 10px;
    }
    .mat-slide-toggle {
        max-width: 100% !important;
    }
    .customized-slider {
        .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
            background-color: $Azure !important;
        }
        .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
            background-color: $Azure !important;
            position: absolute;
            right: 0px;
        }
    }
    @media only screen and (max-width: 414px) {
        .slidetoggle.mat-slide-toggle-bar {
            left: 210px !important;
        }
    }
    .customized-input .error-message {
        background: #6dc24b;
        padding: 3px 6px;
        color: #ffffff;
        border-radius: 0 0 4px 4px;
        position: absolute;
        top: 38px;
        height: 28px;
        width: 100%;
        z-index: 1;
        right: 2px;
    }
    .error-message_review {
        // background: #ef3341;
        padding: 3px 6px;
        color: #ef3341;
        border-radius: 0 0 4px 4px;
        position: absolute;
        top: 40px !important;
        height: 28px;
        width: 100%;
        z-index: 1;
        right: 2px !important;
    }
    .top-38 {
        top: 38px !important;
    }
    .border-pink {
        border-color: #6dc24b !important;
    }
    .border-red {
        //Rudra 
        border-color: $RubyRed !important;
    }
    .border-grey {
        //Rudra 
        border-color: $MidGrey !important;
    }
    .border-orange {
        border-color: #ff784a !important;
    }
    .background-orange {
        // border-color: #ff784a !important;
        background: #ff784a !important;
        border-color: #ff784a !important;
        color: #fff !important;
        padding: 2px 10px !important;
    }
    .background-green {
        background: #6dc24b !important;
        border-color: #6dc24b !important;
        color: #fff !important;
        padding: 2px 10px !important;
    }
    .slidetoggle {
        // padding: 55px;
        // padding-left: 20px;
        // font-size: 12px;
        padding: 20px;
        font-size: 12px;
    }
    .slidetoggle_toggle {
        padding: 42px;
        padding-left: 20px;
        font-size: 12px;
        left: 130px !important;
        position: relative;
    }
    .slidetoggle1 {
        padding-left: 20px;
        font-size: 12px;
        padding: 20px 0 20px 20px;
    }
    .pad-left10 {
        padding-left: 10px !important;
    }
    .h-180 {
        height: 180px;
    }
    .h-160 {
        height: 161px;
    }
    .pad-30 {
        padding: 30px;
    }
    .heading-level-one {
        font-family: WiproAkkuratTT-Bold;
        font-size: 24px;
        color: #ffffff;
    }
    .primary-button.std {
        padding: 9px 5px;
        min-width: 110px;
        margin: 0;
    }
    .h-40 {
        height: 40px;
    }
    .h-40 {
        min-height: 40px;
    }
    .mr10 {
        margin-right: 10px !important;
    }
    .borderless {
        border: none !important;
    }
    .mt40 {
        margin-top: 40px;
    }
    .yellow {
        height: 10px;
        width: 10px;
        background-color: #f58323;
        border-radius: 50%;
        top: 4px;
        display: inline-block;
        position: absolute;
        left: 0px;
    }
    .orange {
        height: 10px;
        width: 10px;
        background-color: #ef3341;
        border-radius: 50%;
        top: 4px;
        display: inline-block;
        position: absolute;
        left: 0px;
    }
    .Modified {
        font-size: 12px;
        font-weight: normal;
        color: #4a4a4a;
        margin-left: 13px;
    }
    .legend {
        font-size: 12px;
        letter-spacing: 0.1px;
        color: #9b9b9b;
    }
    .legend1 {
        font-size: 14px;
        letter-spacing: 0.1px;
        color: #9b9b9b;
    }
    .pad-create-lead1 {
        padding: 18px 30px 5px 30px;
    }
    .pad-create-lead2 {
        padding: 18px 45px 30px 45px;
        // padding: 18px 45px 0px 45px;
    }
    .pad-create-lead2status {
        padding: 5px 45px 30px 45px;
        // padding: 18px 45px 0px 45px;
    }
    .pad-create-lead3 {
        // padding:5px 30px 30px 30px;
        padding: 5px 30px 20px 30px;
    }
    .AddtitionalCom_fonts {
        font-size: 14px;
        color: #4a4a4a;
    }
    .AddtitionalCom_fonts b {
        font-size: 14px;
        color: #000000;
    }
    .AddtitionalCom_fonts .text_emptycomments {
        color: #2f81ff;
        font-size: 14px;
    }
    p {
        margin-bottom: 3px !important;
    }
    .pad-create-lead4 {
        padding: 12px 0px;
    }
    .message_cls {
        height: 20px;
        width: 20px;
        background-color: #d5e6ff;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 20px;
        cursor: pointer;
    }
    .message_cls.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #2f81ff;
        position: relative;
        top: -1px;
    }
    .message_cls_edit {
        height: 20px;
        width: 20px;
        background-color: #d5e6ff;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 22px;
        cursor: pointer;
    }
    .message_cls_edit.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 6px;
        color: #2f81ff;
        position: relative;
        bottom: 1px;
    }
    .message_cls_orange {
        height: 20px;
        width: 20px;
        background-color: #ff784a;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 20px;
        cursor: pointer;
    }
    .message_cls_orange.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #fff;
        pointer-events: none;
        position: relative;
        top: -1px;
    }
    .message_cls_orangeRef {
        height: 20px;
        width: 20px;
        background-color: #ff784a;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 22px;
        cursor: pointer;
    }
    .message_cls_orangeRef.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #fff;
        pointer-events: none;
        position: relative;
        top: 0px;
    }
    .message_cls_orange_edit {
        height: 20px;
        width: 20px;
        background-color: #ff784a;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 22px;
        cursor: pointer;
        ;
    }
    .message_cls_orange_edit.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 6px;
        color: #fff;
        position: relative;
        bottom: 1px;
    }
    .message_cls_edit_swap {
        height: 20px;
        width: 20px;
        background-color: #d5e6ff;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 17px;
        cursor: pointer;
    }
    .message_cls_edit_swap.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #2f81ff;
        position: relative;
        top: 0px;
        left: 0.7px;
    }
    .message_cls_edit_swap.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #2f81ff;
        position: relative;
        top: 0px;
        left: 0.7px;
    }
    .message_cls_orange_swap {
        height: 20px;
        width: 20px;
        background-color: #ff784a;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 17px;
        cursor: pointer;
    }
    .message_cls_orange_swap.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #fff;
        pointer-events: none;
        position: relative;
        top: 0px;
        left: 0.7px;
    }
    .width_message1 {
        width: 12%;
        display: block;
        font-size: 14px;
        color: #9b9b9b;
    }
    .width_message {
        font-size: 14px;
        color: #9b9b9b;
    }
    .width_message2 {
        font-size: 12px;
        color: #4a4a4a;
        font-family: WiproAkkuratTT-Bold;
    }
    .acc_txtarea {
        font-family: WiproAkkuratTT-Bold;
        font-size: 14px;
        color: #4a4a4a
    }
    .wipro_txtarea {
        font-family: WiproAkkuratTT-Bold;
        font-size: 14px;
        color: #4a4a4a;
        // font-weight: bold;
        &::placeholder {
            color: $MetalLight;
        }
    }
    .backspace_button {
        width: 22px;
        height: 22px;
        float: left;
        color: #fff;
        font-size: 22px;
        letter-spacing: -0.2px;
        line-height: 1.27;
        margin-right: 5px;
        background: transparent;
        border: none;
    }
    .pstyles_acc {
        margin-bottom: 0px !important;
        font-size: 13px !important;
        color: #4a4a4a !important;
    }
    .bstyles_acc {
        font-size: 14px !important;
        color: #4a4a4a !important;
        font-weight: bold !important;
    }
    p {
        line-height: unset;
    }
    //changes  8th march starts
    .border-bottmaccordian {
        border: 1px solid #d8d8d8;
        height: 2px;
        margin: 5px 0px 0 0px;
        float: left;
    }
    .pad-create-lead1expand {
        padding: 13px 0px 18px 30px;
    }
    .toggle_left {
        float: left;
        margin-top: 45px !important;
    }
    .toggle_left_busines {
        float: left;
        margin-top: 0px !important;
    }
    .toggle_left_toggle_busines {
        float: left;
        margin-top: 10px !important;
    }
    .slidetoggle_toggle_busines {
        font-size: 12px;
        left: 130px !important;
        position: relative;
        padding: 8px;
    }
    .text_emptycomments {
        font-size: 14px;
        color: #2f81ff;
        font-weight: bold;
    }
    .padding_left {
        padding: 0px 18px;
    }
    .padding_left_ref {
        padding: 0px 14px;
    }
    .botton_marginremove {
        margin-bottom: 0px;
    }
    label {
        margin-bottom: 0px !important;
    }
    .legend {
        font-size: 12px;
        color: #9b9b9b;
    }
    .No_legend {
        font-size: 12px;
        color: #000;
        margin-left: 15px;
    }
    .container-fluid {
        width: 100%;
        .progressbar {
            position: absolute;
            margin-left: 55px;
            li {
                font-family: 'Roboto', Helvetica;
                list-style-type: none;
                color: #797979;
                text-transform: uppercase;
                font-size: 12px;
                width: 21%;
                float: left;
                position: relative;
                font-weight: 500;
                hr {
                    box-sizing: content-box;
                    height: 2px;
                    overflow: visible;
                    top: 4px;
                    position: relative;
                    top: -26px;
                    left: 19px;
                    background-color: #2f81ff;
                }
                .inActive {
                    box-sizing: content-box;
                    height: 2px;
                    overflow: visible;
                    top: 4px;
                    position: relative;
                    top: -26px;
                    width: 60px;
                    left: 24px;
                    background-color: grey;
                }
                .noIcons {
                    background-color: #2f81ff;
                    background-color: gray;
                    color: gray;
                    padding: 2px;
                    margin-left: 20px;
                }
                span {
                    border: 0px solid;
                    border-radius: 50%;
                    padding: 6px 7px;
                    background-color: #2f81ff;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
    @media screen and (device-aspect-ratio: 40/71) {
        .container-fluid {
            .progressbar {
                width: 80%;
            }
        }
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 479px) and (orientation: portrait) {
        .progressbar {
            width: 80%;
        }
    }
    @media (min-width:600px) {
        .container-fluid {
            .progressbar {
                width: 50%;
            }
        }
    }
    @media screen and (min-width: 1400px) {
        .container-fluid {
            .progressbar {
                width: 28%;
            }
        }
    }
    //changes  8th march ends
    /////////////////////////////message Tool tip css starts-------------------------->
    .tooltipcls {
        top: -45px;
        width: 374.6px;
        height: 270px;
        border-radius: 1px;
        background-color: #fff;
        padding: 13px 10px;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
        font-family: WiproAkkuratTT-Regular;
        font-size: 10px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -.2px;
        color: #9b9b9b;
        box-shadow: 0 2px 10px 0 rgba(157, 157, 157, .3);
    }
    .tooltipcls::before {
        content: "";
        position: absolute;
        top: 17%;
        right: 100%;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        border-width: 10px;
        border-style: solid;
        border-color: #d6d5d5 transparent transparent;
        -webkit-transform: rotate;
        transform: rotate;
    }
    .tooltipcls::after {
        content: "";
        position: absolute;
        top: 17%;
        right: 100%;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        border-width: 10px;
        border-style: solid;
        border-color: #fff transparent transparent;
        -webkit-transform: rotate;
        transform: rotate;
    }
    .tooltipclsGreen {
        display: none;
    }
    .width_message2:hover {
        .tooltipclsGreen {
            top: 60px;
            width: auto;
            height: auto;
            left: -10px;
            border-radius: 1px;
            background-color: #6dc24b;
            padding: 13px 10px;
            position: absolute;
            z-index: 1;
            margin-left: 10px;
            font-family: WiproAkkuratTT-Regular;
            font-size: 10px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: -.2px;
            color: #9b9b9b;
            box-shadow: 0 2px 10px 0 rgba(157, 157, 157, .3);
            display: block;
        }
        .tooltipclsGreen::before {
            content: "";
            position: absolute;
            left: 3px;
            top: -26%;
            right: 100%;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            border-width: 8px;
            border-style: solid;
            border-color: #6dc24b transparent transparent;
            -webkit-transform: rotate;
            transform: rotate;
            display: block;
        }
        .tooltipclsGreen::after {
            content: "";
            position: absolute;
            top: -26%;
            left: 3px;
            right: 100%;
            -webkit-transform: rotate(100deg);
            transform: rotate(180deg);
            border-width: 8px;
            border-style: solid;
            border-color: #6dc24b transparent transparent;
            -webkit-transform: rotate;
            transform: rotate;
            display: block;
        }
        .text_colorintool {
            font-size: 12px;
            color: #ffffff;
            display: block;
        }
    }
    .current_pos {
        height: 19px;
        font-family: WiproAkkuratTT-Bold;
        padding: 15px 10px 25px 9px;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
    }
    .textarea_readonly {
        margin-top: 12px;
    }
    .form-control {
        color: #000!important;
        border: 2px solid #d8d8d8!important;
    }
    .form-control {
        padding: 14px!important;
    }
    textarea.form-control {
        height: auto;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .cancel_but {
        margin-top: 13px;
        margin-right: 10px;
        width: 120px;
        height: 40px;
        background-color: #d5e6ff;
        color: #2f81ff;
        border: 1px solid #d5e6ff;
        font-family: WiproAkkuratTT-Regular;
    }
    .submit_but {
        margin-top: 13px;
        width: 120px;
        height: 40px;
        background-color: #fff;
        color: #cfcfcf;
        border: 1.5px solid #cfcfcf;
        font-family: WiproAkkuratTT-Regular;
    }
    .submit_but1 {
        margin-top: 13px;
        width: 120px;
        height: 40px;
        background-color: #2f81ff;
        color: #fff;
        border: 1.5px solid #2f81ff;
        font-family: WiproAkkuratTT-Regular;
    }
    .count_cls {
        position: relative;
        top: 0px;
        width: 30px;
        height: 30px;
        background-color: #ff784a;
        border-radius: 50%;
        float: right;
        left: 3px;
        display: flex;
    }
    .top-6 {
        top: 6px
    }
    .count_txt {
        font-family: WiproAkkuratTT-Bold;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        margin: 0 auto;
        letter-spacing: normal;
        color: #fff;
        line-height: 30px;
    }
    .count_txt2 {
        //Rudra oct 1st
        font-family: WiproAkkuratTT-Bold;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        padding-left: 5px;
        position: relative;
        top: 5px;
    }
    .thirdcon {
        margin-bottom: 0px;
    }
    .button_messagespophover {
        border: none;
        background: none;
        margin: 0px !important;
        padding: 0px;
    }
    // .pad-create-leadbtmPophover {
    //     padding-top: 18px;
    //     padding-right: 14px;
    //     padding-bottom: 160px;
    //     padding-left:14px;
    //     // padding: 5px 14px 160px 14px;
    // }
    .pad-create-lead3btmPophover {
        // padding: 5px 30px 160px 30px;
        padding: 5px 21px 160px 23px;
    }
    .toggle_left_toggle {
        float: left;
        margin-top: 45px !important;
    }
    /////////////////////////////message Tool tip css ends-------------------------->
    //////////////////////////////slim scroll css starts-------------------------->
    .scroll-window {
        width: 100%;
        max-height: 170px;
        font-size: 13px;
        font-size: 15px;
        // line-height: 30px;
        line-height: unset;
    }
    .slimscroll-grid {
        display: none!important;
    }
    .slimscroll-bar {
        width: 7px!important;
        right: 0px!important;
        background: #bab6b6 !important;
        z-index: 8 !important;
        height: 65.223px !important;
    }
    .slimscroll-bar:hover {
        background: #bab6b6 !important;
    }
    //////////////////////////////slim scroll css ends-------------------------->
}


/*chethana heander css starts*/

.padd-top-130 {
    padding-top: 140px !important;
}

.h-200 {
    height: 232px;
}

.padd-top-65 {
    padding-top: 65px !important;
}

.margin_top101 {
    margin-top: 140px !important;
}


/*chethana heander css ends*/

// loader
.loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.loaderContainer {
    width: 100%;
    top: 10em;
    position: fixed;
    height: 140vh;
    z-index: 9999;
    background: transparent;
}

.card {
    // margin-bottom: 0px;
    margin-bottom: 10px; //Rakesh sep 26th
}

.head-tag {
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Regular';
}

.popup-container .h-110 {
    min-height: 110px;
}

.mdi_mag_reviewaccount.mdi-magnify:before {
    color: #2f81ff;
    position: relative;
    top: -1px;
    left: 2px;
    width: 22px;
    font-size: 17px !important;
}


/* copied from create-prospect **kunal** */

.error-message-text-area {
    // background: #ef3341;
    padding: 1px 0px 0px 10px;
    color: #ef3341;
    border-radius: 0 0 4px 4px;
    position: relative;
    width: 100%;
    z-index: 1;
    font-size: 13px;
    right: 0px;
    height: 22px;
}

.cbu_review_comp {
    top: -18px !important;
    position: absolute;
}

.top65 {
    top: 65px;
    right: 2px;
}

.top63 {
    top: 63px;
    right: 2px;
}

.padding_bottomspace {
    padding-bottom: 10px !important;
}

.padd_space {
    padding: 0px 10px 10px 10px;
    max-width: 350px;
    margin-top: 5px;
}

.border_owner_lookup {
    border: 2px solid #2f81ff;
}

.owner-rel {
    left: -2px;
    top: -3px;
}

.top-62 {
    top: 62px !important;
}

.margRmobileDesk {
    margin-right: 10px;
}

.h-43 {
    height: 43px;
}

.info-icon {
    font-size: 20px;
    color: #2f81ff;
    position: relative;
    top: 3px;
}

.toolTipDiv {
    display: none;
}

.width_message2 {
    .info-icon:hover+.toolTipDiv {
        display: block;
        background: rgba( 0, 0, 0, 0.502);
        color: white;
        padding: 5px;
        border-radius: 6px;
        font-size: 10px;
        position: absolute;
        z-index: 1;
    }
}

.button_search_leagal {
    position: absolute;
    top: 13px;
    background: none;
    border: none;
}

.marginTop20 {
    margin-top: 20px !important;
}

.mb100 {
    margin-bottom: 100px;
}

.mb200 {
    margin-bottom: 200px;
}

.pl-20 {
    padding-left: 20px !important;
}

textarea {
    resize: none;
}

.pb1 {
    padding-bottom: 1px;
}

.list-group-item {
    cursor: pointer;
    font-size: 12px;
    color: $Azure;
    border: none;
    padding-bottom: 10px; //Rudra 28 jan
}

.list-group-item:hover {
    background-color: $River;
}

.p-4-10 {
    padding: 4px 10px 4px 0px;
}

.input-border-left {
    border-left: none;
}

.border-btm {
    border-bottom: 2px solid;
}

.border-right {
    border-right: 2px solid $Azure !important;
}

.mt-8 {
    margin-top: 8px;
}

.top64 {
    top: 64px;
}

.z-ind-99 {
    z-index: 99;
}

.border-leftdrop {
    border-left: 2px solid #2f81ff !important;
}

.p-4-10 {
    padding: 4px 10px 4px 0px;
}

.sort-dropdown {
    background: white;
}

.h-50 {
    height: 50px;
}

.list-name {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    max-width: 350px;
}

.sort-dropdown {
    background: white;
}

.pb-55 {
    padding-bottom: 55px;
}

.mb25 {
    margin-bottom: 25px;
}

.txtarea-chat-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 218px;
    float: left;
}

.mb0 {
    margin-bottom: 15px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-240 {
    margin-bottom: 240px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-155 {
    margin-bottom: 155px;
}

.mb-330 {
    margin-bottom: 330px;
}

.mb-140 {
    margin-bottom: 140px;
}

.mb-180 {
    margin-bottom: 180px;
}

.mb-240 {
    margin-bottom: 240px;
}

.mb-290 {
    margin-bottom: 290px;
}

.mb-360 {
    margin-bottom: 360px;
}
.disablemouse {
    pointer-events: none !important;
}

.mb-85 {
    margin-bottom: 85px;
}

.mb-185 {
    margin-bottom: 185px;
}

.mb-100 {
    margin-bottom: 100px;
}

.r-2 {
    right: 2px;
    top: -2px;
}

.select-holder {
    color: $MetalLight !important;
}
.error-border{
    border-color:$RubyRed !important;
}
.bg-white {
    background-color: white;
}