.border-btmg{
    border-bottom: 1px solid #ccc;
}
.merge-icon{
    color: #ff784a;
    font-size: 20px;
}
.padd-btm20{
    padding-bottom: 20px;
}
.account-txt{
    font-size: 16px;
    padding-left: 20px;
    font-family: "WiproAkkuratTT-Bold";
}
.time-text{
    font-size: 16px;
    padding-right: 15px;
    font-family: "WiproAkkuratTT-Regular";
}
.hrs-txt{
    font-size: 18px;
    font-family: "WiproAkkuratTT-Bold";
}
.success-icon{
    color: #6dc24b;
    font-size: 20px;
    padding-right: 20px;
}
.succes-txt{
    font-size: 16px;
    font-family: "WiproAkkuratTT-Bold"; 
}
.succes--time{
    color: #9c9ca0;
    font-size: 12px;
}
.failure-text{
    color: #ef365e;
    font-size: 16px;
    font-family: "WiproAkkuratTT-Bold";   
}
.fail-textarea{
    color: #ef365e;
    border: 2px solid #ef365e;
    font-family: "WiproAkkuratTT-Regular";   
}
textarea::placeholder {
    color: #ef365e;
}
.d-inline-block{
    display: inline-block;
}