// .border-0-4-4-0{
//     border-radius: 0px 4px 4px 0px;
// }


// .btn-tabs {

// text-align: center;
// color: #2f81ff;
// border-radius: 5px;
// font-family: WiproAkkuratTT-Bold;

// }

// .p-l-5{
//     padding-left: 5px;
// }

// .active-tab-btn{
//     background: #fff;
//     color: #2f81ff
// }


// Usha disale css for contracts

$Azure : #2f81ff;
$White : #ffffff;
$River : #d9e9ff;
$MetalLight : #9b9b9b;
$MidNight : #103f86;
$Metal : #4a4a4a;
$Black : #000000;
$Orange : #f58323;
$RubyRed : #ef3341;
$Green : #6dc24b;
$Wash : #9f9f9f;
$MidGrey:#343434;
$Assistant-blue: #E5F0FF;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$LabelGrey : #4a4a4a;
$DarkBlack : #2e2e2e;

.contract {
    .pad-lr-30 {
        padding-left: 30px;
        padding-right: 30px;
    }
   .mtop-20 {
        margin-top: 20px;
    }
    .lr-50 {
        left: 98px;
    }
    .accord-heading .accordian-title {
        font-size: 16px;
        font-family: 'WiproAkkuratTT-Bold';
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: $Black;
    }
    .pad-top-8 {
        padding:8px 0 0 0 ;
    }
    table {
        width: 100%;
        margin-top: 5px;      
        tr th {
            background: #e6f3f9;
            height: 35px;
            color: $NavyBlue;
            font-family: WiproAkkuratTT-Regular;
            font-size: 12px; 
        }
        .br-tl {
            border-radius: 5px 0 0 0;
        }
        .br-tr {
            border-radius: 0 5px 0 0;
        }
        // .brdr-lr {
        //     border-left: 2px solid white;
        //     border-right: 2px solid white;
        // }
        // .brdr-left {
        //     border-left: 2px solid white;
        // }
        // .brdr-right {
        //     border-right: 2px solid white;            
        // }
        // .br-tlr {
        //     border-radius: 5px 5px 0 0;
        // }
        td, th {
            text-align: left;
            padding: 8px;
          }
          tr td {
            height: 50px;
            font-size: 12px;
            font-weight: bold;
            font-family: WiproAkkuratTT-Regular;
          }
          tr:nth-child(even) {
            background-color: #f0f0f0;
          }
          td tr {
              background-color: inherit;
          }
    }
    .wh-42 {
        width: 42px !important;
        height: 42px !important;
    }
    .mdi-chevron-up:before, .mdi-chevron-down:before {
        font-size: 28px;
        color: $Black !important;
        margin-right: 5px;
    }
    .border-bottom-grey {
        border-bottom: solid 1.5px #d7d7d7;
    }
    .mat-expansion-panel-header-title {
    margin-right: 0px !important;
    }
    .blue_circle_replay {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #d9e9ff;
        position: relative;
        text-align: center;
        color: #2f81ff;
        margin-left: 10px;
        font-size: 18px !important;
    }
    .blue_circle_replay:hover {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #2f81ff;
        position: relative;
        color: #ffffff;
        
        .blue_circle_replay_img {
            color: #ffffff;
        }
    }
    .primary-button:hover {
        background: #2f81ff;
        color: white;
    }
    .action-button {
        button{
            margin-left: 10px;
            font-size: 14px;
            font-family: WiproAkkuratTT-Bold;
        }
        .mdi-download:before {
            font-size: 24px;
        }
    }
    .border-4 {
        border-radius: 4px;
    }
    .padding-0-25 {
        padding:0px 25px;
    }
    .mrgn-63 {
        margin-right: 63px;
    }
    .link-style {
        font-family: WiproAkkuratTT-Bold;
        font-size: 14px;
        top: 5px;
        left: 25px;
    }
}

// .col-size {
//     font-size: 24px !important;
// }
.popup-container .popup-hd-txt {
    margin: 0;
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px !important;
    color: #103f86 !important;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-top: 5px;
}
// .blue-col {
//     color: #103f86 !important;
// }
.upload-contract {
    .upload-contract:hover {
        background: #2f81ff !important;
        color: white !important;
    }
    .mdi-upload:before {
        font-size: 14px;
    }
    .right0 {
        right: 0px !important;
        position: relative;
        }
        .right5 {
        position: relative;
        right: 5px !important;
        }
}
/*****************file upload CSS starts from here ***************************/
.file_ip
{
    width: 50%;
    position: absolute;
    // top: 6px;
    opacity: 0;
    z-index: 99;
    left: 0;
}

.uploaded_doc
{
    padding: 5px 0px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    background: #f8f9fa;
    font-size: 12px;
    margin-top: 20px;
    width: 100%;
    height: 42px;
    border: 2px solid #2f81ff;
}
.uploaded_text{
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
}
.pad-left {
    padding-left: 0px;
}
.primary-button {
    font-size: 13px !important;
    padding: 0px !important;
    width: 85% !important;
    .mdi-attachment:before {
        transform: rotate(270deg);
        right: 3px;
        position: relative;
        font-weight: bold;
        font-size: 14px !important;
    }
}
.primary-button:hover {
    background: #2f81ff !important;
    color: white !important;
}
.note-txt {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #4a4a4a;    
}
