

<!-- <router-outlet> </router-outlet> -->

<!-- new code as per 4th-june-2019 design -->

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  contract no_pad pad-lr-30">
    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-250"></div> -->

    <div *ngIf="!disabledbtn" class="col-12 float-left customized-accordians">
        <!-- Level 1 Accordian Starts-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0">
            <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="min-height:60px;">
                    <mat-panel-title class="accord-heading">
                        <span [ngClass]="panelOpenState ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                        <span class="col-12 col-sm-11 col-md-4 accordian-title pad-top-8" [ngClass]="service.Summary_window?'mr10':'mrgn-63'" >Contract requests</span>

                        <!-- <div class="col-6 col-md-6 col-lg-6 col-xl-6 float-right no_pad action-button d-flex justify-content-end "> -->
                        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 float-right no_pad action-button d-flex justify-content-end lr-50">
                            <!-- <div *ngIf="!disabledbtn" class="col-6 no_pad"> -->
                            <span class="col-3 col-md-3 ellipses link-style pad-top-8 color-azure float-left cp" (click)="stop($event)" title="View ICM tutorial">View ICM tutorial</span>
                            <button aria-label="Request access" class="col-3 primary-button ellipses float-left h-40 border-4 padding-0-25 mrgn-30" (click)="openAccessRequestedPopup($event)">
                                Request access
                            </button>
                            <button aria-label="Add contract" class="col-3 primary-button ellipses float-left h-40  border-4 padding-0-25" [routerLink]="['/opportunity/newcontract']"
                                (click)="stop($event)">
                                + Add contract
                            </button>
                            <!-- </div> -->
                            <button aria-label="download" class="mdi mdi-download primary-button pr10 pl10 ellipses float-left wh-42 mr10" (click)="stop($event)">
                            </button>
                        </div>
                        <!-- </div> -->
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="col-12 float-left border-bottom-grey"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad scroll-tabs overflowscroll">
                    <table class="no_pad">
                        <thead>
                            <tr>
                                <th class="br-tl">Request name</th>
                                <th>Request code</th>
                                <th>Created by</th>
                                <th>Created date</th>
                                <th>Status</th>
                                <th class="br-tr"></th>
                            </tr>
                        </thead>
                        <tbody class="no_pad">
                            <tr *ngFor="let request of contarctRequests">
                                <td class="color-azure">{{ request.requestName }}</td>
                                <td>{{ request.requestCode }}</td>
                                <td>{{ request.createdBy }}</td>
                                <td>{{ request.createdDate }}</td>
                                <td [ngClass]="request.status == 'Pending' ? 'color-azure' : 'color-label_gray'">{{ request.status }}</td>
                                <td>
                                    <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="view" matTooltip="view">
                                        <span class="col-xs-12 nopad blue_circle_replay_img mdi mdi-eye"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-expansion-panel>
        </div>
        <!-- Level 1 Accordian Ends-->
    </div>

    <div *ngIf="!disabledbtn" class="col-12 float-left customized-accordians mtop-20">
        <!-- Level 1 Accordian Starts-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0">
            <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
                <mat-expansion-panel-header style="min-height:60px;">
                    <mat-panel-title class="accord-heading">
                        <span [ngClass]="panelOpenState1 ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                        <span class="col-12 col-sm-11 col-md-4 accordian-title pad-top-8" [ngClass]="service.Summary_window?'mr10':'mrgn-63'">Contract repository</span>

                        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 float-right no_pad action-button d-flex justify-content-end lr-50">
                            <button aria-label="download" class="mdi mdi-download primary-button pr10 pl10 ellipses float-left wh-42 mr10" (click)="stop($event)">
                            </button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="col-12 float-left border-bottom-grey"></div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad scroll-tabs overflowscroll">
                    <table class="no_pad">
                        <thead>
                            <tr>
                                <th class="br-tl">Agreement name</th>
                                <th>Agreement code</th>
                                <th>Created by</th>
                                <th>Created date</th>
                                <th>Status</th>
                                <th class="br-tr"></th>
                            </tr>
                        </thead>
                        <tbody class="no_pad">
                            <tr *ngFor="let repository of contractRepository">
                                <td class="color-azure">{{ repository.agreementName }}</td>
                                <td>{{ repository.agreementCode }}</td>
                                <td>{{ repository.createdBy }}</td>
                                <td>{{ repository.createdDate }}</td>
                                <td [ngClass]="repository.status == 'Executed' ? 'color-green' : 'color-orange'">{{ repository.status }}</td>
                                <td>
                                    <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="view" matTooltip="view">
                                        <span class="col-xs-12 nopad blue_circle_replay_img mdi mdi-eye"></span>
                                    </button>
                                    <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="upload" matTooltip="upload">
                                        <span class="col-xs-12 nopad blue_circle_replay_img mdi mdi-upload right5"></span>
                                    </button>
                                    <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="download" matTooltip="download">
                                        <span class="col-xs-12 nopad blue_circle_replay_img mdi mdi-download"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-expansion-panel>
        </div>
        <!-- Level 1 Accordian Ends-->
    </div>

    <div *ngIf="disabledbtn" class="col-12 float-left customized-accordians mtop-20">
        <!-- Level 1 Accordian Starts-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0">
            <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
                <mat-expansion-panel-header style="min-height:60px;">
                    <mat-panel-title class="accord-heading">
                        <span [ngClass]="panelOpenState1 ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                        <span class="col-12 col-sm-11 col-md-4 accordian-title pad-top-8" [ngClass]="service.Summary_window?'mr10':'mrgn-63'">Uploaded contracts</span>

                        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 float-right no_pad action-button d-flex justify-content-end lr-50">
                            <!-- <div *ngIf="!disabledbtn" class="col-6 no_pad"> -->
                            <button aria-label="Request access" class="col-3 primary-button ellipses float-left h-40 border-4 padding-0-25" (click)="openAccessRequestedPopup($event)">
                                Request access
                            </button>
                            <button aria-label="upload contract" class="col-3 primary-button ellipses float-left h-40  border-4 padding-0-25 upload-contract" (click)="openUploadContractPopup($event)">
                                <span class="mdi mdi-upload"  [ngClass]="service.Summary_window?'right0':'right5'" ></span>Upload contract
                            </button>
                            <!-- </div> -->
                            <button aria-label="download" class="mdi mdi-download primary-button pr10 pl10 ellipses float-left wh-42 mr10" (click)="stop($event)">
                            </button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="col-12 float-left border-bottom-grey"></div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad scroll-tabs overflowscroll">
                    <table class="no_pad">
                        <thead>
                            <tr>
                                <th class="br-tl">Title</th>
                                <th>Date created</th>
                                <th>Created by</th>
                                <th>Documents</th>
                                <th>Notes</th>
                                <th class="br-tr"></th>
                            </tr>
                        </thead>
                        <tbody class="no_pad">
                            <tr *ngFor="let contract of uploadContract">
                                <td>{{ contract.title }}</td>
                                <td>{{ contract.dateCreated }}</td>
                                <td>{{ contract.createdBy }}</td>
                                <td class="color-azure">{{ contract.documents }}</td>
                                <td>{{ contract.notes }}</td>
                                <td>
                                    <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="delete" matTooltip="delete">
                                        <span class="col-xs-12 nopad blue_circle_replay_img mdi mdi-delete"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-expansion-panel>
        </div>
        <!-- Level 1 Accordian Ends-->
    </div>
</div>