<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>

    <div class="float-left col-12 mt10 accountDetails_page header-action-tab main-containt" [ngClass]="userdat.chatBot? 'chat-bot-1100' : userdat.sideTrans ? 'main-containt-250' : ''">
        <div class="col-sm-12 no_pad float-left head">
            <div class="no_pad float-left heading cp pl30">
                <h1 class="Appleincheading">{{accountname}}</h1>
            </div>
        </div>
    </div>

</div>

<div class="blue_bg_div account_details_height gcp_list_height"> </div>

<div class="min-hei accountDetails_page" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'">
    <!-- <div class="col-12 no_pad height710px"  id="RevenueSummaryreportContainer"></div> -->
    <!-- <div class="col-12 no_pad height710px"  id="PipelineRevenueSummaryreportContainer"></div>
  <div class="col-12 no_pad height710px"  id="OperatingRevenueSummaryreportContainer"></div>
  <div class="col-12 no_pad height710px"  id="OrderRevenueSummaryreportContainer"></div>
  <div class="col-12 no_pad height710px"  id="RevenueRevenueSummaryreportContainer"></div>
  <div class="col-12 no_pad height710px"  id="WinlossRevenueSummaryreportContainer"></div> -->
    <div class="topNavHead pt20 plr30dash float-left col-sm-12 padd-top-130">
        <div class="float-left col-12 no_pad dashBoardLanding_main ">
            <div class="col-12 plr30dash dshBoard_main_content dashBoardLanding_main ">
            </div>
            <div class="float-left col-12 no_pad mt106">

                <div class="float-left col-12 cards-inner-div ">

                    <div class="float-left col-12 no_pad">

                        <!-- <div class="float-left padd15" [ngClass]="userdat.chatBot? 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12':'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12'">
              <div class="col-12 big-bets-div float-left tableCards">
                <div class="col-12 float-left no_pad">
                  <div class="col-lg-10 col-md-9 no_pad">
                   <h2 class="float-left tablHead">Revenue summary (FY19-20)</h2>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-10 col-3 float-right no_pad customized-sliderdashboradDEt">
                    <div class="col-12 no_pad float-right">
                      <mat-slide-toggle>Graph view</mat-slide-toggle>
                    </div>
                  </div>
                </div>
                <div class="col-12 no_pad float-left card-header-btm1">
                  <div class="col-lg-10 col-md-9 col-sm-10 col-9 float-left no_pad">
                    <span class="float-left wonAccCount">43/100</span>
                    <span class="float-left totalAccText">Achived YTD (%)</span>
                  </div>
  

                </div>
  
                <div class="col-12 no_pad float-left">
                  <img src="assets/images/Revenue.JPG" [ngClass]="userdat.chatBot? 'active' : 'graph-image'" height="100%">
                </div>
              </div>
            </div>

            <div class="float-left padd15" [ngClass]="userdat.chatBot? 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12':'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12'">
              <div class="col-12 big-bets-div float-left tableCards">
                <div class="col-12 float-left no_pad">
                  <div class="col-lg-10 col-md-9 no_pad">
                   <h2 class="float-left tablHead">Win loss summary (FY19-20)</h2>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-10 col-3 float-right no_pad customized-sliderdashboradDEt">
                    <div class="col-12 no_pad float-right">
                      <mat-slide-toggle>Graph view</mat-slide-toggle>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 no_pad float-left card-header-btm1">
                  <div class="col-lg-10 col-md-9 col-sm-10 col-9 float-left no_pad">
                    <span class="float-left wonAccCount">10/100</span>
                    <span class="float-left totalAccText">Win ratio YTD (%)</span>
                  </div>
                </div>
  
                <div class="col-12 no_pad float-left">
                  <img src="assets/images/win1.JPG" [ngClass]="userdat.chatBot? 'active' : 'graph-image'" height="100%">
                </div>
              </div>
            </div>

            <div class="float-left padd15" [ngClass]="userdat.chatBot? 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12':'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12'">
              <div class="col-12 big-bets-div float-left tableCards">
                 <div class="col-12 float-left no_pad">
                  <div class="col-lg-10 col-md-9 no_pad">
                   <h2 class="float-left tablHead">Pipeline summary (FY19-20)</h2>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-10 col-3 float-right no_pad customized-sliderdashboradDEt">
                    <div class="col-12 no_pad float-right">
                      <mat-slide-toggle>Graph view</mat-slide-toggle>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 no_pad float-left card-header-btm1">
                  <div class="col-lg-10 col-md-9 col-sm-10 col-9 float-left no_pad">
                    <span class="float-left wonAccCount">12</span>
                    <span class="float-left totalAccText">Total TCV ($Mn)</span>
                 </div>
                </div>
  
                <div class="col-12 no_pad float-left">
                  <img src="assets/images/pipeline.JPG" [ngClass]="userdat.chatBot? 'active' : 'graph-image'" height="100%">
                </div>
              </div>
            </div>

            <div class="float-left padd15" [ngClass]="userdat.chatBot? 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12':'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12'">
              <div class="col-12 big-bets-div float-left tableCards">
                <div class="col-12 float-left no_pad">
                  <div class="col-lg-10 col-md-9 no_pad">
                   <h2 class="float-left tablHead">Win loss summary (FY19-20)</h2>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-10 col-3 float-right no_pad customized-sliderdashboradDEt">
                    <div class="col-12 no_pad float-right">
                      <mat-slide-toggle>Graph view</mat-slide-toggle>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 no_pad float-left card-header-btm1">
                  <div class="col-lg-10 col-md-9 col-sm-10 col-9 float-left no_pad">
                    <span class="float-left wonAccCount">10/100</span>
                    <span class="float-left totalAccText">Win Ratio YTD (%)</span>
                  </div>
                </div>
  
                <div class="col-12 no_pad float-left">
                  <img src="assets/images/win2.JPG" [ngClass]="userdat.chatBot? 'active' : 'graph-image'" height="100%">
                </div>
              </div>
            </div>

            <div class="float-left padd15" [ngClass]="userdat.chatBot? 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12':'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12'">
              <div class="col-12 big-bets-div float-left tableCards">
                <div class="col-12 float-left no_pad">
                  <div class="col-lg-10 col-md-9 no_pad">
                   <h2 class="float-left tablHead">Nominated Acc. - Revenue (FY19-20)</h2>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-10 col-3 float-right no_pad customized-sliderdashboradDEt">
                    <div class="col-12 no_pad float-right">
                      <mat-slide-toggle>Graph view</mat-slide-toggle>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 no_pad float-left card-header-btm1">
                  <div class="col-lg-10 col-md-9 col-sm-10 col-9 float-left no_pad">
                    <span class="float-left wonAccCount">60/90</span>
                    <span class="float-left totalAccText">Total Revenue ($Mn)</span>
                  </div>
                </div>
  
                <div class="col-12 no_pad float-left">
                  <img src="assets/images/nominate.JPG" [ngClass]="userdat.chatBot? 'active' : 'graph-image'" height="100%">
                </div>
              </div>
            </div>
  
            <div class="float-left padd15" [ngClass]="userdat.chatBot? 'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12':'col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12'">
              <div class="col-12 big-bets-div float-left tableCards">
                <div class="col-12 float-left no_pad">
                  <div class="col-lg-10 col-md-9 no_pad">
                   <h2 class="float-left tablHead">Order booking summary (FY19-20)</h2>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-10 col-3 float-right no_pad customized-sliderdashboradDEt">
                    <div class="col-12 no_pad float-right">
                      <mat-slide-toggle>Graph view</mat-slide-toggle>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 no_pad float-left card-header-btm1">
                  <div class="col-lg-10 col-md-9 col-sm-10 col-9 float-left no_pad">
                    <span class="float-left wonAccCount">60/90</span>
                    <span class="float-left totalAccText">Actual bookings (%)</span>
                  </div>
                </div>
  
              <div class="scroll-window" slimScroll>
                <table class="float-left col-12 no_pad opportunity-tbl">
                  <thead>
                    <tr>
                      <th class="float-left">Opportunity name</th>
                      <th class="float-right">TCV</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="float-left">Opportunity name 1</td>
                      <td class="float-right">$2.3Mn</td>
                    </tr>
                    <tr>
                      <td class="float-left">Opportunity name 2</td>
                      <td class="float-right">$2.3Mn</td>
                    </tr>
                    <tr>
                      <td class="float-left">Opportunity name 3</td>
                      <td class="float-right">$2.3Mn</td>
                    </tr>
                    <tr>
                      <td class="float-left">Opportunity name 4</td>
                      <td class="float-right">$2.3Mn</td>
                    </tr>
                    <tr>
                      <td class="float-left">Opportunity name 5</td>
                      <td class="float-right">$2.3Mn</td>
                    </tr>
  
                  </tbody>
                </table>
               </div>

              </div>
            </div> -->

                        <div class="float-left padd15" [ngClass]="userdat.chatBot? 'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12':'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'">
                            <div class="col-12 big-bets-div float-left tableCards">
                                <div class="col-12 float-left no_pad">
                                    <div class="col-lg-10 col-md-9 no_pad">
                                        <h2 class="float-left tablHead">{{accountname}}</h2>
                                    </div>
                                    <!-- <div class="col-lg-2 col-md-3 col-sm-10 col-3 float-right no_pad customized-sliderdashboradDEt">
                    <div class="col-12 no_pad float-right">
                      <mat-slide-toggle>Graph view</mat-slide-toggle>
                    </div>
                  </div> -->
                                </div>

                                <div class="col-12 no_pad float-left card-header-btm1">
                                    <div class="col-lg-10 col-md-9 col-sm-10 col-9 float-left no_pad">
                                        <span class="float-left wonAccCount">{{TotalRecordCount}}</span>
                                        <span class="float-left totalAccText">Total accounts in family</span>
                                    </div>
                                </div>
                                <!-- <div class="treeStructure"></div> -->
                                <!-- <div class="scroll-window" slimScroll> -->

                                    <!-- Card starrts from here -->
                                    <!-- <div class="col-12 no_pad float-left mt20">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 float-left mb-3 pad-leftright" *ngFor="let item of data; let i=index">
                      <div class="col-12  no_pad float-left card">
                          <div class="card-header cust_check-filter d-flex no_pad">
                              <div class="col-10 display_flex">
                                  <span class="cp text_ellipses" role="link" tabindex="0" id="item_title{{i}}" (keypress)="datachange()" (click)="datachange()">{{ item.title }}</span>
                              </div>
                          </div>
                          <div class="col-12 no_pad card-body mt10">
                              <div class="col-12 bottom-10 float-left">
                                  <div class="created-by col-6 float-left no_pad pad-left5">
                                      <span class="col-6 pad-10">Number:</span>
                                      <span class="col-6 no_pad">{{ item.number }}</span>
                                  </div>
                                  <div class="created-by col-6 float-left no_pad pad-left5">
                                    <span class="col-6 pad-10">Hirerchy:</span>
                                      <span class="col-6 no_pad">{{ item.hirerchy }}</span>
                                  </div>
                                  <div class="created-by col-6 float-left no_pad pad-left5">
                                    <span class="col-6 pad-10">Owner:</span>
                                      <span class="col-6 no_pad">{{ item.owner1 }}</span>
                                  </div>
                                  <div class="created-by col-6 float-left no_pad pad-left5">
                                    <span class="col-6 pad-10">Owner:</span>
                                      <span class="col-6 no_pad">{{ item.owner2 }}</span>
                                  </div>
                                  <div class="created-by col-6 float-left no_pad pad-left5">
                                    <span class="col-6 pad-10">SBU:</span>
                                      <span class="col-6 no_pad">{{ item.sbu }}</span>
                                  </div>
                                  <div class="created-by col-6 float-left no_pad pad-left5">
                                    <span class="col-6 pad-10">Type:</span>
                                      <span class="col-6 no_pad">{{ item.type }}</span>
                                  </div>
                                  <div class="created-by col-6 float-left no_pad pad-left5">
                                    <span class="col-6 pad-10">Vertical:</span>
                                      <span class="col-6 no_pad">{{ item.vertical }}</span>
                                  </div>
                                  <div class="created-by col-6 float-left no_pad pad-left5">
                                    <span class="col-6 pad-10">Geo:</span>
                                      <span class="col-6 no_pad">{{ item.geo }}</span>
                                  </div>
                              </div>

                              <div class="col-12 float-left pad-left10 moreActions">
                                  <button class="btn-none blue_circle_replay">
                                     <span class="nopad blue_circle_replay_img mdi mdi-chevron-up" aria-label="edit"></span>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
                </div> -->
                                    <!-- Cards ends here -->
                                    <div class="col-12 float-left no_pad" *ngIf="data1.json.length>0">
                                        <tree-diagram class="tree-content" [data]="data1"></tree-diagram>
                                    </div>

                                <!-- </div> -->



                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-small-spinner [isLoading]="isLoading"> </app-small-spinner>