$white: #ffffff;
$FadedWhite: #fafbfc;
$Grey: #9b9b9b;
$DarkGrey: #4a4a4a;
$BorderGrey: #979797;
$LightGrey: #b1b1b1;
$MidGrey: #343434;
$footer-border: #d5d2d2;
$Standardblue: #0e3570;
$LightBlue: #2f81ff;
$FadedBlue: #879fc2;
$OpacityBlue: #eef5ff;
$StandardGreen: #6dc24b;
$LightGreen: #c5e7b7;
$FontGreen: #24ac51;
$Black: #000000;
$StandardRed: #ef3341;
$StandardYellow: #ffda29;
$managerLoginBorder: rgba(0, 0, 0, 0.08);
$managerFormBorder: rgba(0, 0, 0, 0.15);
$loginLabel: #9b9b9b;
$loginBtn: #2f81ff;
$LighterGrey: #e5e5e5;
$nominationBlack: #353535;
$preproposebtn: rgba(234, 246, 238, 0.8);

$error_text: red;
$warmBlue: #306bd8;
$greyish: #a6a6a6;
$lightblue: #d9e9ff;

$statusBlue: #708cb6;
$dullWhite: #e7ebf2;
$labelGrey: #6f6f6f;
$valueGrey: #cfcfcf;
$darkBlue: #103f86;

$BlueSoftBG: #eaf2ff;
$DeepBlue: #2f81ff;
.bg-darkblue1 {
  position: absolute;
  height: 400px;
  background-color: #103f86;
  padding-top: 20px;
}
.blueWiproPic {
  // background-image: url("/assets/images/SVG and Logo/fill-wiproDots.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  height: inherit;
}
.dshBoard_main_content {
  padding-top: 50px;
  h1 {
    text-decoration: underline;
    font-family: "WiproAkkuratMono-Regular";
    font-size: 48px;
    color: #ffffff;
    padding: 0px 25px;
  }
}

.dashBoardLanding_main {
  .padd15 {
    padding: 15px;
  }
  .padd20 {
    padding: 20px 20px 0px 20px;
  }
  .headerDashboard {
    font-family: "WiproAkkuratTT-Regular";
    font-size: 35px;
    color: $white;
    margin: 0;
    width: 160px;
    border-bottom: 1px solid $white;
    padding-left: 5px;
  }
  .cardMainDiv {
    padding: 0px 5px;
  }
  .tableCards {
    //   height: 350px;
    border-radius: 8px 8px 4px 4px;
    box-shadow: 0 0 14px 0 rgba(128, 128, 128, 0.2);
    background-color: #ffffff;
    //   border-bottom: 4px solid #2f81ff;
  }
  .tablHeader {
    font-family: "WiproAkkuratTT-Bold";
    font-size: 20px;
    color: #ffffff;
  }
  .tablHead {
    font-size: 16px;
    margin: 0;
    font-family: WiproAkkuratTT-Bold;
    color: #4a4a4a;
  }
  .body-head {
    font-family: "WiproAkkuratTT-Bold";
    font-size: 20px;
    color: #2e2e2e;
    padding: 20px;
  }
  .mt20 {
    margin-top: 20px;
  }
  .chatBarIcon {
    color: $LightBlue;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: #d9e9ff;
  }
  .chatBarIcon.active {
    color: $white;
    background-color: $LightBlue;
  }
  .wonAccCount {
    font-family: "WiproAkkuratTT-Bold";
    color: $LightBlue;
    font-size: 34px;
    padding-right: 10px;
  }
  .totalAccText {
    font-family: "WiproAkkuratTT-Regular";
    font-size: 12px;
    color: $DarkGrey;
    padding-top: 8px;
  }
  .revSummaryTable th,
  .revSummaryTable td {
    padding: 10px 20px;
  }
  .revSummaryTable th {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .revSummaryTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .fontWtNormal {
    font-weight: normal;
  }
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: transparent !important;
  }
  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    width: 7px !important;
  }
  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover,
  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking {
    width: 7px !important;
  }
  .ps__rail-x:hover > .ps__thumb-x,
  .ps__rail-x:focus > .ps__thumb-x,
  .ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: transparent !important;
  }
  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
    background-color: transparent !important;
  }
  .bodyScrollTable th {
    white-space: nowrap;
  }
  .firstColumn {
    width: 24% !important;
    float: left;
  }
  .width10 {
    width: 10%;
    float: left;
  }
  .width15 {
    width: 15.33%;
    float: left;
  }
  .graphImage {
    width: 100%;
    height: 100%;
  }
  .tile_content {
    font-family: "WiproAkkuratTT-Bold" !important;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: #353535;
    margin-top: 22px;
    margin-left: 16px;
    margin-right: 37px;
  }
  .carousal {
    margin-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .car_arrow {
    background: transparent;
    border: none;
    opacity: 1;
    position: absolute;
    top: 4em;
    z-index: 9;
  }
  .leftArrow {
    left: 0;
  }
  .rightArrow {
    right: 0;
  }
  .tile {
    height: 160px;
    border-radius: 5px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1) !important;
    background-color: #ffffff;
  }

  .blur {
    height: 160px;
    width: 280px;
    position: absolute;
    background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
    right: 13px;
    border-radius: 5px;
    top: 10px;
  }

  .tile_sub {
    width: 150px;
    height: 19px;
    font-family: "WiproAkkuratTT-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.1px;
    margin-left: 16px;
    margin-top: 38px;
    color: #2f81ff;
  }
  .mdi-arrow-left-drop-circle:before {
    font-size: 40px;
    color: #2f81ff;
  }
  .mdi-arrow-right-drop-circle:before {
    font-size: 40px;
    color: #2f81ff;
  }
  .posRel {
    position: relative;
  }
}
.tasklist-table th {
  padding: 15px 25px;
  color: $Grey;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Regular";
  font-weight: normal;
}
.tasklist-table td {
  padding: 15px 25px;
  font-family: "WiproAkkuratTT-Regular";
  font-size: 14px;
  color: $Black;
}
.tasklist-table tbody tr {
  background: #f3f5f9;
  cursor: pointer;
  border-left: 4px solid #f3f5f9;
  border-radius: 0 !important;
}
.tasklist-table tbody tr:hover {
  background: $white;
  border-left: 4px solid $LightBlue;
}
.tasklist-table tbody tr:hover {
  td:first-child {
    color: #2f81ff;
    font-family: "WiproAkkuratTT-Bold";
  }
}
.all-action-btns {
  background: #d9e9ff;
  border: none;
  border-radius: 50%;
  color: $LightBlue;
  font-size: 20px;
}
.margin-left-right15 {
  margin: 0px 15px;
}
.padding-btm10 {
  padding-bottom: 10px;
}
.red-text {
  color: $StandardRed !important;
}
.green-text {
  color: #69c540 !important;
}
.disp_none {
  display: none;
}
.disp_block {
  display: block;
}

//////////////////////////////slim scroll css starts-------------------------->

.scroll-window {
  width: 100%;
  height: 250px;
  font-size: 13px;
  font-size: 15px;
  line-height: 30px;
}

.slimscroll-grid {
  display: none !important;
}

.slimscroll-bar {
  width: 7px !important;
  right: 0px !important;
  background: #bab6b6 !important;
  z-index: 1 !important;
}

.slimscroll-bar:hover {
  background: #bab6b6 !important;
}
//////////////////////////////slim scroll css ends-------------------------->

.text-align-right {
  text-align: right;
}
.caret-task {
  position: relative;
  bottom: 2px;
  left: 2px;
  font-size: 20px;
  color: #ffffff;
}
.pointer-event {
  pointer-events: fill !important;
}
.primary_white {
  padding: 6px 11px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  border: 1.5px solid #ffffff;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Bold";
}
.primary_white:hover{
  background: #fff;
  color: #2f81ff;
}
// graph table css starts
.graph_table {
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #000;
    top: -20px;
    padding-bottom: -21px;
    position: relative;
  }
  .text_rotate {
    transform: rotate(270deg);
    height: 200px;
    height: 165px;
    white-space: nowrap;
    padding: 0px;
    width: 62px;
    min-width: 0px;
    max-width: 51px;
    transform-origin: 90% 60%;

  }
  .border_cust
  {
    border-right: 1px solid #ccc;
  }

  td:nth-child(2)
  {
    border-right: 1px solid #ccc;
  }
 td:nth-child(4)
  {
    border-right: 1px solid #ccc;
  }
 td:nth-child(9)
  {
    border-right: 1px solid #ccc;
  }
 td:nth-child(10)
  {
    border-right: 1px solid #ccc;
  }
 td:nth-child(11)
  {
    border-right: 1px solid #ccc;
  }
 td:nth-child(12)
  {
    border-right: 1px solid #ccc;
  }

 td:nth-child(13)
  {
    border-right: 1px solid #ccc;
  }
 td:nth-child(14)
  {
    border-right: 1px solid #ccc;
  }
 td:nth-child(15)
  {
    border-right: 1px solid #ccc;
  }
 td:nth-child(16)
  {
    border-right: 1px solid #ccc;
  }
  tbody tr
  {
    border-bottom: 1px solid #ccc;
  }
  .blue_dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    color: #ffffff;
    background: #2f81ff;
  }
thead tr:nth-child(2)
{
  background: $OpacityBlue;
}
.graph_icon
{
  top: 3px;
  position: relative;
}
.blue_txt
{
  color: #2f81ff;
  font-family: "WiproAkkuratTT-Bold";
}
td,th
{
  padding: 10px 0px;
}
.black_label {
  color: #000000;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Regular";
  font-weight: normal;
  min-width: 100px;
}
.gray_label {
  color: #9b9b9b;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Regular";
  font-weight: normal;
  // position: relative !important;
  // top: 40px !important;
}
.vertical_pos
{
    position: relative;
  top: 40px;
}
// th
// {
//   // position: relative;
//   // top: 40px;
// }
th,
td {
  text-align: center;
}
td {
  color: #9b9b9b;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Regular";
  font-weight: normal;
}
.legend_text {
  padding: 15px 5px;
  color: #9b9b9b;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Regular";
  font-weight: normal;
  padding-right: 25px !important;
}
.bac {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  color: #ffffff;
}
.bac_table {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  color: #ffffff;
}
.legend_icon {
  position: relative;
  left: 5px;
}
.black_bac {
  background-color: #000000;
}
.green_bac {
  background-color: #6dc24b;
}
.blue_bac {
  background-color: #0e3570;
}
.orange_bac {
  background-color: #f58323;
}
.red_bac {
  background-color: #ef3341;
}
.gray_bac {
  background-color: #6f6f6f;
}
.mat-card-header-text {
  margin: 0px !important;
}
.mat-card-header {
  border-bottom: 1px solid #ccc !important;
}
.mat-card-title {
  margin-left: -16px !important;
  font-family: "WiproAkkuratTT-Bold" !important;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.2px;
  color: #353535;
}
.mat-card-actions {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 15px 5px;
}
tbody
{
  border-top: 1px solid #ccc;
}
}
// graph table css ends
.backWht_score{
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(157, 157, 157, 0.3);
    background-color: #ffffff;
    padding: 25px !important;
}
.standard-borderiframe{
     border: 1.5px solid #ccc;
     max-height: 700px;
    overflow: auto;
    height: 1000px;
}
