<div class="col-12 plr30 dshBoard_main_content dashBoardLanding_main">
  <div class="col-12 float-left padd20 web-buttonscorecard">
    <h2 class="float-left tablHeader">Score card details</h2>
    <!--<button class="primary_white float-right ml10" aria-label="Download"><span class="mdi mdi-download"></span>-->
        <button class="primary_white float-right ml10 mb10 web-buttonsview"><span class="mdi mdi-account-box-multiple pr5 pos_rel" (click)="viewRelationSuite()"><span class="no_pad btntxt-s"> View relationship suite</span></span>
    </button>
  </div>
  <div class="float-left padd15 mt20" [ngClass]="service.chatBot? 'col-12':'col-lg-12'">
    <div class="col-12 no_pad tableCards firstCardBrder float-left">
      <div class="col-12 no_pad float-left backWht_score">
        <!--<table class="float-left col-12 no_pad tasklist-table">
          <thead>
            <tr>
              <th class="col-4 float-left">Name of score card</th>
              <th class="col-3 float-left">Card No.</th>
              <th class="col-2 float-left">Date of creation</th>
              <th class="col-2 float-left">Date of modification</th>
              <th class="col-1 float-right text-align-right"></th>
            </tr>
          </thead>
          <div class="scroll-window" slimScroll>
            <tbody class="float-left col-12 no_pad">
              <tr class="float-left col-12 no_pad" *ngFor="let tasks of tasklistdetails;let i = index">
                <td class="col-4 float-left score_card">{{i+1}}. {{tasks.name}}</td>
                <td class="col-3 float-left">{{tasks.no}}</td>
                <td class="col-2 float-left">{{tasks.creation}}</td>
                <td class="col-2 float-left">{{tasks.modification}}</td>
                <td class="col-1 float-left">
                  <div class="float-right">
                    <button class="float-left mdi mdi-square-edit-outline all-action-btns" aria-label="edit"></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </div>
        </table>-->
        <h2 class="heading-level-two"> Score card </h2>
        <span class="divider col-12 no_pad float-left mt20"></span>
        
          <!--<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left no_pad create-mt20 pos-rel margin-top-20">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="CoversationT7"
              class="label-form"> Select analysis </label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="CoversationT7" role="listbox" class="pad-left10">
                <option value="Face to face conversation"> Hunting</option>
                <option value="Virtual conversation">New Delhi</option>
                <option value="Telephonic Conversation">Mumbai</option>
              </select>
            </div>
          </div>-->

          <iframe src="" class="col-12 float-left no_pad  mt20  standard-borderiframe " ></iframe>
      </div>
    </div>

    <!-- // graph table starts -->
    <!--<div class="col-12 no_pad tableCards firstCardBrder float-left mt20 graph_table">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Score card (Test RS 200616)</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table>
            <thead>
              <tr>
                <th colspan="2" class="black_label">Contacts</th>
                <th colspan="2" class="black_label">Political power radar</th>
                <th colspan="5" class="black_label">Relationship score</th>
                <th colspan="8" class="black_label">Buying rules</th>
              </tr>
              <tr>
                <th class="black_label" colspan="1">Name</th>
                <th class="black_label border_cust" colspan="1">Title</th>
                <th class="black_label" colspan="1">Total score</th>
                <th class="black_label border_cust" colspan="1">Power symbols</th>
                <th class="black_label border_cust" colspan="5"> </th>
                <th class="black_label" colspan="2">Authorizer</th>
                <th class="black_label" colspan="2">Influencer</th>
                <th class="black_label" colspan="2">Justifier</th>
                <th class="black_label" colspan="2">Operationalizer</th>
              </tr>
              <tr>
                <th></th>
                <th class="border_cust"></th>
                <th></th>
                <th class="border_cust"></th>
                <th class="text_rotate gray_label ">Unknown</th>
                <th class="text_rotate gray_label">Detractor</th>
                <th class="text_rotate gray_label">Neutral</th>
                <th class="text_rotate gray_label">Supporter</th>
                <th class="text_rotate gray_label border_cust">Perterner ally</th>
                <th class="text_rotate gray_label border_cust">Exceutive</th>
                <th class="text_rotate gray_label border_cust">Descion maker</th>
                <th class="text_rotate gray_label border_cust">Political influencer</th>
                <th class="text_rotate gray_label border_cust">Consultant</th>
                <th class="text_rotate gray_label border_cust">Financial buyer</th>
                <th class="text_rotate gray_label border_cust">Subject matter exp.</th>
                <th class="text_rotate gray_label border_cust">End user</th>
                <th class="text_rotate gray_label ">Internal enabler</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Contact 1</td>
                <td class="">CEO 1</td>
                <td class="blue_txt">40</td>
                <td class=""><span class="triangle-up"></span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class=""><span class="green_bac bac_table"><span class="graph_icon">P</span></span></td>
                <td class=""></td>
                <td class=""><span class="blue_dot"></span></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td></td>
              </tr>

              <tr>
                <td>Contact 2</td>
                <td class="">Vice president</td>
                <td class="blue_txt">32</td>
                <td class=""><span class="black_bac bac_table"><span class="graph_icon">Z</span></span></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <span class="blue_bac bac_table"><span class="graph_icon">S</span></span></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""><span class="blue_dot"></span></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td></td>
              </tr>

              <tr>
                <td>Contact 3</td>
                <td class="">Vice president</td>
                <td class="blue_txt">32</td>
                <td class=""></td>
                <td></td>
                <td></td>
                <td> <span class="orange_bac bac_table"><span class="graph_icon">N</span></span></td>
                <td> </td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""><span class="blue_dot"></span></td>
                <td class=""></td>
                <td class=""></td>
                <td></td>
              </tr>

              <tr>
                <td>Contact 4</td>
                <td class="">Vice president</td>
                <td class="blue_txt">32</td>
                <td class=""></td>
                <td ></td>
                <td><span class="red_bac bac_table"><span class="graph_icon">D</span></span></td>
                <td></td>
                <td> </td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""> <span class="blue_dot"></span></td>
                <td class=""></td>
                <td class=""></td>
                <td></td>
              </tr>

              <tr>
                <td>Contact 4</td>
                <td class="">Vice president</td>
                <td class="blue_txt">32</td>
                <td class=""></td>
                <td ><span class="gray_bac bac_table"><span class="graph_icon">6</span></span></td>
                <td></td>
                <td></td>
                <td></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""><span class="blue_dot"></span></td>
                <td></td>
              </tr>

            </tbody>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <div class=""><span class="green_bac bac"><span class="legend_icon">P</span></span>
            <span class="legend_text">Partner ally</span>
          </div>
          <div class=""><span class="blue_bac bac"><span class="legend_icon">S</span></span>
            <span class="legend_text">Supporter</span>
          </div>
          <div class=""><span class="orange_bac bac"><span class="legend_icon">N</span></span>
            <span class="legend_text">Neutral</span>
          </div>
          <div class=""><span class="red_bac bac"><span class="legend_icon">D</span></span>
            <span class="legend_text">Detractor</span>
          </div>
          <div class=""><span class="gray_bac bac"><span class="legend_icon">6</span></span>
            <span class="legend_text">Unknown</span>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>-->
    <!-- // graph table ends -->

  </div>
</div>