<div class="top-header" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
        <app-nav></app-nav>
        <div class="float-left col-12 header-action-tab conversation-landing">
                <button class="float-left mdi mdi-arrow-left btn-none color-white zindex no_pad" (click)="navTo()"></button>
            <h1 class="col-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 float-left heading-level-one mtop6">Sync activities</h1>
            <div class="float-right disp-flex mrg-top20 responsive-btn-div mr20">
            <div class="float-right dateRangeBtnView col-12 col-xl-12 disp-flex mrg-top10 web-action-button">
                             
                    <input class="float-left borderless rangePicText" #drp="bsDaterangepicker" title={{dateTitle}}
                    [bsConfig]="{ rangeInputFormat: 'DD MMM YYYY', showWeekNumbers:false }" readonly placeholder="MM/DD/YYYY" bsDaterangepicker
                    (ngModelChange)="onDateChange($event)" [(ngModel)]="bsRangeValue"  [maxDate]="maxDate">
                    <span class=" mdi mdi-calendar-clock dateRangeViewIcon">Date range:</span>
        </div>
            </div>
        </div>
    </div>
<!-- main div starts here -->
<ng-container *ngIf="isLoading">
        <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
              <div class="loaderContainer">
                <div class="loader"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    
<!-- <ng-template #elseTemplate> -->
    <div class="col-12 float-left no_pad conversation-landing complex_table">
        <div class="col-12 pos-abs bg-mid_night  pad-30" [ngClass]="service.tableRecordsChecked == true ? 'h-387':'h-344'"></div>
        <div class="col-12 pad-30 float-left mar-top-activity">
<div class="col-12 float-left padng-30 no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
        <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad mt15">
            <h2 class="col-12 float-left heading-level-two color-white no_pad padding-left0 padt-0">Unsynced activities ({{totalCount}})</h2>
            <div class="parent-container" *ngIf="syncActivityTable.length > 0">
               
              <app-sync-editable-table [TableName]="'syncactivity'"
              [TableCollection]="syncFilterTable"
              [totalTableCount]="totalCount"
              (detectActionValue)="performTableChildAction($event)" 
               [IsFreezedColumn]= true 
              [IsActionFixed]= true
              [IsCustomizeTable] = true
              [IscheckBoxRequired]= true
              [orderByName]="'index'"
              [serviceSearch]=true
              [orderType]="'Number'"
              [ConfigData]="configData"
              [paginationPageNumber]="paginationPageNo"
              >
            </app-sync-editable-table>

            </div>
        </div>
    </div>
  </div>
  </div>
  </div>

  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad" *ngIf="isMakeSync">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
<!-- </ng-template> -->
