<div class="tree-pane"
     
>
<!-- (mousedown)="onmousedown($event)"
     (mouseup)="onmouseup($event)"
     (mousemove)="onmousemove($event)"
     (mousewheel)="onmousewheel($event)" -->
    <div
            class="tree-paning-container"
            [style.transform]="paneTransform"
    >
        <div *ngIf="nodes"
             class="tree-roots-elements"

        >
        <!-- (mousedown)="preventMouse($event)" -->

            <div [treeDiagramNode]="node.guid"
                 class="tree-root tree-node"
                 *ngFor="let node of nodes.roots"
            ></div>
            <!-- <div [treeDiagramNode]="nodeMaker"
                 (click)="newNode()"
                 class="tree-root tree-new-node tree-node"
            ></div> -->
        </div>
    </div>

</div>