<div class="top-header" id="scrollableHeader" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <!-- <app-nav></app-nav> -->
  <div class="maintainance-header">
    <button class="app-name float-left">
      <h1>trace</h1>
    </button>
    <div class="float-right pos-rel">
      <button class="btn-none profile-image no_pad" aria-label="profile" 
        (click)="openLogout()" (clickOutside)="closeLogout()">
        <span class="login-img mdi mdi-account"></span>
      </button>
      <div class="Notify" *ngIf="openit">
        <div class="posA filterContent filterBody">
          <button class="btnngx" tabindex="0" (click)="DropMenu_hide()">
            <div class="circle"></div>
            <span class="Txt">Logout</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div>
  <!-- <app-nav></app-nav> -->
 
  <div class="col-12 float-left no_pad conversation-landing complex_table">
    <div class="col-12 pos-abs bg-mid_night  pad-30-100 h-200">
      <div class="maintainance-card float-left">
        <h1 class="col-12 float-left no_pad heading">Application Under Maintainance</h1>
        <div class=" plug1 float-left"></div>
        <div class=" plug2 float-right"></div>
        <h4 class="col-12 float-left no_pad sub-heading">We'll be up soon. Please check back in a while.</h4>
      </div>
    </div>
  </div>
</div>
