
<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab business-partner opportunityPage new-container">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 float-left no_pad">
  
          <button class="mdi mdi-keyboard-backspace cursor-pointer float-left back-buttonbg" (click)="goBack()" role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
          <h1 class="heading-level-one heading-custom">Add alliance</h1>
          <span class="brudcrumbs">Sales > Opportunities > {{oppName}}</span>
        </div>

        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left no_pad">
            <div class="float-right disp-flex save-cancel-responsive">
              <button class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50"
                (click)="goBack()">Cancel</button>
              <button class="primary-button borderless h-40 std save-responsive-btn button-wd50" (click)="saveAllianceData()"
               >Save</button>
            </div>
          </div>

      </div>
    </div>
  </div>
  
  <div clas="col-12 float-left no_pad business-partner matPanel_padding add-alliance">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-200 new-container">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad opportunity-landing-container add-alliance">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pd-20 pad-30 top-24">
          <div class="col-12 no_pad float-left scroll-tabs">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pt100 newage-partner">
  
          <mat-expansion-panel hideToggle="true" [expanded]="panelOpenState2" class="no_pad"
            (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
            <mat-expansion-panel-header class="min_height60">
              <div class="min_height60 col-12 no_pad">
                <div class="accord-heading col-12">
                  <span
                    [ngClass]="panelOpenState2 ? 'mdi mdi-chevron-down chevron-right float-left':'mdi mdi-chevron-right chevron-right float-left'"></span>
                  <div class="float-left no_pad"> <span class="accordian-title cardsHead col-6 no_pad">
  
                      Solution</span></div>
                  <div class="col-6 float-right no_pad bot10">
                    <button (click)="addAlliance();panelOpenState2 = false"
                      class="primary-button h-40 std save-responsive-btn float-right pad_10">+ Add alliance</button>
                  </div>
                </div>
              </div>
            </mat-expansion-panel-header>
  
            <div class="col-12 no_pad float-left btop_withoutpadding">
              <!-- Table starts here -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad overflowscroll">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Type*</th>
                      <th class="pd5">Name*</th>
                      <th class="pd5">Owner</th>
                      <th class="pd5">%</th>
                      <th class="pd5">% of TCV*</th>
                      <th class="pd5">Value*</th>
                      <th class="pd5">Solution BDM</th>
                      <th class="pd5">Influence type</th>
                      <th class="pd5">Service type</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let solData of business_data;let j =index">
                    <tr>

                      <td>
                        <!-- Select DROPDOWN STARTS -->
                        <div class="customized-select">
                          <span class="caret disableCaret"></span>
                          <select id="select1" role="listbox" class="w100 disabledselect" disabled>
                            <option value="alliance">Alliance</option>
                          </select>
                        </div>
                        <!-- Select DROPDOWN STARTS -->
                      </td>
                      <td>
                        <!-- name autocomplete starts here-->
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left cust_autoComplete pos-rel no_pad">
                          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                          <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
                                      for="accountName" class="label-form">                                    
                                  </label>
                            <input  appKeyListControl #addAllianceAccountList (arrowDown)="arrowkeyLocation=$event"
                            (keyup.enter)="addAllianceAccountList.value=solData.nameDD[arrowkeyLocation].Name;solData.solNameSwitch=false;appendallianceName(solData.nameDD[arrowkeyLocation],j,0,true)"
                            [attr.data-arrayMaxLength]="solData.nameDD?.length" [attr.data-isDownBtn]=true                                      
                            (input)="solData.solNameSwitch=true" role="combobox" aria-autocomplete="list"
                            [attr.aria-expanded]="solData.solNameSwitch?true:false" aria-owns="read"
                            [attr.aria-activedescendant]="arrowkeyLocation"
                             id="accountName" name="accountName"
                            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" [ngClass]="{'orangeborder':solData.solutions.nameCheck}"
                              name="solData.solutionNmName" autocomplete="off" type="text" [title]="solData.solutions.WiproAccountname" [(ngModel)]="solData.solutions.WiproAccountname" (click)="getnameArrayData(j,solData.solutions.WiproAccountname)"
                             (ngModelChange)="getnameArrayData(j,solData.solutions.WiproAccountname)" placeholder="Search name" (click)="solData.solNameSwitch = true" (clickOutside)="solData.solNameSwitch = false">
                              
                            <span class="mdi mdi-magnify"></span>

                             <div (blur)="allainceNameclose(solData.solutions,j,$event)"
                              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                              *ngIf="solData.solNameSwitch">
                              <ul *ngIf="isSearchLoaderForAccount" class=" list-group color-azure  sort-dropdown mr2">
                                    <li  class="liststyle_none loader-search"></li>
                              </ul>
                               <ul *ngIf="!isSearchLoaderForAccount" class=" list-group sort-dropdown">
                              <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                                  
                                  <li  class="list-group-item new-change-list no_pad " 
                                     id="{{i}}" tabindex="0" role="option" [class.active]="i==arrowkeyLocation"  aria-disabled="false"                                  
                                    (keypress)="appendallianceName(item, j)"
                                    (click)="appendallianceName(item, j)"
                                    *ngFor="let item of solData.nameDD |filter:solData.solutions.WiproAccountname;let i=index">
                                    <label for="inti_name" class="float-left name">
                                       <span class="d-block list-name cp">{{item.Name}}</span>
                                    </label>
                                  </li>
                                  <li class="d-block list-name list-name-norecord no_pad"
                                    *ngIf="(solData.nameDD |filter:solData.solutions.WiproAccountname).length == 0">
                                    No record found </li>
                               
                              </perfect-scrollbar>
                              <span class="db-search"  (click)="openadvancetabs(j)">
                                <button id="advanceSearch" role="option" tabindex="0"
                                aria-disabled="false" type="button" class="button-search" >
                                  <span class="mdi mdi-file-outline"></span> Advance look up
                                </button>
                              </span>
                               </ul>
                            </div>
                              <p *ngIf="solData.solutions.nameCheck" class="col-12 no_pad validation-text top-100">Account name is required.</p>
                          </form>
                           
                        </div>
                        <!--name autocomplete ends here-->
                      </td>
                      <td>
                      <!-- owner autocomplete starts here-->
                      <div
                        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left customized-input cust_autoComplete pos-rel no_pad">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">

                            <input appKeyListControl #addAllianceOwnerList (arrowDown)="arrowkeyLocation=$event"
                            (keyup.enter)="addAllianceOwnerList.value=solData.ownerDD[arrowkeyLocation].Name;solData.solOwnerSwitch=false;appendOwnername(solData.ownerDD[arrowkeyLocation],j,0,true)"
                            [attr.data-arrayMaxLength]="solData.ownerDD?.length" [attr.data-isDownBtn]=true                                      
                            (input)="solData.solOwnerSwitch=true" role="combobox" aria-autocomplete="list"
                            [attr.aria-expanded]="solData.solOwnerSwitch?true:false" aria-owns="read"
                            [attr.aria-activedescendant]="arrowkeyLocation"
                             id="accountOwnerName" name="accountOwnerName"                            
                            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" [name]="solData.solutionOwnerName" autocomplete="off" type="text" 
                            [ngClass]="{'width125' : service.Summary_window ,'orangeborder': solData.solutions.ownerCheck && solData.solutions.WiproAccountname}" [title]="solData.solutions.OwnerIdValueName" [(ngModel)]="solData.solutions.OwnerIdValueName" (ngModelChange)="getOwnerArray(solData.solutions,j,solData.solutions.OwnerIdValueName)"
                            placeholder="Search Owner" (click)="solData.solOwnerSwitch = true;getOwnerArray(solData.solutions,j,solData.solutions.OwnerIdValueName); service.Summary_window = false;"
                            [disabled]="!solData.solutions.WiproAccountname || isSingleOwner" (clickOutside)="solData.solOwnerSwitch = false">
                          <span class="mdi mdi-magnify"></span>
                          <p class="error-message validation-text top-40" title="Owner is required" *ngIf="solData.solutions.ownerCheck && solData.solutions.WiproAccountname">Owner is required</p>
                        </div>
                          <div  (blur)="solOwnerNameclose(solData.solutions,j,$event)"
                            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                            *ngIf="solData.solOwnerSwitch">
                            <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                              <ul *ngIf="isSearchLoaderForOwner" class=" list-group color-azure  sort-dropdown mr2">
                                    <li  class="liststyle_none loader-search"></li>
                              </ul>
                              <ul *ngIf="!isSearchLoaderForOwner" tabindex="0" class=" list-group sort-dropdown">
                                <li class="list-group-item new-change-list no_pad cp"
                                  id="{{i}}" tabindex="0" role="option" [class.active]="i==arrowkeyLocation"  aria-disabled="false"  
                                  (keypress)="appendOwnername(item,j)"
                                  (click)="appendOwnername(item,j)"
                                  *ngFor="let item of solData.ownerDD;let i=index">
                                  <label for="inti_name" class="float-left name cp">
                                <span class="d-block list-name">{{item.Name}}</span>
                                    <!-- <span class="d-block sub-list">{{item.Name}}</span> -->
                                      </label>
                                </li>
                                <li class="d-block list-name list-name-norecord no_pad"
                                  *ngIf="(solData.ownerDD).length == 0">
                                  No record found </li>
                              </ul>
                            </perfect-scrollbar>
                           <span class="db-search" (click)="openadvancetabsSearch(solData.solutions,j)">
                              <button id="advanceSolutionNameSearch{{j}}" role="option" tabindex="0"
                              aria-disabled="false" type="button" class="button-search" >
                                <span class="mdi mdi-file-outline"></span> Advance look up
                              </button>
                            </span>
                        </div>
                      </div>
                      <!--owner autocomplete ends here-->
  
                    </td>
                        <!-- owner autocomplete starts here-->
                        <!--<div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left cust_autoComplete pos-rel no_pad">
                          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                          
                              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" 
                            [name]="solData.solutionOwnerName" autocomplete="off" type="text" [(ngModel)]="solData.solutions.OwnerIdValueName"
                            placeholder="Search owner" disabled>
                            
                           
                          </form>-->
                        <!--</div>-->
                        <!--owner autocomplete ends here-->
                        
                      <!--</td>-->
                      <td class="customized-checkbox">
                        <mat-checkbox aria-label="select" [name]="solData.solutionPerName" [(ngModel)]="solData.solutions.WiproPercentage">
                        </mat-checkbox>
                      </td>
  
                      <td>
                        <div class="customized-input">
                          <label for="tcv" class=""> </label>
                          <input type="text" class="border-gray w-100"    [ngClass]="{'orangeborder':solData.solutions.tcvPerCheck}" [name]="solData.solutionTCVName" [(ngModel)]="solData.solutions.WiproPercentageOfTCV" placeholder="00.00" (keyup)="checkTCVPerc(solData.solutions,j)" onpaste="return false;"  ondrop="return false;" (blur)="checkTCVPercBlur(solData.solutions,j)" [disabled]='solData.solutions.WiproPercentage == false'>
                          
                        </div>
                         <p *ngIf="solData.solutions.tcvPerCheck" class="col-12 no_pad validation-text">Enter the value.</p>
                      </td>
                      <td>
                        <div class="customized-input">
                          <label for="val" class=""> </label>
                           <input id="solval" type="text" class="border-gray w-100"  [ngClass]="{'orangeborder':solData.solutions.tcvValueCheck}" [name]="solData.solutionValueName" [(ngModel)]="solData.solutions.WiproValue" (keyup)="checkSolValue(solData.solutions,j)" onpaste="return false;"  ondrop="return false;" (blur)="checkSolValueBlur(solData.solutions,j)" placeholder="00.00" [disabled]='solData.solutions.WiproPercentage == true'>
                         
                        </div>
                         <p *ngIf="solData.solutions.tcvValueCheck" class="col-12 no_pad validation-text">Enter the value.</p>
                      </td>
                      <td>
                        <!-- solbdm autocomplete starts here-->
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left cust_autoComplete pos-rel no_pad">
                          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                          
                            <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" placeholder="Search"
                              name="solbdmName" autocomplete="off" type="text" disabled>
                            <span class="mdi mdi-magnify"></span>
                            
                          </form>
                        </div>
                        <!--solbdm autocomplete ends here-->
                      </td>
                      <td>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob web-select-box h100">
                          <mat-form-field class="col-12 no_pad float-left">
                            <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus mat-select " role="listbox"
                            [ngClass]="{'orangeborder':solData.solutions.influenceCheck}" [name]="solData.solutionInfName" [(ngModel)]="solData.solutions.WiproInfluenceType" 
                            (ngModelChange)="changeState('influence',j)">
                              <mat-option value="" selected hidden disabled>Select</mat-option>
                              <mat-option *ngFor="let Inf of InfluenceTypeDD" [hidden]="!Inf.IsVisible" [value]="Inf.Id">{{Inf.Name}}</mat-option>
                            </mat-select>
                            <p class="col-12 no_pad validation-text top-43" title="Influence type is required" *ngIf="solData.solutions.influenceCheck">Influence type is required</p>
                          
                          </mat-form-field>
                        </div>
                          <!-- Select DROPDOWN STARTS -->
                          <!--<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left  no_pad mobile-select-box">
                          <div class="customized-select"> 
                            <span class="caret color-azure"></span>
                           <select id="select1" role="listbox" class="w100 cp" [ngClass]="{'orangeborder':solData.solutions.influenceCheck}" [name]="solData.solutionInfName" [(ngModel)]="solData.solutions.WiproInfluenceType" (ngModelChange)="changeState('influence',j)"> 
                              <option disabled value="">Select</option>
                              <option *ngFor="let Inf of InfluenceTypeDD" [value]="Inf.Id">{{Inf.Name}}</option>
                            </select>
                            <p class="error-message validation-text top-40" title="Influence type is required" *ngIf="solData.solutions.influenceCheck">Influence type is required</p>
                          </div>
                        </div>-->
                          <!-- Select DROPDOWN STARTS -->
                        </td>
                        <td>

                          <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob web-select-box h100">
                            <mat-form-field class="col-12 no_pad float-left">
                              <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus mat-select " role="listbox"
                              [ngClass]="{'cp':solData.solutions.WiproInfluenceType == 184450001 || !solData.solutions.WiproInfluenceType,'orangeborder' : solData.solutions.serviceTypeCheck && solData.solutions.WiproInfluenceType == 184450000}"
                              [name]="solData.solutionSTName" [(ngModel)]="solData.solutions.WiproInfluenceType == 184450001?'':solData.solutions.WiproServiceType" 
                              (ngModelChange)="changeState('service',j)" [disabled]='!solData.solutions.WiproInfluenceType || solData.solutions.WiproInfluenceType == 184450001'>
                                <mat-option value="" selected hidden disabled>Select</mat-option>
                                <mat-option *ngFor="let ST of serviceTypeDD" [value]="ST.Id">{{ST.Name}}</mat-option>
                              </mat-select>
                              <p class="error-message validation-text" title="Service type is required" *ngIf="solData.solutions.serviceTypeCheck && solData.solutions.WiproInfluenceType == 184450000">Service type is required</p>
                            
                            </mat-form-field>
                          </div>
                          <!--<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left  no_pad mobile-select-box">
                            <div class="customized-select" [ngClass]="solData.solutions.WiproInfluenceType == 184450001?'disabled-control':''">
                              <span class="caret color-azure"></span>
                              <select id="select1" role="listbox" class="w100"  [ngClass]="{'cp':solData.solutions.WiproInfluenceType == 184450001,'orangeborder' : solData.solutions.serviceTypeCheck && solData.solutions.WiproInfluenceType == 184450000}"
                               [name]="solData.solutionSTName" [(ngModel)]="solData.solutions.WiproInfluenceType == 184450001?'':solData.solutions.WiproServiceType" (ngModelChange)="changeState('service',j)" [disabled]='solData.solutions.WiproInfluenceType == 184450001'>
                                <option disabled value="">Select</option>
                                <option *ngFor="let ST of serviceTypeDD" [value]="ST.Id">{{ST.Name}}</option>
                              </select>
                               <p class="error-message top-40" title="Service type is required" *ngIf="solData.solutions.serviceTypeCheck && solData.solutions.WiproInfluenceType == 184450000">Service type is required</p>
                            </div>
                            </div>-->
                          </td>
                      <td class="no_pad display_flex">
                          <!--<button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="view"
                          matTooltip="view">
                          <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-eye"></span>
                        </button>-->
                        <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="Delete"
                          matTooltip="Delete" (click)="deleteAlliance(j)">
                          <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-delete"></span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="float-right">
                        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form mb0 pad-9">Deal registered*
                          <span class="mdi mdi-information-outline info-icon" *ngIf="solData.solutions.DealRegistration.IsDealRegistered" (click)="editData(solData.solutions,j)" tabindex="0" aria-labelledby="atool atoola"></span></label>
                      </td>
                      <td>
                        <!-- Select DROPDOWN STARTS -->
                          <div class="customized-select mobile-select-box">
                            <span class="caret color-azure"></span>
                            <select role="listbox" [(ngModel)]="solData.solutions.DealRegistration.IsDealRegistered" (selectionChange)="changeDealRegistered(solData.solutions,j,$event)" name="isDealRegistered" [title]="solData.solutions.DealRegistration.IsDealRegistered">
                              <option selected hidden disabled value="">Select</option>
                              <option value="true"> Yes </option>
                              <option value="false"> No</option>
                             
                            </select>
                          </div>
                          <!-- updated mat select starts here -->
                          <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left h100 no_pad web-select-box">
                            <mat-form-field class="col-12 no_pad float-left">
                              <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus mat-select" [ngClass]="{'orangeborder':solData.solutions.dealRegisterCheck}"
                                role="listbox" [(ngModel)]="solData.solutions.DealRegistration.IsDealRegistered" (selectionChange)="changeDealRegistered(solData.solutions,j,$event)" name="isDealRegistered" [title]="solData.solutions.DealRegistration.IsDealRegistered">
                                <mat-option selected hidden disabled value="" >Select</mat-option>
                                <mat-option value="true"> Yes </mat-option>
                                <mat-option value="false"> No </mat-option>
                              </mat-select>
                               <p class="error-message top-40" *ngIf="solData.solutions.dealRegisterCheck" title="DealRegistration is required">DealRegistration is required</p>
                            </mat-form-field> 
                          </div>
                        <!-- updated mat select ends here -->
                        <!-- Select DROPDOWN STARTS -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Table ends here -->
            </div>
          </mat-expansion-panel>
  
        </div>
        </div>
      </div>
    </div>
  </div>
  