$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #0e3570;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
.child-leads-landing {
  .h-300 {
    height: 300px;
  }
  .tag {
    color: #e7ebf2;
    padding-left: 35px;
    opacity: 0.8;
  }
  .web-action-button {
    button {
      white-space: nowrap;
      padding: 8px 19px;
    }
    .mdi {
      font-size: 15px;
      padding-right: 5px;
    }
    .mdi-crop-square:before {
      content: "\F1A2";
      transform: rotate(45deg);
    }
  }
  .borderless {
    border: none !important;
  }
  .h-40 {
    min-height: 40px;
  }
  .mr10 {
    margin-right: 10px;
  }
  .h-40.exact {
    height: 40px;
  }
  // tabs starts
  .vertical-btns-div {
    margin: 15px 0px 0px 0px;
    button {
      min-height: 40px;
    }
    .mdi:before {
      padding-right: 6px;
    }
  }
  .btn-tabs-active {
    background-color: $MidNight;
    text-align: center;
    color: $Azure;
    border-radius: 5px;
    font-family: WiproAkkuratTT-Bold;
    padding: 25px 20px;
  }
  .sub-vertical-but.active {
    background: #fff;
    color: $Azure;
    outline: none;
    .btntxt-s {
      color: $Azure;
    }
  }
  .sub-vertical-but:active {
    background: #fff;
    color: $Azure;
    outline: none;
  }
  .sub-vertical-but {
    font-family: WiproAkkuratTT-Bold;
    background: transparent;
    border: none;
    font-size: 0.85em;
    color: #fff;
    font-weight: bold;
    border: 1.5px solid #fff;
    outline: none;
    width: 100%;
    padding: 5px;
  }
  .brd-right0 {
    border-right: 0px !important;
    border-radius: 5px 0px 0px 5px;
  }
  .brd-right {
    border-radius: 5px 0px 0px 5px;
  }
  .brd_r0 {
    border-right: 0px !important;
  }
  .brd-left0 {
    border-left: 0px !important;
    border-radius: 0px 5px 5px 0px;
  }

  // tabs ends
  .heading-level-two {
    color: $White !important;
  }
  .primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
  }
  .primary-button:hover
  {
    background:#2f81ff;
    color:#ffffff;
  }
  .tab_icon
  {
     position: relative;
     bottom: 2px;
  }
  .mdi-pencil:before {
    padding-right: 5px;
  }
}
.mdi-pencil:before {
  content: "\F3EB";
  padding-right: 5px;
}
.padd-all {
  padding: 30px;
}
.back {
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: -0.2px;
  color: $White;
  z-index: 9;
}
.archive-tag {
  height: 29px;
  border-radius: 15px;
  background-color: #d9e9ff;
  color: $Azure;
  padding: 5px 15px;
  margin-left: 10px;
}
.cust-dropdown-btn .min-width-161 {
  min-width: 199px !important;
}
.tagged-box {
  height: 40px;
  border-radius: 4px;
  color: $Azure;
 
  background-color: #d9e9ff;
  width: auto;

  .mdi-close:before {
    font-size: 20px;
    cursor: pointer;
    color: $Azure;
    bottom: -4px;
    right: 4px;
    position: relative;
  }
}
.mdi-magnify:before {
  content: "\F349";
  color: #2f81ff;
  font-size: 20px;
  right: 10px;
  position: absolute;
  bottom: 5px;
}
.assign-brdr {
  top: 38px;
  border: 2px solid #2f81ff;
  border-right: 2px solid #2f81ff !important;
}
.p-4-10 {
    padding: 4px 10px 4px 10px;
}
.initial-assign{
background: #2f81ff;
color:white;
padding: 10px;
height: 40px;
width: 40px;
border-radius:4px 0 0 4px;
}
.text-assign{
    padding: 10px;
    width: auto;
}
.new-disqualify{
  background-image: url(assets/images/group-30-copy.svg);
width: 22px;
height: 17px;
float: left;
background-repeat: no-repeat;
}
.svgHover:hover{
  .new-disqualify{
background-image: url(assets/images/group1.svg) ;
width: 22px;
height: 17px;
float: left;
background-repeat: no-repeat;
  }
}
// .tabs_mdi
// {
// .mdi{
//   position: relative;
//   top: 3px;
// }
// }

.disabledclass{
  pointer-events: none;
  opacity: 0.9;
  color: #9b9b9b!important;
  background-color: #f9f9f9 !important;
}