<!--  <ng-container *ngIf="isLoading">
    <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                <div class="loaderContainer">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container> -->

<!-- <div class="top-header" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab ">
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left existing-tab-container no_pad">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  no_pad">
        <div class="col-5 col-sm-5 col-md-5 col-lg-6 col-xl-6 float-left no_pad">
          <span class="float-left mdi mdi-keyboard-backspace cp" (click)="service.goBack()" tabindex="0" role="button"></span>
          <div class="col-11 float-left">
            <h1 class="col-12 no_pad float-left heading-level-one " *ngIf="folder">Attached documents(0{{tableData.length}})</h1>
            <h1 class="col-12 no_pad float-left heading-level-one " *ngIf="!folder">{{heading}}</h1>
            <span class="col-12 no_pad float-left brudcrumbs">Deals > Existing deals > Deal name > Attached documents</span>
          </div>

        </div>
      </div>
    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-right no_pad">
      <div class="float-right disp-flex web-buttons" style="padding-top: 3px;">

        <button (click)="newFolder = true" class="primary-button border-0 h-40 std mdi mdi-folder-plus mr10">Create folder
        </button>
        <!- standard-border h-40 ellipses bg-transperent color-white float-right mdi mdi-paperclip font-bold btn-pad -->
<!-- <button routerLink="/deals/attachedDocs" class="primary-button border-0 h-40 std mdi mdi-paperclip">Attached documents
        </button>


      </div>

    </div>

  </div>
</div>

<div class="col-12 pos-abs bg-mid_night mar-top-65" style="height: 180px;"></div>
<div style="padding-top: 180px;" class="pad-30 pos-rel" *ngIf="tableData.length>0"> -->

<!-- <table class="customized-checkbox">
    <thead>
      <tr>
        <th class="pl10 thead-th">
          <mat-checkbox class="float-left pr10"></mat-checkbox>
          <div>
            <span>Type </span>
            <span class="caretb"></span>
          </div>
        </th>
        <th>
          <div>
            <span> Name </span>
            <span class="caretb"></span>
          </div>
        </th>
        <th>
          <div>
            <span> Modified</span>
            <span class="caretb"></span>
          </div>
        </th>
        <th>
          <div>
            <span>Modified by</span>
            <span class="caretb"></span>
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="folder">
      <tr *ngIf="newFolder">
        <td class="pl10 ">
          <mat-checkbox></mat-checkbox>
          <span class="pl10 mdi mdi-folder typeicon"></span>
        </td>
        <td class="customized-input">
          <input class="border-gray" [(ngModel)]="foldername" name="foldername" />
        </td>
        <td>-</td>
        <td>-</td>
        <td class="pr15">
          <div class="float-right d-flex">

            <button id="create" class="btn-none blue_circle_replay  ng-tns-c8-2 ng-star-inserted pad_left_0 cp" aria-label="create" matTooltip="create"
              (click)="createRow()">
              <span class="blue_circle_replay_img mdi mdi-check"></span>
            </button>

            <button id="Cancel" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" role="button" aria-label="Cancel" tabindex="0"
              (click)="newFolder = false" matTooltip="Cancel">
              <span class="mdi mdi-close blue_circle_replay_img"></span>
            </button>

          </div>
        </td>
      </tr>
      <tr *ngFor="let data of tableData;let i=index;">
        <td class="pl10 ">
          <mat-checkbox></mat-checkbox>
          <span class="pl10 mdi {{data.type}} typeicon"></span>
        </td>
        <td class="color-azure font-bold cp">
          <span *ngIf="!data.rename" class="ellipses w-100 cp" (click)="folder = !folder; openFolder(data.Name)">{{data.Name}}</span>
          <span class="customized-input" *ngIf="data.rename">
            <input class="border-gray" [(ngModel)]="data.Name" name="{{data.Name}}" />
          </span>
        </td>
        <td *ngIf="!data.rename">{{data.Modified | date: 'dd MMM yyyy'}}</td>
        <td *ngIf="data.rename">{{data.Modified | date: 'dd MMM yyyy'}}</td>
        <td *ngIf="!data.rename">{{data.Modifiedby}}</td>
        <td *ngIf="data.rename">{{data.Modifiedby}}</td>
        <td class="pr15">
          <div class="float-right d-flex">
            <div class="float-right d-flex" *ngIf="data.rename">

              <button id="create" class="btn-none blue_circle_replay  ng-tns-c8-2 ng-star-inserted pad_left_0 cp" aria-label="create" matTooltip="create"
                (click)="renameRow(data);data.rename=false">
                <span class="blue_circle_replay_img mdi mdi-check"></span>
              </button>

              <button id="Cancel" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" role="button" aria-label="Cancel" tabindex="0"
              (click)="data.rename = false"
                matTooltip="Cancel">
                <span class="mdi mdi-close blue_circle_replay_img"></span>
              </button>

            </div>
            <button id="download" *ngIf="data.downloadBtnVisibility" class="btn-none blue_circle_replay  ng-tns-c8-2 ng-star-inserted pad_left_0 cp"
              aria-label="download" matTooltip="Download">
              <span class="blue_circle_replay_img mdi mdi-download"></span>
            </button>
            <div class="pos-rel" (clickOutside)="data.movePopover = false">
              <button id="move" *ngIf="data.moveBtnVisibility" (click)="data.movePopover = !data.movePopover" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn"
                role="button" aria-label="Move" tabindex="0" matTooltip="Move">
                <span class="mdi mdi-arrow-right-box blue_circle_replay_img"></span>
              </button>
              <div class="pos-abs pop-over arrow-up" *ngIf="data.movePopover">

                <div class="col-12 float-left head-part customized-input ip-check">
                  <span role="button" class="mdi mdi-keyboard-backspace float-left cp"></span>
                  <div class="d-flex" *ngIf="folder">
                    <input type="text" class="border-azure w-100 font-bold" value="Name of folder" />
                    <span role="button" class="cp mdi mdi-check"></span>
                  </div>
                  <h3 class="heading-level-three float-left ellipses" *ngIf="!folder">Move documents</h3>
                  <span role="button" class="mdi mdi-close float-right cp" (click)="data.movePopover = false" *ngIf="!folder"></span>
                </div>
                <div class="col-12 float-left no_pad">
                  <ul>
                    <li class="" *ngFor="let data of tableData;let j=index">
                      <button class="w-100 font-bold mdi mdi-folder">Folder {{j}}
                        <span class="float-right">></span>
                      </button>
                    </li>
                  </ul>
                  <div class="col-12 float-left bottom-actions-bar">
                    <button [disabled]="folder" class="standard-border h-40 ellipses bg-transperent color-white float-left btn-outlines font-bold">Move here
                    </button>
                    <button [disabled]="folder" class="mdi mdi-folder-plus btn-icon float-right btn-none" (click)="folder = !folder"></button>
                  </div>
                </div>
              </div>
            </div>

            <button id="edit" *ngIf="data.editBtnVisibility && !data.rename" (click)="data.rename = true" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn"
              role="button" aria-label="Edit" tabindex="0" matTooltip="Rename">
              <span class="mdi mdi-pencil blue_circle_replay_img"></span>
            </button>
            <button id="delete" *ngIf="data.deleteBtnVisibility && !data.rename" class="btn-none blue_circle_replay  ng-tns-c8-2 ng-star-inserted pad_left_0 cp"
              aria-label="delete" (click)="openDelete(data)" matTooltip="Delete">
              <span class="blue_circle_replay_img mdi mdi-delete"></span>
            </button>

          </div>
        </td>
      </tr>
    </tbody> -->
<!--  -->
<!-- <tbody *ngFor="let data of tableData;let i=index;" [hidden]="folder">
      
      <tr *ngFor="let data1 of data.childFolder;let j=index;">
        <td class="pl10 ">
          <mat-checkbox></mat-checkbox>
          <span class="pl10 mdi {{data1.type}} typeicon"></span>
        </td>
        <td class="color-azure font-bold cp">
          <span *ngIf="!data1.rename" class="ellipses w-100">{{data1.Name}}</span>
          <span class="customized-input" *ngIf="data1.rename"> -->
<!-- <input class="border-gray" [(ngModel)]="data1.Name"
              name="{{data1.Name}}" /> -->
<!-- </span>
        </td>
        <td *ngIf="!data1.rename">{{data1.Modified | date: 'dd MMM yyyy'}}</td> -->
<!-- <td *ngIf="data1.rename">-</td> -->
<!-- <td *ngIf="!data1.rename">{{data1.Modifiedby}}</td> -->
<!-- <td *ngIf="data1.rename">-</td> -->
<!-- <td class="pr15">
          <div class="float-right d-flex">
            <div class="float-right d-flex" *ngIf="data1.rename">

              <button id="create" class="btn-none blue_circle_replay  ng-tns-c8-2 ng-star-inserted pad_left_0 cp" aria-label="create" matTooltip="create"
                (click)="renameRow(data);data1.rename=false">
                <span class="blue_circle_replay_img mdi mdi-check"></span>
              </button>

              <button id="Cancel" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" role="button" aria-label="Cancel" tabindex="0"
                matTooltip="Cancel" (click)="data1.rename=false" >
                <span class="mdi mdi-close blue_circle_replay_img"></span>
              </button>

            </div>
            <button id="download" *ngIf="data1.downloadBtnVisibility" class="btn-none blue_circle_replay  ng-tns-c8-2 ng-star-inserted pad_left_0 cp"
              aria-label="download" matTooltip="Download">
              <span class="blue_circle_replay_img mdi mdi-download"></span>
            </button>
            <div class="pos-rel" (clickOutside)="data1.movePopover = false">
              <button id="move" *ngIf="data1.moveBtnVisibility" (click)="data1.movePopover = !data1.movePopover" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn"
                role="button" aria-label="Move" tabindex="0" matTooltip="Move">
                <span class="mdi mdi-arrow-right-box blue_circle_replay_img"></span>
              </button> -->
<!-- <div class="pos-abs pop-over arrow-up" *ngIf="data1.movePopover">

                <div class="col-12 float-left head-part customized-input ip-check">
                  <span role="button" class="mdi mdi-keyboard-backspace float-left cp"></span>
                  <div class="d-flex" *ngIf="folder">
                    <input type="text" class="border-azure w-100 font-bold" value="Name of folder" />
                    <span role="button" class="cp mdi mdi-check"></span>
                  </div>
                  <h3 class="heading-level-three float-left ellipses" *ngIf="!folder">Move documents</h3>
                  <span role="button" class="mdi mdi-close float-right cp" (click)="data1.movePopover = false"
                    *ngIf="!folder"></span>
                </div>
                <div class="col-12 float-left no_pad">
                  <ul>
                    <li class="" *ngFor="let data1 of data.childFolder;let j=index">
                      <button class="w-100 font-bold mdi mdi-folder">Folder {{j}} <span class="float-right">></span>
                      </button></li>
                  </ul>
                  <div class="col-12 float-left bottom-actions-bar">
                    <button [disabled]="folder"
                      class="standard-border h-40 ellipses bg-transperent color-white float-left btn-outlines font-bold">Move
                      here</button>
                    <button [disabled]="folder" class="mdi mdi-folder-plus btn-icon float-right btn-none"
                      (click)="folder = !folder"></button>
                  </div>
                </div>
              </div> -->
<!-- </div>

           <button id="edit" *ngIf="data1.editBtnVisibility && !data1.rename" (click)="data1.rename = true" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn"
              role="button" aria-label="Edit" tabindex="0" matTooltip="Rename">
              <span class="mdi mdi-pencil blue_circle_replay_img"></span>
            </button>
            <button id="delete" *ngIf="data1.deleteBtnVisibility && !data1.rename" class="btn-none blue_circle_replay  ng-tns-c8-2 ng-star-inserted pad_left_0 cp"
              aria-label="delete" (click)="openDelete(data1)" matTooltip="Delete">
              <span class="blue_circle_replay_img mdi mdi-delete"></span>
            </button>

          </div>
        </td>
      </tr> -->

<!--  -->
<!-- </tbody>
  </table> -->

<!-- <div class="parent-container" *ngIf="existingTable.length >  0">
    <app-single-dragable-table 
    (detectActionValue)="performTableChildAction($event)" 
    [TableName]="'attchedDocs'"
    [TableCollection]="existingTable" 

    [IsFreezedColumn]= true 
    [IsCustomizeTable] = true
    [DownloadButton]= true 
    [IsDropBoxRequired]= false

    [IsAcCheck]= true 
    [IsDealCheck]=true
    [IsDealClose]=true
   
    [IsTabList] = "tabList"
    (selectedValue)="appendConversation($event)"
    [TabValueSelected]="selectedTabValue"
    > </app-single-dragable-table>
</div> -->

<!-- </div> -->

  <app-file-explorer [fileElements]="fileElements" [isLoading]="isLoading" [path]="currentPath" [canNavigateUp]="canNavigateUp"
    (detectValueAction)="performTableAction($event)" (elementRemoved)="removeElement($event)"
    (navigatedDown)="navigateToFolder($event)" (navigatedUp)="navigateUp()"
    (elementRenamed)="renameElement($event)" (elementMoved)="moveElement($event)"
    (attachDocEmitter)="fileUpload($event)" (popNavigatedUp)="popNavigatedUp($event)"
    (popNavigatedDown)="popNavigatedDown($event)">
  </app-file-explorer>
