$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #0e3570;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
$thead: #103f86;

button:disabled {
  cursor: unset !important;
}
.not-checked {
  height: 300px;
}
.mdi-keyboard-backspace:before {
  content: "\F30D";
  font-size: 22px;
  position: relative;
  bottom: 4px;
  color: #ffff;
}
.brudcrumbs {
  opacity: 0.8;
  font-size: 12px;
  color: #e7ebf2;
}
.caretb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  padding: 7px 7px;
  margin-top: -2px;
  transition: .3s;
}
.caretb:hover {
  background: $ashGry;
  transition: .3s;
}
.caretb::before {
  content: "";
  position: absolute;

  width: 0;
  height: 0;
  border-top: 5px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  pointer-events: none;
  margin-top: 3px;
}
.thead-th {
  min-width: 150px;
}
.pr10 {
  padding-right: 10px !important;
}
table {
  padding: 5px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 8px;
  text-align: left;
  border-collapse: separate;
  width: 100%;
}
// tr:hover, td:hover{
//   td, th {
//     border-top: 1px solid black;
//     border-bottom: 1px solid black;
//   }
//   td:first-child{
//     border-left: 1px solid black;
//   }
//   td:last-child{
//     border-right: 1px solid black;
//   }
// }

tr{
  border-radius: 8px; 
}
thead {
  tr{
    height: 60px;
  }
  background: $White;
  th {
    background: $thead;
    color: $White;
    font-family: "WiproAkkuratTT-Regular";
    font-weight: normal;

    div {
      position: relative;
      span {
        float: left;
      }
    }
  }
}
table,
th,
td {
  border: 0px solid black;
  border-right: 0px;
  border-left: 0px;
  padding: 0px;
}
th,
td {
  // min-width: 190px;
  // max-width: 200px;
  background-color: white;
}
tbody tr {
  height: 60px;
  box-shadow: 1px 1px 7px 0px #ccc;
}
.pr15 {
  padding-right: 15px;
}

// Freezing coloms
th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  top: 0;
  background-color: white;
  width: 100px;
}
.tddf {
  left: 0;
  position: sticky;
  position: -webkit-sticky;
  color: #4d1010;
  height: 60px;
  text-align: center;
  padding: 20px 8px;
  border-radius: 10px 0 0 10px;
}
tr td.tddf {
  left: 0;
  position: sticky;
  position: -webkit-sticky;
}
.before-scroll {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.blue_circle_replay {
  margin: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $River;
  position: relative;
  text-align: center;
  color: $Azure;
  font-size: 16px;
}
.blue_circle_replay:hover {
  background-color: #2f81ff;
  color: $White;
}

// Notes

// #scoll_top .ps__thumb-x {
//     visibility: visible;
//     width: calc(982px - 212px) !important;
//     top: 10px !important;
//     position: relative !important;
// }[
.typeicon {
  color: $MetalLight;
  font-size: 16px;
}
.primary-button {
  padding: 8px 15px;
}
.primary-button.mdi:before {
  margin-right: 3px;
  font-size: 15px;
}
.mdi-paperclip::before {
  transform: rotate(90deg);
  font-weight: bold;
}
// Pop-over css starts
.pop-over {
  background: $White;
  width: 350px;
  right: -86px;
  box-shadow: 1px 1px 7px 3px #d8d8d8;
  z-index: 9;
  border-radius: 8px;
  top: 42px;

  .mdi:before {
    color: $Black;
  }
  .mdi-close {
    font-size: 18px;
    position: relative;
    top: 4px;
  }
  .head-part {
    padding: 8px;
    border-bottom: 1.5px solid $Marble;
  }
  h3 {
    margin: 0 0 0 5px;
    position: relative;
    top: 11px;
    max-width: 60%;
  }
  ul {
    list-style-type: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    margin: 0;
    button {
      text-align: left;
      padding: 10px 20px;
      background: $White;
      border: none;
      color: $Label;
    }
    button:hover,
    button:focus {
      background-color: $BlueSoftBG;
    }
    .mdi:before {
      color: $Label;
      padding-right: 5px;
    }
  }
  .mdi-folder-plus {
    font-size: 24px;
  }
  .bottom-actions-bar {
    padding: 10px;
    border-top: 1.5px solid $Marble;

    .btn-outlines:disabled {
      color: $Marble !important;
    }
    .btn-icon:disabled.mdi-folder-plus:before {
      content: "\F257";
      color: $Marble !important;
    }
  }
}
.btn-outlines {
  width: 135px;
  border: 1.5px solid !important;
  color: $Azure !important;
}
.ip-check {
  min-height: 58px;
  .mdi-check {
    padding: 0px 10px;
    background: $Azure;
    font-size: 22px;
    border-radius: 4px;
    position: relative;
    right: 4px;
  }
  .mdi:before {
    top: 4px;
    position: relative;
  }
  .mdi-check::before {
    color: $White !important;
  }
}

// .arrow-up::before {
//   content: "";
//   width: 0;
//   height: 0;
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;
//   border-bottom: 5px solid black;
// }

.arrow-up:after,
.arrow-up:before {
  bottom: 100%;
  left: 49.5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-up:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 7px;
  margin-left: 66px;
}
.arrow-up:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(204, 204, 204, 0.17);
  border-width: 10px;
  margin-left: 63px;
}
.hidden{
  display: none;
}

.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}
.loaderContainer {
width: 100%;
top:0em;
position: absolute;
height: 100%;
z-index: 9999;
background: white;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}