$Azure : #2f81ff;
$White : #ffffff;
$River : #d9e9ff;
$MetalLight : #9b9b9b;
$MidNight : #103f86;
$Metal : #4a4a4a;
$Black : #000000;
$Orange : #f58323;
$RubyRed : #ef3341;
$Green : #6dc24b;
$Wash : #9f9f9f;
$MidGrey:#343434;
$Assistant-blue: #E5F0FF;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$LabelGrey : #4a4a4a;
$DarkBlack : #2e2e2e;

a.disabled {
    pointer-events: none;
    cursor: default;
}

.insight {
    .h-250 {
        height: 205px;
    }

    .header-action-tab {
        padding: 12px 0px;
    }

    .pad-lr-30 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .pos-rel {
        position: relative;
    }

    .mtop-150 {
        margin-top: 150px;
    }

    .mbot-30 {
        margin-bottom: 30px;
    }

    .mbot-20 {
        margin-bottom: 20px;
    }

    .mtop-20 {
        margin-top: 20px;
    }

    .width_25 {
        color: white;
        width: 28px;
        .mdi-keyboard-backspace {
            font-size: 22px;
            cursor: pointer;
        }
    }

    .mtop-5 {
        margin-bottom: 0px;
        margin-top: 5px;
    }

    .colorWhite {
        color: $Marble;
     }

    .accord-heading .accordian-title {
        font-size: 16px;
        font-family: 'WiproAkkuratTT-Bold';
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: $Black;
    }

    .pad-top-8 {
        padding:8px 0 0 0 ;
    }

    table {
        width: 100%;
        margin-top: 5px;      
    
        tr th {
            background: #e6f3f9;
            height: 35px;
            color: $NavyBlue;
            font-family: WiproAkkuratTT-Regular;
            font-size: 12px; 
        }

        .br-tl {
            border-radius: 5px 0 0 0;
        }

        .br-tr {
            border-radius: 0 5px 0 0;
        }

        .brdr-lr {
            border-left: 2px solid white;
            border-right: 2px solid white;
        }

        .brdr-left {
            border-left: 2px solid white;
        }

        .brdr-right {
            border-right: 2px solid white;            
        }
        .br-tlr {
            border-radius: 5px 5px 0 0;
        }

        td, th {
            text-align: left;
            padding: 8px;
          }

          tr td {
            height: 50px;
            font-size: 12px;
            font-weight: bold;
            font-family: WiproAkkuratTT-Regular;
          }

          tr:nth-child(even) {
            background-color: #f0f0f0;
          }

          td tr {
              background-color: inherit;
          }
    }
    
    .c-blue {
        color: $Azure;
    }

    p, small {
        font-size: 12px;
        font-weight: bold;
        font-family: WiproAkkuratTT-Regular;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    .mdi-chevron-up:before, .mdi-chevron-down:before {
        font-size: 28px;
        color: $Black !important;
        margin-right: 5px;
    }

    .border-bottom-grey {
        border-bottom: solid 1.5px #d7d7d7;
    }

    .mat-expansion-panel-header-title {
    margin-right: 0px !important;
    // font-family: WiproAkkuratTT-Bold;
    // color: #4a4a4a;
    // font-size: 16px;
    }

    .customized-accordians {
        margin-top: 20px;
    }

    .bg-change {
        .mat-expansion-panel-header {
            background-color: rgb(213, 230, 247) !important;
        }

        .mdi-chevron-up:before, .mdi-chevron-down:before {
            color: $MidNight !important;
            margin-top: 10px;
        }

        .accord-heading .accordian-title {
            color: $MidNight !important;
        }

        tr th {
            background: none !important;
            border-bottom: 2px solid #ebf9ff;
        }
    }
}
.scrollable_table
{
    overflow-x: auto;

    td, th {
        min-width: 160px !important;
      }
}
// card-view
.display-none
{
    display: none;
}
@media screen and (max-width: 823px) {
.marg-10{
margin-left: 10px;
}
       
.mobileHeight table tr td
{
    height: auto !important;
}
    .WordBreak
{
  word-break: break-word !important;
}
    .display-none
{
    display: none !important;
}
    table {
      border: 0;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr:not(:first-child) {
        border-top: 20px solid #f9f9f9;
    }
    table tr {
      margin-bottom: 0.625em;
      height: auto !important;
      // display: inline-block !important;
      // height: auto !important;
      position: relative;
      background-color: white !important;
      touch-action: pan-y !important;
    }
    table td {
      display: inline-grid;
      text-align: left;
      width: 100% !important;
      float: left;
      line-height: normal !important;
      touch-action: pan-y !important;
    }
    table th.actionColumn {
      display: inline-grid;
      text-align: left;
      //width: 100% !important;
      float: left;
      line-height: normal !important;
      padding-right: 0px;
      
    }
    table tr th {
      display: inline-grid;
      text-align: left;
      width: 100% !important;
      float: left;
      line-height: normal !important;
      touch-action: pan-y !important;
      padding-right: 0px;
     
     
    }
    table td::before,
    table tr th::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      font-family: WiproAkkuratTT-Regular;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      color: #9b9b9b;
    }
     table th.actionColumn {
      border-bottom: 0;
      overflow-x: auto;
    }
    .mobile_hide
    {
        display: none !important;
    }
    .w-80
    {
        width: 80%;
    }
    .mobile-button-width
    {
        width: 100%;
        float: left !important;
        margin-top: 20px;
        display: flex;
        left : -25px;
    }
    .mobile-no_pad
    {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-bottom:20px;
    }
  }
  @media screen and (max-width: 1020px) {
    .normal_table {
        margin-bottom: 0px !important;
    }
  }
