<ng-container *ngIf="isLoading">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-95 profile new-container">
  <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-right no_pad">
    <div class="float-right disp-flex web-button contact-details-action-btn web-buttons" [ngClass]="service.header ? '': 'active'"
      *ngIf="!contactservice.showeditbtn">
      <button class="primary-button secondary-btn btn-block h-40 mr10 std " (click)="Cancel()">Cancel</button>
      <button class="primary-button borderless btn-block h-40 std " (click)="emailValidationChecksOnSave()">Save</button>
    </div>
    <div class="float-right disp-flex responsive-btn-div web-action-button contact-details-action-btn center web-buttons" [ngClass]="service.header ? '': 'active'"
      *ngIf="contactservice.showeditbtn">
      <button class="col-2 primary-button edit-mb-btn borderless mdi mdi-pencil btn-block h-40 std edit-btn responsive-btn-div-button button-wd100 w-100"
        (click)="editMarketingDetails()" *ngIf="contactEditOrActivate && StaticMarketingDetails?.isUserCanEdit">
        Edit
      </button>
      <button class="col-2 primary-button edit-mb-btn borderless ml10 mdi mdi-account-check btn-block h-40 std edit-btn responsive-btn-div-button button-wd100 w-100"
        (click)="activatecontact()" *ngIf="!contactEditOrActivate" >
        Activate
      </button>
    </div>
  </div> -->
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card card-content float-left pad-30">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left mt20"
      *ngIf="contactservice.showeditbtn">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-0-35">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">Industry
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-sub-text"
          [ngClass]="StaticMarketingDetails?.Industry != 'NA' ? 'f-capital':''"
          matTooltip="{{StaticMarketingDetails?.Industry}}">
          {{StaticMarketingDetails?.Industry}}</div>
      </div>
     
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-0-35">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">Function
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-sub-text"
          [ngClass]="StaticMarketingDetails?.Function != 'NA' ? '':''"
          matTooltip=" {{StaticMarketingDetails?.Function}}">
          {{StaticMarketingDetails?.Function}}</div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-0-35">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">Interest
        </div>
        <div class="col-12 float-left no_pad" *ngIf="StaticMarketingDetails?.Interest.length>0">
          <div class="col-12 float-left no_pad" *ngFor="let v of StaticMarketingDetails?.Interest">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-sub-text-interest"
              [ngClass]="v.Name != 'NA' ? '':''" matTooltip=" {{v.Name}}">
              {{v.Name}}</div>
          </div>
        </div>
        <div *ngIf="StaticMarketingDetails?.Interest.length==0">
         NA
        </div>
     
      </div>
     
      <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-0-35">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">GDPR
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-sub-text"
          [ngClass]="StaticMarketingDetails?.GDPR != 'NA' ? 'f-capital':''"
          matTooltip="  {{StaticMarketingDetails?.GDPR}}">
          {{StaticMarketingDetails?.GDPR}}</div>
      </div> -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-0-35">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5 cp">Solicit
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-sub-text"
          [ngClass]="StaticMarketingDetails?.Solicit != 'NA' ? 'f-capital':''"
          matTooltip="  {{StaticMarketingDetails?.Solicit}}">
          {{StaticMarketingDetails?.Solicit}}</div>
      </div>
    </div>
    <!---------------------------- Marketing form start ---------------------------- -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left mt20"
      *ngIf="!contactservice.showeditbtn">
      <form [formGroup]="marketInfoDetailEditForm">

        <div class="col-12 col-md-12 col-xl-8 float-left no_pad">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left plb-60-20">
            <div class="customized-input">
              <label for="Industry" class="w-100 label-form">Industry </label>
              <input id="Industry" type="text" class="border-gray w-100" formControlName="industry" value="" disabled
                placeholder="Enter industry" maxlength="100">
            </div>
          </div>
        
          <!-- Mobile and Web dropdowns -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left plb-60-20 mobile-select-box">
            <label for="select1m1" class="w-100 label-form">Function</label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="select1m1" role="listbox" formControlName="functions">
                <option value="">Select function</option>
                <option *ngFor="let function of functionType" [value]="function.Id" matTooltip="{{function.Value}}">
                  {{function.Value}}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left plb-60-20 web-select-box">
            <label for="select1m1" class="w-100 label-form">Function</label>
            <mat-form-field class="col-12 no_pad float-left">
              <mat-label>Function</mat-label>
              <mat-select aria-label="{{'Function' + functionTypeAria}}" disableOptionCentering
                panelClass="Select-panel-class" class="select-focus" (selectionChange)="appendFunctionType($event)"
                formControlName="functions">
                <mat-option value="">Select function </mat-option>
                <mat-option *ngFor="let function of functionType" [value]="function.Id" matTooltip="{{function.Value}}">
                  {{function.Value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- Mobile and Web dropdowns -->

          <!-- Radio buttons starts -->
          <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left plb-60-35">
            <label for="reference" class="w-100 radio-label label-form">GDPR </label>
            <mat-radio-group aria-labelledby="a" formControlName="GDPR">
              <mat-radio-button [value]=true class="pr30"
                [checked]="marketInfoDetailEditForm.value.GDPR===true">Yes
              </mat-radio-button>
              <mat-radio-button [value]=false
               [checked]="marketInfoDetailEditForm.value.GDPR===false">No
              </mat-radio-button>
            </mat-radio-group>
          </div> -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left plb-60-35">
            <label for="select4m1" class="w-100 radio-label label-form cp" id="a" matTooltip="Select 'Yes' if contact has agreed to receive promotional email related to Wipro products and services">Solicit</label>
            <mat-radio-group aria-labelledby="a" formControlName="solicit">
              <mat-radio-button [value]=true 
              [checked]="marketInfoDetailEditForm.value.solicit===true" class="pr30">Yes
              </mat-radio-button>
              <mat-radio-button [value]=false
               [checked]="marketInfoDetailEditForm.value.solicit===false">No
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- Radio buttons ends -->
          <!-- Radio buttons starts -->
         
        </div>
        <div class="col-12 col-md-12 col-xl-4 float-left no_pad">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left plb-60-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName"
              (clickOutside)="IntrestNameclose()">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="interestID"
                class="label-form">Interest</label>
              <div class="pos-rel w-100 float-left no_pad">
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pr30 h-40 input-text "
                  #interestlist
                  id="interestID"
                  name="interestname"
                  formControlName="intrest"
                  placeholder="Select interest"
                  type="text"
                  role="combobox"
                  title="{{selectedInterestName}}"
                  autocomplete="off" 
                  aria-owns="read" 
                  appKeyListControl
                  [dataManipulate]=true
                  [attr.data-isDownBtn]=true
                  (arrowDown)="arrowkeyLocation=$event"
                  [attr.data-selectedvalue]="selectedInterestName"
                  [attr.aria-expanded]="IntrestNameSwitch?true:false" 
                  [attr.aria-activedescendant]="arrowkeyLocation"
                  (input)="IntrestNameSwitch=true;arrowkeyLocation=0"
                  (intialLoadData)="IntrestNameSwitch=true;callTempInterest();arrowkeyLocation=selectedInterestName?-1:0"
                  (keyup.enter)="arrowkeyLocation=arrowkeyLocation==-1?0:arrowkeyLocation; appendIntrestName(getIntrest[arrowkeyLocation]);IntrestNameSwitch=false;arrowkeyLocation=0"
                  (keydown)="IntrestNameSwitch=true"
                  [attr.data-arrayMaxLength]="getIntrest?.length"
                  aria-autocomplete="list"
                  (keydown.Tab)="IntrestNameclose()">
                <span class="mdi mdi-magnify" *ngIf="IntrestNameSwitch || selectedInterestName ==''"></span>

                <span class="mdi mdi-close auto-close"
                  (click)="clearInterestName();arrowkeyLocation=0;selectedInterestName=''"
                  *ngIf="!IntrestNameSwitch && selectedInterestName!==''"></span>

              </div>
              <div
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  border-right  float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                *ngIf="IntrestNameSwitch" [attr.focus]="marketInfoDetailEditForm.value.intrest && IntrestNameSwitch">
                <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                  <span class="w-100 z-ind-9 float-left bg-white">
                    <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read"
                      [ngClass]="{'loader-search':isInterestSearchLoading }">
                      <li id="{{i}}" tabindex="0" role="option" class="list-group-item  ellipses"
                        [ngClass]="service.chatBot ? 'list-DA-con' : 'list-name'" [class.active]="i==arrowkeyLocation"
                        aria-disabled="false"
                        *ngFor="let item of getIntrest |filter:marketInfoDetailEditForm.value.intrest; let i=index"
                        (click)="interestlist.value=item.Name;Interestdata=item.Name;appendIntrestName(item)"
                        matTooltip="{{item.Name}}">
                        {{item.Name}}</li>
                      <li class="d-block list-name h-40 p-10"
                        *ngIf="(getIntrest |filter:marketInfoDetailEditForm.value.intrest)?.length == 0 && !isInterestSearchLoading">
                        No record found </li>
                    </ul>
                  </span>
                </perfect-scrollbar>

              </div>

              <!-- Multiple interest start -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact">
                <perfect-scrollbar style="max-height:250px">
                  <div
                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left d-flex tagged-box mt-10 p-4-10 mr10"
                    *ngFor="let item of selectedInterest ; let i=index">
                    <label for="inti_name" class="float-left name w-94">
                      <span class="d-block color-azure mr10 float-left ellipses max-w260" title="{{item.Name}}"
                        matTooltip="{{item.Name}}">{{item.Name}}</span>
                    </label>
                    <span class="mdi mdi-close close-lead float-right cp ml10" (click)="delinkIntrest(item, i)"></span>

                  </div>
                </perfect-scrollbar>
              </div>

              <!-- Multiple interest start -->


            </div>
          </div>
        </div>
        <!-- Radio buttons ends -->
      </form>
    </div>

    <!---------------------------- Marketing form end ------------------------------>
  </div>

</div>
