.disp_none{
    display: none;
}
.disp_block{
    display: block;
}
 
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 28px;}
}
a:hover{
    .arrow::before{
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid blue;
        position: absolute;
        z-index: 99999;
        left: -5px;
        top: 17px;
        content: "";
    }
}

.height450{
    height: 400px;
}
.height475{
    height: 475px;
}
.w-167{
    width: 167px;
}
.mt-25{
    margin-top: 25px;
}
.sprint-three{
    margin-top: 22px;
}

.sidenav .acchd_sp {
    margin-left: 0px;
    padding-top: 19px;
    position: absolute;
    right: 6px;
}

.ml-28{
    margin-left: 28px !important;
}
.ml-29{
    margin-left: 29px !important
}