.padt-0
{
    padding-top: 0px !important;
}

.padng-10-30{

    padding: 10px 30px 30px 30px 
}
.primary_white
{
    padding: 6px 11px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold'
}
.primary_white:hover{
    background: #fff;
    color: #2f81ff;
}
.primary_white_note
{
    padding: 6px 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold'
}
.mdi-download:before
{
    font-size: 16px !important;
}
.mdi-file:before
{
    font-size: 16px !important;
}

//loader
.loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
.loaderContainer {
  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.m-tb-20{
    margin-bottom: 20px;
    margin-top: 20px;
}  
////chethana added for bule patch alignments
.padng-10-30{
    padding: 10px 30px 30px;
  }
  .top-30{
    top:20px;
  }
  .mt-50{
  margin-top:50px;
  }
  .mtop-0{
    margin-top:0px;
    }
    //chethana added for bule patch alignments