$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
.h-228 {
  height: 228px;
}
.pt100 {
  padding-top: 135px;
}

.pad-20{
  padding: 20px;
}

.brudcrumbs {
  position: relative;
  opacity: 0.8;
  font-size: 12px;
  color: #e7ebf2;
  left: 8px;
}
.heading-custom {
  position: relative;
  left: 6px;
}
.cursor-pointer {
  cursor: pointer;
}

.mdi-keyboard-backspace:before {
  content: "\F30D";
  font-size: 22px;
  color: #ffff;
  position: relative;
  bottom: 4px;
}

.pad-30 {
  padding: 30px;
}

.mt-30{
  margin-top:30px
}

.mt-150 {
  margin-top: 115px;
}

.summary-content {
  margin-bottom: 30px;

  label {
    color: #6f6f6f;
    opacity: 0.87;
    font-size: 13px;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
    width: 100%;
    font-family: WiproAkkuratTT-Regular;
  }

  span{
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #000000;
    font-family: WiproAkkuratTT-Bold;
    width:100%
  }

  .coaching-icon{
   width: 40px;
   height: 40px;
   border-radius: 50px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ml-6{
  // margin-left:6px;
}

.mt-20{
  margin-top: 20px;
}

}

.circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  top: 2px
}

.bg-orange{
  background-color: $Orange;
}

.pad-0-5{
  padding:0px 5px;
}

.border-botton-pad-10{
  border-bottom: solid 2px #d7d7d7;
  padding:0px 0px 10px 0px;
}

.min-height-380{
  min-height: 380px;
}
.dynamic-progressbar{

.mat-progress-bar {
  height: 10px ;
  border-radius: 4px;
  border:1px solid #ccc;
  
}
}

.usage-type{
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: $MidGrey;
}

.usage-days{
  font-family: WiproAkkuratTT-Regular;
  color: $MidGrey;
  font-size: 14px;
}

.text-align-right{
  text-align: right;
}

.mt-10{
  margin-top:10px;
}

.mtop-5{
  margin-top:5px;
}

.tableCards {
  min-height: 380px;
  border-radius: 8px 8px 4px 4px;
  box-shadow: 0 0 14px 0 rgba(128, 128, 128, 0.2);
  background-color: #ffffff;
}
.custom-card{
  border-radius: 8px 8px 4px 4px;
  box-shadow: 0 0 14px 0 rgba(128, 128, 128, 0.2);
  background-color: #ffffff;
}

.wonAccCount{
  font-family: WiproAkkuratTT-Bold;
  font-size: 25px;
}
.totalAccText{
  font-family: WiproAkkuratTT-Regular;
  font-size: 11px;
}

    .popup-hd
    {
        padding: 15px 0px 10px 0px;
    }
    .NominationStart-label{
        padding-top: 15px;
    }
    .popup-hd-txt
    {
        margin: 0;
        font-family: WiproAkkuratTT-Bold;
        font-size: 17px;
        color: $Black !important;
        font-weight: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        padding-top: 3px;
    }
  
    .mtb-5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
  
    .mbot-5 {
        margin-bottom: 5px;
    }
  
    .mbot-10 {
        margin-bottom: 10px;
    }
  
    .hd-lbl {
        color: $MetalLight;
        font-family: WiproAkkuratTT-Regular;
    }
  
    .note {
        font-size: 12px;
        color: #4a4a4a;
        margin-bottom: 5px;
        font-family: WiproAkkuratTT-Regular;
    }
  
    .hd-val {
        color: $Black;
        font-family: WiproAkkuratTT-Regular;
    }
  
    .add-cont {
        color: $LabelGrey;
        font-family: WiproAkkuratTT-Regular;
        margin-top: 20px;       
    }
  
    .txt-area {
        border-radius: 4px;
        padding: 10px;
        font-family: WiproAkkuratTT-Regular;
       margin-bottom: 10px;
        // color: $MetalLight;
    }
  
    .txt-blue {
        color: $Azure;
    }
  
    .mleft-60 {
        margin-left: 60px;
    }
  
    .discard-close-btn {
        background-color: #d9e9ff !important;
        font-size: 20px;
        color: #2f81ff;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        font-weight: bold;
    }
  
    input {
        height: 40px;
        border-radius: 4px;
        border: 1.5px solid;
        padding: 3px 6px;
        font-size: 14px;
        // font-family: WiproAkkuratTT-Regular;
    }
    
    .border-gray {
        border-color: #d8d8d8;
    }
  
    .bg-gray {
        background: #f5f5f5;
    }
  
    .in-value {
        font-weight: normal;
        color: $Black;       
    }
  
    .date-pick {
        position: absolute;
        /* top: 0px; */
        z-index: 9;
        left: 290px;
        bottom: 35px;
    }
  
    .hd-sl {
        font-size: 16px;
        font-family: WiproAkkuratTT-Bold;
        color: $LabelGrey;
    }
  
    .customized-checkbox{
        .mat-checkbox-inner-container{
          width: 14px;
          height: 14px;
          border-radius: 2px;
        }
        .mat-checkbox-frame{
          border-color: $Azure;
        }
        .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
          background-color: $Azure;
          margin: 4px;
        }
        .mat-checkbox-checkmark{
          display: none;
        }
        .mat-checkbox-label-before .mat-checkbox-inner-container {
          position: absolute;
          right: 0;
        }
        .mrl-10 {
          margin-left: -10px;
        }
        .mat-checkbox-label {
            padding-left: 5px !important;
            font-family: WiproAkkuratTT-Bold !important;
            color: #5e5e5e !important;
            font-size: 14px !important;
        }
        .mat-ripple-element {
          background: #2f82ff3b !important;
        }
        small {
            padding-left: 30px;
            bottom: 5px;
        }
    }
  
    .rmv-pad {
      .mat-checkbox-label {
        padding-left: 0px !important;
      }
    }
  
    .mdi-magnify:before {
       color: #2f81ff;
       font-size: 20px;
       right: 150px;
       position: absolute;
       bottom: 5px;
      }
  
      .txt-italic {
        font-style: italic;
        font-size: 12px;
      }
      .borderless{
        border:none !important;
    }
    .primary-button.std{
        padding: 7px 0;
        min-width: 88px;
        height: 40px;
        margin: 0;
    }
    .mr10{
        margin-right: 10px !important;
    }


    
//loader code start*
.loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
.loaderContainer {
  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  //loader code end*
  @media screen and (max-width: 823px) {
  .mrl-10
  {
    margin-left: 0px !important;
  }
  .mr10{
    margin-bottom: 10px;
  }
  .pad30_mob
  {
    padding-top: 30px !important;
  }
  .brudcrumbs
  {
    white-space: nowrap;
  }
  }