<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt-17 ">

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad ">

    <div class="col-6 col-md-6 col-lg-6 col-xl-6 float-left no_pad">

      <h2 class="level-two color-white"> Pending requests (15)  </h2>

    </div>

    <div class="col-6 col-md-6 col-lg-6 col-xl-6 float-left no_pad action-button d-flex justify-content-end ">

        <button aria-label="Note" class="mdi mdi-note standard-border bg-transparent color-white  ellipses float-left h-40 border-4 padding-0-25"
        (click)="openNote()">
          Note
       </button>

       <button aria-label="download" class=" mdi mdi-download standard-border bg-transparent color-white  ellipses float-left h-40  border-4">
         
       </button>

       <button  aria-label="Add contract" class=" standard-border bg-transparent color-white ellipses float-left h-40  border-4 padding-0-25" [routerLink]="['/opportunity/newcontract']">
          + Add contract
       </button>


    </div>

  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt-20">

      <div class="parent-container" *ngIf="pendingRequestTab.length>0">
          <app-single-table 
          (detectActionValue)="performTableChildAction($event)" 
          [TableName]="'pendingRequest'"
          [TableCollection]="pendingRequestTab" 
          [IscheckBoxRequired]= false 
          [IsActionFixed]= true 
          [IsFreezedColumn]= true 
          [IsCustomizeTable] = true

          [paginationPageNumber]="paginationPageNo"
          [totalTableCount]="tableTotalCount"
          
          [IsView] = true

          
          
          > </app-single-table>
</div>



  </div>


</div>