<div *ngIf="data.closeWithoutOrder==false" class="col-12 float-left no_pad popup-container popup-container-opportunity order-tab">

    <div class="col-12 float-left container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-10 col-xl-11 col-lg-11 col-md-10 col-sm-10 float-left no_pad popup-hd-txt" mat-dialog-title>Has the customer selected Wipro for contract execution?
            </span>
            <button class="col-2 col-xl-1 col-lg-1 col-md-2 col-sm-2 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close"
                mat-dialog-close></button>
        </div>

        <div class="col-12 float-left border-bottom-grey"></div>

        <div class="col-12 col-lg-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left converstion-name mt-20 no_pad">
            <p>I confirm to best of my ability that the people tagged to the deal are the users who have contributed towards
                the winning of the deal and I understand that the same people will be considered for incentive payout.
            </p>
        </div>

        <div class="col-12 col-lg-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left converstion-name mt-20 no_pad">
            <p>
                <strong>Note:</strong> Please ensure all service lines, solutions and IP and their corresponding values are correctly
                added.
            </p>
        </div>

        <!-- <div *ngIf="!createdContract" class="col-12 col-lg-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left converstion-name mt-20 no_pad">
            <p class="color-orange">There is a difference between the TCV values. You can create a residual opportunity from the ‘More actions’.
            </p>
        </div> -->

          <div *ngIf="!contractExecuted && contractExcMsg" class="col-12 col-lg-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left converstion-name mt-20 no_pad">
            <p class="color-orange">Contract is not initiated in ICM. Please ensure contract is executed before you submit order for approval.
            </p>
        </div>
        

        <div *ngIf ="wtcheck" class="col-12 col-lg-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left tcv-compare blue-div mt-20 no_pad">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ob-style float-left p-10">
                <!--<span class="float-left small-text col-12 no_pad">
                    OB from RLS</span>-->
                    <span class="float-left small-text col-12 no_pad">Opportunity TCV</span>

                <span class="col-12 float-right main-text no_pad">
                    <!--$ 30,000,000-->  {{opportunityTCV}}
                </span>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ob-style float-left p-10">
                <!--<span class="float-left col-12 small-text no_pad">
                    OB from contract</span>-->
                     <span class="float-left col-12 small-text no_pad">Pricing TCV</span>
                <span class="col-12 float-right main-text no_pad">
                    <!--$ 20,000,000--> {{pricingTCV}}
                </span>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ob-style float-left p-10">
                <!--<span class="float-left col-12 small-text no_pad">
                    Difference</span>-->
                     <span class="float-left col-12 small-text no_pad">TCV difference</span>
                <span class="col-12 float-right main-text no_pad">
                    <!--$ 10,000,000--> {{differenceTCV}}
                </span>
            </div>
        </div>

    

        <div *ngIf ="wtcheck" class="col-12 col-lg-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left converstion-name mt-20 no_pad">
            <p>Please validate Service Line Level Opportunity and Pricing Details through BSP - TCV Comparison.
                <a class="linkClass" (click)="navigateToBSP()">Click here</a>
            </p>
        </div>
        </div>



    <div class="col-12 float-left no_pad">
        <button aria-label="No" class="col-6 float-left btndef-none no_pad discard-btn" mat-dialog-close (click)="showcancel(false)" (keypress)="showcancel(false)">No</button>
        <button aria-label="Yes" class="col-6 float-left btndef-none no_pad confrm-btn mt15" mat-dialog-close (click)="showcancel(true)" (keypress)="showcancel(true)">Yes</button>
    </div>
</div>


    <div  *ngIf="data.closeWithoutOrder==true" class="col-12 float-left no_pad popup-container popup-container-opportunity">
        
            <div class="col-12 float-left container-dialog">
                <div class="col-12 float-left  no_pad popup-hd">
                    <span class="col-10 float-left no_pad popup-hd-txt" mat-dialog-title>Proceed to close without order
                    </span>
                    <button class="col-1 float-left  no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close" mat-dialog-close ></button>
                </div>
         
                <div class="col-12 float-left border-bottom-grey"></div>
                <div class="col-12 float-left no_pad">
                    <span class="col-12 float-left  no_pad margin-top-20 mbot-20 add-cont">Are you sure to proceed the close stage without order?
                    </span>
                </div>
            </div>
            <div class="col-12 float-left no_pad">
                <button aria-label="No" class="col-6 float-left btndef-none no_pad discard-btn" mat-dialog-close (click)="showcancel(false)" (keypress)="showcancel(false)">No</button>
                <button aria-label="Yes" class="col-6 float-left btndef-none no_pad confrm-btn mt15" mat-dialog-close (click)="showcancel(true)" (keypress)="showcancel(true)">Yes</button>
            </div>
        </div>