<div class="col-12 float-left  no_pad popup-container ">

  <div class="col-12 float-left  container-dialog no_pad ">
    <div class="col-12 float-left p-l-r-30  popup-hd">
      <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Request for SAP Customer code</span>
      <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn"
        aria-label="close" mat-dialog-close></button>
    </div>

    <div class=" col-12 float-left no_pad ">
      <p class="banner"> An email notification will be sent to FIFIDUS team for creating SAP customer code for the Account marking the
        requester. </p>
    </div>
    <perfect-scrollbar> 
    <div class="col-12  p-l-r-30 float-left">
      <div class="col-lg-4 float-left no_pad recordsDiv mb-15" *ngFor="let own of SAPDetails">
        <span class="col-sm-12 no_pad SAPHeader float-left">{{own.name}}</span>
        <span class="col-sm-12 no_pad SAPValue ellipses">{{own.value?own.value: '-'}}</span>
      </div>
    </div>

    <div class="col-12 float-left border-bottom-grey m-20-30"></div>

    <div class="col-12 float-left p-l-r-30">
      <div class="col-12 float-left no_pad">
        <div class="col-4 no_pad  float-left ">
          <label class="col-sm-12 no_pad editLabel" for="CustomerName">Customer Name <span class="required"> *</span></label>
          <div class="form-group no_pad customized-input">
            <input class="border-gray w-100 vision_txt_area_placeholder" id="CustomerName" [(ngModel)]="customer"
              required>
          </div>
        </div>

        <div class="col-4 offset-2 no_pad float-left ">
          <label class="col-12  float-left no_pad" for="CompanyEntity" class="label-form">Company entity <span class="required"> *</span></label>
          <div class="customized-select ">
            <span class="color-azure caret"></span>
            <select id="CompanyEntity" role="listbox" class="">
              <option value="Entity 1">Entity 1 </option>
              <option value="Entity 2">Entity 2</option>
              <option value="Entity 3">Entity 3</option>
            </select>
          </div>
        </div>

      </div>

      <div class="col-12 float-left no_pad">
          <div class="col-4 float-left no_pad">
              <label class="col-sm-12 no_pad editLabel" for="CRMNumber">CRM Account Number <span class="required"> *</span></label>
              <div class="form-group no_pad customized-input">
                  <input class="border-gray w-100 disabledInput vision_txt_area_placeholder" id="CRMNumber" [(ngModel)]="CRMAccount" disabled>
              </div>
          </div>

          <div class="col-4 offset-2 float-left no_pad">
              <label class="col-sm-12 no_pad editLabel" for="Vertical">Vertical <span class="required"> *</span></label>
              <div class="form-group no_pad customized-input">
                  <input class="border-gray w-100 disabledInput vision_txt_area_placeholder" id="Vertical" [(ngModel)]="Verticalvalue" disabled>
              </div>
          </div>

       </div> 

       <div class="col-12 float-left no_pad">
          <div class="col-4  float-left no_pad">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Address" class="label-form">Address (As per MSA) <span class="required"> *</span></label>
                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text min-text-height-70" id="Address" name="text" type="text" maxlength=2000 placeholder="Type here" [ngClass]="false? 'border-pink':'border-gray'"
                      required aria-describedby="Addresserrormsg">
                            </textarea>
                  <!-- <p class="error-message custom-label top-94 top-115" id="Addresserrormsg">Address is required</p> -->
              </div>
          </div>

          <div class="col-4 offset-2 no_pad  float-left ">
              <label class="col-sm-12 no_pad editLabel" for="postal">Postal code/City <span class="required"> *</span></label>
              <div class="form-group no_pad customized-input">
                <input class="border-gray w-100 vision_txt_area_placeholder" id="postal" [(ngModel)]="postalCode"
                  required>
              </div>
            </div>
       </div>

       <div class="col-12 float-left no_pad">

          <div class="col-4 no_pad float-left ">
              <label class="col-12  float-left no_pad" for="Country" class="label-form">Country <span class="required"> *</span></label>
              <div class="customized-select ">
                <span class="color-azure caret"></span>
                <select id="Country" role="listbox" class="">
                  <option value="India">India </option>
                  <option value="USA">USA</option>
                  <option value="USA">USA</option>
                </select>
              </div>
            </div>
            <!-- region auto complete start -->
            <div class="col-4 offset-2 no_pad float-left ">

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad  " >
                    <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName CompanyNamewip add-advisory">
                            <label class="col-12  float-left no_pad" for="contactcampaign" class="label-form">Region<span class="required"> *</span>
                                </label>
                        <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                            id="contactcampaign" name="Region"
                            autocomplete="off" type="text" [(ngModel)]="RegionName" placeholder="Search region"
                            (clickOutside)="regionSwitch = false" (input)="regionSwitch = true" (click)="regionSwitch = true">
                        <span class="mdi mdi-magnify"></span>
        
                        <div class="col-12  border-right border-btm z-ind-9999 float-left no_pad suggestion-box pos-sticky border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white"
                             *ngIf="regionSwitch && RegionName">
                            <ul class=" list-group color-azure autocomplete-box" >
                                <span class="w-100 z-ind-9 float-left bg-white">
                                  <perfect-scrollbar style="max-height:160px" class="z-ind-9"> 
                                 <span class="w-100 z-ind-9 float-left bg-white">
                                    <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read"
                                        [ngClass]="isActivityGroupSearchLoading?'loader-search':''">
                                        <li class="list-group-item h-50 p-4-10"
                                            (click)="appendRegion(item)" 
                                            *ngFor="let item of regionArray">
      
                                            <label for="inti_name" class="float-left name w-80">
                                                <span class="d-block list-name ellipses">{{item.name}}</span>
                                            </label>
      
                                        </li>
                                        <li class="d-block list-name h-40 p-10 cp"
                                            *ngIf="(regionArray |filter:RegionName).length == 0 && !isActivityGroupSearchLoading" >
      
                                            No results found 
                                            <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad font-12">
                                                Ensure that you have typed correct legal entity name</span>
                                     </li>
                                    </ul>
                                  </span>
                                 </perfect-scrollbar>
                                 
                                </span>
                              </ul>
                        </div>
                    </form>
                </div>


            </div>

            <!-- region auto complete end -->
       </div>

       <div class="col-12 float-left no_pad">

          <div class="col-6 col-sm-6 col-md-6 col-lg-6 float-left mt-15 no_pad">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="MSA"
                class="label-form" >Signed MSA available  <span class="required"> *</span></label>
              <div class="customized-select">
                <mat-radio-group class="float-left mt12" 
                  aria-labelledby="key" aria-required="true">
                  <mat-radio-button (change)="showItem('yes')" [checked]="show" [value]="true" 
                    class="pr30 label-form-blue">Yes</mat-radio-button>
                  <mat-radio-button (change)="showItem('no')"  [checked]="!show" [value]="false" 
                    class="label-form-blue ">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="col-12 float-left no_pad">
                <div class="col-4 float-left no_pad mt20"  >
                    <p class="float-left mt10 d-inline-flex">Attach signed MSA </p>
                    <ng-container *ngIf="show">
                    <input type="file" id="attach" accept="/*" multiple 
                      class="new-inputattach" style="display: none;" 
                     value="" name="files[]">
                    <label class="mdi mdi-attachment new-attachment" role="button" tabindex="0" for="attach" >Attach files</label>
                  </ng-container>
                 
                    <!-- selected files start -->
                    <ng-container  *ngIf="show && false">
                      <div class="float-right"> 
                        <div class="float-left naming-tags-square pad-7 child-middle bg-azure">
                          <span class="initials mdi mdi-file-document font-20" id="inti_name-kb"></span>
                          <!-- <span class="initials mdi mdi-download font-20" role="button" tabindex="0"
                            aria-label="Download file" id="inti_name-kb1" 
                            matTooltip="Download file"></span> -->
                        </div>
                        <label for="inti_name-kb "
                          class="float-left pos-rel pl10 name-sq padLR-10 border-std color-azure mx-width-90per">
                          <div class="tag color-label_gray hover-attach padding-left5 ellipses w-160 "
                            matTooltip="filename">
                           File name</div>
                          <span class="float-right mdi mdi-window-close color-azure onone cp" role="button" tabindex="0">
                            <span class="sr-only">Remove attachment
                            </span>
                          </span>
                        </label>
                      </div>
                      </ng-container>
                    <!-- selected files end -->
                  </div>
                 <p class="col-12 float-left no_pad" *ngIf="!show"> Please procure the approval from BFM </p>
            </div>

       </div>


    </div>

  </perfect-scrollbar>
  </div>

  <div class="col-12 float-left no_pad">
      <button class="col-6 float-left no_pad cancel-btn mt15" aria-label="Cancel" mat-dialog-close>Cancel</button>
      <button  class="col-6 float-left btndef-none no_pad confrm-btn mt15 " aria-label="Submit" mat-dialog-close >Submit</button>
  </div>

</div>