.SAPHeader {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #9b9b9b;
    opacity: 0.9;
  }
  .SAPValue {
    opacity: 1;
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #000000;
  }

  //new attachments css starts
  .new-attachment{
    float: left;
    position: relative;
    left: 50px;
    width: 110px;
    height: 40px;
    border: 2px solid #2f81ff;
    background: white;
    color: #2f81ff;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    font-family: WiproAkkuratTT-Bold;
  }
  .mdi-attachment:before{
    width: 18px;
    height: 27px;
    transform: rotate(-90deg);
    text-align: center;
    position: relative;
    right: 4px;
    font-size: 16px;
  }
  .mb1{
    margin-bottom: 1px;
  }
  .pr0 {
    padding-right: 0px;
  }
  .margin-btm130{
    margin-bottom: 130px !important;
  }

  .p-l-r-30{
    padding-right: 30px;
    padding-left: 30px;
  }

  .banner{
    padding: 25px 30px;
    background-color: #d9e9ff;
  }

  .mb-15{
    margin-bottom:15px
  }
  .m-20-30{
    margin:20px 30px;
  }
  .mt-15{
    margin-top: 15px
  }
  //new attachments css ends