<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab opportunityPage new-container">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 float-left no_pad">

          <h1 class="heading-level-one heading-custom">End sales cycle</h1>
          <span class="brudcrumbs">Sales > Opportunities</span>
        </div>

        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left no_pad">
          <div class="float-right disp-flex save-cancel-responsive">
            <button class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50" (click)="goBack()">Cancel</button>
            <button class="primary-button borderless h-40 std save-responsive-btn button-wd50" (click)="onSubmit()" [disabled]="disableFields"  [ngClass]="[disableFields? 'cursorDisable':'']">Save</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div clas="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad endsalescycle">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-228 new-container">
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-30 pad-top150">
      <!--first card codes starts here-->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt22 margin-btm55 no_pad pt20"  >
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-create-lead1 pb0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left ">
            <h2 class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading">
              Opportunity name</h2>
            <span class="col-12 no_pad heading-small-two web-buttons text-transform-capitalize"> {{ opportunityName}} </span>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 float-left mt20 ">

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-rel">
            <label for="calStart" class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading">When was the decision taken to end sales cycle? *</label>


            <div class="col-12 col-lg-8 col-sm-8 col-md-8 col-xl-8 float-left no_pad cal_brdr" title= "{{ decisionTaken | date:'dd-MMM-yyyy '}}">
              <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad customized-calandar">
                <input [ngClass]="dateFlag==1?'orangeborder':''" class="col-12 col-lg-12 col-sm-12 col-md-12 float-left" (click)="picker1.open()" (keypress)="picker1.open()" id="calStart" [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" title="{{ decisionTaken | date:'dd-MMM-yyyy'}}" placeholder="DD-MMM-YYYY" [(ngModel)]="decisionTaken" [disabled]="disableFields" (dateChange)="dateSelected(decisionTaken)" readonly = "readonly">
                <mat-datepicker-toggle matSuffix [for]="picker1" tabindex="0" aria-label="calender" (click)="picker1.open()" (keypress)="picker1.open()" >
                  <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </div>
            </div>
              <p *ngIf="dateFlag==1" class="col-12 no_pad float-left validation-text manditary-cls">Date is required</p>
          </div>

        </div>


        <!-- radio button for meeting stage starts here -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 float-left mt20">
          <label class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading" id="keycon">
            Who took the decision to end the sales cycle? *</label>
          <mat-radio-group aria-labelledby="keycon" (change)="onemoreradio($event)" [(ngModel)]= "decisionBy"  [disabled]="disableFields">
            <mat-radio-button value="Wipro" class="pr30 margin-top-5 radio-fontfamly" [ngClass]="disableFields? 'wiproCustRadioBtn': '' ">Wipro</mat-radio-button >
            <mat-radio-button value="Customer" class="margin-top-5 radio-fontfamly" [ngClass]="disableFields? 'wiproCustRadioBtn': '' ">Customer</mat-radio-button  >
          </mat-radio-group>
        <p *ngIf="whoTookDecisionFlag==1" class="col-12 no_pad float-left validation-text">Select who took the decision</p>
        </div>
        <!-- radio button for meeting stage ends here -->

        <!-- radio button for meeting stage starts here -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 float-left mt20" *ngIf="showradiobtn && endSalesData != undefined">
          <label class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading" id="keycon1">
            Was the opportunity awarded to another party? *</label>
          <mat-radio-group aria-labelledby="keycon1" (change)="secondradio($event)"  [(ngModel)]= "endSalesData.AwardedtoAnotherParty.Name"  [disabled]="disableFields">
            <mat-radio-button value="Yes" class="pr30 margin-top-5 radio-fontfamly">Yes</mat-radio-button>
            <mat-radio-button value="No" class="margin-top-5 radio-fontfamly">No</mat-radio-button>
          </mat-radio-group>
          <p *ngIf="awardedToAnotherPartyFlag==1" class="col-12 no_pad float-left validation-text">Select awarded to another party.</p>
        </div>
        <!-- radio button for meeting stage ends here -->

        <!-- Select DROPDOWN for Meeting Stage STARTS -->
        <!-- <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 float-left mt20" *ngIf="wiproExcludedReason== false   ">
          <label for="select1" class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading w-100">What was the main reason for ending the sales cycle? *</label>
          <div class="col-8 no_pad customized-select">
            <span class="caret color-azure"></span>

            <select [ngClass]="error_validation?'orangeborder':''" [(ngModel)]="reasonId" name="reason" id="select1" role="listbox" (change)=" getStatus($event, reasonId)"  [disabled]="disableFields || disableReason || disableReasonField">
                <option value="" selected hidden >Select Reason</option>

              <option *ngFor="let reasonss of EndSalesCycleReasonsarray1" [value]="reasonss.Name" >{{reasonss.Name}}</option>
            </select>

          </div>
          <p *ngIf="reasonFlag==1" class="col-12 no_pad float-left validation-text manditary-cls">Select the reason</p>
        </div> -->

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left mt20 mt-20-mob h100 padr-10"  *ngIf="wiproExcludedReason== false" title= "{{ reasonId }}">
        
          <div *ngIf="!service.MobileDevice" class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad web-select-box ">
            <label for="select1" class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading">What was the main reason for ending the sales cycle? * </label>
            <mat-form-field class="col-12 no_pad float-left">
              <!--<span class="caret color-azure"></span>-->
              <mat-select disableOptionCentering panelClass="Select-panel-class"
                class="select-focus mat-select {{service.getSelectedClass(reasonId)}}" [(ngModel)]="reasonId" name="reason" id="select1" role="listbox" (selectionChange)=" getStatus($event, reasonId)"  [disabled]="disableFields || disableReason || disableReasonField" [ngClass]="reasonFlag==1?'orangeborder':''">
                <mat-option value="" selected hidden disabled>Select Reason</mat-option>
                <!--<option [value]="1">Please Select Proper Account Name</option>-->
                <mat-option *ngFor="let reasonss of EndSalesCycleReasonsarray1" [value]="reasonss.Name" title=" {{reasonss.Name}} " >{{reasonss.Name}}</mat-option>
  
              </mat-select>
              <p *ngIf="reasonFlag==1" class="error-message top-40 mt50" >Select the reason</p>
            </mat-form-field>
          </div>
         
          <div *ngIf="service.MobileDevice" class="col-12 col-sm-12 col-md-12 col-lg-12 float-left plb-60-20 mobile-select-box end-sales">
            <label for="select1" class="w-100 col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading">What was the main reason for ending the sales cycle? * </label>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 no_pad customized-select">
              <span class="caret color-azure"></span>
              <select disableOptionCentering panelClass="Select-panel-class"
                class="select-focus mat-select {{service.getSelectedClass(reasonId)}}" [(ngModel)]="reasonId" name="reason" id="select1" role="listbox" (ngModelChange)="getStatus($event, reasonId)"  [disabled]="disableFields || disableReason || disableReasonField" [ngClass]="reasonFlag==1?'orangeborder':''">
                <option value="" selected hidden>Select Reason</option>
                <option *ngFor="let reasonss of EndSalesCycleReasonsarray1" [value]="reasonss.Name" title=" {{reasonss.Name}} " >{{reasonss.Name}}</option>
              </select>
              <p *ngIf="reasonFlag==1" class="error-message top-40" >Select the reason</p>
            </div>  
          </div>

        </div>


        <!-- Select DROPDOWN for Meeting Stage Ends -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 float-left mt20 mb20 end-sales" *ngIf="nthingSelected== true" title="{{ wiproExcludedName }}">
            <label for="select2" class="w-100 col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading">At what stage wipro excluded from further bidding? *</label>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 no_pad customized-select">
              <span class="caret color-azure"></span>
              <select [ngClass]="wiproExcludedFlag==1?'orangeborder':''" [(ngModel)]="wiproExcludedName" name="reason2" id="select2" role="listbox"  [disabled]="disableFields" (change)="wiproExc(wiproExcludedName)">

                  <option *ngFor="let excluded of wiproExcludedArray" [value]="excluded.Label" title="{{excluded.Label}}">{{excluded.Label}}</option>
                  <!-- <option value="Eventtype2">Last four</option>
                  <option value="Eventtype3">Last six</option>
                  <option value="Eventtype4">Early elimination</option> -->

              </select>
              <p *ngIf="wiproExcludedFlag==1" class="col-12 no_pad float-left validation-text manditary-cls">Select when was wipro excluded</p>
            </div>
          </div>

        <!--Linked campaigns autocomplete starts -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left mt20 padr-10" *ngIf="opportunityname" title="{{ contactcampaign }}">
          <div class="col-12 no_pad float-left plb-60-20 cust_autoComplete pos-rel"   (clickOutside)="linkedcampaignClose()">
            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="contactcampaign" class="label_heading">Opportunity*
              </label>
              <!-- id="oppSearch" -->
              <input      appKeyListControl #opportunityInEndSales
              (arrowDown)="arrowkeyLocation=$event"
              (keyup.enter)="appendcampaign(campaignContact[arrowkeyLocation],arrowkeyLocation);linkedcampaignSwitch=false;"
              [attr.data-arrayMaxLength]="campaignContact?.length"  [attr.data-isDownBtn]=true
               role="combobox" aria-autocomplete="list"
               [attr.aria-expanded]="linkedcampaignSwitch?true:false" aria-owns="read"
              [attr.aria-activedescendant]="arrowkeyLocation" id="oppSearch"

class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input cursorPointer" id="contactcampaign" name="contactcampaign"
                autocomplete="off" type="text" [(ngModel)]="contactcampaign" placeholder="Search" (clickOutside)="linkedcampaignSwitch = false"
                (click)="getCampaignData(contactcampaign); linkedcampaignSwitch = true " (input)= "linkedcampaignSwitch = true;getCampaignData(contactcampaign) " [ngClass]="opportunityFlag==1?'orangeborder':''"  [disabled]="disableFields">
              <span class="mdi mdi-magnify"></span>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-right border-btm z-ind-9999 float-left no_pad suggestion-box pos-abs border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white"
                *ngIf="linkedcampaignSwitch">
                 <!-- contactcampaign &&  -->
                <perfect-scrollbar style="max-height:145px" class="z-ind-9">
                    <ul *ngIf="isSearchLoaderForOrder" class=" list-group color-azure  sort-dropdown mr2">
                        <li  class="liststyle_none loader-search"></li>
                     </ul>
                  <ul *ngIf="!isSearchLoaderForOrder" class=" list-group mr2  sort-dropdown ">
                    <li  id="{{elementIndex}}" tabindex="0" role="option" [class.active]="elementIndex==arrowkeyLocation" aria-disabled="false"

                    class="list-group-item h-50 p-4-10" (click)="appendcampaign(item,elementIndex)" *ngFor="let item of campaignContact |filter:contactcampaign  ;let elementIndex = index" title="{{ item.Name }}">

                      <label style="cursor: pointer;" for="inti_name" class="float-left name w-80">
                        <span class="d-block list-name ellipses w-350" title="{{item.Name}}">{{item.Name}}</span>
                        <span class="d-block sub-list">{{item.OwnerIdName}}</span>
                      </label>

                    </li>
                    <li class="d-block list-name h-40 p-10 cp" *ngIf="(campaignContact |filter:contactcampaign).length == 0">
                      No record found </li>


                  </ul>
                </perfect-scrollbar>
                <span class="db-search"  (click)="openadvancetabs('opportunity',campaignContact, contactcampaign)">
                  <button id="{{campaignContact?.length+1}}" role="option" tabindex="0"
                  aria-disabled="false" type="button" class="button-search" [class.active]="campaignContact?.length+1 == arrowkeyLocation" >
                    <span class="mdi mdi-file-outline"></span> Advance look up
                  </button>
                </span>
              </div>
            </form>
            <p *ngIf= "opportunityFlag==1" class="col-12 no_pad float-left validation-text manditary-cls">Select the opportunity.</p>
          </div>
        </div>
        <!--Linked campaigns autocomplete ends-->

        <!-- *ngIf="(showtable == false && nthingSelected== false ) -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb20" title="{{description}}" *ngIf="wiproExcludedReason== false ">
          <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 float-left mt20">
            <label class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading">
              Please provide some additional detail explaining the reason for ending the sales cycle.</label>
            <textarea class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 float-left  input-text text-height-70" id="text3" name="text"
              type="text" [appAlphaNumeric] = "'alphanumeric'" placeholder="Enter additional details here." [(ngModel)]="description"  [disabled]="disableFields " maxlength = "2000"></textarea>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 normal_table" *ngIf="showtable">

          <!-- <div class="col-12 no_pad float-left"> -->
          <!-- Table starts here -->
          <label class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading" id="tabletext">
              Please provide the reasons why customer did not award this opportunity to wipro? *</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad border-btm">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th class="col-lg-2 col-xl-2 float-left">LOSS CATEGORY *</th>
                  <th class="col-lg-2 col-xl-2 float-left">LOSS REASON *</th>
                  <th class="col-lg-3 col-xl-3 float-left no_pad">ADDITIONAL DETAILS (10 CHARACTERS) *</th>
                  <th class="col-lg-2 col-xl-2 float-left">INFORMATION SOURCE *</th>
                </tr>
              </thead>


              <tbody>
                <tr *ngFor="let data of competitor_data1; let i = index">
                  <td class="col-12 no_pad float-left display-none"></td>
                  <td class="col-xl-2 col-lg-2 float-left mobile-no_pad" title="{{ data.category }}" [attr.data-label]="'LOSS CATEGORY *'">
                    <div class="col-12 customized-select no_pad">
                      <span class="caret color-azure"></span>
                      <select [ngClass]=" (tableFlagId==1 && i==0 && data.Id=='') || (tableFlagIdC==1 && indexHigh==i)?'orangeborder':''" id="select1" role="listbox" [(ngModel)]="data.Id" class="ellipses" (change) = "lossReasonMethod($event,i, data)"  [disabled]="disableFields">
                          <!-- disabled  selected -->
                        <option value="" selected>Select category</option>
                        <option *ngFor="let method of GetLossCategories" [value]='method.LossCategoryId' title="{{ method.Name }}">{{method.Name}} </option>

                      </select>
                      <p *ngIf= "(tableFlagId==1 && i ==0 && data.Id=='') || (tableFlagIdC==1 && indexHigh==i)" class="error-message top-40" title="Select category">Select category</p>
                    </div>
                  </td>
                  <td class="col-xl-2 col-lg-2 float-left mobile-no_pad"  title="{{data.reason}}" [attr.data-label]="'LOSS REASON *'">
                    <div class="col-12 customized-select no_pad">
                      <span class="caret color-azure"></span>

                      <!-- || disableReasonDropdown -->
                      <select [ngClass]="(tableFlagReason==1 && i ==0 && data.reasonId=='') || (tableFlagReasonC==1 && indexHigh==i) ?'orangeborder':''" id="select2" role="listbox" [(ngModel)]="data.reasonId"  class="ellipses"  [disabled]="disableFields || data.disableLR  " (change) = "selectReason( $event , data)">
                          <option value="" selected>Select reason</option>
                        <option *ngFor="let reason of data.lossReasonarray" [value]='reason.LossReasonId' title="{{reason.Name}}">{{reason.Name}} </option>
                      </select>
                      <p *ngIf= "(tableFlagReason==1  && i ==0 && data.reasonId=='') || (tableFlagReasonC==1 && indexHigh==i)" class="error-message top-40" title="Select reason">Select reason</p>
                    </div>
                  </td>
                  <td class="col-xl-3 col-lg-3 float-left no_pad mobile-no_pad" [attr.data-label]="'ADDITIONAL DETAILS (10 CHARACTERS) *'">
                    <div class="col-12 customized-input no_pad" title="{{data.AdditionalDetails}}">


                      <input id="field1" autocomplete="off" [ngClass]=" (tableFlagAdditionalDetails==1 && i ==0 && data.AdditionalDetails=='') || (tableFlagAdditionalDetailsC==1 && indexHigh==i) ?'orangeborder':''" type="text" [appAlphaNumeric] = "'alphanumeric'" class="border-gray col-12" [(ngModel)]="data.AdditionalDetails" (change) = "enterAdditionalDetails()" value="Additional details" placeholder="Additional details"  [disabled]="disableFields" maxlength = "100">
                      <p *ngIf= "(tableFlagAdditionalDetails==1 && i ==0 && data.AdditionalDetails=='') || (tableFlagAdditionalDetailsC==1 && indexHigh==i)"  class="error-message top-40" title="Enter additional details">Enter additional details</p>
                    </div>
                  </td>
                  <td class="col-xl-2 col-lg-2 float-left mobile-no_pad" [attr.data-label]="'INFORMATION SOURCE *'">
                    <div class="col-12 customized-select no_pad" title="{{data.infoSource}}">
                      <span class="caret color-azure"></span>
                      <select [ngClass]="(tableFlagComments==1 && i ==0 && data.InformationSource=='') || (tableFlagCommentsC==1 && indexHigh==i) ?'orangeborder':''" id="select14" role="listbox" [(ngModel)]="data.InformationSource" class="ellipses"  [disabled]="disableFields " (change) = "enterComments($event, data)">
                        <option value="" selected>Select source </option>
                        <option *ngFor="let id of getInformationSource" [value]='id.Value' title="{{id.Label}}">{{id.Label}} </option>
                      </select>
                      <p  *ngIf= "(tableFlagComments==1 && i ==0 && data.InformationSource=='') || (tableFlagCommentsC==1 && indexHigh==i) " class="error-message top-40" title="Select source">Select source</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!-- <p *ngIf= "tableFlag==1" class="col-12 no_pad float-left validation-text manditary-cls">Mandatory to fill the first row of the table</p> -->

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb20">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left no_pad"> 
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt21" title="{{wentWell1}}">
              <label class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no_pad float-left">
                Three things that went well (*one mandatory)</label>
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3" name="text" type="text" [appAlphaNumeric] = "'alphanumeric'" [ngClass]=" wentWellFlag==1 ?'orangeborder':''"
                placeholder="Reason 1" (change)= "wentWellUpdated()" [(ngModel)]="wentWell1" [disabled]="disableFields" maxlength = "2000"></textarea>
            </div>
            <p *ngIf= "wentWellFlag==1" class="col-12 no_pad float-left validation-text manditary-cls top114 left-1">Enter data for what went well</p>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt21"  title="{{wentWell2}}">
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3" name="text" [appAlphaNumeric] = "'alphanumeric'" type="text"
                placeholder="Reason 2" [(ngModel)]="wentWell2" [disabled]="disableFields" maxlength = "2000" (change)= "wentWellUpdated()"></textarea>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt21" title="{{wentWell3}}">
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3" name="text" [appAlphaNumeric] = "'alphanumeric'" type="text"
                placeholder="Reason 3" [(ngModel)]="wentWell3" [disabled]="disableFields" maxlength = "2000" (change)= "wentWellUpdated()"></textarea>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left no_pad">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt21"  title="{{wentWrong1}}">
              <label class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no_pad float-left">
                Three things did not go well (*one mandatory)</label>
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3" name="text" type="text" [appAlphaNumeric] = "'alphanumeric'" [ngClass]=" wentWrongFlag==1 ?'orangeborder':''"
                placeholder="Reason 1" [(ngModel)]="wentWrong1" [disabled]="disableFields"maxlength = "2000" (change)= "wentWrongUpdated()" ></textarea>
                <!-- <p *ngIf= "wentWrongFlag==1" class="col-12 no_pad float-left validation-text manditary-cls">Enter data for what went wrong</p> -->
            </div>
            <p *ngIf= "wentWrongFlag==1" class="col-12 no_pad float-left validation-text manditary-cls top114 left-34">Enter data for what went wrong</p>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt21" title="{{wentWrong2}}">
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3" name="text" type="text" [appAlphaNumeric] = "'alphanumeric'"
                placeholder="Reason 2" [(ngModel)]="wentWrong2" [disabled]="disableFields" maxlength = "2000" (change)= "wentWrongUpdated()"></textarea>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt21" title="{{wentWrong3}}">
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3" name="text" type="text" [appAlphaNumeric] = "'alphanumeric'"
                placeholder="Reason 3" [(ngModel)]="wentWrong3" [disabled]="disableFields" maxlength = "2000" (change)= "wentWrongUpdated()"></textarea>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left no_pad">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt21"  title="{{ofi1}}">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left">
                Please suggest opportunity for improvement (OFIs) based on your learnings *</label>
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3" name="text" type="text" [appAlphaNumeric] = "'alphanumeric'" [ngClass]=" OFIFlag==1 ?'orangeborder':''" (change)= "ofiUpdated()"
                placeholder="Reason 1" [(ngModel)]="ofi1"  [disabled]="disableFields" maxlength = "2000"></textarea>

            </div>
            <p *ngIf= "OFIFlag==1" class="col-12 no_pad float-right validation-text manditary-cls top125 left-67 mt10">Enter data for OFI</p>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt21" title="{{ofi2}}">
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3" name="text" type="text" [appAlphaNumeric] = "'alphanumeric'"
                placeholder="Reason 2" [(ngModel)]="ofi2" [disabled]="disableFields" maxlength = "2000" (change)= "ofiUpdated()"></textarea>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt21"  title="{{ofi3}}">
              <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3" name="text" type="text" [appAlphaNumeric] = "'alphanumeric'"
                placeholder="Reason 3" [(ngModel)]="ofi3" [disabled]="disableFields" maxlength = "2000" (change)= "ofiUpdated()"></textarea>
            </div>
          </div>
            </div>

            <app-competitor [story]="currentStory" [callValid]="validClicked" [parentSubject]="parentSubject" (endSale)="getData($event)" (validComp)="checkValidComp($event)" [disableFieldsInEndSales]= "disableCompetitor" [fromEndSalesCycle] = true></app-competitor>
          </div>
          <!-- [disableFieldsInEndSales]= "disableCompetitor" -->
