$Azure: #2f81ff;
$NavyBlue: #0e3570;
.border-botton-pad-10{
    border-bottom: solid 2px #d7d7d7;
    padding: 0px 0px 5px 0px;
}
.pad-r-100{
    padding-right: 100px;
}
.pad-10-20{
    padding: 10px 20px 0px 20px;
}
.pl_20{
  padding-left: 20px!important;
}
.w5{
  width: 5%!important;
}
.w50{
  width: 50%!important;
}
  .pad-RL-20{
      padding-left: 20px!important;
      padding-right: 20px!important;
  }
  .pad-20{
    padding: 20px;
  }
  .heading-level-two {
      font-family: WiproAkkuratTT-Bold;
      font-size: 20px;
      letter-spacing: -0.4px;
  }
  .txtstyle{
    background: #d9e9ff;
  }
  .textone{
   // padding: 20px 0 0 35px;
    font-size: 12px;
    font-family: "WiproAkkuratTT-Bold"
}
  .cursor-pointer {
    cursor: pointer;
  }
  .block-disp{
      display: block;
      position: relative;
  }
  .pad-45{
      padding: 0px 45px 0 0px;
  }
  .pad-25-40 {
          padding: 0 25px 0 40px;
  }
  
  .border-botton-pad-10{
    border-bottom: solid 2px #d7d7d7;
    padding:0px 0px 5px 0px;
  }
  
  .label-heading{
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
  }
  .totalAccText{
    font-family: WiproAkkuratTT-Regular;
    font-size: 11px;
  }
  
  .label-form {
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    line-height: 1.83;
    color: #4a4a4a;
    margin-bottom: 4px;
  }
  .mr30{
    margin-right: 30px;
  }
  .mr45{
    margin-right: 45px;
  }
  .pad-0-30{
      padding: 0 30px 30px 30px;
  }
  
  @media screen and (min-width: 320px) and (max-width: 768px) {

   .pl20{
     padding-left: 20px!important;
   }
   .pl_5{
     padding-left: 5px!important;
   }
  }
  table{
    width: 100%;
    margin-top: 3px;  
    
    td, th {
      text-align: left;
      padding: 8px;
    }

    tr td {
      height: 50px;
      font-size: 12px;
      font-weight: bold;
      font-family: WiproAkkuratTT-Regular;
    }

    tr:nth-child(odd) {
      background-color: #f0f0f080;
    }

    td tr {
        background-color: inherit;
    }
  }
  .colr-navyBlue{
    color: $NavyBlue;
  }
  .no_pad{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  