<!---------------------------- Lead History starts---------------------- -->
<div class="col-12 float-left mb50 lead-history">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left card no_pad mb10">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 card-content float-left pad-30 mediaPad">
      <div class="col-12 no_pad float-left ">
        <h3 class="heading-level-three">{{leadDetails?.Title}}</h3>
        <label>Lead status: <span class="{{leadDetails?.Status?.status}}">{{leadDetails?.Status?.status}}</span></label>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad  leadshist" *ngFor="let history of leadHistory;let i=index">
  <div class="float-left width6 no_pad">
    <div class="float-left circle-50">
      <button class=" iconHistory {{history.icon}}" type="button" ></button>
      <div class="border-vertical"></div>
    </div>
</div>
<div class=" float-left width94 pr0">
    <div class=" float-left card no_pad col-12 col-sm-12 col-md-12 col-lg-12 mt20">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 card-content float-left pad-18 ">
          <div class="float-left heading-level-three">{{history.Name}}</div>
          <div class="float-right mediaLeft">{{history.CreatedOn | date: 'dd-MMM-yyyy'}} by {{history.CreatedBy}}</div>
        <div class="float-left heading-level-three">{{history.heading}}</div>
        <div class="float-right mediaLeft">{{history.contenthead}}</div>
      </div>
    </div>
  </div>
  </div>
  <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad  leadshist">
  <div class="float-left width6 no_pad">
    <div class="float-left circle-50 colorBlue">
      <div class="iconHistory mdi mdi-rhombus-outline left13"></div>
      <div class="border-vertical"></div> 
    </div>
    </div>
<div class=" float-left width94 pr0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left card no_pad mt20">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 card-content float-left pad-18">
        <div class="float-left heading-level-three">Lead moved to nurture</div>
        <div class="float-right mediaLeft">16 Nov 2018 by Anubhav Jain</div>
      </div>
      </div>
    </div>
  </div> -->
</div>