$Azure: #2f81ff;
$White: #ffffff;
$MidNight: #103f86;

.padt-0
{
    padding-top: 0px !important;
}
.pad-top{
    padding-top: 10px !important;
}
.delegated_txt:hover .tooltiptext{
    visibility: visible;
    }
    .color-white{
        color:$Azure;      
      }
    .w180
    {
        width: 280px;
    }
    .add-btn-design{
        padding: 9px 5px;
        min-width: 45px;
        // margin-top: 5px;
        background: $MidNight;
    }

    .h-40{
        height: 40px;
    }
    .w-170{
        width: 170px;
    }
    .pad-right{
        padding-right: 10px;
        bottom: 2px;
        position: relative;
        font-weight: bold;
    }
    .mdi-view-dashboard:before {
        font-size: 18px;
    }
    .create-btn{
        bottom: 4px;
        position: relative;
    }
    .dwn-load-btn{
        position: relative;
        bottom: 3px;
        font-size: 18px;
        font-weight: bold;
    }
    .pad-left-10{
        padding-left: 10px !important;
        }
    .btn-align-right{
        background: transparent;
        color: white;
        border: 2px solid white;
    }
    .btn-align-right:hover{
      background: $White;
      color: $Azure;
    }
// Alex code starts from here.. 01-04-2019
    ul{
      position: absolute;
      z-index: 1;
      right: 0;
      width: 167px;
      // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      padding: 0px 12px;
      margin: 0px;
      list-style-type: none;
      border: 2px solid #2f81ff;
       border-top: none !important;
    }
    ul li:hover{
      background-color: #d9e9ff;
      font-family: WiproAkkuratTT-Bold;
    }

    ul .border_property {
      border-bottom: 1px solid #ffffff2e;
  }
  .w140 {
    width: 167px;
  }
  .ml10 {
    margin-left: 10px;
  }
  .mt2{
    margin-top: 2px;
  }
  .mr10{
    margin-right: 10px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .caret.up {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .caret {
    display: inline-block;
    position: relative;
    top: 17px;
    right: 10px;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-right: 5px solid #52494900;
    border-left: 5px solid transparent;
    z-index: 8;
    color: #2f81ff;
    pointer-events: none;
    top: 16px !important;
  }

  [role="button"] {
    cursor: pointer;
    padding-left: 30px;
    padding-top: 0px;
  }
  .cp
  {
    cursor: pointer;
  }
.web-alpha-caret {
  color: #ffff;
  position: absolute;
}
.d-flex {
  display: flex;
}
// search box starts
input {
  background: transparent;
}
input::placeholder {
  color: $White !important;
}
.w105 {
  width: 105px;
}
.w180 {
  width: 280px;
}
// search box ends
// card css stars
  .card {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  }
  .pb-35 {
    margin-bottom: 35px;
  }
  .card-header {
    background-color: $White;
    border: none;
    span {
      font-size: 16px;
      font-weight: bold;
      color: #2f81ff;
      position: relative;
      left: 11px;
      bottom: 2px;
    }
  }
  .card-body {
    display: flex;
    .created-by, .created-on {
      span {
        color: #9b9b9b;
        font-size: 12px;
      }
      p {
        font-size: 14px;
        color: #000000;
      }
    }
    .blue_circle_replay {
      float: left;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #d9e9ff;
      position: relative;
      text-align: center;
      margin: 5px;
    }
    .moreActions {
      position: absolute;
      bottom: 21px;
      left: 30px;
    }
  }

.mdi-share-variant:before {
    color: #2f81ff;
}
.mdi-border-color:before {
  color: #2f81ff;
  margin-top: 4px;
}

.mdi-delete:before {
  color: #2f81ff;
  margin-top: 2px;
}
.mdi-share-variant:before {
    color: #2f81ff;
    margin: 2px 1px 2px 0px;
}

.mdi-pin:before {
    color: #2f81ff;
    font-size: 18px;
}
.mdi-pin-outline:before {
    color: #2f81ff;
    font-size: 18px;
}
// card css ends
.bottom-10{
  bottom: 10px;
}

// 03.04 changes Pradeep
.pad-leftright{
  padding: 0px 10px;
}

.pad-left5{
padding-left: 5px !important;
}

.w-155{
  width: 155px;
}
.wid-50{
  width: 50px;
}
.text_ellipses
{
 overflow: hidden;
 white-space: nowrap;
 width: 150px;
 text-overflow: ellipsis;
}

.display_flex
{
display: flex;
}
.card{
  margin-bottom: 0px;
}
.no_record_moreview{
  text-align: center;
  top:150px;
}