.deal-milestone-container
{
    margin-top: 30px;
    .upload-milestone {
        padding: 0 40px;
      }
      .deal-head-txt
      {
        border-bottom: solid 1px #d7d7d7;
        padding-bottom: 10px;
    margin-bottom: 25px;
      }
      .btns-div
  {
    margin-top: 15px;
    padding: 15px 36px;
        .w-95 {
            min-width: 120px;
        }
    .w-189
    {
        min-width: 189px;
        max-width: 222px;
        margin-top: 0;
    }
    .w-121
    {
        min-width: 121px;
        max-width: 121px;
    }
    .attach-icon-deal
    {
        position: relative;
        &:before{
            transform: rotate(-90deg);
    font-size: 18px;
    position: absolute;
    left: 17px;
    bottom: 7px;
        }
    }
  }
  .mar-botm22
  {
      margin-bottom: 22px;
  }
  .mt0
  {
      margin-bottom: 0;
  }
  .border-top
  {
    border-top: solid 1px #d7d7d7;
  }
  .upload-input
  {
    position: absolute;
    padding: 6px 0;
    right: -1px;
    top: -2px;
    z-index: 9;
    opacity: 0;
  }
}

.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}
.loaderContainer {
width: 100%;
top:0em;
position: absolute;
height: 100%;
z-index: 9999;
background: white;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
