<div class="col-12 float-left  no_pad popup-container ">
    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-11 float-left  no_pad popup-hd-txt popup-hd-size" mat-dialog-title>Confirm approval</span>
            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn close_bottom5" aria-label="close" mat-dialog-close></button>
        </div>
        <div class="col-12 float-left border-bottom-grey1"></div>
        <div class="col-12 float-left  no_pad">
            <span class="col-12 float-left  no_pad logo-hd-popup padt-20 padd-bottm40">Are you sure you want to approve the account
reference request for ‘Account 1’?</span>
       </div>
    </div>
    <div class="col-12 float-left no_pad">
        <button aria-label="Confirm" (click)="accservive.accounttoast('Successfully confirmed')" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close  [routerLink]="['/accounts/accountcreation/activerequest']">Confirm</button>
    </div>
</div> 
