<!--<div class="col-12 float-left  no_pad popup-container accountOwn ">
    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd ">
            <span class="col-10 float-left  no_pad popup-hd-txt popup-hd-size" mat-dialog-title>Confirm approval</span>
            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close"
                mat-dialog-close></button>
        </div>
        <div class="col-12 float-left border-bottom-grey1"></div>
        <div class="col-12 float-left  no_pad">
            <span class="col-12 float-left  no_pad logo-hd-popup1 padt-20">Are you sure you want to confirm the creation
                of <span>{{data.itemData.Name}}</span> and add it to current hunting accounts? </span>
        </div>
        <div class="col-12 float-left  no_pad">
            <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text-popup"
                id="text3" name="text" [(ngModel)]="overallcomment" type="text" placeholder="Type here"></textarea>
        </div>
    </div>
    <div class="col-12 float-left no_pad">

        <button aria-label="Confirm" class="col-12 float-left btndef-none no_pad confrm-btn" (click)="ConfirmComment();">Confirm</button>

        <button aria-label="Confirm" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close
            (click)="Confirm();accservive.accounttoast('\<Account name\> having the account number \<Account #\> has been successfully created. The account can be viewed in the account list page.')">Confirm</button>

    </div>
</div>-->

<!--july 6th vd chethana starts-->
<!-- <div class="col-12 float-left  no_pad popup-container " *ngIf="((accountData.HuntingRatio <= 7  || accountData.RequesttypeId == 3 || !accountData.HuntingRatio || accountData.isSwappedAccount) && (accountData.redirect_from=='acc_req'))|| accountData.redirect_from=='modif_req' || accountData.redirect_from=='assign_ref' "> -->
<div class="col-12 float-left  no_pad popup-container " *ngIf="(accountData.redirect_from=='acc_req' && !(accountData.HuntingRatio >7 && (accountData.Swapaccount == '' || accountData.Swapaccount == '-' || accountData.Swapaccount == 'NA')))|| accountData.redirect_from=='modif_req' || accountData.redirect_from=='assign_ref' ">
    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span *ngIf="accountData.redirect_from=='acc_req' && accountData.HuntingRatio <= 7  && (accountData.Swapaccount == '' || accountData.Swapaccount == '-' || accountData.Swapaccount == 'NA') " class="col-10 float-left  no_pad popup-hd-txtsize popup-hd-size"
                mat-dialog-title>Do you want to
                confirm the creation of ’{{accountData.Name}}’?</span>
            <!-- added by divya as on 9th April-->
            <span *ngIf="accountData.redirect_from=='acc_req' && (accountData.Swapaccount != '' && accountData.Swapaccount != '-' && accountData.Swapaccount != 'NA')" class="col-10 float-left  no_pad popup-hd-txtsize popup-hd-size" mat-dialog-title>Are you sure you want to swap '{{accountData.Swapaccount}}' with ‘{{accountData.Name}}’</span>
            <!-- added by divya as on 9th April-->
            <span *ngIf="accountData.redirect_from=='assign_ref'" class="col-10 float-left  no_pad popup-hd-txtsize popup-hd-size" mat-dialog-title>Are you sure you want
                to
                approve the account reference
                request for ‘{{accountData.Name}}’?</span>
            <!--<span class="col-10 float-left  no_pad popup-hd-txtsize popup-hd-size" mat-dialog-title>Do you want to confirm the
               creation of ‘Account name’?</span>-->
            <!--<span class="col-10 float-left  no_pad popup-hd-txtsize popup-hd-size" mat-dialog-title>Are you sure you want to
               confirm the creation of ‘Account name’</span>-->
            <span *ngIf="accountData.redirect_from=='modif_req'" class="col-10 float-left  no_pad popup-hd-txtsize popup-hd-size" mat-dialog-title>Are you sure you want
                to
               {{isActivation?isActivation:'Approve'}}  the modification of ‘{{accountData.Name}}’?</span>
            <button class="col-2 float-left no_pad btndef-none mdi mdi-window-close close-icn close_bottom5" aria-label="close" mat-dialog-close></button>
        </div>
        <!-- <div class="col-12 no_pad float-left mt10  h-40"> -->
        <!--<div class="col-12 float-left  no_pad">
                        <span class="col-12 float-left  no_pad logo-hd-popupcolor  padd-bottm40">
                            The existing account ‘Account 1’ will be swapped
                            with the new account ‘Account 2’..</span>
                        <span class="col-12 float-left  no_pad logo-hd-popupcolor  padd-bottm40 mt15">
                            Post approval, ‘Account 1’, will be moved to the
                             reserve account list.</span>
                  </div>-->
        <!-- </div> -->

        <!-- <div class="col-12 float-left border-bottom-grey1"></div> -->
        <!-- <div class="col-12 no_pad float-left">
            <div class="customized-select paddtop-25">
                <span class="mdi mdi-chevron-down color-azure caretpopup"></span>
                <select id="CoversationT1" role="listbox" class="marbtm-45">
                    <option value="Face to face conversation">Reason code</option>
                    <option value="Virtual conversation">Not Listed</option>
                    <option value="Telephonic Conversation">Delay in Delivery</option>
                </select>
            </div>
        </div> -->
        <div *ngIf="isActivation" class="col-12 float-left  no_pad">
            <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left Padd-5 h-40 input-text-popup" id="text3" [(ngModel)]="overallcomments" name="text" type="text" placeholder="Type here"></textarea>
        </div>
        <!--<div class="col-12 float-left  no_pad">
            <span class="col-12 float-left  no_pad logo-hd-popupcolor  padd-bottm40">
            Your request for account will be submitted to
            SE-POC for approval. You will be able to view the
            status under the ‘Active request’ view.</span>
       </div>-->
        <!-- added by divya as on 9th April-->
        <div *ngIf="accountData.redirect_from=='acc_req' && (accountData.Swapaccount != '' && accountData.Swapaccount != '-' && accountData.Swapaccount != 'NA')">
            <span class="col-12 float-left  no_pad padt-20 logo-hd-popup ">Post approval ‘{{accountData.Swapaccount}}’ will be
            converted into a reserve account</span>
        </div>
        <!-- added by divya as on 9th April-->
    </div>
    <div class="col-12 float-left no_pad">
        <button class="col-6 float-left no_pad cancel-btn1 mt15" (click)="ConfirmComment('no',overallcomments)" aria-label="NO">No</button>
        <!--<button aria-label="YES" (click)="submitComment(overallcomments)" class="mt15 col-6 float-left btndef-none no_pad confrm-btn" 
        >Yes</button>-->
        <button aria-label="YES" class="mt15 col-6 float-left btndef-none no_pad confrm-btn" (click)="ConfirmComment('yes',overallcomments)">Yes</button>
    </div>
</div>


<!-- alert popup comes here -->
<!-- <div class="col-12 float-left no_pad popup-container overview" *ngIf="accountData.HuntingRatio > 7 && (accountData.RequesttypeId != 3) && (accountData.redirect_from=='acc_req') && !accountData.isSwappedAccount"> -->
<div class="col-12 float-left no_pad popup-container overview" *ngIf="accountData.redirect_from=='acc_req' && accountData.HuntingRatio > 7  && (accountData.Swapaccount == '' || accountData.Swapaccount == '-' || accountData.Swapaccount == 'NA')">
    <div class="col-12 float-left pb-30 container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-10 float-left  no_pad  mt5" mat-dialog-title>More information</span>
            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close" mat-dialog-close></button>
        </div>
        <div class="col-12 float-left border-bottom-grey"></div>
        <div class="col-12 float-left pa-text no_pad">
            <span class="col-2 mdi float-left mdi-information-outline infoIcon"></span>
            <span class="col-10 float-right no_pad txt-style1 text-bold">Account owner <span class="clickhere">
                    {{accountData.Owner}} </span>has {{accountData.HuntingRatio}} total hunting accounts and {{accountData.ExistingRatio}} Existing Accounts. Please Swap the account to proceed further
            </span>
        </div>
        <div class="col-12 float-left border-bottom-grey1"></div>
        <div class="col-12 float-left no_pad padb-20 mt20">
            <div class="col-12 no_pad float-left">
                <span class="text-dark text-bold">Request type: </span>
                <span class="txt-style1">{{accountData.Requesttype}}</span>
            </div>
            <div class="col-12 no_pad float-left">
                <span class="text-dark text-bold">Status: </span>
                <span class="txt-style1">{{accountData.Status}}</span>
            </div>
            <!--<div class="col-12 no_pad float-left mt20">
                <span class="text-dark text-bold">Comments: </span>
                <span
                    class="txt-style1">{{(accountData.OverAllComments && accountData.OverAllComments[0].Comment)?accountData.OverAllComments[0].Comment:''}}(
                    {{(accountData.OverAllComments[0] && accountData.OverAllComments[0].Comment)?(accountData.OverAllComments[0].CommentedOn | date:'dd/MMM/yyy'):''}}
                    ) </span>
            </div>-->
        </div>
    </div>
</div>
<!--july 6th vd chethana ends-->