<div class="col-12 float-left  no_pad popup-container ">
    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left no_pad popup-hd mb20">
            <span *ngIf="accountData.redirect_from=='acc_req'" class="col-10 float-left  no_pad popup-hd-txt popup-hd-size" mat-dialog-title>Are you sure you want to reject this account creation?</span>
            <span *ngIf="accountData.redirect_from=='assign_ref'" class="col-10 float-left  no_pad popup-hd-txt popup-hd-size" mat-dialog-title>Are you sure you want to reject this account?</span>
            <span *ngIf="accountData.redirect_from=='modif_req' && accountData.AccounttypeId == 1" class="col-10 float-left  no_pad popup-hd-txt popup-hd-size" mat-dialog-title>Are you sure you want to reject this reserve account?</span>
            <span *ngIf="accountData.redirect_from=='modif_req' && accountData.AccounttypeId != 1" class="col-10 float-left  no_pad popup-hd-txt popup-hd-size" mat-dialog-title>Are you sure you want to reject this account modification?</span>
            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close" mat-dialog-close></button>
        </div>

        <div class="col-12 float-left  no_pad">
            <label class="label-form" for="additionalComments">Additional comments<span class="asteriq"> * </span></label>
            <textarea [ngClass]="rejSubmitted  ? 'error' :'' " class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text-popup ac-bottom-0" id="additionalComments" name="text" [(ngModel)]="overallcomment" type="text" placeholder="Type here"></textarea>
            <p *ngIf="rejSubmitted  " class="error-message custom-label top-155">Comments field is mandatory</p>
        </div>
    </div>
    <div class="col-12 float-left no_pad mt15">
        <!-- <button aria-label="done" class="col-12 float-left btndef-none no_pad confrm-btn" (click)="ConfirmComment();">Done</button> ;ConfirmComment(overallcomment);-->
        <button aria-label="No" class="col-6 float-left btndef-none no_pad discard-btn" (click)="ConfirmComment('no');">No</button>
        <button aria-label="Yes" class="col-6 float-left btndef-none no_pad confrm-btn mt15" (click)="submitComment('yes', overallcomment)">Yes</button>
    </div>
</div>