
<div class="col-12 float-left no_pad popup-container overview history-popup">
    <div class="col-12 float-left pb-30 container-dialog padb-20">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-10 float-left  no_pad  mt5" mat-dialog-title>History</span>
            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close"
                mat-dialog-close></button>
        </div>
        <div class="col-12 float-left border-bottom-grey"></div>
        <perfect-scrollbar style="max-height:250px">
            
        <div class="col-12 float-left no_pad padt-20" *ngFor="let item of userdat.historyitems">
               
            <div class="col-12 no_pad float-left">
                <span class="text-dark text-bold">{{item.StatusName}}</span>
                <span class="txt-style1"> {{item.StatusData}}</span>
            </div>
            <div class="col-12 no_pad float-left">
                <span class="text-dark text-bold">{{item.ReasonName}} </span>
                <span class="txt-style1">{{item.ReasonData}}</span>
            </div>
            <div class="col-12 no_pad float-left">
                <span class="text-dark text-bold">{{item.CommentsName}} </span>
                <span class="txt-style1">{{item.CommentsData}}</span>
            </div>
            <div class="col-12 float-left border-bottom-grey padt-20"></div>
        </div>
        </perfect-scrollbar>
    </div>
    </div>