$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
.mt140
{
  margin-top: 140px;
}
.h-285 {
  height: 220px;
}
.pt100 {
  padding-top: 135px;
}

.pad-20{
  padding: 20px;
}

.brudcrumbs {
  position: relative;
  left: 7px;
  bottom: 2px;
  opacity: 0.8;
  font-size: 12px;
  color: #e7ebf2;
}
.heading-custom {
  position: relative;
  left: 6px;
}
.cursor-pointer {
  cursor: pointer;
}

.mdi-keyboard-backspace:before {
  content: "\F30D";
  font-size: 22px;
  color: #ffff;
  position: relative;
  // bottom: 40px;
}

.pad-30 {
  padding: 30px;
}

.mt-30{
  margin-top:30px
}

.mt-150 {
  margin-top: 115px;
}
.pad-top142{
    padding-top: 142px;
  }
  .primary-button.std{
    padding: 7px 0;
    min-width: 100px;
    height: 40px;
    margin: 0;
}
.mr10 {
    margin-right: 10px !important;
}
.borderless {
    border: none !important;
}

.plb-0-20 {
    padding: 8px 0 8px 15px;
}
.pad-20-30{
  padding: 20px 30px;
}


.insight {
  .h-250 {
      height: 250px;
  }

  .header-action-tab {
      padding: 12px 0px;
  }

  .pad-lr-30 {
      padding-left: 30px;
      padding-right: 30px;
  }

  .pos-rel {
      position: relative;
  }

  .mtop-150 {
      margin-top: 150px;
  }

  .mtop-20 {
      margin-top: 20px;
  }

  .width_25 {
      color: white;
      width: 28px;
      .mdi-keyboard-backspace {
          font-size: 22px;
          cursor: pointer;
      }
  }

  .mtop-5 {
      margin-bottom: 0px;
      margin-top: 5px;
  }

  .colorWhite {
      color: $Marble;
   }

  .accord-heading .accordian-title {
      font-size: 16px;
      font-family: 'WiproAkkuratTT-Bold';
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: $Black;
  }

  .pad-top-8 {
      padding:8px 0 0 0 ;
  }

  table {
      width: 100%;
      margin-top: 3px;      
  
      tr th {
          background: #e6f3f9;
          height: 35px;
          color: $NavyBlue;
          font-family: WiproAkkuratTT-Regular;
          font-size: 12px; 
      }

      .br-tl {
          border-radius: 5px 0 0 0;
      }

      .br-tr {
          border-radius: 0 5px 0 0;
      }

      .brdr-lr {
          border-left: 2px solid white;
          border-right: 2px solid white;
      }

      .brdr-left {
          border-left: 2px solid white;
      }

      .brdr-right {
          border-right: 2px solid white;            
      }
      .br-tlr {
          border-radius: 5px 5px 0 0;
      }

      td, th {
          text-align: left;
          padding: 8px;
        }

        tr td {
          height: 50px;
          font-size: 12px;
          font-weight: bold;
          font-family: WiproAkkuratTT-Regular;
        }

        tr:nth-child(even) {
          background-color: #f0f0f080;
        }

        td tr {
            background-color: inherit;
        }
  }
  
  .c-blue {
      color: $Azure;
  }
  p, small {
      font-size: 12px;
      font-weight: bold;
      font-family: WiproAkkuratTT-Regular;
      margin-bottom: 0px;
      margin-top: 5px;
  }

  .mdi-chevron-up:before, .mdi-chevron-down:before {
      font-size: 28px;
      color: $Black !important;
      margin-right: 5px;
  }
  .border-bottom-grey {
      border-bottom: solid 1.5px #d7d7d7;
  }

  .mat-expansion-panel-header-title {
  margin-right: 0px !important;
  // font-family: WiproAkkuratTT-Bold;
  // color: #4a4a4a;
  // font-size: 16px;
  }

  .customized-accordians {
      margin-top: 20px;
  }

  .sub-text {
     font-size: 14px;
     color: $Azure;
     font-family: WiproAkkuratTT-Regular;
  }

  .small-text{
    text-align: right;
  }
  .pad-topbtm{
    padding: 15px 0;
  }
  .data-head{
    color: #6f6f6f;
    font-family: 'WiproAkkuratTT-Regular';
    margin-bottom: 0px !important;
    font-size: 13px;
  }
  .table-data{
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold';
    color: #2e2e2e;
  }
  .sub-head{
    font-size: 14px;
    font-family: WiproAkkuratTT-Bold;
    padding: 15px 0 5px 0;
  }
  .data-text {
    font-size: 13px;
    font-family: 'WiproAkkuratTT-Regular';
    color: #000000;
  }
  .pad-15{
    padding: 15px 0 0px 0 !important;
  }
}

.width-12 {
  width: 12%;
}
.width-15 {
  width: 13%;
}
.max-width {
  max-width: 185px;
}
.width-11 {
  width: 11%;
}

.display-none
{
    display: none;
}
.mb20 {
  margin-bottom: 20px !important;
}
.tree-main-container{
    padding: 0px 15px 0px 0px;
}
.tree-card{
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 4px;
}
.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .mat-tree-node{
    font-family: 'WiproAkkuratTT-Bold';
    font-size: 12px;
  }
  .color-azure{
      color: #2f81ff;
  }
  .padding-left15{
      padding-left: 60px;
  }
  .tree-header{
    font-size: 14px;
    margin-bottom: 0;
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #ccc;
    font-family: 'WiproAkkuratTT-Bold';
  }
  .upper-text {
    font-family: WiproAkkuratTT-Bold;
    font-size: 18px;
    color: #000000;
  }
  
  .lower-text {
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    color: #000000;
  }
  .trans_back {
    background: transparent !important;
  }
  .disabled_check.customized-checkbox .mat-checkbox-frame {
    border-color: #d8d8d8 !important;
  }
  .comp_tool {
    font-family: "WiproAkkuratTT-Bold";
    font-size: 12px;
    color: #2f81ff;
  }
  .pb5 {
    padding-bottom: 5px;
  }
  .pad_10 {
    padding: 0px 10px !important;
  }
  .mdi-magnify:before {
    color: #2f81ff;
    font-size: 20px;
    right: 5px;
    position: absolute;
    bottom: 9px;
    background: #f9f9f9 !important;
  }
  .label-input:disabled + .mdi-magnify:before {
    color: #2f81ff;
    font-size: 20px;
    right: 5px;
    position: absolute;
    bottom: 9px;
    background: #f9f9f9 !important;
  }
  .top64 {
    top: 39px;
    min-width: 300px !important;
    z-index: 5;
  }
  .pad_t0 {
    padding-top: 0px !important;
  }
  .mdi-dots-vertical:before {
    position: relative;
    left: -1px;
    top: 0px;
    font-size: 18px;
  }
  td {
    padding: 2px 5px !important;
  }
  th {
    padding: 10px 5px !important;
  }
  .width120 {
    width: 120px !important;
  }
  .width125 {
    width: 160px !important;
  }
  .width80 {
    width: 80px !important;
  }
  .width95 {
    width: 95px !important;
  }
  .width10 {
    width: 10% !important;
  }
  .customized-select .caret {
    right: 15px !important;
  }
  .btop_withoutpadding {
    border-top: 2px solid #d8d8d8;
  }
  
  // Pradeep 19-04 changes
  
  .text-alignment {
    text-align: center;
  }
  
  .border-rightazure {
    border-right: 3px solid #d9e9ff;
  }
  .subtext1 {
    font-size: 14px;
    font-family: WiproAkkuratTT-Bold;
  }
  .label-data {
    font-size: 12px;
    font-family: WiproAkkuratTT-Regular;
    top: 8px;
  }
  .pt-10 {
    padding-top: 10px;
  }
  .padt0 {
    padding-top: 0px !important;
  }
  .plb-60-20 {
    padding: 0px 35px 20px 10px;
  }
  .width-14{
    width: 14.28%;
  }
  .nodepointer{
    cursor: pointer;
  }
  .noData{
    float: left;
    padding-left: 28em;
    margin-top: 9px;
  }
  .textElipse{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 226px;
    overflow: hidden;
  }
  .marginLeft{
    margin-left: 40px;
  }
  @media screen and (max-width: 823px) {
    .marginbottom20{
      margin-bottom: 20px !important;
      padding-right:0px !important;
    }
    .noDatamob{
      float:none;
      padding-left:0px !important;
      margin-top:0px !important;
      text-align: center !important;
      margin-left: 33% !important;
      margin-top: 20px !important;
    }
  }