<div class="top-header top-head-index insight order-hierarchy-mob" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left padd-0">

        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 float-left width_25 padd-0">
          <button (click)="goBack()" class="mdi mdi-keyboard-backspace back-buttonbg" role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
        </div>

        <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 float-left padd-0">
          <h1 class="heading-level-one mtop-5">Order hierarchy</h1>
          <small class="colorWhite">Opportunities</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  insight no_pad pad-lr-30 order-hierarchy-mob">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-250"></div>
    <div class="col-12 float-left customized-accordians mtop-20 pad-lr-30">
      <!-- <mat-accordion> -->


      <!-- sales order Accordian Starts-->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0 mb20 mtop-150">
        <div class="float-left col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 tree-main-container marginbottom20">
          <div class="tree-card float-left col-12">
            <h2 class="float-left col-12 tree-header">Orders</h2>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree float-left" >
             
              <!-- This is the tree node template for expandable nodes -->
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <li>
                  <div class="mat-tree-node" [ngClass]="treeControl.isExpanded(node) ? '' : 'color-azure'">
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name" *ngIf="node.Childrens?.length>0">
                      <mat-icon class="mat-icon-rtl-mirror" [ngClass]="treeControl.isExpanded(node) ? 'mdi mdi-minus-box-outline' : 'mdi mdi-plus-box-outline'">
                        
                      </mat-icon>
               
                    </button>
                   
                    <div class="nodepointer" (click)="getBookHierarchy(node)" >
                    {{node.OrderNumber ? node.OrderNumber : '-'}}</div>
                  </div>
                  <ul class="padding-left15" [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
            
            
            <!-- Copyright 2019 Google LLC. All Rights Reserved.
                Use of this source code is governed by an MIT-style license that
                can be found in the LICENSE file at http://angular.io/license -->
          </div>
        </div>
        <div class="float-left col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12 no_pad">
        <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header style="min-height:60px;">
            <mat-panel-title class="accord-heading">
              <span
                [ngClass]="panelOpenState ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
              <span class="accordian-title pad-top-8">Sales order booking hierarchy</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="col-12 float-left border-bottom-grey"></div>
          <div class="col-12 no_pad float-left">
            <span class="col-12 no_pad float-left sub-head">
              Order / Amendment - Details
            </span>
          </div>
          <div class="col-12 col-sm-6 col-xs-6 col-lg-4 col-xl-4 no_pad float-left" *ngFor="let data of table_data">

            <div class="col-12 no_pad float-left pad-topbtm"> 
              <label class="col-12 no_pad float-left data-head"> {{data.orderhead}} </label>
              <span class="col-12 no_pad float-left table-data textElipse"> {{ data.orderdata}} </span>
              
            </div>

          </div>

          <div class="col-12 no_pad float-left">
            <span class="col-12 no_pad float-left sub-head">
              Total order value - Year vs quarterly details
            </span>
          </div>

          <table class="no_pad">
            <thead>
              <tr>
                <th class="br-tl col-6 float-left">Base order value</th>
                <th class="col-6 float-left">Total order value</th>
              </tr>
            </thead>
            <tbody class="no_pad">
              <tr>
                <td class="col-6 float-left">{{ basevalue }}</td>
                <td class="col-6 float-left">{{valueTotal}}</td>
              </tr>
            </tbody>
            <!-- <tbody class="no_pad">
              <tr>
                <td class="col-6 float-left">280</td>
                <td class="col-6 float-left">1240</td>
              </tr>
             </tbody> -->
           
          </table>
          <div class="col-12 float-left border-bottom-grey"></div>

          <div class="col-12 no_pad float-left mt10 mb20">
            <div class="col-12 no_pad float-left sub-head">
              Note: Original value does not include the below:
            </div>
            <div class="col-12 no_pad float-left data-text">
              <span class="col-12 no_pad float-left ">
                (1) Serviceline - Dual credit projections not included
              </span>
              <span class="col-12 no_pad float-left ">
                (2) Alliances, larger team members and others projections not included
              </span>
            </div>
          </div>

        </mat-expansion-panel>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 order-hierarchy-mob">
          <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 no_pad float-left">
            <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad upper-text">OB allocation </span>
            <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad lower-text mb10">Please validate
              the
              projection values. You can make changes till 3 days from submssion for approval </span>
          </div>
        </div>
  <!-- business solution panel starts here -->
 
  <!-- business solution panel ends here -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0 mb20 normal_table">

          <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState1 = true"
            (closed)="panelOpenState1 = false">
            <mat-expansion-panel-header style="min-height:60px;">
              <mat-panel-title class="accord-heading mt-12">
                <span
                  [ngClass]="panelOpenState1 ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                <span class="accordian-title pad-top-8">Serviceline- Projections</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="col-12 float-left border-bottom-grey"></div>

            <table class="no_pad table table-borderless">
              <thead>
                <tr>
                  <th class="col-12 col-sm-6 float-left br-tl width-11 ellipses">Service lines</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Practice</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Sub practice</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">SL BDM</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">% of TCV</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Est. SL TCV</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Cloud</th>
                  <th class="col-12 col-sm-6 float-left width-12 ellipses">Engagment model</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Dual credit</th>
                </tr>
              </thead>
              <tbody class="no_pad">
                <tr *ngFor="let data of service_line">
                  <td class="display-none"></td>
                  <td [attr.data-label]="'Service Lines'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.ServiceLineName ? data.ServiceLineName : '-' }}">{{ data.ServiceLineName ? data.ServiceLineName : '-'}}</td>
                  <td [attr.data-label]="'Practice'" class="col-12 col-sm-6 float-left width-11 ellipses " title="{{ data.PracticeName ? data.PracticeName : '-' }}">{{ data.PracticeName ? data.PracticeName : '-'}}</td>
                  <td [attr.data-label]="'Sub Practice'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.SubpracticeName ? data.SubpracticeName : '-' }}">{{ data.SubpracticeName ? data.SubpracticeName : '-'}}</td>
                  <td [attr.data-label]="'SL BDM'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.WiproSlbdmidValueName ? data.WiproSlbdmidValueName : '-' }}">{{ data.WiproSlbdmidValueName ? data.WiproSlbdmidValueName : '-'}}</td>
                  <td [attr.data-label]="'% of TCV'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.WiproPercentageOftcv ? (data.WiproPercentageOftcv | number : '1.2-2'): '-' }}">{{ data.WiproPercentageOftcv ? (data.WiproPercentageOftcv | number : '1.2-2'): '-' }}</td>
                  <td [attr.data-label]="'Est. SL TCV'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.WiproEstsltcv ? (data.WiproEstsltcv | number : '1.2-2') : '-' }}">{{ data.WiproEstsltcv ? (data.WiproEstsltcv | number : '1.2-2') : '-' }}</td>
                  <td [attr.data-label]="'Cloud'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.Cloud ? data.Cloud : '-' }}">{{ data.Cloud ? data.Cloud : '-'}}</td>
                  <td [attr.data-label]="'Engagment model'" class="col-12 col-sm-6 float-left width-12 ellipses" title="{{ data.EngagementModelDisplay ? data.EngagementModelDisplay : '-' }}">{{ data.EngagementModelDisplay ? data.EngagementModelDisplay : '-'}}</td>
                  <td [attr.data-label]="'Dual Credit'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.WiproDualCredit ? data.WiproDualCredit : '-' }}">{{ data.WiproDualCredit ? data.WiproDualCredit : '-'}}</td>
                </tr>
                <tr  *ngIf="service_line && service_line.length==0">
                  <span class="noData noDatamob">No record found!</span>
                </tr>
              </tbody>
            </table>

          </mat-expansion-panel>
        </div>
        <!-- ob-allocation -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0 mb20 normal_table">

          <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState2 = true"
            (closed)="panelOpenState2 = false">
            <mat-expansion-panel-header style="min-height:60px;">
              <mat-panel-title class="accord-heading mt-12">
                <span
                  [ngClass]="panelOpenState2 ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                <span class="accordian-title pad-top-8">IP</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="col-12 float-left border-bottom-grey"></div>

            <table class="no_pad table table-borderless">
              <thead>
                <tr>
                  <th class="col-12 col-sm-6 float-left br-tl width-11 ellipses">IP*</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Module*</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Service line</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Practice</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Sl BDM</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">License value*</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">AMC value*</th>
                  <th class="col-12 col-sm-6 float-left width-12 ellipses">Cloud</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Holmes BDM</th>
                </tr>
              </thead>
              <tbody class="no_pad">
                <tr *ngFor="let data of IP_line">
                  <td class="display-none"></td>
                  <td [attr.data-label]="'Service Lines'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.Name ? data.Name : '-' }}">{{ data.Name ? data.Name : '-' }}</td>
                  <td [attr.data-label]="'Practice'" class="col-12 col-sm-6 float-left width-11 ellipses " title="{{ data.Module ? data.Module : '-' }}">{{ data.Module ? data.Module : '-'}}</td>
                  <td [attr.data-label]="'Sub Practice'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.Serviceline ? data.Serviceline : '-' }}">{{ data.Serviceline ? data.Serviceline : '-'}}</td>
                  <td [attr.data-label]="'SL BDM'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.Practice ? data.Practice : '-'}}">{{ data.Practice ? data.Practice : '-'}}</td>
                  <td [attr.data-label]="'% of TCV'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.SLBDM ? data.SLBDM : '-' }}">{{ data.SLBDM ? data.SLBDM : '-'}}</td>
                  <td [attr.data-label]="'Est. SL TCV'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.LicenseValue ? (data.LicenseValue | number : '1.2-2') : '-' }}">{{ data.LicenseValue ? (data.LicenseValue | number : '1.2-2') : '-' }}</td>
                  <td [attr.data-label]="'Cloud'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{data.AMCValue ? (data.AMCValue | number : '1.2-2'): '-'}}">{{ data.AMCValue ? (data.AMCValue | number : '1.2-2'): '-' }}</td>
                  <td [attr.data-label]="'Engagment model'" class="col-12 col-sm-6 float-left width-12 ellipses" title="{{ data.Cloud ? data.Cloud : '-' }}">{{ data.Cloud ? data.Cloud : '-'}}</td>
                  <td [attr.data-label]="'Dual Credit'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.ServicelineBDMName ? data.ServicelineBDMName : '-' }}">{{ data.ServicelineBDMName ? data.ServicelineBDMName : '-'}}</td>
                </tr>
                <tr  *ngIf="IP_line && IP_line.length==0">
                  <span class="noData noDatamob">No record found!</span>
                </tr>
              </tbody>
            </table>

          </mat-expansion-panel>
        </div>
        <!-- ob-allocation-3 -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0 mb20 normal_table">

          <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState6 = true"
            (closed)="panelOpenState6 = false">
            <mat-expansion-panel-header style="min-height:60px;">
              <mat-panel-title class="accord-heading mt-12">
                <span
                  [ngClass]="panelOpenState6 ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                <span class="accordian-title pad-top-8">Solution</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="col-12 float-left border-bottom-grey"></div>

            <table class="no_pad table table-borderless">
              <thead>
                <tr>
                  <th class="col-12 col-sm-6 float-left br-tl width-11 ellipses">Type*</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Name*</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Owner</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">%</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">% of TCV</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Solution value*</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Solution BDM</th>
                  <th class="col-12 col-sm-6 float-left width-12 ellipses">Influence type</th>
                  <th class="col-12 col-sm-6 float-left width-11 ellipses">Service type*</th>
                </tr>
              </thead>
              <tbody class="no_pad">
                <tr *ngFor="let data of solution_line">
                  <td class="display-none"></td>
                  <td [attr.data-label]="'Service Lines'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.WiproTypeDisplay ? data.WiproTypeDisplay : '-' }}">{{ data.WiproTypeDisplay ? data.WiproTypeDisplay : '-' }}</td>
                  <td [attr.data-label]="'Practice'" class="col-12 col-sm-6 float-left width-11 ellipses " title="{{ data.WiproAccountname ? data.WiproAccountname : '-' }}">{{ data.WiproAccountname ? data.WiproAccountname : '-' }}</td>
                  <td [attr.data-label]="'Sub Practice'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.OwnerIdValueName ? data.OwnerIdValueName : '-' }}">{{ data.OwnerIdValueName ? data.OwnerIdValueName : '-' }}</td>
                  <td [attr.data-label]="'SL BDM'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.WiproPercentage ? data.WiproPercentage : '-' }}">{{ data.WiproPercentage ? data.WiproPercentage : '-' }}</td>
                  <td [attr.data-label]="'% of TCV'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.WiproPercentageOfTCV ? (data.WiproPercentageOfTCV | number : '1.2-2') : '-' }}">{{ data.WiproPercentageOfTCV ? (data.WiproPercentageOfTCV | number : '1.2-2') : '-' }}</td>
                  <td [attr.data-label]="'Est. SL TCV'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.WiproValue ? (data.WiproValue | number : '1.2-2') : '-' }}">{{ data.WiproValue ? (data.WiproValue | number : '1.2-2') : '-'}}</td>
                  <td [attr.data-label]="'Cloud'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.solutionBDM ? data.solutionBDM : '-'}}">{{ data.solutionBDM ? data.solutionBDM : '-' }}</td>
                  <td [attr.data-label]="'Engagment model'" class="col-12 col-sm-6 float-left width-12 ellipses" title="{{ data.WiproInfluenceTypeDisplay ? data.WiproInfluenceTypeDisplay : '-' }}">{{ data.WiproInfluenceTypeDisplay ? data.WiproInfluenceTypeDisplay : '-' }}</td>
                  <td [attr.data-label]="'Dual Credit'" class="col-12 col-sm-6 float-left width-11 ellipses" title="{{ data.WiproServiceTypeDisplay ? data.WiproServiceTypeDisplay :'-' }}">{{ data.WiproServiceTypeDisplay ? data.WiproServiceTypeDisplay :'-' }}</td>
                </tr>
                <tr  *ngIf="solution_line && solution_line.length==0">
                  <span class="noData noDatamob">No record found!</span>
                </tr>
              </tbody>
            </table>

          </mat-expansion-panel>
        </div>
        <!-- ob-allocation 3 -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0 mb20 normal_table">

          <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState3 = true"
            (closed)="panelOpenState3 = false">
            <mat-expansion-panel-header style="min-height:60px;">
              <mat-panel-title class="accord-heading mt-12">
                <span
                  [ngClass]="panelOpenState3 ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                <span class="accordian-title pad-top-8">Credit-allocation</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="col-12 float-left border-bottom-grey"></div>

            <table class="no_pad table table-borderless">
              <thead>
                <tr>
                  <th class="col-12 col-sm-6 float-left br-tl width-14 ellipses">Credit type* </th>
                  <th class="col-12 col-sm-6 float-left width-14 ellipses">Service line</th>
                  <th class="col-12 col-sm-6 float-left width-14 ellipses">Practice</th>
                  <th class="col-12 col-sm-6 float-left width-14 ellipses">Sub practice</th>
                  <th class="col-12 col-sm-6 float-left width-14 ellipses">BDM*</th>
                
                  <!-- <th class="col-12 col-sm-6 float-left width-14 ellipses">Value(₹)</th> -->
                   <th class="col-12 col-sm-6 float-left width-14 ellipses">Value({{CurrencySymbol}})</th> 
                  <th class="col-12 col-sm-6 float-left width-14 ellipses">% Contribution*</th>
                </tr>
              </thead>
              <tbody class="no_pad">
                <tr *ngFor="let data of allocation_line">
                  <td class="display-none"></td>
                  <td [attr.data-label]="'Service Lines'" class="col-12 col-sm-6 float-left width-14 ellipses" title="{{ data.WiproTypeDisplay ? data.WiproTypeDisplay : '-' }}">{{ data.WiproTypeDisplay ? data.WiproTypeDisplay : '-' }}</td>
                  <td [attr.data-label]="'Practice'" class="col-12 col-sm-6 float-left width-14 ellipses " title="{{ data.ServicelineDisplay ? data.ServicelineDisplay : '-' }}">{{ data.ServicelineDisplay ? data.ServicelineDisplay : '-' }}</td>
                  <td [attr.data-label]="'Sub Practice'" class="col-12 col-sm-6 float-left width-14 ellipses" title="{{ data.PracticeDisplay ? data.PracticeDisplay : '-' }}">{{ data.PracticeDisplay ? data.PracticeDisplay : '-' }}</td>
                  <td [attr.data-label]="'SL BDM'" class="col-12 col-sm-6 float-left width-14 ellipses" title="{{ data.SubPracticeDisplay ? data.SubPracticeDisplay : '-' }}">{{ data.SubPracticeDisplay ? data.SubPracticeDisplay : '-' }}</td>
                  <td [attr.data-label]="'% of TCV'" class="col-12 col-sm-6 float-left width-14 ellipses" title="{{ data.ServicelineBDMName ? data.ServicelineBDMName : '-' }}">{{ data.ServicelineBDMName ? data.ServicelineBDMName : '-' }}</td>
                  <td [attr.data-label]="'Est. SL TCV'" class="col-12 col-sm-6 float-left width-14 ellipses" title="{{ data.WiproValue ?( data.WiproValue | number : '1.2-2') : '-' }}">{{ data.WiproValue ?( data.WiproValue | number : '1.2-2') : '-' }}</td>
                  <td [attr.data-label]="'Cloud'" class="col-12 col-sm-6 float-left width-14 ellipses" title="{{ data.Contribution ? (data.Contribution | number : '1.2-2') : '-' }}">{{ data.Contribution ? (data.Contribution | number : '1.2-2') : '-' }}</td>
                </tr>
                <tr  *ngIf="allocation_line && allocation_line.length==0">
                  <span class="noData noDatamob">No record found!</span>
                </tr>
                
              </tbody>
            </table>

          </mat-expansion-panel>
        </div>
        <!-- ob-allocation 4 -->
    
        <!-- ob-allocation 5-->
      </div>
      </div>
   
    </div>

  </div>
