$Azure: #2f81ff;
$Green: #6dc24b;
$RubyRed: #ef3341;
.staff-initiate {
  .mdi-calendar-blank:before {
      color: #2f81ff;
      font-size: 20px;
      position: relative;
      right: 0px;
    }
    .top64 {
      top: 64px;
    }
    .label-text{
        font-size: 12px;
        font-family: WiproAkkuratTT-Regular;
        color: #000000b5;
    }
    .pad-15-12{
        padding: 12px 15px 4px 2px;
    }
    .cancel-btn1{
    background: #d9e9ff;
    color: #2f81ff;
    text-align: center;
    font-size: 16px;
    line-height: 1.38;
    font-family: "WiproAkkuratTT-Bold";
    padding: 14px;
    margin-top: 15px;
    border: none;
    }    
  } 
  .popup-container .popup-hd {
    padding: 15px 0px 0px 2px !important;
}
.textcomment {
  font-size: 13px;
  font-family: "WiproAkkuratTT-Bold";
}
.icon-correctfont {
    font-size: 35px;
    color: $Green;
    font-family: WiproAkkuratTT-Regular;
}
.icon-wrongfont {
    font-size: 35px;
    color: $RubyRed;
    font-family: WiproAkkuratTT-Regular;
}
.mb-50 {
    margin-bottom: 50px;
}

.left-10{
  left: 10px;
}
.disableAssign
{
    pointer-events: none;
    color: rgba(0,0,0,.26);
    background-color: rgba(0,0,0,.12);
} 
@media screen and (max-width: 823px) {
  .mxwidth{
    max-width: 70px;
  }
}