<div class="top-header top-head-index insight order-hierarchy-mob" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left padd-0">

            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 float-left width_25 padd-0">
                <button (click)="goBack()" class="mdi mdi-keyboard-backspace back-buttonbg" role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
            </div>

            <div class="col-10 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left padd-0">
                <h1 class="heading-level-one mtop-5">Order booking project</h1>
                <small class="colorWhite">Orders</small>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  insight no_pad pad-lr-30 order-hierarchy-mob">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-250"></div>
    <div class="col-12 float-left customized-accordians mtop-20 pad-lr-30">
        <!-- <mat-accordion> -->


        <!-- Level 1 Accordian Starts-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0 mtop-150 normal_table">

            <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="min-height:60px;">
                    <mat-panel-title class="accord-heading mar-top10">
                        <span [ngClass]="panelOpenState ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                        <span class="accordian-title pad-top-8">Order/Opportunity project</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <table class="no_pad table table-borderless">
                    <thead>
                        <tr class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-top10 no_pad">
                            <th class="col-6 col-sm-6 col-md-6 float-left width-20 br-tl">Project number</th>
                            <th class="col-6 col-sm-6 col-md-6 float-left width-20">Project status</th>
                            <th class="col-6 col-sm-6 col-md-6 float-left width-20">Project start date</th>
                            <th class="col-6 col-sm-6 col-md-6 float-left width-20">Project end date</th>
                            <th class="col-12 col-sm-12 col-md-6 float-left width-20">Project name</th>
                        </tr>
                    </thead>
                    <tbody class="no_pad">
                        <tr *ngFor="let order of orders" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-top10 no_pad">
                            <td class="display-none"></td>
                            <td [attr.data-label]="'Project Name'" class="color-azure col-6 col-sm-6 col-md-6 float-left width-20">{{ order.ProjectName ? order.ProjectName : '-'}}</td>
                            <td [attr.data-label]="'Project Status'" class="col-6 col-sm-6 col-md-6 float-left width-20">{{ order.ProjectStatus ? order.ProjectStatus : '-' }}</td>
                            <td [attr.data-label]="'Project Start Date'" class="col-6 col-sm-6 col-md-6 float-left width-20">{{ order.ProjectStartDate ? ( order.ProjectStartDate | date : 'dd MMM yyyy') : '-' }}</td>
                            <td [attr.data-label]="'Project End Date'" class="col-6 col-sm-6 col-md-6 float-left width-20">{{ order.ProjectEndDate ? (order.ProjectEndDate | date : 'dd MMM yyyy') : '-' }}</td>
                            <td [attr.data-label]="'Project Descriptiion'" class="col-12 col-sm-12 col-md-6 float-left width-20">{{ order.ProjectDesc ? order.ProjectDesc : '-' }}</td>
                        </tr>
                        <tr *ngIf="orders.length == 0" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-top10 no_pad mt20">
                            <p style="text-align:center">There are no projects tagged to the order/opportunity </p>
                        </tr>
                    </tbody>
                </table>

            </mat-expansion-panel>
        </div>
        <!-- Level 1 Accordian Ends-->

        <!-- </mat-accordion> -->
    </div>

</div>