$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
.mt140
{
  margin-top: 140px;
}
.h-285 {
  height: 220px;
}
.pt100 {
  padding-top: 135px;
}

.pad-20{
  padding: 20px;
}

.brudcrumbs {
  position: relative;
  left: 7px;
  bottom: 2px;
  opacity: 0.8;
  font-size: 12px;
  color: #e7ebf2;
}
.heading-custom {
  position: relative;
  left: 6px;
}
.cursor-pointer {
  cursor: pointer;
}

.mdi-keyboard-backspace:before {
  content: "\F30D";
  font-size: 22px;
  color: #ffff;
  position: relative;
  // bottom: 40px;
}

.pad-30 {
  padding: 30px;
}

.mt-30{
  margin-top:30px
}

.mt-150 {
  margin-top: 115px;
}
.pad-top142{
    padding-top: 142px;
  }
  .primary-button.std{
    padding: 7px 0;
    min-width: 100px;
    height: 40px;
    margin: 0;
}
.mr10 {
    margin-right: 10px !important;
}
.borderless {
    border: none !important;
}

.plb-0-20 {
    padding: 8px 0 8px 15px;
}
.pad-20-30{
  padding: 20px 30px;
}


.insight {
  .h-250 {
      height: 250px;
  }

  .header-action-tab {
      padding: 12px 0px;
  }

  .pad-lr-30 {
      padding-left: 30px;
      padding-right: 30px;
  }

  .pos-rel {
      position: relative;
  }

  .mtop-150 {
      margin-top: 150px;
  }

  .mtop-20 {
      margin-top: 20px;
  }

  .width_25 {
      color: white;
      width: 28px;
      .mdi-keyboard-backspace {
          font-size: 22px;
          cursor: pointer;
      }
  }

  .mtop-5 {
      margin-bottom: 0px;
      margin-top: 5px;
  }

  .colorWhite {
      color: $Marble;
   }

  .accord-heading .accordian-title {
      font-size: 16px;
      font-family: 'WiproAkkuratTT-Bold';
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: $Black;
  }

  .pad-top-8 {
      padding:8px 0 0 0 ;
  }

  table {
      width: 100%;
      margin-top: 5px;      
  
      tr th {
          background: #e6f3f9;
          height: 35px;
          color: $NavyBlue;
          font-family: WiproAkkuratTT-Regular;
          font-size: 12px; 
      }

      .br-tl {
          border-radius: 5px 0 0 0;
      }

      .br-tr {
          border-radius: 0 5px 0 0;
      }

      .brdr-lr {
          border-left: 2px solid white;
          border-right: 2px solid white;
      }

      .brdr-left {
          border-left: 2px solid white;
      }

      .brdr-right {
          border-right: 2px solid white;            
      }
      .br-tlr {
          border-radius: 5px 5px 0 0;
      }

      td, th {
          text-align: left;
          padding: 8px;
        }

        tr td {
          height: 50px;
          font-size: 12px;
          font-weight: 500;
          font-family: WiproAkkuratTT-Regular;
        }

        tr:nth-child(even) {
          background-color: #f0f0f080;
        }

        td tr {
            background-color: inherit;
        }
  }
  
  .c-blue {
      color: $Azure;
  }
  p, small {
      font-size: 12px;
      font-weight: bold;
      font-family: WiproAkkuratTT-Regular;
      margin-bottom: 0px;
      margin-top: 5px;
  }

  .mdi-chevron-up:before, .mdi-chevron-down:before {
      font-size: 28px;
      color: $Black !important;
      margin-right: 5px;
  }
  .border-bottom-grey {
      border-bottom: solid 1.5px #d7d7d7;
  }

  .mat-expansion-panel-header-title {
  margin-right: 0px !important;
  // font-family: WiproAkkuratTT-Bold;
  // color: #4a4a4a;
  // font-size: 16px;
  }

  .customized-accordians {
      margin-top: 20px;
  }
}

.display-none
{
    display: none;
}

.cio-popup .hd-val {
    color: black !important;
    font-weight: 600;
}

.width-20{
  width: 20%
}