<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-small-spinner [isLoading]="isLoading"> </app-small-spinner>

    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab main-containtnoSide" [ngClass]="userdat.chatBot? 'chat-bot-1100' : ''">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt10 no_pad mb10 new-container">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad">
                <button class="no_pad mdi mdi-keyboard-backspace backspace_button cp" aria-label="Back" (keypress)="goBack()" (click)="goBack()"></button>
                <h1 class="heading-level-one-cc ">
                    Account transition</h1>
            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left no_pad">
                <div *ngIf="!((transitionSubmitted || istransitionSubmitted) && (!IsAccountTransitionUpdated && !AccountTransitionUpdated))" class="float-right disp-flex save-cancel-responsive">
                    <button class="primary-button btn-color borderless h-40 std save-responsive-btn  width-100 padd-all" disabled (click)="onSubmit()" (keypress)="onSubmit()">Update transition</button>
                </div>
                <div *ngIf="(transitionSubmitted || istransitionSubmitted) && (!IsAccountTransitionUpdated && !AccountTransitionUpdated)" class="float-right disp-flex save-cancel-responsive">
                    <button [disabled]="IsHelpDesk == 'true' ? !istransitionSubmitted : readOnly" class="primary-button borderless h-40 std save-responsive-btn  width-100 padd-all" (click)="onSubmit()" (keypress)="onSubmit()">Update transition</button>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad new-container">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-225 res-position-rel">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30 top-13 padd-top-130 scroll-middle-ios">


        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt22 margin-btm55 no_pad">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-leftright">
                <h2 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad heading-level-two pad-top-8">
                    Overview</h2>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-leftright1">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 float-left no_pad plb-0-35">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">Account
            number</label>
                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">{{Account_number || '-'}}</span>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 float-left no_pad plb-0-35">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">Account
            name</label>
                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">{{getSymbol(Account_name) || '-'}}</span>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-leftright1 mb20">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 float-left no_pad plb-0-35">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">Account
            owner</label>
                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">{{Account_owner || '-'}}</span>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 float-left no_pad plb-0-35">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">Last working
            day</label>
                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">{{(last_working_day!='NA') ? (last_working_day | date :'dd/MMM/yyy') : last_working_day}}</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12 ptop-20 no_pad vertical-btns-div flex-tab">
                <div class=" no_pad btn-tabs-with-active flex-tab-width">
                    <button (click)="tabdownonewhite()" [ngClass]="contactstabdownwhite ? 'active':''" class=" col-lg-3 col-sm-4 col-md-4 col-6  sub-vertical-but-white sub-vertical-but-white-trans brd-right " role="tab" [attr.aria-selected]="contactstabdownwhite ? 'true' :''">
            <span class=" mdi mdi-format-list-checks calin-select-all"></span>
            <span class=" no_pad btntxt-s bttm-3">Transition operations checklist</span>
          </button>
                    <button (click)="tabdowntwowhite()" [ngClass]="suitetabdownwhite ? 'active':''" class="col-lg-3 col-sm-4 col-md-4 col-6 float-right sub-vertical-but-white sub-vertical-but-white-trans brd-left0 " role="tab" [attr.aria-selected]="suitetabdownwhite ? 'true' :''">
            <span class=" calin-select-all mdi mdi-format-list-numbers"></span>
            <span class="no_pad btntxt-s bttm-3">KT checklist</span>
          </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pb20">
            <h2 class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-left no_pad heading-level-two-TransChecklist pad-top-8">Transition operations checklist</h2>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt22 margin-btm55 pt20 no_pad normal_table">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-leftright1">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 float-left no_pad plb-0-35">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">Account
            name</label>
                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">{{getSymbol(Account_name) || '-'}}</span>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 float-left no_pad plb-0-35">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">Incoming account
            owner name</label>
                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">{{incoming_account_owner || '-'}}</span>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-leftright1 mb30">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 float-left no_pad plb-0-35">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text">Reviewer name and
            role</label>
                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">{{reviewer_name_role}}{{role}}</span>
                </div>
            </div>

            <table *ngIf="transitionoperations" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left" role="table">
                <thead role="rowgroup">
                    <tr *ngFor="let tab of table_headalli" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb10" role="row">
                        <th role="columnheader" class="col-12 col-sm-12 col-md-3 col-lg-4 col-xl-4 float-left mb20 pad-left-30">{{tab.tablehead1}}</th>
                        <th role="columnheader" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left mb20 pad-left-30">{{tab.tablehead2}}</th>
                        <th role="columnheader" class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 float-left mb20 pad-left-30">{{tab.tablehead3}}</th>
                        <th role="columnheader" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left mb20 pad-left-30">{{tab.tablehead4}}</th>
                    </tr>
                </thead>
                <tbody role="rowgroup">

                    <tr *ngFor="let tab of table_dataalli; let i=index" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb10 customized-checkbox " role="row">
                        <hr aria-hidden="true">
                        <td role="cell" [attr.data-label]="'Task'" class="col-12 col-sm-12 col-md-3 col-lg-4 col-xl-4 float-left l-h-55 pad-left-30">{{i+1}}.{{tab.tabledata1}}<span class="asteriq display-contents"> *<span class="sr-only">required</span> </span>
                        </td>
                        <td role="cell" [attr.data-label]="'Responsibility'" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left l-h-55 pad-left-30">{{tab.tabledata2.Value}}</td>
                        <td role="cell" [attr.data-label]="'Check'" class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 float-left l-h-55 padd-left40 mobile-checkbox disp-flex">
                            <!--<mat-checkbox class="ml10" [disabled]="readOnly" [(ngModel)]="tab.tabledata3" (ngModelChange)="ChecklistActivity()"></mat-checkbox>-->
                            <mat-checkbox class="ml10" [disabled]="isCSO" [(ngModel)]="tab.tabledata3" (ngModelChange)="ChecklistActivity()"></mat-checkbox>
                        </td>
                        <td role="cell" [attr.data-label]="'Remarks'" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left l-h-55 pad-left-30 customized-input width-300">
                            <!--<input id="empty" [readonly]="readOnly" type="text" class="border-gray w-100" [(ngModel)]="tab.tabledata4" (ngModelChange)="ChecklistActivity()" placeholder="Remarks"></td>-->
                            <input id="empty" type="text" class="border-gray w-100" [(ngModel)]="tab.tabledata4" (ngModelChange)="ChecklistActivity()" placeholder="Remarks" [disabled]="isCSO" maxlength="100"></td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="transitionoperations" class="col-lg-12 col-sm-12 col-md-12 col-12  float-left mb20 mt20">
                <div class="col-lg-4 col-sm-12 col-md-6 col-12 no_pad float-left mb20 disp-flex web-buttons">
                    <!--<button class="primary-button w-50 h-40" [disabled]="!submitEnabled" (click)="onTransitionSubmit()">Submit</button>
                    <button class="primary-button secondary-btn w-50 h-40 ml10 " [disabled]="!saveEnabled" (click)='onTransitionSave()'>Save</button>-->
                    <button class="primary-button w-50 h-40" [disabled]="isClicked || !btnDisabled || !checklistFilled || isCSO" (click)="onTransitionSubmit($event)">Submit</button>
                    <button class="primary-button secondary-btn w-50 h-40 ml10 " [disabled]="isClicked || !btnDisabled || isCSO" (click)='onTransitionSave()'>Save</button>
                </div>
            </div>

            <table *ngIf="ktchecklist" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left" role="table">
                <thead role="rowgroup">
                    <tr role="row" *ngFor="let tab2 of table_headalli2" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb10">
                        <th role="columnheader" class="col-12 col-sm-12 col-md-3 col-lg-6 col-xl-6 float-left mb20 pad-left-30">{{tab2.tablehead1}}</th>
                        <th role="columnheader" class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 float-left mb20 pad-left-30">{{tab2.tablehead2}}</th>
                        <th role="columnheader" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 float-left mb20 pad-left-30">{{tab2.tablehead3}}</th>
                        <th role="columnheader" class="col-12 col-sm-12 col-md-3 col-lg-1 col-xl-2 float-left mb20 pad-left-30"></th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                    <tr role="row" *ngFor="let tab of table_dataalli2; let i=index" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb10 customized-checkbox ">
                        <hr aria-hidden="true">
                        <td role="cell" [attr.data-label]="'Task'" class="col-11 col-sm-12 col-md-3 col-lg-6 col-xl-6 float-left l-h-55 pad-left-30">{{i+1}}.{{tab.tabledata1}}</td>
                        <td role="cell" [attr.data-label]="'Responsibility'" class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 float-left l-h-55 pad-left-30 width-300">

                            <div class="customized-select mobile-select-box">
                                <span class="caret color-azure"></span>
                                <!--<select id="select1" role="listbox" [disabled]="readOnly" [(ngModel)]="tab.tabledata2.Id" (ngModelChange)="ChecklistActivity2()">-->
                                <select id="select1" role="listbox" [(ngModel)]="tab.tabledata2.Id" (ngModelChange)="ChecklistActivity2()" [disabled]="isCSO">
                                   <option value="0"  > Select </option>
                                    <option *ngFor="let option of responsibilityObj" value="{{option.Id}}">{{option.Value}}</option>
                       
                                </select>
                            </div>
                            <div class="customized-select mt10 create-mt20 float-left mb10 web-select-box">
                                <span class="caret color-azure"></span>
                                <!--<select id="select1" role="listbox" [disabled]="readOnly" [(ngModel)]="tab.tabledata2.Id" (ngModelChange)="ChecklistActivity2()">-->
                                <mat-form-field class="col-12 no_pad float-left">
                                    <mat-select id="select1" role="listbox" panelClass="custom-Select-panel-class" class="select-focus" [(ngModel)]="tab.tabledata2.Id " (ngModelChange)="ChecklistActivity2()" [disabled]="isCSO">
                                        <mat-option *ngIf="tab.tabledata2.Id == 0" [value]="0"> Select </mat-option>
                                        <mat-option *ngFor="let option of responsibilityObj" [value]="option.Id">{{option.Value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                        <td role="cell" [attr.data-label]="'Remarks'" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 float-left l-h-55 pad-left-30 customized-input width-300">
                            <!--<input id="empty" [readonly]="readOnly" type="text" class="border-gray w-100" [(ngModel)]="tab.tabledata4" (ngModelChange)="ChecklistActivity2()" placeholder="Remarks">-->
                            <input id="empty" type="text" class="border-gray w-100" [(ngModel)]="tab.tabledata4" (ngModelChange)="ChecklistActivity2()" placeholder="Remarks" [disabled]="isCSO" maxlength="100">
                        </td>

                        <!--<td class="col-2 float-left">
                    <span class="" *ngIf="tab.tabledata4?.length==0">Not attached</span>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" *ngIf="tab.tabledata4?.length>0">
                        <div class="col-12 float-left uploaded_doc" *ngFor="let item of tab.tabledata4">
                          <div class="float-left naming-tags-square pad-7 child-middle bg-azure doc-img">
                            <span class="initials mdi mdi-file-document font-20" id="inti_name-kb"></span>
                          </div>
                          <div class="col-xl-7 col-lg-7 col-md-6 col-5 pl-0 htpos-left float-left d-flex">
                            <span class="col-11 float-left pad-5 uploaded_text">
                              {{ item?.file?.name }}
                            </span>
                            <button class="col-1 float-right mdi mdi-window-close del_upload curPointer mdi mdi-delete"
                              (click)="remove(tab.id)" attr.aria-label="{{ item?.file?.name }} close"></button>
                            <button class="float-right icon-view del_upload curPointer" aria-label="view image"></button>
                          </div>
                        </div>
                      </div>

                  </td>-->

                        <td role="cell" class="col-12 col-sm-12 col-md-3 col-lg-1 col-xl-2 float-right attach-icon-mob padleft_0 ">
                            <div class="col-11 float-left no_pad padright_10">
                                <!-- <span class="" *ngIf="tab.tabledata4?.length==0">Not attached</span> -->

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" *ngIf="tab.tabledata3?.length>0 || tab.AttachmentUrl">
                                    <div class="col-11 float-left uploaded_doc" *ngIf="tab.tabledata3 || tab.AttachmentUrl">
                                        <div class="float-left naming-tags-square pad-7 child-middle bg-azure doc-img">
                                            <span class="initials mdi mdi-file-document font-20" id="inti_name-kb" (click)=" !isCSO ? downloadFile(tab.QuestionId): ''"></span>
                                        </div>
                                        <div class="col-8 col-md-6 no_pad pl-0 htpos-left float-left d-flex">
                                            <span class="col-11 float-left pad-5 uploaded_text">
                              {{ tab.tabledata5 || '' }}
                            </span>
                                            <button class="col-1 no_pad float-right mdi mdi-window-close del_upload curPointer mdi mdi-delete" (click)=" !isCSO ?remove(tab.QuestionId) :''" attr.aria-label="{{ tab.tabledata5 }} close"></button>
                                            <!--<button class="float-right icon-view del_upload curPointer" aria-label="view image"></button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <button class="btn_none bttn-form attach-icon-btn" aria-label="attach" *ngIf="tab.tabledata4?.length==0">
                   <span class="mdi mdi-attachment"></span> 
                   <input class="ip_op0 file_ip" type="file"  /> 
                 </button> -->
                            <button [disabled]="readOnly || isCSO" type="button" class="btn_none bttn-form attach-icon-btn float-right left_margintopMobile" *ngIf="!tab.AttachmentUrl" aria-label="attach">
                   <span class="mdi mdi-attachment" ></span> 
                   <!-- <input class="ip_op0 file_ip" type="file" ng2FileSelect [uploader]="uploader"  
                   (fileOver)="fileOverBase($event)" (onFileSelected)="fileOverBase($event)" />  -->
                   <input  class="ip_op0 file_ip" type="file" [disabled]="isCSO" ng2FileSelect [uploader]="uploader"  
                   (fileOver)="fileOverBase($event,tab.QuestionId)" (onFileSelected)="upload(tab.QuestionId)" /> 
                 </button>
                        </td>

                    </tr>
                </tbody>
            </table>

            <div *ngIf="ktchecklist" class="col-lg-12 col-sm-12 col-md-12 col-12  float-left mb20 mt20">
                <div class="col-lg-4 col-sm-12 col-md-6 col-12 no_pad float-left mb20 disp-flex web-buttons">
                    <button class="primary-button w-50 h-40" (click)="onKTSubmit()" [disabled]="isCSO">Submit</button>
                    <button class="primary-button secondary-btn w-50 h-40 ml10 " (click)='onKTSave()' [disabled]="isCSO">Save</button>
                </div>
            </div>

        </div>


    </div>
</div>