 .close-icnnew { //chethana june21th
    /* color: #2f81ff; */
    font-size: 20px;
    /* background: #d9e9ff !important; */
    border-radius: 50%;
    max-width: 40px !important;
    height: 35px;
    width: 35px;
    float: right !important;
    outline: none !important;
    background: transparent;
    border: none !important;
}