$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;

.h-228 {
    height: 215px;
  }
.pt100 {
    padding-top: 152px;
  }
  .heading-level-two {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: $Black;
    letter-spacing: -0.4px;
  }
  .heading-level-three {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: $Black;
    letter-spacing: -0.4px;
  }
  .brudcrumbs {
    position: relative;
    // left: 27px;
    // bottom: 12px;
    opacity: 0.8;
    font-size: 12px;
    color: #e7ebf2;
    padding-left: 8px;
  }
  .heading-custom {
    position: relative;
    left: 6px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  
  .mdi-keyboard-backspace:before {
    content: "\F30D";
    font-size: 22px;
    color: #ffff;
    position: relative;
    bottom: 4px;
  }
  .mt100{
    margin-top: 100px;
  }
  .pad-top142 {
    padding-top: 146px;
  }

  .pad-top2{
    bottom: 2px;
    position: relative;
  }

  .card{
    border-radius: 5px ;
    border: 0px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1) ;
    margin: 20px 0;
    display: table;
}
.bordr-bottm{
  border-top: 1.5px solid #d8d8d8;
  padding: 10px 0 0 0;
}
.bordr-bottm1{
  border-top: 1.5px solid #d8d8d8;
  padding: 1.5px 0;
}
.pad-btm5{
  padding: 0 0 5px 0;
}
.pad-top10{
  padding: 10px 0 0px 0;
}

.mdi-chevron-right:before {
  font-size: 22px;
  font-weight: bold;
}

.mdi-chevron-down:before {
  font-size: 22px;
  font-weight: bold;
}
.ml6{
  margin-left: 6px;
  padding-top: 8px;
}
.label-text{
  font-size: 12px;
    font-family: WiproAkkuratTT-Bold;
    color: #9b9b9b;
    margin-bottom: 4px;
}
.text-data{
  font-size: 13px;
  font-family: WiproAkkuratTT-Bold;
}
.pad-10{
  padding: 10px 0;
}
.cardsHead {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  color: #000000;
  top: 5px;
  left: 5px;
}

.pad-leftright{
  padding: 0 30px;
}

.mat-expansion-panel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

// CSS starts popup for sprint-4 
.ipmoreoption {
  th{
    background: #d9e9ff;
    color: #103f86;
    font-family: WiproAkkuratTT-Bold;
    font-size: 12px;
} 
   .border-bottm{
      margin-top: 70px;
     border-top: 1px solid;
     color: #9b9b9b73;
    }
    .text-label{
      color: $Black;
      font-family: WiproAkkuratTT-Regular;
    }
  .bg-gray-p {
    background-color: $Marble !important;
    color: $White !important;
  }
.width-20{
  width: 16.66%; 
}


}
.OpportunityMilestoneTbl{
  th{
    min-height: 64px;
  }
  td label{
    min-height: 40px;
  }
}
.wrdBrk{
  word-break: break-word;
}
// CSS ends here for sprint-4 
.dealdashboard
{
tr{
  border-radius: 0px !important;
}
.table-striped1 > tbody > tr:nth-child(even){
  background-color: #fbfbfb !important;
}
  ///////////////////Table css starts:

    tr:nth-child(even)
    {
    th:first-child,td:first-child
    {
      background-color: #fbfbfb !important;
    }
  }
  tr:nth-child(odd)
  {
  td:first-child
  {
    background-color: #fff !important;
  }
}
#scoll_top .fixedClass1 .ps__thumb-x {
  border-right: 0px !important;
}

  ////////////////Table css ends
  .mar-top44{
    margin-top: 46px;
}

#scoll_top .ps__thumb-x {
  visibility: visible;
  top: 40px !important;
  position: relative !important;
}

thead th:first-child {
  left: 0;
  z-index: 8;
  background: #103f86;
  min-width: 100px;
  max-width: 200px;
  border-radius: 10px 0 0 0px;
}
.fixedhead1 {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  z-index: 8;
  // background: #103f86;
  background:$White;
  min-width: 136px;
  max-width: 136px;

  // text-overflow: ellipsis;
  // overflow: hidden;
  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}
table {
  width: 100%;
  margin-top: 5px;      

  tr th {
      background: #e6f3f9;
      height: 35px;
      color: $NavyBlue;
      font-family: WiproAkkuratTT-Regular;
      font-size: 12px; 
      min-width: 150px !important;
  }

  .br-tl {
      border-radius: 5px 0 0 0;
  }

  .br-tr {
      border-radius: 0 5px 0 0;
  }

  .brdr-lr {
      border-left: 2px solid white;
      border-right: 2px solid white;
  }

  .brdr-left {
      border-left: 2px solid white;
  }

  .brdr-right {
      border-right: 2px solid white;            
  }
  .br-tlr {
      border-radius: 5px 5px 0 0;
  }

  td, th {
      text-align: left;
      padding: 8px;
      height: 60px !important;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    tr td {
      height: 50px;
      font-size: 12px;
      font-weight: bold;
      font-family: WiproAkkuratTT-Regular;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    tr:nth-child(even) {
      background-color: #fbfbfb;
    }

    td tr {
        background-color: inherit;
    }
}
.mat-expansion-panel-body
{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#scoll_top .ps-content
{
  min-height: 0px !important;
}
.minheight{
  min-height: 0px !important;
}
}

.backgrnd-azure{
  background: #d9e9ff;
  border-radius: 0px !important;
}
::ng-deep {
#scoll_top perfect-scrollbar > .ps.ps--active-x > .ps__rail-x {
  top: 50px !important;
}
}
.mobiile-top-190
{
  margin-top: 180px;
}

@media screen and (max-width: 823px) {
  .pad-leftright
{
  padding: 0 10px !important;
}
  .display-none
{
  display: none !important;
}
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr:not(:first-child) {
      border-top: 20px solid #f9f9f9;
  }
  table tr {
    margin-bottom: 0.625em;
    height: auto !important;
    // display: inline-block !important;
    // height: auto !important;
    position: relative;
    background-color: white !important;
    touch-action: pan-y !important;
  }
  table td {
    display: inline-grid;
    text-align: left;
    min-width: 50% !important;
    width: auto !important;
    float: left;
    line-height: normal !important;
    touch-action: pan-y !important;
  }
  // table td:last-child
  // {
  //   width: 100% !important;
  // }
  table th.actionColumn {
    display: inline-grid;
    text-align: left;
    //width: 50% !important;
    float: left;
    line-height: normal !important;
    padding-right: 0px;
    
  }
  table tr th {
    display: inline-grid;
    text-align: left;
    width: 50% !important;
    float: left;
    line-height: normal !important;
    touch-action: pan-y !important;
    padding-right: 0px;
  }
  table tr th:last-child{
    width: 100% !important;
  }
  table td::before,
  table tr th::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #9b9b9b;
  }
   table th.actionColumn {
    border-bottom: 0;
    overflow-x: auto;
  }
  .mobile_hide
  {
      display: none !important;
  }
  .w-80
  {
      width: 80%;
  }
  .mobile-button-width
  {
      width: 100%;
      float: left !important;
      margin-top: 20px;
      display: flex;
      left : -25px;
  }
  .mobile-no_pad
  {
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-bottom:20px;
  }
}
@media screen and (max-width: 823px) {
.heading-level-one
{
  max-width: unset !important;
}
.mobile_norecords
{
display: block !important;
font-size: 14px;
font-family: WiproAkkuratTT-Bold;
color: #9b9b9b;
margin-bottom: 4px;
padding: 25px 0px 0px 25px !important;
}
}
.mobile_norecords
{
  display: none;
}
// nav-bar
::ng-deep #scoll_top .ps--active-x > .ps__rail-x { 
  background-color: white !important;
  // width: 80% !important;
}
.dealdashboard .ps__thumb-x {
  background-color: #d8d8d8 !important;
  min-width: 60.8% !important;
  width: 60.5% !important;
}
::ng-deep #scoll_top .ps__thumb-x {
  display: block !important;
  bottom: 1px !important;
  background-color: #d8d8d8 !important;
  opacity: 0.8;
  min-width: 65% !important;
  width: 73.1% !important;
}
::ng-deep .ps__thumb-x:after, #Editable_Exp .ps__thumb-x:after, .bgWhiteContainer #Editable_Exp .ps__thumb-x:after {
  content: "";
  position: absolute;
  right: 0px !important;
  width: 0px !important;
  height: 6px;
  background: #ffffff !important;
  border-radius: 0px 10px 10px 0px;
}

::ng-deep #scoll_top .fixedClass1 .ps__rail-x {
  left: 200px !important;
  width: calc(100% - 300px) !important;
}
::ng-deep .ps--active-x>.ps__rail-x
{
  display: block;
  border-radius: 3px;
  background-color: #ffffff !important;
  width: 80% !important;
}
::ng-deep #scoll_top perfect-scrollbar > .ps.ps--active-x > .ps__rail-x:hover {
  background-color: #ffffff !important;
}
::ng-deep #scoll_top .fixedClass1 .ps__thumb-x {
  background: #d8d8d8 !important;
}
::ng-deep #scoll_top perfect-scrollbar>.ps.ps--active-x>.ps__rail-x.ps--clicking {
  height: 8px !important;
  background:#ffffff !important;
}

.ellipses
{
  width:92%;
}

.ellipse{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
  width:92%;
}
.WordBreak
{
  word-break: break-word !important;
}