$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
$DarkBlack: #2e2e2e;

.h-275 {
  height: 275px;
}
.pt100 {
  padding-top: 152px;
}
.heading-level-two {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: #00000054;
  letter-spacing: -0.4px;
}
.heading-level-three {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: $Black;
  letter-spacing: -0.4px;
}
.brudcrumbs {
  position: relative;
  left: 7px;
  bottom: 2px;
  opacity: 0.8;
  font-size: 12px;
  color: #e7ebf2;
}
.heading-custom {
  position: relative;
  left: 6px;
}
.cursor-pointer {
  cursor: pointer;
}

.primary-button.std {
  padding: 9px 5px;
  min-width: 110px;
}
.h-40 {
  height: 40px;
}
.mr10 {
  margin-right: 10px;
}
.borderless {
  border: none !important;
}
.mdi-chevron-down:before {
  font-size: 24px;
  color: #000;
  position: absolute;
  // top: 14px;
}
.mdi-chevron-right:before {
  font-size: 24px;
  color: #000;
  position: absolute;
  // top: 14px;
}
.editTopHeads {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  color: #000000;
  margin-top: 0px;
  left: 35px;
  bottom: 10px;
}
.pad-top150 {
  padding-top: 150px !important;
}

.border_top {
  border-top: 2px solid #d8d8d8;
  padding-top: 20px;
}

.mat-expansion-panel {
  overflow: inherit !important;
}
// .mdi-magnify:before {
//     top: 11px !important;
// }
.plb-60-20 {
  // padding: 0 55px 20px 5px;
  padding: 0px 40px 20px 10px;
}
.pad-22 {
  padding-bottom: 22px;
}
.mr-btm10 {
  margin-bottom: 10px;
}
.radio-fontfamly {
  color: #2f81ff;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Regular";
}
.text-area-content {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #4a4a4a;
  resize: none;
  border: 1.5px solid #d8d8d8;
  border-radius: 4px;
  background-color: #ffffff;
  height: 110px;
  padding: 10px;
  outline: none;
}

.converstion-name {
  label {
    color: $MetalLight;
    font-family: "WiproAkkuratTT-Regular";
    margin-bottom: 0px !important;
  }
  .td_color {
    font-size: 14px;
    font-family: "WiproAkkuratTT-Bold";
    color: $DarkBlack;
  }
  p {
    color: $Metal;
    font-family: "WiproAkkuratTT-Regular";
    margin-bottom: 0px !important;
  }
  .color-orange {
    color: $Orange !important;
  }
}

.labeltitle {
  color: #2e2e2e !important;
  font-family: "WiproAkkuratTT-Bold" !important;
  margin-bottom: 0px !important;
}
.doc-text {
  color: #2e2e2e !important;
  font-family: "WiproAkkuratTT-Bold" !important;
}
.td_color1 {
  font-size: 14px;
  font-family: "WiproAkkuratTT-Regular";
  color: #2e2e2e;
}

thead {
  background: #d9e9ff;
  color: #103f86;
  font-family: WiproAkkuratTT-Bold;
  font-size: 12px;
}

.customized-select {
  position: relative;
  select {
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    padding: 2px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;

    &:focus {
      outline: none;
      border-color: $Azure;
    }
  }
  select::-ms-expand {
    // for IE
    display: none !important;
  }
  .caret {
    top: 17px;
    right: 16px;
  }
}

.radio-fontfamly {
  color: $Azure;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Regular";
}

.blue_circle_replay {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d9e9ff;
  position: relative;
  text-align: center;
  color: #2f81ff;
  margin-left: 10px;
}
.blue_circle_replay:hover {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2f81ff;
  position: relative;

  color: #ffffff;

  .blue_circle_replay_img {
    color: #ffffff;
  }
}

/*****************file upload CSS starts from here ***************************/
.upld_ip {
  border: none;
  border-bottom: 1px solid #8a8888;
}
.upld_div {
  position: relative;
  margin-top: 20px;
}
.upld_div .icon-upload {
  position: absolute;
  right: 0px;
  color: #989898;
  bottom: 26px;
  font-size: 22px;
  top: 0em;
  background: transparent;
  border: none;
}
.file_ip {
  width: 100%;
  position: absolute;
  // top: 6px;
  opacity: 0;
  z-index: 99;
  left: 0;
}
.icon-file_upload {
  background: transparent;
  border: none;
}
.uploaded_doc {
  padding: 5px 0px;
  cursor: pointer;
  //  margin-right: 10px;
  border-radius: 4px;
  background: #f8f9fa;
  font-size: 12px;
  //  margin-top: 17px;
  width: 100%;
  height: 42px;
  border: 2px solid #2f81ff;
}
.uploaded_doc_25 {
  position: relative;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
  background: #ededed;
  font-size: 12px;
  margin-top: 10px;
  width: 19.33%;
  float: left;
}
.uploaded_doc1 {
  position: relative;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
  background: #ededed;
  font-size: 12px;
  margin-top: 10px;
}
.uploaded_text {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
}
.del_upload {
  color: #2f81ff;
  font-size: 14px;
  background: transparent;
  border: none;
  opacity: 0.6;
  font-size: 16px;
  position: relative;
}
.upld_ip::-webkit-input-placeholder {
  /* Chrome */
  color: $Black;
  font-size: 14px;
}
.upld_ip:-ms-input-placeholder {
  /* IE 10+ */
  color: $Black;
  font-size: 14px;
}
.upld_ip::-moz-placeholder {
  /* Firefox 19+ */
  color: $Black;
  opacity: 1;
  font-size: 14px;
}
.upld_ip:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: $Black;
  opacity: 1;
  font-size: 14px;
}
.infoFile {
  color: $Black;
  opacity: 0.6;
  font-family: WiproAkkuratTT-Regular !important;
  font-size: 12px;
  margin-bottom: 0px;
}
.charCount {
  color: $Black;
  opacity: 0.7;
  font-size: 13px;
  font-family: WiproAkkuratTT-Regular;
  position: relative;
  top: -8px;
}
.mt81 {
  margin-top: 81px;
}

.htpos-left {
  position: absolute;
  left: 50px;
  height: auto;
}

.doc-img {
  bottom: 0px;
  left: -1px;
  position: absolute;
}

.pad-5 {
  padding: 5px;
}

.mdi-window-close:before {
  padding-left: 10px;
}

.mdi-magnify:before {
  /* top: 5px !important; */
  color: #2f81ff;
  font-size: 20px;
  right: 10px;
  position: absolute;
  bottom: 8px;
}
.top64 {
  top: 66px;
}
.font-size12 {
  font-size: 12px;
}

.no-records {
  text-align: center;
}
.orangeborder {
  border: 2px solid #f58323 !important;
}

.validation-text {
  // font-size: 12px;
  // font-family: WiproAkkuratTT-Bold;
  // color: #ef3341;
  // position: absolute;
  // margin: 0px !important;
  font-family: WiproAkkuratTT-Bold;
  background: transparent !important;
  color: #f58323 !important;
  z-index: 1;
  font-size: 12px;
}
.top52 {
  top: 70px;
}

.disabledClass {
  pointer-events: none;
  opacity: 0.9;
  color: #9b9b9b !important;
  background-color: #f9f9f9 !important;
}

.db-search {
  height: 40px;
  cursor: pointer;
  list-style-type: none;

  &:hover {
    background-color: #d9e9ff;
  }
  button {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: $Azure;
    outline: none;
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    height: 100%;
  }
}
.selected-contact1 {
  margin-top: 10px;
  .p-4-10 {
    padding: 4px 10px 4px 0px;
  }
}
@media screen and (max-width: 823px){
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr:not(:first-child) {
    border-top: 20px solid #f9f9f9;
  }
  table tr {
    margin-bottom: 0.625em;
    height: auto !important;
    // display: inline-block !important;
    // height: auto !important;
    position: relative;
    background-color: white !important;
    touch-action: pan-y !important;
  }
  table td {
    display: inline-grid;
    text-align: left;
    width: 100% !important;
    float: left;
    line-height: normal !important;
    touch-action: pan-y !important;
  }
  table th.actionColumn {
    display: inline-grid;
    text-align: left;
    //width: 100% !important;
    float: left;
    line-height: normal !important;
    padding-right: 0px;
  }
  table tr th {
    display: inline-grid;
    text-align: left;
    width: 100% !important;
    float: left;
    line-height: normal !important;
    touch-action: pan-y !important;
    padding-right: 0px;
  }
  table td::before,
  table tr th::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #9b9b9b;
    margin-bottom: 5px;
  }
  table th.actionColumn {
    border-bottom: 0;
    overflow-x: auto;
  }
}
