<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab opportunityPage new-container">
    
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 float-left no_pad">
 <button class="mdi mdi-keyboard-backspace cp back-buttonbg float-left" (click)="backbutton2()" role="button"
                    tabindex="0" aria-label="go back" (keypress)="backbutton2()"></button>
        <h1 class="heading-level-one heading-custom">Knowledge management</h1>
        <span class="brudcrumbs">Opportunities</span>
      </div>

      <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left no_pad">
        <div class="float-right disp-flex save-cancel-responsive">
          <button class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50"
            (click)="goBack()">Cancel</button>
          <button class="primary-button borderless h-40 std save-responsive-btn button-wd50" (click)="saveDocument()"
            [disabled] = "editAccess || updateExpirationFlag">Save</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div clas="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad knowledge-management">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad bg-mid_night pos-abs h-275"></div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-30 pad-top150">
    <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState2 = true"
      (closed)="panelOpenState2 = false">
      <mat-expansion-panel-header style="min-height:60px;">
        <mat-panel-title class="accord-heading">
          <span
            [ngClass]="panelOpenState2 ? 'mdi mdi-chevron-down chevron-right':'mdi mdi-chevron-right chevron-right'"></span>
          <span class="accordian-title pad-top-8 cardsHead pl36 col-12 no_pad pt15 editTopHeads">KM Details</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left border_top" *ngFor="let item of kmdetails">

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
          <section class="converstion-name  pad_15">
            <label for="InitiatedOn" class="col-12 no_pad">Account</label>
            <span class="td_color col-12 no_pad" *ngIf ="item.AccountName == null">-</span>
            <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.AccountName}}</span>
          </section>        
        </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Contracting country</label>
           <span class="td_color col-12 no_pad" *ngIf ="item.WiproContractingCountry == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.WiproContractingCountry}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">SBU</label>
          <span class="td_color col-12 no_pad" *ngIf ="item.SBUName == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.SBUName}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Vertical</label>
           <span class="td_color col-12 no_pad" *ngIf ="item.WiproVerticalValueName == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.WiproVerticalValueName}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Sub vertical</label>
          <span class="td_color col-12 no_pad" *ngIf ="item.WiproSubVerticalValueName == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.WiproSubVerticalValueName}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Opportunity owner</label>
          <span class="td_color col-12 no_pad" *ngIf ="item.OwnerIdName == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.OwnerIdName}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Opportunity name</label>
           <span class="td_color col-12 no_pad" *ngIf ="item.OpportunityName == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.OpportunityName}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Opportunity number</label>
           <span class="td_color col-12 no_pad" *ngIf ="item.OpportunityNumber == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.OpportunityNumber}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Opportunity stage</label>
          <span class="td_color col-12 no_pad" *ngIf = "item.PipeLineStageDisplayName == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.PipeLineStageDisplayName}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Opportunity status</label>
           <span class="td_color col-12 no_pad" *ngIf = "item.OpportunityStatus == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.OpportunityStatus}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Solution offerings</label>
          <span class="td_color col-12 no_pad" *ngIf = "item.SOLName.length == '0'">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn" *ngFor="let data of item.SOLName; let i = index">{{data}}
            <span *ngIf="i !== (item.SOLName.length - 1)">,</span><span>{{data.SOLName | json}}</span>
          </span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">IP</label>
          <span class="td_color col-12 no_pad" *ngIf = "item.IPName.length == '0'">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn" *ngFor="let data of item.IPName; let i = index">{{data}}
            <span *ngIf="i !== (item.IPName.length - 1)">,</span>
          </span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Strategic focus area</label>
          <span class="td_color col-12 no_pad" *ngIf = "item.Strategicfocusarea == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.Strategicfocusarea}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Service line</label>
          <span class="td_color col-12 no_pad" *ngIf = "item.SLName.length == '0'">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn" *ngFor="let data of item.SLName; let i = index">{{data}}
            <span *ngIf="i !== (item.SLName.length - 1)">,</span>
            </span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">Outcome</label>
          <span class="td_color col-12 no_pad" *ngIf = "item.Outcome == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.Outcome}}</span>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
        <section class="converstion-name  pad_15">
          <label for="InitiatedOn" class="col-12 no_pad">SIC code</label>
          <span class="td_color col-12 no_pad" *ngIf ="item.SICCode == null">-</span>
          <span class="td_color col-12 no_pad" id="InitiatedOn"> {{item.SICCode}}</span>
        </section>
      </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left">

        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 float-left  cust_autoComplete pos-rel plb-60-20 " *ngFor="let item of kmdetails">
          <section class="converstion-name  pad_15">
            <label for="InitiatedOn" class="col-12 no_pad labeltitle">Scope of work</label>
             <span class="td_color col-12 no_pad" *ngIf = "item.ScopeOfWork == null">-</span>
            <span class="td_color1 col-12 no_pad" id="InitiatedOn">{{item.ScopeOfWork}}</span>
          </section>        
        </div>

           <!--SME Start-->
           <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  cust_autoComplete pos-rel plb-60-20 ">
            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
              <label for="InitiatedOn" class="col-12 no_pad">SME *
              <span class="float-right pos-abs font-size12 right-0">({{smeContactLength}})</span>
            </label>
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input" id="contactTag"
                name="contactTag" autocomplete="off" type="text" [(ngModel)]="contactTag" (ngModelChange)="searchSMEContact($event)"
                placeholder="Enter Customer Contacts" (clickOutside)="contactTagclose()" [attr.aria-expanded]="contactTagSwitch?true:false" aria-owns="read"
                (click)="contactTagSwitch = true;searchSMEContact($event);" [disabled] = "editAccess || updateExpirationFlag" [ngClass] = "show_sme ? 'orangeborder' : ''">
              <span class="float-right mdi mdi-magnify"></span>
              <div
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-right  border-btm z-ind-9999 float-left no_pad suggestion-box pos-abs border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white"
                *ngIf="contactTagSwitch"  [ngClass]="contactTagSwitch ? 'pos-sticky' : ''">
                <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                  <ul class=" list-group mr2  sort-dropdown ">
                    <li class="list-group-item h-50 p-4-10 " (click)="appendTag(item.contact, item.SMEUserId, item.adid)"
                      *ngFor="let item of TagContact |filter:contactTag">
                      <div class="float-left naming-tags child-middle bg-azure">
                        <span class="initials">{{getInitials(item.contact)}}</span>
                      </div>
                      <label for="inti_name" class="float-left name">
                        <span class="d-block list-name">{{item.contact}}</span>
                        <!--<span class="d-block sub-list">{{item.designation}}</span>-->
                      </label>
                      <span class="btn-key float-right" *ngIf="item.value"> Key </span>
                    </li>
                    <li class="d-block list-name h-40 p-10" *ngIf="(TagContact |filter:contactTag).length == 0">
                      No record found </li>
                  </ul>
                </perfect-scrollbar>
                <!-- <span class="db-search">
                  <button id="dmcSearch" role="option" tabindex="0" aria-disabled="false" type="button" (click)="openadvancetabs('SMEMaker',TagContact,contactTag)"
                    class="button-search">
                    <span class="mdi mdi-file-outline"></span> Advance look up
                  </button>
                </span> -->
              </div>
         
              </form>      
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact1">
                <perfect-scrollbar style="max-height:200px">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  mt-10 p-4-10"
                    *ngFor="let item of selectedTag; let j= index">
                    <div class="float-left naming-tags child-middle bg-azure">
                      <span class="initials">{{getInitials(item.contact)}}</span>
                    </div>
                    <label for="inti_name" class="float-left name">
                      <span class="d-block list-name">{{item.contact}}</span>
                      <!--<span class="d-block sub-list">{{item.designation}}</span>-->
                    </label>
                    <span role="button" tabindex="0" aria-label="delete" class="mdi mdi-close close-lead float-right cp" (click)="deleteSMEContact(item, j)"></span>
                  </div>
                </perfect-scrollbar>
              </div>
              <p class="col-12 no_pad float-left validation-text" *ngIf ="show_sme">SME is mandatory.</p>
          </div>
          <!--SME End-->

           <!-- Win Table starts here -->
           <div *ngIf = "displayWinReasons" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad border-btm">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th class="col-2 float-left">Win category </th>
                    <th class="col-2 float-left">Win reason </th>
                    <th class="col-3 float-left">Additional details (10 words) </th>
                    <th class="col-2 float-left">Information source </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf = "winReasonsData.length == 0" class="no-records">
                    <td>No records found !
                    </td>
                  </tr>
                  <tr *ngFor="let data of winReasonsData">
                    <td class="col-2 float-left" *ngIf="data.WinCategoryName != null">
                      <div class="col-12 customized-input no_pad">
                        <input id="field1" type="text" class="border-gray col-12" value="Win category name" [(ngModel)]="data.WinCategoryName"  
                          placeholder="Win category name" disabled>
                      </div>
                    </td>
                    <td class="col-2 float-left" *ngIf="data.WinReasonName != null">
                      <div class="col-12 customized-input no_pad">
                        <input id="field2" type="text" class="border-gray col-12" value="Additional details" [(ngModel)]="data.WinReasonName"  
                          placeholder="Additional details" disabled>
                      </div>
                    </td>
                    <td class="col-3 float-left no_pad" *ngIf="data.WiproAdditionalDetails != null">
                      <div class="col-12 customized-input no_pad">
                        <input id="field3" type="text" class="border-gray col-12" value="Win reason name" title="{{data.WiproAdditionalDetails}}" [(ngModel)]="data.WiproAdditionalDetails"  
                          placeholder="Win reason name" disabled>
                      </div>
                    </td>
                    <td class="col-2 float-left" *ngIf="data.InformationSourceName != null" >
                      <div class="col-12 customized-input no_pad">
                        <input id="field4" type="text" class="border-gray col-12" value="Information source" [(ngModel)]="data.InformationSourceName"  
                          placeholder="Information source" disabled>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Win table ends here... -->

            <!--Loss Table starts here-->
            <div *ngIf = "dispalyLossReasons" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad border-btm">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th class="col-2 float-left">Loss category *</th>
                    <th class="col-2 float-left">Loss reason *</th>
                    <th class="col-3 float-left">Additional details (10 words) *</th>
                    <th class="col-2 float-left">Information source *</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf = "lossReasonsData.length == 0" class="no-records">
                    <td>No records found !
                    </td>
                  </tr>
                  <tr *ngFor="let data of lossReasonsData">
                    <td class="col-2 float-left" *ngIf="data.WiproLossCategoryName != null">
                    <div class="col-12 customized-input no_pad">
                        <input id="field1" type="text" class="border-gray col-12" value="Loss category name" [(ngModel)]="data.WiproLossCategoryName"  
                          placeholder="Loss category name" disabled>
                      </div>
                    </td>
                    <td class="col-2 float-left" *ngIf="data.WiproLossReasonName != null">
                     <div class="col-12 customized-input no_pad">
                        <input id="field2" type="text" class="border-gray col-12" value="Loss reason name" [(ngModel)]="data.WiproLossReasonName"  
                          placeholder="Loss reason name" disabled>
                      </div>
                    </td>
                    <td class="col-3 float-left no_pad" *ngIf="data.WiproAdditionalDetails != null">
                      <div class="col-12 customized-input no_pad">
                        <input id="field3" type="text" class="border-gray col-12" value="Additional details" title="{{data.WiproAdditionalDetails}}" [(ngModel)]="data.WiproAdditionalDetails"
                          placeholder="Additional details" disabled>
                      </div>
                    </td>
                    <td class="col-2 float-left" *ngIf="data.InformationSourceName != null">
                      <div class="col-12 customized-input no_pad">
                        <input id="field4" type="text" class="border-gray col-12" value="Information source" [(ngModel)]="data.InformationSourceName"
                          placeholder="Information source" disabled>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--Loss table end here-->

        <!-- radio button for meeting stage starts here -->
       <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 border_top">
          <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form pb10" id="keycon">
              Are the Document sanitized? *</label>
          <mat-radio-group aria-labelledby="keycon" [(ngModel)]="docSanSelection">
            <mat-radio-button [value]="true" class="pr30 margin-top-5 radio-fontfamly" [disabled] = "editAccess || updateExpirationFlag"> Yes</mat-radio-button>
            <mat-radio-button [value]="false" class="margin-top-5 radio-fontfamly" [disabled] = "editAccess || updateExpirationFlag">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <!-- radio button for meeting stage ends here -->

        <!-- Table starts here -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt10"> 
          <label class="mt10 float-left doc-text"> Documents </label>
           <span class="mb-10 float-right"> 
              <button class="primary-button h-40 std save-responsive-btn button-wd50"
              (click)="addNewDOcumnet()" [disabled] = "editAccess || updateExpirationFlag">+ Add</button>
           </span>
        </div>
      
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad border-btm">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th class="col-2 float-left">Document type *</th>
                  <th class="col-3 float-left">Title *</th>
                  <th class="col-3 float-left">Comments *</th>
                  <th class="col-2 float-left">Document *</th>
                  <th class="col-2 float-left"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf = "document_Data.length == 0" class="no-records">
                  <td>No records found !
                  </td>
                </tr>
                <tr *ngFor="let data of document_Data; let i = index">
                  <td [attr.data-label]="'Document type *'" class="col-12 col-lg-2 col-xl-2 col-sm-12 col-md-12 float-left">
                    <div class="col-12 customized-select no_pad">
                      <span class="caret color-azure"></span>
                      <select id="select1" role="listbox" class="ellipses" name="docTypeFlag" [(ngModel)]="data.documentType" (change)="selectedDocType($event, i)" [ngClass] = "data.docTypeFlag ? 'orangeborder' : ''" [disabled] = "editAccess || updateExpirationFlag">
                        <option disabled value="">Select type</option>
                        <option *ngFor="let data1 of docTypeArr" [value]="data1.Id" >{{data1.Name}}</option>
                      </select>
                       <p class="col-12 no_pad float-left validation-text" *ngIf ="data.docTypeFlag">Document type is mandatory.</p>
                    </div>
                  </td>
                  <td [attr.data-label]="'Title *'" class="col-12 col-lg-3 col-xl-3 col-sm-12 col-md-12 float-left">
                      <div class="col-12 customized-input no_pad">
                        <input id="field1" type="text" class="border-gray col-12" [(ngModel)]="data.title" name= "docTitleFlag" (input)="addTitle($event, i)" [appAlphaNumeric] = "'text'"
                          placeholder="Additional details" maxlength="100" [ngClass] = "data.docTitleFlag ? 'orangeborder' : ''" [disabled] = "editAccess || updateExpirationFlag">
                          <p class="col-12 no_pad float-left validation-text" *ngIf ="data.docTitleFlag">Title is mandatory.</p>
                      </div>
                    </td>
                  <td [attr.data-label]="'Comments *'" class="col-12 col-lg-3 col-xl-3 col-sm-12 col-md-12 float-left">
                    <div class="col-12 customized-input no_pad">
                      <input id="field1" type="text" class="border-gray col-12" [(ngModel)]="data.comments" name="docCommentFlag" (input)="addComment($event, i)" [appAlphaNumeric] = "'text'"
                        placeholder="Additional details" maxlength="100" [ngClass] = "data.docCommentFlag ? 'orangeborder' : ''" [disabled] = "editAccess || updateExpirationFlag">
                        <p class="col-12 no_pad float-left validation-text" *ngIf ="data.docCommentFlag">Comments is mandatory.</p>
                    </div>
                  </td>
                  <td [attr.data-label]="'Document *'" class="col-12 col-lg-2 col-xl-2 col-sm-12 col-md-12 float-left">
                    <span class="" *ngIf="data.document?.length==0">Not attached</span>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" *ngIf="data.document?.length>0">
                        <div class="col-12 float-left uploaded_doc" *ngFor="let item of data.document">
                          <div class="float-left naming-tags-square pad-7 child-middle bg-azure doc-img">
                            <span >
                              <span class="initials mdi mdi-download font-20" role="button" tabindex="0"
                        aria-label="Download file" id="inti_name-kb1" (click)="downloaFile(i)" matTooltip="Download file"></span>
                          
                            </span>
                          </div>
                          <div class="col-xl-7 col-lg-7 col-md-6 col-5 pl-0 htpos-left float-left d-flex">
                            <span class="col-11 float-left pad-5 uploaded_text">
                              {{ item.attachmentName }}
                            </span>
                            <button class="col-1 float-right mdi mdi-window-close del_upload curPointer mdi mdi-delete" aria-label="delete image"></button>
                            <button class="float-right icon-view del_upload curPointer" aria-label="view image" (click)="remove(data.id, i)"></button>
                          </div>
                        </div>
                      </div>
                       <p class="col-12 no_pad float-left validation-text" *ngIf ="data.attachmentFlag">Document is mandatory.</p>
                  </td>
                  <td class="col-12 col-lg-2 col-xl-2 col-md-12 col-sm-12 float-left mobile-align">
                    <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="delete" matTooltip="delete" (click)="deleteDocumnet(data,i)" [disabled] = "editAccess || updateExpirationFlag">
                      <span class="col-xs-12 nopad blue_circle_replay_img mdi mdi-delete"></span>                      
                    </button>
                    <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" *ngIf="data.document?.length==0" aria-label="upload" matTooltip="upload" [disabled] = "editAccess || updateExpirationFlag" [ngClass] = "data.attachmentFlag ? 'orangeborder' : ''">
                      <span class="col-xs-12 nopad blue_circle_replay_img mdi mdi-upload"></span>
                      <input class="ip_op0 file_ip" type="file" (change)="fileOverBase($event, i)" />
                    </button>                  
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table ends here... -->

      </div>

    </mat-expansion-panel> 

  </div>

</div>
