$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
.h-390 {
    height: 300px;
  }
.pt100 {
    padding-top: 135px;
  }
  .heading-level-two {
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px;
    color: $White;
    letter-spacing: -0.4px;
  }
  .brudcrumbs {
    position: relative;
    opacity: 0.8;
    font-size: 12px;
    color: #e7ebf2;
  }
  .heading-custom {
    position: relative;
    left: 6px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  
  .mdi-keyboard-backspace:before {
    content: "\F30D";
    font-size: 22px;
    color: #ffff;
    position: relative;
    bottom: 4px;
     }
  .mar_top_100
  {
      margin-top: 135px;
  }

  .padt-0
{
    padding-top: 0px !important;
    // padding-bottom: 0px !important;
}
.primary_white
{
    padding: 6px 11px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold'
}
.primary_white_note
{
    padding: 6px 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold'
}
.mdi-download:before
{
    font-size: 16px !important;
}
.borderless{
    border:none !important;
    }
    .w-90
    {
        width: 90px;
    }
    
       .loader {
 margin: 200px auto;
 border: 6px solid #f3f3f3;
 border-radius: 50%;
 border-top: 6px solid #3498db;
 width: 64px;
 height: 64px;
 -webkit-animation: spin 2s linear infinite; /* Safari */
 animation: spin 2s linear infinite;
 
}
.loaderContainer {
 width: 100%;
 top:0em;
 position: absolute;
 height: 100%;
 z-index: 9999;
 background: white;
}
@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
 }