<div class="col-12 float-left  no_pad popup-container popup-container-opportunity suspendPop">

  <div class="col-12 float-left  container-dialog">
    <div class="col-12 float-left  no_pad popup-hd">
      <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Alert</span>
      <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn cp" aria-label="close"
        mat-dialog-close></button>
    </div>
  </div>
  <div class="col-12 float-left border-bottom-grey no_pad "></div>
  <div class="col-12 float-left pad-20-pop">
    <div class="col-12 float-left convo-name mt5 pl25">{{data}}</div>
  </div>
  <div class="col-12 float-left no_pad">
    <button aria-label="OK" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close>OK</button>
  </div>

</div>