<div class="col-12 float-left  no_pad popup-container newchildconvo ">
  <div class="col-12 float-left  container-dialog pad-30">
    <div class="col-12 float-left  no_pad popup-hd">
      <span class="col-10 float-left  no_pad popup-hd-txt margin-btm0"
        mat-dialog-title>{{tabLookupData.popupName}}</span>
      <button class="float-left no_pad btndef-none mdi mdi-window-close close-icn cp" aria-label="close"
        (click)="onClose()"></button>
    </div>
    <div class="col-12 float-left border-bottom-grey"></div>
    <div class="row col-12 no_pad back-color">
      <div class="col-6 col-xl-5 text-center fontsync-12 mt-09 no_pad" *ngFor="let tab of tabLookupData.tabs; let i=index">
        <button class="btn  btn-circle mb-5" [ngClass]="{'btn-circle-active': i===tabClikedIndex}"
          (click)="onClickTab(i)">
          <span class=" mdi {{tab.icon}}"></span>
        </button>
        <br>
        <span>{{tab.title}}</span>
        <div class="popup-tabs-arrow" *ngIf="tab.isClicked"></div>
      </div>
    </div>
    <div class="col-12 float-left no_pad mt10">
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 mt20 float-left no_pad CompanyName" *ngIf="data.isSearch">
        <input class="col-12 float-left h-40 label-input" id="searchData" name="searchData" [(ngModel)]="searchData"
          type="text" (input)="onSearch()" placeholder="{{tabLookupData.tabs[tabClikedIndex].placeholder}}">
        <span class="mdi mdi-magnify"></span>
      </div>
      <button class="col-12 col-md-12 col-xl-3  mt20 float-left  customer-button" *ngIf="data.isSearch && tabLookupData.tabs[tabClikedIndex].title==='customer participants'" (click)="onclickCustomerCreate()">
        <span class="mdi mdi-account-plus"></span>Create customer contact
      </button>
      <button id="multipleDelete"
        class="float-left primary-button web-button borderless mr8 h-40 pad-0-5 responsive-btn-div-button d-flex align-items-center"
        aria-label="multiple delete"
        *ngIf="!data.isSearch && selectAll && tabLookupData.tabs[tabClikedIndex].data.length!=0" (click)="onDeletAll()">
        <span class="mdi mdi-delete pr5"></span><span class="mobi-multi-text">Delete</span>
      </button>
      <span class="col-12 float-left no_pad mt20 text-pop">All {{tabLookupData.tabs[tabClikedIndex].title}}
        ({{tabLookupData.tabs[tabClikedIndex].TotalRecordCount}})</span>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad advance-table mt10">
        <table class="float-left col-12 no_pad tasklist-table allianceTable-home mb50">
          <thead class="float-left col-12 no_pad">
            <tr class="float-left col-12 no_pad">
              <th class="pos-abs-check float-left ellipses selTdTh" *ngIf="tabLookupData.tabs[tabClikedIndex].data.length>1">
                <mat-checkbox class="pos-abs cust-label customized-checkbox rowMat-selection"
                  [(ngModel)]="isSelectAllChecked" (change)="onSelectAll($event)">
                </mat-checkbox>
              </th>
              <th class="col-12 col-md-12 float-left ellipses" [ngClass]="!data.isSearch ? 'width160sync':'col-xl-3'" *ngFor="let header of tabLookupData.tabs[tabClikedIndex].header">
                <span matTooltip="{{header.title}}">{{header.title}}</span></th>
              <th class="actions" [ngClass]="!data.isSearch ? 'actionsync':''" *ngIf="!data.isSearch"></th>
            </tr>
          </thead>
          <!-- [config]="config" -->
          <perfect-scrollbar style="max-height: 200px"
            (psYReachEnd)="tabLookupData.tabs[tabClikedIndex].data.length>0?onReachEnd($event,'loadMore'):''">
            <tbody class="float-left col-12 no_pad" *ngIf="tabLookupData.tabs[tabClikedIndex].data.length> 0">
              <tr class="float-left col-12 no_pad"
                *ngFor="let rowdata of tabLookupData.tabs[tabClikedIndex].data ;let i = index;trackBy: trackByFn">
                <td class="pos-abs-check float-left ellipses selTdTh">
                  <mat-checkbox [checked]="rowdata.isChecked"
                    (change)="rowdata.isChecked=!rowdata.isChecked; diableCondition($event, rowdata.id)"
                    class="pos-abs cust-label customized-checkbox rowMat-selection" value="{{i}}"></mat-checkbox>
                </td>
                <td class="col-12 col-md-12  float-left ellipses" [ngClass]="!data.isSearch ? 'width160sync':'col-xl-3'"[attr.data-label]="header.title"
                  *ngFor="let header of tabLookupData.tabs[tabClikedIndex].header;let j = index"> <span
                    matTooltip="{{rowdata[header.name]}}">{{rowdata[header.name]}}</span>
                </td>
                <td *ngIf="!data.isSearch" [ngClass]="!data.isSearch ? 'col-12 actionsync':''" class="actions">
                  <div class="button_div mobile-align commonActionBlock">
                    <div class="w-100 mobile-align pos-rel">
                      <button type="button" [attr.disabled]="selectAll?'disabled':null"
                        class="mdi mdi-delete float-right deleteColumn" aria-label="delete row"
                        (click)="onDelet(rowdata.id)">
                      </button>
                      <span class=" mobile-icon-text">Delete</span>
                    </div>
                  </div>
                </td>
              </tr>
              <button id="loadMore" class="loadMorePS" (click)="loadMoreEvent()"></button>
            </tbody>
          </perfect-scrollbar>
          <div class="float-left no-record"
            *ngIf="tabLookupData.tabs[tabClikedIndex].data.length==0 && !tabLookupData.isLookupLoading">No record found
          </div>
        </table>
        <div [ngClass]="{'loader-search':tabLookupData.isLookupLoading}" class="top-90"
          *ngIf="tabLookupData.isLookupLoading"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 float-left no_pad">
  <button type="button" class="bottom-btn" [ngClass]="!isButtonEnable?'disable-btn-bottom':''"
    (click)="onSendFilterData()">{{tabLookupData.buttonName}}</button>
</div>
