$Azure: #2f81ff;
$Azure: #2f81ff;
$White : #fff;
$LabelGrey: #4a4a4a;

.deal-qualify {

  .button{
    background: #4a4a4a;
  }
    
  .convo-name-title {
    font-family: "WiproAkkuratTT-Bold";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: $LabelGrey;
  }
  
    .cancel-btn1{
    background: #d9e9ff;
    color: #2f81ff;
    text-align: center;
    font-size: 16px;
    line-height: 1.38;
    font-family: "WiproAkkuratTT-Bold";
    padding: 14px;
    margin-top: 15px;
    border: none;
    }
    
  } 
  .popup-container .popup-hd {
    padding: 15px 0px 0px 2px !important;
} 




