<div class="col-xl-12 col-12 no_pad expand-table-panel w-100-selector" id="scroll-selector" [style.width.px]="width">
    <div class="col-xl-12 col-12 float-left no_pad expand-content " style="height:230px;">
        <div class="col-xl-1 col-12 col-md-1 float-left lightBlueBackground width100-max">
            <div class="col-xl-12 col-6 col-md-12 float-left button-align width50-max">
                <span class="col-12 no_pad float-left Overview">Notes</span>
                <button class="btn-none blueCircle">
                    <span class="table-icons mdi mdi-eye "></span>
                </button>
                <div class="tooltip-expand ">
                    <span class="caret_right_table"></span>
                </div>
            </div>
            
        </div>
        
        <div class="col-xl-11 col-12 col-md-11 float-left expand-ryt-section  width100-max">
            <div class="col-12 float-left desp-section">
                <!-- <span class="col-12 no_pad float-left comment-head">Notes</span> -->
                <perfect-scrollbar class="notes-height">
                <span class="col-11 col-md-7 col-xl-10 no_pad float-left desp-text">
                       {{expansionData.Description}}
                </span>
            </perfect-scrollbar>
            </div>
           
           
        </div>

    </div>
  </div>