<div class="col-12 float-left no_pad popup-container popup-container-opportunity gain-popup">

  <div class="col-12 float-left container-dialog">
      <div class="col-12 float-left no_pad popup-hd">
          <span class="col-10 float-left no_pad popup-hd-txt" mat-dialog-title>Reactivate this opportunity?</span>
          <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close"  (click)='closeIcon()' ></button>
      </div>

      <div class="col-12 float-left border-bottom-grey"></div>


      <div class="accordian-nomination  col-12 float-left no_pad">
          <mat-accordion class="col-12 float-left no_pad accordian-style">
              <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad " (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header class="no_pad" style="min-height:60px;">
                      <mat-panel-title class="col-12 accord-heading">
                          <span [ngClass]="panelOpenState ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                          <span class="accordian-title pad-top-8">01 Opportunity</span>
                      </mat-panel-title>
                  </mat-expansion-panel-header>
                 
                  <div class="horizontal-line w-100 no_pad"></div>
                  <div class="col-12 float-left no_pad mbot-20">
                      <div class="col-12 float-left no_pad customized-checkbox">
                          <div class="col-12 float-left no_pad mt-15">

                              <!--<label for="newViewName" class="view-name-label w-100 convo-name-title"> Account </label>-->
                              <span id="newViewName" class="w-100 convo-name"> {{opportunityName}} </span>

                          </div>

                      </div>
                  </div>
              </mat-expansion-panel>
          </mat-accordion>
      </div>

      <div class="col-12 float-left border-bottom-grey"></div>

      <span class="col-12 float-left no_pad details-txt">This will reactivate the selected opportunities.</span>
  </div>

  <div class="col-6 float-left no_pad">
      <button aria-label="NO" class="col-12 float-left no_pad cancel-btn1 mt-0" mat-dialog-close >No</button>
  </div>
  <div class="col-6 float-left no_pad">
      <button  (click)='confirm()'  aria-label="YES" class="col-12 float-left btndef-none no_pad confrm-btn mt-0" >Yes</button>
  </div>
</div>