.padd20 {
  padding: 20px;
}
.bordr-top {
  border-top: 1px solid #ccc;
}
.accordion-head {
  background: #eaf2ff;
  color: #103f86;
  padding: 15px;
  font-size: 16px;
  font-family: "WiproAkkuratTT-Bold";
  text-align: left;
  border: none;
  border-radius: 5px;
}
.font17 {
  font-size: 17px !important;
}
.margin-btm100{
  margin-bottom: 100px;
}

.accr-arrow {
  font-size: 24px;
  margin-right: 10px;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
}
.plb-60-20 {
    padding: 0px 60px 20px 0px;
  }