<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab conversation-landing">
    <h1 class="float-left heading-level-one mtop6">Campaigns</h1>
    <div class="float-right disp-flex responsive-btn-div web-action-button" *ngIf="userdat.requestCampaign">
      <button type="button"
        class="primary-button edit-mb-btn borderless btn-block button-wd100 h-40 std activity-home-mblbtns responsive-btn-div-button"
        (click)="RequestCampaign()">
        <span class="mdi mdi-bullhorn pr5"></span>Request campaign
      </button>
    </div>
  </div>
</div>
<!-- (click)="openactivitypop()" -->
<!-- main div starts here -->
<div class="col-12 float-left no_pad conversation-landing complex_table">
  <div class="col-12 pos-abs bg-mid_night  pad-30" [ngClass]="userdat.tableRecordsChecked == true ? 'h-427':'h-388'">
  </div>
  <div class="col-12 pad-30 float-left mb120">
    <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad float-left padd-top-130">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>