<ng-container *ngIf="isLoading">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="top-header" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab new-container">
    <div style="max-width: 400px" class="float-left">
      <h1 class="float-left heading-level-one mb-0" title="Deal name" *ngIf="!togglecontent">
        <span class="mdi mdi-arrow-left cp mr10" (click)="goToHome()"></span>Create deal</h1>
        <h1 class="float-left heading-level-one mb-0" title="Deal name" *ngIf="togglecontent">
         Deal Creation</h1>
      <!-- <div class="w-100 nav-to-previos">
        <span class="convo-tag cp" routerLink="/deals/deal/tagged" role="link">Deals > </span>
        <span class="convo-tag cp" routerLink="/deals/taggedSummary" role="link">Tagged opportunities</span>
      </div> -->
    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-right no_pad">
      <div class="float-right disp-flex save-cancel-responsive web-buttons" style="padding-top: 3px;">
        <button class="primary-button secondary-btn  h-40 mr10 std cancel-responsived-btn button-wd50" (click)="service.goBack();deleteCache();isCancel=true;">Cancel</button>
        <button class="primary-button border-0  h-40 std save-responsive-btn button-wd50" *ngIf="showCreate" (click)="createDeal()">Create</button>
      </div>

    </div>

  </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad new-containerD pad-top-117">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-180"> </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30">

     <!-- stepper starts -->
     <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad disp-flex center pad-stepper-mob" *ngIf="togglecontent">
        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2 float-left no_pad create-lead-steeper">
          <button class="round-btn active del float-left">
            <span class="float-left span-text">1</span>
            <span class="float-left active-text">Opportunity search</span>
          </button>
          <span class="float-left horizontal-bar-one twoactive active"></span>
  
        </div>
        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 float-left no_pad ">
          <button class="round-btn twoactive active">
            <span class="float-left span-text">2</span>
            <span class="float-left text-step twoactive active-text">Add deal details
            </span>
          </button>
        </div>
      </div>
      <!-- stepper ends -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card margin-btm55 no_pad  mt40">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-30 pt20 ">
        <h2 class="heading-level-two"> Opportunity summary </h2>
        <div class="divider mt15"> </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt10">

            <div class="col-lg-12 col-md-12 col-12  padbox-0-100-10 float-left ">
              <div class="w-100">
                <label for="OppSum" class="w-100">{{taggedSummery?.IsAmmendment == true ? 'Order ID' :'Opportunity ID'}}
                </label>
                <p id="OppSum">{{taggedSummery?.IsAmmendment == true ? taggedSummery?.OrderName : taggedSummery?.OpportunityNumber}}</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 padbox-0-100-10 float-left label-content" *ngFor="let data of summary;let i=index">
              <div class="w-100">
                <label for="OppSum{{i}}" class="w-100">{{data.label}}
                </label>
                <p id="OppSum{{i}}">{{data.content}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
   
  <form [formGroup]="oppSummery"   id="validatescroll"  *ngIf="showCreate">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card margin-btm55 no_pad  mt40">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-30 pt20 ">
        <h2 class="heading-level-two">Add deal details</h2>
        <div class="divider mt15"> </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt10 customized-input">

            <div class="col-lg-4 col-md-6 col-12  padbox-10-60-10 float-left ">
              <div class="w-100">
                <label for="Dealname" class="w-100">Deal name *</label>
                <div class="pos-rel w-100 float-left no_pad">
                <input class="border-gray w-100" placeholder="Enter deal name" id="Dealname" type="text" formControlName="dealName" [ngClass]="{'error':  !this.oppSummery.controls.dealName.valid}"
                  #dealName >
                   <p *ngIf="this.oppSummery.controls['dealName'].errors"
                   class="error-message top-40"> Please enter the deal name</p>
                 </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12  padbox-10-60-10 float-left  cal_brdr">
              <label for="ExpectedSubDate" class="w-100">Expected submission date *</label>
              <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan">
                <div class="pos-rel w-100 float-left no_pad">
                <input class="col-12 col-lg-12 col-sm-12 col-md-12 float-left "  id="ExpectedSubDate" (click)="picker1.open()" (keypress)="picker1.open()"
                [min]="minDate" [max]="endDate" [matDatepicker]="picker1" title="DD/MMM/YYYY" placeholder="DD-MMM-YYYY" formControlName="dealSubissionDate"
                  [ngClass]="{'error':  this.oppSummery.controls['dealSubissionDate'].errors}" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1">
                  <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <p *ngIf="this.oppSummery.controls['dealSubissionDate'].errors"
                class="error-message top-40"> Please enter submission date</p>
                </div>
              </div>
            
            </div>
            <div class="col-lg-4 col-md-6 col-12  padbox-10-60-10 float-left  ">
              <label for="Currency" class="w-100">Currency</label>
              <mat-radio-group aria-label="Select an option" [ngModelOptions]="{standalone: true}" [(ngModel)]="currencyType" id="Currency" (change)="getDropdownNData($event.value);">
                <div class="mr-5" style="display: inherit;"><mat-radio-button [value]="1"  checked>Standard </mat-radio-button><span class="mdi mdi-information-outline" matTooltip="G8 & Middle East Currencies (AED & SAR)"></span></div>
                <div style="display: inherit;"><mat-radio-button [value]="2">Non standard</mat-radio-button><span class="mdi mdi-information-outline" matTooltip="Rest of the currencies"></span></div>
              </mat-radio-group>
            </div>
            
            <div class="col-12 no_pad float-left">
              <!-- <div class="col-lg-4 col-md-6 col-12 padbox-10-60-10 float-left ">
                <label for="Dealcurrency" class="w-100">Deal currency *</label>
                <div class="customized-select ">
                  <span class="caret color-azure"></span>
                  <div class="pos-rel w-100 float-left no_pad">
                    <select id="Dealcurrency" role="listbox" formControlName="dealCurrency" [ngClass]="{'error':  this.oppSummery.controls['dealCurrency'].errors}">
                      <option value='' selected disabled>Select</option>
                      <option [value]="curr.CurrencyCode" *ngFor="let curr of dealCurrencyList">{{curr.CurrencyName}}</option>
                    </select>
                    <p *ngIf="this.oppSummery.controls['dealCurrency'].errors"
                    class="error-message top-40"> Please enter deal currency</p>
                  </div>
                </div>
              </div> -->
              <div>
                  <mat-form-field class="col-lg-4 col-md-6 col-12 padbox-10-60-10 float-left ">
                      <label for="Dealcurrency" class="w-100">Deal currency *</label>
                      <div class="pos-rel w-100 float-left no_pad">
                          <mat-select  panelClass="Select-panel-class" class="select-focus"
                        formControlName="dealCurrency" [ngClass]="{'error':  this.oppSummery.controls['dealCurrency'].errors}" aria-label="{{selectedCurrency}}" (selectionChange)="SelectCurrency($event);">
                      <mat-option value="" selected disabled>Select</mat-option>
                      <mat-option [value]="curr.CurrencyCode" *ngFor="let curr of dealCurrencyList | orderBy:{property: 'CurrencyName'}">
                        {{curr.CurrencyName}}
                      </mat-option>
                    </mat-select>
                    <p *ngIf="this.oppSummery.controls['dealCurrency'].errors"
                    class="error-message top-40"> Please enter deal currency</p>
                      </div>
                  
                  </mat-form-field>
               
              </div>
             
              <div class="col-lg-4 col-md-6 col-12 padbox-10-60-10 float-left ">
                <label for="RFP" class="w-100">RFP (only docx, pptx, pdf, xlsx file types are allowed)</label>
                <button class=" primary-button attach-btn d-flex align-items-center float-left" type="button">
                  <span  class="mdi mdi-attachment attach-icon"> Attached documents</span>
                  <input (change)="fileUpload($event)" type="file" class="w-166 upload-input" #fileInput
                    (click)="fileInput.value = null"/>
        
                </button>
                <span class="float-left pad-10">{{selectedFile}}</span>
                <!-- <button id="RFP" class=" primary-button attach-btn d-flex align-items-center float-left" (click)="openAttachFilePopup()">
                  <span class="mdi mdi-attachment attach-icon"> </span> Attach files </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div class="float-left col-12 no_pad mobile-buttons">
    <button type="button" class="col-6 no_pad float-left cancel-btn" (click)="deleteCache();isCancel = true ; !togglecontent? goToHome() :gobackdeal()">Cancel</button>
    <button type="button" class="col-6 no_pad float-left save-btn" (click)="createDeal()">Next</button>
  </div>

</div>