label {
    color: #6f6f6f;
    opacity: 0.87;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #6f6f6f;
    margin-bottom: 5px;
}
label + p {
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #000000;
    font-family: WiproAkkuratTT-Bold;
}
.padbox-0-100-10 {
    padding: 10px 20px 10px 0;
}
.padbox-10-60-10{
    padding: 10px 60px 10px 0;
}
.primary-button, .secondary-btn{
    min-width: 110px;
}
.nav-to-previos{
    padding-left: 35px;
    float: left;
    color: #ffffff;
    opacity: 0.6;
    cursor: pointer;
}
.heading-level-one{
    margin-bottom: 0;
}
.label-content{
    p{
      font-family: WiproAkkuratTT-Bold;
    }
  }
  .mdi-attachment:before {
    transform: rotate(-90deg);
    font-size: 18px;
    position: relative;
    bottom: 1px;
}
.loader {

    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
.loaderContainer {

  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
// Stepper starts
.center {
    justify-content: center;
  }
  .round-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(136, 159, 195);
    border-radius: 50%;
    color: #103f86;
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 99;
  }
  .active {
    background-color: white !important;
  }
  .horizontal-bar-one {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    position: relative;
    bottom: 15px; //may-20 2019
    left: 30px;
  }
  .horizontal-bar-two {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    position: relative;
    bottom: 21px;
    left: 30px;
  }
  .disable-input {
    background-color: #f3f3f3;
  }
  .active-text {
    color: white !important;
    position: relative;
    width: 129px;
    top: 15px;
    right: 50px;
  }
  .text-step {
    position: relative;
    width: 135px;
    top: 15px;
    right: 53px;
    color: rgba(255, 255, 255, 0.5);
  }
  .span-text {
    width: 100%;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    padding: 0!important;
}
  //   stepper ends

  .create-ul
  {
    margin-top: 5px;
    margin-bottom: 0;
    li 
    {
      float: left;
      width: 100%;
    }
    
  }
  .pop-label
  {
    opacity: 0.87;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #6f6f6f;
    margin-bottom: 0px;
  }
  .margin-btm0
  {
    margin-bottom: 0;
  }
  .error {
    border: 1.5px solid #ef3341 !important;
  }

  // .error-message {
  //   background: #ef3341 !important;
  //   padding: 3px 6px;
  //   color: #ffffff;
  //   border-radius: 0 0 4px 4px;
  //   top: 40px;
  //   width: 100%;
  //   z-index: 1;
  // }
  .attach-btn{
    // padding-left: 27px;

    .mdi-attachment:before{
      // position: absolute;
      // left :8px;
      // bottom: 18px;
      top: 1px;
    }
    .upload-input
    {
      position: absolute;
    padding: 6px 0;
    left: -2px;
    z-index: 9;
    opacity: 0;
    min-width: 110px;
    max-width: 172px;
    }
  }
  .pad-10{
    padding: 10px;
  }
  .mdi-information-outline::before{
    color: #2f81ff;
    font-size: 20px;
    padding-left: 10px;
  }