<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab account-more-view main-containtnoSide" [ngClass]="userdat.chatBot? 'chat-bot-1100' : ''">
        <h1 class="float-left heading-level-one mt10">
      <span class="mdi mdi-arrow-left cp pad-right" (click)="goBack()"></span>Accounts </h1>
    <span (click)="togglePin()" class="float-left mdi pin-format cp mt10" [ngClass]="isPin == true ? 'mdi-pin-outline' : 'mdi-pin'"></span>

    <div class="float-right disp-flex web-action-button mt10">
      <!--feb-18 rupali-->
      <div class="form-group w140 pull-right no_pad current_position ml10 posR cp"
        (click)="more_clicked = !more_clicked" (clickOutside)="more_clicked = false">
        <button class="blue_border btn-none" role="listbox" aria-label="more option"><span class="caret"
            [ngClass]="more_clicked? 'up' : ''"></span>
          <span class="calinSelect mdi mdi-dots-vertical extra"></span>

          <div class="form-control btnSelect Empaneled_txt border_right_none " id="sel1" placeholder="Empaneled vendor"
            role="button" tabindex="0">More actions </div>
        </button>
        <!-- <ul  id="menucontainer" style="list-style-type:none" class="no_pad" *ngIf="more_clicked">
      <li  class="list_names border_property" (click)="service.creation_modification='creation'" [routerLink]="['/accounts/accountcreation/activerequest']">Account creation</li>
      <li  class="list_names border_property" (click)="service.creation_modification='modification'" [routerLink]="['/accounts/accountmodification/modificationactiverequest']">Account modification</li>
      <li class="list_names border_property" (click)="service.creation_modification='search'" [routerLink]="['/accounts/accountsearch']">Account search</li>
    </ul> -->
      </div>
    </div>
  </div>
</div>


<!-- main div starts here -->
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad account-more-view">
  <div class="col-12 pos-abs bg-mid_night h-395 pad-30 "></div>
  <div class="col-12 pad-30 padb-0 float-left  padd-top-130">


    <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad float-left">

      <div class="col-12 col-lg-12 col-sm-12 col-md-12 col-12 no_pad float-left">
        <div class="col-6 no_pad float-left">
          <h2 class="col-6 float-left heading-level-two no_pad color-white padng-20">4 Custom views
          </h2>
        </div>
        <div class="col-6 no_pad float-left">
          <button class="no_pad  primary-button h-40 float-right btn-align-right wid-50" aria-label="Export to csv" matTooltip="Export the filtered data to Excel"> 
            <span class="mdi mdi-download dwn-load-btn"></span></button>
          <button class="no_pad btn-align-right primary-button h-40 std1 add-btn-design float-right white-boreder no_pad w-135 margR10"
            (click)=openCreatePopup() (keypress) = "openCreatePopup()">
            <span class="mdi mdi-content-save-outline pad-right create-btn"></span>Save view</button>
        </div>
      </div>

      <div class="parent-container" *ngIf="AccountCreationActiveRequestsTable.length > 0">
        <app-single-table (detectActionValue)="performTableChildAction($event)"
          [TableName]="'AccountCreationActiveRequests'" [TableCollection]="AccountCreationActiveRequestsTable"
          [IsFreezedColumn]=true [IsCustomizeTable]=true ></app-single-table>
      </div>

    </div>

  </div>
</div>