.padt-0
{
    padding-top: 0px !important;
}
.primary-button.std1{
    padding: 5px 5px;
    min-width: 50px;
    margin: 0;
}
.dwn-load-btn{
    position: relative;
    bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}
.pad-left-10{
    padding-left: 10px !important;
    }
.btn-align-right{
    background: transparent;
    color: white;
    border: 2px solid white;
}
.pad-right{
    padding-right: 10px
}
.create-btn{
    bottom: 4px;
    position: relative;
}
.w180
{
    width: 280px;
}
.h-40{
    height: 40px;
}
.w-170{
    width: 170px;
}
.mdi-content-save-outline:before {
    content: "\F817";
    font-size: 14px;
    top: 5px;
    position: relative;
}


.loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
.loaderContainer {
  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }