<div *ngIf="isLoading" class="loaderContainer">
    <div class="loader"></div>
</div>
<div class="col-12 float-left  no_pad popup-container newchildconvo ">
    <div class="col-12 float-left  container-dialog-customer">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="back-btn mdi mdi-arrow-left" (click)="hidebusiesscard()" *ngIf="router.url.includes('syncActivity')" ></span>
            <span class="col-9 col-md-10 col-xl-10 float-left  no_pad popup-hd-txt margin-btm0"
                [ngClass]="router.url.includes('syncActivity')?'ml20':'' " mat-dialog-title>Create customer
                contact</span>
            <button class="float-left no_pad btndef-none mdi mdi-window-close close-icn cp" aria-label="close"
                mat-dialog-close></button>
        </div>
        <div class="col-12 float-left border-bottom-grey "></div>
        <div class="scroll-window-customer" slimScroll>
            <div class="col-12 col-md-11 col-xl-11 float-left no_pad mt20">
                <span class="col-4 float-left no_pad header-level-three" *ngIf="!busiesscardpop">General details</span>
                <button class="float-right business-class" (click)="showbusiesscard()" *ngIf="!busiesscardpop">Upload
                    business card</button>
            </div>
            <form id="validatescroll" [formGroup]="customerContactForm" (ngSubmit)="emailValidationChecksOnSave()">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 no_pad float-left " *ngIf="busiesscardpop">
                    <h3 class="header-level-three pb20">Business card</h3>
                    <label *ngIf="img && imageSrc == undefined; else imgBlock" class="business-card d-flex pos-rel"
                        for="fileUpload">
                        <span class="upload color-azure btn-none w-100" matTooltip="Upload contact's business card to fetch and pre-populate relevant details, you will be able to edit these details before saving">
                            <span class="mdi mdi-cloud-upload" (click)="fileInput.click()"></span>Upload
                            <input type="file" class="business-card-upload" style="opacity:0" #fileInput
                                (click)="fileInput.value = null" value="" id="fileUpload1" accept="image/*"
                                (change)="detectFilesRead($event,'fileUpload1')" name="files[]" />
                        </span>
                    </label>
                    <ng-template #imgBlock>
                        <div class="col-4 no_pad img-block">
                            <label class="business-card pos-rel" for="fileUpload">
                                <div class="d-flex pos-abs pl50 middle-btns">
                                    <button class="upload color-white btn-none z-999" type="button"
                                        (click)="replaceImg()">Replace
                                        |</button>
                                    <button class="upload color-white btn-none z-999" id="delete-file" type="button"
                                        (click)="deleteFile($event)">Delete</button>
                                </div>
                                <img class="business-card pos-rel" id="image" [src]="imageSrc" width="100%"
                                    height="100%" *ngIf="imageSrc != null">
                                <div class="overley-image"></div>
                            </label>
                            <input type="file" style="opacity:0" #fileInput (click)="fileInput.value = null" value=""
                                id="fileUpload" (change)="detectFilesRead($event,'fileUpload')" name="files[]" />
                        </div>
                    </ng-template>
                    <span class="float-left col-12 no_pad type-accepted-contact">*File types allowed for business card
                        (JPG, PNG, PJP, JPEG).File size allowed upto 5mb</span>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12  float-left no_pad">
                    <span class="col-12 float-left no_pad header-level-three " *ngIf="busiesscardpop">General
                        details</span>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 mobile-select-box">
                        <label for="select1" class="label-form w-100">Salutation <span class="required">
                                *</span></label>
                        <div class="customized-select">
                            <span class="caret color-azure"></span>
                            <select id="select1" role="listbox" formControlName="salutation"
                                [ngClass]="{'error': f.salutation.invalid && (f.salutation.dirty || f.salutation.touched)}">
                                <option value="">Select salutation</option>
                                <option *ngFor="let data of salutationType" [value]="data.Id">{{data.Value}}</option>
                            </select>
                            <p *ngIf="f.salutation.touched && !f.salutation.valid" class="error-message top-40"> Select
                                salutation </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 web-select-box">
                        <label for="select1" class="label-form w-100">Salutation <span class="required">
                                *</span></label>
                        <mat-form-field class="col-12 no_pad float-left">
                            <mat-label>Select salutation</mat-label>
                            <mat-select aria-label="{{'Select salutation' + salutationTypeAria}}"
                                aria-label="{{'Select salutation' + salutationTypeAria}}" disableOptionCentering
                                panelClass="Select-panel-class" class="select-focus"
                                [ngClass]="{'error': f.salutation.invalid && (f.salutation.dirty || f.salutation.touched)}"
                                formControlName="salutation">
                                <mat-option value="">Select salutation </mat-option>
                                <mat-option *ngFor="let data of salutationType" [value]="data.Id"
                                    matTooltip="{{data.Value}}">
                                    {{data.Value}}
                                </mat-option>
                            </mat-select>
                            <p *ngIf="f.salutation.touched && !f.salutation.valid" class="error-message top-40"> Select
                                salutation </p>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 marg-top-15">
                        <div class="customized-input">
                            <label for="firstname" class="label-form w-100">First name <span
                                    class="required">*</span></label>
                            <div class="pos-rel w-100 float-left no_pad">
                                <input id="firstname" type="text" class="border-gray w-100"
                                    placeholder="Enter first name" formControlName="fname" minlength="2" maxlength="100"
                                    pattern="^[a-zA-Z\. ]+$"
                                    [ngClass]="{'error': f.fname.invalid  && (f.fname.dirty || f.fname.touched)}">
                                <p *ngIf="customerContactForm.controls['fname'].touched && !customerContactForm.controls['fname'].valid && !customerContactForm.get('fname').errors?.pattern"
                                    class="error-message top-40"> Enter first name</p>
                                <p *ngIf="customerContactForm.get('fname').errors?.pattern"
                                    class="error-message top-40">Enter valid
                                    first name</p>
                                <p *ngIf="customerContactForm.get('fname').errors?.range" class="error-message top-40">
                                    Name
                                    cannot
                                    exceed 100 characters</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 marg-top-15">
                        <div class="customized-input">
                            <label for="lastname" class="label-form w-100">Last name <span
                                    class="required">*</span></label>
                            <div class="pos-rel w-100 float-left no_pad">
                                <input id="lastname" type="text" class="border-gray w-100" value=""
                                    placeholder="Enter last name" formControlName="lname" pattern="^[a-zA-Z\. ]+$"
                                    minlength="1" maxlength="100"
                                    [ngClass]="{'error': (f.lname.touched || f.lname.dirty) && !f.lname.valid}">
                                <p *ngIf="customerContactForm.controls['lname'].touched && !customerContactForm.controls['lname'].valid && !customerContactForm.get('lname').errors?.pattern"
                                    class="error-message"> Enter last name</p>
                                <p *ngIf="customerContactForm.get('lname').errors?.pattern"
                                    class="error-message top-40">Enter valid
                                    last name</p>
                                <p *ngIf="customerContactForm.get('lname').errors?.range" class="error-message top-40">
                                    Name
                                    cannot
                                    exceed 100 characters</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 marg-top-15">
                        <div class="customized-input">
                            <label for="designation" class="label-form w-100">Designation <span
                                    class="required">*</span></label>
                            <div class="pos-rel w-100 float-left no_pad">
                                <input id="designatn" name="designatn" type="text" class="border-gray w-100"
                                    placeholder="Enter designation" formControlName="designation" maxlength="100"
                                    required (keypress)="removeNumbers($event)"
                                    [ngClass]="{'error': f.designation.invalid && (f.designation.dirty || f.designation.touched)}">
                                <p *ngIf="f.designation.touched && !f.designation.valid && !f.designation.errors?.isError"
                                    class="error-message top-40"> Enter
                                    designation </p>
                                <p *ngIf="f.designation.errors?.range" class="error-message top-40">
                                    Designation cannot exceed 100 characters</p>
                                <p *ngIf="f.designation.errors?.isError" class="error-message top-40">Special characters
                                    are not allowed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 marg-top-15">
                        <div class="customized-input">
                            <label for="emailId" class="label-form w-100">Email id <span
                                    class="required">*</span></label>
                            <div class="pos-rel w-100 float-left no_pad">
                                <input id="emailId" type="email" class="border-gray w-100" value=""
                                    placeholder="Enter email id" formControlName="email"
                                    pattern="^[a-zA-Z0-9_-]+(\.[_a-zA-Z0-9_-]+)*@[a-zA-Z0-9-_-]+(\.[a-zA-Z0-9-_-]+)*(\.[a-zA-Z]{2,15})$"
                                    [ngClass]="{'error': f.email.touched && !f.email.valid || f.email.errors?.pattern}">
                                <p *ngIf="customerContactForm.controls['email'].touched && customerContactForm.controls['email'].value == ''"
                                    class="error-message top-40"> Enter email id</p>
                                <p *ngIf="customerContactForm.controls['email'].errors?.pattern"
                                    class="error-message top-40">
                                    Enter valid email id</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 customized-input cust_autoComplete pos-rel mt2 ">
                        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb6 label-form"
                            for="accountID">
                            Account name 
                            <!-- <span class="required">*</span> -->
                        </label>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                            <div class="pos-rel w-100 float-left no_pad">
                                <input appKeyListControl #accountlist id="accountID" aria-autocomplete="list"
                                    class="w-100 float-left border-gray  h-40 label-input disabled-control"
                                    name="accountName" type="text" placeholder="Search account/company name"
                                    formControlName="company">
                                <span class="mdi mdi-magnify"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 marg-top-15 mobile-select-box">
                        <label for="select4" class="label-form w-100">Relationship type <span
                                class="required">*</span></label>
                        <div class="customized-select">
                            <span class="caret color-azure"></span>
                            <div class="pos-rel w-100 float-left no_pad">
                                <select id="select4" role="listbox" formControlName="relationship"
                                    [ngClass]="{'error': f.relationship.invalid && (f.relationship.dirty || f.relationship.touched)}">
                                    <option value="">Select relationship type</option>
                                    <option *ngFor="let item of relationType" [value]="item.Id"
                                        matTooltip="{{item.Value}}">
                                        {{item.Value}}</option>
                                </select>
                                <p *ngIf="f.relationship.touched && !f.relationship.valid" class="error-message top-40">
                                    Select
                                    relationship </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 marg-top-15 web-select-box">
                        <label for="select4" class="label-form w-100">
                            Relationship type <span class="required">*</span></label>
                        <mat-form-field class="col-12 no_pad float-left">
                            <mat-label>Select relationship type</mat-label>
                            <mat-select aria-label="{{'Select relationship' + relationTypeAria}}" disableOptionCentering
                                panelClass="Select-panel-class" class="select-focus" aria-required="true"
                                (selectionChange)="appendRelationshipType($event)"
                                [ngClass]="{'error': f.relationship.invalid && (f.relationship.dirty || f.relationship.touched)}"
                                formControlName="relationship">
                                <mat-option value="">Select relationship </mat-option>
                                <mat-option *ngFor="let item of relationType" [value]="item.Id"
                                    matTooltip="{{item.Value}}">
                                    {{item.Value}}
                                </mat-option>
                            </mat-select>
                            <p *ngIf="f.relationship.touched && !f.relationship.valid" class="error-message top-40">
                                Select
                                relationship </p>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 ">
                        <label for="select4" class="w-100 radio-label">Is this a key contact? <span
                                class="required">*</span></label>
                        <mat-radio-group formControlName="isKey"
                            [ngClass]="{'error': (f.isKey.touched || f.isKey.dirty) && !f.isKey.valid}">
                            <mat-radio-button [value]="true" class="pr30">Yes</mat-radio-button>
                            <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 marg-top-15 mobile-select-box">
                        <label for="Categoryid" class="label-form w-100"> Category <span class="required">
                                *</span></label>
                        <div class="customized-select">
                            <span class="caret color-azure"></span>
                            <div class="pos-rel w-100 float-left no_pad">
                                <select role="listbox" id="Categoryid" formControlName="category"
                                    [ngClass]="{'error': f.category.invalid && (f.category.dirty || f.category.touched)}">
                                    <option value="">Select category</option>
                                    <option [value]="item.Id" *ngFor="let item of categoryData"
                                        matTooltip="{{item.Value}}">{{item.Value}}
                                    </option>
                                </select>
                                <p *ngIf="f.category.touched && !f.category.valid" class="error-message top-40"> Select
                                    category </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 marg-top-15 web-select-box">
                        <label for="Categoryid" class="label-form w-100" placeholder="Select category"> Category<span
                                class="required"> *</span>
                        </label>
                        <mat-form-field class="col-12 no_pad float-left">
                            <mat-label>Select Category</mat-label>
                            <mat-select aria-label="{{'Select category' + categoryTypeAria}}"
                                panelClass="Select-panel-class" class="select-focus" aria-required="true"
                                (selectionChange)="appendCategoryType($event)" formControlName="category"
                                [ngClass]="{'error': f.category.invalid && (f.category.dirty || f.category.touched)}">
                                <mat-option value="">Select category </mat-option>
                                <mat-option *ngFor="let item of categoryData" [value]="item.Id"
                                    matTooltip="{{item.Value}}">
                                    {{item.Value}}
                                </mat-option>
                            </mat-select>
                            <p *ngIf="f.category.touched && !f.category.valid" class="error-message top-40"> Select
                                category </p>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 moibile-num marg-top-15 
          web-select-box" formArrayName="contacts" *ngFor="let number of getContacts.controls;let i=index">
                        <label for="phone" class="label-form w-100">Phone number &nbsp;
                            <span *ngIf="i === 0">{{i+1}}</span>
                            <span *ngIf="i > 0">{{i+1}}</span>
                        </label>
                        <div class=" pr-20" [formGroupName]="i">
                            <div class="customized-select float-left w-76">
                                <span class="caret color-azure"></span>
                                <select id="phone" (change)="contactTypeChanges($event)" role="listbox" #phoneType
                                    formControlName="ContactType"
                                    [required]="phoneType.value == '' && phoneNo.value.length>1">
                                    <option value="">Select</option>
                                    <option *ngFor="let item of type" [value]="item.Id" matTooltip="{{item.Value}}">
                                        {{item.Value}}
                                    </option>
                                </select>
                            </div>
                            <div class="customized-input d-flex">
                                <div class="pos-rel w-100 float-left no_pad">
                                    <input specialIsAlphaNumeric [attr.data-type]="'mobileNumber'" id="phone"
                                        type="text" #phoneNo class="border-gray"
                                        [attr.disabled]="phoneType.value==''?'disabled' : null" placeholder="Phone"
                                        formControlName="ContactNo" minlength="8" maxlength="15"
                                        [required]="phoneType.value != '' && phoneNo.value.length==0">
                                    <p *ngIf=" (customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].touched) 
                    && (!customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].valid)"
                                        class="error-message top-40">Enter valid phone number</p>
                                    <p *ngIf="phoneValidation == true && !customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].valid"
                                        class="error-message top-40">Enter valid phone number</p>
                                </div>
                                <div class="float-right no_pad pagination ml10">
                                    <button aria-label="add contact" class="standard-border color-azure mdi mdi-plus"
                                        *ngIf="i == 0 ? true : false" type="button"
                                        (click)="addContactss($event,!this.customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].valid,this.customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].value)">
                                    </button>
                                    <button aria-label="Delete" class="standard-border color-azure mdi mdi-delete"
                                        *ngIf="i == 0 ? false : true" type="button" (click)="deleteContact(i)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 float-left plb-60-20 moibile-num marg-top-15 
          mobile-select-box" formArrayName="contacts" *ngFor="let number of getContacts.controls;let i=index">
                        <label for="phone" class="label-form w-100">Phone number &nbsp;
                            <span *ngIf="i === 0">{{i+1}}</span>
                            <span *ngIf="i > 0">{{i+1}}</span>
                        </label>
                        <div class=" pr-20" [formGroupName]="i">
                            <div class="customized-select float-left w-76">
                                <span class="caret color-azure"></span>
                                <select id="phone" (change)="contactTypeChanges($event)" role="listbox" #phoneType
                                    formControlName="ContactType"
                                    [required]="phoneType.value == '' && phoneNo.value.length>1">
                                    <option value="">Select</option>
                                    <option *ngFor="let item of type" [value]="item.Id" matTooltip="{{item.Value}}">
                                        {{item.Value}}
                                    </option>
                                </select>
                            </div>
                            <div class="customized-input d-flex">
                                <div class="pos-rel w-100 float-left no_pad">
                                    <input specialIsAlphaNumeric [attr.data-type]="'mobileNumber'" id="phone"
                                        type="text" #phoneNo class="border-gray"
                                        [attr.disabled]="phoneType.value==''?'disabled' : null" placeholder="Phone"
                                        formControlName="ContactNo" minlength="8" maxlength="15"
                                        [required]="phoneType.value != '' && phoneNo.value.length==0">
                                    <p *ngIf=" (customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].touched) 
                     && (!customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].valid)"
                                        class="error-message top-40">
                                        Enter valid phone number</p>
                                    <p *ngIf="phoneValidation == true && !customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].valid"
                                        class="error-message top-40">
                                        Enter phone number</p>
                                </div>
                                <div class="float-right no_pad pagination ml10">
                                    <button aria-label="add contact" class="standard-border color-azure mdi mdi-plus"
                                        *ngIf="i == 0 ? true : false" type="button"
                                        (click)="addContactss($event,!this.customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].valid,this.customerContactForm.controls['contacts'].controls[i].controls['ContactNo'].value)"></button>
                                    <button aria-label="Delete" class="standard-border color-azure mdi mdi-delete"
                                        *ngIf="i == 0 ? false : true" type="button" (click)="deleteContact(i)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 float-left no_pad mt30">
        <button class="col-6 float-left no_pad cancel-btn" mat-dialog-close>Cancel</button>
        <button class="col-6 float-left btndef-none no_pad confrm-btn mtop0" type="button"
            (click)="onSave()">Create</button>
    </div>
</div>