<div class="col-12 float-left  no_pad popup-container popup-container-opportunity deal-qualify ">

    <div class="col-12 float-left  container-dialog no_pad">
            <div class="col-12 float-left">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Are you sure you want to create a
                residual opportunity?</span>
            <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn" aria-label="close" mat-dialog-close
               ></button>
        </div>

        <div class="col-12 float-left mt10 border-bottom-grey"></div>

        <div class="col-12 float-left pad-15-12">
              <label for="field1" class="col-12 float-left no_pad w-100 label-text">Opportunity Name</label>
              <span id="field1" type="text" class="col-12 float-left no_pad sub-text">{{oppDetails?.name}}</span>
            </div>
    
            <div class="col-12 float-left pad-15-12">
              <label for="field2" class="col-12 float-left no_pad w-100 label-text">Parent opportunity TCV</label>
              <span id="field2" type="text" class="col-12 float-left no_pad sub-text">{{getSymbol(oppDetails?.OpportunityTCVDisplay)}}</span>
            </div>
          
        <div class="col-12 float-left mt10 no_pad">
            <label class="col-12 float-left  no_pad hd-val font-12" for="functionlead">Residual opportunity name *</label>
            <input type="text" class="col-11 float-left border-gray w-100 mbot-10" placeholder="Enter" [(ngModel)]="residualOppName" />
        </div>

        <div class="col-6 float-left mt10 no_pad">
              <label class="col-12 float-left  no_pad hd-val font-12" for="functionlead">Residual opportunity TCV ({{currencySymbol}}) *</label>
              <input type="text" [oldValue]="residualOppTCV" decimalnumberslimitOnly [allowNegative]="false" [maxlengthVal]="11" class="col-12 float-left border-gray w-100 mbot-10" placeholder="Enter" [(ngModel)]="residualOppTCV" />
          </div>
          <div class="col-12 float-left mt10 border-bottom-grey"></div>
          <div class="col-12 no_pad mt20 float-left"> 
                <label class="col-12 no_pad float-left font-12 colr-orange">The TCV will be distributed as per the service line entries in the
                        parent opportunity.</label>        
               </div>

        
    </div>

    <div class="col-12 float-left no_pad ">
        <button aria-label="ADD" class="col-6 float-left no_pad cancel-btn1" mat-dialog-close 
            >No</button>
            <button aria-label="ADD" class="col-6 float-left btndef-none no_pad confrm-btn mt15"
            (click)="onSave('Yes')">Yes</button>
    </div>

</div>