<!-- main div starts here -->
<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab padd_top35iosWeb" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'">
         <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left pbl30">
                <h1 class=" heading-level-one ">Management log</h1>
                 <span class="sub-heading">{{getSymbol(accountName)}}</span>
                 <!-- <span class="sub-heading">Apple Inc.</span> -->
         </div>
         <!-- {{mobileView}} -->
        <!--feb-19 rupali starts-->
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left no_pad">
            <!-- <div class="float-right disp-flex responsive-btn-div web-action-button web-buttons"></div> new -->
            <!-- <div class="float-right disp-flex mrg-top20 save-cancel-responsive web-action-button"></div> old-->
        <div class="float-right disp-flex responsive-btn-div web-action-button web-buttons">
            <button class="flex-grow-1 save-responsive-btn button-wd50 primary-button borderless btn-block h-40 std w-184" (click)="accountManagement()" routerLinkActive="active">
          <span class="mdi mdi-plus-circle-outline"></span>Add new entry</button>
        </div>
        </div>
    </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad account-management-log-landing" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'">
    <div class="col-12 pos-abs bg-mid_night pad-30" [ngClass]="roleAccess?'h-323':'h-380'"></div>
    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'"> -->
    <div class="col-12 pad-30 float-left padb-0">

    </div>

    <!-- single table code starts here -->
    <div class="col-12 float-left padng-30 padd-top-130 scroll-middle-ios-100vh">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing padt10px">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                <h2 class="col-6 float-left heading-level-two color-white no_pad padding-left0 padt-0 pb-20">{{tableTotalCount}} log(s)</h2>
                <div class="col-6 float-left no_pad">
                    <!--<button class="primary_white float-right ml10" aria-label="Download"><span class="mdi mdi-download"></span>
                  </button>-->
                    <!-- <button class="primary_white_note float-right" (click)="openNotePopup()"><span class="mdi mdi-file"></span>
                  Note</button> -->
                </div>
                <div class="parent-container" *ngIf="ManagementLogTable.length > 0">
                    <app-single-table (detectActionValue)="performTableChildAction($event)"
                        (detectPageChangeData)="getNewTableData($event)" [totalTableCount]="tableTotalCount" 
                        [TableName]="'ManagementLog'" [TableCollection]="ManagementLogTable" 
                        [IsActionFixed]=true [IsFreezedColumn]=true
                        [IsDelete]=true [IsEdit]=true [IsRowDownload]="!mobileView" 
                        [IsCustomizeTable]=true [IsDownload]=userdat.getRoleAccess() [IsMoreAction]=true [IsView]=true [IsAccountsDownload]=true
                        [expansionTable]="'app-management-log-selector'" 
                        [paginationPageNumber]="ManagementLogTableRequestBody"  [filterConfigData]="filterConfigData">
                    </app-single-table>

                </div>
            </div>
        </div>
    </div>
    <!-- single table code ends here -->
    <!-- </div> -->
    <div class="float-left col-12 mobile-buttons bg-azure mobile-sticky-btns">
        <button class="w-100 h-50 primary-button borderless" (click)="accountManagement()" routerLinkActive="active">
        <span class="mdi mdi-plus-circle-outline"></span>Add new entry</button> 
    </div>
    <!-- chethana added feb 18th -->
</div>
<router-outlet></router-outlet>