.helpdesk-nav {
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  margin-top: 59px;
}
.helpdesk-nav-up{
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}
.search-nav {
  margin-top: 20px;
  border-radius: 20px;
  height: 35px;
  border: 1px solid grey;
}
.search-nav:focus {
  border: 1px solid #2f81ff;
}
.search-nav:active {
  border: 1px solid #2f81ff;
}
.help-magnify {
  position: absolute;
  right: 24px;
  top: 20px;
  color: #2f81ff;
  font-size: 20px;
  vertical-align: middle;
  line-height: 35px;
  z-index: 1;
}
.box-search {
  padding-bottom: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
.grid-box {
  display: grid;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: white;
  margin: 15px;
  width: 90%;
  border-radius: 4px;
}
.grid-innerbox span {
  border: none;
  background: transparent;
  color: #2f81ff;
  font-family: "WiproAkkuratTT-Regular";
  font-size: 12px;
  width: 100%;
  float: left;
  text-align: left;
  height: 35px;
  padding: 4px 20px;
}
.grid-innerbox span:hover {
  cursor: pointer;
  background: #d9e9ff;
}
.active{
  background: #d9e9ff !important;
}
.grid-innerbox {
  background: #f8f8f8;
  border-radius: 4px;
}
.gridbox-label {
  color: #0e3570;
  font-family: "WiproAkkuratTT-Bold";
  font-size: 16px;
  position: relative;
  margin-bottom: 10px;
}
.mdi-icon{
  color: #0e3570;
  font-family: "WiproAkkuratTT-Bold";
  font-size: 24px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
//////////////////////////////slim scroll css starts-------------------------->

.scroll-window-helpdesk {
  width: 100%;
  max-height: calc(100vh - 195px);
  font-size: 13px;
  font-size: 15px;
  line-height: 30px;
}

.slimscroll-grid {
  display: none !important;
}

.slimscroll-bar {
  width: 7px !important;
  right: 0px !important;
  background: #bab6b6 !important;
  z-index: 1 !important;
}

.slimscroll-bar:hover {
  background: #bab6b6 !important;
}
span.mdi.mdi-close.auto-close {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 4px;
  font-size: 20px;
  color: #2f81ff;
}
//////////////////////////////slim scroll css ends-------------------------->
