<div class="col-12 col-md-12 col-xl-3 float-left helpdesk-nav no_pad" [ngClass]="service.header?'helpdesk-nav':'main-header helpdesk-nav-up'">
  <div class="col-12 float-left box-search">
    <span class="mdi mdi-magnify float-right help-magnify"></span>
    <input type="text" plaeholder="Search actions" name="searchnavlist" class="col-12 search-nav float-left" [(ngModel)]="searchhelpdesk">
  </div>
  <div class="scroll-window-helpdesk" slimScroll>
    <div class="col-12 float-left grid-box">
      <span class="col-12 gridbox-label float-left no_pad cp" role="button" tabindex="0"
        (click)="showorderlinks = !showorderlinks">
        <span class="mdi-icon" [ngClass]="showorderlinks ? 'mdi mdi-chevron-down':'mdi mdi-chevron-up'"></span>Order
        Booking</span>
      <div class="col-12 float-left grid-innerbox no_pad" *ngIf="showorderlinks">
        <span role="button" [ngClass]="{'active': router.url.includes(nav.router)}" tabindex="0" *ngFor="let nav of helpdesknavorder | filter:searchhelpdesk" (click)="navigate(nav)"
          >{{nav.name}}</span>
          <span  *ngIf="(helpdesknavorder | filter:searchhelpdesk)?.length == 0">No record found</span>
      </div>
    </div>

    <div class="col-12 float-left grid-box" >
      <span class="col-12 gridbox-label float-left no_pad cp" role="button" tabindex="0"
        (click)="showaccountlinks = !showaccountlinks">
        <span class="mdi-icon" [ngClass]="showaccountlinks ? 'mdi mdi-chevron-down':'mdi mdi-chevron-up'"></span>Account actions</span>
      <div class="col-12 float-left grid-innerbox no_pad" *ngIf="showaccountlinks">
        <span role="button" [ngClass]="{'active': router.url.includes(navaccount.router)}" tabindex="0" *ngFor="let navaccount of helpdesknavaccounts | filter:searchhelpdesk" (click)="navigateaccount(navaccount)"
          >{{navaccount.name}}</span>
          <span  *ngIf="(helpdesknavaccounts | filter:searchhelpdesk)?.length == 0">No record found</span>

      </div>
    </div>

    <div class="col-12 float-left grid-box" >
      <span class="col-12 gridbox-label float-left no_pad cp" role="button" tabindex="0"
        (click)="showopplinks = !showopplinks">
        <span class="mdi-icon" [ngClass]="showopplinks ? 'mdi mdi-chevron-down':'mdi mdi-chevron-up'"></span>Opportunity
        actions</span>
      <div class="col-12 float-left no_pad grid-innerbox" *ngIf="showopplinks">
        <span  role="button" [ngClass]="{'active': router.url.includes(navopp.router)}" tabindex="0" *ngFor="let navopp of helpdesknavopp | filter:searchhelpdesk " (click)="navigateopp(navopp)"
          >{{navopp.name}}</span>
          <span  *ngIf="(helpdesknavopp | filter:searchhelpdesk)?.length == 0">No record found</span>

      </div>
    </div>
  </div>
</div>