<div class="col-12 float-left  no_pad popup-container popup-container-opportunity">

  <div class="col-12 float-left  container-dialog">
      <div class="col-12 float-left  no_pad popup-hd">
          <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Edit solution panel</span>
          <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn" aria-label="close" mat-dialog-close ></button>
      </div>

      <div class="col-12 float-left border-bottom-grey"></div>

      <div class="col-12 float-left  no_pad">
          <span class="col-12 float-left  no_pad mt10 hd-lbl">SL TCV input</span>
          <span class="col-12 float-left  no_pad mtb-5 hd-val mbot-10">00.00</span>
      </div>

      <div class="col-12 float-left  no_pad">
          <span class="col-12 float-left  no_pad mt10 hd-lbl">SL duration (In months)</span>
          <span class="col-12 float-left  no_pad mtb-5 hd-val mbot-10">00.00</span>
      </div>

      <div class="col-12 float-left  no_pad">
          <span class="col-12 float-left  no_pad mt10 hd-lbl">SL year 1 ACV</span>
          <span class="col-12 float-left  no_pad mtb-5 hd-val mbot-10">00.00</span>
      </div>

      <div class="col-12 float-left  no_pad">
          <span class="col-12 float-left  no_pad mt10 hd-lbl mbot-10">Commited</span>
          <mat-radio-group class="col-12 float-left no_pad">
              <mat-radio-button checked="true" value=1 class="float-left col-lg-1 col-md-1 col-sm-2 col-4 no_pad txt-blue">Yes</mat-radio-button>
              <mat-radio-button value=2 class="float-left col-lg-1 col-md-1 col-sm-2 col-4 no_pad mleft-60 txt-blue">No</mat-radio-button>
          </mat-radio-group>
      </div>

      <div class="col-12 float-left border-bottom-grey"></div>

      <div class="col-12 float-left  no_pad">
          <span class="col-12 float-left  no_pad mtb-5 add-cont">You are not authorized to add/change the solution panel.</span>
      </div>

  </div>

  <div class="col-12 float-left no_pad ">
      <button aria-label="ADD" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close>OK</button>
  </div>

</div>