<div class="col-12 float-left  no_pad popup-container newchildconvo ">

    <div class="col-12 float-left  container-dialog">

        <div class="col-12 float-left  no_pad popup-hd" *ngIf="data.action=='lock'">
            <span class="col-10 float-left  no_pad  margin-btm0" mat-dialog-title>Are you sure you want to lock the
                proposal document?</span>
            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn cp" aria-label="close"
                mat-dialog-close></button>
        </div>

        <div class="col-12 float-left  no_pad popup-hd" *ngIf="data.action=='delete'">
            <span class="col-10 float-left  no_pad  margin-btm0" mat-dialog-title>Are you sure you want to delete this
                document?</span>
            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn cp" aria-label="close"
                mat-dialog-close></button>
        </div>

    </div>

    <div class="col-12 float-left no_pad mt30">
        <button aria-label="No" class="col-6 float-left no_pad cancel-btn" (click)="onCancel()">No</button>
        <button aria-label="Yes" class="col-6 float-left btndef-none no_pad confrm-btn mr0 mt0"
            (click)="onSubmit()">Yes</button>
    </div>


</div>