<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab main-containt" [ngClass]="userdat.chatBot? 'chat-bot-1100' : userdat.sideTrans ? 'main-containt-250' : ''">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  mt10 mb10 new-container pl30">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad pbl30">
          <h1 class="heading-level-one ">Bulk add team members</h1>
          <!-- <span class="sub-heading">Account list /  Account creation</span> -->
        </div>
  
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left no_pad">
          <div class="float-right disp-flex save-cancel-responsive">
            <button
              class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50 btn-format"
              (click)="goBack()">Cancel</button>
            <button class="primary-button borderless h-40 std save-responsive-btn button-wd50 btn-format"
              [routerLink]="['/accounts/addbulkteammember']" (click)="goBack()">Add</button>
          </div>
        </div>
      </div> 
  </div>
</div>


<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad new-container" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-300 res-position-rel">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30 top-13 padd-top-130 scroll-middle-ios">
  

  

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt22 margin-btm55 no_pad">
        <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad mb100">
    
          <!-- Select DROPDOWN for Meeting Type STARTS -->
          <div class="col-12 col-lg-4 col-md-6 float-left pos-rel mt20 pad-leftright">
            <label for="select1a" class="w-100 label-form">IMS Role * </label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="select1a" role="listbox" aria-required="true">
                <option value="volvo">Select role type</option>
                <option value="saab">Account Manager</option>
                <option value="opel">Account Developer</option>
                <option value="audi">Formal Support</option>
                <option value="audi">Account Setup</option>
              </select>
            </div>
          </div>
          <!-- Select DROPDOWN for Meeting Type Ends -->

          <div class="col-12 col-lg-4 col-md-6 float-left pos-rel mt20 customized-input pad-leftright">
              <label for="completed" class="w-100 label-form">SAP Customer Code *</label>
              <input id="completed" type="text" aria-required="true" class="border-gray w-100" placeholder="Enter SAP customer code">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4  float-left mt20 CompanyName pad-leftright">
                <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                  <!-- [formGroup]="accOwnerSwapForm"> -->
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="contactName4"
                    class="label-form">Team/ Members *</label>
                  <input aria-required="true" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" id="contactName4"
                    name="contactName4" autocomplete="off" type="text" [(ngModel)]="contactName4" placeholder="Select team/ members"
                    (clickOutside)="contactNameclose4()" (keypress)="contactNameSwitch4 = true" (click)="contactNameSwitch4 = true"
                    [ngClass]="submitted && accOwnerSwap.state.errors && accOwnerSwap.state.errors.required ? 'border-pink':'border-gray'"
                    required>
                  <!-- <p *ngIf="submitted && accOwnerSwap.state.errors && accOwnerSwap.state.errors.required"
                      class="error-message custom-msg">State is required</p> -->
                  <span class="mdi mdi-magnify"></span>
      
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure
              suggestion-box pos-abs z-ind-99 border-leftdrop" *ngIf="contactName4 && contactNameSwitch4">
                    <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                      <ul class=" list-group mr2 sort-dropdown">
                        <li class="list-group-item h-50 p-4-10 " (click)="appendcontact4(item.contact,item.index)"
                          *ngFor="let item of wiproContact4 |filter:contactName4">
      
                          <div class="float-left naming-tags child-middle bg-azure">
                            <span class="initials">{{item.initials}}</span>
                          </div>
                          <label for="inti_name" class="float-left name">
                            <span class="d-block list-name">{{item.contact}}</span>
                            <span class="d-block sub-list">{{item.designation}}</span>
                          </label>
                        </li>
                        <li class="d-block list-name h-40 p-10" *ngIf="(wiproContact4 |filter:contactName4).length == 0">
                          No record found </li>
                      </ul>
                    </perfect-scrollbar>
                  </div>
                </form>
              </div>
               
          <!-- Select DROPDOWN for Meeting Stage STARTS -->
          <div class="col-12 col-lg-4 col-md-6 float-left pos-rel mt20 pad-leftright">
            <label for="select1" class="w-100 label-form">Geo*</label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="select1" role="listbox" aria-required="true">
                <option value="volvo">Select Meeting Stage</option>
                <option value="saab">Completed</option>
                <option value="opel">Incomplete</option>
                <option value="audi">Done</option>
                <option value="audi">Pacific</option>
              </select>
            </div>
          </div>
          <!-- Select DROPDOWN for Meeting Stage Ends -->

          <!-- auto complete for customer name starts from here -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4  float-left mt20 CompanyName pad-leftright">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="contactName"
                  class="label-form">Customer name *</label>
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" id="contactName"
                  name="contactName" autocomplete="off" aria-required="true" type="text" [(ngModel)]="contactName" placeholder="Select customer name"
                  (clickOutside)="contactNameclose()" (keypress)="contactNameSwitch = true" (click)="contactNameSwitch = true"
                  [ngClass]="submitted && accOwnerSwap.state.errors && accOwnerSwap.state.errors.required ? 'border-pink':'border-gray'"
                  required>
                <span class="mdi mdi-magnify"></span>
    
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure
            suggestion-box pos-abs z-ind-99 border-leftdrop" *ngIf="contactName && contactNameSwitch">
                  <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                    <ul class=" list-group mr2 sort-dropdown">
                      <li class="list-group-item h-50 p-4-10 " (click)="appendcontact(item.contact,item.index)"
                        *ngFor="let item of wiproContact |filter:contactName">
    
                        <div class="float-left naming-tags child-middle bg-azure">
                          <span class="initials">{{item.initials}}</span>
                        </div>
                        <label for="inti_name" class="float-left name">
                          <span class="d-block list-name">{{item.contact}}</span>
                          <span class="d-block sub-list">{{item.designation}}</span>
                        </label>
                      </li>
                      <li class="d-block list-name h-40 p-10" *ngIf="(wiproContact |filter:contactName).length == 0">
                        No record found </li>
                    </ul>
                  </perfect-scrollbar>
                </div>
              </form>
            </div>
             <!-- auto complete for customer name ends here -->
 
        </div>
       </div>
  
    </div>
  </div>