$Azure : #2f81ff;
$White : #ffffff;
$River : #d9e9ff;
$MetalLight : #9b9b9b;
$MidNight : #103f86;
$Metal : #4a4a4a;
$Black : #000000;
$Orange : #f58323;
$RubyRed : #ef3341;
$Green : #6dc24b;
$Wash : #9f9f9f;
$MidGrey:#343434;
$Assistant-blue: #E5F0FF;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey : #4a4a4a;
$BlueSoftBG : #eaf2ff;
$ashGry: #708cb6;

.h-190{
    height:190px;
}

.h-50{
    height:50px;
}

.borderless{
    border:none !important;
    }
.padd-all{
    padding: 10px 20px 10px 20px;
}
.heading-level-two{
    font-size: 16px;
    color: #4a4a4a !important;
    padding: 15px;
    font-family:WiproAkkuratTT-Bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width:400px;
  }

.sub-text{
    font-size: 14px;
    font-family: WiproAkkuratTT-Bold;
    padding-top: 3px;
}
.label-text{
    font-size: 12px;
    margin-bottom: 0px;
}
.padd-left40{
    padding-left: 40px;
}
.btn-color{
    border: 1px solid $Wash;
    color: $Wash;
}
.mb100{
    margin-bottom: 100px;
}

.h-40{
    height: 40px;
}

.btn-format{
    padding: 6px 5px;
    min-width: 110px;
}
.CompanyName{
    .mdi-magnify:before{
        color: $Azure ;
        font-size: 20px;
        right: 10px;
        position: absolute;
        bottom: 5px;
    }
}
.margin-top-5{
    margin-top: 5px;
}
.border-leftdrop{
    border-left: 2px solid #2f81ff !important;
}
.z-ind-99{
    z-index:99
}
.color-azure{
    color: $Azure ;
}
.top64{
    top:64px;
}
.border-btm{
    border-bottom: 2px solid;
 }
 .border-right{
    border-right: 2px solid $Azure !important;
}
.sort-dropdown{
    background: white;
}
.p-4-10{
    padding:4px 10px 4px 10px ;
}
.list-group-item{
    cursor: pointer;
    font-size: 12px;
    color: $Azure;
    border:none;
}
.list-group-item:hover{
    background-color: $River;
}
.text-height-70{
    height: 125px !important;
}
.p-4-10{
  padding:4px 10px 4px 10px ;
}
.list-name{
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #000000;
}
.sub-list{
    font-size: 10px;
    color: #9b9b9b;
    font-family: WiproAkkuratTT-Regular;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.z-ind-9{
    z-index:9
}
.pad-leftright{
    padding: 0 25px;
}
/*chethana heander css starts*/
.padd-top-130{
  padding-top: 170px !important;
}
.h-300{
  height: 300px;
}
.padd-top-65 {
    padding-top: 65px !important;
}
.pl30 {
    padding-left: 30px !important;
}
.pr{
    padding-right: 0px !important;
}
/*chethana heander css ends*/