$Orange: #f58323;
label {
  color: #6f6f6f;
  opacity: 0.87;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #6f6f6f;
  margin-bottom: 5px;
}
label + p {
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #000000;
  font-family: WiproAkkuratTT-Bold;
}
.padbox-0-100-10 {
  padding: 10px 20px 10px 0;
}
.padbox-10-60-10{
  padding: 10px 60px 10px 0;
}
.primary-button, .secondary-btn{
  min-width: 110px;
}
.nav-to-previos{
  padding-left: 35px;
  float: left;
  color: #ffffff;
  opacity: 0.6;
  cursor: pointer;
}
.heading-level-one{
  margin-bottom: 0;
}
.label-content{
  p{
    font-family: WiproAkkuratTT-Bold;
  }
}
.date-deatil
{
  text-align: center;
  div 
  {
    border-top: 2px solid #d9e9ff;
    position: absolute;
    top: 10px;
  }
  span 
  {
    padding: 8px 22px;
    background: #d9e9ff;
    border-radius: 22px;
    font-size: 12px;
    position: relative;
    z-index: 8;
  }
}
.attach-box
{
  margin-top: 26px;
  .font-11
  {
    font-size: 11px;
  }
  .color-azure
  {
    color: #2f81ff;
    cursor: pointer;
  }
  
 
  label 
  {
    
    padding-right: 0;
  }
  .more
  {
    color: #000000;
    font-size: 20px;
  }
}
.chat-cust-dropdown-btn
{
  .dropdown-content
  {
    list-style: none;
    padding: 0;
    margin-top: 28px;
    width: max-content;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    li
    {
      padding: 4px 20px 4px 11px;
      font-family: "WiproAkkuratTT-Bold";
      color: #2f81ff;
      &:hover{
        color: #ffffff;
        background: #2f81ff;
      }
    }
    .m-r-5
    {
      margin-right: 5px;
    }
  }
}
.color-orange {
  color: $Orange !important;
}

.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}
.loaderContainer {
width: 100%;
top:0em;
position: absolute;
height: 100%;
z-index: 9999;
background: white;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.doc-histryPos
{
  left: 92px;
  top: 2px;
}
.padding-left5
{
  padding-left: 5px;
}
.mdi-keyboard-backspace:before {
  font-size: 22px;
  position: relative;
  bottom: 4px;
  color: #ffff;
}