<div class="col-12 float-left  no_pad popup-container ">
  
    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>
     Since an Opportunity is tagged to the reference owner hence this assignment reference cannot be disabled.
            </span>
            <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn"
                aria-label="close" mat-dialog-close ></button>
        </div>

        <div class="col-12 float-left border-bottom-grey"></div>

        <div class="col-12 float-left no_pad container-content"> 

        <span> Please select any relevant user from below to <b>retag all
            active opportunities  </b>from this Assignment reference:</span>

        <form class="col-12  float-left no_pad mt20 ">
                <label class="col-12  float-left no_pad" for="Owner" class="label-form">Owner<span class="required"> *</span>
                </label>
                <input class="col-12  float-left h-40 label-input" id="Owner" name="Owner"
                    autocomplete="off" type="text" [(ngModel)]="Owner" placeholder="Search owner"
                    (clickOutside)="ownerSwitch = false"  (input)="ownerSwitch = true"
                    
                   >
                <span class="mdi mdi-magnify"></span>
                <div class="col-12  border-right border-btm z-ind-9999 float-left no_pad suggestion-box  border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white po-rel top-2"
                    *ngIf="Owner && ownerSwitch">
                    <perfect-scrollbar style="max-height:130px" class="z-ind-9">
                        <ul class=" list-group mr2  sort-dropdown " >
                                <!-- [ngClass]="{'loader-search':isActivityGroupSearchLoading }" -->
                            <li class="list-group-item h-40 p-4-10"
                                (click)="appendOwner(item)"
                                *ngFor="let item of OwnerDetails | filter:Owner">

                                <label for="inti_name" class="float-left name w-80">
                                    <span class="d-block list-name ellipses">{{item.FullName}}</span>
                                </label>

                            </li>

                            <li class="d-block list-name h-50 p-10" *ngIf="(OwnerDetails |filter:Owner).length == 0">No results found 
                                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad font-12">
                                        Ensure that you have typed correct legal entity name</span></li>
                            <!-- <li class="d-block list-name h-40 p-10 cp"
                                *ngIf="(CustomerContacts['message'] && !isActivityGroupSearchLoading) || CustomerContacts.length==0">
                               {{CustomerContacts['message']}} </li> -->
                        </ul>
                    </perfect-scrollbar>
                    <!-- <span class="db-search" (click)="openadvancetabs('BUContactSearch',CustomerContacts,CBUData.CustomerContact.FullName)">
                        <button id="{{CustomerContacts?.length+1}}" role="option" tabindex="0" aria-disabled="false"
                          type="button" class="button-search"
                          [class.active]="CustomerContacts?.length+1 == arrowkeyLocation">
                          <span class="mdi mdi-file-outline"></span> Advance look up
                        </button>
                      </span> -->
                </div>

                <div class="col-12 float-left no_pad customized-checkbox mt-20">       
                    <mat-checkbox class="col-12 float-left no_pad" (change)="retag()" >Bulk Re-tag all opportunitutes to user</mat-checkbox>
                  </div>

             
            </form>
  <!-- [checked]="item.isChecked" (change)="item.isChecked=!item.isChecked" -->
           
      
  </div>
    </div>

    <div class="col-12 float-left no_pad ">
        
            <button class="col-12 float-left btndef-none no_pad confrm-btn " [ngClass]="bulkChecked?'bg-azure':'bg-grey'"
            mat-dialog-close [disabled]="bulkChecked">Confirm retagging</button>
 
    </div>

</div>