<ng-container *ngIf="isLoading">
    <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
        <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
          <div class="loaderContainer">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
</ng-container>
<router-outlet>
  <div class="float-right mr-70">
    <div class="sticky-btns-div1 float-left feedback-opacity" [ngClass]="help ? 'active' : ''">
      <button class="mdi mdi-pencil" (click)="openFeedbackPop()">Feedback</button>
    </div>
  </div>
</router-outlet>
<!-- <div class="mdi mdi-arrow-up scrolltopmobile" *ngIf="scrolltopshow" [ngClass]="scrolltopshow?'dshowscroll':'dnonescroll'" (click)="gototop()">
    
</div> -->
