
<div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
        <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
            <!-- <h2 class="col-12 float-left heading-level-two color-white padng-30 no_pad padding-left0">25 opportunity</h2> -->
            <div class="parent-container new-resp-tbl" *ngIf="allopportunity.length>0">
                <app-single-table 
                (detectActionValue)="performTableChildAction($event)" 
                [TableName]="'allopportunity'"
                [TableCollection]="allopportunity" 
                [IscheckBoxRequired]= true 
                [IsActionFixed]= true 
                [IsFreezedColumn]= true 
                [IsQualify]= true 
                [IsDisqualify]= true 
                [IsConvert]= true 
                 [IsSelection] = true
                 [IsCustomizeTable] = true
                 [IsDownload]=true
                 [paginationPageNumber]="paginationPageNo"
                 [totalTableCount]="tableTotalCount"
                 
                 [IsTabList] = "tabList"
                 (selectedValue)="appendConversation($event)"
                 [TabValueSelected]="selectedTabValue"
                > </app-single-table>
            </div>


        </div>
    </div>
</div>
