.news-window-widget {
//   background: #ffffff;
//   border-radius: 4px;
//   box-shadow: 0 2px 10px 0 rgba(157, 157, 157, 0.69);
//   display: inherit !important;
//   border: none !important;
     height: 100%;

  .cardHeader {
    border-bottom: 2px solid #d8d8d8;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .cardsHead {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: #000000;
    margin-top: 0px;
   
    margin-bottom: 0;
  }

  .news-close:before {
    color: #000000;
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    float: right;
  }

  .news-card {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(157, 157, 157, 0.69);
    display: inherit !important;
    border: none !important;

    &:last-child{
        margin-bottom: 15px;
    }
  }
  a.linkTxt{
    font-family: WiproAkkuratTT-Regular !important;
    color: #2f81ff !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
  .mdi-link-variant:before {
    color: #2f81ff;
    font-weight: bold;
  }
  .news-cardeader{
    font-family: WiproAkkuratTT-Bold;
    color: #0e3570;
    font-size: 16px;
    padding: 15px;
  }
  .news-card-content{
    font-family: WiproAkkuratTT-Regular;
    color: #104596;
    font-size: 14px;
    background-color: #f5f5f5
  }
  .news-card-text{
      padding: 15px;
  }
  .mt-15{
      margin-top: 15px;
    
  }
  .pad-15{
      padding: 15px;
  }
  .pb-15{
      padding-bottom: 15px;
  }
  .p-l-r-5{
      padding-left: 5px;
      padding-right: 5px;
  }
  .mb-15{
    margin-bottom: 15px;
  }
  .time-stamp{
      color: #9b9b9b;
      font-family: WiproAkkuratTT-Regular;
      font-size: 10px;
      padding-right: 10px;
  }

  .no_record{
    color: #9b9b9b;
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    margin-top: 80px;
    text-align: center;
}

  //////////////////////////////slim scroll css starts-------------------------->

.scroll-window {
    width: 100%;
    max-height: 700px;
    font-size: 13px;
    font-size: 15px;
    line-height: 30px;
  }
  
  .slimscroll-grid {
    display: none !important;
  }
  
  .slimscroll-bar {
    width: 7px !important;
    right: 0px !important;
    background: #bab6b6 !important;
    z-index: 1 !important;
  }
  
  .slimscroll-bar:hover {
    background: #bab6b6 !important;
  }
  span.mdi.mdi-close.auto-close {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 4px;
    font-size: 20px;
    color: #2f81ff;
  }
  //////////////////////////////slim scroll css ends-------------------------->
}
