<!-- main div starts here -->
<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 main-containt-contracts header-action-tab  header-action-tab_padding" 
  [ngClass]="userdat.chatBot? 'chat-bot-1100' : userdat.sideTrans ? 'main-containt-contracts-270' : ''">
    <h1 class="float-left heading-level-one pb130 pt15">Contract</h1>
      <!--feb-19 rupali starts-->
      <!--<div class="float-right disp-flex mrg-top20 save-cancel-responsive web-action-button w-180">
        <button class="save-responsive-btn button-wd50 primary-button borderless btn-block h-40 std w-184"
       routerLink="/accounts/addcontract">
            Create new contract</button>
      </div>-->
  </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad account-contract-landing" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'">
  <div class="col-12 pos-abs bg-mid_night h-380 pad-30"></div>     
  <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'"> -->
<div class="col-12 pad-30 float-left padb-0 padd-top-130">             


    <div class="col-12 ptop-20 no_pad vertical-btns-div flex-tab pt15">
      <div class="col-xl-7 col-lg-7 col-md-8 col-12 no_pad flex-tab-width web-tab">
        <button  class="col-lg-3 col-sm-4 col-md-4 col-4 sub-vertical-but brd-right0 " role="tab" [attr.aria-selected]="pendingrequests ? true : '' " (click)="pendingrequests1()" [routerLink]="['pendingrequests']" routerLinkActive="active">
          <span class="no_pad mdi mdi-eye calin-select-all pr5 pos_rel "></span>
          <span class=" no_pad btntxt-s">Pending requests</span>
        </button>
        <button  class=" col-lg-3 col-sm-4 col-md-4 col-4 pull-right sub-vertical-but brd-left0 " role="tab" [attr.aria-selected]="contractrepository ? true : '' " (click)="contractrepository1()"  [routerLink]="['contractrepository']" routerLinkActive="active">
          <span class="no_pad calin-select-all mdi mdi-folder-multiple pr5 pos_rel "></span>
          <span class="no_pad btntxt-s"> Contract repository</span>
        </button> 
      </div>

      <div class="col-12 no_pad flex-tab-width mobile-tab">
          <button  class="col-lg-3 col-sm-6 col-md-4 col-6 sub-vertical-but brd-right0 " role="tab" [attr.aria-selected]="pendingrequests ? true : '' " (click)="pendingrequests1()"  [routerLink]="['pendingrequests']" routerLinkActive="active">
            <span class="no_pad mdi mdi-eye calin-select-all pr5 pos_rel "></span>
            <span class=" no_pad btntxt-s">Pending requests</span>
          </button>
          <button  class=" col-lg-3 col-sm-6 col-md-4 col-6 pull-right sub-vertical-but brd-left0 "  role="tab" [attr.aria-selected]="contractrepository ? true : '' " (click)="contractrepository1()"  [routerLink]="['contractrepository']" routerLinkActive="active">
            <span class="no_pad calin-select-all mdi mdi-folder-multiple pr5 pos_rel "></span>
            <span class="no_pad btntxt-s">Contract repository</span>
          </button>
        </div>
    </div> 
  </div>

<router-outlet></router-outlet>
<!-- </div> -->
</div>