<div class="ChatBOT_container">
  <div class="posF no_pad">
    <div class="col-xs-12 chatInDiv no_pad">
      <div class="showbox">
        <!-- <iframe id="useriframe" src="http://localhost:4321/" frameborder="0" class="calc-height w-100"></iframe> -->
        <!-- <iframe id="useriframe" src="http://localhost:4321/" frameborder="0"
                    style="width:100%;height:-webkit-fill-available;"></iframe> -->
        <!-- <iframe id="useriframe" src="https://mock-tokenhandler.azurewebsites.net/index.html" frameborder="0"
                    style="width:100%;height:-webkit-fill-available;"></iframe> -->
        <!-- <iframe *ngIf="!devEnv" id="useriframe" [src]="wittyParrotIframe | chatBotsafe" frameborder="0" frameborder="0"
          class="calc-height w-100"></iframe> -->
        <!-- <iframe *ngIf="devEnv" allow="microphone" id="useriframe" (load)="iframeLoaded()"
          [src]="digitalAssistantUrl | chatBotsafe" frameborder="0" frameborder="0"
          [ngClass]="service.header? 'calc-height' : 'calc-height-extend'"
          class=" w-100 box-shadow-seperation"></iframe> -->
        <div [ngClass]="service.header? 'calc-height' : 'calc-height-extend'" class=" w-100 box-shadow-seperation">
          <app-assistant-home></app-assistant-home>
        </div>
      </div>
    </div>
  </div>
</div>