<!-- Approve pop part 1 starts -->

<div class="col-12 float-left  no_pad popup-container popup-container-opportunity deal-qualify " *ngIf="mainPop">
    <div class="col-12 float-left  container-dialog no_pad">
        <div class="col-12 float-left no_pad">
            <div class="col-12 float-left popup-hd">
                <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Are you sure you want to
                    approve
                    this order ?</span>
                <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn"
                    aria-label="close" mat-dialog-close></button>
                    <div class="col-12 float-left border-bottom-grey mt-2"> </div>
            </div>

            

            <perfect-scrollbar style="max-height: 350px">
                <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">


                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left mt20 manage-pad">
                        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="practice"
                            class="label-form">Exception approval*</label>

                        <!-- Select DROPDOWN STARTS -->
                        <div class="col-12 float-left no_pad mobile-select-box">
                            <div class="customized-select">
                                <span class="caret color-azure"></span>
                                <select id="practiceee" name="practiceeee" role="listbox" class="pad-left10" [(ngModel)]="selectedExceptionData" (ngModelChange) = "exceptionApprovalChange($event)" [value]='data.Id === 184450000'>
                                    <!--<option disabled>Select</option>-->
                                    <option *ngFor ="let data of exceptionalData" [value]="data.Id">{{data.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12float-left web-select-box">
                            <mat-form-field class="col-12 no_pad float-left">
                                <mat-label>Select</mat-label>
                                <mat-select class="select-focus" name="practiceeee" disableOptionCentering panelClass="Select-panel-class" [(ngModel)]="selectedExceptionData" (ngModelChange) = "exceptionApprovalChange($event)">
                                    <mat-option *ngFor ="let data of exceptionalData" [value]="data.Id">{{data.Name}}</mat-option>
                                    <!-- <mat-option value="budget">No budget required</mat-option> -->
                                    <!-- <mat-option>MAt-ex 1</mat-option>
                                    <mat-option>MAt-ex 1</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Select DROPDOWN ENDS -->

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left  mt20" *ngIf = "uploadSupprotMailFlag">
                        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                            class="label-form">Upload supporting mail*</label>
                        <div class="customized-select">
                            <label  for="attach"
                                class=" primary-button attach-btn align-items-center float-left">
                                <span class="mdi mdi-attachment attach-icon"> </span> Upload document </label>
                         
                            <input type="file" name="uploadfiles" id="attach" class="input-type-file" multiple
                            ng2FileSelect [uploader]="uploader"  (fileOver)="fileOverBase($event)" (onFileSelected)="fileOverBase($event)">
                        </div>
                    </div>
                   
                    <!-- Currency autocomplete starts here-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left pad-left mt20">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left customized-input">
                            <label for="estimatedRFI" class="w-100 label-form">Location</label>
                            <input (click)="mainPop = false" id="estimatedRFI" type="text" class="border-gray w-100 cp" name="Location" [(ngModel)]="Location"
                                value="" placeholder="Enter Location">
                            <button aria-label="search" class="mdi mdi-magnify"></button>
                        </div>
                    </div>
                    <!-- Currency autocomplete ends here-->

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left  mt20">
                        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="appDoc"
                            class="label-form">Approval doc*</label>
                        <!-- Select DROPDOWN STARTS -->
                        <div class="col-12 float-left no_pad mobile-select-box">
                            <div class="customized-select">
                                <span class="caret color-azure"></span>
                                <select name="appDoc" role="listbox" class="pad-left10" [(ngModel)]="selectedapprovalDocData">
                                    <option *ngFor = "let data of approvalDocData" [value]="data.Id">{{data.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12float-left web-select-box">
                            <mat-form-field class="col-12 no_pad float-left">
                                <mat-label>Select</mat-label>
                                <mat-select name="appDoc" class="select-focus" disableOptionCentering
                                    panelClass="Select-panel-class" [(ngModel)]="selectedapprovalDocData">
                                    <mat-option *ngFor = "let data of approvalDocData" [value]="data.Id">{{data.Name}}</mat-option>
                                    <!-- <mat-option>MAt-ex 1</mat-option>
                                    <mat-option>MAt-ex 1</mat-option>
                                    <mat-option>MAt-ex 1</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Select DROPDOWN ENDS -->
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left pad-left mt20">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left customized-input">
                            <label for="estimatedRFI" class="w-100 label-form">MSA number*</label>
                            <input id="estimatedRFI" name="MSAnumber" type="text" class="border-gray w-100" value="" [(ngModel)]="MSAnumber" [appAlphaNumeric] = "'ordertype'"
                              placeholder="Enter MSA number">
                        </div>
                    </div>


                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left  mt20">
                        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                            class="label-form">MSA start date * </label>
                        <div class="pos-rel">
                            <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                                <div
                                    class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan customized-input">
                                    <input [min]="ApproveMinDate" class="col-12 col-lg-12 col-sm-12 col-md-12 float-left " id="calStart"
                                        [matDatepicker]="picker2" (click)="picker2.open()" (keypress)="picker2.open()"
                                        title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY" readonly="readonly" (dateChange)="selecteStartDate($event.value)">
                                    <mat-datepicker-toggle matSuffix [for]="picker2" tabindex="0" aria-label="calender"
                                        (click)="picker2.open()" (keypress)="picker2.open()">
                                        <span class="mdi mdi-calendar-blank float-right no_pad"
                                            matDatepickerToggleIcon></span>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left  mt20">
                        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                            class="label-form">MSA end date * </label>
                        <div class="pos-rel">
                            <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                                <div
                                    class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan customized-input">
                                    <input [min]="MSAstartDate" [disabled]="!MSAstartDate" class="col-12 col-lg-12 col-sm-12 col-md-12 float-left "
                                        id="calStart" [matDatepicker]="picker3" (click)="picker3.open()"
                                        (keypress)="picker3.open()" title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY"
                                        [ngClass]="estFlag?'orangeborder':''" readonly="readonly" (dateChange)="selecteEndDate($event.value)">
                                    <mat-datepicker-toggle matSuffix [for]="picker3" tabindex="0" aria-label="calender"
                                        (click)="picker3.open()" (keypress)="picker3.open()">
                                        <span class="mdi mdi-calendar-blank float-right no_pad"
                                            matDatepickerToggleIcon></span>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">
                            <label *ngIf="!data.BFMApprComment" for="record" class="col-12 float-left no_pad label-form rel-top-18 padding_top_5">
                                Exception approval remarks </label>
                            <label *ngIf="data.BFMApprComment" for="record" class="col-12 float-left no_pad label-form rel-top-18 padding_top_5">
                                Exception approval remarks * </label>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad ">
                            <label for="record" class="col-12 float-left no_pad label-form rel-top-18">
                            </label>

                            <textarea id="record" maxlength="2000" [ngClass]="descriptionFlag?'orangeborder':''"  [appAlphaNumeric] = "'alphanumeric'"
                                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left rel-top-18  text-area-content"
                                placeholder="Enter approval reason" name="approvalComment" [(ngModel)]="approvalComment"></textarea>

                        </div>
                    </div>

                </form>
            </perfect-scrollbar>

        </div>
        <div class="col-12 float-left no_pad ">
            <button aria-label="No" class="col-6 float-left no_pad cancel-btn1" mat-dialog-close>No</button>
            <button aria-label="Yes" class="col-6 float-left btndef-none no_pad confrm-btn mt15 bg-azure"
                (click)="onClose('Yes')">Yes</button>
        </div>

    </div>
</div>

<!-- Approve popup part 1 ends here-->

<!--Approve popup part 2 starts here-->

<div class="col-12 float-left  no_pad popup-container newchildconvo" *ngIf="!mainPop">

    <div class="col-12 float-left no_pad container-dialog">
        <div class="col-12">
            <div class="col-12 float-left no_pad pt15">
                <span class="col-10 float-left  no_pad popup-hd-txt margin-btm0" mat-dialog-title><span role="button"
                        class="mdi mdi-keyboard-backspace cp" (click)="mainPop = true"></span> Look up:
                    Records</span>
                <button class="float-left no_pad btndef-none mdi mdi-window-close close-icn cp" aria-label="close"
                    (click)="mainPop = true"></button>
            </div>
            <div class="col-12 float-left border-bottom-grey mt-2"></div>
        </div>

        <!--1st row-->
        <!-- <div class="col-lg-12 col-xl-12 float-left pad-20-0">

            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 float-left mobile-select-box mb-15">
                <div class="customized-select">
                    <span class="caret color-azure"></span>
                    <select id="Location" role="listbox">
                        <option value="Bangalore">Bangalore</option>
                        <option value="Pune">Pune</option>
                        <option value="Mumbai">Mumbai</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 float-left web-select-box">
                <mat-form-field class="col-12 no_pad float-left">
                    <mat-label>Location</mat-label>
                    <mat-select class="select-focus" disableOptionCentering panelClass="Select-panel-class">
                        <mat-option value="Bangalore">Bangalore</mat-option>
                        <mat-option value="Pune">Pune</mat-option>
                        <mat-option value="Mumbai">Mumbai</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-5  float-left cust_autoComplete pos-rel autodiv mb-15">
                <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left CompanyName">
                    <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input"
                        id="SearchRecord" name="SearchRecord" autocomplete="off" type="text" [(ngModel)]="SearchRecord"
                        placeholder="Search records" (clickOutside)="SearchRecordClose()"
                        (click)="SearchRecordSwitch = true">
                    <span class="mdi mdi-magnify"></span>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-right border-btm z-ind-9999 float-left no_pad suggestion-box pos-rel border-bottom-4 standard-border color-azure z-ind-9 bg-white"
                        *ngIf="SearchRecord && SearchRecordSwitch">
                        <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                            <ul class=" list-group mr2  sort-dropdown ">
                                <li class="list-group-item h-50 pad-4-10"
                                    (click)="appendSearchRecord(item.contact,item.index)"
                                    *ngFor="let item of searchContact |filter:searchrecord">

                                    <div class="float-left naming-tags child-middle bg-azure">
                                        <span class="initials">{{item.initials}}</span>
                                    </div>
                                    <label for="inti_name" class="float-left name w-80">
                                        <span class="d-block list-name ellipses">{{item.contact}}</span>
                                        <span class="d-block sub-list">{{item.designation}}</span>
                                    </label>

                                </li>
                                <li class="d-block list-name h-40 p-10"
                                    *ngIf="(searchContact |filter:searchrecord).length == 0">
                                    No record found </li>
                            </ul>
                        </perfect-scrollbar>
                    </div>
                </form>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact selected-tags">
                    <perfect-scrollbar style="max-height:300px">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt-10 p-4-10 mr10 d-flex"
                            *ngFor="let item of selectedSearchRecord">

                            <div class="float-left naming-tags child-middle bg-azure">
                                <span class="initials">{{item.initials}}</span>
                            </div>

                            <label for="inti_name" class="float-left name">
                                <span class="d-block color-azure mr10 float-left ellipses w-100">{{item.contact}}</span>
                            </label>
                            <span role="button" tabindex="0" aria-label="delete"
                                class="mdi mdi-close close-lead float-right cp"></span>
                        </div>
                    </perfect-scrollbar>
                </div>

            </div>


            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 no_pad float-left padLR-15">
                <mat-checkbox class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1 float-left no_pad check" name="OtherCheckbox" (change)="selectOtherLoc($event)">
                    Others
                </mat-checkbox>
                <input class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 float-left h-40 label-input checkboxinput" id="others"
                    name="other" type="text" placeholder="Write others" [(ngModel)]="otherLocation" [disabled]="disableOtherLoc">
            </div>
        </div> -->
        <!--1st row ends-->

        <!--2nd row starts-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left rowprops">

            <!-- Country DROPDOWN STARTS -->
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left mobile-select-box">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad"
                    for="Country"> Country </label>
                <div class="customized-select">
                    <span class="caret color-azure"></span>
                    <select id="Country" role="listbox" name="selectedCountry" [(ngModel)]="selectedCountry" (ngModelChange)="changeCountry($event)" [disabled]="disabledDropdown">
                        <option value="" disabled>Select</option>
                        <option *ngFor = "let data of countriesArr" [value]="data.CountryCode">{{data.CountryName}}</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left web-select-box pl-15">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad"
                    for="Country">
                    Country</label>
                <mat-form-field class="col-12 no_pad float-left">
                    <mat-label>Country</mat-label>
                    <mat-select class="select-focus" disableOptionCentering panelClass="Select-panel-class" name="selectedCountry" [(ngModel)]="selectedCountry" (ngModelChange)="changeCountry($event)" [disabled]="disabledDropdown">
                        <mat-option  value="" disabled>Select</mat-option>
                        <mat-option *ngFor = "let data of countriesArr" [value]="data.CountryCode">{{data.CountryName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Country DROPDOWN ENDS -->

            <!-- City DROPDOWN STARTS -->
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left mobile-select-box">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad" for="City">
                    City </label>
                <div class="customized-select">
                    <span class="caret color-azure"></span>
                    <select id="City" role="listbox" name="selectedCity" [(ngModel)]="selectedCity" (ngModelChange)="changeCity($event)" [disabled]="cityDisabled || disabledDropdown">
                        <option value="" disabled>Select</option>
                        <option *ngFor = "let data of citiesArr" [value]="data.CityCode">{{data.CityName}}</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left web-select-box pl10">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad" for="City">
                    City</label>
                <mat-form-field class="col-12 no_pad float-left">
                    <mat-label>City</mat-label>
                    <mat-select class="select-focus" disableOptionCentering panelClass="Select-panel-class" name="selectedCity" [(ngModel)]="selectedCity" (ngModelChange)="changeCity($event)" [disabled]="cityDisabled || disabledDropdown">
                        <mat-option  value="" disabled>Select</mat-option>
                        <mat-option *ngFor = "let data of citiesArr" [value]="data.CityCode">{{data.CityName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- City DROPDOWN ENDS -->

            <!-- Plant DROPDOWN STARTS -->
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left mobile-select-box">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad" for="Plant">
                    Plant </label>
                <div class="customized-select">
                    <span class="caret color-azure"></span>
                    <select id="Plant" role="listbox" name="selectedPlant" [(ngModel)]="selectedPlant" (ngModelChange)="changePlant($event)" [disabled]="plantDisabled || disabledDropdown">
                        <option value="" disabled>Select</option>
                        <option *ngFor = "let data of plantsArr" [value]="data.PlantCode">{{data.PlantName}}</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left web-select-box pl10">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad" for="Plant">
                    Plant</label>
                <mat-form-field class="col-12 no_pad float-left">
                    <mat-label>Plant</mat-label>
                    <mat-select class="select-focus" disableOptionCentering panelClass="Select-panel-class" name="selectedPlant" [(ngModel)]="selectedPlant" (ngModelChange)="changePlant($event)" [disabled]="plantDisabled || disabledDropdown">
                        <mat-option  value="" disabled>Select</mat-option>
                        <mat-option *ngFor = "let data of plantsArr" [value]="data.PlantCode">{{data.PlantName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Plant DROPDOWN ENDS -->

            <!-- Location DROPDOWN STARTS -->
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left mobile-select-box">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad"
                    for="Location"> Location </label>
                <div class="customized-select">
                    <span class="caret color-azure"></span>
                    <select id="Location" role="listbox" name="selectedLocation" [(ngModel)]="selectedLocation" (ngModelChange)="changeLocation($event)" [disabled]="locationDisabled || disabledDropdown">
                        <option value="">Select</option>
                        <option *ngFor = "let data of locationArr" [value]="data.LocationCode">{{data.LocationName}}</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-left web-select-box pl10 pr-15">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad"
                    for="Location">
                    Location</label>
                <mat-form-field class="col-12 no_pad float-left">
                    <mat-label>Location</mat-label>
                    <mat-select class="select-focus" disableOptionCentering panelClass="Select-panel-class" name="selectedLocation" [(ngModel)]="selectedLocation" (ngModelChange)="changeLocation($event)" [disabled]="locationDisabled || disabledDropdown">
                        <mat-option  value="" disabled>Select</mat-option>
                        <mat-option *ngFor = "let data of locationArr" [value]="data.LocationCode">{{data.LocationName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Location DROPDOWN ENDS -->
        </div>
        <!--2nd row ends-->

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt-10">
            <span class="resultSpan">All results ({{allLocations.length}})</span>
        </div>

        <!--3rd row/TABLE starts-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left tableDiv">
            <table class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad">
                <tbody>
                    <tr class="vertical" *ngFor = "let data of allLocations; let i=index">
                        <td class="width4 customized-checkbox table-checkbx">
                            <!-- <mat-radio-group [(ngMOdel)]> -->
                                <mat-radio-button [value]="data" (change)="selectedData($event, data)" [disabled]="disabledDropdown"></mat-radio-button>
                            <!-- </mat-radio-group> -->
                        </td>
                        <td>
                            <p>{{data.CountryCode}}</p>
                        </td>
                        <td>
                            <p>{{data.CityCode}}</p>
                        </td>
                        <td>
                            <p>{{data.PlantCode}}</p>
                        </td>
                        <td>
                            <p>{{data.LocationCode}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--3rd row/TABLE ends-->
    </div>

    <div class="col-12 float-left no_pad mt30">
        <button aria-label="Select" class="col-12 float-left no_pad cancel-btn"
            (click)="selectFinalLocation()" [disabled]="(selectedIcon || otherLocation) ? false : true" >Select</button>
        <!--<button aria-label="Yes" class="col-6 float-left btndef-none no_pad confrm-btn mr0"
            mat-dialog-close>Yes</button>-->
    </div>

</div>
<!-- Approve popup part 2 ends here-->