$Azure: #2f81ff;
$Azure: #2f81ff;
$White: #fff;

.deal-qualify {
  .mdi-attachment:before {
    transform: rotate(90deg);
  }

  .closure-date {
    .mdi-calendar-blank:before {
      color: #2f81ff;
      font-size: 20px;
      position: relative;
      right: 20px;
    }
  }
  .mdi-calendar-blank:before {
    color: #2f81ff;
    font-size: 20px;
    position: relative;
    right: 0px;
  }
  .caret {
    top: 17px !important;
    right: 16px;
  }
  .text-area-content {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: #4a4a4a;
    resize: none;
    border: 1.5px solid #d8d8d8;
    border-radius: 4px;
    background-color: #ffffff;
    height: 120px;
    padding: 10px;
    outline: none;
  }

  .pad-15-12 {
    padding: 12px 15px 4px 2px;
  }
  .font-12 {
    font-size: 12px;
  }
  .cancel-btn1 {
    background: #d9e9ff;
    color: #2f81ff;
    text-align: center;
    font-size: 16px;
    line-height: 1.38;
    font-family: "WiproAkkuratTT-Bold";
    padding: 14px;
    margin-top: 15px;
    border: none;
  }
}
.popup-container .popup-hd {
  padding: 15px 15px 2px !important;
}

.customized-select {
  position: relative;
  select {
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    padding: 2px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;

    &:focus {
      outline: none;
      border-color: $Azure;
    }
  }
  select::-ms-expand {
    display: none !important;
  }
  .caret {
    top: 17px;
    right: 16px;
  }
}
.customized-input .border-gray {
  border-color: #d8d8d8;
}
.customized-input input {
  height: 40px;
  border-radius: 4px;
  padding: 3px 8px;
}

.label-form[_ngcontent-c32] {
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
  line-height: 1.83;
  color: #4a4a4a;
  margin-bottom: 4px;
}

.attachment {
  padding-left: 19px;
}
button.mdi-magnify {
  position: absolute;
  right: 0px;
  top: 26px;
  border: none;
  background: transparent;
  height: 40px;
  width: 40px;
}
.mdi-magnify:before {
  color: #2f81ff;
  font-size: 20px;
  right: 10px;
  position: absolute;
  top: 5px;
}
.confrm-btnassign {
  background-color: $Azure;
  text-align: center;
  font-size: 16px;
  color: $White;
  font-family: "WiproAkkuratTT-Bold";
  padding: 14px;
  z-index: 99;
  // cursor: pointer;
}

//for approve popup
.rowprops {
  background-color: #eaf2ff;
  padding: 20px 10px;
}
.pr-15{
  padding-right: 15px;
}
.pl-15{
  padding-left: 15px;
}
.resultSpan {
  font-size: 20px;
  color: #0e3570;
}

.tableDiv {
  background: #f9f9f9;
  padding: 10px 20px;
  margin-top: 10px;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  background: white;
}

.checkboxinput {
  float: right !important;
  right: 15px;
}

.pad-20-0 {
  padding: 20px 0px;
}

.check {
  position: relative;
  top: 7px;
  right: 20px;
}

.autodiv {
  right: 20px;
}
//end of approve pop up style
.cust_autoComplete .mdi-magnify:before {
  top: 6px !important;
}
::ng-deep{
  .manage-pad{
    .web-select-box .mat-form-field-infix, .mat-form-field-wrapper{
      padding: 0 !important;
    }
  }
  
}
.mdi-keyboard-backspace{
  color: black !important;
}
.suggestion-box{
  position: absolute;
  top: 39px;
  border: 1.5px solid;
  padding-right: 2px !important;
}
.input-type-file {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}
label.attach-btn{
  margin-bottom: 0;
  padding: 7px 5px !important;
}
.pad-LR-0{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

//sandhiya added 
@media screen and (max-width: 823px) {
  .autodiv{
    right: 0px!important;
  }
  .check {
    position: relative;
    top: 0px!important;
    right: 0px!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
  }
  .checkboxinput {
    float: unset !important;
    right: 0px!important;
  }
  .padLR-15{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .mb-15{
    margin-bottom: 15px!important;
  }
  .selected-contact{
    margin-top: 0px!important;
  }
}