<ng-container *ngIf="isLoading; else elseTemplate">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing"
    >
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isDummyLoader">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing"
    >
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div
    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left deal-calculate-container card margin-btm55 no_pad "
  >
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-30 pt20 no_pad"
    >
      <section class="col-12 float-left customized-accordians no_pad">
        <mat-accordion>
          <!-- deal calculation accordion starts -->
          <mat-expansion-panel
            hideToggle="true"
            [expanded]="true"
            class="no_pad"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header style="min-height:50px;">
              <mat-panel-title class="accord-heading">
                <span
                  [ngClass]="
                    panelOpenState
                      ? 'mdi mdi-chevron-down chevron-right'
                      : 'mdi mdi-chevron-right chevron-right'
                  "
                ></span>
                <span class="accordian-title pad-top-8">Deal calculation</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="col-12 float-left no_pad rate-table">
              <thead>
                <ng-container *ngFor="let data of calculateTableList">
                  <tr>
                    <th>Description</th>
                    <th>{{ data.BindHeaderDetail.Currency }}</th>
                    <th>INR(Thousand)</th>
                    <th>USD</th>
                  </tr>
                </ng-container>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of calculationGridData">
                  <tr>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="data?.LabelName ? data?.LabelName : ''"
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.DealCurrValue ? data?.DealCurrValue : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="data?.INRValue ? data?.INRValue : ''"
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="data?.USDValue ? data?.USDValue : ''"
                          disabled
                        />
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <table class="col-12 float-left no_pad parameter-table rate-table">
              <thead>
                <tr>
                  <th>Rookie</th>
                  <th>Bulge</th>
                  <th>Offshore efforts</th>
                  <th>Offshore rev</th>
                  <th>Onsite efforts</th>
                  <th>Onsite person months</th>
                  <th>Offshore person months</th>
                  <th>Offshore rate realization</th>
                  <th>Onsite rate realization</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of calculateTableList">
                  <tr>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.Calculate?.ListData?.RookiePercData
                              ? data?.Calculate?.ListData?.RookiePercData
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.Calculate?.ListData?.BlugePercData
                              ? data?.Calculate?.ListData?.BlugePercData
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.Calculate?.ListData?.OffEffortsPercData
                              ? data?.Calculate?.ListData?.OffEffortsPercData
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.Calculate?.ListData?.OffRevPercData
                              ? data?.Calculate?.ListData?.OffRevPercData
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.Calculate?.ListData?.OnsEffortsPercData
                              ? data?.Calculate?.ListData?.OnsEffortsPercData
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.Calculate?.ListData?.OnsiteManMnthsData
                              ? data?.Calculate?.ListData?.OnsiteManMnthsData
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.Calculate?.ListData?.OffshoreManMnthsData
                              ? data?.Calculate?.ListData?.OffshoreManMnthsData
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.Calculate?.ListData?.OffRateRealzData
                              ? data?.Calculate?.ListData?.OffRateRealzData
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            data?.Calculate?.ListData?.OnsRateRealzData
                              ? data?.Calculate?.ListData?.OnsRateRealzData
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                  </tr>
                  <span *ngIf="data.ReturnFlag == 'F'" class="errorMessage">{{
                    data.ReturnMessage
                  }}</span>
                </ng-container>
              </tbody>
            </table>
          </mat-expansion-panel>
          <!-- deal calculation accordion ends -->
          <!-- module calculation hour accordion starts -->
          <mat-expansion-panel
            hideToggle="true"
            [expanded]="false"
            class="module-expansion no_pad"
            (opened)="panelOpenState1 = true"
            (closed)="panelOpenState1 = false"
          >
            <mat-expansion-panel-header style="min-height:50px;">
              <mat-panel-title class="accord-heading">
                <span
                  [ngClass]="
                    panelOpenState1
                      ? 'mdi mdi-chevron-down chevron-right'
                      : 'mdi mdi-chevron-right chevron-right'
                  "
                ></span>
                <span class="accordian-title pad-top-8"
                  >Module calculation</span
                >
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- MORE ACTION BUTTONS STARTS -->
            <div class="float-right">
              <div class="cust-dropdown-btn">
                <button
                  class="primary-button pad-0-10 btn-block h-40 std  min-width-161
                             responsive-btn-div-button color-azure d-flex justify-content-start align-items-center"
                  [ngClass]="showContent ? 'show-action' : ''"
                  (click)="toggleContent()"
                >
                  Select view
                  <span class="caret d-block color-azure"> </span>
                </button>
                <div *ngIf="showContent" class="pos-rel overlap">
                  <ul
                    class=" dropdown-content pad-0-10  z-ind-99 top-2 customized-checkbox b-top boxShadow calc-check"
                  >
                    <li class="h-40 cp color-azure line-height-40">
                      <mat-checkbox
                        name="cb"
                        class="float-left col-12 no_pad check-font"
                        (change)="SelectAll($event)"
                        [checked]="checked"
                      >
                        <span>Select all</span>
                      </mat-checkbox>
                    </li>
                    <ng-container
                      *ngFor="let moduleDataList of calculateModuleTable"
                    >
                      <li
                        class="h-40 cp color-azure line-height-40"
                        (click)="additem()"
                      >
                        <mat-checkbox
                          name="cb"
                          class="float-left col-12 no_pad check-font"
                          (change)="SelectOne($event, moduleDataList)"
                          [checked]="moduleDataList.isChecked"
                        >
                          <span
                            class="ellipses selectViewData"
                            title="{{
                              moduleDataList?.ModuleCalData?.ModuleHeader
                                ?.ModuleName
                            }}"
                            >{{
                              moduleDataList?.ModuleCalData?.ModuleHeader
                                ?.ModuleName
                            }}</span
                          >
                        </mat-checkbox>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
            <!-- MORE ACTION BUTTONS STARTS -->
            <div *ngFor="let moduleDataList of calculateModuleTable">
              <div class="col-12 float-left calc-div">
                <span class="float-left" *ngIf="moduleDataList.isChecked">{{
                  moduleDataList?.ModuleCalData?.ModuleHeader?.ModuleName
                }}</span>
                <span class="float-left pl31" *ngIf="moduleDataList.isChecked">
                  {{
                    moduleDataList?.ModuleCalData?.CalculateParameters
                      ?.lblSummaryUpadateText
                  }}</span
                >
              </div>
              <ng-container *ngIf="moduleDataList.isChecked">
                <table class="col-12 float-left no_pad rate-table">
                  <thead>
                    <tr>
                      <th>Description</th>
                      <th>
                        {{
                          moduleDataList?.ModuleCalData?.MasterData
                            ?.CurrencyCode
                        }}
                      </th>
                      <th>INR(Thousand)</th>
                      <th>USD</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            aria-label="TOTAL REVENUE"
                            value="TOTAL REVENUE"
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.TotalRevenue
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.TotalRevenue
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.TotalRevenueINR
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.TotalRevenueINR
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.TotalRevenueUSD
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.TotalRevenueUSD
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            aria-label="IP REVENUE"
                            value="IP REVENUE"
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.TotalIPRevenue
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.TotalIPRevenue
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.TotalIPRevenueINR
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.TotalIPRevenueINR
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.TotalIPRevenueUSD
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.TotalIPRevenueUSD
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table
                  class="col-12 float-left no_pad parameter-table rate-table"
                >
                  <thead>
                    <tr>
                      <th>Rookie</th>
                      <th>Bulge</th>
                      <th>Offshore efforts</th>
                      <th>Offshore rev</th>
                      <th>Onsite efforts</th>
                      <th>Onsite person months</th>
                      <th>Offshore person months</th>
                      <th>Offshore rate realization</th>
                      <th>Onsite rate realization</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.RookiePercentage
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.RookiePercentage
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.BulgePercentage
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.BulgePercentage
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.OffshoreEffortsPercentage
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters
                                    ?.OffshoreEffortsPercentage
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.OffshoreRevenuePercentage
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters
                                    ?.OffshoreRevenuePercentage
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>

                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.OnsEffortsPercData
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.OnsEffortsPercData
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.OnsiteManmonths
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.OnsiteManmonths
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.OffshoreManmonths
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.OffshoreManmonths
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.OffshoreRateRealization
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters
                                    ?.OffshoreRateRealization
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                      <td>
                        <div
                          class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                        >
                          <input
                            class="border-gray w-100"
                            type="text"
                            [value]="
                              moduleDataList?.ModuleCalData?.CalculateParameters
                                ?.OnsiteRateRealization
                                ? moduleDataList?.ModuleCalData
                                    ?.CalculateParameters?.OnsiteRateRealization
                                : ''
                            "
                            disabled
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <span
                  class="col-12 float-left steady-hd"
                  *ngIf="moduleDataList?.SteadyRLSCalData"
                  >Steady RLS</span
                >
                <table
                  class="col-12 float-left no_pad rate-table"
                  *ngIf="moduleDataList?.SteadyRLSCalData"
                >
                  <thead>
                    <tr>
                      <th>
                        {{
                          moduleDataList?.SteadyRLSCalData?.SummaryHeader
                            ?.Description
                        }}
                      </th>
                      <th>
                        {{
                          moduleDataList?.SteadyRLSCalData?.SummaryHeader
                            ?.DealCurrency
                        }}
                      </th>
                      <th>
                        {{
                          moduleDataList?.SteadyRLSCalData?.SummaryHeader?.INR
                        }}
                      </th>
                      <th>
                        {{
                          moduleDataList?.SteadyRLSCalData?.SummaryHeader?.USD
                        }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="
                        let item of moduleDataList?.SteadyRLSCalData
                          ?.SummaryDescription
                      "
                    >
                      <tr>
                        <td>
                          <div
                            class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                          >
                            <input
                              class="border-gray w-100"
                              type="text"
                              [value]="
                                item?.Description ? item?.Description : ''
                              "
                              disabled
                            />
                          </div>
                        </td>
                        <td>
                          <div
                            class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                          >
                            <input
                              class="border-gray w-100"
                              type="text"
                              [value]="
                                item?.DealCurrency ? item?.DealCurrency : ''
                              "
                              disabled
                            />
                          </div>
                        </td>
                        <td>
                          <div
                            class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                          >
                            <input
                              class="border-gray w-100"
                              type="text"
                              [value]="item?.INR ? item?.INR : ''"
                              disabled
                            />
                          </div>
                        </td>
                        <td>
                          <div
                            class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                          >
                            <input
                              class="border-gray w-100"
                              type="text"
                              [value]="item?.USD ? item?.USD : ''"
                              disabled
                            />
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                <span
                  class="col-12 float-left steady-hd"
                  *ngIf="moduleDataList?.TransitionRLSCalData"
                  >Transition RLS</span
                >
                <table
                  class="col-12 float-left no_pad rate-table"
                  *ngIf="moduleDataList?.TransitionRLSCalData"
                >
                  <thead>
                    <tr>
                      <th>
                        {{
                          moduleDataList?.TransitionRLSCalData?.SummaryHeader
                            ?.Description
                        }}
                      </th>
                      <th>
                        {{
                          moduleDataList?.TransitionRLSCalData?.SummaryHeader
                            ?.DealCurrency
                        }}
                      </th>
                      <th>
                        {{
                          moduleDataList?.TransitionRLSCalData?.SummaryHeader
                            ?.INR
                        }}
                      </th>
                      <th>
                        {{
                          moduleDataList?.TransitionRLSCalData?.SummaryHeader
                            ?.USD
                        }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="
                        let item of moduleDataList?.TransitionRLSCalData
                          ?.SummaryDescription
                      "
                    >
                      <tr>
                        <td>
                          <div
                            class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                          >
                            <input
                              class="border-gray w-100"
                              type="text"
                              [value]="
                                item?.Description ? item?.Description : ''
                              "
                              disabled
                            />
                          </div>
                        </td>
                        <td>
                          <div
                            class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                          >
                            <input
                              class="border-gray w-100"
                              type="text"
                              [value]="
                                item?.DealCurrency ? item?.DealCurrency : ''
                              "
                              disabled
                            />
                          </div>
                        </td>
                        <td>
                          <div
                            class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                          >
                            <input
                              class="border-gray w-100"
                              type="text"
                              [value]="item?.INR ? item?.INR : ''"
                              disabled
                            />
                          </div>
                        </td>
                        <td>
                          <div
                            class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                          >
                            <input
                              class="border-gray w-100"
                              type="text"
                              [value]="item?.USD ? item?.USD : ''"
                              disabled
                            />
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </ng-container>
            </div>
          </mat-expansion-panel>
          <!-- module calculation hour accordion ends -->

          <!-- deal benchmark accordion starts -->
          <mat-expansion-panel
            hideToggle="true"
            [expanded]="false"
            class="no_pad"
            (opened)="panelOpenState2 = true"
            (closed)="panelOpenState2 = false"
          >
            <mat-expansion-panel-header style="min-height:50px;">
              <mat-panel-title class="accord-heading">
                <span
                  [ngClass]="
                    panelOpenState2
                      ? 'mdi mdi-chevron-down chevron-right'
                      : 'mdi mdi-chevron-right chevron-right'
                  "
                ></span>
                <span class="accordian-title pad-top-8"
                  >Deal/Module benchmark</span
                >
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="col-12 float-left no_pad rate-table">
              <thead>
                <tr>
                  <th>Rookie benchmark(%)</th>
                  <th>Bulge benchmark(%)</th>
                  <th>Offshore efforts benchmark(%)</th>
                  <th>Onsite efforts benchmark(%)</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let benchMark of calculateTableList">
                  <tr>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            benchMark.Controls?.lblRookieBenchMarkPerc
                              ? benchMark.Controls?.lblRookieBenchMarkPerc
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            benchMark.Controls?.lblBlugeBenchMarkPerc
                              ? benchMark.Controls?.lblBlugeBenchMarkPerc
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            benchMark.Controls?.lblOffBenchMarkEffortsPerc
                              ? benchMark.Controls?.lblOffBenchMarkEffortsPerc
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                    <td>
                      <div
                        class="col-lg-12 col-md-12 col-12 float-left no_pad customized-input"
                      >
                        <input
                          class="border-gray w-100"
                          type="text"
                          [value]="
                            benchMark.Controls?.lblOnsBenchMarkEffortsPerc
                              ? benchMark.Controls?.lblOnsBenchMarkEffortsPerc
                              : ''
                          "
                          disabled
                        />
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </mat-expansion-panel>
          <!-- deal benchmark accordion ends -->

          <!-- wcs accordion starts -->
          <mat-expansion-panel
            hideToggle="true"
            [expanded]="false"
            class="no_pad"
            (opened)="panelOpenState3 = true"
            (closed)="panelOpenState3 = false"
          >
            <mat-expansion-panel-header style="min-height:50px;">
              <mat-panel-title class="accord-heading">
                <span
                  [ngClass]="
                    panelOpenState3
                      ? 'mdi mdi-chevron-down chevron-right'
                      : 'mdi mdi-chevron-right chevron-right'
                  "
                ></span>
                <span class="accordian-title pad-top-8">WCS salaries</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="parent-container" *ngIf="wcsTable.length > 0">
              <app-sync-editable-table
                [classNameCss]="'table-color-lyt'"
                [TableName]="'WCS'"
                [TableCollection]="wcsTable"
                (detectActionValue)="performTableChildActionForWCS($event)"
                [IsActionFixed]="false"
                [IscheckBoxRequired]="false"
                [IsSerialNo]="true"
                [ConfigData]="configData"
                [IsEdit]="false"
                [IsGenerateData]="Submit"
                [IsDelete]="false"
                [orderByName]="'index'"
                [IsSync]="true"
                [IsPagination]="false"
                [IsPageRecords]="false"
                [serviceSearch]="true"
                [totalTableCount]="tableTotalCountWcs"
                [paginationPageNumber]="WCSRequestBody"
              >
              </app-sync-editable-table>
            </div>
            <div
              class="col-lg-12 col-md-12 col-12 float-left pr17 btns-div mar-botm22"
              *ngIf="
                tableVisibility &&
                (moduleHeaderDetails?.BindHeaderDetail?.Status == 'Open' ||
                moduleHeaderDetails?.BindHeaderDetail?.Status == 'Calculated')
              "
            >
              <button class="float-right primary-button w-95" (click)="save()">
                Pull/Save data
              </button>
              <button
                class="float-right primary-button w-95 mr10"
                (click)="Reset('ResetWCSData')"
              >
                Reset
              </button>
            </div>
          </mat-expansion-panel>
          <!-- wcs accordion ends -->
          <!-- contractor accordion starts -->
          <mat-expansion-panel
            hideToggle="true"
            [expanded]="false"
            class="no_pad"
            (opened)="panelOpenState4 = true"
            (closed)="panelOpenState4 = false"
          >
            <mat-expansion-panel-header style="min-height:50px;">
              <mat-panel-title class="accord-heading">
                <span
                  [ngClass]="
                    panelOpenState4
                      ? 'mdi mdi-chevron-down chevron-right'
                      : 'mdi mdi-chevron-right chevron-right'
                  "
                ></span>
                <span class="accordian-title pad-top-8"
                  >Contractor salaries</span
                >
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="parent-container" *ngIf="DealContractTable.length > 0">
              <app-sync-editable-table
                [classNameCss]="'table-color-lyt'"
                [TableName]="'dealContract'"
                [TableCollection]="DealContractTable"
                (detectActionValue)="
                  performTableChildActionForContractor($event)
                "
                [IsActionFixed]="false"
                [IscheckBoxRequired]="false"
                [ConfigData]="configData"
                [IsGenerateData]="Submit1"
                [IsEdit]="false"
                [IsDelete]="false"
                [orderByName]="'index'"
                [IsSync]="true"
                [totalTableCount]="tableTotalCount"
                [paginationPageNumber]="DealContractRequestBody"
                [IsPagination]="false"
                [IsPageRecords]="false"
              >
              </app-sync-editable-table>
            </div>
            <div
              class="col-lg-12 col-md-12 col-12 float-left pr17 btns-div mar-botm22"
              *ngIf="
                contractorVisibility &&
                (moduleHeaderDetails?.BindHeaderDetail?.Status == 'Open' ||
                moduleHeaderDetails?.BindHeaderDetail?.Status == 'Calculated')
              "
            >
              <button class="float-right primary-button w-95" (click)="save1()">
                Pull/Save data
              </button>
              <button
                class="float-right primary-button w-95 mr10"
                (click)="Reset('ResetContractorData')"
              >
                Reset
              </button>
            </div>
          </mat-expansion-panel>
          <!-- contractor accordion ends -->
        </mat-accordion>
        <div
          class="col-lg-12 col-md-12 col-12 float-left pr17 btns-div mar-botm22"
        >
          <button
            class="float-right primary-button w-95 btn-text"
            *ngIf="validation?.btnSubmitALL?.Visible == 'true'"
            (click)="SubmitAll()"
          >
            Submit all
          </button>
          <button
            class="float-right primary-button w-95 mr10 btn-text"
            *ngIf="role && moduleStatus != 'Closed'"
            (click)="SubmitModule()"
          >
            Submit module
          </button>
          <button
            class="float-right primary-button w-95 mr10 btn-text"
            *ngIf="
              moduleHeaderDetails?.BindHeaderDetail?.Status == 'Open' ||
              moduleHeaderDetails?.BindHeaderDetail?.Status == 'Calculated'
            "
            (click)="RequestSpoc()"
            [disabled]="disable"
          >
            Request SPOC
          </button>
        </div>
      </section>
    </div>
  </div>
</ng-template>
