.deal-calculate-container {
  margin-top: 30px;

  ::ng-deep {
    .mat-expansion-panel-header {
      padding: 0 7px;
      height: 50px !important;
    }

    .mat-expansion-panel-body {
      padding: 0;
      margin-bottom: 20px;
    }

    .mat-expansion-panel-spacing {
      margin-top: 0;
    }

    .mat-expansion-panel {
      margin-bottom: 0px;
    }

    .mat-content {
      border-bottom: solid 1px #d7d7d7;
      margin-bottom: 20px;
    }

    .mat-expansion-panel:not(.mat-expanded)
      .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
      background: transparent !important;
    }
  }

  .parameter-table {
    th,
    td {
      width: 10%;
    }
  }

  .calc-div {
    padding: 15px 36px;
    font-size: 13px;
    font-family: "WiproAkkuratTT-Regular";
    color: #000000;
  }

  .pl31 {
    padding-left: 31px;
  }

  .min-width-161 {
    min-width: 200px !important;
    position: relative;
    right: 15px;
  }

  .btns-div {
    padding: 15px 36px;

    .w-95 {
      min-width: 120px;
    }
  }
}

.steady-hd {
  font-family: "WiproAkkuratTT-Bold";
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 36px;
  padding-top: 20px;
}

.check-font {
  font-family: "WiproAkkuratTT-Bold";
}

.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.loaderContainer {
  width: 100%;
  top: 0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.module-expansion {
  ::ng-deep {
    .mat-expansion-panel-body {
      min-height: 130px !important;
    }
  }
}

.boxShadow {
  box-shadow: 0px 2px 3px 1px #0000002e;
}

.calc-check {
  ::ng-deep {
    .mat-checkbox-layout {
      white-space: normal !important;
    }
  }
}

.btn-text:disabled {
  pointer-events: none;
  border: 1.5px solid #ccc;
  color: #ccc;
}
.overlap {
  position: absolute;
  right: 15px;
  z-index: 9;
  min-width: 198px;
}
.selectViewData {
  max-width: 148px;
  display: inherit;
}

.errorMessage {
  color: #ef3341;
  float: left;
  padding: 15px 0px 15px 36px;
}
.deal-sub-main {
  .width-20 {
    width: 20%;
  }
  .width-18 {
    width: 18%;
  }
  .width-22 {
    width: 22%;
  }
  .caret1 {
    float: right;
    position: relative;
    left: 5px;
    /* width: 0; */
    height: 0;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
  }
  .pr30 {
    padding-right: 30px;
  }
  .padt-5 {
    padding-top: 5px;
  }

  .pad-20 {
    padding: 20px;
  }

  .mar-top18 {
    margin-top: 13px;
  }
  .acc_label {
    left: 40px;
    float: left;
    position: absolute;
    top: 11px;
  }

  .cp {
    cursor: pointer;
  }
  .convo-tag {
    position: static;
    left: 65px;
    width: 80px;
    height: 16px;
    opacity: 0.6;
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4a4a4a;
    float: left;
    top: 60px;
  }
  .last-active {
    position: relative;
    left: 20px;
  }
  .last-order {
    position: relative;
    left: 45px;
    .sub_list {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap !important;
      width: 100%;
    }
  }
  .last-activity {
    position: relative;
    left: 35px;
  }
  .last-invoice {
    position: relative;
    right: 20px;
  }
  .last-openheading {
    position: relative;
    left: 20px;
  }
}
.disabled-add-btn {
  color: #9b9b9b !important;
  background-color: #f9f9f9 !important;
  pointer-events: none;
}
.email-width{
  width: 265px !important;
}