<div class="top-header top-head-index insight" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">

        <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 float-left responspad-0 width_25">
          <span (click)="goBack()" class="mdi mdi-keyboard-backspace"></span>
        </div>

        <div class="col-10 col-sm-10 col-md-7 col-lg-7 col-xl-7 float-left ">
          <h1 class="heading-level-one mtop-5">Email history</h1>
          <small class="colorWhite">Opportunities</small>
        </div>

        <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-right pad-left-25 overview-dropdown">

          <div class="float-right disp-flex web-action-button  mart-2 width33">
            <button class="primary-button mobile-save borderless h-40 std save-responsive-btn">
              <span class="more-respon Actionclass">Save</span>
            </button>
          </div>
          <div class="float-right disp-flex web-action-button mr10 width33">
            <div class="form-group w140 float-right no_pad current_position pos-rel cp mb-0 more-option" (click)="more_clicked = !more_clicked"
              (clickOutside)="more_clicked = false">
              <button class="blue_border btn-none" role="listbox" aria-label="more option">
                <span class="caret" [ngClass]="more_clicked? 'up' : ''"></span>

                <span class="form-control btnSelect Empaneled_txt border_right_none color-azure mobile-save" id="sel1" placeholder="Empaneled vendor"
                  role="button" tabindex="0">
                  <span class="mdi mdi-dots-vertical buttn-vertical"></span>
                  <span class="more-respon Actionclass">
                    <span class="sm-hide">Convert</span> to </span>
                </span>
              </button>
            </div>
          </div>
          <div class="float-right disp-flex web-action-button mr10 mart-2 width33">
            <button class="primary-button mobile-save borderless h-40 std save-responsive-btn">
              <span class="more-respon Actionclass">Delete</span>
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div clas="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left email-history">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-230">
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-30 mt-130">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card display-block pad-30 ">
          <!-- <div class="no_pad d-flex"> -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left">
              <span class="accordian-title">{{emailSubject}}
              </span>
            </div>
        
          <!-- </div> -->
          <div class="col-12 float-left border-bottom-grey mt10 mb10"></div>

          <div class="col-12 no_pad float-left">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pr-100 float-left no_pad">
              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 float-left no_pad ">
                <div class="customized-input mt20">
                  <label for="field1sc1" class="w-100">To
                    <span class="required"> *</span>
                  </label>
                  <!-- <input  id="field1label1" type="text" class="border-gray w-100 label-input" readonly value="" [(ngModel)]="emailTolist" placeholder="" > -->
                  <div  id="field1sc1" type="text" class="pt10 border-gray w-100 label-input heightAuto" readonly value=""  placeholder="" >{{emailTolist}}</div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 float-left no_pad">
                <div class="customized-input mt20">
                  <label for="field1sc2" class="w-100">CC </label>
                  <!-- <input  id="field1sc2" type="text" class="border-gray w-100 label-input" readonly value="" [(ngModel)]="emailCC" placeholder="" > -->
                  <div  id="field1sc2" type="text" class="pt10 border-gray w-100 label-input heightAuto" readonly value=""  placeholder="" >{{emailCC}}</div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 float-left pb20 no_pad">
                <div class="customized-input mt20">
                  <label for="field1label1" class="w-100">Subject
                    <span class="required"> *</span>
                  </label>
                  <div  id="field1label1" type="text" class="pt10 border-gray w-100 label-input ellipsesSubject" readonly value="" [title]="emailSubject" placeholder="" >{{emailSubject}}</div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 float-left pb20 no_pad">

                <div class="customized-input">
                  <label for="field1sc3" class="w-100 martop20">Message
                    <span class="required"> *</span>
                  </label>
                  <perfect-scrollbar style="height: 175px;">
                    <div id="field1sc3" class="ehtab_style col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left text-area-content" placeholder="" [innerHTML]="emailMessage">
                    </div>
                  </perfect-scrollbar>
                </div>

              </div>

              <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left pb20 no_pad">
                <section class="float-left w-100 ">
                  <label for="inti_name-kb" class="col-12 float-left no_pad label-form rel-top-18">1 Attachment</label>
                  <div class="float-left naming-tags-square child-middle bg-azure">
                    <span class="initials mdi mdi-file-document font-20" id="inti_name-kb"></span>
                  </div>
                  <label for="inti_name-kb" class="float-left pos-rel name-sq padLR-10 border-std color-azure">
                    <div class="tag color-label_gray">Document1.pdf</div>
                    <span class="float-right mdi mdi-window-close color-azure onone" role="button" tabindex="0">
                      <span class="sr-only">Document1.pdf remove</span>
                    </span>
                  </label>
                </section>
              </div> -->


            </div>

          </div>
        </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt20 display-block pad-10-30 ">

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad">

            <!--Subject starts here-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 customized-input cust_autoComplete pos-rel mrnbot-10">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="regarding" class="label-form">Regarding
                  <!-- <span class="required"> *
                          </span> -->
                </label>
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input" disabled id="regarding" name="regarding" [(ngModel)]="Regardingemail" autocomplete="off"
                  type="text" placeholder="">
                <!-- <span class="mdi mdi-magnify" disabled></span> -->
              </form>
            </div>
            <!--Subject starts here-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 customized-input cust_autoComplete pos-rel mrnbot-10">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="owner" class="label-form" >Owner
                  <!-- <span class="required"> *
                          </span> -->
                </label>
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input" id="owner" name="owner" [(ngModel)]="Regardingowner" autocomplete="off"
                  type="text" disabled placeholder="" >
                <!-- <span class="mdi mdi-magnify" disabled></span> -->
              </form>
            </div>
            <!--Subject starts here-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 customized-input cust_autoComplete pos-rel mrnbot-10">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="duration" class="label-form">Duration
                  <!-- <span class="required"> *
                          </span> -->
                </label>
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input" id="duration" name="duration" autocomplete="off"
                  type="text" placeholder="--" disabled>
                <!-- <span class="mdi mdi-magnify" disabled></span> -->
              </form>
            </div>
            <!--Subject starts here-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 customized-input cust_autoComplete pos-rel mrnbot-10">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="due" class="label-form">Due
                  <!-- <span class="required"> *
                          </span> -->
                </label>
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input" id="due" name="due" [(ngModel)]="RegardingDue" autocomplete="off"
                  type="text" placeholder="--" disabled >
                <!-- <span class="mdi mdi-magnify" disabled></span> -->
              </form>
            </div>
            <!--Subject starts here-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 customized-input cust_autoComplete pos-rel mrnbot-10">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="priority" class="label-form">Priority
                  <!-- <span class="required"> *
                          </span> -->
                </label>
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input" id="priority" name="priority" [(ngModel)]="RegardingPriority" autocomplete="off"
                  type="text" placeholder="" disabled >
                <!-- <span class="mdi mdi-magnify" disabled></span> -->
              </form>
            </div>
            <!--Subject starts here-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 customized-input cust_autoComplete pos-rel mrnbot-10">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="category" class="label-form">Category
                  <span class="required"> *
                  </span>
                </label>
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input" id="category" name="category" autocomplete="off"
                  type="text" placeholder="--" disabled >
                <!-- <span class="mdi mdi-magnify" disabled></span> -->
              </form>
            </div>
            <!--Subject starts here-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 customized-input cust_autoComplete pos-rel mrnbot-10">
              <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="sub-category" class="label-form">Sub-category
                  <span class="required"> *
                  </span>
                </label>
                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input" id="sub-category" name="sub-category"
                  autocomplete="off" type="text" disabled placeholder="--" >
                <!-- <span class="mdi mdi-magnify" disabled></span> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
