$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;


.insight {
    .mtop-5 {
        margin-bottom: 0px;
        margin-top: 5px;
    }
    .width_25 {
        color: white;
        width: 28px;
        .mdi-keyboard-backspace {
            font-size: 22px;
            cursor: pointer;
        }
    }
    .header-action-tab {
        padding: 12px 0px;
    }
    .colorWhite {
        color: $Marble;
    }
}
.overview-dropdown {
    ul li:hover {
      background-color: #d9e9ff;
      font-family: WiproAkkuratTT-Bold;
      color: #2f81ff !important;
      border-bottom: 0.3px solid #2f81fffc;
    }
    ul .border_property {
      border-bottom: 1px solid #d9e9ff;
      padding: 0 15px;
    }
    .more-option ul .list_names {
      cursor: pointer;
      font-family: WiproAkkuratTT-Regular;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #2f81ff;
      padding: 10px 15px;
    }
    .three-dot ul .list_names {
      cursor: pointer;
      font-family: WiproAkkuratTT-Bold;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #2f81ff !important;
      padding: 10px 15px;
    }
    .borderless {
        border: none !important;
    }
    // .posR {
    //   position: relative;
    // }
    .w140 {
      width: 140px;
    }
    .ml10 {
      margin-left: 10px;
    }
    .mt2 {
      margin-top: 2px;
    }
    .mr10 {
      margin-right: 10px;
    }
    .caret {
      top: 16px !important;
    }
    .caret.up {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .caret {
      display: inline-block;
      // float: right;
      position: relative;
      top: 17px;
      right: 10px;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 5px dashed;
      border-right: 5px solid #52494900;
      border-left: 5px solid transparent;
      z-index: 8;
      color: #2f81ff;
      pointer-events: none;
    }
    .btnSelect {
      text-align: left;
      color: #2f81ff;
      font-family: "WiproAkkuratTT-Bold";
      min-height: 40px;
      position: relative;
      padding-left: 25px;
      padding-top: 9px;
      outline: none;
      border: none !important;
    }
    .form-control {
      display: block;
      width: 100%;
      height: 34px;
      padding: 8px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #2f81ff;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      border-radius: 4px;
    }
    // .three-dotbtn {
    //   width: 45px;
    //   font-size: 16px;
    //   text-align: center;
    //   left: 3px;
    // }
    [role="button"] {
      cursor: pointer;
      padding-left: 12px;
      padding-top: 6px;
    }
    .cp {
      cursor: pointer;
    }
    .blue_border {
      width: 100%;
      padding: 0px;
      border: 2px solid transparent;
      border-radius: 4px;
    }
    .blue_border {
      &:focus {
        width: 100%;
        padding: 0px;
        border: 2px solid #2f81ff !important;
        border-radius: 4px;
      }
    }
    .pad-left-25 {
      padding-left: 25px;
    }
    // .primary-button.std-qualify {
    //   padding: 2px 5px;
    //   min-width: 175px;
    // }
    .primary-button.std {
        padding: 2px 5px;
        min-width: 110px;
      }
    .buttn-vertical {
      position: relative;
      right: 2px;
      font-weight: bold;
      font-size: 16px;
      top: 2px;
    }
    .mart-2 {
      margin-top: 2px;
    }
    // .heading p {
    //   color: #e7ebf2;
    //   opacity: 0.8;
    //   font-family: WiproAkkuratTT-Regular;
    //   cursor: default;
    // }
    // li {
    //   color: #2f81ff !important;
    //   border-bottom: 1.3px solid #2f81fffc;
    // }
    // li {
    //   color: #2f81ff !important;
    //   border-bottom: 1px solid #abc5ecfc;
    //   font-family: WiproAkkuratTT-Bold;
    // }
    // ul:hover {
    //   border-radius: 5px 0px 5px 5px;
    // }
    // .ul {
    //   border-radius: 5px 0 5px 5px;
   
    // }
    // .borderRadius {
    //   border-radius: 4px 4px 0 0;
    // }
  
    // .border-botm {
    //   padding: 0 8px 0 0;
    //   font-size: 16px;
    //   top: 2px;
    //   position: relative;
    // }
    // .mar-right43 {
    //   margin-right: 41px !important;
    //   top: 40px !important;
    //   list-style-type: none;
    //   // padding: 0 15px !important;
    // }
    // .mar-topmore {
    //   margin-top: -6px;
    //   list-style-type: none;
    // }
  
    // li {
    //   color: black;
    //   font-family: WiproAkkuratTT-Regular;
    //   text-align: left;
    // }
    // ul {
    //   position: absolute;
    //   z-index: 10;
    //   right: 4px;
    //   width: 255px;
    //   background-color: #ffffff;
    //   padding: 0px 12px;
    //   margin: 0px;
    //   border-top: none !important;
    //   top: 45px;
    //   border-radius: 5px 0px 5px 5px;
    //   box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    //   // box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    // }
}

.mt-130 {
    margin-top: 130px;
}
.pad-30 {
    padding: 20px 30px 30px 30px;
}
.pad-top-8 {
    padding:8px 0 0 0 ;
}
.accordian-title {
    font-size: 16px;
    font-family: "WiproAkkuratTT-Bold";
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: $Black;
    // padding-bottom: 15px;
    // border-bottom: 1.5px solid #ccc;
}
.h-230 {
height: 230px;
}
.blue_circle_replay {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d9e9ff;
    position: relative;
    text-align: center;
    color: #2f81ff;
    margin-left: 10px;
    font-size: 18px !important;
}
.blue_circle_replay:hover {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2f81ff;
    position: relative;
    color: #ffffff;
    
    .blue_circle_replay_img {
        color: #ffffff;
    }
}
.border-bottom-grey {
    border-bottom: 1.5px solid #d7d7d7;
}
.plb-60-20 {
    // padding: 0 55px 20px 5px;
       padding:  20px 40px 0px 0px;
}
input {
    border: 1.5px solid #d8d8d8;
    position: relative;
    border-radius: 4px;
}
perfect-scrollbar {
  border: 1.5px solid #d8d8d8 !important;
  border-radius: 4px !important;
  &:focus {
    border-color: $Azure !important;
  }
}
.text-area-content {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: #4a4a4a;
    resize: none;
    border: none;
    // border-radius: 4px;
    background-color: #ffffff;
    height: 200px;
    padding: 10px;
    outline: none;
    display: table;
    &:focus {
      border-color: transparent !important;
    }
}

// Uploaded file css
.uploaded_doc {
    padding: 5px 0px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    background: #f8f9fa;
    font-size: 12px;
    width: 100%;
    height: 42px;
    border: 2px solid #2f81ff;
}
.doc-img {
    bottom: 0px;
    left: -1px;
    position: absolute;
}
.uploaded_text {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    padding: 5px;
}
.del_upload {
    color: #2f81ff;
    background: transparent;
    border: none;
    font-size: 16px;
    position: relative;
    font-weight: bold;
}
.htpos-left {
    position: absolute;
    left: 50px;
    height: auto;
}
.pad-10-30 {
  padding: 10px 30px 30px 30px;
}
.top-5 {
  top: 5px;
}
mat-form-field input {
  border: none;
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}
mat-chip {
  background: $River !important;
  color: $Azure !important;

  mat-icon {
    color: $Azure !important;
  }
}
.initial {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background: $Azure;
  padding: 5px;
  position: relative;
  right: 10px;
  span {
    position: relative;
    top: 3px;
    left: 1px;
  }
}
.mt20{
  margin-top:20px;
}
.pt10{
  padding-top: 10px;
}

//sparsh
.ellipsesSubject{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
}

.mb20{
  margin-bottom: 20px;
}
.heightAuto{
  height: auto;
  padding-bottom: 10px;
}
