<ng-container *ngIf="isLoading">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
          <div class="parent-container"*ngIf="campaignTable?.length>=1">
              <app-single-table 
              (detectActionValue)="performListActions($event)" 
              (detectPageChangeData) = "onPagination($event)" 
              [totalTableCount]="tableTotalCount"
              [TableName]="'activecampaigns'"
              [TableCollection]="campaignTable"               
              [IsActionFixed]= false 
              [IscheckBoxRequired]=true 
              [IsFreezedColumn]= true 
              [IsCreateLead] = false
              [serviceSearch] = true
              [IsCustomizeTable] = true
              [IsDownload]=userdat.getRoleAccess()
              [paginationPageNumber]= "ActiveCampaignRequestbody"
              [IsDropBoxRequired] = true
              [TabName]="'activecampaigns'"
              [filterConfigData]="filterConfigData"
              > </app-single-table>
              </div>
      </div>
  </div>
</div>