.tiles-span {
  font-weight: normal !important;
  margin-bottom: 10px;
}

.mat-expansion-panel-header-title {
  font-size: 16px !important;
}
.float-left{
    float:left;
}
.tiles-span-sub {
  font-family: WiproAkkuratTT-Bold;
  font-size: 12px;
  margin-bottom: 10px;
  color: #000000;
  text-align: right;
  max-width: 120px;
}

.tiles-label {
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    color: #4a4a4a;
    font-weight: 400;
}

.tiles-btm-brder {
  border-bottom: 1px solid #bdbaba;
  padding-bottom: 15px;
  margin-bottom: 10px;
  float: left;
}
.inner-tiles {
  padding-right: 15px!important;
}
.width100 {
  width: 100% !important;
}
.tiles-span {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tile {
  background: #f9f9f9;
  padding: 10px 0 10px 10px;
  float: left;
  border-radius: 4px;
}
.blue-txt{
    font-family: WiproAkkuratTT-Bold !important;
   cursor: pointer;
   font-size: 14px;
   color: #2f81ff !important;
}

.max-230 {
  max-width: 230px;
}

.w-100 {
  width: 100%
}

.mb20 {
  margin-bottom: 20px;
}

.mt10 {
  margin-top: 10px;
}

.message {
  font-size: 11px;
}

.btn-block-left {
  border-radius: 4px 0 0 4px;
  padding: 0px 10px;
  background: white;
  color: #2f81ff;
  height: 35px;
  border: 1.5px solid #2f81ff;
  width: 50%;
}

.btn-block-right {
  border-radius: 0px 4px 4px 0px;
  padding: 0px 10px;
  background: white;
  color: #2f81ff;
  height: 35px;
  width: 50%;
  border: 1.5px solid #2f81ff;
  border-left: none;

}

.btn-block-right:hover {
  color: white;
  background: #2f81ff;
}

.btn-block-left:hover {
  color: white;
  background: #2f81ff;
}

.active {
  color: white;
  background: #2f81ff;
}

.Btn-text {
  font-size: 11px;
  font-family: WiproAkkuratTT-Regular;
}

.mdi-restore-clock:before {
  position: relative;
  left: -4px;
  top: 2px;
  font-size: 15px;
}

.mdi-sync:before {
  position: relative;
  left: -4px;
  top: 2px;
  font-size: 15px;
}

.loader {
  margin: 100px 100px !important;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;

}

.loaderContainer {
  width: 100%;
  top: 0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
