<div class="col-12 float-left  no_pad popup-container OpprtunityRollBack">
  <div class="col-12 float-left  container-dialog">
    <div class="col-12 float-left  no_pad popup-hd">
      <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Roll back</span>
      <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn"
        aria-label="Close" mat-dialog-close></button>
    </div>
    <div class="col-12 float-left border-bottom-grey"></div>
    <div class="col-12 float-left no_pad">
      <span class="col-12 no_pad float-left stageToRollbak">Choose stage to roll back to</span>
      <div class="col-12 no_pad float-left">
        <mat-radio-group aria-label="Choose stage to roll back to" (change)="radioCheckMethod($event)" class="col-12 mt20 float-left mobile-no_pad">
          <mat-radio-button value="{{data.value}}" class="col-4 no_pad float-left" *ngFor="let data of icons">
            <button class="btn-none borderless responsive-btn-div-button cp">
              <img class="image-style" src="{{data.icon}}">
            <span class="float-left col-12 no_pad iconLabel">{{data.iconLabel}}</span></button>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="col-12 float-left no_pad mt10">
    <button aria-label="Cancel" class="col-6 float-left no_pad cancel-btn1 mt15" mat-dialog-close>Cancel</button>
    <button aria-label="Confirm" class="col-6 float-left btndef-none no_pad confrm-btn mt15 bg-azure" (click)="callStageAPI()">Confirm</button>
  </div>
</div>