.padt-0
{
    padding-top: 0px !important;
}
.loaderContainer {
    width: 100%;
    top:0em;
    position: absolute;
    height: 100%;
    z-index: 9999;
    background: white;
  }
  .loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
//chethana sep 25th
.top25{
    top:25px;
}
.padt10{
    padding-top:10px !important;
}