<div class="col-xl-12 col-12 no_pad expand-table-panel" [style.width.px]="width">
  <div class="col-xl-12 col-12 float-left no_pad expand-content">

      <div class="col-xl-11 col-12 col-md-11 float-left width100-max ">
          <div class="col-12 float-left desp-section">
              <label for="reject " class="float-left col-12">Reject marketing generated lead * 
                <span class="label-form" *ngIf= "textValue.value.length == 0">  (2000 characters)</span>
                <span class="label-form" *ngIf= "textValue.value.length > 0 && textValue.value.length < 1999">  ({{ 2000 - textValue.value.length}} characters left)</span>
                <span class="label-form" *ngIf= "textValue.value.length === 1999 || textValue.value.length === 2000">  ({{ 2000 - textValue.value.length}} character left)</span>
              </label>
              <div class="customized-select col-12 col-md-2 float-left mobile-select-box">
                  <span class="caret color-azure"></span>
                  <select name="reasonName" id="reject" class="float-left" [(ngModel)]="reasonName">
                      <option value="-1">Select reason</option>
                      <option id="opt{{i}}" value="{{options.id}}"
                          *ngFor="let options of ConfigData.reason; let i=index" matTooltip="{{options.Name}}">{{options.Name}}</option>
                  </select>
                  <!-- <p *ngIf="" class="error-message top-40"> Please
                    select reason </p> -->
              </div>
              <div class="customized-select col-12 col-md-2 float-left web-select-box">        
                <mat-form-field class="col-12 no_pad float-left">
                    <mat-label>Select reason</mat-label>
                    <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus" 
                    [(ngModel)]="reasonName">
                        <mat-option value="-1">Select reason </mat-option>
                        <mat-option  id="opt{{i}}" value="{{options.id}}"
                        *ngFor="let options of ConfigData.reason; let i=index" matTooltip="{{options.Name}}">
                        {{options.Name}}
                      </mat-option>
                    </mat-select>
                    <!-- <p *ngIf="!reasonName" class="error-message top-40"> Please
                        select reason </p> -->
                  </mat-form-field>
            </div>
              <div class="float-left col-12 mt10">
                  <textarea class="float-left col-12 col-md-4 " #textValue maxlength="2000" id="rejectReason" cols="30" rows="3" [(ngModel)]="reasonWrite"
                      placeholder="Write your reason here.."></textarea>
              </div>
              <div class="d-flex float-left mt10 col-12 col-md-4 " >
                  <button
                      class="primary-button secondary-btn w-120 h-40 mr10 std cancel-responsived-btn button-wd50" (click)="Cancel()">Cancel</button>
                  <button class="primary-button w-120 h-40 std save-responsive-btn button-wd50"
                      (click)="reject()">Reject</button>
              </div>
          </div>
      </div>






  </div>
</div>