$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
.bgcolor-green
{
  background: #6dc24b;
}
.bgcolor-yellow
{
  background: #ffeb3b;
}
.bgcolor-purple
{
  background: #103f86;
}
.bgcolor-red
{
  background: #ef3341;
}
.bgcolor-orange
{
  background: #f58323;
}
.h-228 {
  height: 228px;
}
.pt100 {
  padding-top: 135px;
}

.pad-20{
  padding: 20px;
}

.brudcrumbs {
  position: relative;
  left: 7px;
  top: 0px;
  opacity: 0.8;
  font-size: 12px;
  color: #e7ebf2;
}
.heading-custom {
  position: relative;
  left: 6px;
}
.cursor-pointer {
  cursor: pointer;
}
.heading-level-one {
  max-width: 260px !important;
}

.mdi-keyboard-backspace:before {
  content: "\F30D";
  font-size: 22px;
  color: #ffff;
  position: relative;
  bottom: 4px;
}

.pad-30 {
  padding: 30px;
}

.mt-30{
  margin-top:30px
}

.mt-150 {
  margin-top: 115px;
}

.summary-content {
  margin-bottom: 30px;

  label {
    color: #6f6f6f;
    opacity: 0.87;
    font-size: 13px;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
    width: 100%;
    font-family: WiproAkkuratTT-Regular;
  }

  span{
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #000000;
    font-family: WiproAkkuratTT-Bold;
    width:100%
  }

  .coaching-icon{
   width: 40px;
   height: 40px;
   border-radius: 50px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ml-6{
  // margin-left:6px;
}

.mt-20{
  margin-top: 20px;
}

}

.circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  top: 2px
}

.bg-orange{
  background-color: $Orange;
}

.pad-0-5{
  padding:0px 5px;
}

.border-botton-pad-10{
  border-bottom: solid 2px #d7d7d7;
  padding:0px 0px 10px 0px;
}

.min-height-380{
  min-height: 380px;
}
.dynamic-progressbar{

.mat-progress-bar {
  height: 10px ;
  border-radius: 4px;
  border:1px solid #ccc;
  
}
}

.usage-type{
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: $MidGrey;
}

.usage-days{
  font-family: WiproAkkuratTT-Regular;
  color: $MidGrey;
  font-size: 14px;
}

.text-align-right{
  text-align: right;
}

.mt-10{
  margin-top:10px;
}

.mtop-5{
  margin-top:5px;
}

.tableCards {
  min-height: 380px;
  border-radius: 8px 8px 4px 4px;
  box-shadow: 0 0 14px 0 rgba(128, 128, 128, 0.2);
  background-color: #ffffff;
}
.custom-card{
  border-radius: 8px 8px 4px 4px;
  box-shadow: 0 0 14px 0 rgba(128, 128, 128, 0.2);
  background-color: #ffffff;
}

.sales-div {
  padding: 15px 20px 0px 20px;
}
.sales-border-btm {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
.sales-table td {
  padding: 12px 0px;
}
.sales-div-height {
  max-height: 220px;
}
.sales-div-height .scroll-window {
  height: 240px;
}
.sales-div-height .slimscroll-bar {
  right: 4px !important;
}
.sales-table tr:nth-child(odd) {
  background: #f9f9f9;
}

.sales-table th{
  // padding: 12px 20px;
  padding: 0px;
}
.sales-table td {
  font-family: "WiproAkkuratTT-Regular";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #4a4a4a;
}
// .sales-table td:first-child {
//   color: #4a4a4a;
// }
// .sales-table td:last-child {
//   color: #2f81ff;
//   font-family: "WiproAkkuratTT-Bold" !important;
// }

//////////////////////////////slim scroll css starts-------------------------->

.scroll-window {
  width: 100%;
  height: 250px;
  font-size: 13px;
  font-size: 15px;
  line-height: 30px;
}

.slimscroll-grid {
  display: none !important;
}

.slimscroll-bar {
  width: 7px !important;
  right: 0px !important;
  background: #bab6b6 !important;
  z-index: 1 !important;
}

.slimscroll-bar:hover {
  background: #bab6b6 !important;
}
//////////////////////////////slim scroll css ends-------------------------->

.wonAccCount{
  font-family: WiproAkkuratTT-Bold;
  font-size: 25px;
}
.totalAccText{
  font-family: WiproAkkuratTT-Regular;
  font-size: 11px;
}

// usha disale printer-button
.for-printer {
  .printer-btn {
    padding: 2px 8px;
    margin-top: 5px;
    margin-left: 65px;
  }

  .primary-button-bgBlue {
    background-color: $MidNight;
    color: $White;
    border-radius: 4px;
    border: 1.5px solid $White;
    font-size: 20px;
    font-family: "WiproAkkuratTT-Bold";
  }
}

// printer-button-ends

   
.loader {
 margin: 200px auto;
 border: 6px solid #f3f3f3;
 border-radius: 50%;
 border-top: 6px solid #3498db;
 width: 64px;
 height: 64px;
 -webkit-animation: spin 2s linear infinite; /* Safari */
 animation: spin 2s linear infinite;
 
}
.loaderContainer {
 width: 100%;
 top:0em;
 position: absolute;
 height: 100%;
 z-index: 9999;
 background: white;
}
.mdi-greater-than-or-equal:before
{
  font-size: 12px;
}
@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
 }

 @media print{
   .doNotPrint{display:none !important;}
 }

 .mob_web_mt{
   margin-top: 150px;
 }

 @media screen and (max-width: 823px) {
  .marg-15{
    margin-top: 15px;
  }
 }