<ng-container *ngIf="isLoading">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-95 profile new-container">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card card-content float-left pad-30">

    <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
      <ngu-tile *nguCarouselDef="let item;let i=index" class="item">
        <div class="col-12 float-left no_pad tile">{{item}}
          <div class="col-12 float-left no_pad">
            <span class="col-5 col-md-5 col-xl-5 no_pad float-left line-carousal-front"></span>
            <span class="col-1 col-md-1 col-xl-1 no_pad float-left carousal-circle cp" id="name{{i}}"
              [ngClass]="activecircle && clikedIndex ==i?'active':''" (click)="check(i)"></span>
            <span class="col-6 col-md-6 col-xl-6 no_pad float-left line-carousal-back"></span>
          </div>
          <div class="col-12 float-left no_pad text-carousal">
            <div class="col-12 no_pad float-left account-name ellipses">Apple inc</div>
            <div class="col-12 no_pad float-left time-period ellipses">May2012 - Feb2013 (1y 12m)</div>
          </div>
        </div>
      </ngu-tile>
      <button NguCarouselNext class="rightRs">
        <span [style.opacity]="myCarousel.isLast ? 0.5:1">></span>
      </button>
      <button NguCarouselPrev class="leftRs">
        <span [style.opacity]="myCarousel.isFirst ? 0.5:1">
          </span> </button> <ul class="myPoint" NguCarouselPoint>
            <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint"
              (click)="myCarousel.moveTo(j)"></li>
            </ul>
    </ngu-carousel>
    <button #triggerClick class="noshow" (click)="myCarousel.moveTo(carouselItems.length-counttile)"></button>
    <!--AccountlevelRS starts-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">
      <div class="col-12 float-left color-back no_pad">
        <button class="mdi mdi-chevron-down float-left btn-none color-azure mobile-toggle"
          [ngClass]="toggletable3?'':'mdi-chevron-up'" (click)="toggletable3 =!toggletable3"></button>
        <h2 class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad heading-level-three pad-top-8">
          Account level RS details</h2>
      </div>
      <div class="col-12 no_pad float-left accord_s table-toggle" [ngClass]="toggletable3?'active':''">
        <div class="col-sm-12 no_pad accbody overhidden">
          <perfect-scrollbar class="mobview">
            <table
              class="col-sm-12 no_pad allianceTable tablAlliance crud-table businessPanelTable allianceTableEdit mobview1">
              <thead>
                <tr rowspan="2" class="display_flex cp servicelineheight">
                  <th>
                    <span class="pos-rel top-10">Job title</span>
                  </th>
                  <th colspan="2">Political Power radar</th>
                  <th>
                    <span class="pos-rel top-10">Relationship score</span>
                  </th>
                  <th>
                    <span class="pos-rel top-10">Buying roles</span>
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th>Total Score</th>
                  <th>Power symbol</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="accountLevelRSDetails.length>0">
                <tr class="vertical" *ngFor="let data of accountLevelRSDetails">
                  <td class="ellipses history-td" [attr.data-label]="'Job title'">{{data.JobTitle ? data.JobTitle : 'NA'}}</td>
                  <td class="ellipses history-td" [attr.data-label]="'Total Score'">{{data.PPRscore ? data.PPRscore : 'NA'}}</td>
                  <td class="ellipses history-td" [attr.data-label]="'Power symbol'">{{data.PowerSymbol ? data.PowerSymbol : 'NA'}}</td>
                  <td class="ellipses history-td" [attr.data-label]="'Relationship score'">{{data.RSScore ? data.RSScore : 'NA'}}</td>
                  <td class="ellipses history-td" [attr.data-label]="'Buying roles'">{{data.BuyingRole ? data.BuyingRole : 'NA'}}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="accountLevelRSDetails.length==0">
                <tr class="vertical">
                  No records found
                </tr>
              </ng-container>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <!--AccountlevelRS table ends-->
    <!--Activities table starts-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt20">
      <div class="col-12 float-left color-back no_pad">
        <button class="mdi mdi-chevron-down float-left btn-none color-azure mobile-toggle"
          [ngClass]="toggletable2?'':'mdi-chevron-up'" (click)="toggletable2 =!toggletable2"></button>
        <h2 class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad heading-level-three pad-top-8">
          Activities(Top 5) </h2>
      </div>
      <div class="col-12 no_pad float-left accord_s table-toggle" [ngClass]="toggletable2?'active':''">
        <div class="col-sm-12 no_pad accbody overhidden">
          <perfect-scrollbar class="mobview">
            <table
              class="col-sm-12 no_pad allianceTable tablAlliance crud-table businessPanelTable allianceTableEdit mobview1">
              <thead>
                <tr class="display_flex cp servicelineheight">
                  <th>Wipro user name</th>
                  <th>Total activity Count(numbers)</th>
                  <th>Total F2F(number)</th>
                  <th>Last met date</th>
                </tr>
              </thead>
              <tbody >
                <ng-container *ngIf="topFiveActivities.length>0">
                <tr class="vertical" *ngFor="let data of topFiveActivities">
                  <td class="ellipses history-td" [attr.data-label]="'Wipro user name'">{{data.UserName ? data.UserName : 'NA'}}</td>
                  <td class="ellipses history-td" [attr.data-label]="'Total activity Count(numbers)'">{{data.TotalActivityCount ? data.TotalActivityCount: 'NA'}}</td>
                  <td class="ellipses history-td" [attr.data-label]="'Total F2F(number)'">{{data.TotalF2F ? data.TotalF2F : 'NA'}}</td>
                  <td class="ellipses history-td" [attr.data-label]="'Last met date'">{{(data.RecentMeetingDate | date) ? (data.RecentMeetingDate | date) : 'NA'}}</td>
                </tr>
                </ng-container>
                <ng-container *ngIf="topFiveActivities.length==0">
                  <tr class="vertical">
                    No records found
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <!--Activities table ends-->
    <!--opportunity table starts-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no_pad float-left mt20 pr-20">
      <div class="col-12 float-left color-back no_pad">
        <button class="mdi mdi-chevron-down float-left btn-none color-azure mobile-toggle"
          [ngClass]="toggletable?'':'mdi-chevron-up'" (click)="toggletable =!toggletable"></button>
        <h2 class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad heading-level-three pad-top-8">
          Opportunities </h2>
      </div>
      <div class="col-12 no_pad float-left accord_s table-toggle" [ngClass]="toggletable?'active':''">
        <div class="col-sm-12 no_pad accbody overhidden">
          <perfect-scrollbar class="mobview">
            <table
              class="col-sm-12 no_pad allianceTable tablAlliance crud-table businessPanelTable allianceTableEdit mobview1">
              <thead>
                <tr class="display_flex cp servicelineheight">
                  <th>Description</th>
                  <th>Count(numbers)</th>
                  <th>Value(in $)</th>
                </tr>
              </thead>
              <tbody >
                <ng-container *ngIf="opportunitiesTab.length>0">
                  <tr class="vertical" *ngFor="let data of opportunitiesTab">
                    <td class="ellipses history-td" [attr.data-label]="'Description'">{{data.Description}}</td>
                    <td class="ellipses history-td" [attr.data-label]="'Count(numbers)'">{{data.Count}}</td>
                    <td class="ellipses history-td" [attr.data-label]="'Value(in $)'">{{data.Amount}}</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="opportunitiesTab.length==0">
                  <tr class="vertical">
                    No records found
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <!--opportunity table ends-->
    <!--Opportunity level RS table starts-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no_pad float-left mt20">
      <div class="col-12 float-left color-back no_pad">
        <button class="mdi mdi-chevron-down float-left btn-none color-azure mobile-toggle"
          [ngClass]="toggletable4?'':'mdi-chevron-up'" (click)="toggletable4 =!toggletable4"></button>
        <h2 class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad heading-level-three pad-top-8">
          Opportunity level RS details </h2>
      </div>
      <div class="col-12 no_pad float-left accord_s table-toggle" [ngClass]="toggletable4?'active':''">
        <div class="col-sm-12 no_pad accbody overhidden">
          <perfect-scrollbar class="mobview">
            <table
              class="col-sm-12 no_pad allianceTable tablAlliance crud-table businessPanelTable allianceTableEdit mobview1">
              <thead>
                <tr class="display_flex cp servicelineheight">
                  <th>Description</th>
                  <th>Count(numbers)</th>
                </tr>
              </thead>
              <tbody>
                <tr class="vertical" *ngFor="let data of opportunityLevelRSDetails">
                  <td class="ellipses history-td" [attr.data-label]="'Description'">{{data.Description}}</td>
                  <td class="ellipses history-td" [attr.data-label]="'Count(numbers)'">{{data.Count}}</td>
                </tr>
                <ng-container *ngIf="opportunityLevelRSDetails.length==0">
                  <tr class="vertical">
                    No records found
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <!--Opportunity level RS table ends-->
    <!--Leads table starts-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 no_pad float-left mt20">
      <div class="col-12 float-left color-back no_pad">
        <button class="mdi mdi-chevron-down float-left btn-none color-azure mobile-toggle"
          [ngClass]="toggletable1?'':'mdi-chevron-up'" (click)="toggletable1 =!toggletable1"></button>
        <h2 class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad heading-level-three pad-top-8">
          Leads </h2>
      </div>
      <div class="col-12 no_pad float-left accord_s table-toggle" [ngClass]="toggletable1?'active':''">
        <div class="col-sm-12 no_pad accbody overhidden">
          <perfect-scrollbar class="mobview">
            <table
              class="col-sm-12 no_pad allianceTable tablAlliance crud-table businessPanelTable allianceTableEdit mobview1">
              <thead>
                <tr class="display_flex cp servicelineheight">
                  <th>Description</th>
                  <th>Count(numbers)</th>
                  <th>Value(in $)</th>
                </tr>
              </thead>
              <tbody>
                <tr class="vertical">
                  <td class="ellipses history-td" [attr.data-label]="'Description'">Qualified</td>
                  <td class="ellipses history-td" [attr.data-label]="'Count(numbers)'">104</td>
                  <td class="ellipses history-td" [attr.data-label]="'Value(in $)'">12500</td>
                </tr>
                <tr class="vertical">
                  <td class="ellipses history-td" [attr.data-label]="'Description'">Unqualified</td>
                  <td class="ellipses history-td" [attr.data-label]="'Count(numbers)'">104</td>
                  <td class="ellipses history-td" [attr.data-label]="'Value(in $)'">12500</td>
                </tr>

              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <!--leads table ends-->
    <!--Relationship graph starts-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left mt20">
      <div class="col-12 float-left color-back no_pad">
        <button class="mdi mdi-chevron-down float-left btn-none color-azure mobile-toggle"
          [ngClass]="toggletable5?'':'mdi-chevron-up'" (click)="toggletable5 =!toggletable5"></button>
        <h2 class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad heading-level-three pad-top-8">
          Relationship graph </h2>

      </div>
      <div class="table-toggle" [ngClass]="toggletable5?'active':''">
        <img class="center" src="assets/images/graph contact.JPG" alt="Graph">
      </div>

    </div>
    <!--Relationship graph  ends-->
  </div>
</div>