$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$DarkBlack: #2e2e2e;

.h-170 {
  height: 170px;
}
.mr10 {
  margin-right: 10px !important;
}
.plb-60-20 {
  padding: 0 60px 20px 0;
}
.plb-60-35 {
  padding: 0 60px 35px 0;
}
.h-40 {
  min-height: 40px;
}
.pr-100 {
  padding-right: 100px;
}
.heading-level-two {
  font-family: WiproAkkuratTT-Bold;
  font-size: 20px;
  letter-spacing: -0.4px;
}
.heading-level-one {
  font-family: WiproAkkuratTT-Bold;
  font-size: 24px;
  color: $DarkBlack;

  small {
    font-family: "WiproAkkuratTT-Regular";
    font-size: 14px;
    padding: 0 30px;
  }
}
.header-level-three {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  float: left;
  padding: 0;
}
.primary-button.std {
  padding: 7px 0;
  min-width: 88px;
  height: 40px;
  margin: 0;
}
.pad-95 {
  padding: 0 95px 0 95px;
  background: #f9f9f9;
}
.card {
  border-radius: 5px;
  border: 0px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: table;
}
.contact-details-action-btn {
  position: fixed;
  margin-top: -23.5em;
  z-index: 999;
  right: 3em;
  transition: 0.5s all;
}
.contact-details-action-btn.active {
  margin-top: -28.3em;
  transition: 0.5s all;
}
.plb-0-35 {
  padding: 0px 15px 32px 0px;
}
.converstion-name {
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px !important;
  line-height: 1.43;
  letter-spacing: 0.3px;
  color: $MetalLight !important;
}
.converstion-sub-text {
  width: 196px;
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: $DarkBlack;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pb5 {
  padding-bottom: 5px;
}
.mdi-pencil:before {
  margin-right: 5px;
}
.borderless {
  border: none !important;
}

.CompanyName {
  .mdi-magnify:before {
    color: $Azure;
    font-size: 20px;
    right: 10px;
    position: absolute;
    bottom: 5px;
  }
}
.new-container {
  .input-border-left {
    border-left: none;
  }
  .border-btm {
    border-bottom: 2px solid;
  }
  .border-right {
    border-right: 2px solid $Azure !important;
  }
  .z-ind-9999 {
    z-index: 8;
  }

  .z-ind-99 {
    z-index: 8;
  }
  .z-ind-9 {
    z-index: 9;
  }

  .mt-8 {
    margin-top: 8px;
  }

  .top62 {
    top: 62px;
  }
  .top64 {
    top: 64px;
  }
  .top66 {
    top: 66px;
  }

  .pad-30 {
    padding: 30px;
  }
  .mr10 {
    margin-right: 10px;
  }
  .h-40 {
    min-height: 40px;
  }
  .heading-level-one {
    font-family: WiproAkkuratTT-Bold;
    font-size: 24px;
    color: $White;

    small {
      font-family: "WiproAkkuratTT-Regular";
      font-size: 14px;
      padding: 0 30px;
    }
  }
  .primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
  }
  .borderless {
    border: none !important;
  }

  .h-180 {
    height: 210px;
  }
  .pad-30 {
    padding: 30px;
  }

  .card {
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: $White;
  }

  .heading-level-two {
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px;
    color: $DarkBlack;
  }

  .heading-level-three {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: $Black;
  }

  .divider {
    border: 1px solid $Marble;
  }

  .mt10 {
    margin-top: 10px;
  }
  .mt20 {
    margin-top: 20px;
  }
  .mt15 {
    margin-top: 15px;
  }
  .mt40 {
    margin-top: 40px;
  }
  .plb-20-20 {
    padding: 0px 20px 20px 0px;
  }
  .checkbox-label {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: $Metal;
    line-height: 1.43;
    letter-spacing: 0.3px;
  }

  .label-form {
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    line-height: 1.83;
    color: $Metal;
    margin-bottom: 4px;
    width: 100%;
  }

  .CompanyName {
    .mdi-magnify:before {
      color: $Azure;
      font-size: 20px;
      right: 10px;
      position: absolute;
      bottom: 5px;
    }
  }

  .h-40 {
    height: 40px;
  }

  .w-110 {
    width: 110px;
  }

  .attach-btn {
    height: 40px;
    width: 110px;
    font-size: 12px;
    letter-spacing: 0.1px;
    cursor: pointer;
  }

  .add-btn {
    height: 40px;
    border-radius: 4px 0 0 4px;
    border: 1.5px solid #d8d8d8;
    padding: 3px 6px;
    background: $White;
    color: #9b9b9b;
    font-size: 18px;
    outline: none;
    &:focus,
    &:hover {
      border-color: $Azure;
      font-family: WiproAkkuratTT-Bold;
      color: $Azure;
      outline: none;
    }
  }

  .attach-icon {
    width: 18px;
    height: 18px;
    transform: rotate(-90deg);
    text-align: center;
    position: relative;
    right: 6px;
    font-size: 18px;
  }

  .record-icon {
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 18px;
    position: relative;
    bottom: 5px;
    right: 3px;
  }

  .text-area-content1 {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #000000;
    resize: none;
    border: 1.5px solid $Marble;
    border-radius: 2px;
    background-color: #ffffff;
    height: 270px;
    padding: 10px;
  }
  .rel-top-18 {
    position: relative;
    top: -18px;
  }

  .label-input {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    padding-right: 33px;

    &:focus {
      border: 1.5px solid $Azure !important;
      outline: none;
    }
  }

  .customized-input {
    input {
      &:focus {
        border: 1.5px solid $Azure !important;
        outline: none;
      }
    }
  }
  .list-group-item {
    cursor: pointer;
    font-size: 12px;
    color: $Azure;
    border: none;
  }

  .top70 {
    top: 70px;
  }

  .list-group-item:hover {
    background-color: $River;
  }

  .customized-select {
    position: relative;
    select {
      width: 100%;
      min-height: 40px;
      border-radius: 5px;
      // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
      border: 1.5px solid rgba(0, 0, 0, 0.1);
      padding: 2px 5px;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: none;

      &:focus {
        outline: none;
        border-color: $Azure;
      }
    }
    select::-ms-expand {
      display: none !important;
    }
  }

  .record-btn {
    border: 1.5px solid $Marble;
    color: $MetalLight;
    width: 91px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.1px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: WiproAkkuratTT-Bold;
    padding: 8px 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .record-btn-active {
    border: 1.5px solid $Azure;
    color: $Azure;
    width: 91px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.1px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: WiproAkkuratTT-Bold;
    padding: 8px 5px;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      color: $White;
      background: $Azure;
    }
  }
  /********** style for auto complete list start ***************/
  .list-name {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #000000;
  }

  .sub-list {
    font-size: 10px;
    color: #9b9b9b;
    font-family: WiproAkkuratTT-Regular;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.new-container .list-name {
  max-width: 100% !important;
}
.loaderContainer {
  width: 100%;
  top: 0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
.loader {
  top: -100px;
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

//table css starts

.addAccountBtns {
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #2f81ff;
  color: #2f81ff;
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  padding: 0px 22px;
  width: 100px;
  margin-bottom: 10px;
}
.accord_s {
  padding: 0px 25px 10px 25px;
}
.accbody {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
.allianceTable th {
  padding: 0px 10px;
  background: #eaf2ff;
  font-family: WiproAkkuratTT-Bold;
  font-size: 12px;
  font-weight: bold;
  color: #40659e;
  height: 40px;
  text-align: center;
}
.allianceTable td {
  padding: 10px;
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #3f3f3f;
  height: 50px;
  text-align: center;
}

// .allianceTable tbody tr:nth-child(even) {
//   background: #f9f9f9;
// }

.tablAlliance thead tr th:first-child {
  border-radius: 4px 0px 0px 0px;
}
.tablAlliance thead tr th:last-child {
  border-radius: 0px 4px 0px 0px;
}
.width4 {
  width: 4%;
}
.width22 {
  width: 22%;
}
.deleteColumn {
  font-size: 18px;
  padding: 2px 0px 0px 16px;
}
.edit_style {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px !important;
}
.new-container .list-name {
  max-width: 100% !important;
}
.vertical {
  vertical-align: middle;
}
.mobview {
  max-height: 300px;
  z-index: 8;
}
.mobile-toggle {
  display: none;
}
.crud-table {
  border-radius: 4px;
  overflow-y: hidden;
  display: inline-table;
  max-height: 210px;
  // min-height: 210px;
}
.crud-table .allianceTableEdit {
  padding-bottom: 200px;
  display: block;
  overflow: hidden;
}
.crud-table .allianceTableView {
  padding-bottom: 0px;
  display: table;
}
.overLapArea {
  top: 40px;
}
.auto-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 9;
}

.tableOverlay {
  // background: #00000005;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.w-160 {
  width: 160px;
}
tr:last-child .suggestion-box {
  bottom: 40px;
  top: -100px !important;
}
tr:nth-last-child(2) .suggestion-box {
  bottom: 40px;
  top: -100px !important;
}
tr:first-child .suggestion-box {
  bottom: -100px !important;
  top: 40px !important;
}
.w-80.name {
  width: 75%; //mar-14
  // padding: 10px 3px 3px 10px !important;
}
.wid-55.name {
  width: 55%;
}
.pb16 {
  padding-bottom: 16px;
}
.first-crd.card {
  margin-bottom: 0px !important;
}
.customer-contact-wid {
  max-width: 88% !important;
}
.attach-disable {
  pointer-events: none;
  border-color: #d8d8d8;
  color: #d8d8d8;
}
.padd15 {
  padding: 15px;
}
.top10 {
  top: 10px;
}
.designation-sub {
  position: relative;
  top: -5px;
}
.servicelineheight {
  height: 20px;
}
.allianceTable tbody tr:nth-child(even) {
  background: #f9f9f9 !important;
}
.pad-top-8 {
  padding-top: 10px;
}

.pr-20 {
  padding-right: 20px !important;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top-10 {
  top: 20px;
}
.history-td {
  max-width: 105px;
}


.tile {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item:first-child .line-carousal-front {
  opacity: 0;
}

.item:last-child .line-carousal-back {
  border-bottom: 1.5px dashed #dfdfdf;
  height: 11px;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 100px;
  background: white;
  border-radius: 999px;
  left: -10px;
  border: none;
  font-size: 36px;
  font-weight: bold;
  padding: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 100px;
  background: white;
  border-radius: 999px;
  right: -5px;
  border: none;
  font-size: 36px;
  font-weight: bold;
  padding: 0;
}

.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  display: none;
}

.line-carousal-front {
  border-bottom: 1.5px solid #000;
  height: 11px;
  // width: 50px;
}
.line-carousal-back {
  border-bottom: 1.5px solid #000;
  height: 11px;
  // width: 50px;
}

.account-name {
  text-align: center;
  font-family: "WiproAkkuratTT-Bold";
  font-size: 14px;
}
.time-period {
  text-align: center;
  font-family: "WiproAkkuratTT-Regular";
  font-size: 12px;
  color: #4a4a4a;
}

::ng-deep .ngucarousel {
  width: 80% ;
  margin: 0 auto !important;
}
::ng-deep .ngucarousel-items {
  margin: 0px auto !important;
  width: 90% !important;
  height: 100px !important;
}
ngu-tile.item{
  padding: 0 !important;
}
.noshow{
visibility: hidden;
}
.carousal-circle {
  height: 17px;
  width:16.5px;
  border: 1.5px solid #2f81ff;
  background: white;
  border-radius: 50%;
}
.carousal-circle.active {
  height: 17px;
  width:16.5px;
  background-color: #2f81ff;
  border: 2px solid #fff;
  box-shadow: 0 0 0px 2px #4a4a4a;
  border-radius: 50%;
}
.text-carousal {
  position: absolute;
  top: 60px;
  z-index: 1;
}

@media screen and (max-width: 823px) {
  .allianceTable td {
    width: 33% !important;
    max-width: 220px;
    text-align: left !important;
  }

  .pr-20 {
    padding-right: 0px !important;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
@media screen and (max-width: 414px) {
  .allianceTable td {
    width: 45% !important;
    max-width: 135px;
  }
  .pr-20 {
    padding-right: 0px !important;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .history-td {
    max-width: 100%;
  }
  ::ng-deep .ngucarousel {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .leftRs {
    width: 35px !important;

  }
  
  .rightRs {
    width: 30px !important;

  }
}
