<ng-container *ngIf="isLoading; else elseTemplate">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing"
    >
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="uploadLoader">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing"
    >
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div
    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left uploadRLS-container card margin-btm55 no_pad "
  >
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-30 pt20 no_pad"
    >
      <h2 class="col-10 float-left heading-level-two padryt-lft ">
        Upload your RLS
      </h2>
      <!-- <button class="float-right primary-button w-95 saveUp-btn">Save</button> -->
      <section class="col-12 float-left customized-accordians no_pad">
        <div class="col-12 noPad float-left accordians-div">
          <p
            class="col-12 no_pad float-left text-center"
            *ngIf="Cowners.length == 0"
          >
            No record found
          </p>
          <mat-accordion>
            <div
              class="col-12 no_pad float-left accordians-lvl2 "
              *ngFor="let data of Cowners; let i = index"
            >
              <mat-expansion-panel
                hideToggle="true"
                [expanded]="data.expanded"
                class="no_pad"
                (opened)="data.panelOpenState = true"
                (closed)="data.panelOpenState = false"
              >
                <mat-expansion-panel-header
                  style="min-height:60px;"
                  class="sub-accord-container"
                >
                  <mat-panel-title>
                    <span
                      class="icon-lynHgt"
                      [ngClass]="
                        data.panelOpenState
                          ? 'mdi mdi-chevron-down chevron-right'
                          : 'mdi mdi-chevron-right chevron-right'
                      "
                    ></span>
                    <div class="col-12 float-left title-div">
                      <span class="float-left title-inner"
                        >Module {{ data.ModuleNumber }}</span
                      >
                      <span class="col-6 float-left title-inner">{{
                        data.ModuleName
                      }}</span>
                      <span class="float-left title-inner">{{
                        data.ModuleOwner.EmployeeName
                      }}</span>
                      <span class="float-left title-inner">{{
                        data.CreatedDate | date: "d-MMM-y"
                      }}</span>
                      <span
                        class="float-left title-inner"
                        (click)="OpenCoOwners(data); $event.stopPropagation()"
                        >Co-owners</span
                      >
                    </div>
                  </mat-panel-title>
                  <!-- <span class="float-right mdi mdi-note-multiple color-azure edit-icon mr10" matTooltip="Copy"
                      role="button" tabindex="0" aria-label="copy"></span>
                    <span class="float-right mdi mdi-delete color-azure edit-icon" matTooltip="Delete" role="button"
                      tabindex="0" aria-label="delete"></span> -->
                </mat-expansion-panel-header>

                <div class="col-12 no_pad float-left pad-top20">
                  <div
                    class="col-lg-6 col-md-6 col-12  padbox-10-60-10 float-left"
                  >
                    <label for="Currency" class="w-100">Select state</label>
                    <mat-radio-group
                      aria-label="Select an option"
                      id="Currency"
                      [disabled]="
                        manageDealOverview?.BindHeaderDetail?.Status !=
                          'Open' &&
                        manageDealOverview?.BindHeaderDetail?.Status !=
                          'Calculated'
                      "
                      [(ngModel)]="data.statestatus"
                    >
                      <mat-radio-button value="1" class="mr20"
                        >Steady state</mat-radio-button
                      >
                    
                      <mat-radio-button value="2"
                        >Transition state</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                  <div
                    class="col-lg-6 col-md-6 col-12 float-left no_pad btns-div"
                  >
                    <div class="float-right pos-rel">
                      <button
                        type="button"
                        *ngIf="data.ModuleEdit == 'true'"
                        class="primary-button btn-block w-121 mdi mdi-attachment attach-icon-deal"
                      >
                        Upload RLS
                        <input
                          type="file"
                          class="w-121 upload-input"
                          #fileInput
                          (click)="fileInput.value = null"
                          value="null"
                          (change)="
                            UploadRLSFiles($event, data, i, data.statestatus)
                          "
                          name="files[]"
                        />
                      </button>
                     
                    </div>

                    <button
                      type="button"
                      class="float-right primary-button btn-block w-189 mr10"
                      (click)="OpenDownload(); $event.stopPropagation()"
                      [ngClass]="{
                        'disable-button-control':
                          manageDealOverview?.BindHeaderDetail?.Status !=
                            'Open' &&
                          manageDealOverview?.BindHeaderDetail?.Status !=
                            'Calculated'
                      }"
                      [attr.disabled]="
                        manageDealOverview?.BindHeaderDetail?.Status !=
                          'Open' &&
                        manageDealOverview?.BindHeaderDetail?.Status !=
                          'Calculated'
                          ? 'disabled'
                          : null
                      "
                    >
                      Download RLS template
                    </button>
                  </div>
                </div>
              </mat-expansion-panel>
            </div>
          </mat-accordion>
        </div>
      </section>
    </div>
  </div>
</ng-template>
