<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab opportunityPage new-container">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
      <div class="col-5 col-sm-12 col-md-6 col-lg-5 col-xl-5 float-left no_pad">

        <button class="mdi mdi-keyboard-backspace cursor-pointer float-left back-buttonbg" (click)="goBack()" role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
        <h1 class="heading-level-one heading-custom">Additional details : Service lines</h1>
        <span class="brudcrumbs">Sales > Opportunities > {{opportunityName}} > Service lines</span>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-right no_pad">
        <div class="float-right disp-flex web-button contact-details-action-btn">
          <button aria-label="cancel" class="primary-button secondary-btn btn-block h-40 mr10 std " (click)="goBack()">Cancel</button>
          <button aria-label="save" class="primary-button borderless btn-block h-40 std " (click)="saveAdditionalSolutionDetails()" *ngIf="showSaveButton">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div clas="col-12 float-left ">
  <div
    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-285 new-container">
  </div>

  <!-- code goes here -->
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad vertical-btns-div float-left flex-tab pad-top142">
    <div class="col-9 float-left no_pad flex-tab-width">
      <button aria-label="Additional SL Information" (click)="tabone()" [ngClass]="Competitortab ? 'active':''"
        class="col-lg-3 col-sm-4 col-md-3 col-4 col-xl-3 sub-vertical-but brd-right0 " (click)="additionalInfo()">
        <span class=" mdi mdi-format-float-center calin-select-all"></span>
        <span class=" no_pad btntxt-s pad-top2">Additional SL Information</span>
      </button>
      <button aria-label="Cloud details" (click)="tabtwo()" [ngClass]="Teambuildingtab ? 'active':''"
        class="col-lg-3 col-sm-4 col-md-3 col-4 col-xl-3 float-right sub-vertical-but brd-left0" (click)="getCloudValue()">
        <span class=" calin-select-all mdi  mdi-cloud-outline"></span>
        <span class="no_pad btntxt-s pad-top2">Cloud details</span>
      </button>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left ">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card pad-20-30 mb20 ipmoreoption">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
   
               <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-0-10 customized-input">
                 <label for="field1" class="col-12 float-left no_pad w-100">Service line</label>
                 <span id="field1" type="text" class="col-12 float-left no_pad sub-text">{{additionServicelineDetails.ServiceLine}}</span>
               </div>

               <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-0-10 customized-input">
                   <label for="field2" class="col-12 float-left no_pad w-100">Practice</label>
                   <span id="field2" type="text" class="col-12 float-left no_pad sub-text">{{additionServicelineDetails.Practice}}</span>
                 </div>

                 <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-0-10 customized-input">
                     <label for="field3" class="col-12 float-left no_pad w-100">Sub-practice</label>
                     <span id="field3" type="text" class="col-12 float-left no_pad sub-text" >{{additionServicelineDetails.SubPractice}}</span>
                   </div>

             </div>
   
           </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card pad-30 ipmoreoption">

         

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb-30 " *ngIf="wiproDatabsebtn">

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left plb-0-10" *ngIf="disableAccessPermission">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">* You are not
              authorized to add/change additional info.</label>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-0-10 customized-input">
              <label for="field1" class="w-100">SL TCV Input (Deal currency)</label>
              <input id="field1" type="text" class="col-6 border-gray w-100" value="" onkeypress="return event.charCode >= 48
           && event.charCode <= 57" min="0" placeholder="Enter value" [(ngModel)]="Sltcvinput" [disabled]="disableAccessPermission" (change)="updateServiceLineData($event,'WiproSltcvinput')">
            </div>

          </div>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" *ngIf="dDatabasebtn">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad  float-left">
            <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 float-left plb-0-20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">SL TCV
                ($)</label>
              <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">{{SLTCV}}</span>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 float-left plb-0-10">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">Cloud TCV
                ($)</label>
              <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">{{finalTCVValue}}</span>
            </div>

          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
            <div class="col-6 float-left pad-top20 plb-0-20">
              <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad sub-text">Cloud
                details</span>
            </div>
            <div class="col-6 float-left no_pad">
              <span class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 float-right plb-0-10">
                <button aria-label="Add row" (click)="addServiceLineCloud();panelOpenState2 = false" class="float-right addAccountBtns" *ngIf="!disableAccessPermissionCloud">+ Add
                  row</button></span>
            </div>
          </div>

          <div class="col-12 no_pad float-left">
            <!-- Table starts here -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>Function *</th>
                    <th>Category *</th>
                    <th class="ellipses">Service provider *</th>
                    <th>Technology*</th>
                    <th class="ellipses">Open source</th>
                    <th>Value *</th>
                    <th>Remarks</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of serviceLineCloud_data;let i = index">

                    <td>
                      <!-- Select DROPDOWN STARTS -->
                      <div class="customized-select">
                        <span class="caret color-azure"></span>
                        <select id="selectFunction{{i}}" role="listbox" [(ngModel)]="data.WiproFunction" (change)="updateCloudValue(i,$event,'WiproFunction')" [disabled]="disableAccessPermissionCloud">
                         <option value="" selected hidden>Select Function</option>
                          <option *ngFor="let function of FunctionList"  [value]="function.Id">{{function.Name}}</option>
                        </select>
                      </div>
                      <!-- Select DROPDOWN STARTS -->
                    </td>
                    <td class="no_pad">
                      <!-- Select DROPDOWN STARTS -->
                      <div class="customized-select">
                        <span class="caret color-azure"></span>
                        <select id="selectCategory{{i}}" [(ngModel)]="data.WiproCategory" role="listbox" (change)="updateCloudValue(i,$event,'WiproCategory')" [disabled]="disableAccessPermissionCloud">
                         <option value="" selected hidden>Select Category</option>
                          <option *ngFor="let category of CategoryList"  [value]="category.Id">{{category.Name}}</option>
                        </select>
                      </div>
                      <!-- Select DROPDOWN STARTS -->
                    </td>
                    <td>
                      <!-- Select DROPDOWN STARTS -->
                      <div class="customized-select">
                        <span class="caret color-azure"></span>
                        <select id="selectServiceProvider{{i}}" [(ngModel)]="data.WiproServiceprovider" (change)="updateCloudValue(i,$event,'WiproServiceprovider')" role="listbox" class="ellipses" [disabled]="disableAccessPermissionCloud">
                           <option value="" selected hidden>Select Service Provider </option>
                          <option *ngFor="let serviceprovider of ServiceProviderList" [value]="serviceprovider.Id">{{serviceprovider.Name}}</option>
                        </select>
                      </div>
                      <!-- Select DROPDOWN STARTS -->
                    </td>
                    <td class="no_pad">
                      <!-- Select DROPDOWN STARTS -->
                      <div class="customized-select">
                        <span class="caret color-azure"></span>
                        <select id="selectTech{{i}}" role="listbox" [disabled]="disableAccessPermissionCloud" [(ngModel)]="data.WiproTechnology" (change)="updateCloudValue(i,$event,'WiproTechnology')">
                          <option value="" selected hidden>Select Technology</option>
                         <option *ngFor="let technology of TechnologyList"  [value]="technology.Id">{{technology.Name}}</option>
                        </select>
                      </div>
                      <!-- Select DROPDOWN STARTS -->
                    </td>

                    <td class="customized-checkbox">
                      <mat-checkbox aria-label="select" [(ngModel)]="data.WiproOpensource" (change)="updateCloudValue(i,$event,'WiproOpensource')" [disabled]="disableAccessPermissionCloud"></mat-checkbox>
                    </td>
                    <td class="no_pad">
                      <div class="customized-input">
                        <label for="fieldOpenSource{{i}}" class=""> </label>
                        <input id="fieldOpenSource{{i}}" onkeypress="" (keyup)="data.WiproValue=checkDecimalValue(data.WiproValue,i,'WiproValue')" min="0" (change)="updateCloudValue(i,$event,'WiproValue')" [(ngModel)]="data.WiproValue"  type="text" class="border-gray w-75" value="00.00" placeholder="00.00" [disabled]="disableAccessPermissionCloud">
                      </div>
                    </td>
                    <td class="no_pad">
                      <div class="customized-input">
                        <label for="fieldRemarks{{i}}" class=""> 
                        </label>
                        <input id="fieldRemarks{{i}}" (change)="updateCloudValue(i,$event,'WiproRemarks')" [(ngModel)]="data.WiproRemarks" type="text" class="border-gray w-75" value="Remarks" placeholder="Remarks" [disabled]="disableAccessPermissionCloud">
                         <span class="required" *ngIf="data.WiproOpensource"> * </span>
                      </div>
                    </td>
                    <td class="display_flex right10">
                      <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="Delete"
                        matTooltip="Delete" (click)="confirmdelete(i)" *ngIf="!disableAccessPermissionCloud">
                        <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-delete"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Table ends here -->
          </div>


        </div>


      </div>
    </div>
  </div>
</div>