<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab business-partner opportunityPage new-container">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 float-left no_pad">

          <button class="mdi mdi-keyboard-backspace cursor-pointer float-left back-buttonbg" (click)="goBack()" role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
          <h1 class="heading-level-one heading-custom">Add new age business partner</h1>
          <span class="brudcrumbs">Sales > Opportunities > {{ opportunityName }}</span>
        </div>

        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left no_pad">
            <div class="float-right disp-flex save-cancel-responsive">
              <button class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50"
                (click)="goBack()">Cancel</button>
              <button class="primary-button borderless h-40 std save-responsive-btn button-wd50" (click)= "saveNewAgeBusinessPartner()"
               >Save</button>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div clas="col-12 float-left no_pad business-partner ">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-200 new-container">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad opportunity-landing-container ">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pd-20 pad-30 top-24">
          <div class="col-12 no_pad float-left scroll-tabs">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pt100 newage-partner">

          <mat-expansion-panel hideToggle="true" [expanded]="panelOpenState2" class="no_pad"
            (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
            <mat-expansion-panel-header class="min_height60">
              <div class="min_height60 col-12 no_pad">
                <div class="accord-heading col-12">
                  <span
                    [ngClass]="panelOpenState2 ? 'mdi mdi-chevron-down chevron-right float-left':'mdi mdi-chevron-right chevron-right float-left'"></span>
                  <div class="float-left no_pad"> <span class="accordian-title cardsHead col-6 no_pad">

                      Solution</span></div>
                  <div class="col-6 float-right no_pad bot10">
                    <button (click)="addcompetitor();panelOpenState2 = false"
                      class="primary-button h-40 std save-responsive-btn float-right pad_10">+ Add
                      new age business partner</button>
                  </div>
                </div>
              </div>
            </mat-expansion-panel-header>

            <div class="col-12 no_pad float-left btop_withoutpadding">
              <!-- Table starts here -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad overflowscroll">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <!-- <th class="customized-checkbox">
                        <mat-checkbox aria-label="select all" (change)="selectAll()" [(ngModel)]="selectedAll">
                        </mat-checkbox>
                      </th> -->
                      <th>Type*</th>
                      <th>Name*</th>
                      <th>Owner</th>
                      <th>%</th>
                      <th>% of TCV*</th>
                      <th>Value*</th>
                      <th>Solution BDM</th>
                      <th>Influence type</th>
                      <th>Service type</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of newAgeBusinessPartner; let elementIndex= index">
                      <!-- <td class="customized-checkbox">
                        <mat-checkbox aria-label="select" (change)="checkIfAllSelected(data)"
                          [(ngModel)]="data.isCheccked"></mat-checkbox>
                      </td> -->
                      <td title = "New age business partner">
                        <!-- Select DROPDOWN STARTS -->
                        <div class="customized-select">
                          <span class="caret color-azure"></span>
                          <select id="select1" role="listbox" class="w100" [(ngModel)]="data.WiproTypeName"  disabled >
                            <option [value]= "item.Name" selected  *ngFor="let item of wiproType" >{{item.Name}}</option>
                            <!-- <option value="Type1">Type 1</option>
                            <option value="Type2">Type 2</option>
                            <option value="Type3">Type 3</option> -->
                          </select>
                        </div>
                        <!-- Select DROPDOWN STARTS -->
                      </td>
                      <td class="" title = "{{ data.WiproAccountname }}">
                        <!-- name autocomplete starts here-->
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left cust_autoComplete pos-rel no_pad"  (clickOutside)="nameNameclose(data)">
                          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                            <!-- <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="ContractingName"
                class="label-form">Contracting country*</label>  -->

                            <input  appKeyListControl #newAgeBusinessPartner
                            (arrowDown)="arrowkeyLocation=$event"
                            (keyup.enter)="appendname(wiproname[arrowkeyLocation], data);data.nameNameSwitch=false;"
                            [attr.data-arrayMaxLength]="wiproname?.length"  [attr.data-isDownBtn]=true
                             role="combobox" aria-autocomplete="list"
                             [attr.aria-expanded]="data.nameNameSwitch?true:false" aria-owns="read"
                            [attr.aria-activedescendant]="arrowkeyLocation" id="nameSearch{{elementIndex}}"

                            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                              name="nameName" autocomplete="off" type="text" [(ngModel)]="data.WiproAccountname"
                              placeholder="Search name" (click)="data.nameNameSwitch = true; getName(data)"
                               (input)= "data.nameNameSwitch = true; getName(data)"  [ngClass] ="data.isMandatoryName?'orangeborder':''">
                               <!-- (keypress)= "data.nameNameSwitch = true; getName(data.WiproName)"  -->
                            <span class="mdi mdi-magnify"></span>
                            <!-- *ngIf="data.WiproName && data.nameNameSwitch" -->
                            <div
                              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                              *ngIf="data.nameNameSwitch">
                              <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                                <ul *ngIf="isSearchLoaderForOrder" class=" list-group color-azure  sort-dropdown mr2">
                                  <li  class="liststyle_none loader-search"></li>
                               </ul>
                                <ul  *ngIf="!isSearchLoaderForOrder"  class=" list-group new-change-list sort-dropdown" role="listbox">

                                    <!-- id="{{i}}" tabindex="0" role="option" [class.active]="i==arrowkeyLocation"    -->
                                  <li id="{{i}}" tabindex="0" role="option"
                                  [class.active]="i==arrowkeyLocation" aria-disabled="false"     class="list-group-item  no_pad cp"
                                    (click)="appendname(item,data)"
                                    *ngFor="let item of wiproname |filter:data.WiproAccountname; let i=index">
                                    <label for="inti_name" class="float-left name">
                                      <span class="d-block list-name">{{item.Name}}</span>
                                      <!-- <span class="d-block sub-list">{{item.ownerName}}</span> -->
                                    </label>
                                  </li>
                                  <li class="d-block list-name no_pad"
                                    *ngIf="(wiproname |filter:data.WiproAccountname ).length == 0">
                                    No record found </li>
                                </ul>
                              </perfect-scrollbar>
                              <span class="db-search"  (click)="openadvancetabs('New age business partner',wiproname, data.WiproAccountname, data )">
                                <button id="{{wiproname?.length+1}}" role="option" tabindex="0"
                                aria-disabled="false" type="button" class="button-search" [class.active]="wiproname?.length+1 == arrowkeyLocation" >
                                  <span class="mdi mdi-file-outline"></span> Advance look up
                                </button>
                              </span>
                            </div>
                            <p *ngIf= "data.isMandatoryName== true " class="col-12 no_pad validation-text top-100">Select Name</p>
                          </form>

                        </div>
                        <!-- <p *ngIf= "data.isMandatoryName== true " class="col-12 no_pad float-left validation-text manditary-cls">Select Name</p> -->
                        <!--name autocomplete ends here-->
                      </td>

                      <td class="" title= "{{data.OwnerIdValueName}}">
                        <!-- owner autocomplete starts here-->
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left cust_autoComplete pos-rel no_pad">
                          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                            <!-- <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="ContractingName"
                      class="label-form">Contracting country*</label>  -->
                            <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                              name="ownerName" autocomplete="off" type="text" [(ngModel)]="data.OwnerIdValueName" [ngClass] ="data.isMandatoryOwner?'orangeborder':''"
                              placeholder="Search owner" (click)="data.ownerNameSwitch = true;getOwner(data)"
                              (clickOutside)="ownerNameclose(data)"  [disabled]="!data.WiproAccountname || isSingleOwner " >
                            <span class="mdi mdi-magnify" ></span>
                           <p class="error-message top-40" title="Owner is required" *ngIf="data.isMandatoryOwner">Owner is required</p>
                          </form>
                           <div
                            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                            *ngIf="data.ownerNameSwitch">
                            <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                               <ul *ngIf="isSearchLoaderForOwner" class=" list-group color-azure  sort-dropdown mr2">
                                  <li  class="liststyle_none loader-search"></li>
                               </ul>
                              <ul *ngIf="!isSearchLoaderForOwner" tabindex="0" class=" list-group new-change-list sort-dropdown">
                                <li class="list-group-item no_pad cp"
                                  (keypress)="appendowner(item,data)"
                                  (click)="appendowner(item,data)"
                                  *ngFor="let item of wiproOwner">
                                  <label for="inti_name" class="float-left name cp">
                                <span class="d-block list-name">{{item.Name}}</span>
                                    <!-- <span class="d-block sub-list">{{item.Name}}</span> -->
                                      </label>
                                </li>
                                <li class="d-block list-name no_pad"
                                  *ngIf="(wiproOwner).length == 0">
                                  No record found </li>
                              </ul>
                            </perfect-scrollbar>
                           <span class="db-search" (click)="openadvancetabs('New age business partner owner',wiproOwner, data.OwnerIdValueName, data)">
                              <button id="{{wiproOwner?.length+1}}" role="option" tabindex="0"
                              aria-disabled="false" type="button" class="button-search" >
                                <span class="mdi mdi-file-outline"></span> Advance look up
                              </button>
                            </span>
                        </div>
                        </div>
                        <!--owner autocomplete ends here-->

                      </td>
                      <td class="customized-checkbox" >
                        <mat-checkbox aria-label="select"  [(ngModel)]= "data.WiproPercentage" (change)= "checkboxClicked($event, index, data)"></mat-checkbox>
                      </td>


                      <td title= " {{ data.WiproPercentageOfTCV }} ">
                        <div class="customized-input">
                          <label for="tcv" class=""> </label>
                          <input  id="tcv" min=0 type="number" class="border-gray w-100" value="00.00" onkeypress="return event.charCode >= 46
                          && event.charCode <= 57"
                          placeholder="00.00" [(ngModel)]="data.WiproPercentageOfTCV" [disabled]= "data.disableTcv" (keyup)= "tcvInputChanged(data)" [ngClass] ="data.isMandatoryTCV?'orangeborder':''" (change)="tcvChange(data)">
                        </div>
                        <p *ngIf= "data.isMandatoryTCV== true " class="col-12 no_pad validation-text">Enter Tcv</p>

                      </td>

                      <td title=  " {{ data.WiproValue }} ">
                        <div class="customized-input">
                          <label for="val" class=""> </label>
                          <input id="val" type="number" class="border-gray w-100" value="00.00"
                          placeholder="00.00" [(ngModel)]="data.WiproValue" [disabled]= "!data.disableTcv" (keyup)= "valueChanged(data)"  maxlength="20" onkeypress="return event.charCode >= 46
                          && event.charCode <= 57" oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); } else { let values = this.value.split('.');
                          if(values[1])  this.value = values[0] + '.' + values[1]}"  [ngClass] ="data.isMandatoryValue?'orangeborder':''" (change)= "valueChange(data)" >
                            <!-- oninput="javascript: if (data.WiproValue.length > this.maxLength) { data.WiproValue = data.WiproValue.slice(0, this.maxLength); } else { let values = data.WiproValue.split('.');
                            if(values[1] && values[1].length > 2)  data.WiproValue = values[0] + '.' + values[1].slice(0,2)}"-->
                        </div>
                        <p *ngIf= "data.isMandatoryValue== true " class="col-12 no_pad validation-text">Enter value</p>

                      </td>

                      <td class="" title=  " {{ data.WiproSolutionBDMName }} ">
                        <!-- solbdm autocomplete starts here-->
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left cust_autoComplete pos-rel no_pad">
                          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                            <!-- <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="ContractingName"
                        class="label-form">Contracting country*</label>  -->
                            <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                              name="solbdmName" autocomplete="off" type="text" [(ngModel)]="data.WiproSolutionBDMName"
                              placeholder="Select" (click)="data.solbdmNameSwitch = true"
                              (clickOutside)="solbdmNameclose(data)" (keypress)="data.solbdmNameSwitch = true;  getSoultionBDM(data.WiproSolutionBDMName)" disabled>
                            <span class="mdi mdi-magnify"></span>
                            <div
                              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                              *ngIf="data.WiproSolutionBDMName && data.solbdmNameSwitch">
                              <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                                <ul class=" list-group sort-dropdown">
                                  <li class="list-group-item no_pad "
                                    (keypress)="appendsolbdm(item.fullName,item.index,data)"
                                    (click)="appendsolbdm(item.fullName,item.index,data)"
                                    *ngFor="let item of wiprosolbdm |filter:data.WiproSolutionBDMName">
                                    <label for="inti_name" class="float-left name">
                                      <span class="d-block list-name">{{item.fullName}}</span>
                                      <!-- <span class="d-block sub-list">{{item.subtitle}}</span> -->
                                    </label>
                                  </li>
                                  <li class="d-block list-name no_pad"
                                    *ngIf="(wiprosolbdm |filter:data.WiproSolutionBDMName).length == 0">
                                    No record found </li>
                                </ul>
                              </perfect-scrollbar>
                            </div>
                          </form>
                        </div>
                        <!--solbdm autocomplete ends here-->
                      </td>
                      <td title=" {{ data.influencingTypeId }}  ">
                          <!-- Select DROPDOWN STARTS -->
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob  newOpp-uniformPlaceholder web-select-box h100">
                              <mat-form-field class="col-12 no_pad float-left">
                                  <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus mat-select {{service.getSelectedClass(data.influencingTypeId)}}" id="select1" role="listbox" [(ngModel)]= "data.influencingTypeId" (selectionChange)= "influencingTypeChange(data)"  [ngClass] ="data.isMandatoryInfluenceType?'orangeborder':''">
                                  <mat-option value="" selected hidden disabled>Select influence type</mat-option>
                                  <!-- <mat-option value="empty" ></mat-option> -->
                                  <mat-option [value]="unit.Name" [hidden]="!unit.IsVisible" *ngFor= " let unit of influencingType">{{ unit.Name }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <p *ngIf= "data.isMandatoryInfluenceType== true " class="col-12 no_pad error-message top-40 validation-text">Select influence type </p>
                          </div>
                          <!-- Select DROPDOWN STARTS -->
                        </td>
                        <td title= " {{ data.WiproServiceType }} ">

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob  newOpp-uniformPlaceholder web-select-box h100">
                              <mat-form-field class="col-12 no_pad float-left">
                                <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus mat-select {{service.getSelectedClass(data.WiproServiceType)}}" id="select1" role="listbox" [(ngModel)]= "data.WiproServiceType" (selectionChange)= "serviceTypeChange(data)"   [ngClass]= " data.disableServiceType?'disableServiceDropDown': data.isMandatoryServiceType? 'orangeborder':'' " [disabled]="data.disableServiceType">
                                  <mat-option value="" selected hidden disabled>Select service type</mat-option>
                                  <!-- <mat-option value="empty" ></mat-option> -->
                                  <mat-option [value]="unit.Id" *ngFor= " let unit of serviceType">{{ unit.Name }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <p *ngIf= "data.isMandatoryServiceType== true " class="col-12 no_pad error-message top-40 validation-text">Select influence type </p>
                            </div>
                            <!-- Select DROPDOWN STARTS -->
                          </td>
                      <td class="no_pad display_flex">
                          <!-- <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="view"
                          matTooltip="view">
                          <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-eye"></span>
                        </button> -->
                        <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="Delete"
                          matTooltip="Delete" (click)="deletecompetitor(elementIndex)">
                          <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-delete"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Table ends here -->
            </div>
          </mat-expansion-panel>

        </div>
        </div>
      </div>
    </div>
  </div>
