$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #0e3570;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
.deal-criteria-container {
  margin-top: 30px;
  .deal-head-txt {
    padding: 0 25px;
    margin-bottom: 79px;
    margin-top: 10px;
  }
  .saveUp-btn
  {
    margin-right: 37px;
  }
  .card-content
  {
    padding-top: 20px;
  }
  .w-95 {
    min-width: 95px;
  }
  .fields-container {
    padding: 20px 20px;
  }
  .pr17 {
    padding: 0 17px;
  }
  .mar-botm22 {
    margin-bottom: 22px;
  }
  .customized-input .border-gray {
    color: #868282;
  }
  //     .rate-table
  //     {
  //         thead
  //         {
  //             background: #d9e9ff;
  //             float: left;
  //             width: 100%;
  //             th
  //             {

  //                 font-size: 12px;
  //             }

  //         }
  //         tbody
  //         {
  //             float: left;
  //             width: 100%;

  //         }

  //         th, td
  //         {
  // width: 266px;
  // padding: 15px 0px 15px 36px;
  //         }

  //     }
  //     .parameter-table
  //     {
  //         thead
  //         {
  //             background: #d9e9ff;
  //             th
  //             {
  //                 font-size: 12px;
  //             }

  //         }

  //         th, td
  //         {

  // padding: 15px 10px 15px 36px;
  //         }
  //     }
  .parameter-table {
    th,
    td {
      width: 12.5%;
      padding: 15px 10px 15px 36px;
    }
  }

  ::ng-deep {
    .mat-expansion-panel-header {
      padding: 0 7px;
      height: 50px !important;
    }
    .mat-expansion-panel-body {
      padding: 0;
      margin-bottom: 20px;
    }
    .mat-expansion-panel-spacing {
      margin-top: 0;
    }
    .mat-expansion-panel {
      margin-bottom: 0px;
    }
    .mat-content {
      border-bottom: solid 1px #d7d7d7;
      margin-bottom: 20px;
    }
    .mat-expansion-panel-content {
      font-family: "WiproAkkuratTT-Regular";
    }
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
      background: transparent !important;
    }
  }
}

.recalc-btn {
  margin-top: 29px;
  min-width: 158px;
}
/************************************************/
.deal-criteria2-container {
  margin-top: 20px;
  .w-121
  {
    min-width: 158px;
    width: 158px;
  }
  .upload-input
  {
    position: absolute;
    padding: 6px 0;
    right: 11px;
    top: 0px;
    z-index: 9;
    opacity: 0;
  }
  .icon-top
  {
    top: 2px;
    position: relative;
  }
  .title-inner {
    @extend .ellipses;
    margin-right: 50px;
    font-family: "WiproAkkuratTT-Regular";
    font-size: 15px;
    color: #000000;
    float: left;
    max-width: 200px !important;
    
  }
  .acc-btn {
    height: 40px;
    padding: 8px 10px;
    min-width: 110px;
  }
  .icon-lynHgt {
    line-height: 1;
  }
  ::ng-deep {
    .mat-expansion-panel-header {
      padding: 0 7px;
      border-bottom: solid 1px #d7d7d7;
      height: 50px !important;
    }
    .mat-expansion-panel-body {
      padding: 0;
      margin-bottom: 20px;
    }
    .mat-expansion-panel-spacing {
      margin-top: 0;
    }
    .mat-expansion-panel {
      margin-bottom: 0px;
    }
    // .mat-content {
    //   //margin-bottom: 20px;
    // }
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
      background: transparent !important;
    }
  }
  .comn-fld {
    margin-top: 20px;
    border-top: solid 1px #d7d7d7;
    padding-top: 15px;
  }
  .mb40 {
    margin-top: 40px;
  }
  .parameter-table {
    th,
    td {
      width: 12.5%;
      padding: 15px 10px 15px 36px;
    }
  }
  .acc-input {
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
 

  .factor-table {
    margin-top: 22px;
    thead {
      background: #d9e9ff;
      //   float: left;
      //   width: 100%;
      th {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    // tbody, tr {
    //   float: left;
    //   width: 100%;
    // }

    th,
    td {
      //width: 266px;
      padding: 15px 0px 15px 36px;
    }
    tr:nth-of-type(even) {
      background: #cccccc21;
    }
    .blue_circle_replay {
      float: right;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #d9e9ff;
      position: relative;
      text-align: center;
    }
    .commonActionBtn {
      margin: 0 3px;
      left: 0px;
      float: left;
    }
    .commonActionBlock {
      padding: 0 5px;
      width: 100%;
    }
    .blue_circle_replay_img {
      color: #2f81ff;
      font-weight: normal;
      font-size: 17px;
      position: relative;
      top: 5px;
      visibility: visible;
      left: 0px;
    }
    .cp {
      cursor: pointer;
    }
    .arrow-div {
      min-width: 100px;
      span {
        margin-top: 6px;
        padding: 0px 5px;
      }
    }
    .top0 {
      top: 1px;
    }
  }
  .edit-btn
  {
    z-index: 1;
    min-width: 92px;
  }
}

label, input {
  font-family: "WiproAkkuratTT-Regular";
}

.hidden{
  display: none;
}
.disable-button-control {
  color: #f9f9f9 !important;
  background-color: #9B9B9B !important;
  pointer-events: none !important;
  border: 2.5px solid #9B9B9B !important;
}
.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}
.loaderContainer {
width: 100%;
top:0em;
position: absolute;
height: 100%;
z-index: 9999;
background: white;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mdi-pencil, .mdi-content-save, .mdi-close {
  background: $River;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  margin-left: 5px;
}
.mdi-pencil:before, .mdi-content-save:before, .mdi-close:before {
  color: $Azure;
}

.steady-container {
  .sub-tabs {
    button {
      min-width: 150px;
    }
  }
  .commonActionBtn {
    margin: 0 3px;
    left: 0px !important;
    float: right !important;
  }
  .blue_circle_replay {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d9e9ff;
    position: relative;
    text-align: center;
    .blue_circle_replay_img {
      color: #2f81ff;
      font-weight: normal;
      font-size: 17px;
      position: relative;
      top: 2px;
      visibility: visible;
      left: 0px;
    }
    &:hover {
      background-color: #2f81ff;
      .blue_circle_replay_img {
        color: #ffffff;
      }
    }
  }
  .cp {
    cursor: pointer;
  }

  .commonActionBlock {
    margin: 15px 0;
    padding-right: 12px;
    padding-left: 15px;
  }
.pass-btn-tab
{
  z-index: 8;
}
  .passthrough-tabs {
    button {
      background: transparent;
      border-radius: 24px;
      height: 33px;
      position: relative;
      display: inline-block;
      border: none;
      padding-left: 20px;
      padding-right: 20px;
      color: #2f81ff;
      font-family: "WiproAkkuratTT-Bold";
      font-size: 14px;
      width: auto;
      margin-right: 10px;
    }
    .inneractive {
      background: #2f81ff;
      color: #ffffff;
    }
  }
}
// som more
.more-options {
  list-style: none;
  width: 160px;
  right: 15px;
  border-radius: 4px;
  z-index: 9;
  padding: 0;
  border: 1px solid #2f88f1;
  background: white;
  top: 20px;

  button{
      width: 100%;
      background: white;
      padding: 8px 10px;
      border: none;
      text-align: left;
      outline: initial !important
  }
  button:hover, button:focus{
      background: $River;
      font-family: "WiproAkkuratTT-Bold";
      color: #000;
      outline: initial !important
  }
  li:first-child{
      padding: 6px 8px 0;
      font-family: "WiproAkkuratTT-Bold";
  }
  .mdi-close:before {
      position: absolute;
      right: 7px;
      top: 6px;
  }
}
// popup css
.popup-hd-txt{
  margin: 0;
}
.top64{
  top: 65px;
}
.z-ind-99{
  z-index: 99;
}
.search-icon{
  position: absolute;
  right: 5px;
  top: 32px;
  font-size: 20px;
  color: $Azure;
}
.cancel-btn{
  margin-top: 15px;
}
.popup-container-deals
{
  .mr15
  {
    margin-top: 15px;
  }
  .search-icon1{
    position: absolute;
    right: 5px;
    top: 79px;
    font-size: 20px;
    color: $Azure;
  }
}
.add-pass-btn
{
  button
  {
    margin-top: 14px;
    position: absolute;
    right: 16px;
  }
}
.search_Button {
  padding-left: 0;
  padding-top: 10px;
}
.ellipses{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card {
  margin-bottom: 0px !important;
}