$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$LabelGrey: #4a4a4a;
$Pink_dark: #ef3341;

/***** my clor **/

$DarkBlack: #2e2e2e;
.new-container {
  .input-border-left {
    border-left: none;
  }
  .border-btm {
    border-bottom: 2px solid;
  }
  .border-right {
    border-right: 2px solid $Azure !important;
  }
  .mt-8 {
    margin-top: 8px;
  }
  .top64 {
    top: 64px;
  }
  .z-ind-99 {
    z-index: 99;
  }
  .border-leftdrop {
    border-left: 2px solid #2f81ff !important;
  }
  .p-4-10 {
    padding: 4px 10px 4px 10px;
  }
  .sort-dropdown {
    background: white;
  }
  .custom-label {
    top: 64px;
    right: 0px;
    width: 100%;
  }
  .pad-30 {
    padding: 30px;
  }
  .mr10 {
    margin-right: 10px;
  }
  .h-40 {
    min-height: 40px;
  }
  .heading-level-one-cust {
    font-family: WiproAkkuratTT-Bold;
    font-size: 24px;
    color: $White;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    min-width: 70px;
    small {
      font-family: "WiproAkkuratTT-Regular";
      font-size: 14px;
      padding: 0 30px;
    }
  }
  .primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
  }
  .borderless {
    border: none !important;
  }
  .h-260 {
    height: 260px;
  }
  .pad-30 {
    padding: 30px;
  }
  .card {
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: $White;
  }
  .heading-level-two {
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px;
    color: $DarkBlack;
  }
  .heading-level-three {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: $Black;
  }
  .mt20 {
    margin-top: 14px;
    padding-left: 32px;
    padding-right: 28px;
    padding-top: 8px;
  }
  .label-form {
    font-family: WiproAkkuratTT-Bold;
    font-size: 12px;
    line-height: 1.83;
    color: $Metal;
    margin-bottom: 4px;
  }
  .CompanyName {
    .mdi-magnify:before {
      color: $Azure;
      font-size: 20px;
      right: 10px;
      position: absolute;
      bottom: 5px;
    }
  }
  .h-40 {
    height: 40px;
  }
  .label-input {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    // color: $MetalLight;
    color: $Black;
    padding-right: 33px;
    &:focus {
      border: 1.5px solid $Azure;
      outline: none;
    }
  }
  .customized-input {
    input {
      &:focus {
        border: 1.5px solid $Azure;
        outline: none;
      }
    }
  }
  .list-group-item {
    cursor: pointer;
    font-size: 12px;
    color: $Azure;
    border: none;
    padding-bottom:10px; //Rudra 28 jan
  }
  .top70 {
    top: 70px;
  }
  .list-group-item:hover {
    background-color: $River;
  }
  .customized-select {
    position: relative;
    select {
      width: 100%;
      min-height: 40px;
      border-radius: 5px;
      // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
      border: 1.5px solid rgba(0, 0, 0, 0.1);
      padding: 2px 5px;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: none;
      &:focus {
        outline: none;
        border-color: $Azure;
      }
    }
    select::-ms-expand {
      // for IE
      display: none !important;
    }
  }
}

.pad-create-lead {
  padding: 0 30px 15px 30px;
}

.pad-create-lead5 {
  padding: 0 30px 25px 30px;
}

.pad-create-lead1 {
  padding: 10px 30px 10px 20px;
}

.pad-create-lead-second {
  padding: 0 30px 0px 30px;
}

.pad-top1-8 {
  padding-top: 8px;
}

.pad-top-8 {
  padding-top: 0px;
  margin-left: 15px;
}

.pad-top2-8 {
  padding-top: 20px;
  margin-left: 15px;
}

.input-text {
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1.5px solid #d8d8d8;
}

select option {
  line-height: 20px;
}

.new-container {
  .cust_autoComplete {
    input {
      border: 1.5px solid #d8d8d8;
      position: relative;
      border-radius: 4px;
      padding-right: 35px;
      left: -2px;
      color: #000;
    }
  }
}

.mobile-buttons {
  display: none;
}

.mobile-blue {
  color: white;
  font-size: 22px;
  height: 30px;
}

.center {
  justify-content: center;
}

.round-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  // background-color: rgb(136, 159, 195);
  background-color: #0e3570; //Rudra as per Nov 26th VD
  border-radius: 50%;
  color: #ffffff; //Rudra as per Nov 26th VD
  cursor: pointer;
  outline: none;
  border: 2px solid #ffffff; //Rudra as per Nov 26th VD
  z-index: 99;
  padding: 0px !important;
}

.active {
  //Rudra as per Nov 26th VD
  // background-color: white !important;
  background-color: #2f81ff !important;
  // border: 2px solid #ffffff;
  color: #ffffff;
}

.horizontal-bar-one {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 15px;
  left: 30px;
}

.horizontal-bar-two {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 21px;
  left: 30px;
}

.disable-input {
  background-color: #f3f3f3 !important;
}

.active-text {
  color: white !important;
  position: relative;
  width: 85px;
  top: 15px;
  right: 35px;
}

.text-step {
  position: relative;
  width: 83px;
  top: 15px;
  right: 32px;
  // color: rgba(255, 255, 255, 0.5);
  color: #ffffff; //Rudra as per Nov 26th VD
}

.span-text {
  // margin-top: 5px;
  // margin-top: 3px; //Rudra as per Nov 26th VD
  // margin-left: 3px; //Rudra as per Nov 26th VD
  width: 100%;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: center;
  padding: 0px !important;
}

/*************************sumeet***********************/

/*************************Pradeep CSS***********************/

.input-text {
  border-radius: 4px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) !important;
  background-color: #ffffff;
  border: 1.5px solid #d8d8d8;
  padding: 10px; //chethana april 29th
}

.text-height-70 {
  height: 70px !important;
}

.min-text-height-70 {
  min-height: 70px !important;
}

.mb20 {
  margin-bottom: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt70 {
  margin-top: 70px;
}

.border-bottm {
  border: 1px solid #d8d8d8;
  height: 2px;
  margin: 5px 25px 0 25px;
}

.dropdown-bg {
  background: #f3f3f3;
}

.input-text:focus {
  border-color: $Azure;
}

.mt30 {
  margin-top: 34px;
}

.mdi-chevron-down {
  position: absolute;
  right: 12px;
  font-size: 20px;
  top: 5px;
}

.mat-slide-toggle {
  max-width: 30% !important;
}

.customized-slider {
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $Azure !important;
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $Azure !important;
  }
}

.customized-input1 {
  .label-input {
    border: 1.5px solid #f58323 !important;
    &:focus {
      border: 1.5px solid #2f81ff !important;

      outline: none;
    }
    &:active {
      // border: 1.5px solid #f58323 !important;
      border: 1.5px solid $Azure;
      outline: none;
    }
  }
  .error-message {
    background: #f58323 !important;
    padding: 6px 6px !important;
    color: #ffffff !important;
    border-radius: 0 0 4px 4px;
    position: absolute;
    // top: 65px;
    top: 38px;
    right: 2px;
    height: 28px;
    width: 100%;
    z-index: 1;
  }
  .error-messagevalid {
    background: transparent;
    padding: 3px 6px;
    color: $RubyRed;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 40px;
    right: 2px;
    height: 28px;
    width: 100%;
    z-index: 1;
  }

  .border-gray {
    border-color: $MidGrey;
  }
}
.CompanyName {
  .label-input {
    &:active {
      border: 1.5px solid $Azure;
      outline: none;
    }
  }
  input {
    &:focus {
      border: 1.5px solid $Azure;
      outline: none;
    }
  }
}
.customized-input2 {
  .label-input {
    border: 1.5px solid #6dc24b !important;
    &:focus {
      border: 1.5px solid #2f81ff !important;
      outline: none;
    }
    &:active {
      // border: 1.5px solid #6dc24b !important;
      border: 1.5px solid $Azure;
      outline: none;
    }
  }
  .error-message {
    background: #6dc24b !important;
    padding: 6px !important;
    color: #ffffff !important;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 39px;
    right: 2px;
    height: 28px;
    width: 100%;
    z-index: 1;
  }

  .border-gray {
    border-color: $MidGrey;
  }
  .error-messagevalid {
    background: transparent;
    padding: 3px 6px;
    color: $RubyRed;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 40px;
    right: 7px;
    height: 28px;
    width: 100%;
    z-index: 1;
  }
}

.slidetoggle {
  padding: 48px;
  padding-left: 35px;
  font-size: 12px;
  padding-top: 30px;
}

.slidetoggle1 {
  padding: 25px;
  padding-left: 35px;
  font-size: 12px;
}

.pad-left10 {
  padding-left: 10px !important;
}

.info-icon {
  font-size: 20px;
  color: #2f81ff;
  position: relative;
  top: 3px;
}

.mdi-information-outline:before {
  padding-left: 5px;
  position: relative;
}

.asteriq {
  color: #4a4a4a;
  font-weight: bold;
}

.pos-rel {
  position: relative;
}

.disable-tab {
  cursor: not-allowed;
}

.border-pink {
  border-color: $RubyRed !important;
}

.border-pink:focus {
  border-color: $RubyRed !important;
}

.error-message {
  background: $RubyRed;
  padding: 1px 0px 0px 10px;
  // text-align: center;
  color: #ffffff;
  border-radius: 0 0 4px 4px;
  position: absolute;
  width: 100%;
  z-index: 1;
  font-size: 13px;
  top: 40px;
  right: 0px;
  height: 22px;
}

.error-message.custom-msg {
  top: 73px;
  left: 30px;
  width: 86%;
}

.error-message-text-area {
  background: transparent;
  padding: 1px 0px 0px 10px;
  color: #ef3341;
  border-radius: 0 0 4px 4px;
  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 13px;
  right: 9px;
  height: 22px;
}

.error-message.custom-msgaccount {
  //chethana june 20th
  top: 64px;
  right: 2px;
  width: 100%;
}

.error-message.custom-msg1 {
  top: 71px;
  right: 28px;
  width: 86%;
}

.error-message.custom-msg.custom-txtarea {
  top: 103px;
  right: 28px;
}

.error-message.right2 {
  right: 2px;
  width: 100%;
}

/*chethana heander css starts*/

.padd-top-130 {
  padding-top: 100px !important;
}

.h-335 {
  height: 312px;
}
.h-110 {
  height: 110px;
}
.padd-top-65 {
  padding-top: 45px;
}

/*chethana heander css ends*/
.mt20_20 {
  margin-top: 20px;
}
.top65 {
  top: 65px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari only override samee sep 26th*/
  ::i-block-chrome,
  .horizontal-bar-one {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    position: relative !important;
    bottom: 60px !important;
    left: 30px !important;
  }
  ::i-block-chrome,
  .span-text {
    margin-top: 3px !important;
    margin-left: 5px !important;
  }
}
::i-block-chrome,
.horizontal-bar-one {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  position: relative !important;
  bottom: 60px !important;
  left: 30px !important;
}
::i-block-chrome,
.span-text {
  margin-top: 3px !important;
  margin-left: 5px !important;
}
//media query only for safari browser samee start
@media not all and (min-resolution: 0.001dpcm) {
  /* your code for Safari Desktop & Mobile */

  // .horizontal-bar-one,
  // .horizontal-bar-two {
  //   width: 100%;
  //   border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  //   position: relative;
  //   bottom: 60px;
  //   left: 25px;
  // }
  // .span-text {
  //   margin-top: 3px;
  //   margin-left: 5px;
  //   font-size: 14px;
  // }
  /* end */
}
//media query only for safari browser samee end
.ownerPos {
  top: 72px !important;
  left: 72px !important;
}

.ownership-error {
  top: 74px !important;
  left: 31px !important;
}
.toolTipDiv {
  //rudra
  display: none;
}
// #keyconGov:hover .toolTipDiv{ //rudra
//     display: block;
//     background: #00000080;
//     color: white;
//     padding: 5px;
//     border-radius: 6px;
//     font-size: 10px;
//     position:absolute;
//     z-index:1;
// }

#keyconGov {
  .info-icon:hover + .toolTipDiv {
    display: block;
    background: rgba( 0 , 0 , 0 , 0.502 );
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-size: 10px;
    position: absolute;
    z-index: 1;
  }
}

.blockcolor {
  color: #aaa !important;
}
.p-4-10owner {
  padding: 6px 10px 6px 10px;
}

span.mdi.mdi-close.auto-close {
  position: absolute;
  right: 29px;
  top: 35px;
  cursor: pointer;
}
span.mdi.mdi-close.auto-close-alt {
  position: absolute;
  right: 29px;
  top: 8px;
  cursor: pointer;
}
textarea {
  resize: none !important;
}

.completedFirstStep {
  //Rudra as per Nov 26th VD
  background: #fff !important;
  color: #0e3570 !important;
}

.top-94 {
  top: 94px !important;
}
.p-28-32 {
  padding-left: 28px;
  padding-right: 32px;
}

.ptop-6{
    padding-top: 6px !important;
}

.t-8{
  top:8px !important
}

.error-messagevalid {
  background: transparent;
  padding: 3px 6px;
  color: $RubyRed;
  border-radius: 0 0 4px 4px;
  position: absolute;
  top: 40px;
  right: 2px;
  height: 28px;
  width: 100%;
  z-index: 1;
}
.top-40{
  top:40px;
}

.mb-100{
  margin-bottom:100px;
}
.list-name-sbu {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #000000;
  width: 100%;
}
@media screen and (min-width:320px) and (max-width:410px){
  .top-115{
    top:115px !important;
  }
}@media screen and (min-width:320px) and (max-width:410px){
  .top-115{
    top:115px !important;
  }
}
.border-grey{
  border: 1.5px solid #d8d8d8 !important;
}
.alt-owner{
  right: 2px;
  border: 2px solid #2f81ff;
  top: -2px;
}

.r2{
  right: 2px;
}