.upload_container-opportunity
{
  .hero{
    background: transparent;
    }
      
    
    .upload-box{
        width: 100%;
      height: auto;
      //display: inline-block;
     // background: #2C3139;
    }
     
    
      .upload-box-header{
        width: 100%;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #3A414A;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .control-circles{
    padding-left: 15px;
          height: 14px;
        }
          
    
          .circle{
            display: inline-block;
            margin: 0 4px;
            width: 14px;
            height: 14px;
            border-radius: 50%;  
          }
           
    
            .circle .is-green{
    background: #6CEFBD;
            }
              
    
            .circle .is-yellow{
    background: #FFE28B;
            }
              
    
            .circle .is-red{
    background: #FF7080;
            }
              
    
        
    
         .header-title h2 +unselectable{
     font-size: 18px;
            font-weight: 400;
            color: #8793A2;
         }
            
           
    
        .gh-icon{
    padding-right: 15px;
        }
          
    
          .gh-icon i{
    font-size: 24px;
            color: #8793A2;
            margin-right: 5px;
            margin-left: 36px;
            cursor: pointer;
          }
            
    
      
    
        .upload-item, .drop-container{
    width: 100%;
          height: auto;
          //box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
          background: #ffffff;
          float: left;
        }
          
    
        .drop-container{
   // display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
         background:  #eeeeee;
        }
          
    
          p{
            font-size: 16px;
            font-weight: 400;
            color: #8793A2;
    }
    .drag_txt
    {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: #2f81ff;
     font-family: WiproAkkuratTT-Regular;
     text-align: center;
     margin-bottom: 30px;
    }
          .upload-button{
            display: inline-block;
            border: none;
            outline: none;
            cursor: pointer;
            font-family: WiproAkkuratTT-Bold;
            font-weight: bold;
    }
            input{
              display: none;
    }
        .upload-item{
          display: flex;
          align-items: center;
          //padding: 0 30px;
          margin-bottom: 10px;
         
    }
    .upload-item:first-child
    {
      margin-top: 12px;
    }
    .upload-item:last-child
    {
      margin-bottom: 30px;
    }
          .upload-item-content{
           // width: 100%;
    }
            .filename{
              display: flex;
              align-items: center;
            
    }
              .filename i{
                color: #8793A2;
                opacity: .8;
                font-size: 24px;
                margin-right: 5px;
    }
    //           .filename span{
    // color: #8793A2;
    //             font-size: 14px;
    //             font-weight: 400;
    //           }
                
    
            .progress-content{
              display: flex;
              align-items: center;
              margin: 3px 30px 0px 7px;
    }
              .progress{
    display: block;
                position: relative;
                width: 100%;
                height: 8px;
                border-radius: 28px;
                background: #d7d7d7;
                margin-bottom: 0;
              }
                
    
                .bar{
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 12px;
                 // background: linear-gradient(90deg, rgba(19,235,255,1) 0%, rgba(108,239,189,1) 100%);
                 background: #417505;
                 
                 
    }
                  .bar .is-done{
                      background: #6CEFBD;
                  }
                    
    
            .progress-text-content{
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 4px 7px 0;
    }
              .progress-text{
                font-size: 11px;
                //font-weight: 600;
                color: #9b9b9b;
                transition: color 200ms ease-out;
                font-family: WiproAkkuratTT-Regular;
    }
                .progress-text .is-done{
                color: #7ed321;
                }
                .grn_clr
                {
                  color: #7ed321;
                }
                  
    
              .speed-and-eta-text{
    font-size: 13px;
                font-weight: 600;
                color: #8793A2;
              }
              .upload_card
              {
                border-radius: 5px;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
                background-color: #ffffff;
              }
                .extension
                {
                  padding: 23px 10px;
                  background-color: #417505;
                  border-radius: 5px 0px 0px 5px;
                  font-family: WiproAkkuratTT-Bold;
                  font-size: 14px;
                  font-weight: bold;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  text-align: center;
                  color: #ffffff;
                  text-transform: uppercase;
                  width: 60px;
                }
                .cntnt_name
                {
                  letter-spacing: 0.4px;
                  color: #000000;
                  font-size: 12px;
                  font-family: WiproAkkuratTT-Regular;
                  padding-top: 10px;
                }
                .file_img
                {
                  text-align: center;
                  margin-top: 30px;
                  margin-bottom: 20px;
                }
                // .uploding_div
                // {
                //   padding: 12px 25px 30px 25px;
                // }
    
}
   
       .loader {
 margin: 200px auto;
 border: 6px solid #f3f3f3;
 border-radius: 50%;
 border-top: 6px solid #3498db;
 width: 64px;
 height: 64px;
 -webkit-animation: spin 2s linear infinite; /* Safari */
 animation: spin 2s linear infinite;
 
}
.loaderContainer {
 width: 100%;
 top:0em;
 position: absolute;
 height: 100%;
 z-index: 9999;
 background: white;
}
@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
 }