<form #myForm="ngForm">
  <div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
      <app-nav></app-nav>
      <div class="float-left col-12 header-action-tab business-partner opportunityPage new-container">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
          <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 float-left no_pad">

            <button class="mdi mdi-keyboard-backspace cursor-pointer float-left back-buttonbg" (click)="goBack()" role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
            <h1 class="heading-level-one heading-custom">Add IP</h1>
            <span class="brudcrumbs">Sales > Opportunities > {{opportunityName}}</span>
          </div>

          <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left no_pad">
              <div class="float-right disp-flex save-cancel-responsive">
                <button class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50"
                  (click)="goBack()">Cancel</button>
                <button class="primary-button borderless h-40 std save-responsive-btn button-wd50"
                (click)="SaveIpData()"  >Save</button>
              </div>
            </div>

        </div>
      </div>
    </div>

    <div clas="col-12 float-left no_pad business-partner addip-page">

        <ng-container *ngIf="isLoading">
            <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                        <div class="loaderContainer">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-200 ">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad opportunity-landing-container add-ip new-container">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pd-20 pad-30 top-24">
            <div class="col-12 no_pad float-left scroll-tabs">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pt100 addip-page">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                  <mat-expansion-panel hideToggle="true" [expanded]="panelOpenState4" class="no_pad overflowInherit"
                    (opened)="panelOpenState4 = true" (closed)="panelOpenState4 = false">
                    <mat-expansion-panel-header class="min_height60">
                      <div class="min_height60 col-12 no_pad">
                        <div class="accord-heading col-12">
                          <span
                            [ngClass]="panelOpenState4 ? 'mdi mdi-chevron-down chevron-right float-left':'mdi mdi-chevron-right chevron-right float-left'"></span>
                          <div class="float-left no_pad"> <span class="accordian-title cardsHead col-6 no_pad">

                              IP</span></div>
                          <div class="col-6 float-right no_pad bot10">
                            <button (click)="addip();panelOpenState4 = false"
                              class="primary-button  h-40 std save-responsive-btn float-right pad_10">+ Add
                              IP</button>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel-header>

                    <div class="col-12 no_pad float-left btop_withoutpadding">
                      <!-- Table starts here -->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad overflowscroll">
                        <table class="table table-borderless">
                          <thead>
                            <tr>
                              <th>IP</th>
                              <th>Module</th>
                              <th>Service line</th>
                              <th>Practice</th>
                              <th>SL BDM</th>
                              <th>License value</th>
                              <th>AMC value</th>
                              <!-- <th>Cloud</th>
                              <th>Accept IP</th> -->
                              <th>Holmes BDM</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of ip_data;let i = index">
                              <td class="">
                                <div class="flex-grow-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" [title]="data.IpName">
                                  <app-auto-complete-select [requiredField]="true" [source]="wiproip" (content)="getIpNameData($event)"
                                    [dataHeader]="IpObj" (SelectedData)="appendip($event,i)" [IsApiCall]="true"
                                    [details]="data.IpName" [detailsId]="data.IpId" [selectedObj]="data.IpSelected" [dataSource]="'IP'"
                                    [labelName]="'ip-'+i" [titleName]="'IP'" [Placeholder]="'Select'" [IsSpecialBtn]=false
                                    [IsinitialsView]=false [showSelected]=false [IsSearchDatabase]=false
                                    (advanceLookUp)="advanceLookUpSearch($event,i)"
                                    [MandtErrorFlag]="data.ipNameError"  [Isdisabled]=false>
                                  </app-auto-complete-select>
              
                                  <p *ngIf="data.ipNameError==true" class="error-message top-40" title="Ip name is mandatory">Ip name is mandatory</p>
                                </div>
                              </td>

                              <td >
                                <div class="flex-grow-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" [title]="data.WiproModuleName">
                                  <app-auto-complete-select [requiredField]="true" [source]="wipromodule" (content)="getIpModuleData($event,i)"
                                    [dataHeader]="ModuleObj" (SelectedData)="appendmodule($event,i)" [IsApiCall]="true"
                                    [details]="data.WiproModuleName" [detailsId]="data.WiproModuleValue" [selectedObj]="data.ModuleSelected" [dataSource]="'Module'"
                                    [labelName]="'module-'+i" [titleName]="'Module'" [Placeholder]="'Select'" [IsSpecialBtn]=false
                                    [IsinitialsView]=false [showSelected]=false [IsSearchDatabase]=false
                                    (advanceLookUp)="advanceLookUpSearch($event,i)"
                                    [MandtErrorFlag]="data.WiproModuleNameError"  [Isdisabled]="data.moduleDisabled">
                                  </app-auto-complete-select>
              
                                  <p *ngIf="data.WiproModuleNameError==true" class="error-message top-40" title="Module is Mandatory">Module is Mandatory</p>
                                </div>

                              </td>
                              <td>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob web-select-box h100">
                                    <mat-form-field class="col-12 no_pad float-left">
                                      <mat-select disableOptionCentering panelClass="Select-panel-class" [(ngModel)]="data.WiproServiceline"
                                        class="select-focus mat-select" role="listbox" [name]="data.IpSLName"
                                        (selectionChange)="getIpPracticeData(data,i)" [title] = "data.WiproServicelineName">
                                        <mat-option value="" selected hidden disabled>Select</mat-option>
                                        <mat-option *ngFor="let IpSL of IpandServiceLinelDD" [value]="IpSL.SysGuid" [title] = "IpSL.Name">{{IpSL.Name}}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left  no_pad mobile-select-box">
                                    <div class="customized-select">
                                      <span class="caret color-azure"></span>
                                      <select role="listbox" class="select-focus mat-select"
                                        [name]="data.IpSLName" [(ngModel)]="data.WiproServiceline"
                                        (change)="getIpPracticeData(data,i)"  [title] = "data.WiproServicelineName">
                                        <option disabled value="">Select</option>
                                        <option *ngFor="let IpSL of IpandServiceLinelDD" [value]="IpSL.SysGuid" [title] = "IpSL.Name">{{IpSL.Name}}</option>
                                      </select>
                                     </div>
                                    </div>
                              </td>
                              <td>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob web-select-box h100">
                                    <mat-form-field class="col-12 no_pad float-left">
                                      <mat-select disableOptionCentering panelClass="Select-panel-class" [(ngModel)]="data.WiproPractice"
                                        class="select-focus mat-select" role="listbox" [name]="data.IpPracticeName" [disabled] = "data.practiceDisabled"
                                        (selectionChange)="reloadSLBDM(data,i)"  [title] = "data.WiproPracticeName">
                                        <mat-option value="" selected hidden disabled>Select</mat-option>
                                        <mat-option *ngFor="let IpPractice of data.IppracticeDD" [value]="IpPractice.SysGuid" 
                                        [title] = "IpPractice.Name"  [hidden]="(!IpPractice.IsVisible)">{{IpPractice.Name}}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>

                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left  no_pad mobile-select-box">
                                    <div class="customized-select">
                                      <span class="caret color-azure"></span>
                                      <select role="listbox" class="select-focus mat-select"
                                        [name]="data.IpPracticeName" [(ngModel)]="data.WiproPractice"
                                        (change)="reloadSLBDM(data,i)" [title] = "data.WiproPracticeName">
                                        <option disabled value="">Select</option>
                                        <option *ngFor="let IpPractice of data.IppracticeDD" [value]="IpPractice.SysGuid" 
                                        [title] = "IpPractice.Name" [hidden]="(!IpPractice.IsVisible)">{{IpPractice.Name}}</option>
                                      </select>
                                     </div>
                                    </div>
                              </td>
                              <td>
                               <div class="flex-grow-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" [title] = "data.WiproSlbdmName">
                                  <app-auto-complete-select [requiredField]="false" [source]="data.IpslBDMDD" (content)="getIpSlBDMData($event,i)"
                                    [dataHeader]="SLBDMObj" (SelectedData)="appendslbdm2($event,i)" [IsApiCall]="true"
                                    [details]="data.WiproSlbdmName" [detailsId]="data.WiproSlbdmValue" [selectedObj]="data.SLBDMSelected" [dataSource]="'SLBDM'"
                                    [labelName]="'slbdm-'+i" [titleName]="'SLBDM'" [Placeholder]="'Select'" [IsSpecialBtn]=false
                                    [IsinitialsView]=false [showSelected]=false [IsSearchDatabase]=false
                                    (advanceLookUp)="advanceLookUpSearch($event,i)" [Isdisabled]="data.disableSlbdm">
                                  </app-auto-complete-select>
                                </div>
                              </td>

                              <td>
                                <div class="customized-input">
                                  <div class="pos-rel float-left no_pad">
                                  <input id="license" type="number" class="border-gray w-100" [name]="data.IpLValueName"
                                  [(ngModel)]="data.WiproTaggedLicenseValue" onpaste="return false;" ondrop="return false;"
                                  placeholder="00.00" maxlength="12"
                                  onkeypress="return event.charCode >= 46
      && event.charCode <= 57" oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); } else { let values = this.value.split('.');
      if(values[1] && values[1].length > 2)  this.value = values[0] + '.' + values[1].slice(0,2)}"
                                  [title]="data.WiproTaggedLicenseValue" (keyup)="checkLicenceValue(data)"  [ngClass]="data.WiproLicenseValueError?'orangeborder':''">

                                <p  *ngIf="data.WiproLicenseValueError==true" class="error-message" title="License value is mandatory">License value is mandatory</p>
                                <p  *ngIf="data.WiproLicenseValueZeroError==true" class="error-message" title="Both can't be 0">Both can't be 0</p>
                              </div>
                            </div>
                              </td>
                              <td>
                                <div class="customized-input">
                                <div class="pos-rel float-left no_pad">
                                <input id="amc" type="number" class="border-gray w-100" [name]="data.IpAMCValueName"
                                  [(ngModel)]="data.WiproTaggedamcValue" onpaste="return false;" ondrop="return false;"
                                  placeholder="00.00" maxlength="12"
                                  onkeypress="return event.charCode >= 46
      && event.charCode <= 57" oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); } else { let values = this.value.split('.');
      if(values[1] && values[1].length > 2)  this.value = values[0] + '.' + values[1].slice(0,2)}"
                                  [title]="data.WiproTaggedamcValue" (keyup)="checkAMCValue(data)"  [ngClass]="data.WiproAmcvalueError?'orangeborder':''">

                                <p  *ngIf="data.WiproAmcvalueError==true" class="error-message" title="AMC value is mandatory">AMC value is mandatory</p>
                                <p  *ngIf="data.WiproAmcvalueZeroError==true" class="error-message" title="Both can't be 0">Both can't be 0</p>
                              </div>
                              </div>
                              </td>

                              <td>
                                 <div class="flex-grow-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" [title] = "data.WiproHolmesbdmName">
                                    <app-auto-complete-select [requiredField]="true" [source]="IpHolmesDD" (content)="getIpHolmesData($event,i)"
                                      [dataHeader]="HolmesBDMObj" (SelectedData)="appendslbdm3($event,i)" [IsApiCall]="true"
                                      [details]="data.WiproHolmesbdmName" [detailsId]="data.WiproHolmesbdmID" [selectedObj]="data.HolmesBDMSelected" [dataSource]="'HolmesBDM'"
                                      [labelName]="'holmesbdm-'+i" [titleName]="'Holmes BDM'" [Placeholder]="'Select'" [IsSpecialBtn]=false
                                      [IsinitialsView]=false [showSelected]=false [IsSearchDatabase]=false
                                      (advanceLookUp)="advanceLookUpSearch($event,i)" [Isdisabled]="data.holmesBDMDisable" 
                                      [MandtErrorFlag]="data.WiproHolmesbdmNameError">
                                    </app-auto-complete-select>
                                    <p *ngIf="data.WiproHolmesbdmNameError==true" class="error-message top-40" title="Holmes BDM is mandatory">Holmes BDM is mandatory</p>
                                  </div>
                               </td>

                              <td class="no_pad display_flex">
                                <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="Delete"
                                  matTooltip="Delete" (click)="deleteip(i)">
                                  <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-delete"></span>
                                </button>
                              </td>
                            </tr>

                            <!-- non editable rows -->
                            <tr *ngFor="let data of IpDetails;let i = index">
                              <td class="">
                                <div class="customized-input">
                                  <!-- <div class="pos-rel float-left no_pad"> -->
                                  <input name = "ipname{{i}}" id="license" type="text" class="border-gray w-100"  [(ngModel)]="data.IpName"
                                  disabled title = "{{data.IpName}}"></div>
                            <!-- </div> -->
                              </td>

                              <td >
                                <div class="customized-input">
                                  <div class="pos-rel float-left no_pad">
                                  <input name = "modulename{{i}}" id="license" type="text" class="border-gray w-100"  [(ngModel)]="data.WiproModuleName"
                                  title = "{{data.WiproModuleName}}" disabled></div>
                            </div>

                              </td>
                              <td>
                                <div class="customized-input">
                                  <div class="pos-rel float-left no_pad">
                                  <input name = "servicelinename{{i}}" id="license" type="text" class="border-gray w-100"  [(ngModel)]="data.WiproServicelineName"
                                  title = "{{data.WiproServicelineName}}" disabled></div>
                            </div>
                              </td>
                              <td>
                                <div class="customized-input">
                                  <div class="pos-rel float-left no_pad">
                                  <input name = "practicename{{i}}" id="license" type="text" class="border-gray w-100"  [(ngModel)]="data.WiproPracticeName"
                                  title = "{{data.WiproPracticeName}}" disabled></div>
                            </div>
                              </td>
                              <td>
                                <div class="customized-input">
                                  <div class="pos-rel float-left no_pad">
                                  <input name = "slbdmname{{i}}" id="license" type="text" class="border-gray w-100"  [(ngModel)]="data.WiproSlbdmName"
                                  title = "{{data.WiproSlbdmName}}" disabled></div>
                            </div>
                              </td>

                              <td>
                                <div class="customized-input">
                                  <div class="pos-rel float-left no_pad">
                                  <input name = "licensevalue{{i}}" id="license" type="text" class="border-gray w-100"  [(ngModel)]="data.WiproTaggedLicenseValue" 
                                  title = "{{data.WiproTaggedLicenseValue}}" disabled></div>
                            </div>
                              </td>
                              <td>
                              <div class="customized-input">
                                <div class="pos-rel float-left no_pad">
                                <input name = "amcvalue{{i}}" id="license" type="text" class="border-gray w-100"  [(ngModel)]="data.WiproTaggedamcValue"
                                title = "{{data.WiproTaggedamcValue}}" disabled></div>
                          </div>
                              </td>

                              <td>
                                <div class="customized-input">
                                  <div class="pos-rel float-left no_pad">
                                  <input name = "holmesbdm{{i}}" id="license" type="text" class="border-gray w-100"  [(ngModel)]="data.WiproHolmesbdmName"
                                  title = "{{data.WiproHolmesbdmName}}" disabled></div>
                            </div>
                                </td>

                              <td class="no_pad display_flex">
                                <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="Delete"
                                  matTooltip="Delete" (click)="deleteDefaultIP(i)" *ngIf = "data.IsDelete">
                                  <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-delete"></span>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- Table ends here -->
                    </div>
                  </mat-expansion-panel>

                </div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </form>
