.primary_white {
  padding: 6px 11px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 4px;
  border: 1.5px solid #ffffff;
  font-size: 14px;
  font-family: "WiproAkkuratTT-Bold";
}
.h-473 {
  height: 289px;
}

.h-425 {
  height: 370px;
}
.opportunity-landing-container {
  .borderless {
    border: none !important;
  }

  .mb-0 {
    margin-bottom: 0px;
  }
  .h-150 {
    height: 150px;
  }
  .h-360 {
    height: 473px;
  }

  .border-none {
    border: none;
  }
  .w-145 {
    width: 145px;
  }
  .pad-30 {
    padding: 0px 30px 30px 30px;
  }
  .h-40 {
    height: 40px;
  }

  .d-inline-w-h-20 {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .d-inline-w-h-16-14 {
    display: inline-block;
    width: 16px;
    height: 14px;
    font-size: 12px;
  }
  .mleft-5 {
    margin-left: 5px;
  }

  .logo {
    text-align: center;
    font-size: 14px;
  }
  .sub-vertical-but {
    padding: 5px 0px !important;
  }
}
.pr5 {
  padding-right: 5px;
}
.w-110 {
  width: 110px;
}

.current_position {
  ul {
    li {
      font-weight: bold;
    }
  }
}
ul li:hover {
  background-color: #d9e9ff;
  font-family: WiproAkkuratTT-Bold;

  color: #2f81ff !important;
  border-bottom: 0.3px solid #2f81fffc;
}

ul .border_property {
  border-bottom: 1px solid #ffffff2e;
}

ul .list_names {
  cursor: pointer;
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #4a4a4a;
  padding: 10px 10px;
}
.posR {
  position: relative;
}
.w140 {
  width: 182px;
}
.ml10 {
  margin-left: 10px;
}
.mt2 {
  margin-top: 2px;
}
.mr10 {
  margin-right: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.caret {
  top: 16px !important;
}
.caret.up {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.caret {
  display: inline-block;
  float: right;
  position: relative;
  top: 17px;
  right: 10px;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px dashed;
  border-right: 5px solid #52494900;
  border-left: 5px solid transparent;
  z-index: 8;
  color: #2f81ff;
  pointer-events: none;
}
.mdi-dots-horizontal {
  font-size: 18px;
  position: relative;
  top: -2px;
  right: 1px;
  position: absolute;
  top: 8px;
  z-index: 8;
  left: -132px;
}
.btnSelect {
  text-align: left;
  color: #2f81ff;
  font-family: "WiproAkkuratTT-Bold";
  min-height: 40px;
  position: relative;
  padding-left: 25px;
  padding-top: 9px;
  outline: none;
  border: none !important;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #2f81ff;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 4px;
}
[role="button"] {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}
.cp {
  cursor: pointer;
}
.blue_border {
  width: 100%;
  padding: 0px;
  border: 2px solid transparent;
  border-radius: 4px;
  border: 1px solid #2f81fffc !important;
}
.blue_border {
  &:focus {
    width: 100%;
    padding: 0px;
    border: 2px solid #2f81ff !important;
    border-radius: 4px;
  }
}
// more option css ends
.export-btn {
  // position: absolute;
  // right: 30px;
  // margin-top: 25px;
  z-index: 9;
}
.opportunityPage {
  .heading p {
    color: #e7ebf2;
    opacity: 0.8;
    font-family: WiproAkkuratTT-Regular;
    cursor: default;
  }
  li {
    color: #2f81ff !important;
    border-bottom: 0.3px solid #2f81fffc;
    border-radius: 5px;
  }
  ul:hover {
    border-radius: 5px 0px 5px 5px;
  }
  .ul {
    border-radius: 5px 0 5px 5px;
  }
  .borderRadius {
    border-radius: 4px 4px 0 0;
  }
}
.primary-button {
  padding: 8px 12px !important;
}

.opportunity-landing-container {
  .heading p {
    color: #e7ebf2;
    opacity: 0.8;
    font-family: WiproAkkuratTT-Regular;
    cursor: default;
    margin-bottom: 0;
  }
  li {
    color: #2f81ff !important;
    border-bottom: 0.3px solid #2f81fffc;
  }
  .ul {
    border-radius: 5px 0 5px 5px;
  }
  .borderRadius {
    border-radius: 4px 4px 0 0;
  }
  .active2 {
  background-color: #2f81ff !important;
  color: #fff !important;
}
}

.downloadButton {
  background: transparent !important;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
}
.mar-top-100 {
  margin-top: 146px;
}
.mdi-vector-difference-ab:before {
  content: "\F55B";
  padding-right: 10px;
}

.mdi-vector-intersection:before {
  content: "\F55D";
  padding-right: 10px;
}

.form-control ul li {
  border-bottom: 1px solid red !important;
}
.buideletes {
  margin-right: 0px;
  float: left;
  width: 100%;
}
.mdi-phone:before,
.mdi-chart-line-variant:before,
.mdi-autorenew:before,
.mdi-phone:before {
  margin-right: 10px;
}
.Caretblock {
  top: 10px !important;
  left: 31px;
}
.Caretblock:hover {
  color: #2f81ff !important;
}
.content {
  right: 0px;
  border-radius: 4px 0px 4px 4px;
  top: 36px;
  left: 0px;
}

.more-click-content {
  li {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: #2f81ff;
    &:hover {
      background-color: #d9e9ff;
      border-radius: 4px;
    }
  }

  .mdi:before {
    padding-right: 5px;
    font-size: 18px;
  }
}

.opportunity-content {
  width: 100%;
  right: 0px;
  top: 38px;
  padding: 0px;

  li {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: #2f81ff;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: solid 1px #d9e9ff;
    &:hover {
      background-color: #d9e9ff;
    }
  }
  li:last-child {
    border: none;
  }

  .mdi:before {
    padding-right: 5px;
    font-size: 18px;
  }
}
.primary-button:hover {
  background-color: #2f81ff !important;
  color: #fff !important;
}
.min-width-161 {
  min-width: 168px !important;
}
.min-width-185 {
  min-width: 185px !important;
}
.width185 {
  width: 185px !important;
}
.plb-60-20 {
  padding: 0px 30px 20px 0px;
}
.traceID .mdi-magnify:before {
  color: #2f81ff;
  font-size: 20px;
  right: 35px;
  position: absolute;
  top: 32px;
}

.textarea-100 {
  height: 100px !important;
}
.pad-4-10 {
  padding: 4px 10px !important;
}

.all-results-header {
  font-size: 14px;
  color: #103f86;
  font-family: WiproAkkuratTT-Bold;
}
.approver-table th {
  font-size: 14px;
  color: #103f86;
  font-family: WiproAkkuratTT-Bold;
  background: #d9e9ff;
  padding: 10px;
  height: 40px;
}
.approver-table td {
  padding: 6px 10px;
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
}
.approver-table tbody tr:nth-child(even) {
  background: #f9f9f9;
}
.icon-action {
  color: #2f81ff;
  font-size: 20px;
  background: #d9e9ff !important;
  border-radius: 50%;
  max-width: 40px !important;
  height: 35px;
  width: 35px;
  border: none;
}

.dropdown-content {
  position: relative !important;
  top: 0px !important;
  width: 100%;
}

.sub-list {
  font-size: 10px;
  color: #9b9b9b;
  font-family: WiproAkkuratTT-Regular;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//new phone blue batch below
.mobile-buttons.bg-azure {
  background: #2f81ff;
  height: 60px;
}
.dropdown-content-mob {
  background: white;
  list-style: none;
  border: 1.5px solid #2f81ff;
  border-radius: 4px 4px 0px 0px;
  padding: 10px !important;
  // top: -91px !important;
  border-top: 1.5px solid #2f81ff !important;
}

.group-content-mob {
  bottom: 40px;
  right: 10px;
  animation: slide-down 0.4s ease;
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(52px);
    transform: scale(0, 0);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1, 1);
    transform-origin: bottom right;
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(52px);
    transform: scale(0, 0);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1, 1);
    transform-origin: bottom right;
  }
}
.line-height {
  border-bottom: 1.5px solid #d9e9ff;
  margin-bottom: 5px;
}
.mobile-buttons .active-button {
  background: white !important;
  color: #2f81ff !important;
  border-radius: 0px !important;
  font-family: WiproAkkuratTT-Regular !important;
  font-size: 13px !important;
  width: 50% !important;
  cursor: pointer;
}
.mobile-buttons .primary-button {
  width: 50%;
}
.mar-r-10 {
  margin-right: 5px;
}
//new phone blue batch below
.mx250 {
  max-width: 250px;
}
@media screen and (max-width: 1024px) {
  .archive-tag {
    margin-left: 30% !important;
  }
}
@media screen and (max-width: 414px) {
  .archive-tag {
    margin-left: 50% !important;
  }
  .mx250 {
    max-width: 200px !important;
  }
}

//more options css
@media screen and (min-width: 1024px) {
  ul {
    position: absolute;
    z-index: 1;
    right: 1px;
    width: 168px;
    background-color: #ffffff;
    padding: 0px 12px;
    margin: 0px;
    border-top: none !important;
    top: 39px;
    list-style-type: none;

    /* border-radius: 5px 0px 5px 5px; */
  }
}
.h-64 {
  height: 64px !important;
}

@media screen and (max-width: 823px) {
  .opportunity-landing-container {
    .dropdown-content-mob {
      .pad-tb-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }
      .line-height {
        margin-bottom: 0px !important;
      }
      li {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      li:last-child {
        border: none;
      }
    }
  }
  .width-100per{
    width: 100% !important;
  }
  .group-content-mob-retag{
    min-width: 95% !important;
  }
}
.border-radius0 {
  border-radius: 0px 0px 4px 4px;
}

