<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab " [ngClass]="sidebar?service.sideTrans ? 'main-containt-280-sideleads' : 'main-containt-sideleads':''">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left opportunity-landing-container no_pad">

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 float-left no_pad heading">
        <h1 class="heading-level-one mb-0"> Orders </h1>
        <!-- <p >Sales > Opportunities</p> -->
      </div>
      <!-- right-header -->


      <div class="float-right disp-flex responsive-btn-div web-action-button web-button noshow-button-mob">
        <!--Select-panel-class Role list BUTTONS STARTS -->
        <div *ngIf="!accountLogin" class="cust-dropdown-btn no_pad col-md-6">
          <button class="primary-button pl90 hoverNone btnrespon borderless pad-0-10 btn-block h-40 std pos-rel min-width-161
                         responsive-btn-div-button color-azure d-flex justify-content-start align-items-center "
            [ngClass]="showrolelist?'show-action':''" (click)="showrolelist = !showrolelist"
            (clickOutside)="showrolelist = false">
            <div class="mobileBottom">

              <span class="mdi mdi-dots-vertical m-r-8 dot-respon left60 mdiButton">

              </span> <span class="more-respon Actionclass">Role lists</span>
              <span class="caret Caretblock caret-respon color-azure caretNone">
              </span>
            </div>
          </button>
          <ng-template [ngIf]="showrolelist">
            <ul class="width213 pad-0-10 pos-abs z-ind-99 content leftWidth respon-top no_pad b-top more-click-content" [ngClass]="showrolelist ? 'border-radius0' : ''">
              <li [ngClass]=" name.RoleId == selectedroleListId ? 'active2':'' " *ngFor="let name of roleID" class="list_names border_property"
                (click)="roleSelection(name.RoleId,name.RoleName)">{{name.RoleName}}</li>
            </ul>
          </ng-template>
        </div>
      </div>
      <!--Select-panel-class Role list BUTTONS ends -->

      <!-- MORE ACTION BUTTONS STARTS -->
      <div *ngIf="selectedroleListId == '184450002'" class="float-right disp-flex responsive-btn-div web-action-button web-button noshow-button-mob">
        <div class="cust-dropdown-btn mr10 no_pad col-md-6">
          <button class="primary-button pl90 hoverNone btnrespon borderless pad-0-10 btn-block h-40 std pos-rel min-width-185
                           responsive-btn-div-button color-azure d-flex justify-content-start align-items-center "
            [ngClass]="showContent?'show-action':''" (click)="toggleContent()" (clickOutside)="closeContent()">
            <div class="mobileBottom">

              <span class="mdi mdi-dots-vertical m-r-8 dot-respon left60 mdiButton">

              </span> <span class="more-respon Actionclass">More actions</span>
              <span class="caret Caretblock caret-respon color-azure caretNone">
              </span>
            </div>
          </button>
          <ng-template [ngIf]="showContent">
            <ul class="width185 pad-0-10 pos-abs z-ind-99 content leftWidth respon-top no_pad b-top more-click-content" [ngClass]="showContent ? 'border-radius0' : ''">
              <li *ngIf="selectedroleListId == '184450002'" class="list_names border_property" (click)="retagTracepopup()">
                <span class="mdi mdi-arrow-bottom-left border-botm"></span>Retag tracebility</li>
              <!-- <li class="list_names border_property" (click)="approverAssignpopup()"><span class="mdi mdi-approval border-botm"></span>Approver assignment
                    </li> -->


            </ul>
          </ng-template>
        </div>

      </div>
      <!-- MORE ACTION BUTTONS ends -->
    </div>
  </div>
</div>
<div [ngClass]="service.topbuttons == true && service.tableRecordsChecked ? 'h-425':'h-473'" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night">
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad opportunity-landing-container mar-top-100" [ngClass]="sidebar?service.sideTrans ? 'main-containt-250' : 'main-containt':''">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-30 top-24">

    <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
        <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
          <!-- <button class="primary_white float-right ml10"><span class="mdi mdi-download"></span></button> -->

          <!-- default login starts here -->
          <div *ngIf="AllOrderTable.length > 0" class="parent-container">
            <app-single-table (detectActionValue)="performTableChildAction($event)" [TableName]="tableName"
              [AllBtnLable]="allBtnLabel" (detectPageChangeData)="getNewTableDataValues($event)"
              [IsDropBoxRequired]=true [TableCollection]="AllOrderTable" [IscheckBoxRequired]="checkBoxFlag" [IsActionFixed]=true
              [IsMoreAction]=true [IsFreezedColumn]=true [IsCustomizeTable]=true [IsAssignOrder]=true [IsShare]=true
              [TabName]="selectedTabId" [IsTickedorder]=true [IsRejectOrder]=true [IsBlock]=true [IsReschedule]=true
              [IsReminder]=true [expansionTable]="dynamicExpansionView" [paginationPageNumber]="paginationPageNo"
              [IsDownload]=exportFlag [totalTableCount]="tableTotalCount" [TabList]="tabList" [SelectedTab]="'allOrder'"
              (selectedValue)="appendConversation($event)" [serviceSearch]=true [filterConfigData]="filterConfigData" 
              [orderType]="'maxcolumnscrollcss'"
              >
            </app-single-table>
          </div>
          <!-- default login ends here -->


        </div>
      </div>

    </div>
  </div>
  <!--mobile sticky buttons-->
  <div class="float-left col-12 no_pad mobile-buttons bg-azure mobile-sticky-btns">
    <button *ngIf="selectedroleListId == '184450002'" class="primary-button borderless h-64" (click)="retagTracepopup()">
      <span class="mdi  mdi-arrow-bottom-left pr5 w-100 float-left"></span>Retag tracebility
    </button>

    <button class="primary-button borderless h-64" (click)="showmore = !showmore" (clickOutside)="showmore = false;"
      [ngClass]="selectedroleListId == '184450002'?'':'width-100per'">
      <span class="mdi mdi-dots-vertical pr5 w-100 float-left"></span>Role lists

    </button>
    <div class="pos-abs group-content-mob float-right " [ngClass]="selectedroleListId == '184450002'?'':'group-content-mob-retag'" *ngIf="showmore">
      <ul class=" dropdown-content-mob pad-0-10 z-ind-99 respon-top no_pad pad-tb-0">
        <li class="h-40 cp color-azure line-height" *ngFor="let name of roleID"
          (click)="roleSelection(name.RoleId,name.RoleName)">
          <span>{{name.RoleName}} </span>
        </li>
      </ul>
    </div>
  </div>
</div>