<!-- reject popup starts from here. -->

<div class="col-12 float-left  no_pad popup-container popup-container-opportunity deal-qualify ">

    <div class="col-12 float-left  container-dialog no_pad">
        <div class="col-12 float-left">
            <div class="col-12 float-left mb10 no_pad popup-hd">
                <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Are you sure you want to reject
                        this order ?</span>
                <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn"
                    aria-label="close" mat-dialog-close></button></div>

            <div class="col-12 float-left border-bottom-grey"></div>
            <div class="col-12 float-left pad-15-12">
                <label for="field1" class="col-12 float-left no_pad w-100 label-text">Order/ Amendment ID</label>
                <span id="field1" type="text" class="col-12 float-left no_pad sub-text">{{data.data?.OrderId}}</span>
            </div>

            <div class="col-12 float-left btm-10 no_pad mt20">
                <span class="col-12 float-left mbot-5 no_pad hd-val">Reject reason *</span>
                <textarea class="col-12 float-left rel-top-18 text-area-content" [appAlphaNumeric] = "'alphanumeric'" maxlength="2000" rows="4" cols="40" [ngClass]="showErrorMsg ? 'orangeborder':''"
                    placeholder="Enter rejection reason" [(ngModel)] = "rejectReason" (ngModelChange)="textAreaEmpty()"></textarea>
            </div>
            <p class="col-12 no_pad float-left validation-text" *ngIf ="showErrorMsg">Reject reason is mandatory.</p>

            <div class="col-12 float-left no_pad">
                <span class="col-12 float-left no_pad"> This order will be rejected. </span>
            </div>


        </div>
        <div class="col-12 float-left no_pad ">
            <button aria-label="ADD" class="col-6 float-left no_pad cancel-btn1" (click) = "onClose('NO')">No</button>
            <button aria-label="ADD" class="col-6 float-left btndef-none no_pad confrm-btn mt15"
            (click) = "onClose('YES')" [ngClass]="bgcolorblue ? 'bg-azure':'bg-grey' ">Yes</button>
        </div>

    </div>
<!-- Reject popup ends here -->