<div class="col-12 float-left  no_pad popup-container popup-container-deals">
  <div class="col-12 float-left  container-dialog">
    <div class="col-12 float-left  no_pad popup-hd">
      <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title
        >Select period</span
      >
      <button
        class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn"
        aria-label="close"
        mat-dialog-close
      ></button>
    </div>
    <div class="col-12 float-left border-bottom-grey"></div>
    <div class="col-12 float-left no_pad">
      <!-- Select DROPDOWN STARTS -->
      <div class="col-5 no_pad float-left  mt20">
        <label
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
          for="startperiod"
          class="label-form"
        >
          Start period<span class="required"> *</span></label
        >
        <div class="customized-select">
          <span class="caret color-azure"></span>
          <select
            id="startperiod"
            [(ngModel)]="startId"
            (change)="fillEndperiod()"
          >
            <option value="">Choose period</option>
            <option [value]="item.id" *ngFor="let item of startPeriodList"
              >{{item.title}}
            </option>
          </select>
        </div>
      </div>
      <!-- Select DROPDOWN ENDS -->
      <!-- Select DROPDOWN STARTS -->
      <div class="col-5 no_pad float-right  mt20">
        <label
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
          for="Endperiod"
          class="label-form"
        >
          End period<span class="required"> *</span></label
        >
        <div class="customized-select">
          <span class="caret color-azure"></span>
          <select
            id="Endperiod"
            [(ngModel)]="endId"
            [attr.disabled]="startId == '' ? 'disabled' : null "
          >
            <option value="">Choose period</option>
            <option [value]="item.id" *ngFor="let item of endPeriodList"
              >{{item.title}}
            </option>
          </select>
        </div>
      </div>
      <!-- Select DROPDOWN ENDS -->
      <div class="col-12 no_pad float-right  mt20">
        <label
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
          for="periodVal"
          class="label-form"
        >
          Period value <span class="required"> *</span></label
        >
        <div class="customized-input">
          <input
            id="periodVal"
            class="border-gray w-100"
            type="number"
            step=".01"
            specialIsAlphaNumeric 
            [attr.data-type]="'decimalWithNegativeValue'"
            [(ngModel)]="periodValue"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 float-left no_pad">
    <button
      aria-label="Cancel"
      class="col-6 float-left btndef-none no_pad discard-btn"
      (click)="updatePeriod(false);"
      type="button"
    >
      Cancel
    </button>
    <button
      aria-label="Save"
      class="col-6 float-left btndef-none no_pad confrm-btn mt15"
      type="button"
      (click)="updatePeriod(true);"
    >
      Save
    </button>
  </div>
</div>
