// .w-50px {
//   width: 50px;
// }
.btndef-none{
  margin-top: 0 !important;
}
::ng-deep {
  #Editable_Exp .rls .ps-content,
  #scoll_top .ps-content {
    min-height: 125px !important;
  }
}
.pad25right {
  padding-right: 5px;
}
.pad25right::first-letter {
  text-transform: capitalize !important;
}
.padd95 {
  // padding-right: 95px;
  display: flex;
  box-sizing: border-box;
  min-width: 150px;
  max-height: 40px;
  p.error-message {
    position: absolute !important;
    top: 43px !important; //89235 bug fix
  }
}
.customFixedError {
  .min-w-inline {
    min-width: 100% !important;
  }
}
.table-color-lyt thead th {
  background: #eaf2ff;
  position: sticky;
  top: 0;
  z-index: 9;
}
::ng-deep {
  .Parent-control {
    #Editable_Exp perfect-scrollbar > .ps.ps--active-x > .ps__rail-x,
    .bgWhiteContainer #Editable_Exp perfect-scrollbar > .ps.ps--active-x > .ps__rail-x {
      top: 49px !important;
      height: 8px !important;
      z-index: 9;
    }
  }
}
.complex_table table {
  border-collapse: collapse !important;
}
.w-100px {
  width: 100px;
}
.ellipses {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
// RLS count and duration alignment css
.align-right {
  width: 100%;
  min-width: 100px;
  input.min-w-inline {
    min-width: auto !important;
    max-width: 100px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .errormsg-align {
    width: 100px;
    float: right;
  }
}
::ng-deep {
  #Editable_Exp .rls > .ps.ps--active-x > .ps__rail-x,
  .bgWhiteContainer #Editable_Exp .rls > .ps.ps--active-x > .ps__rail-x {
    top: 48px !important;
    z-index: 11;
    width: unset !important;
    left: 0 !important;
    .ps__thumb-x{
      border-right: unset !important;
      background-color: #aaa !important;
    }
  }
}
// .stickyFirstColEdit{
//   box-shadow: -2px -10px 6px 1px #ccc;
// }
.complex_table .rls table tbody tr td{
  min-width: 100px !important;
  width: auto !important;
  select.min-w-inline, input.min-w-inline{
    min-width: 150px;
  }
}