<div class="col-12 float-left  no_pad popup-container ">

    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-11 float-left  no_pad popup-hd-txt" mat-dialog-title>Deactivate contact</span>
            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close"
                mat-dialog-close></button>
        </div>

        <div class="col-12 float-left border-bottom-grey mb10"></div>

        <div class="col-12 float-left  no_pad">
            <span class="col-12 float-left  no_pad txt-style"> Are you sure you want to deactivate the contact </span>
        </div>

    </div>

    <div class="col-12 float-left no_pad">
        <button aria-label="Replace" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close >Deactivate</button>
    </div>

</div>