<div class="col-12 float-left  no_pad popup-container newchildconvo" >

  <div class="col-12 float-left  container-dialog">
      <div class="col-12 float-left  no_pad popup-hd">
          <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>{{data.configdata.ModelTitle}}</span>
          <button class="float-left no_pad btndef-none mdi mdi-window-close close-icn cp" aria-label="close"
              (click)="onCancel()"></button>
      </div>
      <div class="col-12 float-left border-bottom-grey "></div>
      
       <!-- populated content  -->
       <!-- <div *ngIf="data.configdata.isInputBox">
       <div class="float-left convo-name-title mt10">{{ data.configdata.labelForContent}}</div>
       <div class="col-12 no_pad color-black float-left convo-name-title mt10 pb20 border-bottom-grey">{{ data.configdata.populatedContent}}</div>
      </div> -->
       <!-- populated content ends -->
      <div class="col-12 float-left pad-20-pop" *ngIf="!data.configdata.isLeadName && !data.configdata.isMultiActionDelete">
          <div class="convo-name-title">{{ data.configdata.labelForContent}}</div>
          <perfect-scrollbar style="max-height:70px;">
              <div class="convo-name mt5" *ngFor="let item of data.itemData">{{ item[userdat.cachedArray[0].name]}}
              </div>
          </perfect-scrollbar>
          <div class="col-12 float-left border-bottom-grey mt10"></div>
      </div>


      <!-- convert to opportunity -->
      <div class="col-12 float-left pad-20-pop" *ngIf="data.configdata.isAccountName">
          <div class="convo-name-title">{{ userdat.cachedArray[0].title }}</div>
          <perfect-scrollbar style="max-height:70px;">
              <div class="convo-name mt5" *ngFor="let item of data.itemData">{{ item[userdat.cachedArray[0].name]}}
              </div>
          </perfect-scrollbar>
          <div class="col-12 float-left border-bottom-grey mt10"></div>
      </div>
      <!-- convert to opportunity -->


      <!-- nuture pop up content start -->
      <!--datepicker starts -->
      <div class="col-12  float-left  pad-20-pop " *ngIf="data.configdata.isDatePicker">
          <label class="col-12 convo-name-title float-left no_pad" for="calStart">{{data.configdata.datepickerLabel}}</label>
          <div class=" col-12  float-left no_pad pos-rel">
              <div class="col-12  float-left no_pad cal_brdr">
                  <div class="col-12  float-left no_pad cust_calan customized-input">
                      <input class="col-12  float-left " id="calStart" (click)="makeValid();picker5.open();" (dateChange)="makeValid();picker5.open();"
                          (keypress)="makeValid();picker5.open()" [min]="today" readonly [max]="sixMonthDate" [matDatepicker]="picker5" title="DD-MMM-YYYY"
                          placeholder="DD-MMM-YYYY" [(ngModel)]="datePicker" #date="ngModel" [ngClass]="{'error':(date.touched && !date.valid) || datePickerInvalid}" [required]="data.configdata?.isDatePickerRequired" name="calStart">
                          <div *ngIf="(date.touched && !date.valid) || datePickerInvalid"  class="error-message top-40">Please select reminder prompt date</div>
                          <mat-datepicker-toggle matSuffix [for]="picker5">
                          <span class="mdi mdi-calendar-blank float-right no_pad"  matDatepickerToggleIcon></span>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker5 ></mat-datepicker>
                  </div>
              </div>
          </div>
      </div>
      <!--datepicker ends-->
      <!--Input starts -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb20  mobile-select-box" *ngIf="data.configdata.isSelectdrop">
        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="CoversationT1"
          class="label-form"> {{data.configdata.isSelectdropLabel}} 
          <span *ngIf="data.configdata.isSelectRequired" class="required"> *</span>
        </label>
        <div class="customized-select">
          <span class="caret color-azure"></span>
          <select id="CoversationT1" role="listbox" aria-required="true" [(ngModel)]="selectDrop" (change)="validationCheckMob($event)">
            <option value="-1">Select disqualification reason</option>
            <option value="{{option.id}}" *ngFor="let option of data.configdata.dropData"  matTooltip="{{option.Name}}">{{option.Name}}</option>      
          </select>
            <div *ngIf="selectInvalid"  class="error-message top-40">Please select disqualification reason</div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb20 web-select-box" *ngIf="data.configdata.isSelectdrop">
        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="CoversationT1"
          class="label-form"> {{data.configdata.isSelectdropLabel}} 
          <span *ngIf="data.configdata.isSelectRequired" class="required"> *</span>
        </label>
        <mat-form-field class="col-12 no_pad float-left">
            <mat-label>{{data.configdata.isSelectdropLabel}}</mat-label>
            <mat-select disableOptionCentering panelClass="Dummy" aria-required="true" class="select-focus" 
            [ngClass]="{'error': selectInvalid}"  [(ngModel)]="selectDrop" (selectionChange)="validationCheck($event)">
                <mat-option value="-1" >{{data.configdata.defaultOption}} </mat-option>
                <mat-option value="{{option.id}}" *ngFor="let option of data.configdata.dropData" matTooltip="{{option.Name}}">
                    {{option.Name}}
              </mat-option>
            </mat-select>
            <div *ngIf="selectInvalid"  class="error-message top-40">{{data.configdata.invalidMsg}}</div>
          </mat-form-field>
      </div>


      <!--Input ends-->
   
      <!-- nuture pop up content end -->
      <div class="float-left w-100 mt10 customized-input" *ngIf="data.configdata.isInputBox">
            <div class="convo-name-title" id="nuture">{{data.configdata.inputLabel}}</div>
            <div class="pos-rel w-100 float-left no_pad">
            <input   specialIsAlphaNumeric [attr.data-type]="'text'" class="col-12 float-left mt10 border-gray mb10" aria-labellledby="nuture"  (keyup)="invalid=false; replInvalid=false"
             maxlength="100" type="text"
                placeholder="{{data.configdata.inputPlaceholder}}" #model="ngModel" [(ngModel)]="remarksContent"  [required]="data.configdata?.isRemarksRequired" name="remarks" [ngClass]="{'error':(model.invalid && model.touched) || invalid}" required/>
                <p *ngIf="maxval" class="error-message top-40">{{maxLength}}</p>
            <div class="col-12 float-left border-bottom-grey mt10" *ngIf="!data.configdata.isInputBox"></div>
            <div *ngIf="(model.invalid && model.touched) || invalid"  class="error-message to-50" >{{data.configdata.inputError}}</div>
            <!-- <div *ngIf="replInvalid"  class="error-message to-50">Activity group name is already exist</div> -->
        
            
        </div>
            <!--replInvalid-->
            <!-- <div *ngIf="invalid" style="color: red">Please enter new activities name</div> -->
            
            <div class="col-12 float-left border-bottom-grey mt10" *ngIf="!data.configdata.hr" ></div>
  
        </div>

        <div *ngIf="data.configdata.isRemarks">
                <div class="convo-name-title" id="nuture">{{data.configdata.remarksLabel}}
                      <span class="label-form" *ngIf= "textValue.value.length == 0">  (2000 characters)</span>
                      <span class="label-form" *ngIf= "textValue.value.length > 0 && textValue.value.length < 1999">  ({{ 2000 - textValue.value.length}} characters left)</span>
                      <span class="label-form" *ngIf= "textValue.value.length === 1999 || textValue.value.length === 2000">  ({{ 2000 - textValue.value.length}} character left)</span>
                </div>
                
                <div class="pos-rel float-left no_pad w-100">
                <textarea class="col-12 float-left mt10 pop-area" aria-required="true" #textValue aria-labellledby="nuture" (keyup.enter)="maxTextenter(textValue.value)" (keyup)="invalid=false;maxTextInValid=false" maxlength="2000"
                specialIsAlphaNumeric [attr.data-type]="'textareaLength'"
                    placeholder="{{data.configdata.remarksPlaceholder}}" #textArea="ngModel" [(ngModel)]="remarksContent"   (change)="omit_special_char_remarks($event)"
                    name="remarks" [ngClass]="{'error':(textArea.touched && !textArea.valid) || invalid}" [required]="data.configdata?.isRemarksRequired"></textarea>
                    <div *ngIf="(textArea.touched && !textArea.valid) || invalid"  class="error-modal float-left col-12">Please enter the remarks</div>
                    <div *ngIf="maxTextInValid"  class="error-modal float-left col-12">Remarks cannot
                      exceed 2000 characters</div>
                  </div>
      
                    <div 
                 class="col-12 float-left border-bottom-grey mt10" *ngIf="!data.configdata.isRemarks"></div>
            </div>

        <div class="float-left w-100 mt10 customized-input" *ngIf="data.configdata.isMultiInput">
            <div class="convo-name-title" id="nuture">{{data.configdata.inputLabel}}</div>
            <div class="pos-rel w-100 float-left no_pad">
            <input  specialIsAlphaNumeric [attr.data-type]="'text'" class="col-12 float-left mt10 border-gray mb10" aria-labellledby="nuture"  (keyup)="invalidMulti=false; replInvalid=false"
            maxlength="100" type="text"
                placeholder="{{data.configdata.inputPlaceholder}}" #model="ngModel" [(ngModel)]="remarksContentMulti"  [required]="data.configdata?.isMultiInput" name="remarks" [ngClass]="{'error':(model.invalid && model.touched) || invalidMulti}" required/>
                <p *ngIf="maxval" class="error-message top-40">{{maxLength}}</p>
            <div class="col-12 float-left border-bottom-grey mt10" *ngIf="!data.configdata.isMultiInput"></div>
            <div *ngIf="(model.invalid && model.touched) || invalidMulti"  class="error-message to-50" >{{data.configdata.inputError}}</div>
            <!-- <div *ngIf="replInvalid"  class="error-message to-50">Activity group name is already exist</div> -->
        
            
        </div>
            <!--replInvalid-->
            <!-- <div *ngIf="invalid" style="color: red">Please enter new activities name</div> -->
            
            <div class="col-12 float-left border-bottom-grey mt10"></div>
  
        </div>

    <div class="col-12 float-left pad-20-pop" *ngIf="data.configdata.isMultiActionDelete">

        <div class="convo-name-title">{{ data.configdata.labelForContent}}</div>
        <perfect-scrollbar style="max-height:70px;">
            <div class="convo-name mt5"><span>{{data.itemData.length}} Saved role</span>
            </div>
        </perfect-scrollbar>
        <!-- <div class="col-12 float-left border-bottom-grey mt10"></div> -->


    </div>


      <div class="float-left convo-name-title desc-color mt10 mb20">{{ data.configdata.SpecialText}}</div>


  </div>

  <div class="col-12 float-left no_pad " *ngIf="data.configdata.isSinglebutton">
      <!--aria-label="{{data.configdata.ButtonLabel}}"-->
      <button   class="col-12 float-left btndef-none no_pad confrm-btn"
         (click)="onrestoresubmit()">{{ data.configdata.ButtonLabel}}</button>

  </div>
  
  <!-- <div class="col-12 float-left no_pad mt30" *ngIf="data.configdata.isDoublebutton">
      <button aria-label="{{ data.configdata.ButtonLabeltwo}}" class="" mat-dialog-close (click)="onrestoresubmit()">{{ data.configdata.ButtonLabeltwo}}</button>
      <button aria-label="{{ data.configdata.ButtonLabelthree}}" class="" mat-dialog-close (click)="onrestoresubmit()">{{ data.configdata.ButtonLabelthree}}</button>
  </div> -->
  <div class="col-12 float-left no_pad d-flex mt30" *ngIf="data.configdata.isDoublebutton">
      <button aria-label="{{ data.configdata.ButtonLabeltwo}}" class="col-6 float-left btndef-none no_pad discard-btn"
          mat-dialog-close (click)="data.configdata.isMultiActionDelete?onCancel():onrestoresubmit()" 
          (keypress)="onrestoresubmit()">{{ data.configdata.ButtonLabeltwo}}</button>
      <button aria-label="{{ data.configdata.ButtonLabelthree}}"
          class="col-6 float-left btndef-none no_pad confrm-btn mt-15" mat-dialog-close (click)="onrestoresubmit()"
          (keypress)="onrestoresubmit()">{{ data.configdata.ButtonLabelthree}}</button>
  </div>
</div>