<div class="col-12 float-left  no_pad popup-container newchildconvo ">

    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Extend lead timeline</span>
            <button class="float-left no_pad btndef-none mdi mdi-window-close close-icn cp" aria-label="close" mat-dialog-close></button>
        </div>
        <div class="col-12 float-left border-bottom-grey "></div>
        <div class="col-12 float-left pad-20-pop">
            <div class="convo-name-title">Lead name</div>
            <div class="convo-name mt5">Reimagine singtel procurement</div>
        </div>
        <div class="col-12 float-left pad-20-pop">
            <div class="convo-name-title">Lead timeline</div>
            <div class="convo-name mt5">12/10/2019</div>
        </div>
        <div class="col-12 float-left border-bottom-grey"></div>

        <div class="float-left convo-name-title desc-color mt10">Your lead has expired, to extend the timeline please provide an extension date.</div>
        <!--datepicker starts-->
        <div class="col-12  float-left  pad-20-pop ">
            <label class="col-12  float-left no_pad" for="calStart">Revised lead timeline(option)</label>
            <div class=" col-12  float-left no_pad pos-rel">
                <div class="col-12  float-left no_pad cal_brdr">
                    <div class="col-12  float-left no_pad cust_calan">
                        <input class="col-12  float-left " id="calStart" (click)="picker5.open()" (keypress)="picker5.open()" [matDatepicker]="picker5"
                            title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY">
                        <mat-datepicker-toggle matSuffix [for]="picker5">
                            <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <!--datepicker ends-->
    </div>
    <div class="col-12 float-left no_pad mt30">
        <button aria-label="Submit" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close >Submit</button>
    </div>
</div>