<div class="col-12 float-left no_pad popup-container newchildconvo">
 
    <div class="col-12 float-left container-dialog">
    <div class="col-12 float-left no_pad popup-hd">
    <span class="col-10 float-left no_pad popup-hd-txt" mat-dialog-title>Lead Rejection Reason</span>
    <button class="float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close" mat-dialog-close  ></button>
    </div>
     
    <div class="col-12 float-left border-bottom-grey"></div>
     
    <div class="col-12 float-left no_pad mt10">
     
    <span class="col-12 float-left no_pad txt-style">Lorem ipsum Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Lorem ipsum Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</span>
     
    </div>
     
    </div>
    <div class="col-12 float-left no_pad">
    <button aria-label="Close" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close >Close</button>
    </div>
    </div>