<div class="col-12 float-left no_pad edit-para-container popup-container-opportunity">
    <div class="col-12 float-left container_dialog">
        <div class="col-12 float-left no_pad popup-hd">
            <span class="col-10 float-left no_pad popup-hd-txt mb-0" mat-dialog-title>{{leadsData.title}}</span>
            <button id="btndef-none" class="col-1 no_pad float-right btndef-none mdi mdi-window-close close-icn"
                aria-label="close"  matTooltip="Close" mat-dialog-close></button>
        </div>

        <div class="col-12 float-left border-bottom-grey mb20"></div>

        <label for="DD1" class="padding-top-20  Nominations-on conversationName">{{leadsData.header}}</label>
        <div class="col-12 float-left no_pad YY mb10">
            <b class="reimagine ellipses ellipse-width" title="{{leadsData.name}}">{{leadsData.name}}</b>
        </div>
        <div class="col-12 float-left no_pad  NominationStart-label">

            <div class="col-12 float-left border-bottom-grey"></div>
            <perfect-scrollbar style="height:125px;">
                <div class="col-12 float-left no_pad mt20">
                    <p class="padding-top-20  Nominations-on conversationName mb-0">{{leadsData.leads.length}} {{leadsData.title}}</p>
                    <div class="col-12 float-left no_pad mt10">
                        <div class="col-12 float-left no_pad check-padding" *ngFor="let Data of leadsData.leads " matTooltip="{{Data}}">
                            <button class="btndef-none name-inpopup no_pad ellipses" >{{Data}}</button>
                        </div>

                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
    <div class="col-12 float-left no_pad">
        <button aria-label="ok" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close >OK</button>
    </div>
</div>