<div class="col-12 float-left no_pad popup-container ">
 
        <div class="col-12 float-left container-dialog">
        <div class="col-12 float-left no_pad popup-hd">
        <span class="col-10 float-left no_pad popup-hd-txt" mat-dialog-title>Restore account plan</span>
        <button class="float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close" mat-dialog-close  ></button>
        </div>
         
        <div class="col-12 float-left border-bottom-grey"></div>
         
        <div class="col-12 float-left no_pad">
         
        <span class="col-12 float-left no_pad logo-hd"> Apple Inc. FY 19-20 </span>
         
        <span class="col-12 float-left no_pad txt-style"> Your account plan will be sent to Rohit Roy (GCP) for approval process.
        Track approval status will be available on the account plan page. </span>
         
        </div>
         
        </div>
        <div class="col-12 float-left no_pad">
        <button aria-label="SUBMIT" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close >Submit</button>
        </div>
        </div>