<div class="col-12 float-left  no_pad db-container newchildconvo">

    <div class="col-12 float-left  container-dialog">
        <div class="col-12 float-left  no_pad popup-hd">
            <span class="col-10 float-left  no_pad search-db-hd-txt" mat-dialog-title>Searh and link opportunity</span>
            <button class="float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close" mat-dialog-close></button>
        </div>

        <div class="col-12 float-left border-bottom-grey"></div>
        <div class="col-12 float-left pad-20-pop">
            <div class="convo-name-title">Conversation name</div>
            <div class="convo-name mt5">Reimagine singtel procurement</div>
        </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt-20 mb20">

            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">

                <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" id="CompanyName" name="CompanyName"
                    type="text" [(ngModel)]="companyName" autocomplete="off" placeholder="Enter Account/Company name" (click)="showCompanySwitch = true"
                    (clickOutside)="companyNameClose()">
                <span class="mdi mdi-magnify"></span>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad z-ind-9  mt-10" *ngIf="companyName && showCompanySwitch ">
                    <ul class=" list-group color-azure autocomplete-box">
                        <perfect-scrollbar style="max-height:150px">
                            <li class="list-group-item" (click)="appendName(item.name)" *ngFor="let item of companyDetails |filter:companyName">

                                <span class="d-block list-name"> {{item.name}} </span>
                                <span class="sub-list d-block"> {{item.contact}} |{{item.location}} |{{item.BU}} </span>

                            </li>

                            <li class="d-block list-name h-40 p-10" *ngIf="(companyDetails |filter:companyName).length == 0"> No record found </li>
                        </perfect-scrollbar>

                    </ul>
                </div>

            </form>
        </div>


    </div>



</div>