$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;

.cursor-point{
  cursor: default;
}
.h-228 {
    height: 228px;
  }
.pt100 {
    padding-top: 135px;
  }
  .heading-level-two {
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px;
    color: $White;
    letter-spacing: -0.4px;
  }
  .brudcrumbs {
    position: relative;
    // left: 27px;
    // bottom: 12px;
    opacity: 0.8;
    font-size: 12px;
    color: #e7ebf2;
    margin-left: 8px;
  }
  .heading-custom {
    position: relative;
    left: 6px;
  }
  .cursor-pointer {
    cursor: pointer;
  }

  .descp{
    margin-top: 10px;
    padding-top: 10px;
  }
  
  .mdi-keyboard-backspace:before {
    content: "\F30D";
    font-size: 22px;
    color: #ffff;
    position: relative;
    // bottom: 40px;
  }
  .borderless{
    border:none !important;
    }
    .w-90
    {
        width: 90px;
    }





    $Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$DarkBlack: #2e2e2e;

// pop up styles start

.contact-txt {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #4a4a4a;
}

.mr-15 {
  margin-right: 15px;
}

.mt-150 {
  margin-top: 150px;
}
.acc-type {
  font-size: 10px;
  position: relative;
  top: 5px;
}

.popup-tabs {
  background-color: #d9e9ff;
  width: 100%;
  height: 75px;
  margin-top: 65px;
  position: absolute;
  left: 0px;
  right: 0px;
}

.popup-tabs-arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  margin-left: 76px;
  border-width: 17px 15px 0 15px;
  border-color: #d9e9ff transparent transparent transparent;
  line-height: 0px;
  margin-top: 3px;
}

.btn-circle {
  width: 35px;
  height: 35px;
  padding: 4px 0px;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1.42857;
}

.mr-lt {
  margin-left: -49px;
}

.mr-lt {
  margin-left: -55px;
}

.mt-09 {
  margin-top: 10px;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-105 {
  margin-top: 155px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

// pop up style end

.new-container {
  .input-border-left {
    border-left: none;
  }
  .border-btm {
    border-bottom: 2px solid;
  }
  .border-right {
    border-right: 2px solid $Azure !important;
  }
  .z-ind-9999 {
    z-index: 9999;
  }

  .z-ind-99 {
    z-index: 99;
  }
  .z-ind-9 {
    z-index: 9;
  }

  .mt-8 {
    margin-top: 8px;
  }

  .top62 {
    top: 62px;
  }
  .top64 {
    top: 64px;
  }
  .top66 {
    top: 66px;
  }
  .pad-30 {
    padding: 30px;
  }
  .mr10 {
    margin-right: 10px !important;
  }
  .mr2 {
    margin-right: 2px !important;
  }
  .h-40 {
    min-height: 40px;
  }
  .h-50 {
    min-height: 50px;
  }
  .pbottom-5 {
    padding-bottom: 5px;
  }
  .mt-10 {
    margin-top: 10px;
  }

  .br-0-4 {
    border-radius: 0px 4px 4px 0px !important;
  }
  .border-top-radius-4 {
    border-radius: 4px 4px 0px 0px !important;
  }
  .border-bottom-4 {
    border-radius: 0px 0px 4px 4px !important;
  }
  .border-top-4 {
    border-radius: 4px 4px 0px 0px !important;
  }
  .heading-level-one {
    font-family: WiproAkkuratTT-Bold;
    font-size: 24px;
    color: $White;

    small {
      font-family: "WiproAkkuratTT-Regular";
      font-size: 14px;
      padding: 0 30px;
    }
  }
  .primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
    margin: 0;
  }
  .borderless {
    border: none !important;
  }

  .h-180 {
    height: 136px;
  }
  .pad-30 {
    padding: 30px;
  }

  .card {
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: $White;
  }

  .heading-level-two {
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px;
    color: $DarkBlack;
  }

  .heading-level-three {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: $Black;
  }


  .heading-level-four {
    font-family: WiproAkkuratTT-Bold;
    font-size: 15px;
    color: $Black;
  }
  .divider {
    border: 1px solid $Marble;
  }

  .mt10 {
    margin-top: 10px;
  }
  .mt20 {
    margin-top: 20px;
  }
  .mt15 {
    margin-top: 15px;
  }
  .mt40 {
    margin-top: 40px;
  }
  .plb-20-20 {
    padding: 0px 20px 20px 0px;
  }
  .plb-20-10 {
    padding: 0px 20px 10px 0px;
  }
  .checkbox-label {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: $Metal;
    line-height: 1.43;
    letter-spacing: 0.3px;
  }

  .label-form {
    font-family: WiproAkkuratTT-Bold;
    font-size: 12px;
    color: #9b9b9b;
    margin-bottom: 0px !important;
  }
.label-form-data
{
    font-family: WiproAkkuratTT-Bold;
    font-size: 12px;
    color: #000000; 
}
  .CompanyName {
    .mdi-magnify:before {
      color: $Azure;
      font-size: 20px;
      right: 10px;
      position: absolute;
      bottom: 5px;
    }
  }

  .h-40 {
    height: 40px;
  }

  .w-110 {
    width: 110px;
  }

  .attach-btn {
    height: 40px;
    width: 110px;
    font-size: 12px;
    letter-spacing: 0.1px;
    cursor: pointer;
  }

  .add-btn {
    height: 40px;
    width: 40px;
    border-radius: 4px 0px 0px 4px;
    padding: 3px 6px;
    background: $White;
    border: 1.5px solid $Azure;
    font-family: WiproAkkuratTT-Bold;
    color: $Azure;
    outline: none;
    font-size: 18px;
    // width:40px;
  }
  .add-btn:hover {
    background: #2f81ff;
    color: white;
  }

  .attach-icon {
    width: 18px;
    height: 18px;
    transform: rotate(-90deg);
    text-align: center;
    position: relative;
    right: 6px;
    font-size: 18px;
  }

  .record-icon {
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 18px;
    position: relative;
    bottom: 5px;
    right: 3px;
  }

  .text-area-content {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: $Metal;
    resize: none;
    border: 1.5px solid $Marble;
    border-radius: 4px;
    background-color: #ffffff;
    height: 150px;
    padding: 10px;
    outline: none;

    &::placeholder {
      color: $MetalLight;
      font-family: WiproAkkuratTT-Regular;
    }

    &:focus {
      border-color: $Azure;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    }
  }
  .rel-top-18 {
    position: relative;
    top: -18px;
  }

  .label-input {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: $Metal;
    padding-right: 33px;
    padding-left: 10px;

    &:focus {
      border: 1.5px solid $Azure !important;

      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
      outline: none;
    }

    &::placeholder {
      color: $MetalLight;
      font-family: WiproAkkuratTT-Regular;
    }
  }

  .agenda-txt {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: $Metal;
    &::placeholder {
      color: $MetalLight;
      font-family: WiproAkkuratTT-Regular;
    }
  }

  .customized-input {
    input {
      &:focus {
        border: 1.5px solid $Azure !important;
        outline: none;
      }
    }
  }

  .list-group li:last-child {
    margin-bottom: 2px;
  }
  .list-group-item {
    cursor: pointer;
    font-size: 12px;
    color: $Azure;
    border: none;
    padding-left: 10px;
  }

  .top70 {
    top: 70px;
  }

  .list-group-item:hover {
    background-color: $River;
  }

  .customized-select {
    position: relative;
    select {
      width: 100%;
      min-height: 40px;
      border-radius: 5px;
      border: 1.5px solid rgba(0, 0, 0, 0.1);
      padding: 2px 5px;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: none;

      &:focus {
        outline: none;
        border-color: $Azure;
      }
    }
    select::-ms-expand {
      display: none !important;
    }
    .caret {
      top: 17px;
      right: 16px;
    }
  }

  .record-btn {
    border: 1.5px solid $Marble;
    color: $MetalLight;
    width: 91px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.1px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: WiproAkkuratTT-Bold;
    padding: 8px 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .record-btn-active {
    border: 1.5px solid $Azure;
    color: $Azure;
    width: 91px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.1px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: WiproAkkuratTT-Bold;
    padding: 8px 5px;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      color: $White;
      background: $Azure;
    }
  }
  /********** style for auto complete list start ***************/
  .list-name {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #000000;
  }

  .sub-list {
    font-size: 10px;
    color: #9b9b9b;
    font-family: WiproAkkuratTT-Regular;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .autocomplete-box {
    top: 0px;
    font-size: 14px;
    color: black;
    background-color: white;
    border: 1.5px solid $Azure;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: 0.2s;

    .list-group-item {
      cursor: pointer;
      height: 50px;
      padding: 10px;
    }

    .db-search {
      height: 40px;
      cursor: pointer;
      list-style-type: none;

      &:hover {
        background-color: #d9e9ff;
      }
      button {
        font-family: WiproAkkuratTT-Bold;
        font-size: 14px;
        letter-spacing: 0.3px;
        color: $Azure;
        outline: none;
        border: none;
        background: transparent;
        text-align: left;
        width: 100%;
        height: 100%;
      }
    }

    .list-box:hover {
      background-color: #d9e9ff;
      cursor: pointer;
    }

    .btn-none {
      outline: none;
      border: none;
      background: transparent;
    }
  }
  .z-ind-9 {
    z-index: 9;
  }

  /********** style for auto complete list end ***************/

  /**** style for wipro contact auto complete start ***/

  .p-4-10 {
    padding: 4px 10px 4px 10px;
  }
  .btn-key {
    width: 54px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1.5px solid $Azure;
    display: inline-block;
    text-align: center;

    margin-top: 9px;
    margin-left: 35px;
  }

  /**** wipro contact end **********/

  .download {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: $Azure;
    letter-spacing: 0.3px;
    text-align: right;
    cursor: pointer;
  }

  .attachment {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: $MetalLight;
    letter-spacing: 0.3px;
  }
  .mobile-buttons {
    display: none;
  }
  .cancel-btn {
    height: 50px;
    background: $River;
    color: $Azure;
    padding: 14px;
    font-size: 14px;
    font-family: WiproAkkuratTT-Bold;
    border: none;
  }
  .save-btn {
    height: 50px;
    background: $Azure;
    color: $White;
    padding: 14px;
    font-size: 14px;
    font-family: WiproAkkuratTT-Bold;
    border: none;
  }
  .padding-left5 {
    padding-left: 5px;
  }
  .pos-rel {
    position: relative;
  }
  .cust_calan {
    input {
      border: 1.5px solid #d8d8d8 !important;
      border-radius: 4px;
      outline: none;
      padding-left: 8px;
      padding: 6px;
    }
    .mat-datepicker-toggle {
      position: absolute;
      right: 10px;
    }
  }
  .mat-calendar-header {
    background-color: #103f86;
    padding: 1px 0 1px 0 !important;
    margin-bottom: 12px;
    border-radius: 4px 4px 0px 0px;
  }
  .mat-calendar-controls {
    display: flex;
    margin: 3% calc(33% / 7 - 16px) !important;
  }
  .mat-calendar-previous-button {
    right: 15em;
    color: $White !important;
  }
  .mat-calendar-next-button {
    color: $White !important;
    right: 0.6em;
  }
  .mat-button .mat-button-wrapper > * {
    display: none !important;
  }
  .mat-calendar-period-button {
    min-width: 0;
    left: 6.8em;
    color: white;
    box-shadow: none !important;
  }
  .mat-datepicker-content .mat-calendar-next-button,
  .mat-datepicker-content .mat-calendar-previous-button {
    box-shadow: none !important;
  }
  .cal_brdr {
    .mat-form-field-flex {
      background-color: #fff;
      border: 1.5px solid #ccc;
      border-radius: 4px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0.4375em 0;
      padding-left: 10px;
      padding-right: 5px;
      height: 40px;
    }
    .mat-form-field-infix {
      position: relative;
      border: 0;
      padding: 3px;
    }
    .mdi-calendar-blank:before {
      color: #2f81ff;
      font-size: 20px;
      position: relative;
    }
    .mat-icon-button {
      position: relative;
      outline: none;
    }
    .mat-icon-button:hover {
      box-shadow: none;
    }
    .mat-focused {
      border-color: transparent !important;
    }
  }
}
.opacity-0 {
  opacity: 0;
}
.plb-60-20 {
  padding: 0 60px 10px 0;
}
.pb21 {
  padding-bottom: 11px;
}
.tagged-box {
  height: 40px;
  border-radius: 4px;
  color: #2f81ff;
  background-color: #d9e9ff;
  padding: 10px 5px 0px 10px;
  width: auto;
  margin: 5px 0;
}
.close-lead {
  color: $Azure;
  font-size: 16px;
}
.mt12 {
  margin-top: 12px;
}
.label-form-blue {
  font-family: "WiproAkkuratTT-Regular";
  font-size: 14px;
  color: #2f81ff;
}
.mt-30 {
  margin-top: 30px;
}
.w-160 {
  width: 160px;
}
.w-113 {
  width: 113px;
}
.w-80.name {
  width: 80%; //mar-14
  padding: 10px 3px 3px 10px !important;
}
.w-94 {
  width: 94%;
}
.selected-tags  //mar-14
 {
  .p-4-10 {
    padding: 6px 10px 4px 10px !important;
  }
}
.commets {
  margin-bottom: 8px;
  width: auto !important;
  text-align: left !important;
  .icon {
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(0deg);
    text-align: center;
    position: relative;
    right: 2px;
    font-size: 18px;
    bottom: 4px;
  }
}

// som mar-30
.extra-link {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: left;
  height: 40px;
  padding: 10px;

  .icon {
    font-size: 20px;
    position: absolute;
    bottom: 3px;
  }
  .txt {
    padding-left: 26px;
  }
}
.mx-width-90per {
  max-width: 90%;
}
.pad-7 {
  padding: 7px;
}
.mt60
{margin-top: 60px;}


.upload_container-opportunity
{
  .hero{
    background: transparent;
    }
      
    
    .upload-box{
        width: 100%;
      height: auto;
      //display: inline-block;
     // background: #2C3139;
    }
     
    
      .upload-box-header{
        width: 100%;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #3A414A;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .control-circles{
    padding-left: 15px;
          height: 14px;
        }
          
    
          .circle{
            display: inline-block;
            margin: 0 4px;
            width: 14px;
            height: 14px;
            border-radius: 50%;  
          }
           
    
            .circle .is-green{
    background: #6CEFBD;
            }
              
    
            .circle .is-yellow{
    background: #FFE28B;
            }
              
    
            .circle .is-red{
    background: #FF7080;
            }
              
    
        
    
         .header-title h2 +unselectable{
     font-size: 18px;
            font-weight: 400;
            color: #8793A2;
         }
            
           
    
        .gh-icon{
    padding-right: 15px;
        }
          
    
          .gh-icon i{
    font-size: 24px;
            color: #8793A2;
            margin-right: 5px;
            margin-left: 36px;
            cursor: pointer;
          }
            
    
      
    
        .upload-item, .drop-container{
    width: 100%;
          height: auto;
          //box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
          background: #ffffff;
          float: left;
        }
          
    
        .drop-container{
   // display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
         background:  #eeeeee;
        }
          
    
          p{
            font-size: 16px;
            font-weight: 400;
            color: #8793A2;
    }
    .drag_txt
    {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: #2f81ff;
     font-family: WiproAkkuratTT-Regular;
     text-align: center;
     margin-bottom: 30px;
    }
          .upload-button{
            display: inline-block;
            border: none;
            outline: none;
            cursor: pointer;
            font-family: WiproAkkuratTT-Bold;
            font-weight: bold;
    }
            input{
              display: none;
    }
        .upload-item{
          display: flex;
          align-items: center;
          //padding: 0 30px;
          margin-bottom: 10px;
         
    }
    .upload-item:first-child
    {
      margin-top: 12px;
    }
    .upload-item:last-child
    {
      margin-bottom: 30px;
    }
          .upload-item-content{
           // width: 100%;
    }
            .filename{
              display: flex;
              align-items: center;
            
    }
              .filename i{
                color: #8793A2;
                opacity: .8;
                font-size: 24px;
                margin-right: 5px;
    }
    //           .filename span{
    // color: #8793A2;
    //             font-size: 14px;
    //             font-weight: 400;
    //           }
                
    
            .progress-content{
              display: flex;
              align-items: center;
              margin: 3px 30px 0px 7px;
    }
              .progress{
    display: block;
                position: relative;
                width: 100%;
                height: 8px;
                border-radius: 28px;
                background: #d7d7d7;
                margin-bottom: 0;
              }
                
    
                .bar{
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 12px;
                 // background: linear-gradient(90deg, rgba(19,235,255,1) 0%, rgba(108,239,189,1) 100%);
                 background: #417505;
                 
                 
    }
                  .bar .is-done{
                      background: #6CEFBD;
                  }
                    
    
            .progress-text-content{
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 4px 7px 0;
    }
              .progress-text{
                font-size: 11px;
                //font-weight: 600;
                color: #9b9b9b;
                transition: color 200ms ease-out;
                font-family: WiproAkkuratTT-Regular;
    }
                .progress-text .is-done{
                color: #7ed321;
                }
                .grn_clr
                {
                  color: #7ed321;
                }
                  
    
              .speed-and-eta-text{
    font-size: 13px;
                font-weight: 600;
                color: #8793A2;
              }
              .upload_card
              {
                border-radius: 5px;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
                background-color: #ffffff;
              }
                .extension
                {
                  padding: 23px 10px;
                  background-color: #417505;
                  border-radius: 5px 0px 0px 5px;
                  font-family: WiproAkkuratTT-Bold;
                  font-size: 14px;
                  font-weight: bold;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  text-align: center;
                  color: #ffffff;
                  text-transform: uppercase;
                  width: 60px;
                }
                .cntnt_name
                {
                  letter-spacing: 0.4px;
                  color: #000000;
                  font-size: 12px;
                  font-family: WiproAkkuratTT-Regular;
                  padding-top: 10px;
                }
                .file_img
                {
                  text-align: center;
                  margin-top: 30px;
                  margin-bottom: 20px;
                }
                // .uploding_div
                // {
                //   padding: 12px 25px 30px 25px;
                // }
    
}
   
       .loader {
 margin: 200px auto;
 border: 6px solid #f3f3f3;
 border-radius: 50%;
 border-top: 6px solid #3498db;
 width: 64px;
 height: 64px;
 -webkit-animation: spin 2s linear infinite; /* Safari */
 animation: spin 2s linear infinite;
 
}
.loaderContainer {
 width: 100%;
 top:0em;
 position: absolute;
 height: 100%;
 z-index: 9999;
 background: white;
}
@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
 }

 .attachment-type {
  font-family: WiproAkkuratTT-bold;
  font-size: 12px;
  color: $MetalLight;
  letter-spacing: 0.3px;
  position: relative;
  top: -8px;
}
.mdi-information-outline:before {
  content: "\F2FD";
  font-size: 16px !important;
  color: #2f81ff;
}
.mdi-download{
  display: none;
  cursor: pointer;
}
.download-uploaded-file:hover .mdi-download{
  display: block;
}
.download-uploaded-file:hover .mdi-file-document{
  display: none;
}
.new-attachment{
  float: right;
  position: absolute;
  right: 0;
  width: 110px;
  height: 40px;
  border: 2px solid #2f81ff;
  background: #fff;
  color: #2f81ff;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  font-family: WiproAkkuratTT-Bold;
}
.new-attachment:hover{
  background-color: #2f81ff;
  color: #fff;
}
.mdi-attachment:before{
  width: 18px;
  height: 27px;
  transform: rotate(-90deg);
  text-align: center;
  position: relative;
  right: 4px;
  font-size: 16px;
}
.new-inputattach{
  float: right;
  width: 110px;
  height: 40px;
  position: relative;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}