

<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab ">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left opportunity-landing-container no_pad">
  
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  no_pad">
          <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 float-left no_pad">
            <span class="float-left mdi mdi-keyboard-backspace cp" (click)="goBack()"></span>
            <div class="col-11 float-left">
              <h1 class="col-12 no_pad float-left heading-level-one ">Select order for amendment</h1>
  
              <span class="col-12 no_pad float-left brudcrumbs">Sales > Opportunities > Create opportunity</span>
            </div>
  
          </div>
          <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left no_pad create">
              <div class="float-right disp-flex save-cancel-responsive">
                <button class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50"
                  (click)="goBack()">Cancel</button>
                <button class="primary-button primary_create borderless h-40 std save-responsive-btn button-wd50" routerLink="/order/createamendmentchild"
                 >Create</button>
              </div>
            </div>
        </div>
      </div>
  
    </div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-178">
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad opportunity-landing-container "
    >
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-30 top-24 mt-126">
  
      <div class="col-12 float-left card no_pad ">
        <div class="col-12 card-content float-left pad-create-lead1">
          <div class="col-12 float-left pt-10">
            <h2 class="col-6 float-left no_pad heading-level-two pad-top-8">Search by</h2>
          </div>
        </div>
        <span class="border-bottm"></span>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-create-lead">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">

  
            <!-- amendment section starts from here.. -->
            <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" >
  
  
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="accountname"
                  class="label-form"> Account name</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">
  
                  <div class="flex-grow-1">
                    <app-auto-complete-select [requiredField]="false" [source]="AccountnameArray" (content)="wiproLinkedAGP($event)"
                      [Placeholder]="'Select account'" [showSelected]=false>
                    </app-auto-complete-select>
                  </div>
                </div>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="ordernumber"
                    class="label-form">Order number</label>
                  <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text "
                    id="ordernumber" name="ordernumber" type="text" placeholder="Search by order number"
                    autocomplete="off">
                </div>
                
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="opportunityName"
                    class="label-form">Opportunity name / number</label>
                  <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text "
                    id="opportunityName" name="opportunityName" type="text" placeholder="Search by Opportunity name"
                    autocomplete="off">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left">
          <button class="col-3 primary-button h-40 std  save-responsive-btn button-wd50 mr10 mt20 primary_create" >Search</button>
                </div>
            </form>
            <!-- amendment section ends here.. -->
  
          </div>
        </div>
      </div>
  
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 no_pad" >
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 no_pad"> 
            <label class="col-12 label-font float-left no_pad">Orders ({{createamendment.length}})</label></div>
          <div class="parent-container new-resp-tbl" *ngIf="createamendment.length>0">
            <app-single-table 
            (detectActionValue)="performTableChildAction($event)"
            [TableName]="'createamendmentname'"
            [TableCollection]="createamendment"
            [IsRadioRequired]=true
            [IsActionFixed]=true 
            [IsFreezedColumn]=true 
            [IsCustomizeTable]=true 
            [bgParentColor]="'bgWhiteContainer'"

            [paginationPageNumber]="paginationPageNo"
            [totalTableCount]="tableTotalCount"
            
            [IsTabList]="tabList"
            (selectedValue)="appendConversation($event)" 
            [TabValueSelected]="">
            </app-single-table>
          </div>
        </div>
  
    </div>
  </div>