
<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab child-conversation-landing conver-archive">
    <h1 class="float-left heading-level-one mtop6" title="Approval & task">
      <span class="mdi mdi-arrow-left cp mr10 mtop6" (click)="navTo()"></span>Approvals & Tasks</h1>




  </div>
</div>

<!-- main div starts here -->
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad child-conversation-landing pad-top-61">
  <div class="col-12 pos-abs bg-mid_night pad-30"
    [ngClass]="userdat.tableRecordsChecked == true ? 'is-checked':'not-checked'">
  </div>
  <div class="col-12 no_pad float-left conver-archive">

    <div class="col-12 ptop-20 no_pad vertical-btns-div flex-tab  pad-top-45">
      <div class="col-lg-11 col-md-8 col-12 no_pad flex-tab-width web-tab max-wid-tab"
        [ngClass]="userdat.chatBot ?'col-xl-8 ':'col-xl-7 '">
        <button [attr.aria-selected]="contactstab ? true : '' "
          class="col-lg-3 col-sm-4 col-md-4 col-4 sub-vertical-but brd-right0 " routerLink="/home/approvaltask/approval"
          routerLinkActive="active" (click)="userdat.checkFalse()">
          <span class="no_pad mdi mdi-clipboard-check-outline calin-select-all pr5 pos_rel top-2"></span>
          <span class=" no_pad btntxt-s pos-btn">
            Approvals</span>
        </button>

        <button [attr.aria-selected]="plantab ? true : '' "
          class="col-lg-3 col-sm-4 col-md-4 col-4 pull-right sub-vertical-but brd-left0 "
          routerLink="/home/approvaltask/task" routerLinkActive="active" (click)="userdat.checkFalse()">
          <span class="no_pad calin-select-all mdi mdi-settings pr5 pos_rel top-2"></span>
          <span class=" no_pad btntxt-s pos-btn">
            Tasks</span>
        </button>



      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-11 no_pad flex-tab-width mobile-tab mt15">
        <button routerLink="/home/approvaltask/approval" routerLinkActive="active"
          [attr.aria-selected]="contactstab ? true : '' "
          class="col-lg-3 col-sm-4 col-md-3 col-6 sub-vertical-but brd-right0 ">
          <span class="no_pad mdi mdi-clipboard-check-outline calin-select-all pr5 pos_rel top-5"></span>
          <span class=" no_pad btntxt-s">Approval</span>
        </button>
  
        <button routerLink="/home/approvaltask/task" routerLinkActive="active" [attr.aria-selected]="plantab ? true : '' "
          class="col-lg-3 col-sm-4 col-md-3 col-6 pull-right sub-vertical-but brd-left0 ">
          <span class="no_pad calin-select-all mdi mdi-settings pr5 pos_rel top-5"></span>
          <span class=" no_pad btntxt-s">Task</span>
        </button>
      </div>
    </div>


     <div class="pad-30 pt-0">
      <div class="col-4 float-right no_pad">
        <button
          class="btn-down-leads mdi mdi-download float-right standard-border bg-transparent color-white ml10 d-none" aria-label="download"></button>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<!-- main div ends here -->