<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab opportunityPage new-container">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
      <div class="col-5 col-sm-12 col-md-6 col-lg-5 col-xl-5 float-left no_pad">

        <button class="mdi mdi-keyboard-backspace cursor-pointer float-left back-buttonbg" (click)="goBack()" role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
        <h1 class="heading-level-one heading-custom">Order site map</h1>
        <span class="brudcrumbs">Opportunities</span>
      </div>
    </div>
  </div>
</div>

<div clas="col-12 float-left ">
  <div
    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-285 new-container">
  </div>

  <!-- code goes here -->

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt110">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card pad-20-30 mb20 ipmoreoption">

        <!-- alliance_projection Accordian Starts-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad_t0 mb30 card-heading">
          <div class="col-12 no_pad float-left mb15">
          <span class="card-title pad-top-8">Site map details</span>
          </div>

          <div class="col-12 float-left border-bottom-grey"></div>

          <table class="no_pad">
            <thead>
              <tr>
                <th class="br-tl">Process Step</th>
                <th>Process Name</th>
                <th>Process Value</th>
                <th>Remarks</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody class="no_pad">
              <tr *ngFor="let data of process_table">
                <td class="colr-azure">{{ data.processstep }}</td>
                <td>{{ data.processname }}</td>
                <td>{{ data.processvalue }}</td>
                <td>{{ data.remarks }}</td>
                <td [ngClass]="data.status == 'Active' ? 'colr-green' : 'colr-orange' ">{{ data.status }}</td>
              </tr>
            </tbody>
          </table>
     


        </div>
        <!-- alliance_projection Accordian Ends-->


      </div>
    </div>
  </div>
</div>