/*** app landing page **/
$white:#ffffff;
$loginLabel:#9b9b9b; 

.app_landing_container{
  .h-185
  {
    height: 185px;
  }
    .w-100{
    
      width: 100%;
    }
    
    .pt-10{
    
      padding-top: 0.63em;
    }
    
    .pb-15{
    
      padding-bottom: 0.94em;
    }
      .module_card{
        outline:none;
        cursor:pointer;
      }
    
      .card_image{
    
        background-color:$white;
        box-shadow: 0 2.5em 4.38em 0.63em rgba(0, 0, 0, 0.08);
      }
      .txt_style{
        font-family: WiproAkkuratTT-Regular;
        font-weight: bold;
        padding:0.94em 0.94em 1.56em 1.56em ;
        font-size: 1.1em;
      }
    
     
      .brad_6{
    
        border-radius :0.38em;
      }
      .Acc_header {
      
         font-family: WiproAkkuratTT-Regular;
        font-size: 1.4em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $loginLabel;
        margin-top: 1.06em;
      }
    
      .secondary_txt{
    
    
        font-family: WiproAkkuratTT;
        font-size: 0.9em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $loginLabel;
        
    
    
      }
      
    .pl-15{
    
      padding-left: 15px;           
    }
      .mt-70{
    
        margin-top:4.38em;
      }
    
      .pb-15{
    
        padding-bottom: 15px;
      }
    
      .pb-16{
    
        padding-bottom: 16px;
      }
    
      .pb-18{
    
        padding-bottom: 18px;
      }
    
      .pb-25{
    
        padding-bottom:25px;
      }
    
      .d_flex{
    
        display: flex;
      }
    
      .flex_1{
    
        flex:1;
      }
      .display_flex
{
    display: flex;
    margin-top: 100px;
}
.cp
{
    cursor: pointer;
}

    }
    
    
    /** app landing page end **/