<div clas="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad new-container respon create-lead-page">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-228 new-container">
    </div>

    <!-- code goes here -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-30">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card pad-30 mb-0 block-disp">
            <span class="back-arrow-helpdesk mdi mdi-arrow-left mobile-head" (click)="goback()"></span>
            <h2 class="heading-level-two mobile-headml20"> Track changes in opportunity/order number </h2>
            <label class="col-12 mt10 border-botton-pad-10 mb-0 float-left pad-RL-30 heading-level-three ">Search </label>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left pad-45 mt20">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad customized-input">
                    <span class="col-1 no_pad float-left mt30 radio-fontfamly">
                       <mat-radio-button name="radiobtn" value=true [checked]="true" (click)="toggle(true)" 
                       class="no_pad float-left"></mat-radio-button>
                    </span>
                        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 float-left no_pad customized-input">
                        <label for="ordernumber" class="mb-0 label-form">Order Number</label>
                        <input id="ordernumber" type="text" [(ngModel)]="OrderNumber" [disabled]="!textBoxDisabled" class="border-gray w-100" 
                        placeholder="Enter order number" (keyup)="$event.keyCode == 13 ? getOrderDetails() : null">
                        </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left pad-45 mt20">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad customized-input">
                    <span class="col-1 no_pad float-left mt30 radio-fontfamly">
                      <mat-radio-button class="col-1 no_pad float-left mt30 radio-fontfamly" name="radiobtn" value=false (click)="toggle(false)"
                      class="no_pad float-left"></mat-radio-button>
                    </span>
                    <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 float-left no_pad customized-input">
                        <label for="opportunityid" class="mb-0 label-form">Opportunity ID</label>
                        <input id="opportunityid" type="text" [(ngModel)]="OpportunityId" class="border-gray w-100" 
                        placeholder="Enter opportunity id" [disabled]="textBoxDisabled" (keyup)="$event.keyCode == 13 ? getOrderDetails() : null">
                    </div>
                </div>
            </div>

            <button type="button" class="float-right btn-text h-40 std save-responsive-btn btn-width120 mt20 mr45" 
            [ngClass]="getSearchDisable() ?'disableAssign':''" [disabled]="getSearchDisable()" 
            (click)="getOrderDetails()">Search</button>
        </div>

    </div>


    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-0-30 pad-btm-100">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card no_pad mb-0 block-disp">
            <label class="col-12 float-left pad-RL-30 heading-level-three mt20 ">Result </label>

            <app-simple-scroll-table [TableHeader]="headernonsticky1" [TableCollection]="helpdeskTrack" 
            [IscheckBoxRequired]=false [totalTableCount]="tableCount" [TableName]="'trackorder'" 
            [IsPaginationRequired]=false></app-simple-scroll-table>
        </div>

    </div>
</div>