$MetalLight: #9b9b9b;
$Azure: #2f81ff;


.create-document-container
{
    .attach-icon-deal {
        position: absolute;
        right: 1px;
        top: 1px;
        background: #2f81ff;
        color: #fff;
        height: 38px;
        border-radius: 0px 4px 4px 0px;
        &:before {
          transform: rotate(-90deg);
          font-size: 18px;
          position: relative;
          top: -4px;
        //   position: absolute;
        //   left: 5px;
        //   bottom: 7px;
        }
      }
    .upload-input
    {
      position: absolute;
      padding: 6px 0;
      right: -1px;
      top: -2px;
      z-index: 9;
      opacity: 0;
    }
    .w-121
    {
        min-width: 40px;
        width: 40px;
    }
    .attach-span
    {
        height: 40px;
        border-radius: 4px;
        border: 1.5px solid;
        padding: 3px 8px;
        border-color: #d8d8d8;
        float: left;
    }
    .primary-button.std{
        padding: 9px 5px;
        min-width: 110px;
        }
        .h-40 {
            height: 40px;
        }
        .mr10 {
            margin-right: 10px;
        }
        .borderless {
            border: none !important;
        }
       .pad-30 {
            padding: 30px;
        }
        .card {
            border-radius: 5px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
        }
       .cust_autoComplete input {
            border: 1.5px solid #d8d8d8;
            position: relative;
            border-radius: 4px;
            padding-right: 35px;
        }
        .label-input {
            font-family: WiproAkkuratTT-Regular;
            color: #000000;
        }
        .CompanyName .mdi-magnify:before {
            color: #2f81ff;
            font-size: 20px;
            right: 10px;
            position: absolute;
            bottom: 5px;
        }
        .top64 {
            top: 64px;
        }
        .z-ind-99 {
            z-index: 99;
        }
        .border-right {
            border-right: 2px solid #2f81ff !important;
        }
        .border-btm {
            border-bottom: 2px solid;
        }
        .sort-dropdown {
            background: white;
        }
       
        .list-group-item {
            cursor: pointer;
            font-size: 12px;
            color: #2f81ff;
            border: none;
        }
        .list-name {
            font-family: WiproAkkuratTT-Regular;
            font-size: 14px;
            color: #000000;
        }
        .p-4-10 {
            padding: 6px 10px 4px 10px !important;
        }
        .mt-10 {
            margin-top: 10px;
        }
        .tagged-box {
            height: 40px;
            border-radius: 4px;
            color: #2f81ff;
            background-color: #d9e9ff;
            padding: 10px 5px 0px 10px;
            width: auto;
            margin: 5px 0;
        }
        .w-94 {
            width: 94%;
        }
        .close-lead {
            color: #2f81ff;
            font-size: 16px;
        }
        .text-area-content {
            font-family: WiproAkkuratTT-Bold;
            font-size: 14px;
            color: #4a4a4a;
            resize: none;
            border: 1.5px solid #d8d8d8;
            border-radius: 4px;
            background-color: #ffffff;
            height: 150px;
            padding: 10px;
            outline: none;
            &::placeholder {
                color: $MetalLight;
                font-family: WiproAkkuratTT-Regular;
              }
          
              &:focus {
                border-color: $Azure;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
              }
        }
        .heading-level-three {
            font-family: WiproAkkuratTT-Bold;
            font-size: 16px;
            color: #000000;
        }
        .attach-btn {
            height: 40px;
            width: 110px;
            font-size: 12px;
            letter-spacing: 0.1px;
            cursor: pointer;
        }
        .attachment {
            font-family: WiproAkkuratTT-Regular;
            font-size: 14px;
            color: #9b9b9b;
            letter-spacing: 0.3px;
        }
        .download {
            font-family: WiproAkkuratTT-Bold;
            font-size: 14px;
            color: #2f81ff;
            letter-spacing: 0.3px;
            text-align: right;
            cursor: pointer;
        }
        .mb5
        {
            margin-bottom: 5px;
        }
}

.loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
.loaderContainer {
  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 .margin-btm0
 {
     margin-bottom: 0;
 }

 .error {
    border: 1.5px solid #ef3341 !important;
  }