<form [formGroup]="proposalForm">
  <div class="top-header" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab create-document-container">
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad">
        <h1 class="heading-level-one">Edit document</h1>
      </div>

      <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left no_pad">
        <div class="float-right disp-flex save-cancel-responsive">
          <button class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50"
          (click)="routerTab()">Cancel</button>
          <button class="primary-button borderless h-40 std save-responsive-btn button-wd50"
            (click)="onSubmit(proposalForm)">Save</button>
        </div>
      </div>

    </div>
  </div>

  <ng-container *ngIf="isLoading; else elseTemplate">
    <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
        <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
          <div class="loaderContainer">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad create-document-container mar-top-65">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-180 "> </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card margin-btm55 no_pad  mt40">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-30 ">
            <div class="col-12 float-left no_pad customized-input">



              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 pb21 mt20">
                <div class="w-100">
                  <label for="Pricing" class="label-form w-100">Document name<span class="required"> *</span></label>
                  <div class="customized-select">
                    <input class="border-gray w-100" placeholder="Enter document name" id="Pricing" type="text"
                      formControlName="Name" [ngClass]="{'error': proposalForm.controls['Name'].errors}"
                      maxlength="100">
                    <p *ngIf="proposalForm.controls['Name'].touched && proposalForm.controls['Name'].value == ''"
                      class="error-message top-40">Please enter document name</p>
                    <p *ngIf="proposalForm.controls['Name'].errors?.range" class="error-message top-40">Document
                      name cannot exceed 100 characters</p>
                    <p *ngIf="proposalForm.controls['Name'].errors?.isError" class="error-message top-40">Please
                      enter a valid document name</p>
                  </div>
                </div>

              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 pb21 mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad mb5"
                  for="calStart">Planned submission date
                  <span class="required"> *</span>
                </label>

                <div class="pos-rel">
                  <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                    <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan customized-input">
                      <input class="col-12 col-lg-12 col-sm-12 col-md-12 float-left " id="calStart"
                        (click)="picker2.open()" (keypress)="picker2.open()" [matDatepicker]="picker2"
                        title="DD/MMM/YYYY" placeholder="DD-MMM-YYYY" formControlName="SubmissionDate"
                        [ngClass]="{'error': proposalForm.controls['SubmissionDate'].errors}">
                      <mat-datepicker-toggle matSuffix [for]="picker2" disabled>
                        <span (click)="picker2.open()" class="mdi mdi-calendar-blank float-right no_pad"
                          matDatepickerToggleIcon></span>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                      <p *ngIf="proposalForm.controls['SubmissionDate'].touched && !proposalForm.controls['SubmissionDate'].valid"
                        class="error-message top-40">Please enter plan submission date</p>
                      <!-- <p *ngIf="proposalForm.controls['SubmissionDate'].value <= minDate"
                        class="error-message top-40">Please enter valid plan submission date</p> -->
                    </div>
                  </div>
                </div>
              </div>



<!-- 
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 pb21">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad mb5"
                  for="calStart">Select approver
                  <span class="required"> *</span>
                </label>

                <div class="pos-rel">
                  <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                    <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan customized-input">
                      <mat-form-field class="col-12 no_pad float-left">
                        <mat-label>Select approver</mat-label>
                        <mat-select id="StaTus" formControlName="Approver" disableOptionCentering
                          panelClass="Select-panel-class" class="select-focus" (selectionChange)="approverData($event.value)">
                          
                          <mat-option *ngFor="let ele of approvarArr" [value]="ele.AdId">{{ele.FullName}}</mat-option>
                        </mat-select>
                        <p *ngIf="proposalForm.controls['Approver'].touched && proposalForm.controls['Approver'].value == ''"
                          class="error-message top-40">Please enter approver name</p>
                        <p *ngIf="proposalForm.controls['Approver'].errors?.isError" class="error-message top-40">
                          Please
                          enter a valid approver name</p>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div> -->


              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 web-select-box mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="approverSelection"
                  class="label-form"> Select Approver
                </label>
                <mat-form-field class="col-12 no_pad float-left">
                  <mat-label>Select approver</mat-label>
                  <mat-select id="approverSelection" formControlName="Approver" disableOptionCentering
                    panelClass="Select-panel-class" class="select-focus" aria-label="{{selectactionType}}"
                    aria-required="true">
                    <!-- <mat-option>None</mat-option> -->
                    <mat-option *ngFor="let ele of approvarArr" [value]="ele.AdId" matTooltip="{{ele.FullName}}">
                      {{ele.FullName}}</mat-option>
                  </mat-select>
                  <p *ngIf="proposalForm.controls['Approver'].errors?.isError" class="error-message top-40">
                    Please enter a valid approver name</p>
                </mat-form-field>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mobile-select-box mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="approverSelection"
                  class="label-form"> Select Approver
                </label>
                <mat-form-field class="col-12 no_pad float-left">
                  <mat-label>Select approver</mat-label>
                  <mat-select id="approverSelection" formControlName="Approver" disableOptionCentering
                    panelClass="Select-panel-class" class="select-focus" aria-label="{{selectactionType}}"
                    aria-required="true">
                    <!-- <mat-option>None</mat-option> -->
                    <mat-option *ngFor="let ele of approvarArr" [value]="ele.AdId" matTooltip="{{ele.FullName}}">
                      {{ele.FullName}}</mat-option>
                  </mat-select>
                  <p *ngIf="proposalForm.controls['Approver'].errors?.isError" class="error-message top-40">
                    Please enter a valid approver name</p>
                </mat-form-field>
              </div>


              <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 float-left plb-60-20 pb21 mt20">
                <div class="w-100">
                  <div class="customized-select">

                    <mat-form-field class="col-12 no_pad float-left">
                      <mat-label>Select approver</mat-label>
                      <mat-select id="StaTus" formControlName="Approver" disableOptionCentering
                        panelClass="Select-panel-class" class="select-focus">
                        <mat-option *ngFor="let ele of approvarArr" [value]="ele">{{ele.FullName}}</mat-option>
                      </mat-select>
                      <p *ngIf="proposalCreateForm.controls['Approver'].touched && proposalCreateForm.controls['Approver'].value == ''"
                        class="error-message top-40">Please enter approver name</p>
                      <p *ngIf="proposalCreateForm.controls['Approver'].errors?.isError" class="error-message top-40">
                        Please
                        enter a valid approver name</p>
                    </mat-form-field>


                  </div>
                </div>

              </div> -->

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 pb21 mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left label-form no_pad mb5"
                  for="calStart">Edit proposal document
                </label>

                <div class="pos-rel">
                  <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                    <div
                      class="mt-2 col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan customized-input font-bold">
                      <a href="{{editData.path}}" target="_blank">Click to edit document</a>
                    </div>
                  </div>
                </div>
              </div>


              <!-- datepicker ends -->

              <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left mt20">
                <label for="Ttype" class="label-form w-100">Select template type<span class="required"> *</span></label>


                <div class="col-12 padbox-10-60-10 float-left no_pad">
                  <mat-radio-group aria-label="Select an option" id="Ttype" formControlName="TemplateType"
                    (change)="templateChanged($event)">
                    <mat-radio-button value="1" class="mr20" checked>Wipro</mat-radio-button>
                    <mat-radio-button value="2" class="mr20">Customer</mat-radio-button>
                    <mat-radio-button value="3" class="mr20">Custom</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div> -->


              <!-- <div *ngIf="showTemplate" class="col-12 col-sm-12 col-md-6 col-lg-6 float-left mt20">

                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="dealA3"
                  class="label-form">Select template
                  <span class="required"> *</span>
                </label>
                <div class="customized-select">
                  <span class="caret color-azure"></span>
                  <select id="dealA3" role="listbox" formControlName="Template" (change)="onTemplateChange()">
                    <option value="" selected disabled>Select template </option>
                    <option *ngFor="let template of wpListTemplate" [value]=template.attachmentDetails[0].thirdPartyUrl>
                      {{template.attachmentDetails[0].fileName}}</option>
                   
                  </select>
                  <p *ngIf="proposalForm.controls['Template'].touched && !proposalForm.controls['Template'].valid"
                    class="error-message top-40">Please select template type</p>
                </div>
              </div> -->

              <!-- <div *ngIf="!showTemplate" class="col-12 col-sm-12 col-md-6 col-lg-6 float-left mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="dealA2"
                  class="label-form"> Attach template
                  <span class="required"> *</span>
                </label>
                <div class="customized-select">

                    <input class="border-gray w-100 attach-span" tabindex="-1" id="spnFilePath" formControlName="Path" readonly/>
                    <button class="primary-button btn-block w-121 mdi mdi-attachment attach-icon-deal cp" id="btnFileUpload" aria-label="upload file"> </button>
                        <input tabindex="-1" class="w-121 upload-input" #fileInput (click)="fileInput.value = null" id="fileUpload"
                        (change)="fileUpload($event)" type="file" accept=".docx, .pptx" 
                        name="files[]"/>
                        <input type="hidden" formControlName="Path" />

                  <p *ngIf="proposalForm.controls['Path'].touched && !proposalForm.controls['Path'].valid"
                    class="error-message top-40">Please choose file</p>
                </div>

              </div> -->



              <!-- <div *ngIf="showStatus" class="col-12 col-sm-12 col-md-6 col-lg-6 float-left mt20 web-select-box">

                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="StaTus"
                  class="label-form"> Status
                  <span class="required"> *</span>
                </label>
                <mat-form-field class="col-12 no_pad float-left">
                  <mat-label>Select status</mat-label>
                  <mat-select id="StaTus" formControlName="ProposalStatus" disableOptionCentering panelClass="Dummy"
                    class="select-focus">
                    <mat-option>Select status</mat-option>
                    <mat-option value="1">Create</mat-option>
                    <mat-option value="2">Status1</mat-option>
                  </mat-select>
                  <p *ngIf="proposalForm.controls['ProposalStatus'].touched && !proposalForm.controls['ProposalStatus'].valid"
                    class="error-message top-40">Please select status</p>
                </mat-form-field>
              </div> -->




            </div>



          </div>
        </div>
      </div>
    </div>
  </ng-template>
</form>