<div class="top-header" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12 header-action-tab new-container">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  no_pad">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad">
          <div class="col-12 no_pad float-left">
            <button class="mdi mdi-keyboard-backspace no_pad float-left buttonBack" (click)="nav()"></button>
            <h1 class="heading-level-one float-left" > Request campaign </h1>
          </div>
          <small class="labelClass float-left col-12 no_pad pl35" matTooltip="{{convresationName}}">{{convresationName}}</small>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left no_pad" *ngIf="leadinfo">
          <div class="float-right disp-flex web-button">
            <button class="primary-button secondary-btn btn-block h-40 mr10 std " (click)="opencancelpop()">Cancel</button>
            <button class="primary-button borderless btn-block h-40 std " (click)="steptwo()" >Next</button>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left no_pad" *ngIf="dealinfo">
          <div class="float-right disp-flex web-button">
            <div class="float-right">
              <button class="primary-button secondary-btn btn-block h-40 mr10 w-110" [ngClass]="saveClicked ? 'disabled-control' : 'primary-button'" (click)="opencancelpop()"  [disabled]="saveClicked">Cancel</button>
            </div>
            <div class=" float-right ">
              <button class=" borderless btn-block h-40 std w-184" [ngClass]=" (saveClicked || isCompleted) ? 'disabled-control' : 'primary-button'" (click)="finalRequestCampaign()" 
               [disabled]="saveClicked">
                <span class="mdi mdi-bullhorn pr5"></span>Request campaign
              </button>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
  <!-- main div starts here -->
<ng-container *ngIf="isLoading">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- <ng-template #elseTemplate> -->
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad new-container respon">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-180"> </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pt-125 pad-30 pad-top-135 scroll-middle-ios mb125">
    
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad disp-flex center pad-stepper-mob">
      <div class="col-5 col-sm-3 col-md-2 col-lg-2 col-xl-2 float-left no_pad ">
        <button class="round-btn active float-left" (click)="stepone()">
          <span class="float-left span-text">1</span>
          <span class="float-left active-text">Campaign details</span>
        </button>
        <span class="float-left horizontal-bar-one" [attr.aria-selected]="dealinfo || twoactive ? true : '' " [ngClass]="dealinfo || twoactive ?'active':''"></span>
      </div>
      <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1 float-left no_pad ">
        <button class="round-btn" [ngClass]="dealinfo || twoactive?'active':''">
          <span class="float-left span-text">2</span>
          <span class="float-left text-step" [attr.aria-selected]="dealinfo || twoactive ? true : '' " [ngClass]="dealinfo || twoactive ?'active-text':''">Channel
            details</span>
        </button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt60 margin-btm55 no_pad" *ngIf="leadinfo">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-create-lead">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
          <h2 class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-left no_pad heading-level-three pad-top-8">Campaign
            information </h2>
        </div>
        <!-- Campaign details form -->
        <form id="validatescroll" [formGroup]="campaignDetailsForm">
          <div class="col-12 no_pad float-left mt20">
            <div class="col-12 float-left no_pad">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 ">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="text" class="label-form" matTooltip="Give the campaign a name so that it is correctly identified">
                Campaign name
                <span class="required"> *</span>
              </label>
              <div class="pos-rel w-100 float-left no_pad">
              <input specialIsAlphaNumeric [attr.data-type]="'text'" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text" id="text" name="text"
                type="text" formControlName="Name" placeholder="Enter campaign name" required autocomplete="off" maxlength="100"
                (input)="inputChange($event)"
                [ngClass]="{'error': f.Name.touched && !f.Name.valid}">
                <p *ngIf="f.Name.touched && !f.Name.valid" class="error-message top-40">Enter campaign name</p>
                <p *ngIf="campaignDetailsForm.get('Name').errors?.range" class="error-message top-40" >Name cannot exceed 100 characters</p>
                <!-- <p *ngIf="campaignDetailsForm.get('Name').errors?.isError" class="error-message top-40" >Special characters are not allowed</p> -->
              </div>
            </div>

             <!--autocomplete starts here-->
             <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left cust_autoComplete pos-rel plb-60-20 ">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName" (clickOutside)="ConversationNameclose()" >
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="accountID"
                  class="label-form">
                  Account/Company name </label>
                  <span class="required"> *</span>
                  <div class="pos-rel w-100 float-left no_pad">
                <input 
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                #accountlist
                id="accountID"
                name="accountID" 
                formControlName="CompanyName"
                placeholder="Search account/company" 
                type="text"
                role="combobox" 
                title="{{accountCompanyName}}"
                autocomplete="off" 
                aria-required="true"
                aria-owns="read"
                appKeyListControl
                [dataManipulate]=true
                [attr.data-isDownBtn]=true
                (arrowDown)="arrowkeyLocation=$event"
                [attr.data-selectedvalue]="accountCompanyName"
                [attr.aria-expanded]="ConversationNameSwitch?true:false"
                [attr.aria-activedescendant]="arrowkeyLocation"
                (input)="ConversationNameSwitch = true;arrowkeyLocation=0"
                (intialLoadData)="ConversationNameSwitch = true;clickAccountData();arrowkeyLocation=accountCompanyName?-1:0"
                (keyup.enter)="arrowkeyLocation=arrowkeyLocation==-1?0:arrowkeyLocation;appendConversation(searchAccountCompany[arrowkeyLocation],arrowkeyLocation);ConversationNameSwitch = false;arrowkeyLocation=0"
                (keydown)="ConversationNameSwitch = true"
                (keydown.Tab)="ConversationNameclose()"
                [attr.data-arrayMaxLength]="searchAccountCompany?.length"
                aria-autocomplete="list"
                [ngClass]="{'error': f.CompanyName.touched && f.CompanyName.invalid}">
                <p *ngIf="f.CompanyName.touched && f.CompanyName.invalid" class="error-message top-40"> Search account/company name </p>
                <span class="mdi mdi-magnify" *ngIf="ConversationNameSwitch || accountCompanyName ==''"></span>
                <span class="mdi mdi-close auto-close"
                (click)="clearAccountName();arrowkeyLocation=0;accountCompanyName=''"
                *ngIf="!ConversationNameSwitch && accountSysgiudConversation!=='' && f.CompanyName.status != 'DISABLED'"></span>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  border-right  float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-8 white-bg"
                  *ngIf="ConversationNameSwitch"
                  [attr.focus]="campaignDetailsForm.value.CompanyName && ConversationNameSwitch">
                  <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                    <span class="w-100 z-ind-9 float-left bg-white">
                    <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read"
                     [ngClass]="{'loader-search':isAccountNameSearchLoading }">
                      <li id="{{i}}" tabindex="0" role="option"  class="list-group-item" [ngClass]="service.chatBot ? 'list-DA-cap' : 'list-name'"
                      [class.active]="i==arrowkeyLocation" aria-disabled="false"
                      (click)="appendConversation(item,0)" 
                      *ngFor="let item of searchAccountCompany |filter:campaignDetailsForm.value.CompanyName; let i=index" title="{{item.Name}}" matTooltip="{{item.Name}}">
                        <span class="d-block list-name"> {{item.Name}} </span>
                          <span class="sub-list d-block">{{ (item.Number!==undefined)?item.Number:"NA" }} | {{item.Owner.FullName}} | {{item.Type.Value}}</span>
                      </li>
                      <li class="d-block list-name h-40 p-10" *ngIf="(searchAccountCompany |filter:campaignDetailsForm.value.CompanyName)?.length == 0 && !isAccountNameSearchLoading">
                        No record found  </li>
                    </ul>
                    </span>
                  </perfect-scrollbar>
                  <span class="db-search" (click)="openadvancetabs('AccountSearch',searchAccountCompany,f.CompanyName.value)">
                    <button id="{{searchAccountCompany?.length+1}}" role="option" tabindex="0" aria-disabled="false"
                      type="button" class="button-search"
                      [class.active]="searchAccountCompany?.length+1 == arrowkeyLocation">
                      <span class="mdi mdi-file-outline"></span> Advance look up
                    </button>
                  </span>
                </div>
              </div>

              <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact">
                <perfect-scrollbar style="max-height:250px">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left d-flex tagged-box mt-10 p-4-10 mr10"
                        *ngFor="let item of selectedAccc; let i=index" >
                        <label for="inti_name" class="float-left name w-94">
                            <span class="d-block color-azure mr10 float-left ellipses width-90" title="{{item.Name}}" matTooltip="{{item.Name}}">{{item.Name}}</span>
                        </label>
                        <span class="mdi mdi-close close-lead float-right cp ml10" role="button" *ngIf="accountCloseDisabled" (click)="delinkAcc(item,i)"></span>

                    </div>
                </perfect-scrollbar>
            </div> -->

            </div>
            <!--autocomplete ends here-->

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left cust_autoComplete pos-rel plb-60-20 ">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName" (clickOutside)="ConversationSBUNameclose()" >
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="sbuID"
                  class="label-form">
                  SBU </label>
                  <!-- <span class="required"> *</span> -->
                  <div class="pos-rel w-100 float-left no_pad">
                <input  
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" 
                #SBUlist
                id="sbuID"
                name="sbuID"
                formControlName="SBU"
                placeholder="Search SBU" 
                type="text"
                role="combobox"
                title="sbuName"
                autocomplete="off"
                aria-owns="read" 
                appKeyListControl
                [dataManipulate]=true
                [attr.data-isDownBtn]=true
                (arrowDown)="arrowkeyLocation=$event"
                [attr.data-selectedvalue]="sbuName"
                [attr.aria-expanded]="ConversationSBUNameSwitch?true:false"
                [attr.aria-activedescendant]="arrowkeyLocation"
                (input)="ConversationSBUNameSwitch = true;arrowkeyLocation=0" 
                (intialLoadData)="ConversationSBUNameSwitch = true;clickSBUData();arrowkeyLocation=sbuName?-1:0"
                (keyup.enter)="arrowkeyLocation=arrowkeyLocation==-1?0:arrowkeyLocation; SBUlist.value=searchSBUData[arrowkeyLocation].Name;arrowkeyLocation=0;
                appendSBUConversation(searchSBUData[arrowkeyLocation]);ConversationSBUNameSwitch=false;"
                (keydown)="ConversationSBUNameSwitch = true"
                (keydown.Tab)="ConversationSBUNameclose()"
                [attr.data-arrayMaxLength]="searchSBUData?.length"
                aria-autocomplete="list"
                >
                <span class="mdi mdi-magnify" *ngIf="ConversationSBUNameSwitch || sbuName ==''"></span>
                <!-- <p *ngIf=" f.SBU.touched " class="error-message top-40"> Search SBU </p> -->
                <span class="mdi mdi-close auto-close"
                (click)="clearSBU();arrowkeyLocation=0;sbuName=''"
                *ngIf="!ConversationSBUNameSwitch && getSBUId!=='' && f.SBU.status != 'DISABLED'"></span>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  border-right  float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                  *ngIf="ConversationSBUNameSwitch"
                  [attr.focus]="campaignDetailsForm.value.SBU && ConversationSBUNameSwitch">
                  <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                    <span class="w-100 z-ind-9 float-left bg-white">
                    <ul class=" list-group color-azure  sort-dropdown mr2"  role="listbox" id="read"
                    [ngClass]="{'loader-search':isSBUSearchLoading }">
                      <li  id="{{i}}" tabindex="0" role="option"  class="list-group-item " [ngClass]="service.chatBot ? 'list-DA-cap' : 'list-name'"
                      [class.active]="i==arrowkeyLocation" aria-disabled="false"
                      (click)="SBUlist.value=item.Name;appendSBUConversation(item)" 
                      *ngFor="let item of searchSBUData |filter:campaignDetailsForm.value.SBU; let i=index" matTooltip="{{item.Name}}">
                      {{item.Name}}</li>
                      <li class="d-block list-name h-40 p-10" *ngIf="(searchSBUData |filter:campaignDetailsForm.value.SBU)?.length == 0 && !isSBUSearchLoading">
                        No record found  </li>
                    </ul>
                    </span>
                  </perfect-scrollbar>
                </div>
              </div>
            </div>
          </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left cust_autoComplete pos-rel plb-60-20 ">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName" (clickOutside)="ConversationVerticalNameclose()" >
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="verticalID"
                  class="label-form">
                  Vertical </label>
                  <!-- <span class="required"> *</span> -->
                  <div class="pos-rel w-100 float-left no_pad">
                <input 
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" 
                #verticallist
                id="verticalID"
                name="verticalID"
                formControlName="Vertical" 
                placeholder="Search vertical" 
                type="text" 
                role="combobox"
                title="{{verticleName}}"
                autocomplete="off" 
                aria-owns="read" 
                appKeyListControl
                [dataManipulate]=true
                [attr.data-isDownBtn]=true
                (arrowDown)="arrowkeyLocation=$event"
                [attr.data-selectedvalue]="verticleName"
                [attr.aria-expanded]="ConversationVerticalNameSwitch?true:false"
                [attr.aria-activedescendant]="arrowkeyLocation"
                (input)="ConversationVerticalNameSwitch = true;arrowkeyLocation=0" 
                (intialLoadData)="ConversationVerticalNameSwitch = true;clickVerticleData();arrowkeyLocation=verticleName?-1:0"
                (keyup.enter)="arrowkeyLocation=arrowkeyLocation==-1?0:arrowkeyLocation;verticallist.value=searchVerticleData[arrowkeyLocation].Name;
                appendVerticalConversation(searchVerticleData[arrowkeyLocation]);ConversationVerticalNameSwitch=false;arrowkeyLocation=0"
                (keydown)="ConversationVerticalNameSwitch = true"
                (keydown.Tab)="ConversationVerticalNameclose()"
                [attr.data-arrayMaxLength]="searchVerticleData?.length"
                aria-autocomplete="list"
               >
                <span class="mdi mdi-magnify" *ngIf="ConversationVerticalNameSwitch || verticleName ==''"></span>
                <span class="mdi mdi-close auto-close"
                (click)="clearVertical();arrowkeyLocation=0;verticleName=''"
                *ngIf="!ConversationVerticalNameSwitch && getVerticleId!=='' && f.Vertical.status != 'DISABLED'"></span>
                <!-- <p *ngIf="f.Vertical.touched && f.Vertical.value =='' " class="error-message top-40"> Search vertical </p> -->
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  border-right  float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                  *ngIf="ConversationVerticalNameSwitch "
                  [attr.focus]="campaignDetailsForm.value.Vertical && ConversationVerticalNameSwitch ">
                  <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                    <span class="w-100 z-ind-9 float-left bg-white">
                    <ul class=" list-group color-azure  sort-dropdown mr2"   role="listbox" id="read"
                    [ngClass]="{'loader-search':isVerticalSearchLoading }">
                      <li id="{{i}}" tabindex="0" role="option"  class="list-group-item " [ngClass]="service.chatBot ? 'list-DA-cap' : 'list-name'"
                      [class.active]="i==arrowkeyLocation" aria-disabled="false"
                      (click)="verticallist.value=item.Name;appendVerticalConversation(item)"
                       *ngFor="let item of searchVerticleData |filter:campaignDetailsForm.value.Vertical; let i=index" matTooltip="{{item.Name}}">
                       {{item.Name}}</li>
                      <li class="d-block list-name h-40 p-10" *ngIf="(searchVerticleData |filter:campaignDetailsForm.value.Vertical)?.length == 0 && !isVerticalSearchLoading">
                        No record found  </li>
                    </ul>
                    </span>
                  </perfect-scrollbar>
                </div>
              </div>
            </div>

            <!--autocomplete starts here-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left cust_autoComplete pos-rel plb-60-20">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName" (clickOutside)="InterestNameclose()" >
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="interestID" class="label-form">
                  Interest </label>
                  <!-- <span class="required"> *</span> -->
                  <div class="pos-rel w-100 float-left no_pad">
                <input 
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                #interestlist
                id="interestID"
                name="interestID"
                formControlName="Interest"
                placeholder="Search interest"
                type="text"
                role="combobox" 
                title=""
                autocomplete="off"
                aria-owns="read"
                appKeyListControl
                [dataManipulate]=true
                [attr.data-isDownBtn]=true
                (arrowDown)="arrowkeyLocation=$event"
                [attr.data-selectedvalue]=""
                [attr.aria-expanded]="InterestNameSwitch?true:false"
                [attr.aria-activedescendant]="arrowkeyLocation"
                (input)="InterestNameSwitch = true;arrowkeyLocation=0"
                (intialLoadData)="InterestNameSwitch = true;clickInterest();arrowkeyLocation=Interest?-1:0"
                (keyup.enter)="arrowkeyLocation=arrowkeyLocation==-1?0:arrowkeyLocation;appendInterest(IntersetFromApi[arrowkeyLocation]);arrowkeyLocation=0"
                (keydown)="InterestNameSwitch = true"
                (keydown.Tab)="InterestNameclose()"
                [attr.data-arrayMaxLength]="IntersetFromApi?.length"
                 aria-autocomplete="list">
                <span class="mdi mdi-magnify"></span>
                  </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  border-right  float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                  *ngIf="InterestNameSwitch "
                  [attr.focus]="campaignDetailsForm.value.Interest && InterestNameSwitch ">
                  <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                    <span class="w-100 z-ind-9 float-left bg-white" >
                    <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read"
                    [ngClass]="{'loader-search':isInterestSearchLoading }">
                      <li id="{{i}}" tabindex="0" role="option" class="list-group-item " [ngClass]="service.chatBot ? 'list-DA-cap' : 'list-name'"
                      [class.active]="i==arrowkeyLocation" aria-disabled="false"
                       (click)="appendInterest(item)" 
                      *ngFor="let item of IntersetFromApi |filter:campaignDetailsForm.value.Interest;let i=index" matTooltip="{{item.Name}}">
                      {{item.Name}}</li>
                      <li class="d-block list-name h-40 p-10" *ngIf="(IntersetFromApi |filter:campaignDetailsForm.value.Interest)?.length == 0 && !isInterestSearchLoading">
                        No record found  </li>
                    </ul>
                    </span>
                  </perfect-scrollbar>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact">
                  <perfect-scrollbar style="max-height:250px">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left d-flex tagged-box mt-10 p-4-10 mr10"
                          *ngFor="let item of selectedInterest ; let i=index">
                          <label for="inti_name" class="float-left name w-94">
                              <span class="d-block color-azure mr10 float-left ellipses width-90" title="{{item.Name}}" matTooltip="{{item.Name}}">{{item.Name}}</span>
                          </label>
                          <span class="mdi mdi-close close-lead float-right cp ml10" (click)="delinkIntrest(item, i)"></span>

                      </div>
                  </perfect-scrollbar>
              </div>
              </div>
            </div>
            <!--autocomplete ends here-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 float-left plb-60-20 customized-input ">
              <label class="label-form" for="description" matTooltip="Provide additional information to describe this campaign, this description will be used by marketing team to get clarity on the purpose of the campaign to be able to work on it">Campaign description
              </label>
              <!-- <span class="required"> *</span> -->
              <span class="label-form" *ngIf= "textValue.value.length == 0">  (2000 characters)</span>
              <span class="label-form" *ngIf= "textValue.value.length > 0 && textValue.value.length < 1999">  ({{ 2000 - textValue.value.length}} characters left)</span>
              <span class="label-form" *ngIf= "textValue.value.length === 1999 || textValue.value.length === 2000">  ({{ 2000 - textValue.value.length}} character left)</span>
              <div class="pos-rel w-100 float-left no_pad">
              <textarea class="col-12 float-left form-control" specialIsAlphaNumeric [attr.data-type]="'textareaLength'" #textValue placeholder="Enter campaign description" formControlName="Description" maxlength="2000"
              [ngClass]="{'error': campaignDetailsForm.controls['Description'].touched && !campaignDetailsForm.controls['Description'].valid}"
                rows="5" id="description"></textarea>
                <!-- <p *ngIf="campaignDetailsForm.controls.Description.touched && !campaignDetailsForm.controls.Description.valid" class="col-12 float-left posrel error-message"> Please enter description </p> -->
                <p *ngIf="campaignDetailsForm.get('Description').errors?.range" class="col-12 float-left posrel error-message" >Description cannot exceed 2500 characters</p>
              </div>
            </div>
          </div>
        </form>
        <!-- Campaign details form -->
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt60 margin-btm55 no_pad" *ngIf="dealinfo">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-create-lead">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
          <h2 class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-left no_pad heading-level-three pad-top-8">Channel
            details </h2>
        </div>
        <!-- Channel details foem -->
        <form id="validatescroll" [formGroup]="channelDetailsForm">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt10">
          <!-- Select DROPDOWN STARTS -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob mobile-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Activity" class="label-form"
              placeholder="Select lead source">
              Activity</label>
              <span class="required"> *</span>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="Activity" role="listbox" #newHeroName formControlName="Activity" (change)="selectActivityChange($event)"
              [ngClass]="{'error': channelDetailsForm.controls.Activity.touched && !channelDetailsForm.controls.Activity.valid}">
                <option value="" >Select activity </option>
                <option *ngFor="let option of activity" [value]="option.Guid"  matTooltip="{{option.Name}}">{{option.Name}}</option>
              </select>
              <p *ngIf="channelDetailsForm.controls.Activity.touched && !channelDetailsForm.controls.Activity.valid" class="error-message top-40"> Select
                activity </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob web-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"  for="Activity"
            
            class="label-form" placeholder="Select lead source">
              Activity</label>
              <span class="required"> *</span>
              <mat-form-field class="col-12 no_pad float-left">
                  <mat-label ></mat-label>
                  <mat-select aria-label="{{'Activity' + activityName}}" disableOptionCentering panelClass="Select-panel-class"  (selectionChange)="selectActivityMatChange($event)"
                  [ngClass]="{'error': channelDetailsForm.controls.Activity.touched && !channelDetailsForm.controls.Activity.valid}"
                  class="select-focus" formControlName="Activity">
                      <mat-option value="" >Select activity</mat-option>
                      <mat-option *ngFor="let option of activity" [value]="option.Guid"  matTooltip="{{option.Name}}">
                        {{option.Name}}
                      </mat-option>
                  </mat-select>
                  <p *ngIf="channelDetailsForm.controls.Activity.touched && !channelDetailsForm.controls.Activity.valid" class="error-message top-40"> Select
                    activity </p>
                </mat-form-field>
          </div>
          <!-- Select DROPDOWN ENDS -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob mobile-select-box" >
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Sub-activity" class="label-form"
              placeholder="Select lead source">
              Sub-activity</label>
              <span class="required"> *</span>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id=" Sub-activity" role="listbox"  formControlName="Subactivity"
              [ngClass]="{'error': channelDetailsForm.controls.Subactivity.touched && !channelDetailsForm.controls.Subactivity.valid}" >
                <option value="" >Select sub-activity </option>
                <option *ngFor="let sub of getSubActivity"  [value]="sub.Guid" matTooltip="{{sub.Name}}">{{sub.Name}}</option>
              </select>
              <p *ngIf="channelDetailsForm.controls.Subactivity.touched && !channelDetailsForm.controls.Subactivity.valid" class="error-message top-40"> Select
                sub-activity </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob web-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"  for="Sub-activity" class="label-form" placeholder="Select lead source">
              Sub-activity</label>
              <span class="required"> *</span>
              <mat-form-field class="col-12 no_pad float-left">
                  <mat-label >Sub-activity</mat-label>
                  <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus" formControlName="Subactivity"
                  [ngClass]="{'error': channelDetailsForm.controls.Subactivity.touched && !channelDetailsForm.controls.Subactivity.valid}">
                      <mat-option value="" >Select sub-activity</mat-option>
                      <mat-option *ngFor="let sub of getSubActivity"  [value]="sub.Guid" matTooltip="{{sub.Name}}">
                        {{sub.Name}}
                      </mat-option>
                  </mat-select>
                  <p *ngIf="channelDetailsForm.controls.Subactivity.touched && !channelDetailsForm.controls.Subactivity.valid" class="error-message top-40"> Select
                    sub-activity </p>
                </mat-form-field>
          </div>
          <!-- Select DROPDOWN STARTS -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob mobile-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Typecampaign" class="label-form"
              placeholder="Select lead source">
              Type of campaign</label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="Typecampaign" role="listbox" formControlName="TypeOfCampaign">
                <option value="" >Select type of campaign</option>
                <option *ngFor="let option of campaignType" [value]="option.Id" matTooltip="{{option.Value}}">{{option.Value}}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob web-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"  for="Typecampaign" class="label-form" placeholder="Select lead source">
              Type of campaign</label>
              <mat-form-field class="col-12 no_pad float-left">
                  <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus" formControlName="TypeOfCampaign">
                      <mat-option value="" >Select type of campaign</mat-option>
                      <mat-option *ngFor="let option of campaignType" [value]="option.Id" matTooltip="{{option.Value}}">
                        {{option.Value}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <!-- Select DROPDOWN ENDS -->
          <!--row-2-->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob mobile-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Channel" class="label-form"
              placeholder="Select lead source">
              Channel</label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="Channel" role="listbox" formControlName="Channel">
                <option value="" >Select channel</option>
                <option *ngFor="let data of channelType" [value]="data.Id" matTooltip="{{data.Value}}">{{data.Value}}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob web-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"  for="Channel" class="label-form" placeholder="Select lead source">
              Channel</label>
              <mat-form-field class="col-12 no_pad float-left">
                  <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus" formControlName="Channel">
                    <mat-option value="" >Select channel</mat-option>
                      <mat-option *ngFor="let data of channelType" [value]="data.Id" matTooltip="{{data.Value}}">
                        {{data.Value}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob mobile-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Platform" class="label-form"
              placeholder="Select lead source">
              Platform</label>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="Platform" role="listbox" formControlName="Platform">
                <option value="" >Select platform</option>
                <option *ngFor="let data of platformType" [value]="data.Id" matTooltip="{{data.Value}}">{{data.Value}}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob web-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"  for="Platform" class="label-form" placeholder="Select lead source">
              Platform</label>
              <mat-form-field class="col-12 no_pad float-left">
                  <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus" formControlName="Platform">
                      <mat-option value="" >Select platform</mat-option>
                      <mat-option *ngFor="let data of platformType" [value]="data.Id" matTooltip="{{data.Value}}">
                        {{data.Value}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob mobile-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Purpose" class="label-form"
              placeholder="Select lead source">
              Purpose</label>
              <span class="required"> *</span>
            <div class="customized-select">
              <span class="caret color-azure"></span>
              <select id="Purpose" role="listbox" required formControlName="Purpose"
              [ngClass]="{'error': channelDetailsForm.controls.Purpose.touched && !channelDetailsForm.controls.Purpose.valid}">
                <option value="">Select purpose </option>
                <option *ngFor="let purpose of getPurpose" [value]="purpose.Id" matTooltip="{{purpose.Value}}">{{purpose.Value}}</option>
              </select>
              <p *ngIf="channelDetailsForm.controls.Purpose.touched && !channelDetailsForm.controls.Purpose.valid" class="error-message top-40"> Select
                purpose </p>
                <!-- <p class="error-message top-40" *ngIf="purposeValidation" >{{purposeMessage}}</p> -->
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 mt-20-mob web-select-box">
            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"  for="Purpose" class="label-form" placeholder="Select lead source">
              Purpose</label>
              <span class="required"> *</span>
              <mat-form-field class="col-12 no_pad float-left">
                  <mat-select disableOptionCentering panelClass="Select-panel-class" class="select-focus"
                  [ngClass]="{'error': channelDetailsForm.controls.Purpose.touched && !channelDetailsForm.controls.Purpose.valid}"
                  formControlName="Purpose">
                      <mat-option  value="" >Select purpose</mat-option>
                      <mat-option *ngFor="let purpose of getPurpose" [value]="purpose.Id" matTooltip="{{purpose.Value}}">
                        {{purpose.Value}}
                      </mat-option>
                  </mat-select>
                  <p *ngIf="channelDetailsForm.controls.Purpose.touched && !channelDetailsForm.controls.Purpose.valid" class="error-message top-40"> Select
                    purpose </p>
                </mat-form-field>
          </div>
          <!--row-3 -->
          <!--autocomplete starts here-->
          <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 cust_autoComplete pos-rel ">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName" (clickOutside)="IndustryNameclose()"  >
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="industryID" class="label-form">
                Industry </label>
              <div class="pos-rel w-100 float-left no_pad">
              <input
              appKeyListControl #industrylist (arrowDown)="arrowkeyLocation=$event" 
              (keyup.enter)="appendIndustry(IndustryFromApi[arrowkeyLocation])"
              [attr.data-arrayMaxLength]="IndustryFromApi?.length"
              id="industryID"
              (input)="IndustryNameSwitch = true;clickIndustryData()" role="combobox" aria-autocomplete="list"
              [attr.aria-expanded]="IndustryNameSwitch?true:false"
              aria-owns="read" [attr.aria-activedescendant]="arrowkeyLocation"
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                name="industryID"  (click)="IndustryNameSwitch=true;clickIndustryData()" autocomplete="off" type="text" formControlName="Industry"
                placeholder="Search industry" 
                [ngClass]="{'error': c.Industry.invalid && (c.Industry.dirty || c.Industry.touched)}">
                <span class="mdi mdi-magnify"></span>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  border-right  float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                *ngIf="IndustryNameSwitch"
                [attr.focus]="channelDetailsForm.value.Industry && IndustryNameSwitch">
                <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                  <span class="w-100 z-ind-9 float-left bg-white">
                  <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read"
                  [ngClass]="{'loader-search':isIndustrySearchLoading }">
                    <li  id="{{i}}" tabindex="0" role="option" class="list-group-item list-name"
                    [class.active]="i==arrowkeyLocation" aria-disabled="false"
                     (click)="appendIndustry(item)" 
                    *ngFor="let item of IndustryFromApi |filter:channelDetailsForm.value.Industry;let i=index" matTooltip="{{item.Name}}">
                    {{item.Name}}</li>
                    <li class="d-block list-name h-40 p-10" *ngIf="(IndustryFromApi |filter:channelDetailsForm.value.Industry)?.length == 0 && !isIndustrySearchLoading">
                      No record found  </li>
                  </ul>
                  </span>
                </perfect-scrollbar>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact">
                <perfect-scrollbar style="max-height:250px" *ngIf="selectedIndustry?.length !==0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left d-flex tagged-box mt-10 p-4-10 mr10"
                        *ngFor="let item of selectedIndustry; let i = index">
                        <label for="inti_name" class="float-left name w-94">
                            <span class="d-block color-azure mr10 float-left ellipses width-90" title="{{item.Name}}" matTooltip="{{item.Name}}">{{item.Name}}</span>
                        </label>
                        <span class="mdi mdi-close close-lead float-right cp ml10" (click)="delinkIndustry(item,i)"></span>

                    </div>
                </perfect-scrollbar>
            </div>
            </div>
          </div> -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-20 ">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="text" class="label-form">
                Industry
                
              </label>
              <div class="pos-rel w-100 float-left no_pad">
              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text"
                type="text"  [disabled]="true" formControlName="Industry">
              </div>
            </div>
          <!--autocomplete ends here-->
          <!--autocomplete starts here-->
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left plb-60-20 cust_autoComplete pos-rel ">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName" (clickOutside)="FunctionNameclose()">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="functionID" class="label-form">
                Function </label>
                <div class="pos-rel w-100 float-left no_pad">
              <input
              class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
              #functionlist 
              id="functionID"
              name="functionID"
              formControlName="Function"
              placeholder="Search function"
              type="text"
              role="combobox"
              title=""
              autocomplete="off"
              aria-owns="read" 
              appKeyListControl 
              [dataManipulate]=true
              [attr.data-isDownBtn]=true
              (arrowDown)="arrowkeyLocation=$event"
              [attr.data-selectedvalue]=""
              [attr.aria-expanded]="FunctionNameSwitch?true:false"
              [attr.aria-activedescendant]="arrowkeyLocation"
              (input)="FunctionNameSwitch = true;arrowkeyLocation=0" 
              (intialLoadData)="FunctionNameSwitch = true;clickFunctionData();arrowkeyLocation=Function?-1:0"
              (keyup.enter)="arrowkeyLocation=arrowkeyLocation==-1?0:arrowkeyLocation;functionlist.value=getFunction[arrowkeyLocation].Name;arrowkeyLocation=0;
              FunctionNameSwitch=false;appendFunction(getFunction[arrowkeyLocation])"
              (keydown)="FunctionNameSwitch = true"
              (keydown.Tab)="FunctionNameclose()"
              [attr.data-arrayMaxLength]="getFunction?.length"
              aria-autocomplete="list"
              [ngClass]="{'error': c.Function.invalid && (c.Function.dirty || c.Function.touched)}">
              <span class="mdi mdi-magnify" *ngIf="FunctionNameSwitch || functionName ==''"></span>
              <span class="mdi mdi-close auto-close"
              (click)="clearFunction(functionId);arrowkeyLocation=0;functionName=''"
              *ngIf="!ConversationNameSwitch && functionName!==''"></span>
              <!-- <p *ngIf="selectedFunction.length===0 && c.Function.dirty"  class="error-message top-40">Please select valid function</p> -->
                </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm  border-right  float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                *ngIf="FunctionNameSwitch"
                [attr.focus]="channelDetailsForm.value.Function && FunctionNameSwitch">
                <perfect-scrollbar style="max-height:160px"  class="z-ind-9"> 
                  <span class="w-100 z-ind-9 float-left bg-white">
                  <ul class=" list-group color-azure  sort-dropdown mr2"  role="listbox" id="read"
                  [ngClass]="{'loader-search':isFunctionSearchLoading }">
                    <li id="{{i}}" tabindex="0" role="option" class="list-group-item" [ngClass]="service.chatBot ? 'list-DA-cap' : 'list-name'"
                    [class.active]="i==arrowkeyLocation" aria-disabled="false"
                     (click)="appendFunction(item)" 
                    *ngFor="let item of getFunction |filter:channelDetailsForm.value.Function;let i=index" matTooltip="{{item.Name}}">
                    {{item.Name}}</li>
                    <li class="d-block list-name h-40 p-10" *ngIf="(getFunction |filter:channelDetailsForm.value.Function)?.length == 0 && !isFunctionSearchLoading">
                      No record found  </li>
                  </ul>
                  </span>
                </perfect-scrollbar>
              </div>
              <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad selected-contact">
                <perfect-scrollbar style="max-height:250px">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left d-flex tagged-box mt-10 p-4-10 mr10"
                        *ngFor="let item of selectedFunction; let i = index">
                        <label for="inti_name" class="float-left name w-94">
                            <span class="d-block color-azure mr10 float-left ellipses width-90" title="{{item.Name}}" matTooltip="{{item.Name}}">{{item.Name}}</span>
                        </label>
                        <span class="mdi mdi-close close-lead float-right cp ml10" (click)="delinkFunction(item,i)"></span>

                    </div>
                </perfect-scrollbar>
            </div> -->
            </div>
          </div>
          <!--autocomplete ends here-->
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt5">
          <h2 class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-left no_pad heading-level-three pad-top-8">Campaign
            timeline </h2>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
          <div class="col-12 no_pad float-left mt20">
            <!--datepicker starts-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 plb-60-20 float-left ">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form" for="calStarta">Campaign
                deadline
                <span class="required"> *</span>
              </label>
              <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-rel">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr" 
                [ngClass]="{'error': c.Deadline.invalid && (c.Deadline.dirty || c.Deadline.touched) || channelDetailsForm.controls['Deadline'].touched && !channelDetailsForm.controls['Deadline'].valid}">
                  <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan" >
                    <div class="pos-rel w-100 float-left no_pad">
                    <input class="col-12 col-lg-12 col-sm-12 col-md-12 float-left " [min]="minStartDate" [max]="maxDate" readonly id="calStarta" required formControlName="Deadline" (click)="picker3a.open()"
                      (keypress)="picker3a.open()" readonly [matDatepicker]="picker3a" title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY">
                      <p *ngIf="c.Deadline.touched && !c.Deadline.valid" class="error-message top-40"> Select
                        campaign deadline </p>
                      </div>
                    <mat-datepicker-toggle matSuffix [for]="picker3a" required >
                      <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker3a></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <!--datepicker ends-->
            <!--datepicker starts-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 plb-60-20 float-left ">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form" for="calStartb">Scheduled
                start date
                <span class="required"> *</span>
              </label>
              <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-rel">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                  <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan" 
                  [ngClass]="{'error': c.StartDate.invalid && (c.StartDate.dirty || c.StartDate.touched) || channelDetailsForm.controls['StartDate'].touched && !channelDetailsForm.controls['StartDate'].valid}">
                  <div class="pos-rel w-100 float-left no_pad">
                    <input class="col-12 col-lg-12 col-sm-12 col-md-12 float-left " [min]="minStartDate" [max]="maxDate" readonly id="calStartb" formControlName="StartDate" (click)="picker3b.open()"
                      (keypress)="picker3b.open()" readonly [matDatepicker]="picker3b" title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY" >
                      <p *ngIf="c.StartDate.touched && !c.StartDate.valid && !startDateFirst && !stratDate && !deadLineStart" class="error-message top-40"> Select scheduled
                          start date </p>
                          <p *ngIf="channelDetailsForm?.errors?.startDate" class="error-message top-40">{{channelDetailsForm?.errors?.startDate}}</p>
                  </div>
                    <mat-datepicker-toggle matSuffix [for]="picker3b">
                      <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker3b></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <!--datepicker ends-->
            <!--datepicker starts-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 plb-60-20 float-left " >
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form" for="calStartd">Scheduled
                end date
                <span class="required"> *</span>
              </label>
              <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-rel">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
                  <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cust_calan" 
                  [ngClass]="{'error': c.EndDate.invalid && (c.EndDate.dirty || c.EndDate.touched) || channelDetailsForm.controls['EndDate'].touched && !channelDetailsForm.controls['EndDate'].valid}">
                  <div class="pos-rel w-100 float-left no_pad">
                    <input class="col-12 col-lg-12 col-sm-12 col-md-12 float-left " [min]="minStartDate" [max]="maxDate" readonly id="calStartd" formControlName="EndDate" (click)="picker3g.open()"
                      (keypress)="picker3g.open()" required  readonly [matDatepicker]="picker3g" title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY" >
                         <p *ngIf="c.EndDate.touched && !c.EndDate.valid && !endStartDatesFirst && !endDateFirst && !endDate && !deadLineEnd" class="error-message top-40"> Select scheduled
                          end date </p>
                          <p *ngIf="channelDetailsForm?.errors?.endDate" class="error-message top-40">{{channelDetailsForm?.errors?.endDate}}</p>
                  </div>
                    <mat-datepicker-toggle matSuffix [for]="picker3g">
                      <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker3g></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <!--datepicker ends-->
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="float-left col-12 no_pad mobile-buttons" *ngIf="leadinfo">
    <button class="col-6 no_pad float-left cancel-btn" (click)="opencancelpop()" >Cancel</button>
    <button class="col-6 no_pad float-left save-btn" (click)="steptwo()">Next</button>
  </div>
  <div class="float-left col-12 no_pad mobile-buttons" *ngIf="dealinfo">
    <button class="col-6 no_pad float-left cancel-btn" (click)="opencancelpop()" [ngClass]="saveClicked ? 'disabled-control' : ''"  [disabled]="saveClicked">Cancel</button>
    <button class="col-6 no_pad float-left save-btn mdi mdi-bullhorn pr5" (click)="finalRequestCampaign()"  [ngClass]="(saveClicked || isCompleted) ? 'disabled-control' : ''" [disabled]="saveClicked"><span class="ml5">Request campaign</span></button>
  </div>
</div>
<!-- </ng-template> -->