$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
.child-leads-landing {
  .h-300 {
    height: 240px;
  }
  .tag {
    color: #e7ebf2;
    opacity: 0.8;
  }
  .tag-title {
    color: #e7ebf2;
    opacity: 0.8;
    max-width: 250px;
  }
  .web-action-button {
    button {
      white-space: nowrap;
      padding: 8px 12px;
    }
    .mdi {
      font-size: 15px;
      padding-right: 5px;
    }
    .mdi-crop-square:before {
      content: "\F1A2";
      transform: rotate(45deg);
    }
  }
  .borderless {
    border: none !important;
  }
  .h-40 {
    min-height: 40px;
  }
  .mr10 {
    margin-right: 10px;
  }
  .h-40.exact {
    height: 40px;
  }
  // tabs starts
  .vertical-btns-div {
    margin: 15px 0px 0px 0px;
    button {
      min-height: 40px;
    }
    .mdi:before {
      padding-right: 6px;
    }
  }
  .btn-tabs-active {
    background-color: #0e3570;
    text-align: center;
    color: $Azure;
    border-radius: 5px;
    font-family: WiproAkkuratTT-Bold;
    padding: 25px 20px;
  }
  .sub-vertical-but.active {
    background: #fff;
    color: $Azure;
    outline: none;
    .btntxt-s {
      color: $Azure;
    }
  }
  .sub-vertical-but:active,
  .sub-vertical-but:hover {
    background: #fff;
    color: $Azure;
    outline: none;
  }
  .sub-vertical-but {
    font-family: WiproAkkuratTT-Bold;
    background: transparent;
    border: none;
    font-size: 0.85em;
    color: #fff;
    font-weight: bold;
    border: 1.5px solid #fff;
    outline: none;
    width: 100%;
    padding: 5px;
  }
  .brd-right0 {
    border-right: 0px !important;
    border-radius: 5px 0px 0px 5px;
  }
  .brd-right {
    border-radius: 5px 0px 0px 5px;
  }
  .brd_r0 {
    border-right: 0px !important;
  }
  .brd-left0 {
    border-left: 0px !important;
    border-radius: 0px 5px 5px 0px;
  }

  // tabs ends
  .heading-level-two {
    color: $White !important;
  }
  .primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
  }
  .mdi-pencil:before {
    padding-right: 5px;
  }
}
.mdi-pencil:before {
  content: "\F3EB";
  padding-right: 5px;
}
.padd-all {
  padding: 30px;
}
.back {
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: -0.2px;
  color: $White;
  z-index: 9;
}
.archive-tag {
  height: 23px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #103f86;
  padding: 5px 15px;
  font-size: 11px;
  opacity: 60%;
  margin-left: 4%;
  top: 5px;
}
.cust-dropdown-btn .min-width-161 {
  min-width: 210px;
}
.tagged-box {
  height: 40px;
  border-radius: 4px;
  color: $Azure;

  background-color: #d9e9ff;
  width: auto;

  .mdi-close:before {
    font-size: 20px;
    cursor: pointer;
    color: $Azure;
    right: 4px;
    position: relative;
  }
}
.mdi-magnify:before {
  content: "\F349";
  color: #2f81ff;
  font-size: 20px;
  right: 10px;
  position: absolute;
  bottom: 5px;
}
.assign-brdr {
  top: 38px;
  border: 2px solid #2f81ff;
  border-right: 2px solid #2f81ff !important;
}
.p-4-10 {
  padding: 4px 10px 4px 10px;
}
.initial-assign {
  background: #2f81ff;
  color: white;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 4px 0 0 4px;
}
.text-assign {
  padding: 9px;
  max-width: 210px;
}
.new-disqualify {
  background-image: url(assets/images/group-30-copy.svg);
  width: 22px;
  height: 17px;
  float: left;
  background-repeat: no-repeat;
}
.svgHover:hover {
  .new-disqualify {
    background-image: url(assets/images/group1.svg);
    width: 22px;
    height: 17px;
    float: left;
    background-repeat: no-repeat;
  }
}
.new-qualify {
  background-image: url(assets/images/group-31-copy.svg);
  width: 22px;
  height: 17px;
  float: left;
  background-repeat: no-repeat;
}

.svgHover:hover {
  .new-qualify {
    background-image: url(assets/images/group.svg);
    width: 22px;
    height: 17px;
    float: left;
    background-repeat: no-repeat;
  }
}
.mr5 {
  margin-right: 5px;
}
.header-btns {
  min-width: 110px;
  // padding-left: 12px;
}
.disqual-btns {
  min-width: 125px;
}
.imgQuali-btn {
  position: relative;
  left: 10px;
  top: 1px;
}
.lead-tabs {
  max-width: 170px !important;
}
.more-action-icon {
  padding-right: 2px !important;
}
.heading-level-one {
  // text-transform: capitalize;
  z-index: 1;
}
.mb70 {
  margin-bottom: 70px;
}
.border-radius0 {
  border-radius: 4px 4px 0px 0px !important;
}
.group-content {
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.mar-top-100 {
  margin-top: 103px;
}

//new phone blue batch below
.mobile-buttons.bg-azure {
  background: #2f81ff;
  height: 52px;
}
.dropdown-content-lead {
  background: white;
  list-style: none;
  border: 1.5px solid #2f81ff;
  border-radius: 4px 4px 0px 0px;
  padding: 10px !important;
}

.group-content-lead {
  bottom: 35px;
  right: 16px;
  animation: slide-down 0.4s ease;
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(52px);
    transform: scale(0, 0);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1, 1);
    transform-origin: bottom right;
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(52px);
    transform: scale(0, 0);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1, 1);
    transform-origin: bottom right;
  }
}
.line-height {
  border-bottom: 1.5px solid #d9e9ff;
  margin-bottom: 5px;
}
.mobile-buttons .active-button {
  background: white !important;
  color: #2f81ff !important;
  border-radius: 0px !important;
  font-family: WiproAkkuratTT-Regular !important;
  font-size: 13px !important;
  cursor: pointer;
}
.mobile-buttons .width-sticy {
  width: 50%;
}

.mobile-buttons {
  .mdi-crop-square:before {
    content: "\F1A2";
    transform: rotate(45deg);
  }
}
.mar-r-10 {
  margin-right: 5px;
}
.top-10 {
  top: 10px;
}
.show-button-list {
  display: none;
}
.marl-5 {
  margin-left: 5px;
}
.mar-left-35 {
  margin-left: 35px;
}
.pt7 {
  margin-top: -3px;
}
.b-no-web {
  border: none;
}
//new phone blue batch below

.mar-left-25 {
  margin-left: 25px;
}
.convo-name {
  max-width: 200px;
}
.min-max-width {
  max-width: 600px;
  min-width: 240px;
}
.mh150{
  min-height: 150px;
}

.new-qualify-icon{
  background-image: url(assets/images/group.svg);
  width: 20px;
  height: 17px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -5px;
}
.new-disqualify-icon{
  background-image: url(assets/images/group1.svg);
  width: 20px;
  height: 17px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -5px;
}

// Loader

.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loaderContainer {
  width: 100%;
  top: 10em;
  position: fixed;
  height: 100%;
  z-index: 9999;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}