<div class="col-12 float-left mb50 order-list-BFM">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left card no_pad mb10">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 card-content float-left pad-30 mediaPad">
      <div class="col-12 no_pad float-left ">
        <mat-card class="col-12 float-left" *ngFor="let data of systemchecks;let i = index">
          <span class="no_pad float-left num"><span *ngIf="i<9">0</span>{{i+1}}</span>
          <span class="col-12 col-xs-4 col-md-4 float-left no_pad question-sub-text">{{data.question}}</span>

          <div class="col-12 col-md-4 col-xs-4 no_pad float-left">
            <div class="col-3 float-right fLeft ">
              <div *ngIf="data.contract"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">Contract
              </div>
              <div *ngIf="data.contract"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-sub-text">
                {{data.contract}}
              </div>
            </div>
            <div class="col-3 float-right fLeft ">
              <div *ngIf="data.practice"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">Practice
              </div>
              <div *ngIf="data.practice"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-sub-text">
                {{data.practice}}
              </div>
            </div>

            <div class="col-3 float-right fLeft-pl-10 ">
              <div *ngIf="data.msa"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">MSA
              </div>
              <div *ngIf="data.msa"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-sub-text">
                {{data.msa}}
              </div>
            </div>
            <div class="col-3 float-right fRight">
              <div *ngIf="data.crm"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">CRM
              </div>
              <div *ngIf="data.crm"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-sub-text">
                {{data.crm}}
              </div>
            </div>

          </div>
          <div class="col-12 col-md-3 col-xs-3  float-right mob_h80 min-pad-0">
              <div class="col-4 float-right plb-0-35">
                <!-- <button class="mdi mdi-comment-plus-outline message_cls float-right" *ngIf="data.comment"></button> -->
                 <!-- message popover starts here -->
              <button [popoverOnHover]="false" [popoverCloseOnMouseOutside]="false" [popoverCloseOnClickOutside]="true"
              [popover]="myPopover" (click)="toggleComment()" (keypress)="toggleComment()"
              class="button_messagespophover float-right" matTooltip="Comments">
              <span class="mdi mdi-comment-plus-outline message_cls">
              </span>
            </button>
            <popover-content #myPopover title="0{{i+1}} Comments" placement="right" [animation]="false"
              [closeOnClickOutside]="true" [attr.aria-hidden]="clickmes ? 'false' : 'true'">
              <span class="">
                <div class="textarea_readonly">
                  <textarea class="form-control vision_txt_area_placeholder" ngModel="" #newListItem
                    name="newListItem" rows="6" placeholder="Write your comments here.."></textarea>
                </div>
                <button type="button" (click)="myPopover.hide()" class="btn pull-left cancel_but">Cancel </button>
                <button type="button" (click)="myPopover.hide()" [disabled]="newListItem.value.length < 1"
                  [ngClass]="newListItem.value.length < 1 ? 'btn pull-left submit_but':'btn pull-left submit_but1'">Save</button>
              </span>
            </popover-content>
            <!-- message popover ends here -->
              </div>
              <div class="col-4 float-right plb-0-35 w100">
                <div *ngIf="data.document"
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">Document
                </div>
                <div *ngIf="data.document"
                  class="float-left no_pad doc-text">{{data.doc}}
  
                </div>
              </div>
              <div class="col-4 float-right plb-0-35">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad converstion-name pb5">Status
                </div>
                <div *ngIf="data.status=='true'"
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mdi mdi-check">
                </div>
                <div *ngIf="data.status=='false'"
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mdi mdi-close">
                </div>
              </div>
            </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>