.leads-landing-container{
    .h-346 {
        height: 278px;
    }
.borderless 
{
    border: none !important;
}
    .h-150{
        height: 150px;
    }
    .h-360{
        height: 360px;
    }

    .border-none{
        border: none;
    }
    .w-145{
        width: 145px;
    }
    .pad-30{
        padding:30px 30px;
    }
    .h-40{
        height: 40px;
    }
    .h-427 {
        height: 400px !important;
      }


    .d-inline-w-h-20{
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .d-inline-w-h-16-14{
        display: inline-block;
        width: 16px;
        height: 14px;
        font-size: 12px;
    }
    .mleft-5{
        margin-left: 5px;
    }

    .logo{
        text-align: center;
        font-size: 14px;
    }
    .sub-vertical-but{
        padding: 5px 0px !important;
    }



}
.pr5{
    padding-right: 5px;
}
.w-110{
    width:140px; 
}
.ptop-20{
 padding-top: 25px;
}


.loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
.loaderContainer {
  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .btn-down-leads{
    top:100px;
    padding: 3px 8px 5px 8px !important;
    height: 40px;   
    width: 40px;   
    border-radius: 4px;   
    right: 0;   
    font-size: 21px !important;   
    position: absolute;   
    z-index: 1;   
    cursor: pointer;   
    }
    .p-top-100{
        padding-top: 95px;
    }
    .activity-home-mblbtns {
        padding: 9px 9px;
        min-width: 110px;
      }