<!-- <form #myForm="ngForm"> -->
  <div class="competitor_popover col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pr-10 new-container overview-page normal_table floating-scroll" [ngClass]="router.url.includes('opportunity/opportunityendsalescycle')?'competitor':''">
    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-218"> </div> -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
      [ngClass]="service.sideTrans ? 'main-containt-250' : 'main-containt1'">

         <!-- readonly competitor starts here -->
         <div *ngIf="disableOnAccess" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pad-leftright">
            <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad">
              <div class="min_height60">
                <div class="accord-heading col-12 no_pad">
                  <span class="accordian-title cardsHead col-6 no_pad">Competitors</span>
                </div>
              </div>
              <form #myForm="ngForm">
              <div class="col-12 no_pad float-left border_top" >
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-10" *ngIf="!story"  >
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-text" matTooltip="Sole source procurement can be defined as a single vendor being involved in a deal without competitive bidding process">Is the opportunity sole sourced?</label>
                    <span class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad text-data">{{SoleSourceOpp?'Yes':'No'}}</span>
                </div>
                <!-- Table starts here -->

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad overflowscroll">
                    <!-- <perfect-scrollbar class="minheight"> -->
                  <table class="table table-borderless tableReadonly">
                    <thead>
                      <tr>
                        <th>Rank</th>
                        <th>Competitor name </th>
                        <th>Incumbent</th>
                        <th>Current scope share</th>
                        <th>Long listed</th>
                        <th>Short listed</th>
                        <th>Shared win?</th>
                        <th>Share %</th>
                        <th>Winning party</th>
                      </tr>
                    </thead>
                    <tbody>

                        <ng-container *ngFor="let data of CompetitorEnable">
                        <tr *ngIf="data.WiproCompetitoridname!=''">

                            <td>{{data.Rank}}</td>
                            <td>{{data.WiproCompetitoridname=='Others'?data.wiprocompetitorname:data.WiproCompetitoridname}}</td>
                            <td [ngClass]="data.incubment == 'Yes'?'bold-font':''">{{data.WiproIncumbent?'Yes':'No'}}</td>
                            <td>{{data.WiproCurrentscopeshare==null?"00.00":data.WiproCurrentscopeshare}}</td>
                            <td [ngClass]="data.longlisted == 'Yes'?'bold-font':''">{{data.WiproLonglisted?'Yes':'No'}}</td>
                            <td [ngClass]="data.shortlisted == 'Yes'?'bold-font':''">{{data.WiproShortlisted?'Yes':'No'}}</td>
                            <td [ngClass]="data.sharedwin == 'Yes'?'bold-font':''">{{data.WiproSharedwin?'Yes':'No'}}</td>
                            <td>{{data.WiproSharepercentage==null?"00.00":data.WiproSharepercentage}}</td>
                            <td [ngClass]="data.winningparty == 'Yes'?'bold-font':''">{{data.WiproWinningparty?'Yes':'No'}}</td>

                          </tr>

                        </ng-container>
                      <tr *ngFor="let data of CompetitorDisable">
                        <td> - </td>
                        <td>{{data.WiproCompetitoridname=='Others'?data.wiprocompetitorname:data.WiproCompetitoridname}}</td>
                        <td [ngClass]="data.incubment == 'Yes'?'bold-font':''">{{data.WiproIncumbent?'Yes':'No'}}</td>
                        <td>{{data.WiproCurrentscopeshare==null?"00.00":data.WiproCurrentscopeshare}}</td>
                        <td [ngClass]="data.longlisted == 'Yes'?'bold-font':''">{{data.WiproLonglisted?'Yes':'No'}}</td>
                        <td [ngClass]="data.shortlisted == 'Yes'?'bold-font':''">{{data.WiproShortlisted?'Yes':'No'}}</td>
                        <td [ngClass]="data.sharedwin == 'Yes'?'bold-font':''">{{data.WiproSharedwin?'Yes':'No'}}</td>
                        <td>{{data.WiproSharepercentage==null?"00.00":data.WiproSharepercentage}}</td>
                        <td [ngClass]="data.winningparty == 'Yes'?'bold-font':''">{{data.WiproWinningparty?'Yes':'No'}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- </perfect-scrollbar> -->
                </div>
                <!-- Table ends here -->
              </div>
            </form>
            </mat-expansion-panel>
          </div>
          <!-- readonly competitors ends here -->

      <div *ngIf="!disableOnAccess" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">

        <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad">
          <div class="min_height60">
            <div class="accord-heading col-12 no_pad">
              <span class="accordian-title cardsHead col-6 no_pad">Competitors</span>
              <div class="col-12 col-lg-4 col-xl-4 float-right no_pad bot10">
                <button aria-label="View competitor strategy tool" type = "button" class="col-12 col-lg-6 col-xl-6 btn-none no_pad comp_tool pad-top10" *ngIf="!story" [ngClass]="SoleSourceOpp != false && disableFieldsInEndSales != false ? 'float-right' : 'float-left'" (click)="addcompetitorTool()"><span class="float-right pb5 mobile-aligntext">View competitor strategy tool</span> </button>
                <button aria-label="Add competitor" type = "button" name = "addCompetitorUnique" *ngIf="SoleSourceOpp ==false && disableFieldsInEndSales!= true" (click)="addcompetitor()" (keypress)="addcompetitor()"
                  class="col-5 primary-button h-40 std save-responsive-btn float-right pad_10 mobile-button-width">+ Add
                  competitor</button>
              </div>
            </div>
          </div>
          <form #myForm="ngForm">
          <div class="col-12 no_pad float-left border_top mt20">
            <!-- radio STARTS -->

            <!-- removed competitor_radio class -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left plb-60-10" *ngIf="!story">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form" id="key" matTooltip="Sole source procurement can be defined as a single vendor being involved in a deal without competitive bidding process">Is the
                opportunity sole sourced?
              </div>
              <mat-radio-group [formControl]="solesoureToggle" [disabled]="disableOnAccess" class="float-left mt12" aria-labelledby="key" >
                <mat-radio-button [disabled]="disableOnAccess" #checkbutton value= "Yes" class="pr30 label-form-blue" (click)="opportunityCompetitorradioClick($event)"  (change)="opportunityCompetitorradio(SoleSourceOppYes)">Yes</mat-radio-button>
                <mat-radio-button [disabled]="disableOnAccess" #checkbutton value="No" class="label-form-blue " (click)="opportunityCompetitorradioClick1($event)" (change)="opportunityCompetitorradio(SoleSourceOppNO)" >No
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <!-- <span>{{disableOnAccess}}</span> -->
            <!-- radio ENDS -->

            <!-- Table starts here -->

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad overflowscroll">
                <!-- <perfect-scrollbar class="minheight"> -->
              <table class="table table-borderless ">
                <thead>
                  <tr>
                    <th class="customized-checkbox" >
                      <!-- <mat-checkbox aria-label="select all" name="selectEnableAll" (change)="selectAll()" [(ngModel)]="selectedAll"></mat-checkbox> -->
                    </th>
                    <th>Rank</th>
                    <th class="no_pad">Competitor name </th>
                    <th>Incumbent</th>
                    <th>Current scope share %</th>
                    <th *ngIf = "(pursuitStage && !disableOnAccess && !disableFieldsInEndSales) || (markingOppLost && pursuitStage)">Long listed</th>
                    <th *ngIf = "(secureStage && !disableOnAccess && !disableFieldsInEndSales) || (markingOppLost && secureStage)">Short listed</th>
                    <th *ngIf="(markingOppWon && !disableOnAccess && !disableFieldsInEndSales) || secureStage">Shared win?</th>
                    <th *ngIf="(markingOppWon && !disableOnAccess && !disableFieldsInEndSales) || secureStage">Share %</th>
                    <th *ngIf="markingOppLost || (story && !SoleSourceOpp && !disableOnAccess && !disableFieldsInEndSales)">Winning party</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr  [ngClass]="SoleSourceOpp || disableOnAccess?'gray_back':''" *ngFor="let data of CompetitorEnable;let i = index">
                    <td class="customized-checkbox">
                      <!-- <mat-checkbox name="selectEnable{{i}}"  [disabled]="SoleSourceOpp" aria-label="select" [(ngModel)]="data.isCheccked" (change)="checkIfAllSelected(data)"></mat-checkbox> -->
                    </td>
                    <td [attr.data-label]="'Rank'">
                      {{data.Rank}}
                    </td>
                    <td class="no_pad pos-rel" [attr.data-label]="'Competitor name'">
                      <!-- competitor name autocomplete starts here-->
                      <div (clickOutside)="competitorNameclose(data)"
                        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left customized-input cust_autoComplete pos-rel no_pad">
                        <!-- <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"> -->
                          <!-- <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="ContractingName"
                          class="label-form">Contracting country*</label> -->
                          <input appKeyListControl #competitorList (arrowDown)="arrowkeyLocation=$event"
                          (keyup.enter)="appendcompetitor(wiprocompetitorData[arrowkeyLocation],data,arrowkeyLocation);data.competitorNameSwitch=false;"
                          [attr.data-arrayMaxLength]="wiprocompetitorData?.length" [attr.data-isDownBtn]=true

                          role="combobox" aria-autocomplete="list"
                          [attr.aria-expanded]="data.competitorNameSwitch?true:false" aria-owns="read"
                          [attr.aria-activedescendant]="arrowkeyLocation"
                          id="wiprocompetitornameEnable{{i}}"

                          [ngClass]="data.errorborder_conditionCompName?'orangeborder':''"  [disabled]="SoleSourceOpp || disableOnAccess || disableFieldsInEndSales" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                           value="{{data.WiproCompetitoridname =='Others'? data.wiprocompetitorname: data.WiproCompetitoridname }}"
                           [name]="data.CompName" autocomplete="off" type="text" [(ngModel)]="data.WiproCompetitoridname =='Others'? data.wiprocompetitorname: data.WiproCompetitoridname " title="{{data.WiproCompetitoridname =='Others'? data.wiprocompetitorname: data.WiproCompetitoridname}}"
                            placeholder="Search name" (click)="competitorNameSwitchClick(data);data.WiproCompetitoridnames = true;data.competitorNameSwitch"
                              (ngModelChange)="changeLookUp(data)">
                          <span class="mdi mdi-magnify"></span>
                          <!-- <span>{{data.WiproCompetitoridname}}</span> -->
                          <div
                            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure suggestion-box pos-abs z-ind-99 white-bg"
                            *ngIf="data.WiproCompetitoridnames && data.competitorNameSwitch">
                            <perfect-scrollbar style="max-height:105px" class="z-ind-9">
                              <ul class=" list-group sort-dropdown">
                                <li id="{{k}}" tabindex="0" role="option" [class.active]="k==arrowkeyLocation" aria-disabled="false"
                                class="list-group-item"

                                  (click)="appendcompetitor(item,data,k)"
                                  *ngFor="let item of wiprocompetitorData |filter:data.WiproCompetitoridname; let k=index ">
                                  <label for="inti_name" class="float-left name">
                                    <span class="d-block list-name">{{item.Name}}</span>
                                    <!-- <span class="d-block sub-list">{{item.SysGuid}}</span> -->
                                  </label>
                                </li>

                                <li class="d-block list-name no_pad"
                                  *ngIf="(wiprocompetitorData |filter:data.WiproCompetitoridname).length == 0">
                                  No record found </li>
                              </ul>

                            </perfect-scrollbar>
                            <div class="">
                              <label for="inti_name addotherlabel" class="float-left name">
                                <button type = "button" id="{{wiprocompetitorData.length+1}}" [class.active]="wiprocompetitorData.length+1==arrowkeyLocation"   role="option" tabindex="0" aria-disabled="false" aria-label="Add other" class="cp btn-none d-block list-nameaddother button-searchs" (click)="openotherComp(data)">+ Add other</button>
                              </label>
                            </div>
                          </div>
                        <!-- </form> -->
                      </div>
                      <!--competitor name autocomplete ends here-->

                      <p *ngIf="data.errortext_conditionCompName==true" class="col-6 no_pad float-left validation-text top competitormessage" title="Competitor name is mandatory">* Competitor name is mandatory.</p>

                      <!-- New Design - comment this line 17/07 -->
                      <!-- <p *ngIf="data.errortext_conditionCompName==true" class="col-6 no_pad float-left validation-text top50">* Competitor name is mandatory.</p> -->
                    </td>
                    <td class="customized-slider" [attr.data-label]="'Incumbent'">
                      <mat-slide-toggle [name]="data.Incubant"[(ngModel)]="data.WiproIncumbent"  [checked]="data.WiproIncumbent" (change)="opportunityCompetitorToggle($event,data)" [disabled]="SoleSourceOpp || disableOnAccess || disableFieldsInEndSales">
                      </mat-slide-toggle>
                    </td>
                    <td class='pos-rel' [attr.data-label]="'Current scope share %'">
                        <div class="customized-input">
                            <label for="field1" class=""> </label>
                            <input min="5" max="200" [name]="data.Currentscopeshare" autocomplete="off" (click)="changeCurrentScopeShareEnableClick(data)" (keyup)="fixDecimal(data)"[(ngModel)]="data.WiproCurrentscopeshare" [ngClass]="data.errortext_conditionCurrentScope?'orangeborder':data.input_clicked?'redborder':''"  id="field1" type="text" class="border-gray w-75"  [disabled]="data.WiproIncumbent==false || SoleSourceOpp || disableOnAccess || disableFieldsInEndSales"
                            [value]="data.disabled?'':'data.WiproCurrentscopeshare'" placeholder="00.00" (clickOutside)="changeCurrentScopeShareEnable(data)">
                          </div>

                       <!-- New Design - uncomment this line 17/07 -->
                      <!-- <div class="customized-input">
                        <label for="field1" class=""> </label>
                        <input [popoverOnHover]="true" [popoverCloseOnMouseOutside]="false" [popoverCloseOnClickOutside]="true"
                        [popover]="myPopover" min="5" max="200" [name]="data.Currentscopeshare" (click)="changeCurrentScopeShareEnableClick(data);data.input_clicked=true" (keyup)="fixDecimal(data)"[(ngModel)]="data.WiproCurrentscopeshare" [ngClass]="data.errortext_conditionCurrentScope?'orangeborder':data.input_clicked?'redborder':''"  id="field1" type="text" class="border-gray w-75 button_messagespophover"  [disabled]="data.WiproIncumbent==false || SoleSourceOpp || disableOnAccess || disableFieldsInEndSales"
                        [value]="data.disabled?'':'data.WiproCurrentscopeshare'" placeholder="00.00" (clickOutside)="changeCurrentScopeShareEnable(data);data.input_clicked=false">
                        <popover-content #myPopover title="" placement="right" [animation]="false" [closeOnClickOutside]="true"
                        [attr.aria-hidden]="clickmes ? 'false' : 'true'">
                        <span class="tooltip-content">Please enter a valid percentage value from 0 to 100.
                        </span>
                      </popover-content>
                      </div> -->
                      <!-- <span>{{data.errortext_conditionCurrentScope}}</span> -->

                      <p *ngIf="data.errortext_conditionCurrentScope==true" class="col-6 no_pad float-left validation-text top currentscopesharepercentmessage" title="Please enter a valid percentage value from 1 to 100">Please enter a valid percentage value from 1 to 100.</p>

                      <!-- New Design - uncomment this line 17/07 -->
                      <!-- <p  class="error-message top-40" [ngClass]="(data.input_clicked)?'width100':''">
                        Please enter a valid percentage value from 0 to 100.</p> -->
                    </td>
                    <td class="customized-checkbox" [attr.data-label]="'Long listed'" *ngIf = "(pursuitStage && !disableOnAccess && !disableFieldsInEndSales) || (markingOppLost && pursuitStage)">
                      <mat-checkbox [name]="data.Longlisted"[(ngModel)]="data.WiproLonglisted"   aria-label="select" [disabled] = "SoleSourceOpp">
                        <!-- [disabled]="pursuitStage==false || SoleSourceOpp || disableOnAccess || disableFieldsInEndSales" -->
                      </mat-checkbox>
                    </td>
                    <td class="customized-checkbox" [attr.data-label]="'Short listed'" *ngIf = "(secureStage && !disableOnAccess && !disableFieldsInEndSales) || (markingOppLost && secureStage)">
                      <mat-checkbox [name]="data.Shortlisted"[(ngModel)]="data.WiproShortlisted"  aria-label="select" [disabled] = "SoleSourceOpp">
                        <!-- [disabled]="secureStage==false || SoleSourceOpp || disableOnAccess || disableFieldsInEndSales" -->
                      </mat-checkbox>
                    </td>
                    <td class="customized-checkbox" [attr.data-label]="'Shared win?'" *ngIf="(markingOppWon && !disableOnAccess && !disableFieldsInEndSales) || secureStage">
                      <mat-checkbox  [name]="data.Sharedwin"[(ngModel)]="data.WiproSharedwin" (change)="opportunityWiproSharedwinChange($event,data); enableCheck()" [disabled]="SoleSourceOpp" aria-label="select">
                        <!-- [disabled]="markingOppWon==false || SoleSourceOpp || disableOnAccess || disableFieldsInEndSales" -->
                      </mat-checkbox>
                    </td>
                    <td class="pos-rel" [attr.data-label]="'Share %'" *ngIf="(markingOppWon && !disableOnAccess && !disableFieldsInEndSales) || secureStage">
                      <div class="customized-input">
                        <label for="field1" class=""> </label>                                       
                        <input [name]="data.Sharepercentage" autocomplete="off" [(ngModel)]="data.WiproSharepercentage" (keyup)="fixDecimal1(data)" [ngClass]="data.errortext_conditionSharedPercent?'orangeborder':data.input_clicked?'redborder':''"  id="field1" type="text" class="border-gray w-75" [disabled]="data.WiproSharedwin==false || SoleSourceOpp"

                          [value]="data.disabled?'':'data.WiproSharepercentage'" placeholder="00.00" (click)="changeWiproSharepercentageEnableClick(data)" (clickOutside)="changeWiproSharepercentageEnable(data)">
                          <!-- [disabled]="data.WiproSharedwin==false || markingOppWon==false  || SoleSourceOpp || disableOnAccess || disableFieldsInEndSales" -->
                      </div>
                      <p *ngIf="data.errortext_conditionSharedPercent==true" class="col-6 no_pad float-left validation-text top currentscopesharepercentmessage" title="Please enter a valid percentage value from 1 to 100">Please enter a valid percentage value from 1 to 100.</p>
                    </td>
                    <td class="customized-checkbox" [attr.data-label]="'Winning party'" *ngIf="markingOppLost || (story && !SoleSourceOpp && !disableOnAccess && !disableFieldsInEndSales)">
                      <mat-checkbox [name]="data.Winningparty"[(ngModel)]="data.WiproWinningparty"  aria-label="select">
                        <!-- [disabled]="markingOppLost==false && (!story|| SoleSourceOpp || disableOnAccess || disableFieldsInEndSales)" [disabled]="(data.wiprocompetitorname=='Do Nothing' || data.WiproCompetitoridname=='Do Nothing')? true : false" [disabled]="!(data.wiprocompetitorname=='Do Nothing' || data.WiproCompetitoridname=='Do Nothing')"-->
                      </mat-checkbox>
                     </td>
                    <td class="no_pad display_flex">
                        <div class="mobile-align display_flex">
                      <button  type = "button" *ngIf="(disableOnAccess==false && disableFieldsInEndSales!= true) || markingOppLost " [ngClass]="i == 0 || CompetitorDataMoveDisable==false ? 'disabled_blue_circle_replay':''" [disabled]="i == 0 || CompetitorDataMoveDisable==false"  class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" (click)="moveup(i)"
                        aria-label="Up" matTooltip="Move up">
                        <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-arrow-up"></span>
                      </button>

                      <button  type = "button" *ngIf="(disableOnAccess==false && disableFieldsInEndSales!= true) || markingOppLost " [ngClass]="i == CompetitorEnable.length-1 || CompetitorDataMoveDisable ==false? 'disabled_blue_circle_replay':''" [disabled]="i == CompetitorEnable.length-1 || CompetitorDataMoveDisable==false" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" (click)="movedown(i)"
                        aria-label="Down" matTooltip="Move down">
                        <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-arrow-down"></span>
                      </button>
                      <button type = "button" *ngIf="(disableOnAccess==false && disableFieldsInEndSales!= true) || markingOppLost" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn"
                        aria-label="Delete" matTooltip="Delete" (click)="deletecompetitor(data.OpportunityCompetitorId,data.id,data.Rank,i)" >
                        <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-delete" ></span>
                      </button>
                      </div>
                    </td>
                  </tr>

                  <!-- Disable part starts here -->
                  <tr [ngClass]="SoleSourceOpp || disableOnAccess?'gray_back':''" *ngFor="let data of CompetitorDisable | slice:0:3; let i = index">
                      <td class="customized-checkbox">
                        <!-- <mat-checkbox name="selectDisable{{i}}"  [disabled]="data.disabled_true" aria-label="select" [(ngModel)]="data.isCheccked" (change)="checkIfAllSelected(data)"></mat-checkbox> -->
                      </td>
                      <td [attr.data-label]="'Rank'">
                        -
                      </td>
                      <td class="no_pad" [attr.data-label]="'Competitor name'">
                        <span *ngIf="data.disableCompetitor"  class="">{{data.WiproCompetitoridname}}</span>
                      </td>
                      <td class="customized-slider" [attr.data-label]="'Incumbent'">
                        <mat-slide-toggle [name]="data.IncumbentDisable"[(ngModel)]="data.WiproIncumbent" [checked]="data.toggle_check"  (change)="opportunityCompetitorToggleDisable($event,data)" [disabled]="data.disableInhouseYes==true || data.toggleDisable || disableOnAccess || disableFieldsInEndSales">
                        </mat-slide-toggle>
                      </td>
                      <td class="pos-rel" [attr.data-label]="'Current scope share %'">
                        <div class="customized-input">
                          <label for="field1" class=""> </label>
                          <input [name]="data.CurrentscopeshareDisable" autocomplete="off" [(ngModel)]="data.WiproCurrentscopeshare" (keyup)="fixDecimalDisable(data)"  [ngClass]="data.errortext_conditionCurrentScope?'orangeborder':data.input_clicked?'redborder':''" id="field1" type="text" class="border-gray w-75"  [disabled]="data.disableInhouseYes==true || data.WiproIncumbent==false || disableOnAccess || disableFieldsInEndSales"
                          [value]="data.disabled?'':'data.WiproCurrentscopeshare'" placeholder="00.00" (click)="changeCurrentScopeShareDisableClick(data)" (clickOutside)="changeCurrentScopeShareDisable(data)">
                        </div>
                        <p *ngIf="data.errortext_conditionCurrentScope" class="col-6 no_pad float-left validation-text top currentscopesharepercentmessage" title="Please enter a valid percentage value from 1 to 100">Please enter a valid percentage value from 1 to 100.</p>
                       </td>
                      <td class="customized-checkbox" [attr.data-label]="'Long listed'" *ngIf = "(pursuitStage && !disableOnAccess && !disableFieldsInEndSales) || (markingOppLost && pursuitStage)">
                        <mat-checkbox [name]="data.longlistedDisable"[(ngModel)]="data.WiproLonglisted" [disabled]="data.longlistInhouseDisable==true || data.longlistDisable==true || data.toggleDisable==true|| pursuitStage==false || disableOnAccess || disableFieldsInEndSales" aria-label="select"></mat-checkbox>
                      </td>
                      <td class="customized-checkbox" [attr.data-label]="'Short listed'" *ngIf = "(secureStage && !disableOnAccess && !disableFieldsInEndSales) || (markingOppLost && secureStage)">
                        <mat-checkbox [name]="data.ShortlistedDisable"[(ngModel)]="data.WiproShortlisted" [disabled]="data.shortlistDisable==true || data.disableInhouseYes==true || data.toggleDisable==true || secureStage==false || disableOnAccess || disableFieldsInEndSales" aria-label="select"></mat-checkbox>
                      </td>
                      <td class="customized-checkbox" [attr.data-label]="'Shared win?'" *ngIf="(markingOppWon && !disableOnAccess && !disableFieldsInEndSales && SoleSourceOpp) || secureStage">
                        <mat-checkbox  [name]="data.SharedwinDisable" [(ngModel)]="data.WiproSharedwin" (change)="opportunityWiproSharedwinChangeDisable($event,data)" (click)="onEvent($event,data);false" [disabled]="!data.WiproSharedwin && (data.toggleDisable==true || markingOppWon==false || disableOnAccess || disableFieldsInEndSales || SoleSourceOpp)" aria-label="select"></mat-checkbox>
                      </td>
                      <td class="pos-rel" [attr.data-label]="'Share %'" *ngIf="(markingOppWon && !disableOnAccess && !disableFieldsInEndSales) || secureStage">
                        <div class="customized-input">
                          <label for="field1" class=""></label>
                          <input [name]="data.SharepercentageDisable" autocomplete="off" [(ngModel)]="data.WiproSharepercentage" (keyup)="fixDecimal1(data)"  [ngClass]="data.errortext_conditionSharedPercent?'orangeborder':data.input_clicked?'redborder':''" id="field1" type="text" class="border-gray w-75"  [disabled]="(data.WiproSharedwin==false || data.toggleDisable==true)"
                            [value]="data.disabled?'':data.WiproSharepercentage" placeholder="00.00" (click)="changeWiproSharepercentageDisableClick(data)" (clickOutside)="changeWiproSharepercentageDisable(data)">
                        </div>
                        <p *ngIf="data.errortext_conditionSharedPercent==true" class="col-6 no_pad float-left validation-text top currentscopesharepercentmessage" title="Please enter a valid percentage value from 1 to 100">Please enter a valid percentage value from 1 to 100.</p>
                      </td>
                      <td class="customized-checkbox" [attr.data-label]="'Winning party'" *ngIf="markingOppLost || (story && !SoleSourceOpp && !disableOnAccess && !disableFieldsInEndSales)">
                        <mat-checkbox  [name]="data.WinningpartyDisable"[(ngModel)]="data.WiproWinningparty" aria-label="select"  [disabled]="(data.wiprocompetitorname=='Do Nothing' || data.WiproCompetitoridname=='Do Nothing')? true : false">
                            <!-- [disabled]="markingOppLost==false && (!story || SoleSourceOpp || disableOnAccess || disableFieldsInEndSales)" -->
                        </mat-checkbox>
                      </td>
                      <td class="no_pad display_flex">
                          <div class="mobile-align display_flex">
                        </div>
                      </td>
                    </tr>
                </tbody>
              </table>
              <!-- </perfect-scrollbar> -->
            </div>
            <!-- Table ends here -->
          </div>
        </form>
        </mat-expansion-panel>

      </div>
    </div>
  </div>
  <!-- </form> -->
