<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">

    <app-nav></app-nav>

    <app-small-spinner [isLoading]="isLoading"> </app-small-spinner>

    <div class="float-left col-12 mt10 header-action-tab main-containt accountDetails_page" [ngClass]="userdat.chatBot? 'chat-bot-1100' : userdat.sideTrans ? 'main-containt-250' : ''">

        <div class="col-sm-12 no_pad float-left head ">

            <div class="no_pad float-left heading cp pl30">
                <button class="mdi mdi-keyboard-backspace backspace_button cp no_pad" role="button" tabindex="0" aria-label="Back" (keypress)="goBack" (click)="goBack()"><span class="sr-only">back</span></button>
                <h2 class="heading-Account"> Ownership History</h2>

                <p>{{accountName}}</p>

            </div>

            <div class="float-right"> </div>

        </div>

    </div>

</div>

<div class="blue_bg_div account-details-back account_details_height gcp_list_height"> </div>

<div class="min-hei accountDetails_page scroll-middle-ios-100vh" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'">

    <div class="topNavHead pt20 plr30 float-left col-sm-12 padd-top-130">

        <div class="col-sm-12 no_pad float-left mt20">

            <div class="col-sm-12 no_pad">

                <div class="col-sm-12 no_pad backWht">

                    <h3 class="cardsHead">Owners({{ownersList.length}})</h3>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb20">

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad scroll-tabs overflowscroll">

                            <table class="table table-borderless">

                                <thead>

                                    <tr>

                                        <th>
                                            <div class="float-left " role="columnheader">

                                                <span class="float-left text-muted"> Owner Name</span>

                                            </div>
                                        </th>

                                        <th>
                                            <div class="float-left no_pad" role="columnheader">

                                                <span class="float-left text-muted"> Email ID </span>

                                            </div>
                                        </th>

                                        <th>
                                            <div class="float-left no_pad" role="columnheader">

                                                <span class="float-left text-muted">Ownership start date</span>

                                                <!-- <span class="float-left caretClass text-muted"></span> -->

                                            </div>
                                        </th>

                                        <th>
                                            <div class="float-left no_pad" role="columnheader">

                                                <span class="float-left text-muted">Ownership end date</span>

                                                <!-- <span class="float-left caretClass text-muted"></span> -->

                                            </div>
                                        </th>

                                    </tr>

                                </thead>

                                <tbody>

                                    <tr *ngFor="let ownersList of ownersList">

                                        <td [attr.data-label]="'Owner Name'">

                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left h100 no_pad">

                                                <span>{{ownersList.Ownername}}</span>

                                            </div>

                                        </td>

                                        <td [attr.data-label]="'Email ID'">

                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left h100 no_pad">

                                                <span>{{ownersList.Emailid}}</span>

                                            </div>
                                        </td>

                                        <td [attr.data-label]="'Ownership start date'">

                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left h100 no_pad">

                                                <span>{{ownersList.Ownershipstartdate}}</span>

                                            </div>

                                        </td>

                                        <td [attr.data-label]="'Ownership end date'">

                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left h100 no_pad">

                                                <span>{{ownersList.Ownershipenddate}}</span>

                                            </div>

                                        </td>

                                    </tr>


                                    <!--<tr class="nodata_tr" *ngIf="BSSLDetails.length==0">

                       <td class="nodata_td" colSpan="12"> No records found </td>

                       </tr>-->

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>


        </div>

    </div>