$Azure : #2f81ff;
$White : #ffffff;
$River : #d9e9ff;
$MetalLight : #9b9b9b;
$MidNight : #103f86;
$Metal : #4a4a4a;
$Black : #000000;
$Orange : #f58323;
$RubyRed : #ef3341;
$Green : #6dc24b;
$Wash : #9f9f9f;
$MidGrey:#343434;
$Assistant-blue: #E5F0FF;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey : #4a4a4a;
$BlueSoftBG : #eaf2ff;
$ashGry: #708cb6;
.account_details_height {
  height: 322px !important;
}
.mr5 {
  margin-right: 5px;
}

.mr15 {
  margin-right: 15px;
}
.reviewSubmit_Container .mat-expansion-panel {
  border-radius: 8px;
}
.editSearch .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0;
  padding-left: 10px;
  padding-right: 5px;
  height: 34px;
  padding-top: 3px;
}
.secondary-btn {
  padding: 8px 25px;
}
.editSearch .mat-form-field-flex {
  background-color: #fff;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}
.editSearch .mat-form-field-infix {
  position: relative;
  border: 0;
}
.editSearch .mat-form-field-infix input {
  height: 40px !important;
  width: 100% !important;
  outline: none;
}

.editSearch .mdi-magnify:before{
  pointer-events:auto !important;
}
// .caret{
//   display: none;
// }
.reviewSubmit_Container .accord_heading .title_s {
  font-size: 16px;
  font-family: "WiproAkkuratTT-Bold";
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #000000;
}
.reviewSubmit_Container .chev_right {
  font-size: 28px;
  color: #000000;
}

.reviewSubmit_Container .mat-expansion-panel-header {
  border-radius: 8px;
}
.mat-autocomplete-panel.mat-autocomplete-visible {
  top: 10px !important;
  border: 1.5px solid #2f81ff !important;
  border-radius: 4px !important;
}

.reviewSubmit_Container .pt8 {
  padding-top: 8px;
}
.accountDetails_page {
  .button_messagespophover {
    border: none;
    background: none;
    margin: 0px !important;
    padding: 0px;
  }
  .message_cls {
    height: 25px;
    width: 25px;
    background-color: #d5e6ff;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 23px;
    cursor: pointer;
  }
  .message_cls.mdi-message-plus:before {
    content: "\F653";
    font-size: 16px;
    padding: 0 4px;
    color: #2f81ff;
  }
  .heading {
    h1 {
      font-size: 22px;
      color: white;
      font-family: "WiproAkkuratTT-Bold";
      margin: 0px;
      cursor: default;
    }
    p {
      color: #e7ebf2;
      opacity: 0.8;
      font-family: "WiproAkkuratTT-Regular";
      cursor: default;
      margin-bottom: 0px; //chethana aprint 17th
    }
  }
  .height1 {
    height: 1px;
  }
  .editBtn {
    border-radius: 4px;
    background-color: #ffffff;
    color: #2f81ff;
    border: none;
    padding: 8px 25px;
    font-size: 14px;
    font-family: WiproAkkuratTT-Bold;
  }
  .editBtn:hover {
    background: #2f81ff;
    color: #fff;
  }
  .editBtn .edit {
    padding-left: 4px;
  }
  .btn_all {
    height: 40px;
    background: #fff;
    border: 1px solid #2f81ff;
    // border-radius: 4px;
  }
  .sub_vertical_but.active,
  .sub_vertical_but:hover {
    background: #fff;
    color: #2f81ff;
    // border-radius: 4px;
    // border: 1px solid #fff;
    border: none;
    outline: none;
    .btntxt_s {
      color: #2f81ff;
    }
  }
  .sub_vertical_but:active {
    background: #fff;
    color: #2f81ff;
    border: none;
    outline: none;
    // border-radius: 4px;
    // border: 1px solid #fff;
  }
  .sub_vertical_but {
    font-family: WiproAkkuratTT-Bold;
    background: transparent;
    border: none;
    font-size: 0.85em;
    color: #fff;
    font-weight: bold;
    border: 1.5px solid #fff;
    padding: 0px;
  }
  .sub_vertical_plan {
    font-family: WiproAkkuratTT-Bold;
    background: #fff;
    border: none;
    font-size: 0.85em;
    color: #2f81ff;
    padding: 5px 20px;
    font-weight: bold;
    border: 1.5px solid #2f81ff;
    border-radius: 4px;
  }
  .sub_vertical_plan:hover {
    background: #2f81ff;
    color: #fff;
    // border-radius: 4px;
    // border: 1px solid #fff;
  }
  .sub_vertical_plan:active {
    background: #2f81ff;
    color: #fff;
    // border-radius: 4px;
    // border: 1px solid #fff;
  }
  .vertical_btns_div {
    margin: 30px 0px 0px 0px;
  }
  ///chethana added as per Nov 26th vd Campian history tab css starts
  
  .sub_vertical_butCampagin:hover {
    background: #2f81ff;
    color: #fff;
    border: none;
    outline: none;
    .btntxt_s {
      color: #fff;
    }
  }
  // .sub_vertical_butCampagin:active {
  //   background: #2f81ff;
  //   color: #fff;
  //   border: none;
  //   outline: none;
  //   .btntxt_s {
  //     color: #fff;
  //   }
  // }
   .active {
    font-family: WiproAkkuratTT-Bold;
    background: #2f81ff;
    font-size: 0.85em;
    color: #fff;
    font-weight: bold;
    border: 1.5px solid #2f81ff;
    padding: 0px;
  }
  .sub_vertical_butCampagin {
    font-family: WiproAkkuratTT-Bold;
    background: #fff;
    border: none;
    font-size: 0.85em;
    color: #2f81ff;
    font-weight: bold;
    border: 1.5px solid #2f81ff;
    padding: 0px;
  }
  .txtcenter{
text-align: center;
  }
  ///Campian history tab css ends
  .brd-right0 {
    border-right: 0px !important;
    border-radius: 5px 0px 0px 5px;
  }
  .brd-left0 {
    border-left: 0px ;
    border-radius: 0px 5px 5px 0px;
  }
  .calinSelectall {
    font-size: 17px;
    text-align: center;
    padding-right: 5px;
  }
  .txtpos {
    position: relative;
    top: -2px;
  }
  .overviewHead {
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .backWht {
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(157, 157, 157, 0.3);
    background-color: #ffffff;
    padding: 25px;
    margin-top: 10px;
    float: left;
  }
  .cardsHead {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: #000000;
    margin-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 2px solid #d8d8d8;
  }
  .w-151
  {
    min-width: 151px;
    max-width: 151px;
  }
  .bordr-botm-hd
  {
    border-bottom: 2px solid #d8d8d8;
  }
  .bordr-black
  {
    border: 1.5px solid #000000 !important;
    font-family: WiproAkkuratTT-Bold;
  }
  .recordsDiv {
    padding: 16px 0px;
    text-overflow: ellipsis; //rudra
    overflow: hidden;
    // border-top: 1px solid #d8d8d8;
  }
  .recordsDivcustom{
    padding: 10px 20px 10px 0px;
    text-overflow: ellipsis; //rudra
    overflow: hidden; 
  }
  .recordHeader {
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #4a4a4a;
    opacity: 0.9;
  }
  .recordValue {
    opacity: 1;
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #000000;
  }
  .editLabel {
    opacity: 0.8;
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #6f6f6f;
    font-weight: normal;
  }
  .editBoxes {
    border-radius: 2px;
    background-color: #ffffff;
    width: 95%;
    border: 1px solid #d8d8d8;
    padding: 8px 10px;
  }
  .disabledInput[disabled] {
    cursor: default;
    background-color: #d8d8d8 !important;
    opacity: 0.5;
  }
  .mt10 {
    margin-top: 10px;
    float: left;
  }
  .martop6 {
    margin-top: 6px !important;
  }
  .allianceTable th {
    padding: 10px;
    background: #eaf2ff;
    font-family: WiproAkkuratTT-Bold;
    font-size: 12px;
    font-weight: bold;
    color: #40659e;
    height: 40px;
  }
  .allianceTable td {
    padding: 10px;
    font-family: WiproAkkuratTT-Regular;
    font-size: 14px;
    color: #3f3f3f;
    height: 60px;
  }
  .allianceTable tbody tr:nth-child(even) {
    background: #f9f9f9;
  }
  .tablAlliance thead tr th:first-child {
    border-radius: 8px 0px 0px 0px;
  }
  .tablAlliance thead tr th:last-child {
    border-radius: 0px 8px 0px 0px;
  }
  .compTables th {
    border-radius: 8px 8px 0px 0px;
  }
  .allianceTable tbody tr:last-child {
    border-bottom: 2px solid #d8d8d8;
  }
  .posRelative {
    position: relative;
  }
  .accbody {
    //  border-top:1px solid #d8d8d8; //chethana may 6th
    padding-bottom: 15px;
  }
  .accountDtlsAcc {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(157, 157, 157, 0.3);
  }
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-keyboard-focused,
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-program-focused,
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
    background: #fff !important;
  }
  //  .recordsDiv:first-child{
  //    border-top: 2px solid #d8d8d8;
  //  }
  .width4 {
    width: 4%;
  }
  .width22 {
    width: 22%;
  }
  .edit_style {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px !important;
  }
  .addAccountBtns {
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #2f81ff;
    color: #2f81ff;
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    padding: 0px 22px;
  }
  .caret_down_table,
  .caret_up_table {
    color: #2f81ff !important;
  }
  .cancelBack {
    background: #eaf2ff !important;
  }
  .editTopHeads {
    border-bottom: 2px solid #d8d8d8;
    margin-bottom: 20px !important;
  }
  .form-control {
    height: 40px;
  }
  .mdi-magnify:before {
    color: #2f81ff;
    right: 6px;
    bottom: 4px;
    position: absolute;
    top: 7px;
    font-size: 20px;
  }
  .mdi-swap-vertical:before {
    color: #2f81ff;
    right: 6px;
    bottom: 4px;
    font-size: 20px;
    position: absolute;
  }
  .accord_s {
    padding: 0px 25px 25px 25px;
  }
  .deleteColumn {
    font-size: 18px;
  }
  @media only screen and (max-width: 1024px) {
    .accord_s {
      padding: 0px 25px;
    }
  }
}

.primary-button.std {
  padding: 9px 5px;
  min-width: 110px;
}
.borderleft {
  border-left: 0 !important ;
}
.new-container {
  height: 20px;
  width: 20px;
  background-color: #d5e6ff;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}
.message_cls.mdi-comment-plus-outline:before {
  content: "\F183";
  font-size: 14px;
  padding: 0 4px 4px;
  color: #2f81ff;
}
//popover css
textarea.form-control {
  height: auto;
}
.form-controls {
  color: #000 !important;
  border: 2px solid #d8d8d8 !important;
  padding: 14px !important;
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control  {
  color: #000 !important;
  border: 2px solid #d8d8d8 !important;
}
.cancel_but {
  margin-top: 13px;
  margin-right: 10px;
  width: 120px;
  height: 40px;
  background-color: #d5e6ff;
  color: #2f81ff;
  border: 1px solid #d5e6ff;
  font-family: WiproAkkuratTT-Regular;
}
.submit_but {
  margin-top: 13px;
  width: 120px;
  height: 40px;
  background-color: #fff;
  color: #cfcfcf;
  border: 1.5px solid #cfcfcf;
  font-family: WiproAkkuratTT-Regular;
}
.submit_but1 {
  margin-top: 13px;
  width: 120px;
  height: 40px;
  background-color: #2f81ff;
  color: #fff;
  border: 1.5px solid #2f81ff;
  font-family: WiproAkkuratTT-Regular;
}
.submit_but1:focus {
  outline: none;
}
.textarea_readonly {
  margin-top: 12px;
}

/////////////////////////////message Tool tip css starts-------------------------->
.tooltipcls {
  top: -45px;
  width: 374.6px;
  height: 270px;
  border-radius: 1px;
  background-color: #fff;
  padding: 13px 10px;
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  font-family: WiproAkkuratTT-Regular;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #9b9b9b;
  box-shadow: 0 2px 10px 0 rgba(157, 157, 157, 0.3);
}
.tooltipcls::before {
  content: "";
  position: absolute;
  top: 17%;
  right: 100%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-width: 10px;
  border-style: solid;
  border-color: #d6d5d5 transparent transparent;
  -webkit-transform: rotate;
  transform: rotate;
}
.tooltipcls::after {
  content: "";
  position: absolute;
  top: 17%;
  right: 100%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent;
  -webkit-transform: rotate;
  transform: rotate;
}
.tooltipclsGreen {
  display: none;
}
.width_message2:hover {
  .tooltipclsGreen {
    top: 60px;
    width: auto;
    height: auto;
    left: -10px;
    border-radius: 1px;
    background-color: #6dc24b;
    padding: 13px 10px;
    position: absolute;
    z-index: 1;
    margin-left: 10px;
    font-family: WiproAkkuratTT-Regular;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #9b9b9b;
    box-shadow: 0 2px 10px 0 rgba(157, 157, 157, 0.3);
    display: block;
  }
  .tooltipclsGreen::before {
    content: "";
    position: absolute;
    left: 3px;
    top: -26%;
    right: 100%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-width: 8px;
    border-style: solid;
    border-color: #6dc24b transparent transparent;
    -webkit-transform: rotate;
    transform: rotate;
    display: block;
  }
  .tooltipclsGreen::after {
    content: "";
    position: absolute;
    top: -26%;
    left: 3px;
    right: 100%;
    -webkit-transform: rotate(100deg);
    transform: rotate(180deg);
    border-width: 8px;
    border-style: solid;
    border-color: #6dc24b transparent transparent;
    -webkit-transform: rotate;
    transform: rotate;
    display: block;
  }
  .text_colorintool {
    font-size: 12px;
    color: #ffffff;
    display: block;
  }
}
.current_pos {
  height: 19px;
  font-family: WiproAkkuratTT-Bold;
  padding: 15px 10px 25px 9px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.textarea_readonly {
  margin-top: 12px;
}
.form-control {
  color: #000 !important;
  border: 2px solid #d8d8d8 !important;
}
.form-control {
  padding: 14px !important;
}
textarea.form-control {
  height: auto !important;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cancel_but {
  margin-top: 13px;
  margin-right: 10px;
  width: 120px;
  height: 40px;
  background-color: #d5e6ff;
  color: #2f81ff;
  border: 1px solid #d5e6ff;
  font-family: WiproAkkuratTT-Regular;
}
.submit_but {
  margin-top: 13px;
  width: 120px;
  height: 40px;
  background-color: #fff;
  color: #cfcfcf;
  border: 1.5px solid #cfcfcf;
  font-family: WiproAkkuratTT-Regular;
}

.submit_but1 {
  margin-top: 13px;
  width: 120px;
  height: 40px;
  background-color: #2f81ff;
  color: #fff;
  border: 1.5px solid #2f81ff;
  font-family: WiproAkkuratTT-Regular;
}

.count_cls {
  position: relative;
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: #ff784a;
  border-radius: 50%;
  float: right;
  left: 3px;
}
.count_txt {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  padding-left: 11px;
  position: relative;
  top: 5.5px;
}
.thirdcon {
  margin-bottom: 0px;
}
.button_messagespophover {
  border: none;
  background: none;
  margin: 0px !important;
  padding: 0px;
}
.pad-create-leadbtmPophover {
  padding: 18px 30px 160px 30px;
}
.pad-create-lead3btmPophover {
  padding: 5px 30px 160px 30px;
}
.toggle_left_toggle {
  float: left;
  margin-top: 45px !important;
}
textarea.form-control {
  height: auto;
}
.message_cls {
  height: 20px;
  width: 20px;
  background-color: #d5e6ff;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: 0px;
  // z-index: 9;
}
.message_cls.mdi-comment-plus-outline:before {
  content: "\F183";
  font-size: 14px;
  padding: 0px 4px 4px 4px;
  color: #2f81ff;
  position: relative;
  // top:-5px;
}
.message_cls_edit {
  height: 25px;
  width: 25px;
  background-color: #d5e6ff;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 19px;
  cursor: pointer;
  position: absolute;
  top: -5px;
}
.message_cls_edit.mdi-comment-plus-outline:before {
  content: "\F183";
  font-size: 14px;
  padding: 0px 4px 4px 4px;
  color: #2f81ff;
}
.message_cls_orange {
  height: 25px;
  width: 25px;
  background-color: #ff784a;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 23px;
  cursor: pointer;
  position: relative;
  top: 0px;
  // z-index: 9;
}

.message_cls_orange.mdi-comment-plus-outline:before {
  content: "\F183";
  font-size: 14px;
  padding: 0px 4px 4px 4px;
  color: #fff;
  pointer-events: none;
  position: relative;
  // top: -1px;
}

.message_cls_orange_edit {
  height: 25px;
  width: 25px;
  background-color: #ff784a;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 19px;
  cursor: pointer;
  position: absolute;
  top: -5px;
}
.message_cls_orange_edit.mdi-comment-plus-outline:before {
  content: "\F183";
  font-size: 14px;
  padding: 0px 4px 4px 4px;
  color: #fff;
  pointer-events: none;
}

.width_message1 {
  width: 12%;
  display: block;
  font-size: 14px;
  color: #9b9b9b;
}
.width_message {
  font-size: 14px;
  color: #9b9b9b;
}
.width_message2 {
  font-size: 12px;
  color: #4a4a4a;
  margin-top:9px; //Rudra oct 4th
}
.acc_txtarea {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
}
.backspace_button {
  width: 22px;
  height: 22px;
  float: left;
  color: #fff;
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 1.27;
  margin-right: 5px;
}
.pstyles_acc {
  margin-bottom: 0px !important;
  font-size: 13px !important;
  color: #4a4a4a !important;
}
.bstyles_acc {
  font-size: 14px !important;
  color: #4a4a4a !important;
  font-weight: bold !important;
}
p {
  line-height: unset;
}
.top_pos {
  // position: relative;
    // top: 0px;
  position: absolute; //Rudra oct 4th
  top: -7px;//Rudra oct 4th
}
/////////////////////////////message Tool tip css ends-------------------------->
// customer details editable fields chethana April 1 start
.disable-input {
  background-color: #f3f3f3 !important;
}
.customized-select select {
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
}
.header_borderbottom {
  border-bottom: 1px solid #d8d8d8;
}
.blue_circle_replay {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d9e9ff;
  position: relative;
  text-align: center;
}
.blue_circle_replay_img {
  color: #2f81ff;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  top: 0px;
  visibility: visible;
  left: 0;
}
.dective_red {
  color: #f5832b !important;
}
.active_green {
  color: #76c24f !important;
}
.pt40 {
  padding-top: 40px;
}
.padd-top-130 {
  padding-top: 130px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pointer {
  cursor: pointer;
}
// customer details editable fields chethana April 1 end
// customer details editable fields chethana April 1 end
// Advisory/ Analyst relations autocomplete code may 3rd
.top64 {
  top: 64px;
}
.CompanyName {
  .mdi-magnify:before {
    color: #2f81ff;
    font-size: 20px;
    right: 10px;
    position: absolute;
    bottom: 5px;
  }
}
.border-right {
  border-right: 2px solid #2f81ff !important;
}
.z-ind-99 {
  z-index: 99;
}
.border-btm {
  border-bottom: 2px solid #2f81ff !important;
}
.color-azure {
  color: #2f81ff;
}
.border-leftdrop {
  border-left: 2px solid #2f81ff !important;
}
.pos-abs {
  position: absolute;
}
.standard-border {
  border: 1.5px solid;
}
.border-right {
  border-right: 2px solid #2f81ff !important;
}
textarea.form-control {
  box-shadow: 0 0 0 0 !important;
}

.cardsHeadcbu {
  //chethana may 6th
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  color: #000000;
  margin-top: 13px;
  margin-bottom: 13px;
}
.cardsHeadheader {
  //chethana may 6th
  margin-top: 0px;
  padding-bottom: 15px;
  margin-bottom: 0;
  border-bottom: 2px solid #d8d8d8;
}
.padd_top25cbu {
  //chethana may 6th
  padding-top: 20px important;
}
.error-message.custom-msgcomp {
  //chethana july 15th
  top: 87px;
  right: 0px;
  width: 100%;
}

.mb21 {
  //chethana july 16th
  margin-bottom: 15px !important;
}
.mb14 {
  //chethana july 16th
  // margin-bottom: 14px;
}
  //chethana Aug 30th
.info-icon {
    font-size: 20px;
    color: #2f81ff;
    position: relative;
    top: 3px;
}

  //chethana  Aug 30th
  thead th.actionColumn {
    right: 0;
    z-index: 1;
    background: #103f86;
    height: 40px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 0 10px 10px 0;
    position: sticky;
    top: 0;
    width: auto;
    padding: 0px 20px;
    line-height: 42px !important;
    white-space: nowrap;
    text-align: left;
}

// deactive popup style starts

.popup-container{
  .popup-hd-txt{
    color: #000000 !important;
    font-family: WiproAkkuratTT-Bold;
  }
  .body-content{
    color: #000000 ;
    font-family: WiproAkkuratTT-Bold;
    font-size: 18px
  }
  .pad-left-25{
    padding-left: 25px;
  }
  .pad-botton-25{
    padding-bottom: 25px
  }
}

.heading-Account{
  margin-bottom: 0;
  font-family: WiproAkkuratTT-Bold;
  font-size: 24px;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px;
  min-width: 70px;
}
// responsive table harish starts here
@media screen and (max-width: 823px) {
  table {
  border: 0;
  }
  table caption {
  font-size: 1.3em;
  }
  table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  }
  table tr:not(:first-child) {
  border-top: 20px solid #f9f9f9;
  }
  table tr {
  margin-bottom: 0.625em;
  height: auto !important;
  // display: inline-block !important;
  // height: auto !important;
  position: relative;
  background-color: white !important;
  touch-action: pan-y !important;
  }
  table td {
  display: inline-grid;
  text-align: left;
  width: 100% !important;
  float: left;
  line-height: normal !important;
  touch-action: pan-y !important;
  }
  table th.actionColumn {
  display: inline-grid;
  text-align: left;
  //width: 100% !important;
  float: left;
  line-height: normal !important;
  padding-right: 0px;
  
  }
  table tr th {
  display: inline-grid;
  text-align: left;
  width: 100% !important;
  float: left;
  line-height: normal !important;
  touch-action: pan-y !important;
  padding-right: 0px;
  }
  table td::before,
  table tr th::before {
  /*
  * aria-label has no advantage, it won't be read inside a table
  content: attr(aria-label);
  */
  content: attr(data-label);
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #9b9b9b;
  padding-bottom: 5px;
  }
  table th.actionColumn {
  border-bottom: 0;
  overflow-x: auto;
  }
  }
  // responsive table harish ends here
  // responsive Rudra starts here
  @media screen and (max-width: 823px) {
    .h-380 {
      height: 75vh !important
    }
    .addAccountBtns{
      width: 90% !important;
    }
    .btn_all{
      width:150px !important;
    }
    .vertical_btns_div {
      width: 600px !important;
    }
    .scrollClass{
      overflow-x: scroll !important;
    }
    .widthAdj{
      width:100% !important;
    }
  }
    // responsive Rudra ends here
  //   #campaign .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  //   margin:0px 25px 0px 0px !important;
  // }
  .widthAdj{
    width:84% ;
  }
  .commonActionBtn{
    margin: 0 3px;
    left: 0!important;
    float: right!important;
  }
  .firstdatacolor{
    color: #2f81ff !important;
  }
 .statuscolorgreen{
   color:#6dc24b !important;
 }
 .statuscolorred{
  color:#ef3341 !important;


  .linkTxt{
    font-family: WiproAkkuratTT-Regular !important;
    color: #2f81ff !important;
    text-decoration: underline !important;
  }

  .mdi-link-variant:before {
    
    color: #2f81ff;
    font-weight: bold;
    font-size: 16px;
  }
}








// table

.width-20{
 width: 20%;
}
.width-18{
    width: 18%;
   }
   .width-22{
    width: 22%;
   }
.caret1 {
    float: right;
    position: relative;
    left: 5px;
    /* width: 0; */
    height: 0;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
}
.pr30{
    padding-right: 30px;
}
.padt-5
{
    padding-top: 5px ;
}

.pad-20
{
    padding: 20px;
}

// .mar-top18{
// margin-top: 13px; 
// }
.acc_label
{
    left: 40px;
    float: left;
    position: absolute;
    // top: 10px;
    top:6px;
}

.cp{
    cursor: pointer;
}
.convo-tag{
    position: static;
    left: 65px;
    width: 80px;
    height: 16px;
    opacity: .6;
    font-family: WiproAkkuratTT-Regular;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4a4a4a;
    float: left;
    top: 60px;
}
.last-active{
    position: relative;
    left: 20px;
}
.last-order{
    position: relative;
    left: 45px;
}
.last-activity{
    position: relative;
    left: 35px;
}
.last-invoice{
    position: relative;
    right: 20px;
}
.last-openheading{
    position: relative;
    left: 20px;
}
 .close-icnnew { //chethana june21th
    /* color: #2f81ff; */
    font-size: 20px;
    /* background: #d9e9ff !important; */
    border-radius: 50%;
    max-width: 40px !important;
    height: 35px;
    width: 35px;
    float: right !important;
    outline: none !important;
    background: transparent;
    border: none !important;
}
.w-100{
    width: 100px !important;
}
.swapParent .card {
    padding:0px !important; 
    // padding-right: 20px !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.swapParent .mat-radio-label {
    width: 780px !important;
    padding: 25px 0px !important;
}
.acc_labelnum{
left: 40px;
    float: left;
    position: absolute;
    top: 30px;
}
.sub_list{
  color: #000 !important;
  font-size: 14px;
  font-family: WiproAkkuratTT-Regular;
}
.text-muted{
  color: #6c757d !important;
  font-size: 15px !important;
  font-family: WiproAkkuratTT-Regular !important;
}
.caretClass{
    position: relative;
    left: 5px;
    top: 7px;
    height: 0;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
}
.backspace_button {
  width: 22px;
  height: 22px;
  float: left;
  color: #fff;
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 1.27;
  margin-right: 5px;
  background: transparent;
  border: none;
}

 