<div class="col-12 float-left no_pad popup-container popup-container-opportunity gain-popup">

    <div class="col-12 float-left container-dialog">
        <div class="col-12 float-left no_pad popup-hd">
            <span class="col-11 float-left no_pad popup-hd-txt" mat-dialog-title>Do you want to reopen the selected opportunities?</span>
            <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close"  mat-dialog-close ></button>
        </div>

        <div class="col-12 float-left border-bottom-grey"></div>


        <div class="accordian-nomination  col-12 float-left no_pad">
            <mat-accordion class="col-12 float-left no_pad accordian-style">
                <mat-expansion-panel hideToggle="true" [expanded]= false class="no_pad " (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header class="no_pad" style="min-height:60px;">
                        <mat-panel-title class="col-12 accord-heading">
                            <span [ngClass]="panelOpenState ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                            <span class="accordian-title pad-top-8">01 Opportunity</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- <div class="mat-expansion-panel-body no_pad"> -->
                    <div class="horizontal-line w-100 no_pad"></div>
                    <perfect-scrollbar style="height:125px;">
                        <div class="col-12 float-left no_pad ">
                            <div class="col-12 float-left no_pad customized-checkbox">
                                <div   *ngFor="let data  of reopenData"  class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox (change)='selectCheck()' [(ngModel)]="data.isCheccked" name="data.isCheccked" class="name-inpopup">{{data.OpportunityName}}</mat-checkbox>
                                </div>
                                <!--<div class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox class="name-inpopup">wipro’s lead to order transformation</mat-checkbox>
                                </div>
                                <div class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox class="name-inpopup">wipro’s lead to order transformation</mat-checkbox>
                                </div>
                                <div class="col-12 float-left no_pad check-padding">
                                    <mat-checkbox class="name-inpopup">wipro’s lead to order transformation</mat-checkbox>
                                </div>-->
                            </div>
                        </div>
                    </perfect-scrollbar>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
     

        <div class="col-12 float-left border-bottom-grey"></div>

        <span class="col-12 float-left no_pad details-txt">The selected opportunity will be reopened. Your request will be send to the finance team for approval.</span>
    </div>

    <div class="col-6 float-left no_pad">
        <button aria-label="NO" class="col-12 float-left no_pad cancel-btn1 mt-0" mat-dialog-close>No</button>
    </div>
    <div class="col-6 float-left no_pad">
        <button  [ngClass] = "( filterData.length==0)?'disableAssign':''"    [disabled]="( filterData.length==0)"   (click)='confirm()' aria-label="YES" class="col-12 float-left btndef-none no_pad confrm-btn mt-0" >Yes</button>
    </div>
</div>