<div class="col-12 float-left  no_pad popup-container  popup-container-opportunity suspendPop">

        <div class="col-12 float-left  container-dialog">
            <div class="col-12 float-left  no_pad popup-hd">
                <span class="col-11 float-left  no_pad popup-hd-txt" mat-dialog-title>Do you want to suspend this opportunity?</span>
                <button class="col-1 float-left no_pad btndef-none mdi mdi-window-close close-icn cp" aria-label="close" mat-dialog-close></button>
            </div>
            <div class="col-12 float-left border-bottom-grey "></div>
            <div class="col-12 float-left pad-20-pop">
                <div class="convo-name-title">Opportunity name</div>
                <div class="convo-name mt5 text_transfor_caps">Wipro’s lead to order transformation</div>
            </div>
            <div class="col-12 float-left border-bottom-grey"></div>
            <!--datepicker starts-->
            <div class="col-12  float-left  pad-20-pop ">
                <label class="col-12  float-left no_pad" for="calStart">Next review date*</label>
                <div class=" col-12  float-left no_pad pos-rel">
                    <div class="col-12  float-left no_pad cal_brdr">
                        <div class="col-12  float-left no_pad cust_calan">
                            <input class="col-12  float-left " id="calStart" [matDatepicker]="picker5"
                                title="DD-MMM-YYYY" placeholder="DD-MMM-YYYY" (click)="picker5.open()" (keypress)="picker5.open()" >
                            <mat-datepicker-toggle matSuffix [for]="picker5"  tabindex="0" aria-label="calender" (click)="picker5.open()" (keypress)="picker5.open()" >
                                <span class="mdi mdi-calendar-blank float-right no_pad" matDatepickerToggleIcon></span>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <!--datepicker ends-->
            <div class="convo-name" id="suspend" >Suspend remarks*</div>
            <textarea class="col-12 float-left mt10 pop-area" aria-labellledby="suspend" placeholder="Write your remarks here"></textarea>
            <div class="col-12 float-left border-bottom-grey mt20"></div>
            <div class="float-left convo-name mt10">This opportunity will be suspended.</div>
    
    
        </div>
        <div class="col-6 float-left no_pad mt30">
            <button aria-label="NO" class="col-12 float-left no_pad cancel-btn1 mt15" mat-dialog-close>No</button>
        </div>
        <div class="col-6 float-left no_pad mt30">
            <button aria-label="YES" class="col-12 float-left btndef-none no_pad confrm-btn mt15" mat-dialog-close>Yes</button>
        </div>
    
    </div>