<div class="col-12 float-left mb50 order-list-BFM">

  <!-- Review log panel starts here -->
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mb20 no_pad">
  <mat-accordion>
    <mat-expansion-panel hideToggle="true" [expanded]="true" class="no_pad" (opened)="panelOpenState2 = true"
      (closed)="panelOpenState2 = false">
      <mat-expansion-panel-header class="min_height60">
        <div class="col-12 no_pad">
          <div class="accord-heading1 col-12">
            <div class="col-12 float-left no_pad">
              <span
                [ngClass]="panelOpenState2 ? 'mdi mdi-chevron-down chevron-right float-left':'mdi mdi-chevron-up chevron-right float-left'"></span>
              <span class="accordian-title cardsHead col-10 float-left no_pad">
                Approval status</span>
            </div>
          </div>
        </div>
      </mat-expansion-panel-header>

      <div class="col-12 no_pad float-left border_top"></div>

      <perfect-scrollbar class="height-400" *ngIf = "approvalLog.length > 0">
      <div class="col-12 no_pad" *ngFor="let data of approvalLog; let i=index">

        <ul class="col-12 content-style margin_bottom_0 table_data pad-topbtm mt10 mob-responsive">
          <li class="width-7">
            <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="approval type"
              matTooltip="Approval type: {{data.WiproApprovalTypeDisplay}}" (click)="data.msgshown = !data.msgshown;  data.textshown = false">

              <!-- <span class="" *ngIf="data.Status == 'Approved by DM' || data.Status == 'On-hold with BFM' || data.Status == 'Pending With BFM'">
                <span class="nopad blue_circle_replay_img mdi mdi-checkbox-multiple-marked-outline"></span>
              </span> -->
              <span class="" *ngIf= "data.WiproApprovalType != ModifyOrderApproval">
                <span class="nopad blue_circle_replay_img mdi mdi-checkbox-multiple-marked-outline"></span>
              </span>
              <span class="" *ngIf= "data.WiproApprovalType == ModifyOrderApproval">
                  <span class="nopad blue_circle_replay_img mdi mdi-circle-edit-outline"></span>
                </span>

                <!-- <span class="" *ngIf="data.Status == 'On-hold with BFM'">
                  <span class="nopad blue_circle_replay_img mdi mdi-checkbox-multiple-marked-outline"></span>
                </span>

                <span class="" *ngIf="data.Status == 'Pending with BFM'">
                  <span class="nopad blue_circle_replay_img mdi mdi-checkbox-multiple-marked-outline"></span>
                </span> -->
            </button>
          </li>
          <li class="width-14">
            <div class="col-12 float-left pos-rel mrnbot-10">
              <div for="InitiatedOn" class="col-12 no_pad head-text ellipses" title="Initiated on">Initiated on</div>
              <div class="sub-text no_pad ellipses" id="InitiatedOn" title="{{data.CreatedOn| date : 'dd-MMM-yyyy'}}">{{data.CreatedOn| date : 'dd-MMM-yyyy'}}</div>
              
            </div>
          </li>
          <li class="width-14">
            <div class="col-12 float-left pos-rel mrnbot-10">
              <div for="InitiatedOn" class="col-12 no_pad head-text ellipses" title="Initiated by">Initiated by</div>
              <div class="sub-text no_pad ellipses" id="InitiatedOn" title="{{data.CreatedBy}}">{{data.CreatedBy}}</div>
            </div>
          </li>
          <li class="width-14">
            <div class="col-12 float-left pos-rel mrnbot-10 all-btn-icons">
              <div for="InitiatedOn" class="col-12 no_pad head-text">{{data.WiproOwnershipDisplay}}
                <!-- <span class="mdi clock-btn-orange" [ngClass]="data.Status == 'Approved by DM' ? 'mdi-check btn-green' : 'mdi-clock-alert-outline btn-orange'"></span> -->
                <span class="sub-text" *ngIf="(data.WiproOrderApprovalStage == pendingWithDM) || (data.WiproOrderApprovalStage == Pendingwithdealowner) || (data.WiproOrderApprovalStage == pendingWithBFM) ||
                 (data.WiproOrderApprovalStage == pendingWithADH_VDH) || (data.WiproOrderApprovalStage == InvoicingPendingWithBFM) ">
                    <span class="mdi mdi-clock-alert-outline btn-blue"></span>
                </span>

                <span class="sub-text" *ngIf="(data.WiproOrderApprovalStage  == approvedByDM) || (data.WiproOrderApprovalStage == approvedByBFM) || 
                (data.WiproOrderApprovalStage == approvedByADH_VDH) || (data.WiproOrderApprovalStage == InvoicingApprovedByBFM)">
                  <span class="mdi mdi-check btn-green"></span>
              </span>

              <span class="sub-text" *ngIf="(data.WiproOrderApprovalStage == onHoldByBFM) || (data.WiproOrderApprovalStage == onHoldWithADH_VDH)">
                <span class="mdi mdi-clock-alert-outline btn-orange"></span>
            </span>
            
              <span class="sub-text" *ngIf="(data.WiproOrderApprovalStage == rejectedByDM) || (data.WiproOrderApprovalStage == rejectedByBFM ) ||  
              (data.WiproOrderApprovalStage == rejectedByADH_VDH) || (data.WiproOrderApprovalStage == InvoicingRejectedByBFM) ">
                <span class="mdi mdi-close-circle-outline btn-red"></span>
            </span>
             
              </div>
              <div class="sub-text no_pad ellipses" id="InitiatedOn" title="{{data.WiproApproval}}">{{data.WiproApproval}}</div>
            </div>
          </li>
          <li class="width-14">
            <div class="col-12 float-left pos-rel mrnbot-10 ellipses">
              <div for="InitiatedOn" class="col-12 no_pad head-text ellipses" title="Status">Status</div>             
              <!-- <span class="sub-text colr-blue" *ngIf="data.Status == 'Pending with DM'"> {{data.Status}} </span>   -->
              
              <span class="sub-text clor-blue" *ngIf="(data.WiproOrderApprovalStage == pendingWithDM) || (data.WiproOrderApprovalStage == Pendingwithdealowner) || (data.WiproOrderApprovalStage == pendingWithBFM) || (data.WiproOrderApprovalStage == pendingWithADH_VDH)
              || (data.WiproOrderApprovalStage == InvoicingPendingWithBFM) || (data.WiproOrderApprovalStage == pendingWithICTeam)" title=" {{data.WiproOrderApprovalStageDisplay}}"> {{data.WiproOrderApprovalStageDisplay}} </span>

              <span class="sub-text colr-green" *ngIf="(data.WiproOrderApprovalStage == approvedByDM) || (data.WiproOrderApprovalStage == approvedByBFM) || (data.WiproOrderApprovalStage == approvedByADH_VDH)
              || (data.WiproOrderApprovalStage == InvoicingApprovedByBFM) || (data.WiproOrderApprovalStage == approvedByICTeam)" title="{{data.WiproOrderApprovalStageDisplay}}"> {{data.WiproOrderApprovalStageDisplay}} </span>

              <span class="sub-text colr-orange" *ngIf="(data.WiproOrderApprovalStage == onHoldByBFM) || (data.WiproOrderApprovalStage == onHoldWithADH_VDH)" title=" {{data.WiproOrderApprovalStageDisplay}}"> {{data.WiproOrderApprovalStageDisplay}} </span>

               <span class="sub-text clor-red" *ngIf="(data.WiproOrderApprovalStage == rejectedByDM) || (data.WiproOrderApprovalStage == rejectedByBFM) || (data.WiproOrderApprovalStage == rejectedByADH_VDH)
               || (data.WiproOrderApprovalStage == InvoicingRejectedByBFM) || (data.WiproOrderApprovalStage == rejectedByICTeam)" title="{{data.WiproOrderApprovalStageDisplay}}"> {{data.WiproOrderApprovalStageDisplay}} </span>
              <!--<span class="sub-text clor-blue" > {{data.WiproOrderApprovalStageDesc}} </span>-->   
            </div>
          </li>
          <li class="width-14">
            <div class="col-12 float-left pos-rel mrnbot-10">
              <div for="InitiatedOn" class="col-12 no_pad head-text ellipses" title="Aging">Aging</div>
              <div class="sub-text no_pad ellipses" id="InitiatedOn" title="{{data.WiproAging}} days">{{data.WiproAging}} days</div>
            </div>
          </li>
          <li class="width-14">
            <div class="col-12 float-left pos-rel mrnbot-10">
              <div for="InitiatedOn" class="col-12 no_pad head-text ellipses " title="Actiondate">Actiondate</div>
              <div class="sub-text no_pad ellipses" id="InitiatedOn" *ngIf="(data.WiproOrderApprovalStage == approvedByDM) || (data.WiproOrderApprovalStage == approvedByBFM) || (data.WiproOrderApprovalStage == approvedByADH_VDH)
                     || (data.WiproOrderApprovalStage == InvoicingApprovedByBFM) || (data.WiproOrderApprovalStage == rejectedByDM) || (data.WiproOrderApprovalStage == rejectedByADH_VDH) || 
                     (data.WiproOrderApprovalStage == rejectedByBFM) || (data.WiproOrderApprovalStage == InvoicingRejectedByBFM)
                     || (data.WiproOrderApprovalStage == onHoldByBFM) || (data.WiproOrderApprovalStage == approvedByICTeam) || 
                     (data.WiproOrderApprovalStage == rejectedByICTeam)" title="{{data.WiproDecisionDate | date : 'dd-MMM-yyyy'}}">{{data.WiproDecisionDate | date : 'dd-MMM-yyyy'}}</div>
              <div class="sub-text no_pad" id="InitiatedOn" *ngIf="(data.WiproOrderApprovalStage == pendingWithDM) || (data.WiproOrderApprovalStage == Pendingwithdealowner) || (data.WiproOrderApprovalStage == pendingWithBFM) || 
                    (data.WiproOrderApprovalStage == pendingWithADH_VDH) || (data.WiproOrderApprovalStage == InvoicingPendingWithBFM) || (data.WiproOrderApprovalStage == pendingWithICTeam)" title="NA">NA</div>
            </div>
          </li>
          <li class="width-9">
            <button class="btn-none white_circle_replay pad_left_0 cp commonActionBtn" aria-label="view comments"
              matTooltip="view comments" (click)="data.textshown = !data.textshown">
              <span class="col-xs-12 nopad blue_circle_replay_img mdi mdi-comment-processing-outline"></span>
            </button>
          </li>

        </ul>
        <div class="col-12 float-left head-text row_content" *ngIf="data.textshown">
            <perfect-scrollbar class="height-125">
              <div class="col-12 border-topdata float-left">
                <div class="col-8 pad-10-30 float-left">
                  <div class="col-12 no_pad float-left">
                    <label class="label-text mar-0">Action: </label>
                    <!--<span class="span-text">On hold requested by BFM (07-Jun-20 at 15:20)</span>-->
                     <span class="span-text" *ngIf="(data.WiproOrderApprovalStage == approvedByDM) || (data.WiproOrderApprovalStage == approvedByBFM) || (data.WiproOrderApprovalStage == approvedByADH_VDH)
                     || (data.WiproOrderApprovalStage == InvoicingApprovedByBFM) || (data.WiproOrderApprovalStage == rejectedByDM) || (data.WiproOrderApprovalStage == rejectedByADH_VDH) || 
                     (data.WiproOrderApprovalStage == rejectedByBFM) || (data.WiproOrderApprovalStage == InvoicingRejectedByBFM)
                     || (data.WiproOrderApprovalStage == onHoldByBFM) || (data.WiproOrderApprovalStage == approvedByICTeam) || 
                     (data.WiproOrderApprovalStage == rejectedByICTeam)">{{data.WiproOrderApprovalStageDisplay}} ({{data.WiproDecisionDate | date : 'dd-MMM-yyyy'}} at {{data.WiproDecisionDate | date : 'hh-mm a'}})</span>
                     
                     <span class="span-text" *ngIf="(data.WiproOrderApprovalStage == pendingWithDM) || (data.WiproOrderApprovalStage == Pendingwithdealowner) || (data.WiproOrderApprovalStage == pendingWithBFM) || (data.WiproOrderApprovalStage == pendingWithADH_VDH)
                     || (data.WiproOrderApprovalStage == InvoicingPendingWithBFM) || (data.WiproOrderApprovalStage == pendingWithICTeam)">{{data.WiproOrderApprovalStageDisplay}}</span>
                  </div>
                  <div class="col-12 no_pad float-left">
                    <!--<label class="label-text mar-0">TCV difference comments: </label>
                    <span class="span-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>-->
                    <label class="label-text mar-0" *ngIf = "(data.WiproOrderApprovalStage  == approvedByDM) || (data.WiproOrderApprovalStage == approvedByBFM) || 
                    (data.WiproOrderApprovalStage == approvedByADH_VDH) || (data.WiproOrderApprovalStage == InvoicingApprovedByBFM) || (data.WiproOrderApprovalStage == approvedByICTeam)">Approved reason: </label>
                    <label class="label-text mar-0" *ngIf="(data.WiproOrderApprovalStage == rejectedByDM) || (data.WiproOrderApprovalStage == rejectedByBFM) || 
                    (data.WiproOrderApprovalStage == rejectedByADH_VDH) || (data.WiproOrderApprovalStage == InvoicingRejectedByBFM) || (data.WiproOrderApprovalStage == rejectedByICTeam)">Rejected reason: </label>
                    <label class="label-text mar-0" *ngIf="(data.WiproOrderApprovalStage == onHoldByBFM) || (data.WiproOrderApprovalStage == onHoldWithADH_VDH)">On-Hold comment: </label>
                    <!-- <label class="label-text mar-0" *ngIf="(data.WiproOrderApprovalStage == pendingWithDM) || (data.WiproOrderApprovalStage == Pendingwithdealowner) || (data.WiproOrderApprovalStage == pendingWithBFM) || (data.WiproOrderApprovalStage == pendingWithADH_VDH)
                     || (data.WiproOrderApprovalStage == InvoicingPendingWithBFM) || (data.WiproOrderApprovalStage == pendingWithICTeam)">Pending reason: </label> -->

                    <span class="span-text" *ngIf = "(data.WiproOrderApprovalStage  == approvedByDM) || (data.WiproOrderApprovalStage == approvedByBFM) || 
                    (data.WiproOrderApprovalStage == approvedByADH_VDH) || (data.WiproOrderApprovalStage == InvoicingApprovedByBFM) || (data.WiproOrderApprovalStage == approvedByICTeam)">{{data.WiproApprovalReason}}</span>
                    <span class="span-text" *ngIf="(data.WiproOrderApprovalStage == rejectedByDM) || (data.WiproOrderApprovalStage == rejectedByBFM) || 
                    (data.WiproOrderApprovalStage == rejectedByADH_VDH) || (data.WiproOrderApprovalStage == InvoicingRejectedByBFM) || (data.WiproOrderApprovalStage == rejectedByICTeam)">{{data.WiproRejectionReason}}</span>
                    <span class="span-text" *ngIf="(data.WiproOrderApprovalStage == onHoldByBFM) || (data.WiproOrderApprovalStage == onHoldWithADH_VDH)">{{data.WiproOnHoldReason}}</span>
                    <!-- <span class="span-text" *ngIf="(data.WiproOrderApprovalStage == pendingWithDM) || (data.WiproOrderApprovalStage == Pendingwithdealowner) || (data.WiproOrderApprovalStage == pendingWithBFM) || 
                    (data.WiproOrderApprovalStage == pendingWithADH_VDH) || (data.WiproOrderApprovalStage == InvoicingPendingWithBFM) || (data.WiproOrderApprovalStage == pendingWithICTeam)">NA</span> -->

                  </div>

                  <div class="col-12 no_pad float-left" *ngIf="data.WiproResubmissionReason ? true : false" >
                    <label class="label-text mar-0">Resubmission reason: </label>
                     <span class="span-text">{{data.WiproResubmissionReason}}</span>
                  </div>

                  <div class="col-12 no_pad float-left" *ngIf="data.OnHoldReasonDisplay ? true : false" >
                      <label class="label-text mar-0">On-Hold reason: </label>
                       <span class="span-text">{{data.OnHoldReasonDisplay}}</span>
                  </div>

                </div>
              </div>
            </perfect-scrollbar>
          </div>

      </div>
      </perfect-scrollbar>

    </mat-expansion-panel>
  </mat-accordion>
</div>
<!--Review log panel ends here -->
<!-- *ngIf="!NonWTFlag" -->
  <div *ngIf="!NonWTFlag" class="col-12 col-sm-12 col-md-12 col-lg-12 float-left card no_pad mb10">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 card-content float-left pad-30 mediaPad">
      <div class="col-12 no_pad float-left ">
        <span class="col-12 no_pad float-left ordr-text">Order review</span>
        <div class="col-12 no_pad float-left bordr-top"></div>
        <div class="col-12 no_pad float-left">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-left converstion-name pb5">Verification checks
          </div>
          <!-- <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 float-right no_pad converstion-name pb5">CRM values
            </div> -->
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 float-right no_pad converstion-name pb5">Status
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 float-right no_pad converstion-name pb5">CRM values
          </div>
          
        </div>

        <mat-card class="col-12 float-left" *ngFor="let data of userdec;let i = index">

        <div class="col-12 col-md-6 col-xs-6 no_pad float-left">
          <span class="no_pad float-left num"><span *ngIf="i<9">0</span>{{i+1}}</span>
          <span class="col-10 col-xs-10 col-md-10 float-left question-sub-text">{{data.VerificationCheckName}}</span>

        </div>
        <div class="col-12 col-md-3 col-xs-3 no_pad float-left">
          <span class="col-10 col-xs-10 col-md-10 float-left question-sub-text" role="link" tabindex="0" *ngIf ="!data.CRMOrderValue">-</span>
          <span class="col-10 col-xs-10 col-md-10 float-left question-sub-text" role="link" tabindex="0" *ngIf ="(data.CRMOrderValue) && (data.CRMOrderValue.toLowerCase() != 'podetails')">{{getSymbol(data.CRMOrderValue)}}</span>
          <!-- <span class="col-10 col-xs-10 col-md-10 float-left question-sub-text" role="link" tabindex="0" *ngIf ="!data.CRMOrderValue">NA</span> -->
          <span class="col-10 col-xs-10 col-md-10 float-left question-sub-text" role="link" tabindex="0" (click)="poNumberpopup()" style="color: #2f81ff;" *ngIf ="(data.CRMOrderValue) && (data.CRMOrderValue.toLowerCase() == 'podetails')">View PO numbers</span>
          
          <!-- <span class="col-10 col-xs-10 col-md-10 float-left question-sub-text link" *ngIf="link">Ajay Devgan</span> -->

        </div>

          <div class="col-12 col-md-3 col-xs-3 no_pad float-right mob_h80  min-pad-0">
            
            <div *ngIf="data.StatusId == null" class="col-6 float-right plb-0-35 btn-content">
              <div class="col-2 float-right plb-0-35">
                 <button class="mdi mdi-check message_cls float-right" matTooltip="Approve" (click)="approveStatus(i)" [ngClass] = "approve_BtnDisable ? 'disabledclass' : ''"></button>            
              </div>
              <div class="col-4 float-right plb-0-35 mRight-10">                
                  <button [popoverOnHover]="false" [popoverCloseOnMouseOutside]="false" [popoverCloseOnClickOutside]="true"
                    [popover]="myPopover1" (click)="commentbox()" (keypress)="commentbox()"
                    class="button_messagespophover float-right mr20" matTooltip="Reject" [ngClass] = "reject_BtnDisable ? 'disabledclass' : ''" >
                    <span class="mdi mdi-close message_cls float-right">
                    </span>
                  </button>
                  <popover-content #myPopover1 [title]="data.VerificationCheckName" placement="right" [animation]="false"
                    [closeOnClickOutside]="true" [attr.aria-hidden]="commentme ? 'false' : 'true'">
                    <span class="">
                      <div class="textarea_readonly">
                        <textarea class="form-control vision_txt_area_placeholder" [(ngModel)]="data.Comments" [appAlphaNumeric] = "'alphanumeric'"
                        rows="6" placeholder="Write your comments here."></textarea>
                      </div>
                      <button type="button" (click)="myPopover1.hide();cancelComment(i)" class="btn pull-left cancel_but">Cancel </button>
                      <button type="button" (click)="myPopover1.hide(); rejectStatus(i)" [disabled]="data.Comments ? false : true"
                        class="btn pull-left submit_but1">Save</button>
                    </span>
                  </popover-content>
              </div>
            </div>

            <div class="col-6 float-left no_pad plb-0-35">
              <div *ngIf="data.StatusId == 1"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mdi mdi-check">
              </div>
              <div *ngIf="data.StatusId == 2"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mdi mdi-close">
              </div>
              <div *ngIf="(data.StatusId == null) || (data.StatusId == 3)"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left color-azure no_pad">Pending
              </div>
            </div>

            <div *ngIf="(data.StatusId == 2)" class="col-6 float-right plb-0-35 btn-one">
              <!-- message popover starts here -->
              <button [popoverOnHover]="false" [popoverCloseOnMouseOutside]="false" [popoverCloseOnClickOutside]="true"
                [popover]="myPopover" (click)="toggleComment()" (keypress)="toggleComment()"
                class="button_messagespophover float-right mr20" matTooltip="Comments">
                <span class="mdi mdi-comment-plus-outline message_cls">
                </span>
              </button>
              <popover-content #myPopover [title]="data.VerificationCheckName" placement="right" [animation]="false"
                [closeOnClickOutside]="true" [attr.aria-hidden]="clickmes ? 'false' : 'true'">
                <span class="">
                  <div class="textarea_readonly">
                    <textarea class="form-control vision_txt_area_placeholder" [(ngModel)]="data.Comments"  [appAlphaNumeric] = "'alphanumeric'"
                       rows="6" placeholder="Write your comments here."></textarea>
                  </div>
                  <button type="button" (click)="myPopover.hide();cancelComment(i)" class="btn pull-left cancel_but">Cancel </button>
                  <button type="button" (click)="myPopover.hide(); rejectStatus(i)" [disabled]="data.Comments ? false : true"
                     class="btn pull-left submit_but1">Save</button>
                </span>
              </popover-content>
              <!-- message popover ends here -->
            </div>

          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>