<div class="top-header" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
     <div class="col-12 float-left padding-lr15" *ngIf="isLoading">
        <ng-container >
          <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
              <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                <div class="loaderContainer">
                  <div class="loader"></div>
                </div>
              </div>
            </div>      </div>
        </ng-container>
      </div> 
    <div class="float-left col-12 main-containt header-action-tab "
        [ngClass]="userdat.chatBot? 'chat-bot-1100' : userdat.sideTrans ? 'main-containt-250' : ''">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  no_pad mt10 mb10">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left pbl30">
                <h1 class="heading-level-one ">Management log</h1>
                <span class="sub-heading">{{getSymbol(accountName)}}</span>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left no_pad">
                <div class="float-right d-flex save-cancel-responsive">
                    <button
                        class="flex-grow-1 min-w-auto primary-button secondary-btn  h-40 mr10 std  save-responsive-btn btn-format"
                        (click)="goBack()">{{disableFields ? 'Close': 'Cancel'}}</button>
                    <button
                        class="flex-grow-1 min-w-auto primary-button borderless h-40 std   btn-format save-responsive-btn"
                        (click)="saveManagementLog()" *ngIf="manageEditVal != 'edit' && !disableFields">Create</button>
                    <button
                        class="flex-grow-1 min-w-auto primary-button borderless h-40 std  btn-format save-responsive-btn"
                        (click)="saveManagementLog()" *ngIf="manageEditVal == 'edit' && !disableFields">Save</button>
                    <!-- download button not required in edit page as on 3rd December 2019-->
                    <!-- <button
                        class="flex-grow-1 min-w-auto primary-button h-40 std  add-btn-design float-right white-boreder no_pad d-md-none"
                        aria-label="Export to csv" matTooltip="Export to csv" (click)="downloadList(managementDetails)"
                        *ngIf="manageEditVal == 'edit'"><span class="mdi mdi-download"></span></button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad new-container"
    [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'">
    <app-small-spinner [isLoading]="false"> </app-small-spinner>
    <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-250 res-position-rel">
    </div>
    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'"> -->
    <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30 top-13 padd-top-130 scroll-middle-ios-100vh">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  no_pad mb10">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 float-left no_pad">
                <h4 class="heading-level-four no_pad" *ngIf="manageEditVal != 'edit'">Add new entry </h4>
                <h4 class="heading-level-four no_pad" *ngIf="manageEditVal == 'edit'">Edit entry </h4>
            </div>
            <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left no_pad d-none d-md-block"
                *ngIf="manageEditVal == 'edit'">
                <div class="float-right disp-flex ">
                    <button class="primary-button h-40 std button-wd50 add-btn-design float-right white-boreder no_pad"
                        aria-label="Export to csv" matTooltip="Export the filtered data to Excel"
                        (click)="downloadList(managementDetails)"><span class="mdi mdi-download"></span></button>
                </div>
            </div> -->
        </div>

        <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName"
            [formGroup]="addManageForm">
            <!-- first div section starts from here -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt22 margin-btm55 no_pad">
                <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad">
                    <div class="col-12 col-lg-4 col-md-6 float-left pos-rel margin-top-20">
                        <label for="calStart"
                            class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading">Date of
                            meeting
                            <span class="required" *ngIf="!disableFields"> *</span></label>
                        <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr ">
                            <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad customized-calandar">
                                <input [disabled]="disableFields" readonly
                                    class="col-12 col-lg-12 col-sm-12 col-md-12 float-left" id="calStart"
                                    formControlName="MeetingDate"
                                    [ngClass]="FormSubmitted && addmanageForm.MeetingDate.errors && addmanageForm.MeetingDate.errors.required ? 'border-pink' : 'border-gray'"
                                    [matDatepicker]="picker1"
                                    [min]="addManageForm.value.Meeting.Stage.Id == '2' ? currentDate : '' "
                                    [max]="addManageForm.value.Meeting.Stage.Id == '3' ? currentDate : '' "
                                    title="DD/MM/YYYY" placeholder="DD/MM/YYYY" required
                                    (dateChange)="meetStageChange();manageAutoSave()">
                                <!-- <p class="error-message custom-msgdate">Please enter a date</p>  -->
                                <p *ngIf="FormSubmitted && addmanageForm.MeetingDate.errors && addmanageForm.MeetingDate.errors.required"
                                    class="error-message custom-msgdate">Please enter a date</p>

                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                    <span class="mdi mdi-calendar-blank float-right no_pad" aria-label="calendar"
                                        (keypress)="picker1.open()" (click)="picker1.open()"
                                        matDatepickerToggleIcon></span>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1 panelClass="management"></mat-datepicker>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-12 col-lg-4 col-md-6 float-left pos-rel margin-top-20 date-picker-container">
            <label for="calStart1" class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad label_heading">Start
              time</label>
            <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad cal_brdr">
              <div class="col-12 col-lg-12 col-sm-12 col-md-12 float-left no_pad customized-calandar">
                <input class="col-12 col-lg-12 col-sm-12 col-md-12 float-left disp-date" id="calStart1"
                  value="{{mytime | date : 'shortTime'}}" required title="HH:MM" placeholder="HH:MM"
                  formControlName="StartTime">
                <span class="mdi mdi-clock-outline float-right no_pad" role="button" tabindex="0" aria-label="clock"
                  (click)="changeShowStatus2()" (keypress)="changeShowStatus2()"></span>
                <div class="overlay-timepicker" *ngIf="showHideTime" (keypress)="hideOverlyTime()"
                  (click)="hideOverlyTime()"></div>
                <div class="select-date select-time animated" *ngIf="showHideTime" [class.slideInDown]="showHideTime"
                  [class.fadeOutUp]="!showHideTime">
                  <timepicker></timepicker>
                </div>
              </div>
            </div>
          </div>-->

                    <div class="col-12 col-lg-4 col-md-6 float-left pos-rel margin-top-20 display_nonetime">
                        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form"
                            for="extra">
                            Start time
                            <span class="required" *ngIf="!disableFields"> *</span>
                            <span class="mdi mdi-clock-outline float-right no_pad clock_absolute" role="button"
                                tabindex="0" aria-label="clock" (click)="changeShowStatus2()"
                                (keypress)="changeShowStatus2()"></span>
                        </label>


                        <input [attr.disabled]="disableFields ? '' : null" class="col-12 float-left  h-40 input-text "
                            [ngClass]="FormSubmitted && addmanageForm.StartTime.errors && addmanageForm.StartTime.errors.required ? 'border-pink' : 'border-gray'"
                            id="extra" placeholder="Enter start time" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"
                            formControlName="StartTime"
                            
                            readonly (blur)="manageAutoSave()">
                            <!-- [min]="(addManageForm.value.Meeting.Stage.Id == '2' && (addManageForm.value.MeetingDate < currentDate)) ? currentDate : '' "
                            [max]="(addManageForm.value.Meeting.Stage.Id == '3' && (currentDate > addManageForm.value.MeetingDate  )) ? currentDate : '' " -->

                        <!--<input class="col-12 float-left  h-40 input-text " placeholder="Enter time"  [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"

                        <input class="col-12 float-left  h-40 input-text " placeholder="Enter time" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" formControlName="StartTime">

                        <input class="col-12 float-left  h-40 input-text " placeholder="Enter time" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" formControlName="StartTime" required>

                         <p class="error-message custom-msgtime">Please enter a valid time</p> -->
                        <!--<input class="col-12 float-left  h-40 input-text " placeholder="Enter time"  [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"

            [ngClass]="{'error': f.time2.invalid && (f.time2.dirty || f.time2.touched)}">-->
                        <!--<p *ngIf="f.time2.touched && !f.time2.valid" class="error-message top-40">Please select time</p>-->
                        <p *ngIf="FormSubmitted && addmanageForm.StartTime.errors && addmanageForm.StartTime.errors.required"
                            class="error-message custom-msgtime">Please enter a valid time</p>
                        
                        <owl-date-time [pickerType]="'timer'" hour12Timer="true" #dt5></owl-date-time>

                    </div>
                    <!--
          <div class="col-12 col-lg-4 col-md-6 float-left pos-rel margin-top-20 display_nonetime">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form" for="extra">
                Time
               <span class="required"> *</span>
             </label>
            <input class="col-12 float-left  h-40 input-text " placeholder="Enter time"  [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
            <input class="col-12 float-left  h-40 input-text " placeholder="Enter time"  [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"
            [ngClass]="{'error': f.time2.invalid && (f.time2.dirty || f.time2.touched)}">
            <p *ngIf="f.time2.touched && !f.time2.valid" class="error-message top-40">Please select time</p>
            <owl-date-time [pickerType]="'timer'" hour12Timer="true" #dt5></owl-date-time>
          </div>-->

                    <div class="col-12 col-lg-4 col-md-6 float-left pos-rel margin-top-20 customized-input">
                        <label for="completed" class="w-100">Duration</label>
                        <input (keypress)="specCharRestrict($event)" [attr.disabled]="disableFields ? '' : null"
                            id="completed" type="text" class="border-gray w-100" formControlName="Duration"
                            placeholder="Add duration in minutes"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="3" (blur)="manageAutoSave()">
                    </div>
                    <!-- Select DROPDOWN for Time Zone STARTS -->
                    <div class="col-12 col-lg-4 col-md-6 float-left pos-rel margin-top-20 mobile-select-box">
                        <label for="select1" class="w-100">Time zone </label>
                        <div class="customized-select" formGroupName="TimeZone"
                            [ngClass]="disableFields ?'disable-select':''">
                            <span class="caret color-azure"></span>
                            <select id="select1" role="listbox" formControlName="Id" (blur)="manageAutoSave()"
                                [attr.disabled]="disableFields ? '' : null">
                                <option value="">Select time zone</option>
                                <option *ngFor="let zones of timeZones" [value]="zones.Id">{{zones.Value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt20 create-mt20 float-left mb21 web-select-box" [ngClass]="userdat.chatBot ?'col-sm-6 ':'col-sm-4'">
                        <label for="select1" class="w-100">Time zone </label>
                        <div class="customized-select" formGroupName="TimeZone" [ngClass]="disableFields ?'disable-select':''">
                            <span class="caret"></span>
                            <mat-form-field class="col-12 no_pad float-left">
                                <mat-label> Select time zone</mat-label>
                                 <mat-select disableOptionCentering panelClass="custom-Select-panel-class"
                                   id="select1" role="listbox" formControlName="Id"
                                   [attr.disabled]="disableFields ? '' : null" class="select-focus" (blur)="manageAutoSave()">
                                   <mat-option value="">Select time zone</mat-option>
                                   <mat-option *ngFor="let zones of timeZones" [value]="zones.Id">{{zones.Value}}
                                   </mat-option>
                                 </mat-select>
                               </mat-form-field>
                             </div>
                        </div>
                    <!-- Select DROPDOWN for Time Zone Ends -->

                    <!-- Select DROPDOWN for Meeting Type STARTS -->
                    <div class="col-12 col-lg-4 col-md-6 float-left pos-rel margin-top-20 mobile-select-box" formGroupName="Meeting">
                        <label for="select1q" class="w-100">Meeting type <span class="required" *ngIf="!disableFields">
                                *</span></label>
                        <div class="customized-select" formGroupName="MeetingType"
                            [ngClass]="disableFields ?'disable-select':''">
                            <span class="caret color-azure"></span>
                            <select [attr.disabled]="disableFields ? '' : null" id="select1q"
                                [ngClass]="FormSubmitted && !meetingTypeValue ? 'border-pink' : 'border-gray'"
                                role="listbox" formControlName="Id" [(ngModel)]="meetingTypeValue" required (blur)="manageAutoSave()">
                                <option value="">Select meeting type</option>
                                <option *ngFor="let type of meetingType" [value]="type.Id">{{type.Value}}</option>
                            </select>
                            <p *ngIf="FormSubmitted && !meetingTypeValue" class="error-message custom-msgdate">Meeting
                                type is required.</p>
                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt20 create-mt20 float-left mb21 web-select-box" formGroupName="Meeting">
                        <label for="select1q" class="w-100">Meeting type <span class="required" *ngIf="!disableFields">*</span></label>                      
                        <div class="customized-select" formGroupName="MeetingType" [ngClass]="disableFields ?'disable-select':''">
                        <span class="caret color-azure"></span>                   
                            <mat-form-field class="col-12 no_pad float-left">
                                <mat-label> Select Meeting type</mat-label>
                                 <mat-select disableOptionCentering
                                 panelClass="custom-Select-panel-class" [attr.disabled]="disableFields ? '' : null" id="select1q"
                                   [ngClass]="FormSubmitted && !meetingTypeValue ? 'border-pink' : 'border-gray'"
                                   role="listbox" formControlName="Id" [(ngModel)]="meetingTypeValue" required class="select-focus" (blur)="manageAutoSave()">
                                   <mat-option value="">Select meeting type</mat-option>
                                   <mat-option *ngFor="let type of meetingType" [value]="type.Id">{{type.Value}}</mat-option>
                                 </mat-select>
                                 <p *ngIf="FormSubmitted && !meetingTypeValue" class="error-message custom-msgdate">Meeting
                                    type is required.</p>
                               </mat-form-field>
                             </div>
                        </div>
                    <!-- Select DROPDOWN for Meeting Type Ends -->

                    <!-- Select DROPDOWN for Meeting Stage STARTS -->
                    <div class="col-12 col-lg-4 col-md-6 float-left pos-rel margin-top-20 mobile-select-box" formGroupName="Meeting">
                        <label for="select1w" class="w-100">Meeting stage<span class="required" *ngIf="!disableFields">
                                *</span></label>
                        <div class="customized-select" formGroupName="Stage"
                            [ngClass]="disableFields ?'disable-select':''">
                            <span class="caret color-azure"></span>
                            <select [attr.disabled]="disableFields ? '' : null" id="select1w" role="listbox"
                                formControlName="Id" [(ngModel)]="meetingStageValue" (blur)="meetStageChange()"
                                required (change)="manageAutoSave()">
                                <option value="">Select meeting stage</option>
                                <option *ngFor="let stage of meetingStage" [value]="stage.Id">{{stage.Value}}</option>
                            </select>
                            <p *ngIf="FormSubmitted && !meetingStageValue" class="error-message custom-msgdate">Meeting
                                stage is required.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt20 create-mt20 float-left mb21 web-select-box" formGroupName="Meeting">
                        <label for="select1w" class="w-100">Meeting stage<span class="required" *ngIf="!disableFields">*</span></label>                       
                        <div class="customized-select" formGroupName="Stage" [ngClass]="disableFields ?'disable-select':''">                        <span class="caret color-azure"></span>                   
                            <span class="caret color-azure"></span>
                            <mat-form-field class="col-12 no_pad float-left">
                                <mat-label>Select Meeting stage</mat-label>
                                 <mat-select disableOptionCentering
                                   panelClass="Select-panel-class" [attr.disabled]="disableFields ? '' : null" id="select1w" role="listbox"
                                   formControlName="Id" [(ngModel)]="meetingStageValue" (selectionChange)="meetStageChange()" required class="select-focus" (blur)="manageAutoSave()">
                                   <mat-option value="">Select meeting stage</mat-option>
                                   <mat-option *ngFor="let stage of meetingStage" [value]="stage.Id">{{stage.Value}}</mat-option>
                                 </mat-select>
                                 <p *ngIf="FormSubmitted && !meetingStageValue" class="error-message custom-msgdate">Meeting
                                    stage is required.</p>
                               </mat-form-field>
                             </div>
                        </div>
                    <!-- Select DROPDOWN for Meeting Stage Ends -->

                    <!--<div class="col-12 col-lg-4 col-md-6 float-left pos-rel margin-top-20 customized-input">
                        <label for="completedq" class="label-form w-100">Event profile link</label>
                        <input id="completedq" type="text" class="border-gray w-100" placeholder="Ad Duration" formControlName="EventProfileLink">
                    </div>-->

                    <div (clickOutside)="contactNameclose4()"
                        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4  float-left margin-top-20 CompanyName pos-rel"
                        formGroupName="ReviewChairpersonCoach1">
                        <!--<form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">-->
                        <!-- [formGroup]="accOwnerSwapForm"> -->
                        <div class="col-12 no_pad float-left pos-rel">
                            <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
                                for="contactName4" class="label-form">Review chair person / coach</label>
                            <input appKeyListControl #ReviewChairPersonList (arrowDown)="arrowkeyLocation=$event"
                                (keydown.enter)="$event.preventDefault()"
                                (keyup.enter)="ReviewChairPersonList.value=reviewContacts[arrowkeyLocation].FullName;
                                ReviewChairPersonName=reviewContacts[arrowkeyLocation].FullName; 
                            appendcontact4(reviewContacts[arrowkeyLocation]);contactNameSwitch4=false;arrowkeyLocation=0;"
                                [attr.data-arrayMaxLength]="reviewContacts?.length" [attr.data-isDownBtn]=true
                                type="text" role="combobox" aria-autocomplete="list" [dataManipulate]="true"
                                (keydown.Tab)="contactNameclose4()" [attr.data-selectedvalue]="ReviewChairPersonName"
                                matTooltip="{{ReviewChairPersonList.value}}"
                                [attr.aria-expanded]="contactNameSwitch4?true:false" aria-owns="read"
                                [attr.aria-activedescendant]="arrowkeyLocation" (intialLoadData)="contactNameSwitch4 = true;
                                participantChange(ReviewChairPersonList.value, 'review');arrowkeyLocation=0"
                                [attr.disabled]="disableFields ? '' : null"
                                (input)="participantChange(ReviewChairPersonList.value, 'review');contactNameSwitch4 = true"
                                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input"
                                id="contactName4" name="contactName4" autocomplete="off" type="text"
                                formControlName="SysGuid" [(ngModel)]="contactName4" placeholder="Select user"
                                [ngClass]="submitted && accOwnerSwap.state.errors && accOwnerSwap.state.errors.required ? 'border-pink':'border-gray'">
                            <!-- (keydown.enter)="$event.preventDefault()"  -->
                            <!-- <p *ngIf="submitted && accOwnerSwap.state.errors && accOwnerSwap.state.errors.required"
                class="error-message custom-msg">State is required</p> -->
                            <!-- this.contactName4 = value.FullName;
                this.reviewSysName = value.FullName;
                this.reviewSysGuid = value.SysGuid; -->
                            <span class="mdi mdi-magnify"></span>
                            <span class="mdi mdi-close auto-close" (click)="contactName4 ='';reviewSysName='';reviewSysGuid = '';arrowkeyLocation=0;
                            ReviewChairPersonName=''"
                                *ngIf="!contactNameSwitch4 && ReviewChairPersonList.value!==''"></span>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure
                            suggestion-box pos-abs z-ind-99 border-leftdrop "
                                *ngIf="reviewContacts && contactNameSwitch4">
                                <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                                    <span class="w-100 z-ind-9 float-left bg-white">
                                        <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read" >
                                            <span class="loader-search" *ngIf="isActivityGroupSearchLoading"> </span>
                                            <li class="list-group-item h-50 p-4-10 "
                                                *ngFor="let item of reviewContacts;index as j"
                                                (click)="contactNameSwitch4=false;appendcontact4(item);ReviewChairPersonName = item.FullName;ReviewChairPersonList.value = item.FullName"
                                                id="{{j}}" [class.active]="j==arrowkeyLocation" aria-disabled="false"
                                                aria-selected="false" tabindex="0" role="option">
                                                <div class="float-left naming-tags child-middle bg-azure">
                                                    <span
                                                        class="initials">{{item.FullName[0].charAt(0)+ item.FullName[1].charAt(0) | uppercase}}</span>
                                                </div>
                                                <label for="inti_name" class="float-left name">
                                                    <span class="d-block list-name">{{item.FullName}}</span>
                                                    <!--<span class="d-block sub-list">{{item.designation}}</span>-->
                                                </label>
                                            </li>
                                            <li class="d-block list-name h-40 p-10"
                                                *ngIf="(reviewContacts.length == 0 && !isActivityGroupSearchLoading)">
                                                No record found </li>
                                        </ul>
                                    </span>
                                </perfect-scrollbar>
                                <span class="db-search"
                                    (click)="openadvancetabs('ChairPersonSearch', reviewContacts, contactName4)" (keypress) = "openadvancetabs('ChairPersonSearch', reviewContacts, contactName4)">
                                    <button id="adls{{reviewContacts?.length+1}}" role="option" tabindex="0"
                                        aria-disabled="false" type="button" class="button-search"
                                        [class.active]="reviewContacts?.length+1 == arrowkeyLocation">
                                        <span class="mdi mdi-file-outline"></span> Advance look up
                                    </button>
                                </span>
                            </div>
                            <!--</form>-->
                        </div>
                    </div>

                    <!-- created by code starts here -->
                    <!--<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4  float-left margin-top-20 CompanyName">-->
                    <!--<form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">-->
                    <!-- [formGroup]="accOwnerSwapForm"> -->
                    <!--<label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="createdByName" class="label-form">Created by</label>
                        <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 label-input" id="createdByName" name="createdByName" autocomplete="off" type="text" formControlName="SysGuid" [(ngModel)]="createdByName" placeholder="Select" (clickOutside)="createdByclose()"
                            (keyup)="participantChange($event, 'review')" (click)="CreatedBySwitch = true" [ngClass]="submitted && accOwnerSwap.state.errors && accOwnerSwap.state.errors.required ? 'border-pink':'border-gray'">-->
                    <!-- <p *ngIf="submitted && accOwnerSwap.state.errors && accOwnerSwap.state.errors.required"
                class="error-message custom-msg">State is required</p> -->
                    <!--<span class="mdi mdi-magnify"></span>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-btm border-right float-left top64 no_pad standard-border color-azure
            suggestion-box pos-abs z-ind-99 border-leftdrop" *ngIf="createdByName && CreatedBySwitch">
                            <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                                <span class="w-100 z-ind-9 float-left bg-white">
                  <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read"
                    [ngClass]="{'loader-search':isActivityGroupSearchLoading }">
                    <li class="list-group-item h-50 p-4-10 " (click)="appendcreatedBy(item,item.index)"
                      *ngFor="let item of createdbyArr">
                      <div class="float-left naming-tags child-middle bg-azure">
                        <span
                          class="initials">{{item.initials}}</span>
                        </div>
                        <label for="inti_name" class="float-left name">
                        <span class="d-block list-name">{{item.contact}}</span>-->
                    <!--<span class="d-block sub-list">{{item.designation}}</span>-->
                    <!--</label>
                        </li>
                        <li class="d-block list-name h-40 p-10" *ngIf="(createdbyArr |filter:createdByName).length == 0&& !isActivityGroupSearchLoading">
                            No record found </li>
                        </ul>
                        </span>
                        </perfect-scrollbar>
                    </div>-->
                    <!--</form>-->
                    <!--<div class="form-group no_pad">
                    <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" 
                    for="createdByName" class="label-form">Created by</label>
                       <input class="form-control disabledInput vision_txt_area_placeholder" formControlName="CreatedByName" id="account_no" disabled >
                    </div>
                </div>-->
                    <!-- created by code ends here -->

                    <!-- radio button for meeting stage starts here -->

                    <!--<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left mt20" formGroupName="Meeting">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form pb10" id="keycon">
                        Minutes of meeting</div>
                    <mat-radio-group aria-labelledby="keycon" formControlName="ManagementMoM">
                        <mat-radio-button value="true" class="pr30 margin-top-5" [checked]="addManageForm.value.Meeting.ManagementMoM">Yes</mat-radio-button>
                        <mat-radio-button value="false" class="margin-top-5" [checked]="!addManageForm.value.Meeting.ManagementMoM">No</mat-radio-button>
                    </mat-radio-group>
                </div>-->
                    <!-- radio button for meeting stage ends here -->

                    <div class="col-12 col-lg-4 col-sm-6 col-md-6 col-xl-4 float-left no_pad mb20">
                        <!-- MOM uploads starts from here -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 float-left mt20">
                            <label
                                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form pb10"
                                id="keycon1">Upload MOM document</label>
                            <button [attr.disabled]="disableFields ? '' : null"
                                class=" primary-button attach-btn d-flex align-items-center float-left"
                                (click)="openAttachFilePopup()" (keypress) = "openAttachFilePopup()" [ngClass]="disableFields ?'disabled-btn-account':''">
                                <span class="mdi mdi-attachment attach-icon"> </span> Attach files</button>
                            <!--<span aria-labelledby="keycon1"
                      class="primary-button h-40 std save-responsive-btn button-wd50 btn-format"><span
                        class="mdi mdi-attachment"></span>Attach
                      Files
                      <input class="ip_op0 file_ip" type="file" ng2FileSelect [uploader]="uploader"
                        formControlName="Attachments" /><br />
                    </span>-->
                        </div>

                        <!--<div class="col-xl-12 float-left mt10">
                            <div class="float-left uploaded_doc" *ngFor="let item of accountListServ.attachListView; let i=index;">
                                <span class="float-left uploaded_text">
                        {{ item?.Name }}
                      </span>
                                <button class="float-right icon-delete del_upload curPointer mdi mdi-delete" aria-label="delete" (click)="deLinkAttach(item, i)" aria-label="delete image"></button>
                                <button class="float-right icon-view del_upload curPointer" aria-label="view"></button>
                            </div>
                        </div>-->

                        <div class="col-xl-12 float-left">
                            <div class="col-6 mr10 mt10 float-left uploaded_doc download-uploaded-file"
                                *ngFor="let item of accountListServ.attachListView; let i=index;">
                                <div class="float-left naming-tags-square pad-7 child-middle bg-azure doc-img">

                                    <span class="initials mdi mdi-file-document font-20" id="inti_name-kb"></span>
                                    <span class="initials mdi mdi-download font-20 down_btn" role="button" tabindex="0"
                                        aria-label="Download file" id="inti_name-kb1"
                                        matTooltip="Export the filtered data to Excel"
                                        (click)="downloadsingle(i)"></span>

                                    <!--<span class="initials mdi mdi-file-document font-20" id="inti_name-kb"></span>-->
                                    <!--<span class="initials mdi mdi-download font-20" role="button" tabindex="0" aria-label="Download file" id="inti_name-kb1" (click)="downloadsingle(i)"></span>-->

                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-6 col-5 pl-0 htpos-left float-left d-flex">
                                    <span class="col-11 float-left pad-5 uploaded_text" title="{{ item?.Name }}">
                                        {{ item?.Name }}
                                    </span>
                                    <!--(click)="remove(data.id)"-->
                                    <button
                                        class="col-1 float-right mdi mdi-window-close del_upload curPointer mdi mdi-delete"
                                        [attr.disabled]="disableFields ? '' : null" (click)="deLinkAttach(item, i)"
                                        attr.aria-label="{{ item?.file?.name }} close"></button>
                                    <!--<button class="float-right icon-view del_upload curPointer" aria-label="view image"></button>-->

                                </div>
                            </div>
                        </div>


                        <!-- MOM uploads ends  here -->
                    </div>

                </div>

            </div>
        </form>

        <!-- first div section ends here -->

        <!-- second div section starts here -->

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt20 margin-btm55 no_pad">
            <div class="col-xl-12 no_pad mobileheader float_left">
                <h2 class="heading-level-two"> Participant details </h2>
            </div>
            <span class="divider col-12 no_pad float-left"></span>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
                <!--Participants autocomplete starts -->
                <!-- <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-12 mt20 mb20 float-left no_pad">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 no_pad float-left  ">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  float-left plb-60-20 cust_autoComplete pos-rel">
                       
                        <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="contactopportunity" class="label-form">Participants</label>
                        <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input" id="contactopportunity" name="contactopportunity" [(ngModel)]="contactopportunity" autocomplete="off" type="text" placeholder="Choose Person" (clickOutside)="contactopportunityclose()"
                            (click)="contactopportunitySwitch = true" (keyup)="participantChange($event, 'participant')">
                        <span class="mdi mdi-magnify"></span>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-right  border-btm z-ind-9999 float-left no_pad suggestion-box pos-abs border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white" *ngIf="contactopportunity && contactopportunitySwitch">
                            <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                                <span class="w-100 z-ind-9 float-left bg-white">
                    <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox" id="read"
                      [ngClass]="{'loader-search':isActivityGroupSearchLoading }">
                      <li class="list-group-item h-50 p-4-10 " (click)="appendopportunity(item,item.index)"
                        *ngFor="let item of opportunityContact">
                        <div class="float-left naming-tags child-middle bg-azure">
                          <span
                            class="initials">{{(item.FullName[0].charAt(0)+ item.FullName[1].charAt(0)) | uppercase}}</span>
                        </div>
                        <label for="inti_name" class="float-left namepartcipant">
                          <span class="d-block list-name">{{item.FullName}}</span>
                         
                        </label>
                        </li>
                        <li class="d-block list-name h-40 p-10" *ngIf="(opportunityContact |filter:contactopportunity).length == 0&& !isActivityGroupSearchLoading">
                            No record found </li>
                        </ul>
                        </span>
                        </perfect-scrollbar>
                    </div>
                   
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt10 selected-contact">
                <perfect-scrollbar style="max-height:300px">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mail-box-text mt-10 mr10 no_pad" *ngFor="let item of selectedopportunity; let i=index">
                        <span class="float-left initial-text">{{item.FullName[0].charAt(0)+ item.FullName[1].charAt(0) | uppercase}}</span>
                        <label for="inti_name" class="float-left name-label">
                  <span class="d-block color-label_gray mr10 float-left">{{item.FullName}}</span>
                  <span class="mdi mdi-close close-lead float-right cp" (click)="removeParticipants(item, i)"></span>
                </label>
                    </div>
                </perfect-scrollbar>
            </div>
        </div> -->
                <!--Participants autocomplete ends -->

                <!--Participants ( Non-trace users) autocomplete starts -->
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-12 mb20 float-left no_pad mt20">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left  ">
                            <div (clickOutside)="contactopportunityclose1()"
                                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12    mobileheader no_pad float-left plb-60-20 cust_autoComplete pos-rel ">
                                <!--<form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad CompanyName">-->
                                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
                                    for="contactopportunity1" class="label-form">Participants ( Non-trace users)</label>
                                <input appKeyListControl #ParticipantsList (arrowDown)="arrowkeyLocation=$event"
                                    (keyup.enter)="ParticipantsList.value=opportunityContact1[arrowkeyLocation].FullName;
                                ParticipantsName=opportunityContact1[arrowkeyLocation].FullName; 
                            appendcontact4(opportunityContact1[arrowkeyLocation]);contactopportunitySwitch1=false;arrowkeyLocation=0;"
                                    [attr.data-arrayMaxLength]="opportunityContact1?.length" [attr.data-isDownBtn]=true
                                    type="text" role="combobox" aria-autocomplete="list" [dataManipulate]="true"
                                    (keydown.Tab)="contactNameclose4()" [attr.data-selectedvalue]="ParticipantsName"
                                    matTooltip="{{ParticipantsList.value}}"
                                    [attr.aria-expanded]="contactopportunitySwitch1?true:false" aria-owns="read"
                                    [attr.aria-activedescendant]="arrowkeyLocation"
                                    (intialLoadData)="contactopportunitySwitch1 = true;nonTraceUsers(ParticipantsList.value);arrowkeyLocation=0"
                                    [disabled]="disableFields"
                                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 label-input"
                                    id="contactopportunity1" name="contactopportunity1"
                                    [(ngModel)]="contactopportunity1" autocomplete="off" type="text"
                                    placeholder="Enter participants"
                                    (input)="contactopportunitySwitch1 = true;nonTraceUsers(ParticipantsList.value)">
                                <span class="mdi mdi-magnify magnifymobile_participant"></span>
                                <span class="mdi mdi-close auto-close"
                                    (click)="ParticipantsList.value ='';arrowkeyLocation=0;ParticipantsName=''"
                                    *ngIf="!contactopportunitySwitch1 && ParticipantsList.value!==''"></span>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 width_368 border-right  border-btm z-ind-9999 float-left no_pad suggestion-box pos-abs border-bottom-4 top64 standard-border color-azure z-ind-9 bg-white"
                                    *ngIf="opportunityContact1 && contactopportunitySwitch1">
                                    <perfect-scrollbar style="max-height:160px" class="z-ind-9">
                                        <span class="w-100 z-ind-9 float-left bg-white">
                                            <ul class=" list-group color-azure  sort-dropdown mr2" role="listbox"
                                                id="read" >
                                                <span class="loader-search" *ngIf="isActivityGroupSearchLoading"> </span>
                                                <li class="list-group-item h-50 p-4-10 "
                                                    *ngFor="let item of opportunityContact1; let i=index"
                                                    (click)="contactopportunitySwitch1=false;appendopportunity1(item);ParticipantsList.value =item.FullName;arrowkeyLocation=0;ParticipantsName=item.FullName">
                                                    <div class="float-left naming-tags child-middle bg-azure">
                                                        <span
                                                            class="initials">{{item.FullName[0].charAt(0)+ item.FullName[1].charAt(0) | uppercase}}</span>
                                                    </div>
                                                    <label for="inti_name" class="float-left namepartcipant">
                                                        <span class="d-block list-name">{{item.FullName}}</span>
                                                        <!--<span class="d-block sub-list">{{item.designation}}</span>-->
                                                    </label>
                                                </li>
                                                <li class="d-block list-name h-40 p-10"
                                                    *ngIf="(opportunityContact1.length == 0) && !isActivityGroupSearchLoading">
                                                    No record found </li>
                                            </ul>
                                        </span>
                                    </perfect-scrollbar>
                                    <span class="db-search"
                                        (click)="openadvancetabs('NonTraceUsers', opportunityContact1, ParticipantsList.value)" (keypress) = "openadvancetabs('NonTraceUsers', opportunityContact1, ParticipantsList.value)">
                                        <button id="adls{{opportunityContact1?.length+1}}" role="option" tabindex="0"
                                            aria-disabled="false" type="button" class="button-search"
                                            [class.active]="opportunityContact1?.length+1 == arrowkeyLocation">
                                            <span class="mdi mdi-file-outline"></span> Advance look up
                                        </button>
                                    </span>
                                </div>
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt10 selected-contact">
                        <perfect-scrollbar style="max-height:300px">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mail-box-text mt-10 d-flex mr10 no_pad"
                                *ngFor="let item of selectedopportunity1; let i=index">
                                <span
                                    class="float-left initial-text align-self-center">{{item.FullName[0].charAt(0)+ item.FullName[1].charAt(0) | uppercase}}</span>
                                <!-- <label for="inti_name" class="float-left name-label"> -->
                                <span
                                    class="d-block color-label_gray mr10 ml5 float-left align-self-center ellipses">{{item.FullName}}</span>
                                <!-- </label> -->
                                <span *ngIf="!disableFields"
                                    class="mdi mdi-close close-lead float-right cp align-self-center"
                                    (click)="removeParticipants1(item, i)"></span>
                            </div>
                        </perfect-scrollbar>
                    </div>
                </div>
                <!--Participants ( Non-trace users) autocomplete ends -->
            </div>
        </div>

        <!-- second div section ends here -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left card mt20 margin-btm55 no_pad">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb10">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt10">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-10 float-left no_pad">
                        <h2 class="heading-level-two float-left no_pad"> Comments and conclusions </h2>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-2 float-left no_pad">
                        <button [attr.disabled]="disableFields ? '' : null"
                            class="mobile_ADDBTN  primary-button h-40 std save-responsive-btn button-wd50 add-btn-format float-right no_pad"
                            (click)="TextInputs = true" [ngClass]="disableFields ?'disabled-btn-account':''">+
                            Add</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad bg-mid_light h-50">
                <h3 class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 float-left heading-level-three">COMMENTS AND
                    CONCLUSIONS
                </h3>
                <h3 class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 offset-xl-1 float-left heading-level-three d-none d-md-block">
                    ACTIONS IDENTIFIED
                </h3>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb20">
                <div *ngIf="TextInputs">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 float-left mt20">
                        <textarea
                            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text text-height-70"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="firstareatext" id="text3" name="text"
                            type="text" placeholder="Enter comments and conclusions" (blur)="manageAutoSave()"></textarea>
                    </div>
                    <div class="col-12 no_pad float-left d-md-none mt20 bg-mid_light">
                    <h3 class="col-12 d-md-none float-left heading-level-three">
                            ACTIONS IDENTIFIED </h3>
                    </div>       
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 offset-xl-1  float-left mt20 padding_conclusiontextarea">
                     <textarea
                            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left h-40 input-text text-height-70"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="secondareatext" id="text4" name="text"
                            type="text" placeholder="Enter actions identified" (blur)="manageAutoSave()"></textarea>
                    </div>


                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-1 float-right mt20 icon-center justify-content-center commonActionBtn mobile-align justify-content-md-around">
                        <button id="reject" class="no_pad_mobile btn-none blue_circle_button pad_left_0 cp commonActionBtn float-left"
                            aria-label="reject" (click)="clearData()" matTooltip="Cancel">
                            <span class="col-xs-12 nopad blue_circle_button_img mdi mdi-close comment-concl-btn"></span>
                        </button>
                        <button id="approve"
                            class="no_pad_mobile btn-none blue_circle_button pad_left_0 cp commonActionBtn float-right"
                            aria-label="approve" (click)="appenddata()" matTooltip="Submit">
                            <span class="col-xs-12 nopad blue_circle_button_img comment-concl-btn mdi mdi-check"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb20  border_topconclusion">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad height-100 mangemnet_blocktype"
                    *ngFor="let data of table_data;let i =index">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 float-left padding_conclusion d-flex align-items-center">
                     
                        <div class="col-12 no_pad">  
                             <span class="col-12 no_pad displayblock_mangeMobile text-muted"> COMMENTS AND CONCLUSIONS </span>
                             <span class="col-12 no_pad"> {{data.Comment}}  </span> 
                        </div>
                     </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 offset-xl-1 float-left padding_conclusion d-flex align-items-center">
                        <div class="col-12 no_pad">  
                            <span class="col-12 no_pad displayblock_mangeMobile text-muted"> ACTIONS IDENTIFIED  </span>
                            <span class="col-12 no_pad">  {{data.ActionIdentified}} </span> 
                       </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-1 float-right icon-delete commonActionBtn mobile-align justify-content-center justify-content-md-around">
                        <button *ngIf="!disableFields" id="reject"
                            class="no_pad_mobile btn-none blue_circle_button pad_left_0 cp commonActionBtn float-left"
                            aria-label="reject" (click)="Openeditarea(data, i); TextInputs = true" matTooltip="edit">
                            <span
                                class="col-xs-12 nopad blue_circle_button_img mdi mdi-square-edit-outline comment-concl-btn"></span>
                        </button>
                        <button *ngIf="!disableFields" id="approve"
                            class="no_pad_mobile btn-none blue_circle_button pad_left_0 cp commonActionBtn float-right"
                            aria-label="approve" (click)="deleterow(data)" matTooltip="delete">
                            <span
                                class="col-xs-12 nopad blue_circle_button_img mdi mdi-delete comment-concl-btn"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->

</div>