$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;

.h-170 {
  height: 170px;
}
.mt-110{
  margin-top: 110px !important;
}
.error {
  border: 1.5px solid $RubyRed !important;
}
.w-90{
  width:85px;
}
.w-220{
  width:220px;
}
.top-40{
  top:40px;
}


.mr10 {
  margin-right: 10px !important;
}
.plb-60-20 {
  padding: 0 60px 20px 0;
}
.h-40 {
  min-height: 40px;
}
.heading-level-one {
  font-family: WiproAkkuratTT-Bold;
  font-size: 24px;
  color: $White;
  max-width: 100% !important;

  small {
    font-family: "WiproAkkuratTT-Regular";
    font-size: 14px;
    padding: 0 30px;
  }
}
.primary-button.std {
  padding: 9px 5px;
  min-width: 110px;
  margin: 0;
}
.borderless {
  border: none !important;
}
.card {
  border-radius: 5px;
  border: 0px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: table;
}

.pading-30 {
  padding: 30px;
}
.prospect-main-page {
  padding: 30px;
}
.label-form {
  font-family: WiproAkkuratTT-Regular;
  font-size: 12px;
  line-height: 1.83;
  color: $Metal;
  margin-bottom: 4px;
  width: 100%;
}

.CompanyName {
  .mdi-magnify:before {
    color: $Azure;
    font-size: 20px;
    right: 10px;
    position: absolute;
    bottom: 5px;
  }
}

.list-group-item {
  cursor: pointer;
  font-size: 12px;
  color: $Azure;
  border: none;
}

.top70 {
  top: 70px;
}

.list-group-item:hover {
  background-color: $River;
}

.autocomplete-box {
  top: 0px;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1.5px solid $Azure;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: 0.2s;

  .list-group-item {
    cursor: pointer;
    height: 50px;
    padding: 10px;
  }

  .db-search {
    height: 40px;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      background-color: #d9e9ff;
    }
    button {
      font-family: WiproAkkuratTT-Bold;
      font-size: 14px;
      letter-spacing: 0.3px;
      color: $Azure;
      outline: none;
      border: none;
      background: transparent;
      text-align: left;
      width: 100%;
      height: 100%;
    }
  }
  .list-box:hover {
    background-color: #d9e9ff;
    cursor: pointer;
  }

  .btn-none {
    outline: none;
    border: none;
    background: transparent;
  }
}
.suggestion-box {
  border: 1.5px solid $Azure;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  z-index: 8;
}
.top64 {
  top: 64px;
}
.cust-label-input {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #4a4a4a;
  &:focus {
    border: 1.5px solid $Azure !important;
    outline: none;
  }
}
.input-text {
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1.5px solid #d8d8d8;
}

z-ind-99 {
  z-index: 99;
}

.border-right {
  border-right: 2px solid #2f81ff !important;
}

.border-btm {
  border-bottom: 2px solid;
}
.new-container .list-name {
  max-width: 100% !important;
}
.mat-dialog-title{
  margin: 0 !important;
  }
  .popup-container .confrm-btn{
    margin-top: 0px !important;
  }
  .loader {
    top:100px;
    // margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
.loaderContainer {

  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}

.customized-select select{
  padding: 2px 20px 2px 10px !important;
}
.disabled-control {
  color: $MetalLight !important;
  background-color: #f9f9f9 !important;
  button,
  input,
  select {
    color: $MetalLight !important;

    background-color: #f9f9f9 !important;
  }

  .caret,
  .mdi:before {
    color: $MetalLight !important;
  }
}

span.mdi.mdi-close.auto-close {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 4px;
  font-size: 20px;
  color: #2f81ff;
  
}