<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">

  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab ">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left opportunity-landing-container no_pad">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  no_pad">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
          <button class="float-left mdi mdi-keyboard-backspace cp back-buttonbg" (click)="goBack()" role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
          <div class="col-10 no_pad float-left">
            <h1 class="col-12 no_pad float-left heading-level-one ">Opportunity finder</h1>

            <span class="col-12 no_pad float-left brudcrumbs">Sales > Opportunities</span>
          </div>
         <div *ngIf="!DataCommunicationService.MobileDevice" class="col-1 float-right"><div class="col-12 no_pad mt10">
                 <button  (click)='clearData()' class="pad-10-20 borderless primary-button primary-button-opp-landing-50 width-80
                 primary-button secondary-btn btn-block h-40 margR10 std cancel-responsived-btn button-wd50">Clear
          </button>
           </div>
          </div> 
          
         <div *ngIf="DataCommunicationService.MobileDevice" class="float-left col-12 mobile-buttons mobile-buttons-opp bg-azure mobile-sticky-btns no_pad">
           <button (click)='clearData()' class="borderless h-67 w-150 primary-button primary-button-opp-landing text-center widheight" type="button" >Clear </button>
           </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-178">
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad opportunity-landing-container">
  <ng-container *ngIf="isLoading">
    <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
                <div class="loaderContainer">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-30 top-24 mt-126">

    <div class="col-12 float-left card no_pad ">
      <div class="col-12 card-content float-left pad-create-lead1">
        <div class="col-12 float-left pt-10">
          <h2 class="col-6 float-left no_pad heading-level-two pad-top-8">Search</h2>

        </div>
      </div>
      <span class="border-bottm"></span>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-create-lead">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">

          <!-- Select radio STARTS -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left mt10 plb-60-20">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form mr-btm10" id="key">
              Search for</div>
            <mat-radio-group class="float-left mt12" aria-labelledby="key" (change)="opportunityradio($event)">
              <mat-radio-button value="Opportunity" checked class="pr30 label-form-blue radio-fontfamly">Opportunity
              </mat-radio-button>
              <!--<mat-radio-button value="Order" class="label-form-blue radio-fontfamly">Order
              </mat-radio-button>-->
            </mat-radio-group>
          </div>
          <!-- Select radio ENDS -->

          <!-- Opportunity section starts from here.. -->
          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad Vertical_Owner" *ngIf="showopportunity">

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="opportunityName"
               class="label-form">Opportunity name / number</label>
              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text "
              (blur)="AppendRedisCache()"       [(ngModel)]="opportunityName"    id="opportunityName" name="opportunityName" type="text" placeholder="Enter opportunity name / number"
                autocomplete="off">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="accountArr"
                class="label-form"> Account name/ number <span class=""></span></label>
          
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">

                <div class="flex-grow-1">


                  <app-auto-complete-select [requiredField]="false" [source]="AccountnameArray"   [selectedObj] ='selectedAccNameObj'  (content)="wiproLinkedAGP($event)"  (advanceLookUp)="advanceLookUpSearch($event)"
  [labelName]="'accountArr'"  [titleName]="'Account name/ number'" [isSearchLoader]='isSearchLoader' [isSearchLoader]='isSearchLoader'  [IsApiCall]=true   [details]="accountName" [detailsId]="accountId"     (SelectedData)="SelectedAccountNameValue($event)"       [dataHeader] ='header'     [Placeholder]="'Select account'" [showSelected]=false>
                  </app-auto-complete-select>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="opportunityStatus"
                class="label-form">Opportunity status</label>
              <div class="customized-select">
                <span class="caret color-azure"></span>
                <select  (blur)="AppendRedisCache()" [(ngModel)]='opportunityStatusName' name="opportunityStatusName" id="opportunityStatusName" role="listbox" class="pad-left10">
          <option value ="" >All</option>
          <option [value]="status.Value" *ngFor="let status of opportunityStatus">{{status.Label}}</option>
        </select>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left create-mt20 ">
              <!--<app-multi-select-checkbox [Source]="filterCheckBox" (selectedContent)="selectedValues($event)"
                [label]="'Service line'" [Placeholder]="'Search'">
              </app-multi-select-checkbox>-->
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Service line"
                class="label-form">Service line</label>
              <div class="customized-select">
                <span class="caret color-azure"></span>
              <!--(change)='serviceLines()' -->
                 <select  (change)="practice()"   (blur)="AppendRedisCache()"    [(ngModel)]='serviceLin' id="serviceLin" name="serviceLin" role="listbox" class="pad-left10">
                  <option value ="" >All</option>
            <option     [value]="service.SysGuid" *ngFor="let service of serviceLine">{{getServiceLine(service)}}</option>
          </select>

              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="practice"
                class="label-form">Practice</label>
              <div class="customized-select">
                <span class="caret color-azure"></span>
                <select    (blur)="AppendRedisCache()"  [(ngModel)]='practiceNamee' id="practiceee" name="practiceeee" role="listbox" class="pad-left10">
                     <option value ="" >All</option>
              <option     [value]="practices.SysGuid" *ngFor="let practices of practiceName">{{practices.Name}}</option>

                </select>

                  
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                class="label-form">Vertical</label>
              <div class="customized-select">
                <span class="caret color-azure"></span>
                <select   (blur)="AppendRedisCache()" (change)="subVertical()"   [(ngModel)]='verticalNam' id="vertical" name="vertical" role="listbox" class="pad-left10">
                         <option value ="" >All</option>
                  <option     [value]="verticals.SysGuid" *ngFor="let verticals of verticalName">{{verticals.Name}}</option>

                </select>
              </div>
            </div>

            <div  class="toggle-transition active">

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="subVertical"
                  class="label-form">Sub-vertical</label>
                <div class="customized-select">
                  <span class="caret color-azure"></span>
                  <select  (blur)="AppendRedisCache()"  (change)="subVertical()"   [(ngModel)]='subVerticalNam'  id="subVertical" name="subVertical" role="listbox" class="pad-left10">
                        <option value ="" >All</option>
                <option     [value]="subVerticals.SysGuid" *ngFor="let subVerticals of subVerticalName">{{subVerticals.Name}}</option>

                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="geo"
                  class="label-form">Geo</label>
                <div class="customized-select">
                  <span class="caret color-azure"></span>
                  <select   (blur)="AppendRedisCache()"  (change)="region()"  [(ngModel)]='geoNam' id="geo" name="geo" role="listbox" class="pad-left10">
                        <option value ="" >All</option>
                   <option     [value]="geoNames.SysGuid" *ngFor="let geoNames of geoName">{{geoNames.Name}}</option>  

                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="region"
                  class="label-form">Region</label>
                <div class="customized-select">
                  <span class="caret color-azure"></span>
                  <select  (blur)="AppendRedisCache()"   [(ngModel)]='regionNam' id="region" name="region" role="listbox" class="pad-left10">
                             <option value ="" >All</option>
                      <option   [value]="regionNames.SysGuid" *ngFor="let regionNames of regionName">{{regionNames.Name}}</option> 
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="allianceArr"
                  class="label-form"> Alliances <span class=""> 
                  </span></label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">

                  <div class="flex-grow-1">
                    <app-auto-complete-select [requiredField]="false" [source]="AllianceseArray" (content)="AlliancesContent($event)" (advanceLookUp)="advanceLookUpSearch($event)"
  [selectedObj] ='selectedAllianceNameObj'   [isSearchLoader]='isSearchLoader'  [labelName]="'allianceArr'" [titleName]="'Alliances'" [IsApiCall]=true [details]="allianceName" [detailsId]="allianceId"  [dataHeader] ='header'  (SelectedData)="SelectedAllianceValue($event)"                   [Placeholder]="'Search alliance'" [showSelected]=false>
                    </app-auto-complete-select>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
                <!--<app-multi-select-checkbox [Source]="competitors" (selectedContent)="selectedValues($event)"
                  [label]="'Competitors'" [Placeholder]="'Search'">
                </app-multi-select-checkbox>-->
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Competitors"
                  class="label-form">Competitors</label>
                <div class="customized-select">
                  <span class="caret color-azure"></span>
                  <select  (blur)="AppendRedisCache()"   [(ngModel)]='competitorNam' id="Competitors" name="Competitors" role="listbox" class="pad-left10">
                             <option value ="" >All</option>
                      <option   [value]="competitorNames.SysGuid" *ngFor="let competitorNames of competitorName">{{competitorNames.Name}}</option> 
                  </select>
                </div>
              </div>


   
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left create-mt20 pad-btm6">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad label-form pad-btm6" id="key">
                  Opportunity with IP?</label>
        <mat-radio-group name='ipRadio{{i}}' id='ipRadio{{i}}' 
  aria-labelledby="example-radio-group-label"
  class="float-left mt12"
  [(ngModel)]="selectedIpRadio" (change)="valueChange($event); ">
  <mat-radio-button class="pr30 label-form-blue radio-fontfamly" name='ipRadio{{i}}' id='ipRadio{{i}}'  *ngFor="let data of ipRadio; let i=index;" [value]="data.Value">
   {{data.name}}
  </mat-radio-button>
  
</mat-radio-group>

            </div>



         
            <div *ngIf="selectedIpRadio=='1'"  class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="ipArr"
                  class="label-form"> IP <span class="required"> 
                  </span></label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">

                  <div class="flex-grow-1">
                     <app-auto-complete-select [requiredField]="false" [source]="ipArray" (content)="ipContent($event)" (advanceLookUp)="advanceLookUpSearch($event)"
     [selectedObj] ='SelectedIpObj'   [isSearchLoader]='isSearchLoader' [labelName]="'ipArr'" [titleName]="'IP'" [IsApiCall]=true [details]="ipName" [detailsId]="ipId"  [dataHeader] ='dataheader'  (SelectedData)="SelectedIpValue($event)"                   [Placeholder]="'Search IP'" [showSelected]=false>
                    </app-auto-complete-select>
               
                  </div>
                </div>
              </div>


            </div>
            <div class="col-12 float-left create-mt20">
              <div class=" float-left no_pad">
                <button  (click)='SearchtableData(paginationPageNoSearch)' class="primary-button btn-block">Search</button>
              </div>

            </div>
          </form>
          <!-- Opportunity section ends here.. -->

          <!-- Order section starts from here.. -->
          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" *ngIf="showorder">

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="opportunityName"
                class="label-form">Order/ Amendment name/ ID</label>
              <input class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  h-40 input-text "
                id="opportunityName" name="opportunityName" type="text" placeholder="Enter opportunity name / number"
                autocomplete="off">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="Conversation"
                class="label-form"> Account name <span class="required"> *
                </span></label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">

                <div class="flex-grow-1">
                  <app-auto-complete-select [requiredField]="true" [source]="AccountnameArray" (content)="wiproLinkedAGP($event)"
                    [Placeholder]="'Select account'" [showSelected]=false>
                  </app-auto-complete-select>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="opportunityStatus"
                class="label-form">Order status </label>
              <div class="customized-select">
                <span class="caret color-azure"></span>
                <select id="opportunityStatus" role="listbox" class="pad-left10">
                  <option value="">All</option>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                  <option value="pending">Pending</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left create-mt20 ">
              <app-multi-select-checkbox [Source]="filterCheckBox" (selectedContent)="selectedValues($event)"
                [label]="'Service line'" [Placeholder]="'Search'">
              </app-multi-select-checkbox>

            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="practice"
                class="label-form">Practice</label>
              <div class="customized-select">
                <span class="caret color-azure"></span>
                <select id="practice" name="practice" role="listbox" class="pad-left10">
                  <option value="">All</option>
                  <option value="1">Practice 1</option>
                  <option value="2">Practice 2</option>
                  <option value="3">Practice 3</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left  create-mt20">
              <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="vertical"
                class="label-form">Vertical</label>
              <div class="customized-select">
                <span class="caret color-azure"></span>
                <select id="vertical" name="vertical" role="listbox" class="pad-left10">
                  <option value="">All</option>
                  <option value="1">Vertical 1</option>
                  <option value="2">Vertical 2</option>
                  <option value="3">Vertical 3</option>
                </select>
              </div>
            </div>

            <div class="toggle-transition active">

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="subVertical"
                  class="label-form">Sub vertical</label>
                <div class="customized-select">
                  <span class="caret color-azure"></span>
                  <select id="subVertical" name="subVertical" role="listbox" class="pad-left10">
                    <option value="">All</option>
                    <option value="1">Sub vertical 1</option>
                    <option value="2">Sub vertical 2</option>
                    <option value="3">Sub vertical 3</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="geo"
                  class="label-form">Geo</label>
                <div class="customized-select">
                  <span class="caret color-azure"></span>
                  <select id="geo" name="geo" role="listbox" class="pad-left10">
                    <option value="">All</option>
                    <option value="1">Geo 1</option>
                    <option value="2">Geo 2</option>
                    <option value="3">Geo 3</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="region"
                  class="label-form">Region</label>
                <div class="customized-select">
                  <span class="caret color-azure"></span>
                  <select id="region" name="region" role="listbox" class="pad-left10">
                    <option value="">All</option>
                    <option value="1">Region 1</option>
                    <option value="2">Region 2</option>
                    <option value="3">Region 3</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="allianceA"
                  class="label-form"> Alliances <span class="required"> *
                  </span></label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">

                  <div class="flex-grow-1">
                    <app-auto-complete-select [requiredField]="true" [source]="AllianceseArray" (content)="AlliancesContent($event)"
                      [Placeholder]="'Select alliance'" [showSelected]=false>
                    </app-auto-complete-select>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
                <app-multi-select-checkbox [Source]="competitors" (selectedContent)="selectedValues($event)"
                  [label]="'Competitors'" [Placeholder]="'Search'">
                </app-multi-select-checkbox>
              </div>
         
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left customized-input create-mt20">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad" for="ipAdd"
                  class="label-form"> IP <span class="required"> *
                  </span></label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad d-flex">

                  <div class="flex-grow-1">
                    <app-auto-complete-select [requiredField]="true" [source]="AllianceseArray" (content)="AlliancesContent($event)"
                      [Placeholder]="'Search IP'" [showSelected]=false>
                    </app-auto-complete-select>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-12 float-left create-mt20">
              <div class=" float-left no_pad">
                <button class="primary-button btn-block">Search</button>
              </div>
              <!--<div class="col-6 float-right no_pad">
                <a href="javascript:void(0);" (click)="onToggleMore()" class="float-right show-more">{{changedTxt}}</a>
              </div>-->
            </div>
          </form>
          <!-- Order section ends here.. -->

        </div>
      </div>
    </div>

         





    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 no_pad" *ngIf="showopportunity">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 no_pad"> 
        <label class="col-12 label-font float-left no_pad" *ngIf="showopportunityname">Opportunities {{tableTotalCount}}  </label></div>
   <span> {{tableTotalCount.length}} </span>
      <div class="parent-container new-resp-tbl" *ngIf="allopportunity.length>0">
        <app-single-table  (detectPageChangeData)="getNewTableData($event)"   [totalTableCount]="tableTotalCount"
           [filterConfigData]="filterConfigData"  (detectActionValue)="performTableChildAction($event)" [TableName]="'allopportunityfinder'"
          [TableCollection]="allopportunity" [IscheckBoxRequired]=false [IsActionFixed]=true [IsFreezedColumn]=true
          [IsActionManipulate]=true   [IsAccessActivation]=true [IsCustomizeTable]=true [bgParentColor]="'bgWhiteContainer'" [IsTabList]="tabList"
      [serviceSearch]=true  [paginationPageNumber]="paginationPageNo"  (selectedValue)="appendConversation($event)" [TabValueSelected]="">
        </app-single-table>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 no_pad" *ngIf="showorder">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt20 no_pad"> 
          <label class="col-12 label-font float-left no_pad">Orders (5)</label></div>
        <div class="parent-container new-resp-tbl" *ngIf="allorder.length>0">
          <app-single-table 
          (detectActionValue)="performTableChildAction($event)"
          [TableName]="'allorderfinder'"
          [TableCollection]="allorder"
          [IscheckBoxRequired]=true
          [IsActionFixed]=IsActionFixed 
          [IsFreezedColumn]=IsFreezedColumn
          [IsAccessActivation]=true 
          [IsCustomizeTable]=true 
          [bgParentColor]="'bgWhiteContainer'"
          [IsTabList]="tabList"
          (selectedValue)="appendConversation($event)" 
          [TabValueSelected]="">
          </app-single-table>
        </div>
      </div>

  </div>
</div>