<div class="col-12 float-left no_pad popup-container newchildconvo">
    
        <div class="col-12 float-left container-dialog">
            <div class="col-12 float-left  no_pad popup-hd">
                <span class="col-10 float-left no_pad popup-hd-txt title-dialog" mat-dialog-title>Close action</span>
                <button class="float-left  no_pad btndef-none mdi mdi-window-close close-icn" aria-label="close" mat-dialog-close ></button>
            </div>
            <div class="col-12 float-left border-bottom-grey "></div>
            <div class="col-12 float-left pad-20-pop">
                <div class="convo-name-title">Action name</div>
                <div class="convo-name mt5">Action Name 1</div>
            </div>      
            <div class="col-12 float-left border-bottom-grey "></div>
            <div class="convo-name-title float-left mt10" id="nuture" >Remarks for closing this action <span class="required"></span></div>
            <textarea class="col-12 float-left mt10 pop-area" aria-labellledby="nuture" placeholder="Enter remarks for closing this action"></textarea>
          
            <div class="float-left convo-name-title desc-color mt20">This Action will be closed</div>
        </div>
       
     
        <div class="col-12 float-left no_pad mt30">
            <button aria-label="Close" class="col-12 float-left btndef-none no_pad confrm-btn" mat-dialog-close>Close</button>
        </div>
    </div>