<footer class=" pull-left" [ngClass]="router.url.includes('/helpdesk') ? 'footer_div_fix' : 'footer_div'">
  <div class="col-xs-12 no_pad footer_container ">
    <div class="col-xs-12 rect_copy_1 padding_right_left">
      <div class="col-xs-12 middleFooter no_pad">
        <span class="Wipro_One">Wipro one</span>
        <span class="copyright_wiprocom">@copyright wipro.com 2020</span>
      </div>
    </div>
  </div>


</footer>
<div class="toast-message float-left" [ngClass]="service.message ? 'active' : ''">
    <div>
      <span class="float-left">Successfully saved.</span>
      <button class="mdi mdi-close float-right btn-none toast_close" aria-label="close" (click)="service.closeToast()"></button>
    </div>
  </div>
  <div class="toast-message float-left" [ngClass]="service.messagesend ? 'active' : ''">
    <div>
      <span class="float-left">Successfully sent.</span>
      <button class="mdi mdi-close float-right btn-none toast_close" aria-label="close" (click)="service.closeToast()"></button>
    </div>
  </div>
  <div class="toast-message float-left" [ngClass]="service.messagecreate ? 'active' : ''">
    <div>
      <span class="float-left">Successfully created.</span>
      <button class="mdi mdi-close float-right btn-none toast_close" aria-label="close" (click)="service.closeToast()"></button>
    </div>
  </div>
  <div class="toast-message col-2 float-left" [ngClass]="service.messagecancel ? 'active' : ''">
    <div class="widthCanceltoast">
      <span class="float-left">Successfully cancelled.</span>
      <!--<button class="mdi mdi-close float-right btn-none toast_close" aria-label="close" (click)="service.closeToast()"></button>-->
    </div>
  </div>
  <div class="toast-message" [ngClass]="service.messagesubmit ? 'active' : ''">
    <div>
      <span class="float-left">Successfully submitted.</span>
      <button class="mdi mdi-close float-right btn-none toast_close" aria-label="close" (click)="service.closeToast()"></button>
    </div>
  </div>
  <div class="toast-message" [ngClass]="service.messageconfirm ? 'active' : ''">
    <div>
      <span class="float-left">Successfully confirmed.</span>
      <button class="mdi mdi-close float-right btn-none toast_close" aria-label="close" (click)="service.closeToast()"></button>
    </div>
  </div>
  <div class="toast-message" [ngClass]="service.messageswap ? 'active' : ''">
    <div>
      <span class="float-left">Successfully swapped.</span>
      <button class="mdi mdi-close float-right btn-none toast_close" aria-label="close" (click)="service.closeToast()"></button>
    </div>
  </div>
  <div class="toast-message" [ngClass]="service.messagedone ? 'active' : ''">
    <div>
      <span class="float-left">Successfully done.</span>
      <button class="mdi mdi-close float-right btn-none toast_close" aria-label="close" (click)="service.closeToast()"></button>
    </div>
  </div>
  <div class="toast-message" [ngClass]="service.messagereject ? 'active' : ''">
    <div>
      <span class="float-left">Successfully rejected.</span>
      <button class="mdi mdi-close float-right btn-none toast_close" aria-label="close" (click)="service.closeToast()"></button>
    </div>
  </div>
  <div class="toast-message" [ngClass]="service.messagesaved ? 'active' : ''">
    <div>
      <span class="float-left">Successfully saved.</span>
      <button class="mdi mdi-close float-right btn-none" aria-label="close" (click)="service.closeToast()"></button>
    </div>
  </div>
  