.deal-module-container {
  .panel-btns-div {
    span {
      margin-right: 10px;
    }
    span:last-child {
      margin-right: 0px;
    }
    .mdi:before {
      position: relative;
      top: -2px;
    }
  }
  .mname-edit {
    position: absolute;
    width: auto;
    right: 3px;
    top: 9px;
    font-size: 20px;
    z-index: 10;
  }
  .pad-right {
    padding-left: 10px;
  }
  .icon-lynHgt {
    line-height: 1;
  }
  .pad-top35 {
    padding-top: 35px;
  }

  .primary-button {
    min-width: 90px;
  }
  .w-110 {
    max-width: 100px;
  }
  .mar-botm22 {
    margin-bottom: 22px;
  }
  .main-details {
    padding: 0;
    width: auto;
    background: #d9e9ff;
    border-radius: 37px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .naming-tags {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  .name {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .list-name {
    color: #2f81ff;
  }
  .wid100 {
    max-width: 100px;
  }
  .delete {
    margin-right: 10px;
    color: #2f81ff;
    margin-top: 0px;
  }
  ::ng-deep {
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
      background: rgba(0, 0, 0, 0.04);
    }
    .mat-expansion-panel-body {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    .mat-expansion-panel-header {
      height: 60px !important;
    }
    .mat-expansion-panel-content {
      font-family: "WiproAkkuratTT-Regular";
    }
    .mat-checkbox-label {
      color: #3b88ff;
      font-family: "WiproAkkuratTT-Regular";
    }
    .mat-expansion-panel-spacing {
      margin-top: 0;
    }
    .mat-expansion-panel {
      margin-bottom: 8px;
    }
    .mat-checkbox-disabled {
      .mat-checkbox-label {
        color: rgba(0, 0, 0, 0.54) !important;
      }
    }
    .mat-checkbox-inner-container {
      top: -2 !important;
    }
    .mat-expansion-panel-header-title{
      align-items: center;
    }
  }
}
.mar-top22 {
  margin-top: 22px;
}
.top64 {
  top: 64px;
}

.customized-input {
  input {
    border: 1.5px solid #d8d8d8;
    font-family: "WiproAkkuratTT-Regular";
  }
  .mdi.mdi-magnify::before {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
  }
}
.popup-hd-txt {
  margin-bottom: 0;
}
.popup-container .confrm-btn {
  margin-top: 0px !important;
}
.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loaderContainer {
  width: 100%;
  top: 0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.red-brdr{
    border-color: #ef3341 !important
}
.accordians-lvl2.mobile{
  .mat-expansion-indicator{
    display: none;
  }
}
.new-mod-acc-main
{
  ::ng-deep
  {
    .mat-expansion-panel-header
    {
      padding: 0 10px !important;
    }
    .mat-expansion-panel-header-title
    {
      margin-right: 0px !important;
    }
  }
}
.module-pop-container .customized-input input {
  padding: 3px 26px 3px 10px !important;
}
.module-pop-container .mdi-magnify:before
{
  right: 5px !important;
}
.edit-icon{
  border: 0;
  margin: 0 5px;
}
.standard-border {
  border-radius: 4px;
}
.align-center{
  display: flex;
  align-items: center;
}
.list-group-item{
  padding: 5px 10px !important;
}