<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  opportunity-landing-container pt0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad top-24 order-hierarchy-mob">

    <div class="col-12 float-left card no_pad pad-top20">

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-content float-left pad-create-lead">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flaot-left no_pad">
          <span class="col-12 float-left no_pad text-heading" *ngIf="projectServices.getSession('currentState')?.toString() !='184450004'" >Loss reasons for this Opportunity </span>
      
          <span class="col-12 float-left no_pad text-heading" *ngIf="projectServices.getSession('currentState')?.toString() =='184450004'" >Loss reasons for this order </span>
        </div>
        

        <!-- Table starts here -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left mt10 no_pad border-btm normal_table mb0">
          <table class="table table-borderless">
            <thead>
              <tr class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 float-left">
                <th class="col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3 float-left">Loss category *</th>
                <th class="col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3 float-left">Loss reason *</th>
                <th class="col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3 float-left no_pad">Additional details (10 words)
                  *</th>
                <th class="col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3 float-left">Information source *</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of competitor_data1; let i = index"
                class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 no_pad float-left">
                <td class="display-none"></td>
                <td [attr.data-label]="'Loss category *'"
                  class="col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3 float-left">
                  <div class="col-12 customized-select no_pad">
                    <span class="caret color-azure"></span>

                    <select id="select1" role="listbox" class="ellipses" name="docTypeFlag" [ngClass] = "data.docTypeFlag && data.isTouched ? 'orangeborder' : ''||{'disabled-control': (isAppirioFlag)}" [disabled]="editAccess||isAppirioFlag"
                      (change)="getLossCategoryId(data.WiproLossCategoryId, $event, i)" [(ngModel)]="data.WiproLossCategoryId">
                      <option value="" disabled selected>Select loss category</option>
                      <option *ngFor="let lossCategoryOptionSet of lossCategoryOptionSets"
                        [value]="lossCategoryOptionSet.WiproLossCategoryId">
                        {{lossCategoryOptionSet.WiproName}}
                      </option>
                    </select>
                    <p class="col-12 no_pad float-left validation-text" *ngIf ="data.docTypeFlag && data.isTouched">Select loss category type is mandatory.</p>
                  </div>
                </td>
                <td [attr.data-label]="'Loss reason *'" class="col-12 col-sm-12 col-md-2 col-xl-3 col-lg-3 float-left">
                  <div class="col-12 customized-select no_pad">
                    <!--{{data.lossOptionSets ? data.lossOptionSets.length : '0'}}-->
                    <span class="caret color-azure"></span>
                    <!--{{data.WiproLossReasonName}}-->
                    <select id="select1" role="listbox" class="ellipses" name="lossReasonFlag" [ngClass] = "data.lossReasonFlag && data.isTouched ? 'orangeborder' : ''||{'disabled-control': (isAppirioFlag)}" [disabled]="editAccess||isAppirioFlag"
                      [(ngModel)]="data.WiproLossReasonId" (change)="getLossReasonId(data.WiproLossReasonId, $event, i)">
                      <option value="" disabled selected>Select loss reason</option>
                      <option *ngFor="let lossOptionSetOBJ of data.lossOptionSets"
                        [value]="lossOptionSetOBJ.WiproLossReasonId" [disabled]="lossOptionSetOBJ ? false : true">
                        {{lossOptionSetOBJ.WiproName}}
                      </option>
                    </select>
                    <p class="col-12 no_pad float-left validation-text" *ngIf ="data.lossReasonFlag && data.isTouched">Select loss reason is mandatory.</p>
                  </div>
                </td>
                <td [attr.data-label]="'Additional details (10 words) *'"
                  class="col-12 col-sm-12 col-md-4 col-xl-3 col-lg-3 float-left no_pad">
                  <div class="col-12 customized-input no_pad">
                    
                    <input id="field1" type="text" class="border-gray col-12" name="additionaldetailsFlag" [ngClass] = "data.additionaldetailsFlag && data.isTouched ? 'orangeborder' : ''"  [disabled]="editAccess||isAppirioFlag" value=""
                      [(ngModel)]="data.WiproAdditionalDetails" placeholder="Additional details" [appAlphaNumeric] = "'text'"
                      (input)="getAdditionalTestDetails($event, i)">
                  </div>
                <p class="col-12 no_pad float-left validation-text" *ngIf ="data.additionaldetailsFlag && data.isTouched">Additional details are mandatory.</p>
                </td>
                <td [attr.data-label]="'Information source *'"
                  class="col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3 float-left">
                  <div class="col-12 customized-select no_pad">
                    <span class="caret color-azure"></span>
                    <!--{{data.WiproInformationSource | json}}-->
                    <select id="select1" role="listbox" class="ellipses" name="informationSourceFlag" [ngClass] = "data.informationSourceFlag && data.isTouched ? 'orangeborder' : ''||{'disabled-control': (isAppirioFlag)}" [disabled]="editAccess||isAppirioFlag"
                      [(ngModel)]="data.InformationSource"
                      (change)="getLossReasonInformationSourceId(data.InformationSource, $event, i)">
                      <option value="" disabled selected>Select information source</option>
                      <option *ngFor="let informationOptionObj of informationOptionSets"
                        [value]="informationOptionObj.Id">
                        {{informationOptionObj.Name }}
                      </option>
                    </select>
                    <p class="col-12 no_pad float-left validation-text" *ngIf ="data.informationSourceFlag && data.isTouched">Select Information Source is mandatory.</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mb20 normal_table">
          <table class="table table-borderless mt20">

            <thead class="header-color">
              <tr class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 float-left">
                <th class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left no_pad"> Three things that went well
                  (*one mandatory)</th>
                <th class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left no_pad">Three things that did not go well
                  (*one mandatory)</th>
                <th class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left ">Please suggest opportunity for
                  Imporvement (OFIs) based on your learnings</th>
                <!-- <th class="col-12 col-sm-12 col-md-3 col-xl-3 col-lg-3 float-left">Information source *</th> -->
              </tr>
            </thead>

            <!-- <th class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left">
               <label class="">
                    Three things that went well (*one mandatory)</label>
                    </th>
                      <th class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left">
                    <label class="">
                    Three things did not go well (*one mandatory)</label>
            </th>
                    <th class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left">
              <label class="">
                    Please suggest opportunity for Imporvement (OFIs) based on your learnings</label>
                    </th> -->

            <tbody>
              <tr class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left">
                <td class="display-none"></td>
                <td class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left"
                  [attr.data-label]="' Three things that went well (*one mandatory)'">

                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left input-text" id="text3"
                    name="wentWell1"  type="text" placeholder="Reason 1"   [ngClass]="resultReasonForm[0].wentWell1 ? 'orangeborder' : ''||{'disabled-control': (isAppirioFlag)}"  [disabled]="editAccess||isAppirioFlag"
                    [(ngModel)]="resultReasonForm[0].wentWell"  (input)="getWellData($event)" [appAlphaNumeric] = "'text'"></textarea>
                </td>
                <!--<p class="col-12 no_pad float-left validation-text" *ngIf ="resultReasonForm.wentWell1 ">Reason is mandatory.</p>-->
                <td class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left">

                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left input-text" id="text4"
                  name="notWell1"  type="text" placeholder="Reason 1"   [ngClass]="resultReasonForm[0].notWell1 ? 'orangeborder' : ''||{'disabled-control': (isAppirioFlag)}"  [disabled]="editAccess||isAppirioFlag"
                    [(ngModel)]="resultReasonForm[0].notWell"  (input)="getNotWellData($event)" [appAlphaNumeric] = "'text'"></textarea>
                </td>
                <td class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left">

                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left input-text" id="text6"
                     name="improveWell1"  type="text" placeholder="Reason 1"  [ngClass]="resultReasonForm[0].improveWell1 ? 'orangeborder' : ''||{'disabled-control': (isAppirioFlag)}"[disabled]="editAccess||isAppirioFlag" 
                    [(ngModel)]="resultReasonForm[0].improvement"  (input)="getImproveData($event)" [appAlphaNumeric] = "'text'"></textarea>
                </td>
              </tr>
              <tr class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <td class="display-none"></td>
                <td class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left"
                  [attr.data-label]="' Three things did not go well (*one mandatory)'">

                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3"
                    name="wentWell1" type="text" placeholder="Reason 2"  [ngClass]="{'disabled-control': (isAppirioFlag)}" 
                     [disabled]="editAccess||isAppirioFlag" [appAlphaNumeric] = "'text'"
                    [(ngModel)]="resultReasonForm[1].wentWell"  (input)="getWellData($event)"></textarea>
                </td>
                <td class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left">

                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text4"
                     name="notWell1" type="text" placeholder="Reason 2"  [ngClass]="{'disabled-control': (isAppirioFlag)}" 
                     [disabled]="editAccess||isAppirioFlag"  [appAlphaNumeric] = "'text'"
                    [(ngModel)]="resultReasonForm[1].notWell" (input)="getNotWellData($event)"></textarea>
                </td>
                <td class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left">

                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text6"
                      name="improveWell1"  type="text" placeholder="Reason 2" [ngClass]="{'disabled-control': (isAppirioFlag)}"   
                     [disabled]="editAccess||isAppirioFlag"   [appAlphaNumeric] = "'text'"
                    [(ngModel)]="resultReasonForm[1].improvement" (input)="getImproveData($event)"></textarea>
                </td>
              </tr>
              <tr class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <td class="display-none"></td>
                <td class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left"
                  [attr.data-label]="'Please suggest opportunity for Improvement (OFIs) based on your learnings'">

                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text3"
                    name="wentWell1" type="text" placeholder="Reason 3" [ngClass]="{'disabled-control': (isAppirioFlag)}"   
                     [disabled]="editAccess||isAppirioFlag"  [appAlphaNumeric] = "'text'"
                    [(ngModel)]="resultReasonForm[2].wentWell" (input)="getWellData($event)"></textarea>
                </td>
                <td class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left">

                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text4"
                     name="notWell1" type="text" placeholder="Reason 3" [ngClass]="{'disabled-control': (isAppirioFlag)}"  
                     [disabled]="editAccess||isAppirioFlag" [appAlphaNumeric] = "'text'"
                    [(ngModel)]="resultReasonForm[2].notWell" (input)="getNotWellData($event)"></textarea>
                </td>
                <td class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left">

                  <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  input-text" id="text6"
                   name="improveWell1"  type="text" placeholder="Reason 3" [ngClass]="{'disabled-control': (isAppirioFlag)}"    
                     [disabled]="editAccess||isAppirioFlag" [appAlphaNumeric] = "'text'"
                    [(ngModel)]="resultReasonForm[2].improvement" (input)="getImproveData($event)"></textarea>
                </td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div>
</div>