<ng-container *ngIf="isLoading">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
        <div class="loaderContainer">
          <div class="loader"></div> 
        </div>
      </div>
    </div>
  </div> 
</ng-container>
<!-- <ng-template> -->
<div class="col-12 float-left pblnoninsent">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad float-left  leads-archived-landing">
      <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad float-left">
          <h2 class="col-6 float-left heading-level-two color-white  no_pad pos-rel top-30 header_marginvaluesNoninsent">{{tableTotalCount}} Active users</h2>
          <!-- <div class="col-6 float-left no_pad"> -->
              <!-- <button class="primary_white float-right ml10" aria-label="Download"><span class="mdi mdi-download"></span>
              </button>
              <button class="primary_white_note float-right ml10" (click)="addRowTable()"
              ><span class="mdi mdi-plus"></span>
              Add member</button>
              <button class="primary_white_mem float-right" routerLink="/accounts/bulkteammember"
              >Bulk add</button> -->
           
            <!-- <button class="primary_white_note float-right" (click)="openNotePopup()"><span class="mdi mdi-file"></span>
              Note</button> -->
          <!-- </div> -->
          <div class="parent-container" *ngIf="AccountTeamsTable.length > 0">
              <app-editable-expansion-table
              (detectActionValue)="performTableChildAction($event)" 
              (detectPageChangeData) = "getNewTableData($event)"
              [TableName]="'AccountTeamsNon-incentivised'"
              [TableCollection]="AccountTeamsTable" 
              [IsFreezedColumn]=true 
              [totalTableCount]="tableTotalCount"
              [IsActionFixed]=true
              [IsCustomizeTable]=false
              [serviceSearch] = true
              [IsDelete]=true
              [IsInitialsRequired]=true
              [addRowEditableTable]="addRowEditable"
              [ConfigData]="configData"
              [IsEdit]=true
              [hideAddNewMember]=!isShowDeleteAddButton
              [bgParentColor]="'blue_background'"
              [IsMultipleAddRestrict]=true
              [IsApproveNoPopup]=true
              [IsDownload]=userdat.getRoleAccess()
              [paginationPageNumber]="NonIcentivizeUserListRequeBody"
              [filterConfigData]="filterConfigData"
              >
            </app-editable-expansion-table>
         

          </div>
      </div>
  </div>
</div>
<!-- </ng-template> -->

<!-- [IsMoreAction] = true
[ExpansionTable]="'app-performance-quarter-selector'"
 [IsDashboard]=true -->