.padt-0
{
    padding-top: 0px !important;
}

.top-30{
    top:30px
}
.primary_white
{
    padding: 6px 11px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold'
}
.primary_white_note
{
    padding: 7px 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold'
}
.primary_white_mem
{
    padding: 8px 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-family: 'WiproAkkuratTT-Bold'
}
.mdi-download:before
{
    font-size: 16px !important;
}
.mdi-file:before
{
    font-size: 16px !important;
}
.loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    
   }
   .loaderContainer {
    width: 100%;
    top:0em;
    position: absolute;
    height: 100%;
    z-index: 9999;
    background: white;
   }
   .pblnoninsent{
    padding: 0px 30px;
      } //129741 chethana