<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad pos-abs bg-mid_night h-250"> </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left  pad-30-landing ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
            <span class="back-helpdesk mdi mdi-arrow-left float-left t-10px cp" routerLink="/helpdesk/accActions/accountmerge"></span>
            <span class="col-11 col-xl-6 heading-level-two color-white float-left no_pad ">{{mergeData?.Name || "Merge request name"}}</span>
            <span class="col-11 col-xl-6 float-left  details-label">Ref ID {{mergeData?.ReferenceNumber || "Merge request details"}}</span>
            <div class="col-4 float-right no_pad web-buttons pos-rel btm-20" *ngIf="noshowlast">
                <button class="searchButton float-right" (click)="saveNext()" *ngIf="!IsfinalStep">Save and next</button>
                <button class="searchButton float-right mr10" *ngIf="!IsfinalStep" (click)="SubmitMergeAccount()">Save</button>
                <button class="searchButton float-right mr10" (click)="openmergepop()" *ngIf="IsfinalStep">Submit</button>

            </div>
        
        </div>
        <!--stepper starts-->
        <div
            class="col-12 col-sm-10 col-md-11 col-lg-10 col-xl-11 float-left no_pad mt20 offset-md-1 offset-xl-1 align-self-center mobilescrollstepper pl-60">
            <div class="float-left no_pad width-step {{steps.status}}" id="step{{i}}" *ngFor="let steps of accountstepper;let i=index">
                <button class="circle-step float-left" [disabled]="!noshowlast" (click)="nextstep(steps)">{{steps.number}}</button>
                <span class="line-step float-left"></span>
                <span class="step-below-text float-left">{{steps.text}}</span>
                <input *ngIf="i==5" type="text" class="visuallyhidden" readonly tabindex="-1" id="dummyStepCtrl"/>
            </div>
        </div>
        <!--stepper starts-->

        <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad mt40">
            <button routerLink="/helpdesk/accActions/mergelanding/requestdetails">Request details</button>
            <button routerLink="/helpdesk/accActions/mergelanding/sourceaccount">Source account</button>
            <button routerLink="/helpdesk/accActions/mergelanding/targetaccount">Target account</button>
            <button routerLink="/helpdesk/accActions/mergelanding/previewaccount">preview accounts</button>
            <button routerLink="/helpdesk/accActions/mergelanding/mergesummary">merge summary</button>
            <button routerLink="/helpdesk/accActions/mergelanding/results">Result</button>
        </div> -->
        <div class="col-12 col-md-12 col-xl-12 float-left no_pad">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>
<div *ngIf="noshowlast">
<div class="float-left col-12 no_pad mobile-buttons" *ngIf="!IsfinalStep">
    <button type="button" class="col-6 no_pad float-left cancel-btn">Save </button>
    <button type="button" class="col-6 no_pad float-left save-btn" (click)="nextbutton()">Save & next</button>
</div>
</div>
<div *ngIf="noshowlast">
<div class="float-left col-12 no_pad mobile-buttons" *ngIf="IsfinalStep">
    <button type="button" class="col-12 no_pad float-left save-btn" (click)="openmergepop()">Submit</button>
</div>
</div>