$RubyRed : #ef3341;
.blue_patch {
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: #0e3570;

  }
  .h-280{
    height: 280px;
  }

  .font_style_bold {
    font-family: WiproAkkuratTT-Bold;
    font-size: 24px;
  }

  .merge_req_btn
  {
    // margin-right: 50px;
    border-radius: 4px;
    background: white;
    box-shadow: none;
    margin-top: 12px;
    padding: 7px;
    color: #2f81ff;
    border: none;
  }

  .complex_table
  {
    margin-top: 110px;
    padding: 0 30px 0 30px;

  }

  .header
  {
    padding: 20px 0 0 0;
  }

  .account_merge_heading
  {
    // margin-left:30px;
    padding-left:30px !important;
    color: white;
    font-family: WiproAkkuratTT-Bold;


  }
  .pd2
  {
    padding: 2px;
  }

  .create_button_div
  {
    padding-right: 30px !important;

  }
  .border-pink{
      border-color: $RubyRed !important; 
  }
  .required{
    color: #4a4a4a;
  }
  .top37{
    top:37px;
  }