<div class="col-12 no_pad float-left">
    <div class="col-5 no_pad float-left">
      <div class="filter-left col-5 no_pad">
        <h1 class="col-12 float-left table-filter-head">Filter</h1>
        <div class="float-left col-12 inner-filter-div">
        <div class="col-12 no_pad float-left" *ngFor="let detls of tabNames;let i=index ">
          <button class="filter-titles float-left col-12" [ngClass]="index == i ? 'active' : ''" (click)="showDetails(detls.names, i)">{{detls.names}}</button>
        </div>
      </div>
      </div>
    </div>
    <div class="col-7 no_pad float-right">
      <div class="col-12 float-left filter-search-div no_pad">
        <button class="float-left mdi mdi-magnify" aria-label="search"></button>
        <input type="text" placeholder="Search" class="col-9 float-left"/>
      </div>
      <div class="float-left col-12 padding-25 cust_check-filter">
          <h2 class="float-left col-12 no_pad clear-all-text">Clear all</h2>
          <div class="col-12 no_pad float-left">
          <section class="meeting-check-sections" *ngFor="let item of source">           
              <mat-checkbox class="checkbox-label" > {{ item }}</mat-checkbox>             
          </section>
        </div>
      </div>
      
    </div>
    <div class="float-right disp-flex save-cancel-responsive">
        <button class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50" (click)="service.goBack()">Cancel</button>
        <button class="primary-button borderless h-40 std save-responsive-btn button-wd50" (click)="service.goBack()">Apply</button>
      </div>

</div>
