<!-- Revoke access popup starts here-->

<div class="col-12 float-left  no_pad popup-container popup-container-opportunity deal-qualify ">
  <div class="col-12 float-left  container-dialog no_pad">
    <div class="col-12 float-left">
      <div class="col-12 float-left mb10 no_pad popup-hd">
        <span class="col-10 float-left  no_pad popup-hd-txt" mat-dialog-title>Revoke access to this opportunity?</span>
        <button class="col-2 float-right no_pad btndef-none mdi mdi-window-close discard-close-btn close-icn"
          aria-label="close" mat-dialog-close></button>
      </div>

      <div class="col-12 float-left border-bottom-grey"></div>

      
      <div class="accordian-nomination  col-12 float-left no_pad">
        <mat-accordion class="col-12 float-left no_pad accordian-style">
            <mat-expansion-panel hideToggle="true" [expanded]="false" class="no_pad" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="no_pad" style="min-height:50px;">
                    <mat-panel-title class="col-12 accord-heading">
                        <span [ngClass]="panelOpenState ? 'mdi mdi-chevron-up chevron-right':'mdi mdi-chevron-down chevron-right'"></span>
                        <span class="accordian-title pad-top-8">01 access user</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

      <div class="col-12 float-left border-bottom-grey"></div>

      <div class="float-left convo-name-title mt10"> You will revoke access of this user from this Opportunity, The user will be notiﬁed. </div>

    </div>
    <div class="col-12 float-left no_pad ">
      <button aria-label="ADD" class="col-6 float-left no_pad cancel-btn1">No</button>
      <button aria-label="ADD" class="col-6 float-left btndef-none no_pad confrm-btn mt15 bg-azure">Yes</button>
    </div>
  </div>
</div>

<!-- Revoke access popup ends here-->