<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
  <app-nav></app-nav>
  <div class="float-left col-12 header-action-tab business-partner opportunityPage new-container">
    <ng-container *ngIf="isLoading">
      <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
          <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
            <div class="loaderContainer">
              <div class="loader"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 float-left no_pad">

        <button class="mdi mdi-keyboard-backspace cursor-pointer float-left back-buttonbg" (click)="goBack()"
          role="button" tabindex="0" aria-label="go back" (keypress)="goBack()"></button>
        <h1 class="heading-level-one heading-custom">Add service line</h1>
        <span class="brudcrumbs">Sales > Opportunities > "{{opportunityName}}</span>
      </div>

      <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left no_pad">
        <div class="float-right disp-flex save-cancel-responsive">
          <button class="primary-button secondary-btn btn-block h-40 mr10 std cancel-responsived-btn button-wd50"
            (click)="goBack()">Cancel</button>
          <button class="primary-button borderless h-40 std save-responsive-btn button-wd50"
            (click)="SaveServiceLine()">Save</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div clas="col-12 float-left no_pad business-partner">
  <div
    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-200">
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad opportunity-landing-container add-ip new-container">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pd-20 pad-30 top-24">
      <div class="col-12 no_pad float-left scroll-tabs">
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pt100 businesssolution-page addserviceline-page mobile-no_pad">

          <mat-expansion-panel hideToggle="true" [expanded]="panelOpenState2" class="no_pad overflowInherit"
            (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
            <mat-expansion-panel-header class="min_height60">
              <div class="min_height60 col-12 no_pad">
                <div class="accord-heading col-12">
                  <span
                    [ngClass]="panelOpenState2 ? 'mdi mdi-chevron-down chevron-right float-left':'mdi mdi-chevron-right chevron-right float-left'"></span>
                  <div class="float-left no_pad"> <span class="accordian-title cardsHead col-6 no_pad">

                      Service lines</span></div>
                  <div class="col-6 float-right no_pad bot10">
                    <button (click)="addserviceline();panelOpenState2 = false"
                      class="primary-button h-40 std save-responsive-btn float-right pad_10">+ Add
                      service line</button>
                  </div>
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- expansion data starts here -->
            <div class="col-12 no_pad float-left btop_withoutpadding">
              <!-- Table starts here -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad overflowscroll normal_table">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Service line</th>
                      <th>Practice</th>
                      <th>Sub practice</th>
                      <th>SL BDM</th>
                      <th>% of TCV</th>
                      <th>Est. SL TCV</th>
                      <th>Engagement model</th>
                      <th>Dual credit</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of serviceline_data;let i = index">
                      <td>
                        <!-- mat-select for web and mobile starts here -->
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob web-select-box h100">
                          <mat-form-field class="col-12 no_pad float-left">
                            <mat-select disableOptionCentering panelClass="Select-panel-class"
                              [(ngModel)]="data.WiproServicelineidValue"
                              class="select-focus mat-select {{service.getSelectedClass(data.WiproServicelineidValue)}}"
                              role="listbox" [ngClass]="data.serviceLineFlag?'orangeborder':''" [name]="data.SLSLName"
                              (selectionChange)="getBSSLPracticeData(data,i)"
                              [title]="data.WiproServicelineidValueName">
                              <mat-option value="" selected hidden disabled>Select</mat-option>
                              <mat-option *ngFor="let SLData of IpandServiceLinelDD" [value]="SLData.SysGuid" [title] = "SLData.Name">
                                {{SLData.Name}}</mat-option>
                            </mat-select>
                            <p *ngIf="data.serviceLineFlag" class="error-message top-40"
                              title="Service line is required.">Service line is
                              required.</p>
                          </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left  no_pad mobile-select-box">
                          <div class="customized-select">
                            <span class="caret color-azure"></span>
                            <select role="listbox" class="width120 {{service.getSelectedClass(data.SLSLName)}}"
                              [ngClass]="data.serviceLineFlag?'orangeborder':''" [name]="data.SLSLName"
                              [(ngModel)]="data.WiproServicelineidValue" (change)="getBSSLPracticeData(data,i)"
                              [title]="data.WiproServicelineidValueName">
                              <option disabled value="">Select</option>
                              <option *ngFor="let SLData of IpandServiceLinelDD" [value]="SLData.SysGuid"  [title] = "SLData.Name">
                                {{SLData.Name}}</option>
                            </select>
                            <p *ngIf="data.serviceLineFlag" class="error-message top-40"
                              title="Service line is required.">Service line is
                              required.</p>
                          </div>
                        </div>
                        <!-- mat-select for web and mobile ends here -->

                        <!-- Select DROPDOWN STARTS -->
                      </td>
                      <td [attr.data-label]="'Practice'" class="mobile-no_pad">
                        <!-- mat-select for web and mobile starts here -->
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob web-select-box h100">
                          <mat-form-field class="col-12 no_pad float-left">
                            <mat-select disableOptionCentering panelClass="Select-panel-class"
                              class="select-focus mat-select {{service.getSelectedClass(data.WiproPracticeId)}}"
                              [disabled]="data.practiceDisabled" [name]="data.SLPracticeName"
                              [(ngModel)]="data.WiproPracticeId" (selectionChange)="getBSSLSubPracticeData(data, i)"
                              [ngClass]="data.practiceFlag?'orangeborder':''" [title]="data.WiproPracticeName">
                              <mat-option value="" selected hidden disabled>Select</mat-option>
                              <mat-option *ngFor="let practiceData of data.SlpracticeDD" [value]="practiceData.SysGuid" 
                              [title] = "practiceData.Name"  [hidden]="(!practiceData.IsVisible)">
                                {{practiceData.Name}}</mat-option>
                            </mat-select>
                            <p *ngIf="data.practiceFlag" class="error-message top-40" title="Practice is required.">
                              Practice is
                              required.</p>
                          </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mobile-select-box">
                          <div class="customized-select">
                            <span class="caret color-azure"></span>
                            <select role="listbox" [disabled]="data.practiceDisabled"
                              class="{{service.getSelectedClass(data.WiproPracticeId)}}" [name]="data.SLPracticeName"
                              [(ngModel)]="data.WiproPracticeId" (change)="getBSSLSubPracticeData(data, i)"
                              [ngClass]="data.practiceFlag?'orangeborder':''" [title]="data.WiproPracticeName">
                              <option disabled value="">Select</option>
                              <option *ngFor="let practiceData of data.SlpracticeDD" [value]="practiceData.SysGuid" 
                              [title] = "practiceData.Name"  [hidden]="(!practiceData.IsVisible)">
                                {{practiceData.Name}}</option>
                            </select>
                            <p *ngIf="data.practiceFlag" class="error-message top-40" title="Practice is required.">
                              Practice is
                              required.</p>
                          </div>
                        </div>
                        <!-- mat-select for web and mobile ends here -->
                        <!-- Select DROPDOWN STARTS -->
                      </td>
                      <td [attr.data-label]="'Sub practice'" class="mobile-no_pad">
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob web-select-box h100">
                          <mat-form-field class="col-12 no_pad float-left">
                            <mat-select disableOptionCentering panelClass="Select-panel-class"
                              class="select-focus mat-select {{service.getSelectedClass(data.WiproSubpracticeid)}}"
                              [disabled]="data.subPracticeDisabled" [name]="data.SLSubPracticeName"
                              [(ngModel)]="data.WiproSubpracticeid" (selectionChange)="subpracticeSelected(i)"
                              [ngClass]="data.subPracticeFlag?'orangeborder':''" [title]="data.WiproSubpracticeName">
                              <mat-option value="" selected hidden disabled>Select</mat-option>
                              <mat-option *ngFor="let subPracticeData of data.SlSubpracticeDD"
                                [value]="subPracticeData.SubPracticeId" [title] = "subPracticeData.Name">{{subPracticeData.Name}}</mat-option>
                            </mat-select>
                            <p *ngIf="data.subPracticeFlag" class="error-message top-40"
                              title="Sub practice is required.">Sub practice is
                              required.</p>
                          </mat-form-field>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mobile-select-box">
                          <div class="customized-select">
                            <span class="caret color-azure"></span>
                            <select role="listbox" [disabled]="data.subPracticeDisabled"
                              class="select-focus mat-select {{service.getSelectedClass(data.WiproSubpracticeid)}}"
                              [name]="data.SLSubPracticeName" [(ngModel)]="data.WiproSubpracticeid"
                              (change)="subpracticeSelected(i)" [ngClass]="data.subPracticeFlag?'orangeborder':''"
                              [title]="data.WiproSubpracticeName">
                              <option disabled value="">Select</option>
                              <option *ngFor="let subPracticeData of data.SlSubpracticeDD"
                                [value]="subPracticeData.SubPracticeId"  [title] = "subPracticeData.Name">{{subPracticeData.Name}}</option>
                            </select>
                            <p *ngIf="data.subPracticeFlag" class="error-message top-40"
                              title="Sub practice is required.">Sub practice is
                              required.</p>
                          </div>
                        </div>
                      </td>
                      <td [attr.data-label]="'SL BDM'" class="mobile-no_pad">
                        <div class="flex-grow-1">
                          <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
                            [title]="data.WiproSlbdmidValueName">

                            <app-auto-complete-select [requiredField]="true" [source]="data.SlSLBDMDD"
                              (content)="getBSSLSlBDMData($event,i)" [dataHeader]="SLBDMObj"
                              (SelectedData)="appendslbdm($event,i)" [IsApiCall]="true"
                              [details]="data.WiproSlbdmidValueName" [detailsId]="data.WiproSlbdmid"
                              [selectedObj]="data.SLBDMSelected" [dataSource]="'SLBDM'" [labelName]="'slbdm-'+i"
                              [titleName]="'SLBDM'" [Placeholder]="'Select'" [IsSpecialBtn]=false [IsinitialsView]=false
                              [showSelected]=false [IsSearchDatabase]=false
                              (advanceLookUp)="advanceLookUpSearch($event,i)" [Isdisabled]="data.slbdmDisabled"
                              [MandtErrorFlag]="data.slbdmFlag">
                            </app-auto-complete-select>
                            <p *ngIf="data.slbdmFlag" class="error-message top-40" title="SL BDM is required.">SL BDM is
                              required.</p>
                          </form>
                        </div>

                      </td>
                      <td [attr.data-label]="'% of TCV'" class="width10 mobile-no_pad">
                        <div class="customized-input">
                          <label for="field1" class=""> </label>
                          <input id="field1" type="number" class="border-gray w-100" [name]="PercTCVName"
                            [(ngModel)]="data.WiproPercentageOftcv" onpaste="return false;" ondrop="return false;"
                            placeholder="00.00" [disabled]="!PercentTCVDisable" (blur)="OnPerTCVBlur(i)" maxlength="6"
                            onkeypress="return event.charCode >= 46
&& event.charCode <= 57" oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); } else { let values = this.value.split('.');
if(values[1] && values[1].length > 2)  this.value = values[0] + '.' + values[1].slice(0,2)}"
                            [title]="data.WiproPercentageOftcv">
                        </div>
                      </td>
                      <td class="width10 mobile-no_pad" [attr.data-label]="'Est. SL TCV'">
                        <div class="customized-input">
                          <label for="field1" class=""> </label>
                          <input id="field1" type="number" class="border-gray w-100" [(ngModel)]="data.WiproEstsltcv"
                            maxlength="12" min="0" value="" onkeypress="return event.charCode >= 46
                      && event.charCode <= 57" oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); } else { let values = this.value.split('.');
                      if(values[1] && values[1].length > 2)  this.value = values[0] + '.' + values[1].slice(0,2)}"
                            (blur)="OnBSSLTCVBlur(i)" placeholder="00.00"
                            [ngClass]="data.estSlTcvFlag ? 'orangeborder' : ''" [disabled]="PercentTCVDisable"
                            [title]="data.WiproEstsltcv">
                          <p *ngIf="data.estSlTcvFlag" class="error-message" title="SL TCV value is required.">SL TCV is
                            required.</p>
                        </div>
                      </td>
                      <td [attr.data-label]="'Engagement model'" class="mobile-no_pad">
                        <!-- Select DROPDOWN STARTS -->
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob web-select-box h100">
                          <mat-form-field class="col-12 no_pad float-left">
                            <mat-select disableOptionCentering panelClass="Select-panel-class"
                              class="select-focus mat-select {{service.getSelectedClass(data.WiproEngagementModel)}}"
                              [disabled]="data.engModelDisabled" [name]="SLEngagementName"
                              [(ngModel)]="data.WiproEngagementModel" (selectionChange)="setEngModelName(i)"
                              [ngClass]="data.engModelFlag?'orangeborder':''" [title]="data.WiproEngagementModelName">
                              <mat-option value="" selected hidden disabled>Select</mat-option>
                              <mat-option *ngFor="let engage of BSEngagementModelDD" [value]="engage.Id" [title] = "engage.Name">{{engage.Name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <p *ngIf="data.engModelFlag" class="error-message top-40"
                            title="Engagement model is required.">Engagement model is required.</p>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mobile-select-box">
                          <div class="customized-select">
                            <span class="caret color-azure"></span>
                            <select role="listbox" [disabled]="data.engModelDisabled"
                              class="select-focus mat-select {{service.getSelectedClass(data.WiproEngagementModel)}}"
                              [name]="SLEngagementName" [(ngModel)]="data.WiproEngagementModel"
                              (change)="setEngModelName(i)" [ngClass]="data.engModelFlag?'orangeborder':''"
                              [title]="data.WiproEngagementModelName">
                              <option disabled value="">Select</option>
                              <option *ngFor="let engage of BSEngagementModelDD" [value]="engage.Id" [title] = "engage.Name">{{engage.Name}}
                              </option>
                            </select>
                            <p *ngIf="data.engModelFlag" class="error-message top-40"
                              title="Engagement model is required.">Engagement model is required.</p>
                          </div>
                        </div>

                      </td>
                      <td [attr.data-label]="'Dual credit'" class="mobile-no_pad">
                        <!-- Select DROPDOWN STARTS -->
                        <div
                          class="col-12 col-sm-12 col-md-12 col-lg-12 float-left no_pad mt-20-mob web-select-box h100">
                          <mat-form-field class="col-12 no_pad float-left">
                            <mat-select disableOptionCentering panelClass="Select-panel-class"
                              class="select-focus mat-select {{service.getSelectedClass(data.WiproDualCredit)}}"
                              disabled [name]="SLDualCreditName" [(ngModel)]="data.WiproDualCredit"
                              [title]="data.WiproDualCreditName">
                              <mat-option value="" selected hidden disabled>Select credit</mat-option>
                              <!-- <mat-option *ngFor="let dualCredit of BSDualCreditDD" [hidden]="!dualCredit.IsVisible" [value]="dualCredit.Value">{{dualCredit.Name}}</mat-option> -->
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </td>
                      <td class="no_pad display_flex mobile-align mobile-no_pad">
                        <button class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn" aria-label="Delete"
                          matTooltip="Delete" (click)="deleteserviceline(i)">
                          <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-delete"></span>
                        </button>

                      </td>
                    </tr>

                    <!-- already saved records -->
                    <tr *ngFor="let data of SLDetails;let i = index">
                      <td>
                        <div class="customized-input">

                          <input id="field1" type="test" class="border-gray w-100"
                            [(ngModel)]="data.WiproServicelineidValueName" [title]="data.WiproServicelineidValueName"
                            disabled>
                        </div>
                      </td>
                      <td [attr.data-label]="'Practice'" class="mobile-no_pad">
                        <!-- mat-select for web and mobile starts here -->
                        <div class="customized-input">
                          <input id="field1" type="test" class="border-gray w-100" [(ngModel)]="data.WiproPracticeName"
                            [title]="data.WiproPracticeName" disabled>
                        </div>
                      </td>
                      <td [attr.data-label]="'Sub practice'" class="mobile-no_pad">
                        <div class="customized-input">
                          <input id="field1" type="test" class="border-gray w-100"
                            [(ngModel)]="data.WiproSubpracticeName" [title]="data.WiproSubpracticeName" disabled>
                        </div>
                      </td>
                      <td [attr.data-label]="'SL BDM'" class="mobile-no_pad">
                        <!-- SL BDM autocomplete starts here-->
                        <div class="customized-input">
                          <input id="field1" type="test" class="border-gray w-100"
                            [(ngModel)]="data.WiproSlbdmidValueName" [title]="data.WiproSlbdmidValueName" disabled>

                        </div>
                        <!--SL BDM autocomplete ends here-->

                      </td>
                      <td [attr.data-label]="'% of TCV'" class="width10 mobile-no_pad">
                        <div class="customized-input">
                          <label for="field1" class=""> </label>
                          <input id="field1" type="test" class="border-gray w-100"
                            [(ngModel)]="data.WiproPercentageOftcv" [title]="data.WiproPercentageOftcv" disabled>
                        </div>
                      </td>
                      <td class="width10 mobile-no_pad" [attr.data-label]="'Est. SL TCV'">
                        <div class="customized-input">
                          <input id="field1" type="test" class="border-gray w-100" [(ngModel)]="data.TaggedTCV"
                            [title]="data.TaggedTCV" disabled>
                        </div>
                      </td>
                      <td [attr.data-label]="'Engagement model'" class="mobile-no_pad">
                        <!-- Select DROPDOWN STARTS -->
                        <div class="customized-input">
                          <input id="field1" type="test" class="border-gray w-100"
                            [(ngModel)]="data.WiproEngagementModelName" [title]="data.WiproEngagementModelName"
                            disabled>
                        </div>

                      </td>
                      <td [attr.data-label]="'Dual credit'" class="mobile-no_pad">
                        <!-- Select DROPDOWN STARTS -->
                        <div class="customized-input">
                          <input id="field1" type="test" class="border-gray w-100"
                            [(ngModel)]="data.WiproDualCreditName" [title]="data.WiproDualCreditName" disabled>
                        </div>
                      </td>
                      <td class="no_pad display_flex mobile-align mobile-no_pad">
                        <button *ngIf="data.IsDelete" class="btn-none blue_circle_replay pad_left_0 cp commonActionBtn"
                          aria-label="Delete" matTooltip="Delete" (click)="deleteDefaultSL(i)">
                          <span class="col-xs-12 nopad blue_circle_replay_img mdi  mdi-delete"></span>
                        </button>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Table ends here -->
            </div>
          </mat-expansion-panel>

        </div>
      </div>
    </div>
  </div>
</div>