<div class="top-header top-head-index" [ngClass]="userdat.header?'navbar-sticky-top':'navbar-fixed-top'">
    <app-nav></app-nav>
    <div class="float-left col-12  main-containt header-action-tab account-teams-landing header-action-tab_padding" 
    [ngClass]="userdat.chatBot? 'chat-bot-1100' : userdat.sideTrans ? 'main-containt-250' : ''">
        
       <!--<h1 class="float-left heading-level-one pbl30 pt15" >Teams</h1>--> 
        <!--<div class="float-right disp-flex mrg-top20 save-cancel-responsive web-action-button">
          <button class="save-responsive-btn button-wd50 primary-button borderless btn-block h-40 std margR10"
            (click)="opensubaccounts()">
            <span class="mdi mdi-format-align-justify"></span>{{account_name}}</button>
        </div>-->   
        <!--chethana Aug 7th -->
  
    </div>
  </div>

<!-- main div starts here -->

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad account-teams-landing" [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'">
  <div class="col-12 pos-abs bg-mid_night pad-30 h-367" [class.h-420]="router.url.includes('/accounts/teams/nonincentive')" [class.h-367]="router.url.includes('/accounts/teams/incentive') "></div>
  <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad"
    [ngClass]="userdat.sideTrans ? 'main-containt-250' : 'main-containt'"> -->
    <div class="col-12 pad-30 float-left padb-0 padd-top-130">
       <h1 class="float-left heading-level-one">Teams</h1>
      <!-- <div class="float-right disp-flex mrg-top20 save-cancel-responsive web-action-button">
        <button class="save-responsive-btn button-wd50 primary-button borderless btn-block h-40 std margR10 flex-grow-1"
          (click)="opensubaccounts()">
          <span class="mdi mdi-format-align-justify"></span>Apple.inc</button>

      </div>  -->

      <div class="col-12  no_pad vertical-btns-div flex-tab pt-30 ">
        <div class="col-xl-7 col-lg-7 col-md-8 col-12 no_pad flex-tab-width web-tab">
          <button class="col-lg-4 col-sm-4 col-md-4 col-4 sub-vertical-but brd-right0 " role="tab"
            [attr.aria-selected]="incen ? true : '' " (click)="incen1()" [routerLink]="['incentive']"
            routerLinkActive="active">
            <span class="no_pad mdi mdi-account-plus calin-select-all pr5 pos_rel "></span>
            <span class=" no_pad btntxt-s">Incentivized users</span>
          </button>
          <button class=" col-lg-4 col-sm-4 col-md-4 col-4 pull-right sub-vertical-but brd-left0 " role="tab"
            [attr.aria-selected]="nonincen ? true : '' " (click)="nonincen1()" [routerLink]="['nonincentive']"
            routerLinkActive="active">
            <span class="no_pad calin-select-all mdi mdi-account-settings pr5 pos_rel "></span>
            <span class="no_pad btntxt-s"> Non-Incentivized users</span>
          </button>
        </div>

        <div class="col-12 no_pad flex-tab-width mobile-tab">
          <button class="col-lg-4 col-sm-6 col-md-4 col-6 sub-vertical-but brd-right0 " role="tab"
            [attr.aria-selected]="incen ? true : '' " (click)="incen1()" [routerLink]="['incentive']"
            routerLinkActive="active">
            <span class="no_pad mdi mdi-account-plus calin-select-all pr5 pos_rel "></span>
            <span class=" no_pad btntxt-s">Incentivized users</span>
          </button>
          <button class=" col-lg-4 col-sm-6 col-md-4 col-6 pull-right sub-vertical-but brd-left0 " role="tab"
            [attr.aria-selected]="nonincen ? true : '' " (click)="nonincen1()" [routerLink]="['nonincentive']"
            routerLinkActive="active">
            <span class="no_pad calin-select-all mdi mdi-account-settings pr5 pos_rel "></span>
            <span class="no_pad btntxt-s"> Non-Incentivized users</span>
          </button>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  <!-- </div>/ -->
</div>