<div class="col-12 no_pad whiteBackground" *ngIf="isShowDA">
  <div class="col-12 no_pad float-left">
    <div class="col-12 cardPadd15">
      <div class="float-left col-12 no_pad mb-50">
        <mat-accordion class="col-12 no_pad float-left">
          <mat-expansion-panel class="col-12 no_pad float-left">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Invoice details</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="width100">
              <p class="width100">Last 5 invoices generated in this account.</p>
              <div class="col-12 padd15 float-left background-gry border-radius-5 mt20">
                <div *ngFor="let invoice of invoiceDetails | slice:0:5" class="col-12 no_pad float-left tables-divider">
                  <h2 class="col-12 no_pad float-left invoice-heads color-blue">{{invoice.invoiceNumber}}</h2>
                  <table class="col-12 no_pad float-left table-insights">
                    <tbody>
                      <tr>
                        <td class="float-left insight-first-column">Date</td>
                        <td class="float_rght color-black">{{invoice.invoiceDate}}</td>
                      </tr>
                      <tr>
                        <td class="float-left insight-first-column">Value</td>
                        <td class="float_rght color-black">$ {{invoice.amount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="noRecordsFound" *ngIf="invoiceDetails && invoiceDetails.length == 0">
                  No records found.
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel class="col-12 no_pad float-left">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Orders
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="width100"> Last 5 orders created in this account.</p>
            <div class="width100 tile">
              <perfect-scrollbar class="viewport" style="max-height:300px;">
                <div class="col-12 no_pad inner-tiles" *ngFor="let details of ordersList; let i=index">
                  <div class="col-12 no_pad tiles-btm-brder">
                    <div class="float-left col-12 no_pad">
                      <span
                        class="col-12 no_pad float-left tiles-span color-azure max-230 ellipses blue-txt">{{details.OrderNumber}}</span>
                    </div>
                    <div class="float-left col-12 no_pad">
                      <label for="" class="col-6 no_pad float-left tiles-label">Order type</label>
                      <span class="col-6 no_pad float-left tiles-span-sub ellipses">{{details.OrderType}}</span>
                    </div>
                    <div class="float-left col-12 no_pad">
                      <label for="" class="col-6 no_pad float-left tiles-label">SAP code</label>
                      <span class="col-6 no_pad float-left tiles-span-sub ellipses">{{details.SapCode}}</span>
                    </div>
                    <div class="float-left col-12 no_pad">
                      <label for="" class="col-6 no_pad float-left tiles-label">Start date</label>
                      <span
                        class="col-6 no_pad float-left tiles-span-sub ellipses">{{details.StartDate | date: 'dd-MMM-yyyy'}}</span>
                    </div>
                    <div class="float-left col-12 no_pad">
                      <label for="" class="col-6 no_pad float-left tiles-label">End date</label>
                      <span
                        class="col-6 no_pad float-left tiles-span-sub ellipses">{{details.EndDate | date: 'dd-MMM-yyyy'}}</span>
                    </div>
                  </div>
                </div>
              </perfect-scrollbar>
              <div class="noRecordsFound" *ngIf="ordersList.length === 0">
                No records found.
              </div>

            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="col-12 no_pad float-left">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Opportunities
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="width100">Last 5 opportunities created in this account.
            </p>
            <div class="width100 tile">
              <perfect-scrollbar class="viewport" style="max-height:300px;">
                <div class="col-12 no_pad inner-tiles" *ngFor="let item of opportunitiesList">
                  <div class="col-12 no_pad tiles-btm-brder">
                    <div class="float-left col-12 no_pad">
                      <span class="col-12 no_pad float-left tiles-span color-azure max-230 ellipses blue-txt"
                        title="{{item.OpportunityName}}">{{item.OpportunityName}}
                      </span>
                    </div>
                    <div class="float-left col-6 no_pad">
                      <label for="" class="col-12 no_pad float-left tiles-label">Date created</label>
                      <span
                        class="col-12 no_pad float-left tiles-span-sub text-left ellipses">{{item.CreatedOn | date: 'dd-MMM-yyyy'}}</span>
                    </div>
                    <div class="float-left col-6 no_pad">
                      <label for="" class="col-12 no_pad float-left tiles-label"> Opportunity value </label>
                      <span class="col-12 no_pad float-left tiles-span-sub text-left ellipses">{{item.OpportunityValue}}
                      </span>
                    </div>
                  </div>
                </div>
              </perfect-scrollbar>
              <div class="noRecordsFound" *ngIf="opportunitiesList.length === 0">
                No records found.
              </div>

            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="col-12 no_pad float-left">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Meetings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="width100">Last 5 meetings created in this account.
            </p>
            <div class="width100 tile">
              <perfect-scrollbar class="viewport" style="max-height:300px;">
                <div class="col-12 no_pad inner-tiles" *ngFor="let item of meetings">
                  <div class="col-12 no_pad tiles-btm-brder">
                    <div class="float-left col-12 no_pad">
                      <span class="col-12 no_pad float-left tiles-span color-azure max-230 ellipses blue-txt"
                        title="{{item.MeetingName}}">{{item.MeetingName}}
                      </span>
                    </div>
                    <div class="float-left col-12 no_pad">
                      <label for="" class="col-6 no_pad float-left tiles-label">Meeting date</label>
                      <span
                        class="col-6 no_pad float-left tiles-span-sub ellipses">{{item.MeetingDate | date: 'dd-MMM-yyyy'}}
                      </span>
                    </div>
                    <div class="float-left col-12 no_pad">
                      <label for="" class="col-6 no_pad float-left tiles-label"> Meeting time </label>
                      <span class="col-6 no_pad float-left tiles-span-sub ellipses">{{item.MeetingTime }}
                      </span>
                    </div>
                  </div>
                </div>
              </perfect-scrollbar>
              <div class="noRecordsFound" *ngIf="meetings.length === 0">
                No records found.
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isShowDA">
  <app-assistnt-defult-message></app-assistnt-defult-message>
</div>