<ng-container *ngIf="isLoading">
  <div class="col-12 float-left complex_table unqualified-padding pt0 no_pad">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad leads-archived-landing">
        <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad">
          <div class="loaderContainer">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
</ng-container>

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pad-95 relation-pad10">
      <!-- <h2 class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-left no_pad heading-level-two pad-top-8">Relationship log</h2> -->
    
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 no_pad col-xl-12 card box-saahdow card-content float-left mt10" *ngFor="let v of Conversationdata">
        <div class="col-12 float-left padboxall-18">
          <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-11 float-left no_pad martop-5">
            <h1 class="col-12 no_pad float-left heading-level-one-log">{{v.header}}</h1>

            <a class="disp-flex  float-left no_pad small-tex  small-text"
            (click)="OnclickLinksSearchType(1)" *ngIf="v.activeAppoinnments > 0"> {{v.activeAppoinnments}} Meetings </a>
          
            <a class="disp-flex float-left no_pad small-tex "
             *ngIf="v.activeAppoinnments === 0"> {{v.activeAppoinnments}} Meetings <span class="noshow-button-mob"></span></a>
          
             <!-- <a class="disp-flex  float-left no_pad small-tex  small-text ml5" 
            (click)="OnclickLinksSearchType(2)" *ngIf="v.acchieveAppointment > 0"> {{v.acchieveAppointment}} Archived </a>
           
            <a class="disp-flex  float-left no_pad small-tex ml5" 
            *ngIf="v.acchieveAppointment === 0"> {{v.acchieveAppointment}} Archived </a> -->
             
          </div>
          <div class="col-2 col-sm-6 col-md-6 col-lg-6 col-xl-1 float-left no_pad relation-number">
            <span class="float-right relation-number">{{v.activeAppoinnments}}</span>
          </div>
        </div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad card box-saahdow card-content float-left mt10" *ngFor="let v of Leadsdata">
          <div class="col-12 float-left padboxall-18">
            <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-11 float-left no_pad martop-5">
              <h1 class="col-12 no_pad float-left heading-level-one-log">{{v.header}}</h1>

              <a class="disp-flex no_pad small-tex float-left small-text"
              (click)="OnclickLeadsSearchType(4)" *ngIf="v.unqualifiedleads > 0"> {{v.unqualifiedleads}} My open leads <span class="noshow-button-mob">|</span></a>
              <a class="disp-flex no_pad small-tex float-left "
               *ngIf="v.unqualifiedleads === 0"> {{v.unqualifiedleads}} My open leads <span class="noshow-button-mob">|</span></a>

              <a class="disp-flex no_pad small-tex float-left small-text ml5" 
              (click)="OnclickLeadsSearchType(3)" *ngIf="v.qualifiedleads > 0">{{v.qualifiedleads}} Open leads <span class="noshow-button-mob">|</span></a>
              <a class="disp-flex no_pad small-tex float-left ml5" 
               *ngIf="v.qualifiedleads === 0">{{v.qualifiedleads}} Open leads <span class="noshow-button-mob">|</span></a>

              <a class="disp-flex no_pad small-tex float-left small-text ml5"
              (click)="OnclickLeadsSearchType(2)" *ngIf="v.archivedleads > 0"> {{v.archivedleads}} All leads <span class="noshow-button-mob">|</span></a>
              <a class="disp-flex no_pad small-tex float-left ml5"
               *ngIf="v.archivedleads === 0"> {{v.archivedleads}} All leads <span class="noshow-button-mob">|</span></a>

                <a class="disp-flex no_pad small-tex float-left small-text ml5"
              (click)="OnclickLeadsSearchType(5)" *ngIf="v.closedleads > 0"> {{v.closedleads}} Closed leads </a>
              <a class="disp-flex no_pad small-tex float-left ml5"
               *ngIf="v.closedleads === 0"> {{v.closedleads}} Closed leads  </a>
               
            </div>
            <div class="col-2 col-sm-6 col-md-6 col-lg-6 col-xl-1 float-left no_pad relation-number">
              <span class="float-right relation-number">{{v.totalleads}}</span>
            </div>
          </div>
          
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad card box-saahdow card-content float-left mt10" *ngFor="let v of Campaigndata">
            <div class="col-12  float-left padboxall-18">
              <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-11 float-left no_pad martop-5">
                <h1 class="col-12  no_pad float-left heading-level-one-log">{{v.header}}</h1>

                <a class="disp-flex  float-left no_pad small-tex  small-text"
                 (click)="OnclickCampaignSearchType(1)" *ngIf="v.activeCampaign >0">
                  {{v.activeCampaign}} My Active campaigns
                   <span class="noshow-button-mob">|</span>
                </a>
                <a class="disp-flex  float-left no_pad small-tex  "
                  *ngIf="v.activeCampaign === 0"> 
                  {{v.activeCampaign}} My Active campaigns 
                  <span class="noshow-button-mob">|</span>
                </a>

                   <a class="disp-flex  float-left no_pad small-tex  small-text ml5" 
                   (click)="OnclickCampaignSearchType(2)" *ngIf="v.completeCampaign > 0">
                    {{v.completeCampaign}} Completed campaigns 
                    <span class="noshow-button-mob">|</span>
                  </a>
                   <a class="disp-flex  float-left no_pad small-tex  ml5" 
                    *ngIf="v.completeCampaign === 0">
                     {{v.completeCampaign}} Completed campaigns 
                    </a>


                    <a class="disp-flex  float-left no_pad small-tex  small-text ml5" 
                    (click)="OnclickCampaignSearchType(3)" *ngIf="v.allCampaign > 0">
                     {{v.allCampaign}} All campaigns 
                     <span class="noshow-button-mob"></span>
                   </a>
                    <a class="disp-flex  float-left no_pad small-tex  ml5" 
                     *ngIf="v.completeCampaign === 0">
                      {{v.allCampaign}} All campaigns 
                     </a>


              </div>
              <div class="col-2 col-sm-6 col-md-6 col-lg-6 col-xl-1 float-left no_pad relation-number">
                <span class="float-right relation-number">{{v.totalCampaign}}</span>
              </div>
            </div>
            
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad card box-saahdow card-content float-left mt10" *ngFor="let v of Opportunitydata">
              <div class="col-12  float-left padboxall-18">
                <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-11 float-left no_pad martop-5">
                  <h1 class="col-12 no_pad float-left heading-level-one-log">{{v.header}}</h1>


                  <a class="disp-flex  float-left no_pad small-tex  small-text"
                  (click)="OnclickOpportunitiesSearchType(4)" *ngIf="v.openOpportunities > 0"> {{v.openOpportunities}} Open opportunities <span class="noshow-button-mob">|</span>
                  </a>
                  <a class="disp-flex  float-left no_pad small-tex  "
                   *ngIf="v.openOpportunities === 0">  {{v.openOpportunities}} Open opportunities <span class="noshow-button-mob">|</span>
                  </a>

                  <a class="disp-flex  float-left no_pad small-tex  small-text ml5" 
                  (click)="OnclickOpportunitiesSearchType(8)"  *ngIf="v.suspendedOpportunities > 0">  {{v.suspendedOpportunities}} Suspended opportunities  <span class="noshow-button-mob">|</span>
                  </a>
                  <a class="disp-flex  float-left no_pad small-tex  ml5" 
                  *ngIf="v.suspendedOpportunities === 0"> {{v.suspendedOpportunities}} Suspended opportunities <span class="noshow-button-mob">|</span>
                  </a>

                  <a class="disp-flex  float-left no_pad small-tex  small-text ml5" 
                  (click)="OnclickOpportunitiesSearchType(6)"  *ngIf="v.wonOpportunities > 0"> {{v.wonOpportunities}} Won opportunities <span class="noshow-button-mob">|</span>
                  </a>
                  <a class="disp-flex  float-left no_pad small-tex  ml5" 
                   *ngIf="v.wonOpportunities === 0"> {{v.wonOpportunities}} Won opportunities <span class="noshow-button-mob">|</span>
                  </a>

                   <a class="disp-flex  float-left no_pad small-tex  small-text ml5" 
                   (click)="OnclickOpportunitiesSearchType(5)" *ngIf="v.terminatedOpportunities > 0"> {{v.terminatedOpportunities}} Terminated opportunities <span class="noshow-button-mob">|</span>
                  </a>
                   <a class="disp-flex  float-left no_pad small-tex  ml5" 
                    *ngIf="v.terminatedOpportunities === 0"> {{v.terminatedOpportunities}} Terminated opportunities<span class="noshow-button-mob">|</span>
                  </a>

                    
                    <a class="disp-flex  float-left no_pad small-tex  small-text ml5" 
                    (click)="OnclickOpportunitiesSearchType(7)"  *ngIf="v.lostOpportunities > 0"> {{v.lostOpportunities}} Lost opportunities <span class="noshow-button-mob">|</span>
                   </a>
                    <a class="disp-flex  float-left no_pad small-tex  ml5" 
                     *ngIf="v.lostOpportunities === 0"> {{v.lostOpportunities}} Lost opportunities
                    </a>
                    <!-- All opportunity -->
                    <a class="disp-flex  float-left no_pad small-tex  small-text"
                  (click)="OnclickOpportunitiesSearchType(1)" *ngIf="v.allOpportunity > 0"> {{v.allOpportunity}} All opportunities <span class="noshow-button-mob">|</span>
                  </a>
                  <a class="disp-flex  float-left no_pad small-tex  "
                   *ngIf="v.allOpportunity === 0">  {{v.allOpportunity}} All opportunities <span class="noshow-button-mob">|</span>
                  </a>

                  <!-- my Owned -->
                  <a class="disp-flex  float-left no_pad small-tex  small-text"
                  (click)="OnclickOpportunitiesSearchType(2)" *ngIf="v.ownedOpportunity > 0"> {{v.ownedOpportunity}} Owned opportunities <span class="noshow-button-mob">|</span>
                  </a>
                  <a class="disp-flex  float-left no_pad small-tex  "
                   *ngIf="v.ownedOpportunity === 0">  {{v.ownedOpportunity}} Owned opportunities <span class="noshow-button-mob">|</span>
                  </a>

                  <!-- My open -->
                  <a class="disp-flex  float-left no_pad small-tex  small-text"
                  (click)="OnclickOpportunitiesSearchType(3)" *ngIf="v.myOpenOpportunity > 0"> {{v.myOpenOpportunity}} My open opportunities <span class="noshow-button-mob">|</span>
                  </a>
                  <a class="disp-flex  float-left no_pad small-tex  "
                   *ngIf="v.myOpenOpportunity === 0">  {{v.myOpenOpportunity}} My open opportunities <span class="noshow-button-mob">|</span>
                  </a>

                  <!-- //over due -->

                  <a class="disp-flex  float-left no_pad small-tex  small-text"
                  (click)="OnclickOpportunitiesSearchType(9)" *ngIf="v.overDueOpportunity > 0"> {{v.overDueOpportunity}} Overdue opportunities <span class="noshow-button-mob">|</span>
                  </a>
                  <a class="disp-flex  float-left no_pad small-tex  "
                   *ngIf="v.overDueOpportunity === 0">  {{v.overDueOpportunity}} Overdue opportunities <span class="noshow-button-mob"></span>
                  </a>


                </div>
                <div class="col-2 col-sm-6 col-md-6 col-lg-6 col-xl-1 float-left no_pad relation-number">
                  <span class="float-right relation-number">{{v.totalOpportunities}}</span>
                </div>
              </div>
              
            </div>
    </div>

