.level-two{
    font-family: WiproAkkuratTT-Bold;
    font-size: 20px;
   
}

.mt-20{
    margin-top:20px
}

.action-button{
    button{
        margin-left: 10px;
        font-size: 14px;
        font-family: WiproAkkuratTT-Bold;
    }

    .mdi-download:before {
        font-size: 20px;
    }
}
.standard-border.mdi-download:before
{
    font-size:14px !important;
} 
.border-4{
    border-radius: 4px;
}

.padding-0-25{
    padding:0px 25px;
}

