.padt-0
{
    padding-top: 0px !important;
}

.loader {
    margin: 200px auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
}
.loaderContainer {
  width: 100%;
  top:0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: white;
}
// .top-30{
//   top:30px
// }
.pb-20{
  padding-bottom:20px;
}
.padt10px{
  padding-top:10px;
}
////chethana added for bule patch alignments
.padng-10-30{
  padding: 10px 30px 30px;
}
.top-30{
  top:20px;
}
.mt-50{
margin-top:50px;
}
.mtop-0{
  margin-top:0px;
  }
  //chethana added for bule patch alignments