<div class="top-header top-head-index" [ngClass]="service.header?'navbar-sticky-top':'navbar-fixed-top'">
        <app-nav></app-nav>
        <div class="float-left col-12 header-action-tab opportunityPage new-container">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
      
            <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 float-left no_pad">
              <span class="mdi mdi-keyboard-backspace cursor-pointer float-left" (click)="goBack()"></span>
              <h1 class="heading-level-one heading-custom">Reimagine Singtel Procurement Process</h1>
              <span class="brudcrumbs">Orders</span>
            </div>
      
            <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7 float-left no_pad">
              <div class="float-right disp-flex save-cancel-responsive">
                <button class="primary-button borderless btn-block h-40 mr10 std cancel-responsived-btn button-wd50" (click)="assignpopup()">
                  <span class="mdi mdi-account-convert"></span>Assign</button>
                <!-- <button class="primary-button borderless h-40 std save-responsive-btn button-wd50 mr10">
                  <span class="mdi mdi-timer"></span>On hold</button>
                <button class="primary-button borderless h-40 std save-responsive-btn button-wd50">
                  <span class="mdi mdi-check"></span>Approve</button> -->
              </div>
            </div>
      
          </div>
        </div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left pos-abs no_pad bg-mid_night h-228 new-container">
        </div>
      
        <!-- code goes here -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no_pad vertical-btns-div float-left flex-tab pad-top142">
          <div class="col-9 float-left no_pad flex-tab-width">
            <button (click)="tabone()" [ngClass]="Competitortab ? 'active':''"
              class="col-lg-2 col-sm-4 col-md-3 col-4 col-xl-2 sub-vertical-but brd-right0 ">
              <span class=" mdi mdi-eye calin-select-all"></span>
              <span class=" no_pad btntxt-s pad-top2">Overview</span>
            </button>
            <button (click)="tabtwo()" [ngClass]="Teambuildingtab ? 'active':''"
              class="col-lg-2 col-sm-4 col-md-3 col-4 col-xl-2 float-right sub-vertical-but">
              <span class=" calin-select-all mdi mdi-vector-circle"></span>
              <span class="no_pad btntxt-s pad-top2">Tech solution</span>
            </button>
            <button (click)="tabthree()" [ngClass]="Probabiltytab ? 'active':''"
              class="col-lg-2 col-sm-4 col-md-3 col-4 col-xl-2 float-right sub-vertical-but">
              <span class=" calin-select-all mdi mdi-vector-line"></span>
              <span class=" no_pad btntxt-s pad-top2">Commercials</span>
            </button>
            <button (click)="tabfour()" [ngClass]="dealtab ? 'active':''"
              class="col-lg-2 col-sm-4 col-md-3 col-4 col-xl-2 float-right sub-vertical-but brd-left0 ">
              <span class=" calin-select-all mdi mdi-note-plus-outline"></span>
              <span class=" no_pad btntxt-s pad-top2">Order details</span>
            </button>
          </div>
        </div>
      
        <div class="col-12 float-left pad-30">
      
          <!-- card-content for first tab starts here-->
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card float-left " *ngIf="Competitortab">
      
            <div class="ol-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
              <h2 class="col-12 float-left heading-level-two no_pad bordr-bottm"> Overview</h2>
            </div>
      
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12">
                <label for="field1" class="col-12 float-left no_pad w-100 label-text">Order value</label>
                <span id="field1" type="text" class="col-12 float-left no_pad sub-text">New</span>
              </div>
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                <label for="field2" class="col-12 float-left no_pad w-100 label-text">Pricing ID</label>
                <span id="field2" type="text" class="col-12 float-left no_pad sub-text">Singtel.inc</span>
              </div>
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                <label for="field3" class="col-12 float-left no_pad w-100 label-text">Signed document expected date</label>
                <span id="field3" type="text" class="col-12 float-left no_pad sub-text">23-Aug-20</span>
              </div>
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                <label for="field3" class="col-12 float-left no_pad w-100 label-text">Document</label>
                <span id="field3" type="text"
                  class="col-12 float-left no_pad sub-text cp color-azure">SOW_Contract.xlsx</span>
              </div>
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 " *ngFor="let data of table_data">
                <label for="field3" class="col-12 float-left no_pad w-100 label-text">{{data.label}}</label>
                <span id="field3" type="text" class="col-12 float-left no_pad sub-text">{{data.text}}</span>
              </div>
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                <label for="field3" class="col-12 float-left no_pad w-100 label-text">Risk Register</label>
                <span id="field3" type="text" class="col-12 float-left no_pad sub-text cp color-azure">Risk register
                  link</span>
              </div>
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                <label for="field3" class="col-12 float-left no_pad w-100 label-text">Commitment Register</label>
                <span id="field3" type="text" class="col-12 float-left no_pad sub-text cp color-azure">Commitment register
                  link</span>
              </div>
      
            </div>
      
          </div>
          <!-- card-content for first tab ends here-->
      
          <!-- card-content for fourth tab starts here-->
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card float-left " *ngIf="dealtab">
      
            <div class="ol-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
              <h2 class="col-12 float-left heading-level-two no_pad bordr-bottm"> Overview</h2>
            </div>
      
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left no_pad">
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 "
                *ngFor="let data1 of table_data1">
                <label for="field3" class="col-12 float-left no_pad w-100 label-text">{{data1.label}}</label>
                <span id="field3" type="text" class="col-12 float-left no_pad sub-text">{{data1.text}}</span>
              </div>
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                <label for="field3" class="col-12 float-left no_pad w-100 label-text">SOW contract</label>
                <span id="field3" type="text" class="col-12 float-left no_pad sub-text cp color-azure">Reimagine Singtel
                  contract</span>
              </div>
      
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left pad-15-12 ">
                <label for="field3" class="col-12 float-left no_pad w-100 label-text">Approval Status</label>
                <span id="field3" type="text" class="col-12 float-left no_pad sub-text cp color-azure">Pending </span>
              </div>
      
            </div>
      
          </div>
          <!-- card-content for fourth tab ends here-->
      
        </div>
      
      
      </div>