$Azure : #2f81ff;
$White : #ffffff;
$River : #d9e9ff;
$MetalLight : #9b9b9b;
$MidNight : #103f86;
$Metal : #4a4a4a;
$Black : #000000;
$Orange : #f58323;
$RubyRed : #ef3341;
$Green : #6dc24b;
$Wash : #9f9f9f;
$MidGrey:#343434;
$Assistant-blue: #E5F0FF;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$LabelGrey : #4a4a4a;
$Pink_dark : #ef3341;

/***** my clor **/
$DarkBlack : #2e2e2e;
.new-container{

    .border-btm{
    border-bottom: 2px solid;
 }
  .border-right{
     border-right: 2px solid $Azure !important;
 }
  
 .heading-level-one{         
 font-family:WiproAkkuratTT-Bold;
 font-size: 24px;
 color:$White;
  
 small{
 font-family: 'WiproAkkuratTT-Regular';
 font-size: 14px;
 padding: 0 30px;
 }
 }

.pad-30{
    padding:30px;        
}

.card{
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color:$White;
}
.mt22{
    margin-top: 22px;
}
.new-container{
    .cust_autoComplete{      
        input{
        border: 1.5px solid #d8d8d8 ;
        position: relative;
        border-radius: 4px;
        padding-right: 35px;
        left:-2px;
        }
        }

  }
  
.pad-create-lead1 {
  padding: 10px 30px 10px 30px;
}
.pad-create-lead{
    padding:0px 30px 15px 30px;

}
 .heading-level-two{
     font-family: WiproAkkuratTT-Bold;
     font-size: 20px;
     color:$DarkBlack
 }
 .pad-top-8{
    padding-top: 8px;
}

.new-container  {
    .z-ind-99{
    z-index: 8 !important;
    }
    .list-group-item {
    cursor: pointer;
    font-size: 12px;
    color: #2f81ff;
    border: none;
    }
   .list-group-item :hover {
        background-color: #d9e9ff;
    }
    .list-group-item:hover{
        background-color: $River;
    }
    .p-4-10 {
        padding: 4px 10px 4px 10px;
    }
    .top64{
        top: 64px;
    }
    .sort-dropdown {
        background: white;
    }

   .primary-button.std1 {
        padding: 9px 5px;
        min-width: 170px;
    }
    .bg-color-btn{
        background-color: #00bcd429;
    }
    .txt-color{
    color: #103f86;
    }
}
 .CompanyName{
     .mdi-magnify:before{
         color: $Azure ;
         font-size: 20px;
         right: 10px;
         position: absolute;
         bottom: 5px;
     }
 }   
 .label-form{
     font-family: WiproAkkuratTT-Regular;
     font-size: 12px;
     line-height: 1.83;
     color: $Metal;
     margin-bottom: 4px;
 }
 .list-group-item{
    display: flex;
}
.naming-tags{
    padding: 15px;
}
.naming-tags + .name{
    width: 85%;
    padding: 10px 3px 3px 10px !important;
}
.heading-level-three{
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color:$Black;
    margin-bottom:0px;
} 
.width_message2{
    font-size: 12px;
    color: #4a4a4a;
}
.acc_txtarea {
    font-size: 13px;
    color: #4a4a4a;
    font-weight: bold;
}
.border-bottm {
    border: 1px solid #d8d8d8;
    height: 2px;
    margin: 5px 22px 0 22px;
}
//popover css starts
.button_messagespophover{
    border: none;
    background: none;
    margin: 0px !important;
    padding: 0px;
}
.top_pos {
    position: relative;
    top: 0px;
}
.message_cls{
    height: 25px;
    width: 25px;
    background-color: #d5e6ff;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 23px;
    cursor: pointer;
    position: relative;
    top: 0px;
}
.message_cls.mdi-comment-plus-outline:before {
    content: "\F183";
    font-size: 14px;
    padding: 0px 4px 4px 4px;
    color: #2f81ff;
    position: relative;
}
.width_message2 {
    font-size: 12px;
    color: #4a4a4a;
}
.textarea_readonly{
    margin-top: 12px;
}
.cancel_but {
    margin-top: 13px;
    margin-right: 10px;
    width: 120px;
    height: 40px;
    background-color: #d5e6ff;
    color: #2f81ff;
    border: 1px solid #d5e6ff;
    font-family: WiproAkkuratTT-Regular;
}
textarea.form-control {
    box-shadow: 0 0 0 0 !important;
    height: auto !important;
}
.form-controls {
  color: #000 !important;
  border: 2px solid #d8d8d8 !important;
  padding: 14px !important;
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 14px !important;
}
.cancel_but {
  margin-top: 13px;
  margin-right: 10px;
  width: 120px;
  height: 40px;
  background-color: #d5e6ff;
  color: #2f81ff;
  border: 1px solid #d5e6ff;
  font-family: WiproAkkuratTT-Regular;
}
.submit_but {
  margin-top: 13px;
  width: 120px;
  height: 40px;
  background-color: #fff;
  color: #cfcfcf;
  border: 1.5px solid #cfcfcf;
  font-family: WiproAkkuratTT-Regular;
}
.submit_but1 {
    margin-top: 13px;
    width: 120px;
    height: 40px;
    background-color: #2f81ff;
    color: #fff;
    border: 1.5px solid #2f81ff;
    font-family: WiproAkkuratTT-Regular;
}
//popover css ends
}

.btn-format{
    padding: 6px 5px;
    min-width: 110px;
}
.h-40{
    height: 40px;
}
.borderless {
    border: none !important;
}
/*chethana heander css starts*/
.complex_table{
.padd-top-130{
  padding-top: 158px !important;
}
.h-240{
  height: 240px;
}
.popup-hd-txt_latest{
    font-size: 20px !important;
    color: #000 !important;
    font-family: WiproAkkuratTT-Bold !important;
}
}
/*chethana heander css ends*/
.message_cls {
        height: 20px;
        width: 20px;
        background-color: #d5e6ff;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 20px;
        cursor: pointer;
    }
    .message_cls.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #2f81ff;
        position: relative;
        top: -1px;
    }
    .message_cls_edit {
        height: 20px;
        width: 20px;
        background-color: #d5e6ff;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 22px;
        cursor: pointer;
    }
    .message_cls_edit.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #2f81ff;
        position: relative;
        top: 0px;
    }
    .message_cls_orange {
        height: 20px;
        width: 20px;
        background-color: #ff784a;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 20px;
        cursor: pointer;
    }
    .message_cls_orange.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #fff;
        pointer-events: none;
        position: relative;
        top: -1px;
    }
    .message_cls_orangeRef {
        height: 20px;
        width: 20px;
        background-color: #ff784a;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 22px;
        cursor: pointer;
    }
    .message_cls_orangeRef.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #fff;
        pointer-events: none;
        position: relative;
        top: 0px;
    }
    .message_cls_orange_edit {
        height: 20px;
        width: 20px;
        background-color: #ff784a;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 22px;
        cursor: pointer;
        ;
    }
    .message_cls_orange_edit.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #fff;
        position: relative;
        top: 0px;
    }
    .message_cls_edit_swap {
        height: 20px;
        width: 20px;
        background-color: #d5e6ff;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 22px;
        cursor: pointer;
    }
    .message_cls_edit_swap.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #2f81ff;
        position: relative;
        top: 0px;
        left: 0.7px;
    }
    .message_cls_edit_swap.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #2f81ff;
        position: relative;
        top: 0px;
        left: 0.7px;
    }
    .message_cls_orange_swap {
        height: 20px;
        width: 20px;
        background-color: #ff784a;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 22px;
        cursor: pointer;
    }
    .message_cls_orange_swap.mdi-comment-plus-outline:before {
        content: "\F183";
        font-size: 14px;
        padding: 0px 4px 4px 4px;
        color: #fff;
        pointer-events: none;
        position: relative;
        top: 0px;
        left: 0.7px;
    }
    .top_poscbu{
        position: relative;
        top:-3px;
        left:-3px
    }
    .multi_select_cbu{
        bottom:5px;

        select[disabled] { 
            color: #9b9b9b !important;
            background: #f9f9f9 !important; 
        }
    }
    .mt25{
        margin-top: 25px !important;
    }
    .border-pink {
      border-color: $RubyRed !important;
    }
    .error-message {
        background: $RubyRed;
        padding: 1px 0px 0px 10px ;
        // text-align: center;
        color: #ffffff;
        border-radius: 0 0 4px 4px;
        position: absolute;
        width: 100%;
        z-index: 1;
        font-size: 13px;
        top: 6em;
        //right: 2px;
        height: 22px;
    }
    .border-gray {
        border-color: $Marble;
    }
      .pop-btn{
        position: relative;
        top: 19px;
        left: 36px;
        z-index: 9;
    }

    .top-73{
        top:73px;
    }
    .mb6Editref{ //chethana
        margin-bottom:6px !important;
    }
    .mail-box-text{
        height: 40px;
        border-radius: 4px;
        color: $Azure;
        background-color: #d9e9ff;
        // padding: 10px 5px 0px 10px;
        width: auto;
        .mdi-close:before {
          font-size: 20px;
          cursor: pointer;
          color: $Azure;
          bottom: 2px;
          position: relative;
      }
      .ml5{
          margin-left: 5px;
      }
      }
      .bordersecondary{
        border: 2px solid #2f81ff !important;
      }
      .initial-text{
        height: 40px;
        width: 40px;
        color: white;
        background: #2f81ff;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 10px;
    }

    .top64{
        top: 64px;
    }
    
    .pb-200{
        padding-bottom: 200px !important;
    }

    .color-disabled{
        color: #9b9b9b !important;
    }
    .loader {
        margin: 200px auto;
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid #3498db;
        width: 64px;
        height: 64px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }
    .loaderContainer {
        width: 100%;
        top: 0em;
        position: absolute;
        height: 100%;
        z-index: 9999;
        background: white;
    }
    
   
