$Azure : #2f81ff;
$White : #ffffff;
$River : #d9e9ff;
$MetalLight : #9b9b9b;
$MidNight : #103f86;
$Metal : #4a4a4a;
$Black : #000000;
$Orange : #f58323;
$RubyRed : #ef3341;
$Green : #6dc24b;
$Wash : #9f9f9f;
$MidGrey:#343434;
$Assistant-blue: #E5F0FF;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$LabelGrey : #4a4a4a;

/***** my clor **/
$DarkBlack : #2e2e2e;
@media screen and (max-width: 414px){
.new-container .pad-30 {
    padding: 15px 15px !important;
}
}
.new-container{
    .input-border-left{
        border-left: none;
    }
    .border-btm{
       border-bottom: 2px solid;
    }
    .border-right{
        border-right: 2px solid $Azure !important;
    }
    .z-ind-9999{
        z-index: 9999;
    }

    .z-ind-99{
        z-index:99
    }
    .z-ind-9{
        z-index:9
    }

    .mt45{
        margin-top:45px;
    }
    .mt10{
        margin-top: 20px;
    }
    .mt20{
        margin-top: 20px;
    }

    .h-40{
        min-height: 40px;
        }

    .top62{
        top:62px;
    }
    .top64{
        top:64px;
    }
    .top66{
        top:66px;
    }

    .pad-30{
        padding: 30px;
        }
        .mr10{
        margin-right: 10px ;
        }
        .h-40{
        min-height: 40px;
        }
        .heading-level-one-ref{
         
        font-family:WiproAkkuratTT-Bold;
        font-size: 24px;
        color:$White;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 400px;
        min-width: 70px;
         
        small{
        font-family: 'WiproAkkuratTT-Regular';
        font-size: 14px;
        padding: 0 30px;
        }
        }
        .primary-button.std{
        padding: 9px 5px;
        min-width: 110px;
        
        }
        .borderless{
        border:none !important;
        }
.h-160{
    height:161px;
}

    .h-260{
        height:260px;
    }
    .pad-30{
        padding:30px;
        
    }

    .card{

        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color:$White;

    }

    .heading-level-two{

        font-family: WiproAkkuratTT-Bold;
        font-size: 20px;
        color:$DarkBlack
    }

    .heading-level-three{

        font-family: WiproAkkuratTT-Bold;
        font-size: 16px;
        color:$Black
    }
}
.border-bottm{
    border: 1px solid #d8d8d8;
    height: 2px;
    margin: 5px 42px 0 42px;
}
.AddtitionalCom_fonts{
    font-size: 14px;
    color: #4a4a4a;  
  }
  .AddtitionalCom_fonts b{
    font-size: 14px;
    color: #000000;  
  }
  .AddtitionalCom_fonts .text_emptycomments{
     color: #2f81ff; 
     font-size: 14px; 
  }
  p{
    margin-bottom: 3px !important;
  }

.pad-create-lead{
    padding:10px 30px 30px 30px;
}
.pad-create-lead1{
    padding: 18px 30px 5px 30px;
}
.pad-create-lead2{
    // padding: 18px 45px 30px 45px;
    padding: 0px 45px;
}
.pad-create-lead3{
    padding:5px 30px 30px 30px;
}
.mdi-arrow-left:before {
    font-size: 22px;
    padding-right: 5px;
}

.input-text{
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) !important;
    background-color: #ffffff;
    border: 1.5px solid #d8d8d8;
    padding: 0 10px;    
}

.input-text:focus{
    border-color: $Azure;
}

.disable-input{
    background-color: #f3f3f3 !important;
    color: #cfcfcf;
}

.customized-select{
    position: relative;
    select{
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    padding: 2px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;

    &:focus{
    outline: none;
    border-color:$Azure;
    }
    }
    select::-ms-expand {
    // for IE
    display: none !important;
    }
    .caret{
    top: 42px;
    right: 16px;
    color: #dbdbdb;
    }
    }
    
    .dropdown-bg{
        background: #f3f3f3;
        color: #cfcfcf;
    }

    .pad-left10{
        padding-left: 10px !important;
    }

.search-disable {
    .search-icon {
    float: right;
    position: relative;
    bottom: 32px;
    right: 10px;
    font-size: 18px;
    color: #b3b3b3;
    }
}

.input-placeholder{
    ::placeholder{
       color: #cfcfcf !important;
       font-family:WiproAkkuratTT-Regular;
    }
}
// .border-yellow{    
//     border: 2px solid #f58323;
// }   //chethana july 16th
// .expand-ryt-section
//  {
//    padding-top: 19px;
//  }
//////////////////////////////slim scroll css starts-------------------------->

.scroll-window {
    width: 100%;
    height: 150px;
    font-size: 13px;
    font-size: 15px;
    line-height: 30px;
    }
    
    .slimscroll-grid {
    display: none!important;
    }
    
    .slimscroll-bar {
    width: 7px!important;
    right: 0px!important;
    background: rgba(125, 125, 125, 0.2784313725490196) !important;
    }
    
    .slimscroll-bar:hover {
    background:  rgba(125, 125, 125, 0.2784313725490196) !important;
    }
    //////////////////////////////slim scroll css ends-------------------------->
    /*chethana heander css starts*/
.padd-top-130{
  padding-top: 105px !important;
}
.h-203{
  height: 203px;
}
.padd-top-65 {
    padding-top: 65px !important;
}
/*chethana heander css ends*/
.marin-bottom0{
    margin-bottom: 0px;
}
.padb-20{
    padding-bottom: 15px;
}

.vision_txt_area_placeholder{
    resize: none;
}
.linehight{
    line-height: 20px;
}
.backspace_button {
    width: 22px;
    height: 22px;
    float: left;
    color: #fff;
    font-size: 22px;
    letter-spacing: -0.2px;
    line-height: 1.27;
    margin-right: 5px;
    background: transparent;
    border: none;
}

.info-icon {
    font-size: 20px;
    color: #2f81ff;
    position: relative;
    top: 3px;
  }

.toolTipDiv {
      display: none;
  }

  #keyconGov {
    .info-icon:hover + .toolTipDiv {
      display: block;
      background: rgba( 0 , 0 , 0 , 0.502 );
      color: white;
      padding: 5px;
      border-radius: 6px;
      font-size: 10px;
      position: absolute;
      z-index: 1;
    }
  }

  .mdi-information-outline:before {
      line-height: 0px;
  }
  .mt-10{
      margin-top: 10px;
  }
  .mb5{
      margin-bottom: 5px
  }