$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
tr:nth-last-child(2) .suggestion-box {
  bottom: 40px;
  top: -100px !important;
}
tr:last-child .suggestion-box {
  bottom: 40px;
  top: -100px !important;
}
tr:first-child .suggestion-box {
  bottom: -100px !important;
  top: 40px !important;
}
.p-5-10 {
  padding: 5px 20px 10px 10px !important;
}
.delete{
  display: none;
  }
.d-content{
  display: contents;
}
.top42{
  top: 42px;
}
.mt50{
  margin-top: 50px;
}
.loader {
  margin: 200px auto;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loaderContainer {
  width: 100%;
  top: 0em;
  position: absolute;
  height: 100%;
  z-index: 9999;
  background: transparent;
}

.error {
  border: 1.5px solid $RubyRed !important;
}

.cust_calan {
  input {
    border: 1.5px solid #d8d8d8 !important;
    border-radius: 4px;
    outline: none;
    padding-left: 8px;
    padding: 6px;
  }
  .mat-datepicker-toggle {
    position: absolute;
    right: 10px;
  }
  .mdi-calendar-blank:before {
    color: $Azure;
    font-size: 26px;
  }
}
.head-lvel-two-leads {
  font-family: WiproAkkuratTT-Bold;
  font-size: 20px;
  color: $White;
  letter-spacing: -0.4px;
}

.pad-0-30 {
  padding: 0 30px;
}
// Main contents starts
.card-content {
  display: inline-block;
}
.list-name-btnkey {
  color: #000000 !important;

}
label {
  color: $Label;
  opacity: 0.87;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: $Label;
  margin-bottom: 5px;
  width: 54%;
}
.w-46{
  width:46% !important;
}
label + p {
  font-size: 13px;
  letter-spacing: 0.3px;
  color: $Black;
  font-family: WiproAkkuratTT-Bold;
  text-transform: capitalize;
}
.padbox-0-100-10 {
  padding: 0 60px 20px 0;
  // min-height: 80px;
}
.divider {
  border-color: $River;
  margin: 10px 0 30px 0;
}
.heading-level-three {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: #2e2e2e;
  // padding-bottom: 10px;
}
.customized-input {
  input {
    width: 100%;
    padding: 3px 30px 3px 8px !important;
  }
}
.hyper + p {
  letter-spacing: 0.3px;
  font-family: WiproAkkuratTT-Bold;
  color: $Azure;
  margin-bottom: 0;
}
.detail3 + p {
  font-family: WiproAkkuratTT-Bold;
}
.pb10 {
  padding-bottom: 10px;
}
.linked-padryt {
  padding-right: 60px;
  margin-top: 20px;
}
.pb0 {
  padding-bottom: 0;
}
.name-tags {
  .tag {
    padding-left: 0px;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: #6f6f6f;
  }

  .btn-key {
    width: 54px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1.5px solid #2f81ff;
    display: inline-block;
    text-align: center;
    margin-top: 9px;
    margin-left: 35px;
  }
}
textarea {
  resize: none;
  border-radius: 4px;
  // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
/********** style for auto complete list start ***************/
.list-name {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #000000;
  max-width: 250px;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
}
.allianceTable {
  .list-name {
    max-width: 190px;
  }
}
@media only screen and (max-width: 414px) {
  .list-name {
    max-width: 250px !important;
  }
  .addAccountBtns{
    margin-right: 20px;
    position: relative;
  }
  .mb70{
    margin-bottom: 150px;
  }
}

.p-5-10 {
  padding: 10px 20px 0px 10px;
  box-sizing: border-box;
}

.sub-list {
  font-size: 10px;
  color: #9b9b9b;
  font-family: WiproAkkuratTT-Regular;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  width:100%;
}
.cancel-btn {
  height: 50px;
  background: $River;
  color: $Azure;
  padding: 14px;
  font-size: 14px;
  font-family: WiproAkkuratTT-Bold;
  border: none;
}
.CompanyName {
  .mdi-magnify:before {
    color: $Azure;
    font-size: 20px;
    right: 10px;
    position: absolute;
    bottom: 5px;
  }
  .label-input {
    margin-left: -2px;
  }
}
.top38 {
  top: 38px;
  left:-2px;
}
.autocomplete-box {
  top: 0px;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1.5px solid $Azure;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: 0.2s;

  .list-group-item {
    cursor: pointer;
    height: 40px;
    padding: 5px 10px;
    border: none !important;
  }
  .naming-tags {
    width: 35px;
    height: 35px;
    border-radius: 50px;
  }
  .w-80.name {
    width: 75%;
  }
  .wid-55.name{
    width: 55%;
  }
  .name {
    height: 30px;
    padding: 4px 3px 3px 10px !important;
    small {
      position: relative;
      bottom: 8px;
      font-size: 10px;
      color: #9b9b9b;
    }
    .tag {
      font-size: 12px;
    }
  }

  .db-search {
    height: 40px;
    cursor: pointer;
    &:hover {
      background-color: #d9e9ff;
    }
    button {
      font-family: WiproAkkuratTT-Bold;
      font-size: 14px;
      letter-spacing: 0.3px;
      color: $Azure;
      outline: none;
      border: none;
      background: transparent;
      text-align: left;
      width: 100%;
      height: 100%;
    }
  }

  .list-box:hover {
    background-color: #d9e9ff;
    cursor: pointer;
  }

  .btn-none {
    outline: none;
    border: none;
    background: transparent;
  }
}
.add-btn {
  height: 40px;
  border-radius: 4px 0 0 4px;
  padding: 3px 6px;
  background: #ffffff;
  font-size: 18px;
  outline: none;
  border: 1.5px solid $Azure;
  font-family: WiproAkkuratTT-Bold;
  color: $Azure;
  outline: none;
  z-index: 8;
  width: 40px;
  max-width: 12%;
}
.add-btn:focus,
.add-btn:hover {
  font-family: WiproAkkuratTT-Bold;
}

.brdr-left-0 {
  border-radius: 0 5px 5px 0;
}

.z-ind-9 {
  z-index: 9;
}
.z-ind-10 {
  z-index: 8;
}
/********** style for auto complete list end ***************/

.mr10 {
  margin-right: 10px !important;
}
.tagged-box {
  height: 40px;
  border-radius: 4px;
  color: $Azure;
  background-color: #d9e9ff;
  padding: 10px 5px 0px 10px;
  width: auto;
  margin: 5px 0;
  .mdi-close:before {
    font-size: 20px;
    cursor: pointer;
    color: $Azure;
    bottom: 5px;
    position: relative;
  }
}
.p-4-10 {
  padding: 6px 10px 4px 0px;
}
.primary-button.std {
  padding: 9px 5px;
  min-width: 110px;
}
.padd-all-lead {
  padding: 30px;
}
.mdi-pencil:before {
  margin-right: 5px;
  margin-top: -2px;
}
.edit-mobile {
  display: none;
}
.pre-tag{
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  line-height: 1.57;
  color: #343434;
  position: relative;
  // left: 70px;
}
// .dis-mob-remarks{
//   position: absolute;
//   left: 0;
// }
.remarks-text {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  line-height: 1.57;
  color: #343434;
  // position: absolute;
  // margin-left: 10px;
}
.remarks-text-nurture {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  line-height: 1.57;
  color: #343434;
  // position: absolute;
}
.remarks-header {
  font-family: WiproAkkuratTT-Bold;
  font-size: 16px;
  color: #525252;
}
.pad-40-remarks {
  padding: 20px !important;

}
// .unqualified-padding {
  // padding: 30px;
// }
.mar-10 {
  margin: 7px 0;
}



.w-100 {
  width: 100%;
}

/***********/
.pb0 {
  padding-bottom: 0;
}
.attach-btn {
  height: 40px;
  width: 110px;
  font-size: 12px;
  letter-spacing: 0.1px;
  cursor: pointer;
}
.attach-icon {
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-align: center;
  position: relative;
  right: 6px;
  font-size: 18px;
}
.mt-10 {
  margin-top: 10px;
}
.commets {
  margin-bottom: 8px;
  width: 40px !important;
  text-align: left !important;
}
.commets-view {
  margin-bottom: 8px;
  width: 40px !important;
  text-align: left !important;
 right: 12px;
 position: relative;
}
.attachment {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #9b9b9b;
  letter-spacing: 0.3px;
}
.download {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: #2f81ff;
  letter-spacing: 0.3px;
  text-align: right;
  cursor: pointer;
}
.mb-20 {
  margin-bottom: 20px;
}
.plb-60-20 {
  padding: 0px 60px 20px 0px;
}

.w-94 {
  width: 94%;
}
.mt4 {
  margin-top: 4px;
}
.mr13 {
  margin-right: 13px;
}
.right-0 {
  right: 0;
}
.serviceline-text {
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #000000;
  font-family: WiproAkkuratTT-Bold;
  position: relative;
  bottom: 15px;
}

.agp-text {
  font-size: 13px;
  letter-spacing: 0.3px;

  font-family: WiproAkkuratTT-Bold;
  position: relative;
}
.w-80 {
  width: 70%;
}
.mr5{
  margin-right: 5px;
}
// crud table ccs starts
.addAccountBtns {
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #2f81ff;
  color: #2f81ff;
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  padding: 0px 22px;
  width: 100px;
  margin-bottom: 10px;
}
.addAccountBtns:hover{
  background-color: #2f81ff;
  border: 2px solid #2f81ff;
  color: #ffffff;
}
// .accord_s {
//   padding: 0px 25px 25px 25px;
// }

.allianceTable th {
  padding: 0px 10px;
  background: #eaf2ff;
  font-family: WiproAkkuratTT-Bold;
  font-size: 12px;
  font-weight: bold;
  color: #40659e;
  height: 40px;
}
.allianceTable td {
  padding: 10px;
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: #3f3f3f;
  height: 60px;
}
.allianceTable tbody tr:nth-child(even) {
  background: #f9f9f9;
}
// .allianceTable tbody tr:last-child {
//   border-bottom: 2px solid #d8d8d8;
// }
// .tablAlliance thead tr th:first-child {
//   border-radius: 8px 0px 0px 0px;
// }
// .tablAlliance thead tr th:last-child {
//   border-radius: 0px 8px 0px 0px;
// }
.width4 {
  width: 4%;
}
.width22 {
  width: 22%;
}
.width33{
  width: 33%;
  float: left;
}
.deleteColumn {
  font-size: 18px;
  // padding: 2px 0px 0px 14px;
}
.edit_style {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px !important;
}
.vertical{
  vertical-align: middle;
}
.mobview{
  min-height:210px; 
  max-height: 340px;
  z-index: 8
}
.mobile-toggle{
  display: none;
}
.crud-table {
  border-radius: 4px;
  // overflow-y: hidden;
  display: inline-table;
  max-height: 200px;
  // min-height: 200px;
}
.crud-table .allianceTableEdit
{
  padding-bottom: 200px;
    display: block;
    overflow: hidden;
}
.crud-table .allianceTableView
{
  padding-bottom: 0px;
    display: table;
   
}
.overLapArea
{
  top:40px;
}
.new-container .list-name {
  max-width: 100% !important;
}
.auto-overlay{
  position: fixed;
  top:0 ;
  width:100%;
  height:100%;
  background: transparent;
  z-index: 9;
  }
.z-ind-9999{
  z-index: 8;
}



.suggestion-box{
  left:-2px;
}
@media screen and (max-width: 1020px){
  .mob.mr10 {
    margin-right: 0px !important;
}
}
.pb16{
  padding-bottom: 10px !important;
}
.edit-button:hover{
  background: $White;
  color: $Azure;
  border-color: $White;
}
.card{
  margin-bottom: 0px !important;
}
.customer-contact-wid{
  width: 88% !important;
  max-width: 88% !important;
}

input:disabled + .mat-datepicker-toggle .mdi-calendar-blank:before{
  color: #9b9b9b !important;
}
.mb0{
  margin-bottom: 0px !important;
}
.top-40{
left:-2px;
}
.pad-btm10{
  padding-bottom: 15px !important;
}
.mt30{
  margin-top: 30px !important;
}
.accbody{
  // background: #fafafa;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

.prewarp{
  white-space: pre-wrap;
}
.selected-contact .mdi-close{
  padding-right: 10px !important;
}
//////////////////////////////slim scroll css starts-------------------------->

.scroll-window {
  width: 100%;
  height: 200px;
  font-size: 13px;
  font-size: 15px;
  line-height: 30px;
}

.slimscroll-grid {
  display: none !important;
}

.slimscroll-bar {
  width: 7px !important;
  right: 0px !important;
  background: #bab6b6 !important;
  z-index: 1 !important;
}

.slimscroll-bar:hover {
  background: #bab6b6 !important;
}
//////////////////////////////slim scroll css ends-------------------------->
.mt-70{
  margin-top: 70px;
}
.max-w-180{
  max-width: 180px;
}
.comment-head
{
   line-height: 1.38;
   letter-spacing: -0.2px;
   color: #353535;
   font-family: WiproAkkuratTT-Bold;
   font-size: 14px;
}
.mt0{
  margin-top: 0px !important;
}
.mdi-download{
  display: none;
  cursor: pointer;
}
.download-uploaded-file:hover .mdi-download{
  display: block;
}
.download-uploaded-file:hover .mdi-file-document{
  display: none;
}

.disabled-control {
  color: $MetalLight !important;
  background-color: #f9f9f9 !important;
  button,
  input,
  select {
    color: $MetalLight !important;

    background-color: #f9f9f9 !important;
  }

  .caret,
  .mdi:before {
    color: $MetalLight !important;
  }
}
.lead-info-span{
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #000000;
  text-transform: capitalize;
  float: left;
}
.list-group-item {
  border: none !important;
}
.commets {
  width: 40px !important;
  margin-bottom: 8px;
  text-align: left !important;
}
.commets .icon {
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(0deg);
  text-align: center;
  position: relative;
  right: -4px;
  font-size: 18px;
  bottom: 4px;
}
.padbox-0-60 {
  padding: 0 60px 0px 0;
  // min-height: 80px;
}
.mdi-delete:before {
  position: relative;
  right: 8px;
}
.deleteColumn {
  font-size: 18px;
  padding: 2px 0px 0px 16px;
}

.width-194{
  width: 194px;
}
.mt25{
  margin-top: 25px !important;
}
.addcomment-popover{
  height: 200px;
  position: absolute;
  width: 315px;
  z-index: 8;
  right: 58px;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.45);
  padding: 10px;
  top: 0em;
  .discard-btn {
    background-color: #d9e9ff !important;
    text-align: center;
    font-size: 12px;
    line-height: 1.38;
    color: #2f81ff;
    font-family: "WiproAkkuratTT-Bold";
    padding: 9px;
    width: 100px;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}
.discard-btn:hover{
  background-color: #2f81ff !important;
  color: #ffffff;
  }
.confrm-btn:hover{
  background-color: #2f81ff !important;
  color: #ffffff;
}
.confrm-btn {
  background-color: #2f81ff;
  text-align: center;
  font-size: 12px;
  line-height: 1.38;
  color: #ffffff;
  font-family: "WiproAkkuratTT-Bold";
  padding: 9px;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
}
.text-area-content{
  height: 100px;
}
.popup-hd-txt{
  font-size: 16px !important;
  color: #4a4a4a !important;
  }

}
.download {
  font-family: WiproAkkuratTT-Bold;
  font-size: 14px;
  color: $Azure;
  letter-spacing: 0.3px;
  text-align: right;
  cursor: pointer;
}

.attachment {
  font-family: WiproAkkuratTT-Regular;
  font-size: 14px;
  color: $MetalLight;
  letter-spacing: 0.3px;
}
.attachment-type {
  font-family: WiproAkkuratTT-bold;
  font-size: 12px;
  color: $MetalLight;
  letter-spacing: 0.3px;
  position: relative;
  top: -8px;
}
.mdi-information-outline:before {
  content: "\F2FD";
  font-size: 16px !important;
  color: #2f81ff;
}
// .caret-popover{
//   width: 0; 
//   height: 0px;
//   right: -10px;
//   top: 7em;
//   position: absolute;
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;  
//   border-left: 10px solid white;
//   box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.45);
// }
.addcomment-popover:after, .addcomment-popover:before {
  right: -24px;
  top: 2%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  transform: rotate(90deg);
}

.addcomment-popover:after {
border-color: rgba(136, 183, 213, 0);
border-bottom-color: #fff;
border-width: 12px;
margin-top: -1px;
}
.addcomment-popover:before {
border-color: rgba(194, 225, 245, 0);
border-bottom-color: #ccc;
border-width: 12px;
    margin-top: -2px;
}
.height-200{
  height: auto;
  max-height: 230px;

}
.pr15{
  padding-right: 15px;
  padding-top: 10px;
}
//////////////////////////////slim scroll css starts-------------------------->

.scroll-window {
  width: 100%;
  height: 200px;
  font-size: 13px;
  font-size: 15px;
  line-height: 30px;
}

.slimscroll-grid {
  display: none !important;
}

.slimscroll-bar {
  width: 7px !important;
  right: 0px !important;
  background: #bab6b6 !important;
  z-index: 1 !important;
}

.slimscroll-bar:hover {
  background: #bab6b6 !important;
}

//////////////////////////////slim scroll css ends-------------------------->
.edit-button{
  padding: 0px 21px !important;
}

//new attachments css starts
.new-inputattach{
  float: right;
  width: 110px;
  height: 40px;
  position: relative;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.new-attachment{
  float: right;
  position: absolute;
  right: 0;
  width: 110px;
  height: 40px;
  border: 2px solid #2f81ff;
  background: white;
  color: #2f81ff;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  font-family: WiproAkkuratTT-Bold;
}
.mdi-attachment:before{
  width: 18px;
  height: 27px;
  transform: rotate(-90deg);
  text-align: center;
  position: relative;
  right: 4px;
  font-size: 16px;
}
//new attachments css ends

span.mdi.mdi-close.auto-close {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 4px;
  font-size: 20px;
  color: #2f81ff;
}

.name-sol {
  height: 30px;
  padding: 10px 3px 3px 10px !important;
  small {
    position: relative;
    bottom: 8px;
    font-size: 10px;
    color: #9b9b9b;
  }
  .tag {
    font-size: 12px;
  }
}
.wid-55.name-sol{
  width: 55%;
}
.w-80.name-sol {
  width: 75%;
}