<div class="col-xl-12 col-12 no_pad expand-table-panel" [style.width.px]="width">
  <div class="col-xl-12 col-12 float-left no_pad expand-content">
      <div class="col-xl-1 col-12 col-md-1 float-left lightBlueBackground width100-max h-228">
          <div class="col-xl-12 col-6 col-md-12 float-left button-align bot-border width50-max">
              <span class="col-12 no_pad float-left Overview">Description</span>
              <button class="btn-none " (click)="showdesp_cntnt()" [ngClass]="desp_cntnt ? 'blueCircle' : 'blueCircle'">
                  <span class="table-icons mdi mdi-eye "></span>
              </button>
              <div class="tooltip-expand">
                  <span [ngClass]="desp_cntnt ? 'caret_right_table' : ''"></span>
              </div>
          </div>
          <!-- <div class="col-xl-12 col-6 col-md-12 float-left button-align tooltip-arrow  width50-max">
              <span class="col-12 no_pad float-left Rejection Exception">Comments</span>
              <button class="btn-none " (click)="showcmnts_cntnt()" [ngClass]="cmnts_cntnt || localPartentRef ? 'blueCircle' : 'whiteCircle'">
                  <span class="table-icons mdi mdi-comment-multiple-outline "></span>
              </button>
              <div class="tooltip-expand">
                  <span [ngClass]="cmnts_cntnt || localPartentRef ? 'caret_right_table' : ''"></span>
              </div>
          </div> -->
      </div>
      <div class="col-xl-11 col-12 col-md-11 float-left expand-ryt-section  width100-max" *ngIf = "expansionData">
          <div class="col-12 float-left desp-section">
                <!-- <perfect-scrollbar class="expand-comment-h"> -->
              <span class="col-12 no_pad float-left comment-head">Role description</span>
              <span class="col-xl-7 col-12 no_pad float-left desp-text">
                 {{expansion_data?.Description}}
              </span>
              <div class="col-12 no_pad catalystLink" >
                <!-- [ngClass] = "expansion_data.disable ? 'removePointer' : ''" -->
                <span class="ellipses float-left w-150 cp" role="link" (click)="navigateToCatalyst()">View details in catalyst</span>
              </div>
              <!-- <div class="color-azure borderAzure float-left col-12">View details in catalyst</div>
               -->
              <div class="col-12 float-left pad-20-pop">
                  <div class="col-6 no_pad mb20 float-left">
                <div class="col-4 no_pad float-left">
                  <div class="convo-name-title">Status</div>
                  <div class="convo-name mt5">{{expansion_data?.Status}}</div>
                  </div>
                  <div class="col-4 no_pad float-left">
                      <div class="convo-name-title">Date created</div>
                      <div class="convo-name mt5">{{expansion_data?.CreatedOn | date: 'dd-MMM-yyyy'}}</div>
                      </div>
                      <div class="col-4 no_pad float-left">
                          <div class="convo-name-title">Role type</div>
                          <div class="convo-name mt5">{{expansion_data?.RoleType}}</div>
                          </div>
                          </div>
                          <!-- <div class="col-4 no_pad float-left">
                              <div class="convo-name-title">Sub practice </div>
                              <div class="convo-name mt5">Wipro Digital</div>
                              </div>
                              <div class="col-4 no_pad float-left">
                                  <div class="convo-name-title">SL Value</div>
                                  <div class="convo-name mt5">00.00</div>
                                  </div>
                                  <div class="col-4 no_pad float-left">
                                      <div class="convo-name-title">TCV</div>
                                      <div class="convo-name mt5">20</div>
                                      </div>
                                       -->
              </div>
         
            <!-- </perfect-scrollbar> -->
              </div>
            
          </div>
           <div class="col-12 float-left comments-section" *ngIf="cmnts_cntnt">
              <span class="col-12 no_pad float-left comment-head">All Comments</span>
              
              <div class="col-12 no_pad float-left">
                  <perfect-scrollbar class="expand-comment-hgt">
                      <div class="col-12 no_pad float-left comment-main" *ngFor="let comment of comntArray">
                          <div class="col-12 no_pad float-left">
                              <span class="comment-name">{{comment.name}}</span>
                              <span class="comment-date">{{comment.date}}</span>
                          </div>
                          <span class="col-12 no_pad float-left comment-text">{{comment.text}}</span>
                      </div>
                  </perfect-scrollbar>
              </div>
            
          </div> 
          <!-- <div class="col-12 float-left" *ngIf="localPartentRef">
              <span class="col-12 no_pad float-left comment-head">Your Comments</span>
              <div class="col-12 no_pad float-left comment-main">
                  <div class="col-12 no_pad float-left">
                      <textarea rows="3" class="col-xl-6 col-12" placeholder="Write your comments"></textarea>
                  </div>
                  <div class="col-12 float-left no_pad exp-btns-div">
                      <button class="float-left btn-none f-capital exp-cancel-btn exp-cancel-cmnt-btn" (click)="showcmnts_cntnt()"> cancel </button>
                      <button class="float-left btn-none f-capital post-btn" (click)="postComment()"> post </button>
                  </div>
              </div>
          </div> -->
      </div>

  </div>