.namedefalutInactive {
    background: #9b9b9b !important;
}

.namedefalutactive {
    background: #2f81ff !important;
}

.namedefalutInactivetext{
    color: #9b9b9b !important;
}

.namedefalutactiveText {
    color: #2f81ff !important;
}
.mdi-checkbox-marked:before, .mdi-checkbox-blank-outline:before{
    font-size: 20px !important;
    cursor: pointer !important;
}
.close-icn {
    color: #2f81ff;
    font-size: 20px;
    background: #d9e9ff !important;
    border-radius: 50%;
    max-width: 40px !important;
    height: 35px;
    width: 35px;
    float: right !important;
  }