.expand-table-panel
{
  position: sticky;
  background: #fff;
  
  height: auto;
  
  .expand-comment-hgt
  {
   height: 145px;
  }
  .exp-cancel-btn {
   background: #d9e9ff;
   border-radius: 4px;
   border: none;
   color: #2f81ff;
   padding: 9px 5px;
   min-width: 110px;
  
   font-family: WiproAkkuratTT-Bold;
   &:hover {
     background: #2f81ff;
     color: #ffffff;
   }
}
.post-btn {
 background: #2f81ff;
 border-radius: 4px;
 border: none;
 color: #ffffff;
 padding: 9px 5px;
 min-width: 110px;
margin-left: 10px;
 font-family: WiproAkkuratTT-Bold;
 
}

  .expand-content
  {
   display: flex;
  }
  .lightBlueBackground
  {
      background: #eaf0ff;
      border:none;
      outline:none;
      // padding-top: 9px;
      // padding-bottom: 10px;
      padding-bottom: 4px;
  }
  .exp-btns-div
  {
    margin-top: 10px;
  }
  .button-align
  {
      padding: 20px 0px;
      text-align: center;
  }
 
 .bot-border {
   border-bottom: solid 2px #d5e5ff;
 }
 .Overview
 {
 font-size: 12px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: #4a4a4a;
 margin-bottom: 6px;
 //padding-left: 7px;
 }
 .Rejection
 {
 font-size: 12px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: #4a4a4a;
 margin-bottom: 6px;
  //padding-left: 7px;
 }
 .blueCircle
 {
   width: 43px;
   height: 43px;
   background-color: #2f81ff;
 //   background-color: var(--warm-grey-two);
   border-radius: 50px;
   // margin-left: 10px;
   span {
     color: #ffffff;
   }
 }
 .whiteCircle
 {
   width: 43px;
   height: 43px;
   background-color: #ffffff;
 //   background-color: var(--warm-grey-two);
   border-radius: 50px;
   // margin-left: 10px;
   span
   {
     color: #2f81ff;
   }
   &:hover
   {
    background-color: #2f81ff;
    span{
      color: #ffffff;
    }
    
   }
 }
 .table-icons
 {
     font-size: 20px;
 }
 .tooltip-arrow:after
 {

 }
 .comment-head
 {
   line-height: 1.38;
   letter-spacing: -0.2px;
   color: #353535;
   font-family: WiproAkkuratTT-Regular;
   font-size: 14px;
   left: 12px;
 }
 .comment-name
 {
   font-family: WiproAkkuratTT-Bold;
   font-size: 14px;
   line-height: 1.57;
   letter-spacing: -0.1px;
   color: #353535;
   width: auto;
 }
 .comment-date
 {
   font-family: WiproAkkuratTT-Regular;
   font-size: 12px;
   line-height: 1.83;
   letter-spacing: -0.1px;
   color: #353535;
   width: auto;
   padding-left: 20px;
 }
 .comment-text
 {
   font-family: WiproAkkuratTT-Regular;
   font-size: 14px;
   line-height: 1.57;
   letter-spacing: -0.1px;
   color: #353535;
   margin-top: 5px;
 }
 .desp-text
 {
   font-family: WiproAkkuratTT-Regular;
   font-size: 14px;
   line-height: 1.57;
   color: #343434;
   margin-top: 6px;
 }
 .expand-ryt-section
 {
   padding-top: 19px;
 }
 .comment-main
 {
   margin-top: 20px;
   overflow-wrap:break-word !important;
   textarea
   {
     resize: none !important;
     padding: 12px 9px;
     font-family: WiproAkkuratTT-Regular;
     font-size: 14px;
   }
   textarea::placeholder
   {
     color: #bcbcbc;
     font-family: WiproAkkuratTT-Regular;
   }
 }
 .cancel-mobile
 {
   display: none;
 }
 .desp-section, .comments-section
 {
   padding: 15px;
 }
 .tooltip-expand
 {
 .caret_right_table
 {
   position: absolute;
   top: 43px;
   right: -37px;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
  
   border-top: 18px dashed;
   border-right: 13px solid transparent;
   z-index: 99;
   color: #eaf0ff;
   border-left: 13px solid transparent;
   transform: rotate(-90deg);
   -ms-transform:  rotate(-90deg); 
   -webkit-transform:  rotate(-90deg); 
 }   
}

}
@media screen and (max-width: 823px) {
  .width100-max
  {
    max-width: 100%;
  }
  .width50-max
  {
    max-width: 50%;
  }
 
  .expand-table-panel
  {
   float:left;
    margin-top: 0;
    position: static;
    width: 100% !important;
    .expand-ryt-section
    {
      padding-bottom: 19px;
    }
    .expand-content
    {
      display: block;
    }
    .bot-border
    {
      border-bottom: 0;
    }
    .tooltip-expand
    {
      width: 100%;
      float: left;
      position: absolute;
      .caret_right_table
      {
        float: none;
        margin: 0 auto;
        position: relative;
        top: 14px;
        right: 0;
        // position: absolute;
        // top: 74px;
        // right: 66px;
        // width: 0;
        // height: 0;
        // margin-left: 2px;
        //vertical-align: middle;
        border-top: 15px dashed;
        border-right: 11px solid transparent;
        z-index: 99;
        color: #eaf0ff;
        border-left: 11px solid transparent;
        transform: none;
      }  
    }
    .cancel-mobile
    {
      padding-top: 25px;
      display: block;
    }
    .button-align
    {
      padding: 0;
    }
    .desp-section, .comments-section
    {
      padding: 10px;
      padding-bottom: 0;
    }
  }
   
  
    
}


// Pradeep changes

.mail-box-text{
  height: 40px;
  border-radius: 4px;
  color: #2f81ff;
  background-color: #d9e9ff;
  // padding: 10px 5px 0px 10px;
  width: auto;
  .mdi-close:before {
    font-size: 20px;
    cursor: pointer;
    color: #2f81ff;
    bottom: 5px;
    position: relative;
}
}

.initial-text{
  height: 40px;
  width: 40px;
  color: white;
  background: #2f81ff;
  border-radius: 2px;
  padding: 10px;
}

.name-label{
  padding: 9px 5px 0px 5px;
  }

  .bordr-btm{
  border: 1px solid #d5e5ff;
  margin: 20px 0 5px 0;
  }	
  .expand-content{
    bottom: 0px !important;
  }