$Azure: #2f81ff;
$White: #ffffff;
$River: #d9e9ff;
$MetalLight: #9b9b9b;
$MidNight: #103f86;
$Metal: #4a4a4a;
$Black: #000000;
$Orange: #f58323;
$RubyRed: #ef3341;
$Green: #6dc24b;
$Wash: #9f9f9f;
$MidGrey: #343434;
$Assistant-blue: #e5f0ff;
$NavyBlue: #0e3570;
$Marble: #d8d8d8;
$BlackHead: #2e2e2e;
$Label: #6f6f6f;
$LabelGrey: #4a4a4a;
$BlueSoftBG: #eaf2ff;
$ashGry: #708cb6;
.h-228 {
    height: 300px;
  }
.pt100 {
    padding-top: 135px;
  }
  .heading-level-two {
    font-family: WiproAkkuratTT-Bold;
    font-size: 16px;
    color: $Black;
    letter-spacing: -0.4px;
  }
  .heading-level-three {
    font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: $Black;
    letter-spacing: -0.4px;
  }
  .brudcrumbs {
    position: relative;
    left: 7px;
    top: 0px;
    opacity: 0.8;
    font-size: 12px;
    color: #e7ebf2;
  }
  .heading-custom {
    position: relative;
    left: 6px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  
  .mdi-keyboard-backspace:before {
    font-size: 22px;
    color: #ffff;
    position: relative;
  }
  .mt100{
    margin-top: 100px;
  }
  .pad-top142{
    padding-top: 142px;
  }

  .pad-top2{
    bottom: 2px;
    position: relative;
  }

  .card{
    border-radius: 5px ;
    border: 0px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1) ;
    margin: 20px 0;
    display: table;
}
.bordr-bottm{
  border-bottom: 1.3px solid #d8d8d8;
  padding: 15px 0;
}
.pad-btm5{
  padding: 0 0 5px 0;
}
.pad-top10{
  padding: 10px 0 0px 0;
}
.text_subhead{
  font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: #000000;
}
.text_subhead2{
  font-family: WiproAkkuratTT-Bold;
    font-size: 14px;
    color: #000000;
    padding: 5px 0;
}
.pad-topbtm5{
  padding: 5px 0;
}
.pad-leftrigt{
  padding: 0px 15px;
}
.mail-format{
  color: #2f81ff;
  font-family: WiproAkkuratTT-Bold;
}

// CSS starts popup for sprint-4 
.ipmoreoption {
  th{
    background: #d9e9ff;
    color: #103f86;
    font-family: WiproAkkuratTT-Bold;
    font-size: 12px;
} 
   .border-bottm{
      margin-top: 70px;
     border-top: 1px solid;
     color: #9b9b9b73;
    }
    .text-label{
      color: $Black;
      font-family: WiproAkkuratTT-Regular;
    }
  .bg-gray-p {
    background-color: $Marble !important;
    color: $White !important;
  }
}
// CSS ends here for sprint-4 

// Pradeep 09-05-2019


.primary-button.std {
    padding: 9px 5px;
    min-width: 110px;
}
.primary-button:hover
{
  background:#2f81ff;
  color:#ffffff;
}
.h-40 {
    height:40px;
}
.mr10 {
    margin-right: 10px ;
}
.borderless {
    border:none !important;
}
.mdi-check:before {
    padding-right: 6px;
    font-weight: bold;
}
.mdi-timer:before {
    padding-right: 6px;
    font-weight: bold;
}
.mdi-account-convert:before {
    padding-right: 10px;
    padding-right: 6px;
    font-weight: bold;
}
.sub-text{
    font-size: 13px;
    bottom: 6px;
    font-family: WiproAkkuratTT-Bold;
}
.label-text{
    font-size: 12px;
    font-family: WiproAkkuratTT-Regular;
    color: #000000b5;
}

.pad-15-12{
    padding: 12px 15px 4px 15px;
}
 //more options css
 ul
 {
   position: absolute;
   z-index: 1;
   right: 1px;
   width: 180px;
   background-color: #ffffff;
   padding: 0px 12px;
   margin: 0px;
   border-top: none !important;
   top: 39px;
   list-style-type: none;
    
   /* border-radius: 5px 0px 5px 5px; */
}
 .current_position{
   ul{
     li{
       font-weight: bold;
     }
   }
 }
 ul li:hover{
   background-color: #d9e9ff;
   font-family: WiproAkkuratTT-Bold;
   
color: #2f81ff !important;
border-bottom: 0.3px solid #2f81fffc;
 }

 ul .border_property {
   border-bottom: 1px solid #ffffff2e;
}

ul .list_names {
 cursor: pointer;
 font-family: WiproAkkuratTT-Regular;
 font-size: 14px;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: 0.1px;
 color: #4a4a4a;
 padding: 10px 10px;
}
.posR {
 position: relative;
}
.w140 {
 width: 182px;
}
.ml10 {
 margin-left: 10px;
}
.mt2{
 margin-top: 2px;
}
.mr10{
 margin-right: 10px;
}
.form-group {
 margin-bottom: 15px;
}
.caret {
 top: 16px !important;
}
.caret.up {
 -webkit-transform: rotate(180deg);
 transform: rotate(180deg);
}
.caret {
 display: inline-block;
 float: right;
 position: relative;
 top: 17px;
 right: 10px;
 width: 0;
 height: 0;
 margin-left: 2px;
 vertical-align: middle;
 border-top: 5px dashed;
 border-right: 5px solid #52494900;
 border-left: 5px solid transparent;
 z-index: 8;
 color: #2f81ff;
 pointer-events: none;
}
.mdi-dots-horizontal {
 font-size: 18px;
 position: relative;
 top: -2px;
 right: 1px;
 position: absolute;
 top: 8px;
 z-index: 8;
 left: -132px;
}
.btnSelect {
 text-align: left;
 color: #2f81ff;
 font-family: 'WiproAkkuratTT-Bold';
 min-height: 40px;
 position: relative;
 padding-left: 25px;
 padding-top: 9px;
 outline: none;
 border: none !important;
}
.form-control {
 display: block;
 width: 100%;
 height: 34px;
 padding: 6px 12px;
 font-size: 14px;
 line-height: 1.42857143;
 color: #2f81ff;
 background-color: #fff;
 background-image: none;
 border: 1px solid #ccc;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
 transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 border-radius: 4px;
}
[role="button"] {
 cursor: pointer;
 padding-left: 10px;
 padding-top: 10px;
}
.cp
{
 cursor: pointer;
}
.blue_border
{
 width: 100%;
 padding: 0px;
 border: 2px solid transparent;
 border-radius: 4px;
 border: 1px solid #2f81fffc !important;

}
.blue_border
{
&:focus
{
   width: 100%;
 padding: 0px;
 border: 2px solid #2f81ff !important;
 border-radius: 4px;
}
}
.content {
    right: 0px;
    border-radius: 4px 0px 4px 4px;
    top: 37px;
    left: -45px;
  }

  .opportunity-content {
    width: 100%;
    right: 0px;
    top: 38px;
    padding: 0px;
  
    li {
      font-family: WiproAkkuratTT-Bold;
      font-size: 14px;
      color: #2f81ff;
      padding: 5px 10px;
      cursor: pointer;
      border-bottom: solid 1px #d9e9ff;
      &:hover {
        background-color: #d9e9ff;
      }
    }
    li:last-child{
      border: none;
    }
  
    .mdi:before {
      padding-right: 5px;
      font-size: 18px;
    }

  }
  .primary-button:hover {
    background-color: #2f81ff !important;
    color: #fff !important;
}
.heading p{
    color: #e7ebf2;
    opacity: .8;
    font-family: WiproAkkuratTT-Regular;
    cursor: default;
    margin-bottom: 0;
   }
   li{
   color: #2f81ff !important;
   border-bottom: 0.3px solid #2f81fffc;
   
   
   }
   ul:hover{    
    border-radius: 5px 0px 5px 5px;
   
   
   }
   .ul{
    border-radius: 5px 0 5px 5px;
   }
   .borderRadius {
    border-radius: 4px 4px 0 0;
   }

.more-click-content {
    li {
      font-family: WiproAkkuratTT-Bold;
      font-size: 14px;
      color: #2f81ff;
      &:hover {
        background-color: #d9e9ff;
        border-radius: 4px;
      }
    }
  
    .mdi:before {
      padding-right: 5px;
      font-size: 18px;
    }
  }
  .Caretblock {
    top: 10px !important;
    left: 31px;
  }
// Usha changes
.brdr-right0 {
  border-right: 0px!important;
border-radius: 0px !important;
}
.min-width-161 {
  min-width: 168px !important;
}
// more option css ends